[data-role="mvnoLandingPageWrapper"]{
	width : 100%;
	height:100%;
	background-color:white;
	display: table;
	position: relative;
}

[data-role="mvnoLandingPageThumbnailsWrapper"]{
	text-align:center;
    margin-left: auto ;
    margin-right: auto ;
	display: block;
	max-width: 640px;
}
[data-role="mvnoLandingPagethumbnails"]{
	position: relative;
	float: left;
	margin: 10px;
	padding: 15px;
	max-width: 210px;
	min-width: 75px;
	height : 250px;
	
}
@media only screen and (min-width : 534px) {
	.mvnoLandingPageDeviceSim{
	 	border-right: thin solid black;
	}
}
@media only screen and (min-width : 777px) {
	.mvnoLandingPageDeviceSim, .mvnoLandingPageDevice{
	 	border-right: thin solid black;
	}
}

.mvnoLandingPageHead .mvnoLandingPageImage{
	position: relative;
	width: 100%;
	float: left;
}

.mvnolandingPageButton{
	clear: both;
	float: right;
	font-weight: bold;
	width: 85px;
	height: 25px;
	padding:3px;
	background-color: #FF9900;
	color: white;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
}
.mvnoLandPageImg{
	display : block;
	float: left;
	position: absolute;
	bottom: 35px;
	}
.mvnoLandingPageButtonWrapper{
	position : absolute;
	width: 100%;
	right  : 4px;
	bottom:0;
}