[data-role="mvnoSimShopWrapper"]{
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: white;
	display: block;
	margin-top:15px;
	margin-left:5px;
}

[data-role="mvnoSimCatalogOptionHead"]{
	font-weight: bold;
	font-size: large;
}
.mvnoSimShopRowLines{
	border-bottom: thin black solid;
	border-top: thin black solid;
	padding:3px;
	margin-bottom: 15px;
	font-weight: 300;
}

[data-role="mvnoSimShopTableRow"]{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 6px;
}

[data-role="mvnoSimCatalogOptionTag"]{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	background-color:white;
}

.mvnoSimShopDesc{
	float: left;
}

.mvnoSimShopMonthOption{
	float: right;
	vertical-align: middle;
}
.mvnoSimShopDescImg{
	padding: 2px 4px 0 0;
}

/* styling for Hybrid Package Table  */
[data-role="mvnoSimCatalogPackageTable"]{
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
[data-role="mvnoSimCatalogPackageTableRow"]{
	display: table-row;
	width: 100%;
}
[data-role="mvnoSimCatalogPackageTableCell"]{
	display: table-cell;
	padding: 4px;
	vertical-align: middle;
}
/* add style for button*/
[data-role="mvnoSimCatalogPackageButtonLabel"]{
	float: left;
	background-color: #FF9900;
	color: white;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	heigth: 25px;
	padding:2px;
	width:95%;
	text-align : center;
}
.mvmvnoSimCatalogPackageTableColPrice{
	font-weight: bold;
}
.mvnoSimCatalogPackageTableCellColGet{
	display: block;
	position: relative;
	font-size: small;
	width: 100%;
	float: left;

}
.mvnoSimCatalogPackageTableCellColRate{
	display: block;
	position: relative;
	font-size: x-small;
	float: left;
}

[data-role="mvnoSimCatalogBundleRatesTable"]{
	font-size: small;
	display: table;
	width: 48%;
	float: left;
	margin-bottom: 15px;
	margin-right: 3px;
	background-color: #e3e3e3;
}

.mvnoSimShopPackageTableRowColorGray{
	background-color:#e3e3e3;
}
[data-role="mvnoSimCatalogBundleRatesTableRow"]{
	display: table-row;
	width: 100%;
}
[data-role="mvnoSimCatalogBundleRatesTableCell"]{
	display: table-cell;
	padding: 4px;
	vertical-align: middle;
}
.mvnoSimCatalogBundleRatesSubHeading{
  font-weight: bold;
}
[data-role="mvnoSimCatalogRewardsTable"]{
	font-size: small;
	display: table;
	width: 48%;
	float: left;
	margin-bottom: 15px;
	margin-right: 3px;
	background-color: #e3e3e3;
}
[data-role="mvnoSimCatalogRewardsTableRow"]{
	display: table-row;
	width: 100%;
}
[data-role="mvnoSimCatalogRewardsTableCell"]{
	display: table-cell;
	padding: 4px;
	vertical-align: middle;
}
.mvnoSimCatalogRewardsHeading{
  font-weight: bold;
}



