   .mvnoCreateYourOwnTableWrapper{
	   width:90%;
	   display:table;
	   margin-left: auto;
	   margin-right: auto;
	}
	
   .youPayCell{
	   width:10%;
	   padding-top: 14px;
	}
	
   .mvnoCreateYourOwnTableRowWrapper{
	   display: table-row;
	   width:100%;
	   /* float:left; */
   }
   
   .totalPrice{
	   margin-top:25px;
	   width: 90%;
	   display: table-cell;
	   /* float:left; */
	   text-align:right;
	  	vertical-align: bottom;
		padding:2px;
	 
   }
   .totalPriceValue{
	   margin-top:25px;
	   font-size: 26px;
	   font-weight:bold;
	   width: 120px;
	   text-align: left;
	   float:left;
	   /* height: 39px; */
	   vertical-align: bottom;
	   padding:2px;
	   
	   
   }
   .mvnoCreateYourOwnTableCell{
	   display:table-cell;
	   /* width: 80px; */
   }
   .sliderCell{
	   width: 85%;
   
	   display:  table-cell;
	   text-align: right;
	   /* border: thin solid blue; */
}
   
   #snapPoints{
      display: table;
      position: relative;
      width: 100%;
      height: 20px;
      font-size: 14px;
	}

	.pointLabel{
		display:block;
		position: relative;
		left:25px;
		color: #B3B3B3;
	}

	.firstPoint{
		width: 6px!important;		
}

	.firstPointLabel{
		left:0!important;
		position:  absolute;
		/* border: thin solid green; */
		top: 3px;
}

	.point{
		  position: relative;
		  display: table-cell;
		  text-align: right;
		  padding: 0 6px 0 0;
		  margin: 0px;
		  cursor: pointer;
		  vertical-align: middle;
		  color: #b3b3b3;
	}
	
	.pointDisabled{
		  position: relative;
		  display: table-cell;
		  text-align: right;
		  padding: 0 6px 0 0;
		  margin: 0px;
		  cursor: pointer;
		  vertical-align: middle;
		  color: #b3b3b3;
	}
	
	[data-role="rangeSliderContainervoiceSlider"]{
		width:90%;
		margin-left:auto;
		margin-right:auto;
	}
    [data-role="rangeSliderContainer"]{
      width: 95%;
      display: table;

	}
   
    [data-role="sliderContainer"]{
      height: 6px;
      background-color: #B3B3B3;
      display: table;
      position: relative;
      width: 100%;
    }
	.mvnRatesCell{
		display:block;
		width:100%;
		font-size:14px;
		text-align:left;
		margin-left:25px;
	}
	
	.rateLabel{
		display:block;
		width:100%;
		float:left;
		font-size:12px;	
		padding: 4px 0 4px 0;
	}
	
	.rateValue{
		display:block;
    	width : 100%;
    	float : left;
		margin-bottom:25px;
	}
    .youPayLabel{
		display:block;
    	width : 100%;
    	float : left;
		padding: 4px 0 4px 0;
	}
	
	.youPay{
		display:block;
    	width : 100%;
    	float : left;
		font-weight:bold;
		padding: 4px 0 12px 0;
		border-bottom: thin solid #f2f2f2;

	}
	
	.packageTotalHeading{
		display:block;
    	width : 100%;
    	text-align:right;
		font-size: 26px;
		font-weight: 300;
		/* padding: 0px 0 34px 0; */
		color:#888888;
	
		/* border: thin solid blue; */
		margin-top: 25px;
		padding-right: 5%;
}
	.packageValue{
		width : 100%;
		font-weight:750;
		font-size:16px;
	}
   .sliderLabel{
    	font-size:22px;
    	font-weight: bold;
    	display:block;
    	width : 100%;
    	/* float : left; */
    	text-align: left;
    	margin-bottom: 5px;
	}
	.sliderImgVOICE{
		display:block;
		width:25px;
		height:25px;
		background: url("../../../images/mvnoCatalog/icon-voice.png") no-repeat center center;
	} 
	
	.sliderImgDATA{
		display:block;
		width:25px;
		height:25px;
		background: url("../../../images/mvnoCatalog/icon-data.png") no-repeat center center;
	} 
	
	.sliderImgSMS{
		display:block;
		width:25px;
		height:25px;
		background: url("../../../images/mvnoCatalog/sms-icon.png") no-repeat center center;
	}
	
    .sliderRow{
    	display:block;
    	width : 100%;
    	float : left;
    }

	.sliderImgWrapper{
		display:block;
    	float : left;
    	height: 35px;
	}
    
    [data-role="sliderProgress"]{
		width: 0%;
		height: 6px;
		background-color: #e3e3e3;
	    display: block;
	    position: absolute;
    }
	[data-role="btnLabelZero"]{
	  width: 135px;
      height: 40px;
	  display: block;
      position: absolute;
      background-color: #4d4d4d;
      line-height: 38px;
      font-size: 16px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
	}
    [data-role="btnLabel"]{
      width: 135px;
      height: 40px;
	  display: block;
      position: absolute;
      background-color: #4d4d4d;
      line-height: 38px;
      font-size: 16px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
	}
	
	.btnLeft{
	   bottom: 6px;
       right: -3px;
	}
	
	.btnRight{
	   bottom: 6px;
       right: -132px;
	}
	
    [data-role="sliderBtn"]{
      width: 6px;
      height: 6px;
	  display: block;
      position: absolute;
      /* top : -2px; */
      right: -3px;
      background-color: #4D4D4D;
    }
	
    [data-role="sliderBtn"]:hover{
      background-color: #4D4D4D;
       cursor: pointer;
    }
	
    #displayDebugInfo{
      margin: 15px;
      display: block;
      width: 95%;
      height: 650px;
      background-color: #3e3e3e;
      color: white;
    }
    .mouseDownSlider{
      width: 20px;
      height: 15px;
      background-color: black;
      border: thin gray solid;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      -khtml-border-radius: 20px;
      border-radius: 20px; 
    }
    
    .hideSelect{
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: moz-none;
     -ms-user-select: none;
      user-select: none;
      cursor : pointer;
    }


/* snap point preconfigrue css     */
/* for one snap point*/
    
    .snapPoints1{
    	width: 100%;
    }
/*  snap point progressbar width for each snapPoints1  */
    .sp_0_snapPoints1{
    	width: 0%;
    }
    .sp_1_snapPoints1{
    	width: 100%;
    }

/* for two snap point*/
    .snapPoints2{
    	width: 50%;
    }
/*  snap point progressbar width for each snapPoints2  */
    .sp_0_snapPoints2{
		width:0%;	
    }
    .sp_1_snapPoints2{
		width: 50%;
    }
    .sp_2_snapPoints2{
		width: 100%;
    }

/* for three snap points*/
    .snapPoints3{
    	width: 33.33%;
    }
/*  snap point progressbar width for each snapPoints3  */
	.sp_0_snapPoints3{
		width: 0%;
	}
	.sp_1_snapPoints3{
		width: 33.33%;
	}
	.sp_2_snapPoints3{
		width:66.66%;
	}
	.sp_3_snapPoints3{
		width: 100%;
	}

/* for four snap points*/
    .snapPoints4{
    	width:25%;
    }
/*  snap point progressbar width for each snapPoints4 */
	.sp_0_snapPoints4{
		width: 0%;
	}
	.sp_1_snapPoints4{
		width: 25%;
	}
	.sp_2_snapPoints4{
		width:50%;
	}
	.sp_3_snapPoints4{
		width:75%;
	}
	.sp_4_snapPoints4{
		width:100%;
	}

/* for Five snap points*/
    .snapPoints5{
    	width: 20%;
    }

/*  snap point progressbar width for each snapPoints5  */
	.sp_0_snapPoints5{
		width: 0%;
	}
	.sp_1_snapPoints5{
		width: 20%;
	}
	.sp_2_snapPoints5{
		width:40%;
	}
	.sp_3_snapPoints5{
		width:60%;
	}
	.sp_4_snapPoints5{
		width:80%;
	}
	.sp_5_snapPoints5{
		width:100%;
	}

/* for Six snap points*/
    .snapPoints6{
    	width: 16.67%;
    }

/*  snap point progressbar width for each snapPoints6  */
	.sp_0_snapPoints6{
		width: 0%;
	}
	.sp_1_snapPoints6{
		width: 16.67%;
	}
	.sp_2_snapPoints6{
		width: 33.33%;
	}
	.sp_3_snapPoints6{
		width: 50.00%;
	}
	.sp_4_snapPoints6{
		width: 66.67%;
	}
	.sp_5_snapPoints6{
		width: 83.33%;
	}
	.sp_6_snapPoints6{
		width: 100%;
	}

/* for Seven snap points*/
    .snapPoints7{
    	width: 14.28%;
    }

/*  snap point progressbar width for each snapPoints7  */
	.sp_0_snapPoints7{
		width: 0%; 
	}
	.sp_1_snapPoints7{
		width: 14.28%;
	}
	.sp_2_snapPoints7{
		width: 28.57%;
	}
	.sp_3_snapPoints7{
		width: 42.86%;
	}
	.sp_4_snapPoints7{
		width: 57.14%;
	}
	.sp_5_snapPoints7{
		width: 71.43%;
	}
	.sp_6_snapPoints7{
		width: 85.71%;
	}
	.sp_7_snapPoints7{
		width: 99%;
	}

/* for eight snap points*/
    .snapPoints8{
    	width: 12.5%;
    }

/*  snap point progressbar width for each snapPoints8  */
	.sp_0_snapPoints8{
		width: 0%;
	}
	.sp_1_snapPoints8{
		width: 12.5%;
	}
	.sp_2_snapPoints8{
		width: 25%;
	}
	.sp_3_snapPoints8{
		width: 37.5%;
	}
	.sp_4_snapPoints8{
		width: 50%;
	}
	.sp_5_snapPoints8{
		width: 62.5%;
	}
	.sp_6_snapPoints8{
		width: 75%;
	}
	.sp_7_snapPoints8{
		width: 87.5%;
	}
	.sp_8_snapPoints8{
		width: 100%;
	}

/* for nine snap points*/
    .snapPoints9{
    	width: 11.11%;
    }

/*  snap point progressbar width for each snapPoints9  */
	.sp_0_snapPoints9{
		width: 0%;
	}
	.sp_1_snapPoints9{
		width: 11.11%;
	}
	.sp_2_snapPoints9{
		width: 22.22%;
	}
	.sp_3_snapPoints9{
		width: 33.33%;
	}
	.sp_4_snapPoints9{
		width: 44.44%;
	}
	.sp_5_snapPoints9{
		width: 55.55%;
	}
	.sp_6_snapPoints9{
		width: 66.66%;
	}
	.sp_7_snapPoints9{
		width: 77.77%;
	}
	.sp_8_snapPoints9{
		width: 88.88%;
	}	
   .sp_9_snapPoints9{
		width: 100%;
	}

/* for ten snap points*/
    .snapPoints10{
    	width: 10%;
    }

/*  snap point progress-bar width for each snapPoints10  */
	.sp_0_snapPoints10{
		width: 0%;
	}
	.sp_1_snapPoints10{
		width: 10%;
	}
	.sp_2_snapPoints10{
		width: 20%;
	}
	.sp_3_snapPoints10{
		width: 30%;
	}
	.sp_4_snapPoints10{
		width: 40%;
	}
	.sp_5_snapPoints10{
		width: 50%;
	}
	.sp_6_snapPoints10{
		width: 60%;
	}
	.sp_7_snapPoints10{
		width: 70%;
	}
	.sp_8_snapPoints10{
		width: 80%;
	}	
  .sp_9_snapPoints10{
		width: 90%;
	}
  .sp_10_snapPoints10{
		width: 100%;
	}

/* for eleven  snap points*/
    .snapPoints11{
    	width: 9.09%;
    }

/*  snap point progress-bar width for each snapPoints11  */
	.sp_0_snapPoints11{
		width: 0%;
	}
	.sp_1_snapPoints11{
		width: 9.09%;
	}
	.sp_2_snapPoints11{
		width: 18.18%;
	}
	.sp_3_snapPoints11{
		width: 27.27%;
	}
	.sp_4_snapPoints11{
		width: 36.36%;
	}
	.sp_5_snapPoints11{
		width: 45.45%;
	}
	.sp_6_snapPoints11{
		width: 54.54%;
	}
	.sp_7_snapPoints11{
		width: 63.63%;
	}
	.sp_8_snapPoints11{
		width: 72.72%;
	}	
    .sp_9_snapPoints11{
		width: 81.81%;
	}
    .sp_10_snapPoints11{
		width: 90.09%;
	}
	.sp_11_snapPoints11{
		width: 100%;
	}

/* for eleven  snap points*/
    .snapPoints12{
    	width: 8.33%;
    }

/*  snap point progress-bar width for each snapPoints11  */
	.sp_0_snapPoints12{
		width: 0%;
	}
	.sp_1_snapPoints12{
		width: 16.66%;
	}
	.sp_2_snapPoints12{
		width: 33.32%;
	}
	.sp_3_snapPoints12{
		width: 27.27%;
	}
	.sp_4_snapPoints12{
		width: 36.36%;
	}
	.sp_5_snapPoints12{
		width: 41.65%;
	}
	.sp_6_snapPoints12{
		width: 49.95%;
	}
	.sp_7_snapPoints12{
		width: 58.31%;
	}
	.sp_8_snapPoints12{
		width: 66.64%;
	}	
    .sp_9_snapPoints12{
		width: 74.97%;
	}
    .sp_10_snapPoints12{
		width: 83.3%;
	}
	.sp_11_snapPoints12{
		width: 91.63%;
	}
    .sp_12_snapPoints12{
		width: 100%;
	}


/* for twelve  snap points*/
    .snapPoints12{
    	width: 8.33%;
    }

/*  snap point progress-bar width for each snapPoints12  */
	.sp_0_snapPoints12{
		width: 0%;
	}
	.sp_1_snapPoints12{
		width: 16.66%;
	}
	.sp_2_snapPoints12{
		width: 33.32%;
	}
	.sp_3_snapPoints12{
		width: 27.27%;
	}
	.sp_4_snapPoints12{
		width: 36.36%;
	}
	.sp_5_snapPoints12{
		width: 41.65%;
	}
	.sp_6_snapPoints12{
		width: 49.95%;
	}
	.sp_7_snapPoints12{
		width: 58.31%;
	}
	.sp_8_snapPoints12{
		width: 66.64%;
	}	
    .sp_9_snapPoints12{
		width: 74.97%;
	}
    .sp_10_snapPoints12{
		width: 83.3%;
	}
	.sp_11_snapPoints12{
		width: 91.63%;
	}
    .sp_12_snapPoints12{
		width: 100%;
	}

/* for thirteen snap points*/
    .snapPoints13{
    	width: 7.7%;
    }

/*  snap point progress-bar width for each snapPoints13  */
	.sp_0_snapPoints13{
		width: 0%;
	}
	.sp_1_snapPoints13{
		width: 15.4%;
	}
	.sp_2_snapPoints13{
		width: 23.1%;
	}
	.sp_3_snapPoints13{
		width: 30.8%;
	}
	.sp_4_snapPoints13{
		width: 38.5%;
	}
	.sp_5_snapPoints13{
		width: 46.2%;
	}
	.sp_6_snapPoints13{
		width: 53.9%;
	}
	.sp_7_snapPoints13{
		width: 58.31%;
	}
	.sp_8_snapPoints13{
		width: 61.6%;
	}	
    .sp_9_snapPoints13{
		width: 69.3%;
	}
    .sp_10_snapPoints13{
		width: 77%;
	}
	.sp_11_snapPoints13{
		width: 84.7%;
	}
    .sp_12_snapPoints13{
		width: 92.4%;
	}
	.sp_13_snapPoints13{
		width: 100%;
	}

/* for fourteen  snap points*/
    .snapPoints14{
    	width: 7.14%;
    }

/*  snap point progress-bar width for each snapPoints14  */
	.sp_0_snapPoints14{
		width: 0%;
	}
	.sp_1_snapPoints14{
		width: 7.14%;
	}
	.sp_2_snapPoints14{
		width: 14.28%;
	}
	.sp_3_snapPoints14{
		width: 21.42%;
	}
	.sp_4_snapPoints14{
		width: 28.56%;
	}
	.sp_5_snapPoints14{
		width: 35.7%;
	}
	.sp_6_snapPoints14{
		width: 42.84%;
	}
	.sp_7_snapPoints14{
		width: 49.98%;
	}
	.sp_8_snapPoints14{
		width: 57.12%;
	}	
    .sp_9_snapPoints14{
		width: 64.26%;
	}
    .sp_10_snapPoints14{
		width: 71.4%;
	}
	.sp_11_snapPoints14{
		width: 78.54%;
	}
    .sp_12_snapPoints14{
		width: 85.68%;
	}
	.sp_13_snapPoints14{
		width: 92.82%;
	}
	.sp_14_snapPoints14{
		width: 100%;
	}


/* for fifteen snap points */
    .snapPoints15{
    	width: 6.67%;
    }

/* snap point progress-bar width for each snapPoints15  */
	.sp_0_snapPoints15{
		width: 0%;
	}
	.sp_1_snapPoints15{
		width:6.67%;
	}
	.sp_2_snapPoints15{
		width: 13.33%;
	}
	.sp_3_snapPoints15{
		width: 20%;
	}
	.sp_4_snapPoints15{
		width: 26.67%;
	}
	.sp_5_snapPoints15{
		width: 33.33%;
	}
	.sp_6_snapPoints15{
		width: 40%;
	}
	.sp_7_snapPoints15{
		width: 46.67%;
	}
	.sp_8_snapPoints15{
		width: 53.33%;
	}	
    .sp_9_snapPoints15{
		width: 60%;
	}
    .sp_10_snapPoints15{
		width: 66.66%;
	}
	.sp_11_snapPoints15{
		width: 73.33%;
	}
    .sp_12_snapPoints15{
		width: 80%;
	}
	.sp_13_snapPoints15{
		width: 86.66%;
	}
	.sp_14_snapPoints15{
		width: 93.33%;
	}
	.sp_15_snapPoints15{
		width: 100%;
	}


/* for sixteen  snap points */
    .snapPoints16{
    	width: 6.25%;
    }

/* snap point progress-bar width for each snapPoints16  */
	.sp_0_snapPoints16{
		width: 0%;
	}
	.sp_1_snapPoints16{
		width:6.25%;
	}
	.sp_2_snapPoints16{
		width: 12.50%;
	}
	.sp_3_snapPoints16{
		width: 18.75%;
	}
	.sp_4_snapPoints16{
		width: 25%;
	}
	.sp_5_snapPoints16{
		width: 31.25%;
	}
	.sp_6_snapPoints16{
		width: 37.50%;
	}
	.sp_7_snapPoints16{
		width: 43.75%;
	}
	.sp_8_snapPoints16{
		width: 50%;
	}	
    .sp_9_snapPoints16{
		width: 56.25%;
	}
    .sp_10_snapPoints16{
		width: 62.50%;
	}
	.sp_11_snapPoints16{
		width: 68.75%;
	}
    .sp_12_snapPoints16{
		width: 75%;
	}
	.sp_13_snapPoints16{
		width: 81.25%;
	}
	.sp_14_snapPoints16{
		width: 87.50%;
	}
	.sp_15_snapPoints16{
		width: 93.75%;
	}
	.sp_16_snapPoints16{
		width: 100%;
	}

/* for seventeen   snap points */
    .snapPoints17{
    	width: 5.88%;
    }

/* snap point progress-bar width for each snapPoints17  */
	.sp_0_snapPoints17{
		width: 0%;
	}
	.sp_1_snapPoints17{
		width:5.88%;
	}
	.sp_2_snapPoints17{
		width: 11.76%;
	}
	.sp_3_snapPoints17{
		width: 17.64%;
	}
	.sp_4_snapPoints17{
		width: 23.52%;
	}
	.sp_5_snapPoints17{
		width: 29.4%;
	}
	.sp_6_snapPoints17{
		width: 35.28%;
	}
	.sp_7_snapPoints17{
		width: 41.16%;
	}
	.sp_8_snapPoints17{
		width: 47.04%;
	}	
    .sp_9_snapPoints17{
		width: 52.94%;
	}
    .sp_10_snapPoints17{
		width:  58.8%;
	}
	.sp_11_snapPoints17{
		width:  64.68%;
	}
    .sp_12_snapPoints17{
		width: 70.56%;
	}
	.sp_13_snapPoints17{
		width: 76.44%;
	}
	.sp_14_snapPoints17{
		width: 82.32%;
	}
	.sp_15_snapPoints17{
		width: 88.2%;
	}
	.sp_16_snapPoints17{
		width: 94.08%;
	}
	.sp_17_snapPoints17{
		width: 100%;
	}

/* for eighteen snap points */
    .snapPoints18{
    	width: 5.56%;
    }

/* snap point progress-bar width for each snapPoints18  */
	.sp_0_snapPoints18{
		width: 0%;
	}
	.sp_1_snapPoints18{
		width:5.88%;
	}
	.sp_2_snapPoints18{
		width: 11.11%;
	}
	.sp_3_snapPoints18{
		width: 16.66%;
	}
	.sp_4_snapPoints18{
		width: 22.22%;
	}
	.sp_5_snapPoints18{
		width: 27.77%;
	}
	.sp_6_snapPoints18{
		width: 33.33%;
	}
	.sp_7_snapPoints18{
		width: 38.88%;
	}
	.sp_8_snapPoints18{
		width: 44.44%;
	}	
    .sp_9_snapPoints18{
		width: 50%;
	}
    .sp_10_snapPoints18{
		width: 55.56%
	}
	.sp_11_snapPoints18{
		width:  61.11%;
	}
    .sp_12_snapPoints18{
		width:  66.67%;
	}
	.sp_13_snapPoints18{
		width: 72.22%;
	}
	.sp_14_snapPoints18{
		width: 77.78%;
	}
	.sp_15_snapPoints18{
		width: 83.33%;
	}
	.sp_16_snapPoints18{
		width: 88.88%;
	}
	.sp_17_snapPoints18{
		width: 94.44%;
	}
	.sp_18_snapPoints18{
		width: 100%;
	}


/* for nineteen snap points */
    .snapPoints19{
    	width: 5.26%;
    }

/* snap point progress-bar width for each snapPoints18  */
	.sp_0_snapPoints19{
		width: 0%;
	}
	.sp_1_snapPoints19{
		width:5.26%;
	}
	.sp_2_snapPoints19{
		width: 10.52%;
	}
	.sp_3_snapPoints19{
		width: 15.79%;
	}
	.sp_4_snapPoints19{
		width: 21.05%;
	}
	.sp_5_snapPoints19{
		width: 26.31%;
	}
	.sp_6_snapPoints19{
		width: 31.58%;
	}
	.sp_7_snapPoints19{
		width: 36.84%;
	}
	.sp_8_snapPoints19{
		width: 42.10%;
	}	
    .sp_9_snapPoints19{
		width: 47.36%;
	}
    .sp_10_snapPoints19{
		width: 52.63%
	}
	.sp_11_snapPoints19{
		width: 57.89%;
	}
    .sp_12_snapPoints19{
		width: 63.17%;
	}
	.sp_13_snapPoints19{
		width: 68.42%;
	}
	.sp_14_snapPoints19{
		width: 73.68%;
	}
	.sp_15_snapPoints19{
		width: 78.95%;
	}
	.sp_16_snapPoints19{
		width: 84.21%;
	}
	.sp_17_snapPoints19{
		width: 89.47%;
	}
	.sp_18_snapPoints19{
		width: 94.73%;
	}
	.sp_19_snapPoints19{
		width: 100%;
	}

/* for twenty snap points */
    .snapPoints20{
    	width: 5%;
    }

/* snap point progress-bar width for each snapPoints20  */
	.sp_0_snapPoints20{
		width: 0%;
	}
	.sp_1_snapPoints20{
		width:5%;
	}
	.sp_2_snapPoints20{
		width: 10%;
	}
	.sp_3_snapPoints20{
		width: 15%;
	}
	.sp_4_snapPoints20{
		width: 20%;
	}
	.sp_5_snapPoints20{
		width: 25%;
	}
	.sp_6_snapPoints20{
		width: 30%;
	}
	.sp_7_snapPoints20{
		width: 35%;
	}
	.sp_8_snapPoints20{
		width: 40%;
	}	
    .sp_9_snapPoints20{
		width: 45%;
	}
    .sp_10_snapPoints20{
		width: 50%
	}
	.sp_11_snapPoints20{
		width: 55%;
	}
    .sp_12_snapPoints19{
		width: 60%;
	}
	.sp_13_snapPoints20{
		width: 65%;
	}
	.sp_14_snapPoints20{
		width: 70%;
	}
	.sp_15_snapPoints20{
		width: 75%;
	}
	.sp_16_snapPoints20{
		width: 80%;
	}
	.sp_17_snapPoints20{
		width: 85%;
	}
	.sp_18_snapPoints20{
		width: 90%;
	}
	.sp_19_snapPoints20{
		width: 95%;
	}
	.sp_20_snapPoints20{
		width: 100%;
	}