.mvnoMaintainLayoutWrapper{
	displayblock;
	width:100%;
	height:100%;
	float:left;
	background-color: #fff;
}

.mvnocontractHeading{
	display: block;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}

.mvnocontractHeadingRow{
	display: block;
	float: left;
	width: 100%;
}

.mvnocontractMainHeading {
	font-weight: bold;
	display: block;
	float: left;
	width: 100%;
	padding: 8px;
	border-bottom: #b8e2e2 thin solid;
}

.mvnocontractSubHeading {
	display: block;
	float: left;
	width: 100%;
	font-size: 14px;
	padding: 8px 8px 12px 8px;
}

.contractDetailed {
	display: block;
	width: 100%;
	float: left;
	padding: 4px;
	margin: 8px 4px 4px 4px;
}

.contractHeading {
	font-weight: 700;
}

.contractDetailedRow {
	display: block;
	width: 100%;
	float: left;
	padding: 4px;
}

.contractDetailedCell {
	display: block;
	width: 20%;
	float: left;
	padding: 4px;
}

.availableCreditCell {
	display: block;
	width: 20%;
	float: right;
	padding: 4px;
	text-align: right;
}

.availableCreditValue {
	text-align: left;
	font-weight: 700;
}

/* maintain package totals */
.mvnoMaintainLayoutTotalsWrapper {
	display: block;
	width: 100%;
	float: left;
	font-size: 14px;
	text-align: right;
	padding: 25px 8px 25px 8px;
}

.totalDetailedRow {
	display: block;
	width: 100%;
	float: left;
}

.totalDetailedCell {
	display: block;
	float: right;
}

/* maintain package totals */
.mvnoMaintainLayoutTotalsWrapper {
	display: block;
	width: 100%;
	float: left;
	font-size: 14px;
	text-align: right
}

.totalDetailedRow {
	display: block;
	width: 100%;
	float: left;
	padding: 3px 2px 3px 2px;
}

.isTotalRow {
	font-size: 15px;
	font-weight: 500;
}

.totalDetailedCell {
	display: block;
	float: right;
}

.totalvalue {
	width: 125px;
}

.isTotalValue {
	width: 125px;
}

.totalLabel{
	text-align: right;
	width: 220px;
}

.isTotalCellLabel{
	text-align: right;
	width: 220px;
}

.isTotalCell{
	display:block;
	float:right;
	padding: 6px 0px 3px 0px;
	border-top: black medium solid;
}

.isTotalcurrency{
	display:block;
	float:right;
	padding: 6px 2px 3px 2px;
	border-top: black medium solid;
}

.totalcurrency {
	display: block;
	float: right;
	padding: 3px 2px 3px 2px;
}