[data-role ="mvnoProductTableWrapper"]{
			float: left;
			position: relative;	
			background-color: white;
			display: block;
			padding: 2px;
			width: 100%;
		}

[data-role="mvnoProductTableRow" ]{
	width: 100%;
	position: relative;
	display: block;
	float: left;
	padding:3px;
	/*background-color: blue;*/
	}

[data-role="productImage"]{
	position: fixed;
	float: right;
}
[data-role="mvnoProductTableCell"]{
	position: relative;
	display: block;
	float: left;
}
.mvnoProductBlack{	
	color : #000000;
	font-size: medium;
	font-weight: 800;
	margin-right: 20px;
	margin-left: 5px;
	padding: 2px;
}
.mvnoProductLightGray{
	color : #C0C0C0;
	font-size: medium;
	font-weight: 800;
	padding: 2px;
}
.mnvoProductOptions{
		border-top: thin black solid;
		border-bottom:thin black solid;
}
.productHead{
	color : #000000;
	font-size: large;
	font-weight: 800;
	padding: 3px;
}
.productWhite{
	color : #fff;
}
.mvnoProductInfoNormal{
	color : #000000;
	font-size: medium;
	font-weight: 800;
	padding: 1.5px;
}

.mvnoProductInfoWhite{
	color : #fff;
	font-size: medium;
	font-weight: 800;
	padding: 1.5px;
}
.mvnoProdctInfoOrange{
	color : #FF9900;
	font-size: medium;
	font-weight: 800;
	padding: 1.5px;
}
[data-role="mvnoProductDivTable"]{
	width: 100%;
	display: table;
	margin-bottom: 15px;
	padding : 6px;
}
.mvnoProductTableSelectedColor{
	background-color: #969191;
}

[data-role="mvnoProductCellOne"]{
	display: table-cell;
}
[data-role="mvnoProductCellTwo"]{
	display: table-cell;	
	vertical-align: Top;
}

[data-role="mvnoProductSelectWrapper"]{
	display: table;
    width: 100%;
    background-color: white;
}
[data-role="mvnoProductSelectTableRow"]{
	width: 100%;
	display: table-row;
}

[data-role="mvnoProductSelectTableCell"]{
	width: 95%;
	display: table-cell;
	padding: 5px;
	float: left;
}
[data-role="mvnoProductSelectCheckOptions"]{
	width: 100%;
	position: relative;
	display: block;
	float: left;
	border: thin black solid;
	padding: 3px 2px 3px 2px;
	/* background-color: blue;*/
}

.mvnoProductSelectName{
	color : black;
	font-size: large;
	font-weight: 800;
	padding: 3px;
}
.mvnoProductFeatureList{
	list-style: none;
	padding: 3px;
}
.productFeature{
	font-weight: bold;
	
}
.pruductFeatureDsc{
	color : #696868;
	margin-bottom: 15px;
}
/* add style for checkbox list for Selected mvno Product */
.mvnoProductSelectCheckOptionsList{
	list-style: none;
	padding: 3px;
}
.mvnoProductSelectCheckOptionsList li{
	width: 90%;
	padding: 9px;
}

.mvnoProductSelectCheckOptionsHeading{
	font-weight: bold;
	border-bottom: thin solid black;
}

.mvnoProductSelectCheckOptionsHeading li{
	margin: 30px;
}
.mvnoProductSelectCheckOption{
	color : black;
	float: left;
}
