[data-role="mvnoAllBrandButtonWrapper"]{
		width: 100%;
		height:20px;
		float: left;
		background: #ccc;
}
[data-role="mvnoAllBrandsWrapper"]{
	margin-left: auto;
	margin-right: auto;
	max-width:80%;
	display: block;
}
[data-role="mvnoBrandthumbnails"]{
	position: relative;
	float: left;
	border-right: thin black solid;
	margin: 5px;
}
