[data-role="mvnoBrandSliderWrapper"]{

}
#mvnoBrandSliderWrapper{
	float: left;
	position: relative;	
	background-color: white;
	display: block;
	width: 100%;
	min-height: 150px;
	overflow: hidden;
}

/*
@media only screen and (min-width : 920px) {
	#mvnoBrandSliderWrapper {
		width: 903px;
	}
}
@media only screen and (min-width : 1300px) {
	#mvnoBrandSliderWrapper{
		width: 1280px; 
	}
}

*/
[data-role = "mvnoBrandSliderWrapperNewAbsolute"]{
	display: block;
	position: absolute;
	min-height: 300px;
}

[data-role="sliderContainer"]{
	display: block;
	position: relative;
}
[data-role="sliderTableWrapper"]{
	float: left;
	display: block;
	position: relative;
}

[data-role="mvnoBrandSliderTableRow" ]{
	width: 100%;
	position: relative;
	display: block;
	float: left;
	padding:3px;
	/*background-color: blue;*/
	}
[data-role="productImage"]{
	position: fixed;
	float: right;
}
[data-role="mvnoBrandSliderTableCell"]{
	position: relative;
	display: block;
	float: left;
}
.mvnoBrandSliderProductBlack{	
	color : #000000;
	font-size: large;
	font-weight: 800;
	margin-right: 20px;
	margin-left: 5px;
	padding: 2px;
}
.mvnoBrandSliderProductGray{
	color : #C0C0C0;
	font-size: large;
	font-weight: 800;
	padding: 2px;
}
.brandSliderHead{
	color : #000000;
	font-size: x-large;
	font-weight: 800;
	padding: 3px;
}
.BrandSilderprodctInfoNormal{
	color : #000000;
	font-size: large;
	font-weight: 800;
	padding: 1.5px;

}
.BrandSilderprodctInfoOrange{
	color : #FF9900;
	font-size: large;
	font-weight: 800;
	padding: 1.5px;
}
.hideBrandSlide{
	display: none;
}


[data-role="sliderTableCellOne"]{
	display: table-cell;
}
[data-role="silderTableCellTwo"]{
	display: table-cell;	
	vertical-align: Top;
}
[data-role="SliderButtonContainer"]{
	width: 100%;
	float: left;
	background-color: white;
}
[data-role="mvnoBrandSliderButton"]{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	position: relative;
	background-color: white;
}
.sliderButton{
	border: thin black solid;
	width: 10px;
	height: 10px;
	margin: 2px;
	background-color: #e3e3e3;
	display: block;
	float: left;
}

.sliderButton:hover{
	border: thin black solid;
	width: 10px;
	height: 10px;
	margin: 2px;
	background-color: #3e3e3e;
	display: block;
	float: left;
	cursor: pointer;
}

.sliderButtonActive{
	background-color: black;
}
