#actionMenuBtt {
	position: fixed;
	height: 132px;
	width: 22px;
	top: 72px;
	overflow-x: hidden;
}

#actionMenuBttLabelWrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background:
		url("../../images/actionMenu/menuBg.png")
		#ff9900 no-repeat center 6px;

	left: -22px;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
	left: 0;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper {
	background:
		url("../../images/actionMenu/menuBgExpanded.png")
		#ff9900 no-repeat center 6px;
}

.HoffScreen {
	left: -22px;
}

#actionMenuBttLabel {
	display: none;
}

#actionMenuGrid {
	width: 100%;
	display: table-cell;
	min-height: 100%;
	height: 100%;
	background: white;
}

#actionMenuContent {
	width: 100%;
	display: table;
	min-height: 100%;
	height: 100%;
}

.actionMenuGridCol {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
}

.actionMenuInnerGridCol {
	width: 33.333%;
	display: block;
	float: left;
	border-right: 1px solid black;
	margin: 16px 0px 0px 0px;
}

.actionMenuInnerGridColLast {
	border-right: none;
}

.actionMenuColHeader {
	width: 100%;
	display: block;
	height: 56px;
	background: #f2f2f2
}

.actionColFirst {
	border-right: 1px solid black;
	background: #ff9900;
	width: 20%;
}

.actionColCenterGroup {
	width: 60%;
}

.actionMenuGroupHeading
.firstChild {
	padding: 19px 8px 0px 8px;
}

.actionColLast {
	border-left: 1px solid black;
	width: 20%;
}

.actionMenuColHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 0px 0px 8px;
}

.actionMenuColSubHeading {
	font-size: 22px;
	text-transform: uppercase;
	padding: 0px 8px 0px 7px;
	margin: -3px 0px 0px 0px;
}

.actionMenuGroupHeading {
	font-size: 13px;
	line-height: 16px;
	padding: 16px 8px 0px 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	text-transform: uppercase;
}

.actionMenuGridCol a {
	display: block;
	font-size: 13px;
	line-height: 16px;
	padding: 8px 8px 0px 8px;
	text-decoration: none;
	color: black;
}

.actionMenuGridCol.actionColFirst a {
	color: white;
}

.actionMenuGridCol.actionColFirst h4 {
	color: white;
}

.actionColCenterGroup .actionMenuGroupHeading.firstChild {
	padding: 3px 8px 0px 8px;
}

@media only screen and (min-width : 920px) {

	}

.HoffScreen {
	left: -22px!Important;
}

#actionMenu{
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
	background: white;
}


.actionMenuGridCol {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
}

.actionMenuInnerGridCol {
	width: 33.333%;
	display: block;
	float: left;
	border-right: 1px solid black;
	margin: 16px 0px 0px 0px;
}

.actionMenuInnerGridColLast {
	border-right: none;
}

.actionMenuColHeader {
	width: 100%;
	display: block;
	height: 56px;
	background: #f2f2f2
}

.actionColFirst {
	border-right: 1px solid black;
	background: #ff9900;
	width: 20%;
}

.actionColCenterGroup {
	width: 60%;
}

.actionMenuGroupHeading.firstChild {
	padding: 19px 8px 0px 8px;
}

.actionColLast {
	border-left: 1px solid black;
	width: 20%;
}

.actionMenuColHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 0px 0px 8px;
}

.actionMenuColSubHeading {
	font-size: 22px;
	text-transform: uppercase;
	padding: 0px 8px 0px 7px;
	margin: -3px 0px 0px 0px;
}

.actionMenuGroupHeading {
	font-size: 13px;
	line-height: 16px;
	padding: 16px 8px 0px 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	text-transform: uppercase;
}

.actionMenuGridCol a {
	display: block;
	font-size: 13px;
	line-height: 16px;
	padding: 8px 8px 0px 8px;
	text-decoration: none;
	color: black;
}

.actionMenuGridCol.actionColFirst  a {
	color: white;
}

.actionMenuGridCol.actionColFirst  h4 {
	color: white;
}

.actionColCenterGroup .actionMenuGroupHeading.firstChild {
	padding: 3px 8px 0px 8px;
}