.footerContactInfo {
	background: darkgrey;
	border: none;
	color: whitesmoke;
	width: 25%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding-left: 8px;
	font-size: 13px;
	cursor: pointer;
}
.footerButton {
	background: #ff9900;
	border: none;
	color: #fff;
	width: 25%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding-left: 8px;
	font-size: 13px;
	cursor: pointer;
}
.footerContactInfoLabel {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	text-align: left;
}

.footerContactInfo:first-child {
	border: none;
}

#footerContainer {
	height: 54px;
	border-top: 4px solid white;
}

#eziFooterButtonGroup {
	float: right;
	height: 100%;
	width: 100%;
}
#footerButtonGroup {
	float: right;
	height: 100%;
	width: 100%;
}


.footerButtonLabel {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	text-align: left;
}

.footerButton:first-child {
	border: none;
}

#footerButtonsContainer{
	width:100%;
	
}

/*FOOTER END*/

@media only screen and (min-width : 904px) {
	.footerContactInfo {
		width: 10%;
	}
	.footerButton {
		width: 10%;
	}
}