
/*HEADER + TOP TABS END*/
#homeLogin {
	display:none;	
}
#headerButtons {
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 24px;
}
#headerButtonsInner {
	display: table-row;
	width: 100%;
	height: 100%
}
#headerButtons input {
	float: left;
	/* width: 33.3%; */
	/* border-right: 2px solid #F2F2F2; */
}
#searchButton {
	display: table-cell;
	background: url("../../images/settings/search.png") no-repeat scroll center left transparent;
	padding-left: 0;
	width: 14px;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: middle;
	text-decoration: none;
}
#SecurityButtons {
	display: table-cell;
	background: url("../../images/settings/security.png") no-repeat scroll center left transparent;
	padding-left: 0;
	width: 14px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: 100%;
}

.loginPopupLinks{
	float: left;
	text-decoration: underline;
	width: 100%;
	padding: 8px 8px 8px 8px;
}

#WebrootButton {
	float: left;
	text-decoration: none;
	display:none;
}
#ResetButton {
	float: left;
	text-decoration: none;
	display:none;
}
#VerifyButton {
	float: left;
	text-decoration: none;
	display:none;
}
#RegisterButton {
	display: table-cell;
	background: url("../../images/settings/register.png") no-repeat scroll center left transparent;
	padding-left: 0;
	width: 14px;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: middle;
	text-decoration: none;
}

#mobileLogin .formInlineError{
	display:block;
}

#login {
	display: table-cell;
	width: 47%;
	text-align: right;
	position: relative;
}

#login [data-role="formElementWrapper"] {
	width: 33.3%;
	float:left;
}

#loginButton {
	background-color: #FF9900;
	color: white;
	width: 33.3%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 24px;
}

#popupLoginButton{
	background-color: #FF9900;
	color: white;
	width: 32%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 24px;
}

#LOGIN_FORM .loginMessages {
	display: none;
	background-color: #FF9900;
	color: white;
	width: 100%;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 9999;
	padding: 8px;
	text-align: left;
}

#LOGIN_FORM .loginMessages:before {
	display: none;
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

#LOGIN_FORM.submitError .loginMessages,
#LOGIN_FORM.submitError .loginMessages:before,
#LOGIN_FORM.inputError .loginMessages,
#LOGIN_FORM.inputError .loginMessages:before {
	display: block;
}

#login .formElWrapper {
float: left;
width: 33.3%;
border-bottom: none;
padding-bottom:0px;
position: static;
}

#login .formElLabel {
display:none;
}
#login .formElContainer {
width: 100%;
padding: 0;
position: static;
}

#login .formInlineError{
position: absolute;
top: 24px;
z-index: 200;
text-align: left;
}

#inlineError_Password {
left: 0;
}
#inlineError_Password.formInlineError:before {
left: 35%;
}
#login {

}
/* Mobile Login form */
#mobileLogin #loginButton{
	background-color: #FF9900;
	color: white;

	width: 25%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	float: right;
	margin: 8px 8px 8px 8px;
	height: 24px;
}
#mobileLogin{
	position: absolute;
	height: 100%;
	z-index: 200;
	background-color: #fff;
	top: 0;
	/* display: none; */
}

.blackCloseButton {
	background: url("../../images/login/closeBlack.png") no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 5px;
	border: none;
}

.greyHeaderWrpaper{
	background-color: #f7f7f7;
	padding: 5px 0 5px 0;
	float: left;
	width: 100%;
}

.greyHeaderWrpaper h3{
	line-height: 21px;
	/* width: 50%; */
	padding: 0;
	margin: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0px 8px 0px 8px;
}

#mobileLogin a{
	padding: 8px 8px 8px 8px;
	/* margin: 8px; */
	float: left;
	width: 100%;
}


@media only screen and (min-width : 920px) {
	
	#login {
		width: 30%;
	}
	#popupLoginButton{
		width: 33%;
	}
	#searchButton {
		padding-left: 26px;
		width: 10%;
		overflow: hidden;
		text-indent: 0;
	}
	#SecurityButtons {
		padding-left: 26px;
		width:auto;
		overflow: hidden;
		text-indent: 0;
	}
	#WebrootButton {
		display:block;
	}
	#ResetButton {
		display:block;
		cursor:pointer;
	}
	#VerifyButton {
		display:block;
		cursor:pointer;
	}
	#RegisterButton {
		padding-left: 26px;
		width: 10%;
		overflow: hidden;
		text-indent: 0;
		cursor:pointer;
	}
	
}
@media only screen and (min-width : 1300px) {
	
}

