/* Developer: Richard */
.notificationsWrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.notificationsInner {
	background: #009999;
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
}

.notificationsClose {
	background: url("../../images/notificationsContainer/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

.notificationsTitle {
	text-align: left;
	padding: 0 0 0 8px;
	font-size: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 32px;
}