.articleLink {
	vertical-align: middle;
	color: #666666;
	padding-left: 16px;
	background: transparent url('../../../../../../../00Assets/skins/00/images/arrows/right_arrow.png') top left no-repeat;
	margin-bottom: 8px;
	margin-left: 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.articleTimestamp {
	vertical-align: middle;
	color: #666666;
	padding-left: 16px;
	margin-bottom: 8px;
	margin-left: 8px;
}