#roleDefinitions .col1 {width: 25%;}
#roleDefinitions .col2 {width: 15%;}
#roleDefinitions .col3 {width: 15%;}
#roleDefinitions .col4 {width: 15%;}
#roleDefinitions .col5 {width: 15%;}
#roleDefinitions .col6 {width: 15%;}
#roleDefinitions .tableCellItem img {float: none;}
#roleDefinitions .tabelRowInner .tableCell {border-right: 1px solid #CCCCCC;}
#roleDefinitions .tabelRowInner .tableCell:last-child {border-right: none;}
#roleDefinitions .tableRow {display: table;}
#roleDefinitions .tabelRowInner {display: table-row;}
#roleDefinitions .tableHeaderRow {display: table;}
#roleDefinitions .tableHeaderInnerRow, #roleDefinitions .tableRowInner {display: table-row;}
#roleDefinitions .tableCell {display: table-cell; vertical-align: middle;}
#roleDefinitions .tableCell, #roleDefinitions .groupColCell {float: none;}
#roleDefinitions .simpleTable .tableCellItem { line-height: normal;}
#roleDefinitions .tableRow {padding: 0 10px;}
#roleDefinitions .tableHeaderRow {padding: 0 10px;}
#roleDefinitions .tableHeaderRow {vertical-align: middle;}


#roleDefinitionsBusinesses .col1 {width: 25%;}
#roleDefinitionsBusinesses .col2 {width: 15%;}
#roleDefinitionsBusinesses .col3 {width: 15%;}
#roleDefinitionsBusinesses .col4 {width: 15%;}
#roleDefinitionsBusinesses .col5 {width: 15%;}
#roleDefinitionsBusinesses .col6 {width: 15%;}
#roleDefinitionsBusinesses .tableCellItem img {float: none;}
#roleDefinitionsBusinesses .tabelRowInner .tableCell {border-right: 1px solid #CCCCCC;}
#roleDefinitionsBusinesses .tabelRowInner .tableCell:last-child {border-right: none;}
#roleDefinitionsBusinesses .tableRow {display: table;}
#roleDefinitionsBusinesses .tabelRowInner {display: table-row;}
#roleDefinitionsBusinesses .tableHeaderRow {display: table;}
#roleDefinitionsBusinesses .tableHeaderInnerRow, #roleDefinitionsBusinesses .tableRowInner {display: table-row;}
#roleDefinitionsBusinesses .tableCell {display: table-cell; vertical-align: middle;}
#roleDefinitionsBusinesses .tableCell, #roleDefinitions .groupColCell {float: none;}
#roleDefinitionsBusinesses .simpleTable .tableCellItem { line-height: normal;}
#roleDefinitionsBusinesses .tableRow {padding: 0 10px;}
#roleDefinitionsBusinesses .tableHeaderRow {padding: 0 10px;}
#roleDefinitionsBusinesses .tableHeaderRow {vertical-align: middle;}

#tableHeadings.tableHeaderRow.tableGroupHeader div {
	font-size: 18px;
}

#viewRoleDefinitions {
	text-decoration: underline;
}
#roleDefinitions .closeDefinitions,
#roleDefinitionsBusinesses .closeDefinitions{
	background: url("/banking/03images/fnb/icons/cross.png") no-repeat scroll right center transparent;
    float: right;
    font-size: 14px;
    padding: 0 45px 0 0;
}
#roleDefButton .tableAddButton {padding: 0;}
#viewRoleDefinitions.tableAddButton {padding: 0 0 10px 0;}

#subHeaders .col1 {width: 25%;}
#subHeaders .col2 {width: 45%;}
#subHeaders .col3 {width: 30%;}
#subHeaders .col2 .tableHeaderCellItem {border-bottom: 2px solid #FFF;}
#subHeaders .col3 .tableHeaderCellItem {border-bottom: 2px solid #FFF;}

#onlineRoles .groupedCol1 {width: 50%;}
#onlineRoles .groupedCol2 {width: 50%;}
#onlineRoles .col1 {width: 50%;}
#onlineRoles .col2 {width: 50%;}
#onlineRoles .col3 {width: 50%;}
#onlineRoles .col4 {width: 50%;}

#onlineRolesBusness .groupedCol1 {width: 50%;}
#onlineRolesBusness .groupedCol2 {width: 50%;}
#onlineRolesBusness .col1 {width: 50%;}
#onlineRolesBusness .col2 {width: 50%;}
#onlineRolesBusness .col3 {width: 50%;}
#onlineRolesBusness .col4 {width: 50%;}

#branchRoles .groupedCol1 {width: 70%;}
#branchRoles .groupedCol2 {width: 30%;}
#branchRoles .col1 {width: 50%;}
#branchRoles .col2 {width: 50%;}
#branchRoles .col3 {width: 100%;}

.mobileHide {
	display: block;
}
.mobileDisplay {
	display: none;
}
@media
only screen and (max-width: 799px) {
	.mobileHide {
		display: none;
	}
	.mobileDisplay {
		display: block;
	}
	
	#roleDefinitions .col1 {width: 40%!important; min-width: 30px;}
	#roleDefinitions .col2 {width: 12%!important; min-width: 30px;}
	#roleDefinitions .col3 {width: 12%!important; min-width: 30px;}
	#roleDefinitions .col4 {width: 12%!important; min-width: 30px;}
	#roleDefinitions .col5 {width: 12%!important; min-width: 30px;}
	#roleDefinitions .col6 {width: 12%!important; min-width: 30px;}
	#roleDefinitions .tableHeaderRow .tableCell {border-right: 1px solid #CCCCCC;}
	#roleDefinitions .tableHeaderRow .tableCell:last-child {border-right: none;}
	
	#roleDefinitionsBusinesses .col1 {width: 40%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .col2 {width: 12%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .col3 {width: 12%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .col4 {width: 12%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .col5 {width: 12%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .col6 {width: 12%!important; min-width: 30px;}
	#roleDefinitionsBusinesses .tableHeaderRow .tableCell {border-right: 1px solid #CCCCCC;}
	#roleDefinitionsBusinesses .tableHeaderRow .tableCell:last-child {border-right: none;}
	
	#subHeaders .col1 {width: 40%!important;}
	#subHeaders .col2 {width: 36%!important;}
	#subHeaders .col3 {width: 24%!important;}
	
	#subHeaders .col2 .tableHeaderCellItem {padding: 12px;}
	
	#tableHeadings .grid70 {width: 70%;}
	#tableHeadings .grid30 {width: 30%;}
	
	#roleDefinitions .tableRow, #roleDefinitionsBusinesses .tableRow {padding: 0 10px;}
	#roleDefinitions .tableHeaderRow, #roleDefinitionsBusinesses .tableHeaderRow {padding: 0 10px;}
	
	#tableHeadings.tableHeaderRow.tableGroupHeader div {
		overflow: visible;
		height: auto;
	}
	#tableHeadings .button.closeDefinitions {
		height: 40px!important;
		padding: 6px 45px 0 0;
	}
}

@media
only screen and (max-width: 450px) {
	#subHeaders {
		display: none!important;
	}
}