@media only screen and (max-width: 799px) {
		
	#newsLanding #switcherWidget {
		height: auto!important;
	}
	#newsLanding #demoVideo {
		height: auto!important;
	}
	.bankingHomepageBannerHeading {font-size:20px!important;padding-left:15px;}
	.bankingHomepageBannerImg {width:40%!important}

}

@media only screen and (max-width: 480px) {
	
	.isExpanded #actionMenuTextWrapper{
		right: 0!Important;
		left: auto!Important;
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.applyHeaderButton{
		display:none;
	}
	.fancyText {
		display:none;
	}
	#newsLanding #demoVideo {
		display:none!important;
		}
}

@media all and (min-width: 799px){
	
	#newsLanding #demoVideo{height: 428px!important;}
	
}
@media all and (min-width: 1280px){
	
	#newsLanding #demoVideo{height: 425px!important;}
	
}

.fontBold {
	font-weight: bold;
}

#newsLanding #newsContainer {position:relative; margin-top:40px;}

#newsLanding #leftAdContainer {margin:13px 0 1.5em;}

#newsLanding #whatsNewContainer {color:#000; padding:13px 0;}
#newsLanding #whatsNewContainer ul {font-size:12px;}

#newsLanding #newsUserName {
	padding-left: 8px;
	font-size: 30px !important;
	clear: both;
	position: relative;
}

#newsLanding #welcomeBannerText {
	font-size: 20px;
	position: relative;
	top: -25px;
	left: 8px;
	padding: 10px 8px;
	/* margin-bottom: 20px; */
}
#newsLanding #rewardsContainer h2 {
	background-color: #FFF;
	position: relative;
	padding-bottom: 10px;
}
#newsLanding #welcomeBannerText:after,
#newsLanding .whiteHeading:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -15px;
	left: -10px;
	margin-left: 25px;
	border-top:15px solid #FFF;
	border-left: 15px solid transparent;
}
#newsLanding #welcomeBannerText:after {border-top-color:#009999;}
#newsLanding .whiteHeading:after {border-right:15px solid transparent;}

#newsLanding .rightBottomRowNews {padding-top:15px;}
#newsLanding .linkPadding {padding-bottom:20px; padding-top:50px;}

#newsLanding #loginHistory {position:relative; padding-top: 20px;}
#newsLanding #valueAdds,
#newsLanding #welcomeMessage {padding-bottom:20px;}

#newsLanding .moreItemButton .loggedInImage {
	float: left;
	margin: 15px 5px 0 0;
	background: url("/banking/03images/fnb/icons/log-icons_sprite.png") no-repeat transparent;
	width: 18px;
	height: 14px;
}

#newsLanding .moreItemButton .loggedInImage.logs_tick  {background-position: 0 0;}
#newsLanding .moreItemButton .loggedInImage.logs_cross {background-position: 0 -54px;}
#newsLanding .moreItemButton .dateContainer {padding-left:25px; font-size:14px;}


#newsLanding .moreItemButton .arrow {
	width: 38px;
	height: 38px;
	display: block;
	float: right;
	position: absolute;
	background: url("/banking/03images/fnb/arrows/flushRightWhite.png") center center no-repeat;
	top: 20px;
	right: 0;
}

#loginHistoryButtonText {
	font-size:16px;
	line-height:38px;
	margin-right:50px;
	text-align:right;
}

/*****Gerhard Styles******/
#newsContainer #leftContent {
	width: 30%;
	margin-right: 5%;
	float: left;
	height: 540px;
}
#newsContainer #rightContent {
	width: 65%;
	float: right;
	height: 540px;
}
#newsLanding #preNewsContainer {
	background-color: #E7E7E7;
	padding: 10px 0 10px 10%;
	position: relative;
	color: #009999;
}
#newsLanding  p{
	padding-right: 40px;
}
#newsLanding #preNewsContainer p{
	padding-left: 0;
}
#newsLanding .addvertButton {
	background: url("/banking/03images/fnb/arrows/flushLeftOrange.png") no-repeat scroll right bottom #E7E7E7;
    bottom: 10px;
    height: 34px;
    position: absolute;
    right: 0;
    width: 38px;
}
#preNewsContainer .whatsNew1{
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 1.8em;
}
#preNewsContainer .whatsNew2{
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 1.8em;
}
#preNewsContainer .whatsNew3{
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 1.8em;
}
#newsLanding #whatsNewContainer h3{
	padding-top: 0;
}
#newsLanding #whatsNewContainer .listCircle li {
	list-style-image: url("/banking/03images/fnb/listicons/icon_orange_arrow.png");
	margin-bottom: 0;
	padding: 0 10px 0 0;
	font-size:12px;
}
#newsLanding #loggedInTitle {
	padding-bottom:0;
	margin-bottom:5px;
	color: #676767;
}
#newsLanding #loginStatus {
	padding: 20px 0 0 0;
}

#valueAdds .newsRewardsHeading {
	width: 140px;
	padding: 20px 10px 5px 10px;
	margin: 0 0 0 10px;
	background-image: url("/banking/03images/base/getcommunications/arrowBlue.png") ;
	background-repeat:no-repeat;
	background-position:center bottom;
	
}
#valueAdds .rewardsHeading1 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#valueAdds .rewardsHeading2 {
	font-size: 40px;
}
#valueAdds .rewardsHeading2 span {
	font-size: 0.4em;
}
#valueAdds h2 {
	margin-bottom: 0;
}
#valueAdds .rewardsType{
	font-size: 24px;
}
#valueAdds .rewardsDescription{
	font-size: 14px;
}
#valueAdds .rewardsDescriptionContainer {
	padding: 20px 10px 5px 10px;
	margin: 0 0 0 10px;
	width: 40px;
}
#valueAdds .moreItemButton {
	background: url("/banking/03images/fnb/arrows/flushRightWhite.png") right center no-repeat;
	height: 34px;
	font-size: 16px;
	text-align: right;
	padding: 0 44px 0 15px;
	max-width: 220px;
	float: right;
}
#valueAdds .moreItemButton.condition2 {
	font-size: 13px;
	background: none;
    float: none;
    height: 34px;
    padding: 0 0 0 15px;
    text-align: left;
    max-width: 100%;
}
#newsLanding .moreItemButton.condition2 .arrow {
    background: url("/banking/03images/fnb/arrows/flushRightWhite.png") no-repeat scroll right center transparent;
    display: block;
    float: right;
    font-size: 20px;
    height: 38px;
    padding: 8px 50px 0 0;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
}
#newsLanding #actualTime {float: left;
padding: 0px;
width: 160px;
background: #fff;
position: relative;
top: -25px;
left: 15px;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 5px;
padding-right: 5px;
}
#newsLanding #demoVideo{height:415px;background-color: #ededed;}
#newsLanding #switcherWidget {position:relative;height:336px;}
#newsLanding  #switcherControls {height:100px;background:#fff;width:100%;;position:absolute;bottom:0px;text-align: center;}
#newsLanding  #switcherControls .leftArrow{position:absolute;left:0px;height:100px;width:15px;background:url('/banking/03images/base/getcommunications/arrowRotatorLeft.png') no-repeat center 30px;z-index:20;top:0px;}
#newsLanding  #switcherControls .rightArrow{position:absolute;right:0px;height:100px;width:15px;background:url('/banking/03images/base/getcommunications/arrowRotatorRight.png') no-repeat center 30px;z-index:21;top:0px;}
#newsLanding  #switcherControls .imgSelector{display: block;float:left;width: 20px;height: 20px;background: url('/banking/03images/base/getcommunications/iconListLight.png') no-repeat center center;border:3px solid white;cursor:pointer}
#newsLanding  #switcherControls .imgSelectorContainer{width: 280px;height: 26px;margin: 0 auto;padding-top:70px;}
#newsLanding  #switcherControls #imgSelectorContainerInner {}
#newsLanding  #switcherControls #textContainer {
width: 100%;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
text-align: left;
float: left;
font-size: 14px;
position: absolute;
top: 20px;
}

.bankingHomepageBannerHeading {

font-size: 25px!important;

}

.bankingHomepageBannerBodyCopy {

font-size: 16px!important;

}

.webrootLogo {
	margin-left: 15px;
	margin-top: 20px;
}

.webrootDownloadBtt {
	padding: 10px;
	margin-left: 15px;
	float: right;
	margin-right: 15px;
	text-decoration: none;
	margin-bottom: 10px;
}

.listDisc>li {
	margin-right: 15px
}

.fancyText {
	font-size:50px;
	padding-top: 95px;
	padding-bottom: 20px;
	color: #666666
}

.biggerFont {
	font-size: 20px;
}

.biggerFont2 {
	font-size: 14px;
}

.bolderFont {
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

h2.whiteHeading {
	background-color: #FFF;
	position: relative;
	padding-bottom: 10px;
}

