 [data-role="leadFormLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

 [data-role="leadFormLayoutOneThumbnail"] {
   height: 72px;
 }

 [data-role="leadFormLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="leadFormLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="leadFormLayoutOneGridItem"] {
   display: table-cell;
   width: 50%;
 }

 [data-role="leadFormLayoutOneGridItemHeading"] {
   border-top: 1px solid black;
   padding: 2px 8px 4px 8px;
   font-size: 13px;
   font-family: Helvetica,FoundationRoman,Sans-serif;
   font-weight: 600;
   line-height: 16px;
 }
