.dlHack .dlTitle,.dlHack .dlData {
	width: 100%;
}

.dlHack .dlItemWrapper {
	border-top: none !important;
}

.absoluteHack {
	position: absolute;
	right: 0px;
	top: 18px;
}

.formBtnFix {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 6px;;
	width: 100%;
	padding-right: 10px;
}

.formBtnFix input {
	width: 100%;
}

.plusContainer {
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

#graphContainer {
	position: relative;
}

.value {
	display: table-cell;
	vertical-align: middle;
	height: 20px;
	text-align: right;
}

.icon {
	display: table-cell;
	background: #e7e7e7;
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.label {
	display: table-cell;
	vertical-align: middle;
	height: 20px;
}

#graphLabels {
	display: table;
	width: 100%;
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 5px;
	padding-top: 10px;
}

#paid {
	width: 100%;
	font-size: 13px;
	display: table-row;
}

#outstanding {
	width: 100%;
	font-size: 13px;
	display: table-row;
}

.paidIcon {
	background: #36A3A3;
}

.outstandingIcon {
	background: #73C7C7;
}

.discoverySkin .paidIcon {
	background: #5C447E;
}

.discoverySkin .outstandingIcon {
	background: #786B8C;
}

.rmbSkin .paidIcon {
	background: #00529c;
}

.rmbSkin .outstandingIcon {
	background: #2e70ac;
}

@media only screen and (max-width: 799px) {
	.value {
		display: table-cell;
		vertical-align: middle;
		height: 20px;
		text-align: right;
		width: 40px
	}
	#graphContainer {
		position: relative;
		padding-left: 10px;
	}
	.formBtnFix {
		width: 50%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.formBtnFix input {
		width: 100%;
	}
}