	#fullBg{
		background-image: url('../../images/bg/bg18.jpg');
	}
	[data-pageCategory="cat1"] #fullBg{
		background-image: url('../../images/bg/bg8.jpg');
	}
	[data-pageCategory="cat2"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat3"] #fullBg{
		background-image: url('../../images/bg/bg16.jpg');
	}
	[data-pageCategory="cat4"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat5"] #fullBg{
		background-imaged: url('../../images/bg/bg6.jpg');
	}
	[data-pageCategory="cat6"] #fullBg{
		background-image: url('../../images/bg/bg7.jpg');
	}
	[data-pageCategory="cat7"] #fullBg{
		background-image: url('../../images/bg/bg8.jpg');
	}

	.headerContent {
		min-width: 960px;
/* 		position: absolute; */
	}
	#bodyContainer {
		height: auto;
	}
	/* Header */
	.homeButtonWrapper {
		display: table-cell;
		width: 25%;
		height: 50px;
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -3px;
	}
	[data-role="homeButton"] {
		background: transparent url("../../images/logos/desktop-logo.png") no-repeat scroll left -3px;
		height: 102px;
		width: 84.6%;
	}
	.homeButtonEdge {
		background: transparent url("../../images/logos/edge-100.png") no-repeat scroll left -3px;
		height: 102px;
		width: 54px;
	}
	[data-role="headerButtons"] {
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -52px;
	}
	.headerContent #logo{
		display: none;
	}
	#login {
		width: 42.8571428571%;
	}
	#searchButton {
		text-indent: 0;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
	}
	#ResetButton {
		text-indent: 0;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		color: #fff;
		font-size: 11px;
		line-height: 11px;
	}
	#ContactButton {
		text-indent: 0;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
	}
	#RegisterButton {
		text-indent: 0;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
	}
	#headerButtonMenuContent {
		padding: 70px 10px 30px 37.5%; 
	}
	
	/* Frame */

	#pageContent {
		width: 100%;
		margin: 0;
		padding: 200px 0 58px 0;
	}
	#pageContentWrapper {
		height: auto;
		padding: 0;
	}
	#pageContentOuter {
		height: auto;
		width: 62.5%;
		margin: 0px 0px 0px 25%;
		padding: 0 6.25% 0 0;
		background: transparent url('../../images/transparent70.png') top left repeat fixed;
	}
	[data-pageCategory="home"] #pageContentOuter {
		background: none;
		width: 75%;
	}
	[data-pageCategory="home"] #pageContent {
		margin-top: 200px;
	}
	
	/* Footer */
	footer {
		height: 57px;
		border-top: 2px solid #AEAEA2;
		background: transparent url('../../images/transparent70.png') top left repeat;
		position: fixed;
		bottom: 0;
		min-width: 960px;
		background: black;;
	}

	#footerContainerA {
		display: block;
		float:left;
	}
	#footerContainerB {
		width: 50%;
		font-size: 11px;
		text-align: right;
		float: left;
	}
	
	[data-role="footerContactInfo"] {
		width: 10%;
	}
	
	/* Sidemenu */
	
	#sideMenuButton {
		display: none;
	}
	#sideMenu {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 0px;
		min-height: initial;
		background: transparent url('../../images/transparent80.png') top left repeat;
		z-index: 3;
	}
	#sideMenu[data-active="true"] {
		z-index: 3;
		width: 100%;
		height: 100%;
	}
	#sideMenuClose {
		display: none;
	}	
	#sideMenuGroupClose {
		float: right;
		display: block;
		width: 41px;
		height: 39px;
		top: -39px;
		background: transparent url('../../images/sideMenu/close.jpg') top left no-repeat;
		cursor: pointer;
		position: relative;
	}
	#sideMenuContent {
		top: 50px;
		left: 0px;
		padding: 50px 0px 50px 0px;
		left: 0%;
		min-height: 0px;
		width: 18.75%;
		margin: 200px 0 0 0;
		position: static;
	}
	.menuActive #sideMenuContent {
		width: 100%;
	}
	#sideMenuConten.HoffScreen {
		left: 0%;
	}
	.sideMenuGroup {
		height: 400px;
		margin: 0px 0px 0px 18.75%;
		position: absolute;
		top: 200px;
		width: 81.25%;
	}
	.sideMenuGroupHeading {
		display: block;
	}
	#sideMenu .sideMenuHeading {
		min-height: 0px;
	}
	.sideMenuGroupCol {
		width: 18.75%;
		float: left;
	}
	.sideMenuGroup.cat1 {
		border-left: 1px solid #9B9175;
	}
	.sideMenuGroup.cat2 {
		border-left: 1px solid #626262;
	}
	.sideMenuGroup.cat3 {
		border-left: 1px solid #737A78;
	}
	.sideMenuGroup.cat4 {
		border-left: 1px solid #4C859D;
	}
	.sideMenuGroup.cat5 {
		border-left: 1px solid #915758;
	}
	.sideMenuGroup.cat6 {
		border-left: 1px solid #B7DAB6;
	}
	.sideMenuGroup.cat7 {
		border-left: 1px solid #DA9669;
	}
	.sideMenuGroupLink {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroupSubHeading {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroup hr{
		margin-left: 40px;
	}
	
	/* Markup */
	
	/* Table */
	[data-role="ratesTable"]     { display: table; table-layout: fixed;}
	[data-role="ratesTableRow"]        { display: table-row; }
	[data-role="ratesTableHeaderCell"]     { display: table-header-group; }
	[data-role="ratesTableBody"]     { display: table-row-group; }
	[data-role="ratesTableFooter"]     { display: table-footer-group ;}
	[data-role="ratesTableCol"]       { display: table-column; }
	[data-role="ratesTableColGroup"]  { display: table-column-group; }
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"]   { display: table-cell;}
	[data-role="ratesTableCaption"]   { display: table-caption; }

	[data-role="ratesTable"] { background-color: white; border: none;}
	[data-role="ratesTableRow"] { border-bottom: 1px solid #4885A2;}
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"] { border-right: none; }

	[data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; }
	[data-role="ratesTable"] [data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; background-color: transparent; }
	[data-role="ratesTableHeaderCell"] { font-weight: bolder; background-color: #4885A2;  color: white; font-size: 13px; line-height: 16px;} /* BFE6E5 */
	[data-role="ratesTableCell"] { font-size: 13px; line-height: normal; }
	[data-role="ratesTableCell"]:first, 
	[data-role="ratesTableHeaderCell"]:first { border-left: 0;}
	[data-role="ratesTableCell"] span { display: none; }

	[data-role="ratesTable"] .td100 { width: 100%; }
	[data-role="ratesTable"] .td90  { width: 90%; }
	[data-role="ratesTable"] .td80  { width: 80%; }
	[data-role="ratesTable"] .td75  { width: 75%; }
	[data-role="ratesTable"] .td70  { width: 70%; }
	[data-role="ratesTable"] .td67  { width: 66.6666%; }
	[data-role="ratesTable"] .td66  { width: 66.6666%; }
	[data-role="ratesTable"] .td60  { width: 60%; }
	[data-role="ratesTable"] .td50  { width: 50%; }
	[data-role="ratesTable"] .td40  { width: 40%; }
	[data-role="ratesTable"] .td33  { width: 33.3333%; }
	[data-role="ratesTable"] .td30  { width: 30%; }
	[data-role="ratesTable"] .td25  { width: 25%; }
	[data-role="ratesTable"] .td20  { width: 20%; }
	[data-role="ratesTable"] .td15  { width: 15%; }
	[data-role="ratesTable"] .td10  { width: 10%; }
	
	/* Core */
	[data-role="overlay"] {
		padding-left: 0px
	}
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="33"] {
		width: 33%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}

	/*left offsets for positioning*/
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}
	/* 	
	Developer: Donovan
	Datepicker
	 */
	[data-role="datePickerMonthWrapper"] {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	[data-role="dateLeftScrollArrow"] {
		background:
			url("../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	[data-role="dateRightScrollArrow"] {
		background:
			url("../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	[data-role="datePickerMonth"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	[data-role="datePickerYear"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	[data-role="datePickerInner"] {
		background: #277093;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	
	/* Forms */
	[data-role="formElementWrapper"] {
		width: 100%;
		display: table;
		position: relative;
		border-bottom: 3px solid transparent;
	}
	
	[data-role="calendarDropdown"] select{
		background: url('../../images/black-down-arrow.png') no-repeat 90% #fff;
		width: 80px;
		font-size: 14px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 24px;
		-webkit-appearance: none;
		text-align: center;
		margin-top: 8px;
		float: right;
		padding-left: 15px;
		cursor: pointer;
	}

	[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]
		{
		display: table-cell;
		vertical-align: top
	}
	[data-role="formElementLabel"] {
		width: 25%;
		padding: 6px 8px 0px 20px;
		float: none;
	}
	[data-role="formElementLabelInner"] {
		float: left;
		font-size: 13px;
		line-height: 16px;
		padding: 12px 0px 0px 0px;
	}
	[data-role="formElementOptionalLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 2px;
	color: #438699;
}
	[data-role="formElementContainer"] {
		width: 25%;
		padding: 10px 8px 5px 11px;
		position: relative;
		float: none;
	}
	[data-role="formElementContent"] {
		padding: 0px 0px 0px 0px;
		margin-top: 0px;
	}
	[data-role="input"] {
		width: 100%;
		position: relative;
	}
	[data-role="dropdownInput"] {
		width: 100%;
		position: relative;
	}
	[data-role="input"][data-width="30"] {
		width: 30%;
		float: left;
	}
	[data-role="input"][data-width="70"] {
		width: 68%;
		float: right;
	}
	[data-role="formElementContent"] {
		width: 50%;
		vertical-align: top;
		position: relative;
		float: none;
	}
	[data-role="formElementContentInner"] {
		width: 100%;
		padding: 8px 6px 0px 11px;
		position: relative;
	}
	[data-role="formElementContentInner"]:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -8px;
		top: 16px;
		background: #f2f2f2;
	}
	[data-role="formElementContentInner"] [data-role="formElementWrapper"] {
		width: 100%;
		display: table;
		position: relative;
		border-bottom: none;
	}
	[data-role="formElementContentInner"] [data-role="formElementContainer"]
		{
		padding: 0px 0px 5px 8px;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabel"],[data-role="formElementContentInner"] [data-role="formElementContainer"]
		{
		width: 50%;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabel"] {
		width: 50%;
		padding: 0px 8px 0px 0px;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabelInner"]
		{
		padding: 4px 0px 4px 0px;
	}
	[data-role="formElementContentInner"] [data-role="toolTip"] {
		position: relative;
		top: 0px;
	}
	[data-role="formElementContentInner"]:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -4px;
		top: 16px;
		background: url('../../images/formContentArrow.png');
	}
	
	[data-role="formElementContentInner"] [data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 3px 8px 10px 0px;
	position: relative;
}
	
	
	[data-role="formInlineNote"] {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
		background: #767676;
		padding: 1px 8px 6px 8px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
	}
	[data-role="formElementContentInner"] [data-role="formInlineNote"] {
		padding: 1px 10px 5px 11px;
	}
	[data-role="formInlineNote"]:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/noteArrow.png');
	}
	[data-role="formElementContentInner"] [data-role="formInlineError"] {
		padding: 4px 10px 6px 11px;
	}
	[data-role="formInlineError"] {
		font-size: 13px;
		line-height: 16px;
		background: #ccc;
		color: #000;
		padding: 4px 10px 6px 11px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
		display: none;
	}
	.inputError [data-role="formInlineError"] {
		display: block;
	}
	[data-role="formInlineError"]:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/errorArrow.png');
	}
	
	p[data-role="characterCount"] {
		padding: 2px 0px 0px 0px;
		margin: 0px;
		font-size: 12px;
		line-height: 14px;
		vertical-align: bottom;
		clear: both;
		float: right;
	}
	
	/* Bannerx */
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
	
