#OnlineSMSmartOTP #headerImage {
	background: url("03images/fnb/custom/OnlineSMSmartOTP/bulb-large.png");
	width: 89px;
	height: 154px;
	float: left;
}
#OnlineSMSmartOTP #headerCopy {
	width: 270px;
	color: #009999;
	float: left;
	padding: 0 0 0 20px;
}

#OnlineSMSmartOTP .headerCopy1 {
	font-size: 17px;
	margin: 0 0 20px 0;
}
#OnlineSMSmartOTP .headerCopy2 {
	font-size: 16px;
}
#OnlineSMSmartOTP .headerCopy3 {
	font-size: 55px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	border-bottom: 3px solid ;
	margin: 0 0 10px;
    padding: 0 0 10px;
    display: inline-block;
}
	#OnlineSMSmartOTP .headerCopy3 span{
		font-family: Helvetica,FoundationRoman,Sans-serif;
	}
#OnlineSMSmartOTP .headerCopy4 {
	font-size: 14px;
}

#OnlineSMSmartOTP .splashLeft {
	padding: 90px 40px 0 50px;
	width: 40%;
	position: absolute;
	top: 0;
	bottom: 0;
}
#OnlineSMSmartOTP .splashRight {
	height: 700%;
    left: 40%;
    min-height: 100%;
    padding: 90px 40px 0;
    position: absolute;
    width: 60%;	
    border-left: 6px solid #fff;
}

#OnlineSMSmartOTP .splashRight h2 {
	font-size: 28px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #666666;
	margin: 0 0 25px 0;
	padding: 0;
}
#OnlineSMSmartOTP .splashRight p {
	font-size: 13px;
	padding: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #666666;
	margin: 0 0 20px 0;
}

#OnlineSMSmartOTP a{
	color: #040404;
	font-size: 13px;
	text-decoration: underline;
	padding: 0 0 10px 0;
}
#OnlineSMSmartOTP .linkContainer {
	padding: 0 0 0 0;
}
#OnlineSMSmartOTP .linkContainer a{
	margin: 0 0 10px 0;
}

@media only screen and (max-width: 1179px){
	#OnlineSMSmartOTP #headerImage {
		float: none;
		margin: 0 auto 20px auto;
	}
	#OnlineSMSmartOTP .splashLeft {
		padding: 90px 20px 0 20px;
	}
}

@media only screen and (max-width: 799px){
	#OnlineSMSmartOTP #headerCopy {
		padding: 0;
	}
	#OnlineSMSmartOTP .splashLeft {
		padding: 20px 40px 0 40px;
		width: 100%;
		position: inherit;
		top: 0;
		bottom: 0;
	}
	#OnlineSMSmartOTP .splashRight {
	    padding: 20px 40px 0 40px;
	    position: inherit;
	    width: 100%;
	    border-left: none;
	}
}

@media only screen and (max-width: 799px){
	#OnlineSMSmartOTP .splashLeft {
		padding: 20px 20px 0 20px;
	}
	#OnlineSMSmartOTP .splashRight {
	    padding: 20px 20px 0 20px;
	}
}