.sliderContainer{padding:0px 16px;width:100%;height:100%;}
.singleView {
	border-spacing: 4px 0px;
	border-collapse: separate;
	line-height: 16px;
	width: 100%;
	overflow: hidden;
	position: relative;
	height:100%;
}
.singleViewSlider {
	width: 100%;
}
.singleViewSlide {
	display:block;
	float:left;
	width:100%;
}
.singleViewTitle {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 9px 0;
	text-align: left;
}
.singleViewCategory {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}
.singleViewCategoryInner {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}
.singleViewCategoryInnerLine {
	border: 1px solid black;
	border-bottom :none;
	height: 6px;
	margin-bottom: 2px;
}
.singleViewHeading {
	text-align: left;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 16px;
	color: black;
	line-height: 16px;
	background-color: white;
	padding: 8px;
	display: block;
}
.singleViewSubHeading {
	text-align: left;
	font-size: 11px;
	color: black;
	line-height: 16px;
	background-color: white;
	padding: 8px;
	border-bottom: 1px solid #f2f2f2;
}
.singleViewSubHeadingsLabel {
	background-color: white;
	vertical-align: middle;
	text-align: left;
	padding: 0 8px;
}
.singleViewBenefit {
	background-color: white;
	padding: 8px;
	vertical-align: middle;
}
.singleViewBenefitInner {
	background-color: #ff9900;
	color: white;
}
.singleViewBenefitNumber {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 32px;
	line-height: 16px;
	padding: 8px;
	position: relative;
	top: 4px;
}
.singleViewGroupHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	vertical-align: baseline;
	padding: 8px 8px 2px 0;
}
.singleViewBenefitIncludings {
	background-color: white;
	padding: 8px;
}
.singleViewBenefitIncludesTitle {
	color: #7a7a7a;
}
[data-role="singleViewItem"] {
	background-color: white;
	padding: 0 8px;
}
.singleViewWizard {
	vertical-align: middle;
	text-align: left;
}
.singleViewItemLabel {
	vertical-align: middle;
	text-align: left;
}
.singleViewItemValueInner {
	height: 100%;
	min-height: 100%;
}
.popupMessageAnchor {
	position: relative;
}
.popupMessage {
	position: absolute;
	top: 8px;
	right: 0;
	background-color: #767676;
	color: white;
	padding: 8px;
}
.popupMessage:BEFORE {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	right: 8px;
	top: -4px;
	background: url('../../../../images/noteArrow.png');
}
.slideHeader{display:none;}