[data-role="eziInner"] {
	background: #fff;
}

.instantSales h2 {
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid black;
	/* float: left; */
	display: block;
}

#eziHeaderDiv h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 16px 8px 4px 8px;
	border-top: none;
}

#eziHeaderDiv p {
	font-size: 14px;
	margin: 0px;
	padding: 0px 8px 4px 8px;
}

.instantSales .buttonRow {
	display: block;
	width: 100%;
	clear: both;
	float: left;
	padding: 0px 8px 8px 8px;
}

.instantSales .buttonRow span {
	float: left;
	padding-top: 6px;
	line-height: 24px;
	font-size: 13px;
}

.instantSales .buttonRow a {
	float: right;
}

.instantSales [data-role="formElementLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 6px 0px 0px 0px;
}

.stepsContainer {
	display: block;
	float: left;
	width: 100%;
	clear: both;
}

.stepsInner {
	float: right;
	width: auto;
	clear: both;
}

.stepBox {
	float: left;
}

.stepsContainer .stepBox {
	background: #D8D8D8;
	color: #fff;
	padding: 2px 5px;
	margin: 0 5px 5px 5px;
}

.stepsContainer .stepBox.highlighted {
	background: #009999;
	color: #fff;
}

.selectedCard {
	clear: both;
	margin: 10px 0;
}

.selectedCard .width50 {
	width: 50%;
	float: left;
}

.selectedCardContainer a {
	float: right;
	font-weight: normal;
	padding: 0px 8px 0px 0px
}

.selectedCard {
	font-weight: bold;
	padding: 0px 0px 0px 8px
}

.iconLinksWidget {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 8px;
}

.iconLinksWidget .iconContainer {
	height: 30px;
	line-height: 30px;
	width: 50%;
	display: block;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 35px;
	cursor: pointer;
	position:relative;
font-size: 13px;
}
.iconLinksWidget .iconContainer a {
	text-decoration: none;
}
.iconLinksWidget .iconContainer.Cellphone {
	background: url("/Sales/03images/sales/icon_cellbanking.png") no-repeat;
}
.iconLinksWidget .iconContainer.Ebucks {
	background: url("/Sales/03images/sales/icon_ebucks.png") no-repeat;
}
.iconLinksWidget .iconContainer.Screen {
	background: url("/Sales/03images/sales/icon_onlinebanking.png") no-repeat;
}
.iconContainer .iconContent{
		position:absolute;
		width:100%;
		top:0px;
		left:0px;
		background:white;
		display:none;	
}