/*Fonts*/

/*Fonts End*/
/* reset css - eric meyer v2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
	font-size:13px;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix hack */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* reset end */

/*FRAME SCAFFOLDING
	Developer: Mike Stott
*/
html,body {
	padding: 0px;
	margin: 0px;
	height: auto;
	min-height: 100%;
}

html {
	margin: 0 auto;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	overflow-y:scroll;
}
img {
	max-width: 100%;
}
#fullBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	background: #777 url('../../images/bg/bg4.jpg') top center no-repeat fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  
	background-size: cover;
}

	#fullBg{
		background-image: url('../../images/bg/mobile/bg18.jpg');
	}
	[data-pageCategory="cat1"] #fullBg{
		background-image: url('../../images/bg/mobile/bg8.jpg');
	}
	[data-pageCategory="cat2"] #fullBg{
		background-image: url('../../images/bg/mobile/bg17.jpg');
	}
	[data-pageCategory="cat3"] #fullBg{
		background-image: url('../../images/bg/mobile/bg16.jpg');
	}
	[data-pageCategory="cat4"] #fullBg{
		background-image: url('../../images/bg/mobile/bg17.jpg');
	}
	[data-pageCategory="cat5"] #fullBg{
		background-imaged: url('../../images/bg/mobile/bg6.jpg');
	}
	[data-pageCategory="cat6"] #fullBg{
		background-image: url('../../images/bg/mobile/bg7.jpg');
	}
	[data-pageCategory="cat7"] #fullBg{
		background-image: url('../../images/bg/mobile/bg8.jpg');
	}

footer {
	background: black;;
}
#pageContentWrapper {
	width: inherit;
	display: block;
	border-spacing: 0;
	padding: 60px 0 0 0;
	margin: 0;
	color: black;
	min-height: 100%;
}
.menuActive #pageContentWrapper {
	display: none;
}
[data-visible="false"]#pageContentWrapper {
	display: none;
}
#pageContentOuter {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 0 0 12.5%;
	background: none;
}
#pageContentWrapper:AFTER {
	ontent: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#pageContent {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 20px 0 58px 0;
	background-color: white;
}




.bodyWidth {
	width: 100%;
}
[data-fixed="false"] header {
/* 	position: relative; */
}
[data-role="headerCornerImg"] {
	background: url('../../images/frameTopCorner.png');
	display: block;
	width: 20px;
	height: 6px;
	position: absolute;
	left: 8px;
	bottom: -2px;
}
div[data-role="footerCornerImg"] {
	background:
		url('../../images/frameBottomCorner.png');
	display: block;
	width: 26px;
	height: 6px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.fullHeight {
	height: auto;
	min-height: 100%;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
	
}

.nowrap {
	white-space: nowrap;
}
.currency {
	white-space: nowrap;
}

.expander { cursor: pointer; }
.expandable { display: none; }
.expanded .expandable { display: block; }

.hideAndExpand { cursor: pointer; display: block;}
.hideAndExpand.alternate { display: none; }
.flipped .hideAndExpand { display: none; }
.flipped .hideAndExpand.alternate { cursor: pointer; display: block; }

/*FRAME SCAFFOLDING END*/


@media only screen and (min-width : 400px) {
/* 	[data-menuActive="true"] #pageContentWrapper { */
/* 		display: block; */
/* 	} */
	footer {
		background: black;;
	}
	#pageContent {
		width: 100%;
		margin: 0;
		padding: 20px 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0 0 0 25%;
		background: none;
	}
}
@media only screen and (min-width : 800px) {
	#fullBg{
		background-image: url('../../images/bg/bg18.jpg');
	}
	[data-pageCategory="cat1"] #fullBg{
		background: url('../../images/bg/bg8.jpg') 0px 0px no-repeat fixed;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  
	background-size: cover;
	}
	[data-pageCategory="cat2"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat3"] #fullBg{
		background-image: url('../../images/bg/bg16.jpg');
	}
	[data-pageCategory="cat4"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat5"] #fullBg{
		background-imaged: url('../../images/bg/bg6.jpg');
	}
	[data-pageCategory="cat6"] #fullBg{
		background-image: url('../../images/bg/bg7.jpg');
	}
	[data-pageCategory="cat7"] #fullBg{
		background-image: url('../../images/bg/bg18.jpg');
	}
	#pageContentWrapper {
		padding: 0;
	}
	#pageContent {
		width: 100%;
		margin: 0;
		padding: 200px 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 62.5%;
		margin: 0px 0px 0px 25%;
		padding: 0 6.25% 0 0;
		background: transparent url('../../images/transparent70.png') top left repeat fixed;
	}
	[data-pageCategory="home"] #pageContentOuter {
		background: none;
		width: 75%;
	}
	[data-pageCategory="home"] #pageContent {
		margin-top: 200px;
	}
}