#theGridToggleButton {
  position: fixed;
  top: 0;
  left: 10px;
  padding: 4px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 10px;
  z-index: 9999; }

.theGrigWidth {
  filter: alpha(opacity=20);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  z-index: 9999;
  width: 100%;
  font-size: 10px; }

#theGridOverlayRows,
#theGridOverlayCols {
  position: absolute;
  display: block;
  z-index: 0;
  height: 100%;
  zoom: 1;
  width: 100%; }

#theGridOverlayCols {
  position: fixed; 
  float: left; }

#theGridOverlayRows[data-visible="false"],
#theGridOverlayCols[data-visible="false"] {
  display: none; }

.theGridOverlayRow {
  border-bottom: 1px #777 solid;
  height: 10px; }

.theGridOverlayRow:nth-child(10n+0) {
  border-bottom: 1px black solid;
}
.theGridOverlayCol {
  height: 100%;}

.theGridOverlayCol.last {}

.theGridOverlaySubCol {
  border-left: 1px #777 solid;
  width: 0.625%;
  height: 100%;
  float: left; }

.theGridOverlaySubCol:nth-child(10n+1) {
  border-left: 1px black solid;
}

.theGridOverlaySubCol:nth-child(20n+1) {
  background-color: red;
}
.theGridOverlaySubCol:nth-child(20n+0) {
  background-color: red;
}

.theGridRowCount {
  color: black;
  position: absolute; }

.theGridColCount {
  color: black;
  position: absolute; }

.theGridSubColCount {
  color: #cccccc;
  position: absolute; }

