.Hhide{
	display:none!important;
}
.clipOverflow{
	overflow: hidden;
	height: 100%;
}
/*Design grid*/
[data-role="grid"] {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}

[data-role="gridRow"] {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

[data-role="gridColHeading"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
}

[data-role="gridCol"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
}
/*GRID LAYOUT COMPONENT
	Developer: Mike Stott
*/
[data-role="gridGroup"] {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}

[data-role="gridGroupInner"] {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

[data-role="gridGroupContent"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
}
/*Colors  */
[data-background="white"] {
	background: #fff;
}

[data-background="grey1"] {
	background: #f8f8f8;
}

[data-background="grey2"] {
	background: #999;
}

[data-background="grey3"] {
	background: #f2f2f2;
}
/*Colors End*/
.borderRight {
	border-right: 2px solid white;
}

.borderLeft {
	border-left: 2px solid white;
}
/*Borders End  */
/*GRID LAYOUT COMPONENT END*/

/* Developer: Donovan
Checkbox */
[data-role="checkBox"] {
	margin-top: 10px;
	width: 24px;
	height: 24px;
	text-indent: 34px;
	border: 1px solid #277093;
	background:
		url("../images/checkbox/checkbox_sprite.png") 0 200px
		no-repeat #FFF;
	cursor: pointer;
}

[data-role="checkBox"][data-state="checked"] {
	background-position: 3px 3px;
	border-color: #277093;
}

[data-role="checkBox"][data-disabled="true"] {
	background: #e7e7e7;
	color: #bcbcbc;
	border: 1px solid #bcbcbc;
}
/* Checkbox end */

/* Developer: Donovan
Input */
[data-role="input"] {
	background-color: #FFF;
	padding: 0px 10px;
	line-height: 20px;
	border: 1px solid #277093;
	border-radius: 0;
	height: 20px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
}
#login [data-role="input"] {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: 1px solid #277093;
	border-radius: 0;
	height: 30px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
}

input:disabled {
	background: #e7e7e7;
	border: 1px solid #bcbcbc;
	color: #bcbcbc;
}

[data-role="dropdownInput"] {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: 1px solid #277093;
	border-radius: 0;
	height: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
}

[data-role="input"]:focus {
	border: 2px solid #277093;
	outline: 0;
}

[data-role="dropdownInput"]:focus {
	border: 2px solid #277093;
	outline: 0;
}

/* Developer: Donovan
Masked Input */
[data-placeholderIs="true"] {
	color: #DBDBDB;
}
/* Input end */

/*HEADER + TOP TABS END*/
div[data-role="actionMenuBttLabelWrapper"] {
	position: absolute;
	height: 100%;
	width: 100%;
	background:
		url("../images/actionMenu/actionMenuButtonArrow.png")
		#277093 no-repeat center 6px;
	left: -22px;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
	left: 0;
}

.HoffScreen {
	left: -22px;
}

span[data-labelClass="actionMenuDropdownLabel"] {
	background:
		url("../images/actionMenu/dropdownsLabel.png")
		no-repeat center center;
	position: absolute;
	width: 14px;
	height: 92px;
	left: 5px;
	bottom: 8px;
}

/*FOOTER
	Developer: Mike Stott
*/
[data-type="eziWrapperLeft"] {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	width: 60%;
}

[data-type="eziWrapperRight"] {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	background: #f2f2f2;
	width: 40%;
}

[data-role="eziInner"] {
	width: 100%;
	height: 100%;
	position: relative;
}

[data-role="eziInnerTwo"] {
	width: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

[data-role="gridColEzi"] {
	display: table-cell;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
}
/*OVERLAY
	Developer: Mike Stott
*/
[data-role="overlay"] {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	display: block;
	padding-left: 24px
}

[data-role="overlayInner"] {
	width: 100%;
	display: table;
	height: 100%;
	background: url('../images/overlayBg.png') repeat;
}
/*OVERLAY END*/
[data-role="popup"] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

[data-role="popupInner"] {
	background: #277093;
	height: 200px;
	width: 100%;
}

/* Developer Donovan
Loader START*/
[data-role="loader"].Hhide {
	display: block;
}
[data-role="loader"] {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	position: absolute;
	bottom: 50px;
}

[data-role="loaderInner"] {
	height: 17px;
	color: white;
	line-height: 32px;
	font-size: 20px;
	overflow: hidden;
}

[data-role="loaderProgress"] {
	background: #277093;
	height: 10px;
	width: 0;
}

[data-role="loaderText"] {
	display: none;
}

[data-role="loaderPercentage"] {
	float: right;
	padding-right: 8px;
}

/* Developer Donovan
Loader END*/

/* Developer Donovan
Datepicker START*/
[data-role="datePickerMonthWrapper"] {
	float: left;
	width: 5.55%;
	font-size: 24px;
	line-height: 20px;
}

[data-role="datePickerCalendar"] {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

[data-role="datePickerCalendar"] tr:last-child td {
	padding: 0 0 25px 0;
}

[data-role="datePickerCalendar"] th {
	border-left: solid #fff 1px;
}

[data-role="datePickerCalendar"] td {
	border-left: solid #fff 1px;
}

[data-role="datePickerCalendar"] th:last-child {
	border-right: solid #fff 1px;
}

[data-role="datePickerCalendar"] td:last-child {
	border-right: solid #fff 1px;
}

[data-role="datePickerWrapper"] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

[data-role="datePickerInner"] {
	background: #277093;
	width: 100%;
	float: left;
	position: relative;
	padding: 0 10% 0 10%;
	height: 250px;
}

[data-role="datePickerClose"] {
	background: url("../images/datePicker/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

[data-role="dateLeftScrollArrow"] {
	background:
		url("../images/arrows/datePickerLeftArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	left: 0;
	border: none;
}

[data-role="dateRightScrollArrow"] {
	background:
		url("../images/arrows/datePickerRightArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	right: 0;
	border: none;
}

[data-role="datePickerScrollerWrapper"] {
	position: absolute;
	left: 10%;
	right: 10%;
	overflow: hidden;
}

[data-role="datePickerScroller"] {
	float: left;
	position: relative;
	width: 100%;
}

[data-role="datePickerTitle"] {
	text-align: left;
	color: #fff;
	padding: 0 5px 0 0;
}

[data-role="datePickerMonth"] {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
	line-height: 38px;
}

[data-role="datePickerYear"] {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
}

[data-role="datePickerDate"][data-active="true"] {
	text-align: left;
	color: #fff;
	cursor: pointer;
}

[data-role="datePickerDate"][data-active="true"]:hover {
	color: #ffcc33;
}

[data-role="datePickerDate"][data-selected="true"] {
	color: #ffcc33;
}

[data-role="datePickerDayLabel"] {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 15px 0 0 0;
	border-spacing: 0;
}

[data-role="datePickerWeekEndLabel"] {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 20px 0 0 0;
	border-spacing: 0;
}

[data-role="datePickerDate"] {
	padding: 0;
	border-spacing: 0;
}

[data-dayName="Sat"][data-active="true"] {
	color: #c7c7c7;
}

[data-dayName="Sun"][data-active="true"] {
	color: #c7c7c7;
}

[data-role="datePicker"] {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[data-role="datePickerLabelTop"] {
	float: left;
	width: 100%;
	padding: 1px 0 4px 0;
}

[data-role="datePickerLabelBottom"] {
	float: left;
	width: 100%;
	padding: 3px 0 4px 0;
}

[data-role="datePickerCarat"] {
	content: '';
	position: absolute;
	right: 10px;
	top: 3px;
	z-index: 2;
	background: url("../images/datePicker/calendarIcon.png")
		no-repeat center center #277093;
	width: 22px;
	height: 22px;
	left: -11px;
}

[data-role="datePickerSelected"] {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	padding: 6px 0px 6px 14px;
	border: 1px solid #277093;
	background-color: #FFF;
	height: 65px;
	min-width: 90px;
}

/* Developer:Donovan
Error */
[data-role="error"] {
	color: #fff;
	min-height: 64px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	position: fixed;
	top: 0;
	display: table;
	min-height: 70%;
}

[data-role="errorInnerWrapper"] {
	position: absolute;
	top: 30%;
	width: 100%;
}

[data-role="errorInner"] {
	background: #277093;
	font-size: 13px;
	line-height: 16px;
	border: 2px solid #e1e1e1;
	border-left: none;
	border-right: none;
	position: relative;
	min-height: 150px;
	padding: 20px 40px 20px 20px;
}

[data-role="errorClose"] {
	background: url("../../images/closeButton.png") no-repeat center center;
	width: 36px;
	height: 36px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 4px;
	border: none;
}
/*HELPER STYES
	Developer: Mike Stott, Donovan Phillips
*/


[data-transparent="true"] {
	opacity: 0;
}
/*LAYER INDEXES
	Developer: Mike Stott
*/
[data-index="10"] {
	z-index: 10;
}

[data-index="20"] {
	z-index: 20;
}

[data-index="30"] {
	z-index: 30;
}

[data-index="40"] {
	z-index: 40;
}

[data-index="50"] {
	z-index: 50;
}

[data-index="60"] {
	z-index: 60;
}

[data-index="70"] {
	z-index: 70;
}

[data-index="80"] {
	z-index: 80;
}

[data-index="90"] {
	z-index: 90;
}

[data-index="100"] {
	z-index: 100;
}
/*left offsets for positioning*/
[data-leftOffset="1"] {
	margin-left: 10%
}

[data-leftOffset="2"] {
	margin-left: 20%
}

[data-leftOffset="3"] {
	margin-left: 30%
}

[data-leftOffset="4"] {
	margin-left: 40%
}

[data-leftOffset="5"] {
	margin-left: 50%
}

[data-leftOffset="6"] {
	margin-left: 0%
}

[data-leftOffset="7"] {
	margin-left: 25%
}

[data-leftOffset="8"] {
	margin-left: 50%
}

[data-leftOffset="9"] {
	margin-left: 75%
}
/* Developer:Donovan
StandardButton */
[data-role="standardButton"] {
	background-color: #73C7C7;
	color: #000;
	height: 30px;
	text-align: center;
	line-height: 18px;
	display: block;
	font-size: 13px;
	border: 0 none;
	cursor: pointer;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

[data-role="standardButton"]:hover {
	background-color: #92C9C9;
}
/* DON TESTING SCROLLER BUTTONS */
[data-role="mainTabSlider"] {
	background: none repeat scroll 0 0 #92CAC9;
	position: absolute;
	height: 4px;
	bottom: 0px;
	left: 0;
}

button[data-role="topTabScrollButton"] {
	height: 36px;
	width: 30px;
	border: none;
	position: absolute;
	top: 26px;
}

button[data-role="topTabScrollButton"][data-position="left"] {
	left: 0px;
	background: url('../images/arrows/leftArrowGreySmall.png') top center no-repeat;
}

button[data-role="topTabScrollButton"][data-position="right"] {
	right: 0px;
	background:
		url('../images/arrows/rightArrowGreySmall.png') top
		right no-repeat;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Developer Donovan
300ms CSS3 Transitions */
[data-role="loaderPercentage"] {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
/* Developer Donovan
150ms CSS3 Transitions */
[data-role="dropdown"],[data-role="dropdownContent"],[data-role="dropdownContent"]:after,[data-role="dropdownItem"],[data-role="mainTabSlider"],[data-role="loaderProgress"],[data-role="loaderPercentage"][data-role="error"][data-role="radioButton"]
	{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
/* Developer Donovan
50ms CSS3 Transitions */
[data-role="overlay"],#eziOverlay {
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in-out;
	-ms-transition: all 50ms ease-in-out;
	transition: all 50ms ease-in-out;
}

div[data-event="click"] [data-role="dropdownSelectWrapper"] {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

[data-type="threeTier"] [data-role="dropdownSelected"] {
	height: 64px;
}

.loading {
	color: inherit;
	-webkit-animation-name: flash;
	animation-name: flash;
	 -webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	text-align: center;
	padding: 20px 0;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@media only screen and (min-width : 800px) {
	[data-role="overlay"] {
		padding-left: 0px
	}
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="33"] {
		width: 33.3333%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="76"] {
		width: 76.6666%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}

	/*left offsets for positioning*/
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}
	/* 	
	Developer: Donovan
	Datepicker
	 */
	[data-role="datePickerMonthWrapper"] {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	[data-role="dateLeftScrollArrow"] {
		background:
			url("../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	[data-role="dateRightScrollArrow"] {
		background:
			url("../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	[data-role="datePickerMonth"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	[data-role="datePickerYear"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	[data-role="datePickerInner"] {
		background: #277093;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	/* 	
	Developer: Donovan
	Datepicker END
	 */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1290px) {
}

.HclipOverflow {
	overflow: hidden;
	height: 100%;
}
.HbodyClipOverflow{
	overflow: hidden;
	height: 100%;
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and
	(orientation : landscape) {
	.mobileBrowser header {
		position: relative;
	}
	.mobileBrowser #pageContentWrapper {
		height: auto;
	}
	.mobileBrowser footer {
		position: relative;
		clear: both;
		float: left;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}

@media only screen and (min-width : 320px) and (max-width : 640px) and
	(orientation : landscape) {
	.mobileBrowser header {
		position: relative;
	}
	.mobileBrowser #pageContentWrapper {
		height: auto;
	}
	.mobileBrowser footer {
		position: relative;
		clear: both;
		float: left;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}
/*Fonts*/

/*Fonts End*/
/* reset css - eric meyer v2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
	font-size:13px;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix hack */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* reset end */

/*FRAME SCAFFOLDING
	Developer: Mike Stott
*/
html,body {
	padding: 0px;
	margin: 0px;
	height: auto;
	min-height: 100%;
}

html {
	margin: 0 auto;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	overflow-y:scroll;
}
img {
	max-width: 100%;
}
#fullBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	background: #777 url('../../images/bg/bg4.jpg') top center no-repeat fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  
	background-size: cover;
}

	#fullBg{
		background-image: url('../../images/bg/mobile/bg18.jpg');
	}
	[data-pageCategory="cat1"] #fullBg{
		background-image: url('../../images/bg/mobile/bg8.jpg');
	}
	[data-pageCategory="cat2"] #fullBg{
		background-image: url('../../images/bg/mobile/bg17.jpg');
	}
	[data-pageCategory="cat3"] #fullBg{
		background-image: url('../../images/bg/mobile/bg16.jpg');
	}
	[data-pageCategory="cat4"] #fullBg{
		background-image: url('../../images/bg/mobile/bg17.jpg');
	}
	[data-pageCategory="cat5"] #fullBg{
		background-imaged: url('../../images/bg/mobile/bg6.jpg');
	}
	[data-pageCategory="cat6"] #fullBg{
		background-image: url('../../images/bg/mobile/bg7.jpg');
	}
	[data-pageCategory="cat7"] #fullBg{
		background-image: url('../../images/bg/mobile/bg8.jpg');
	}

footer {
	background: black;;
}
#pageContentWrapper {
	width: inherit;
	display: block;
	border-spacing: 0;
	padding: 60px 0 0 0;
	margin: 0;
	color: black;
	min-height: 100%;
}
.menuActive #pageContentWrapper {
	display: none;
}
[data-visible="false"]#pageContentWrapper {
	display: none;
}
#pageContentOuter {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 0 0 12.5%;
	background: none;
}
#pageContentWrapper:AFTER {
	ontent: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#pageContent {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 20px 0 58px 0;
	background-color: white;
}




.bodyWidth {
	width: 100%;
}
[data-fixed="false"] header {
/* 	position: relative; */
}
[data-role="headerCornerImg"] {
	background: url('../../images/frameTopCorner.png');
	display: block;
	width: 20px;
	height: 6px;
	position: absolute;
	left: 8px;
	bottom: -2px;
}
div[data-role="footerCornerImg"] {
	background:
		url('../../images/frameBottomCorner.png');
	display: block;
	width: 26px;
	height: 6px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.fullHeight {
	height: auto;
	min-height: 100%;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
	
}

.nowrap {
	white-space: nowrap;
}
.currency {
	white-space: nowrap;
}

.expander { cursor: pointer; }
.expandable { display: none; }
.expanded .expandable { display: block; }

.hideAndExpand { cursor: pointer; display: block;}
.hideAndExpand.alternate { display: none; }
.flipped .hideAndExpand { display: none; }
.flipped .hideAndExpand.alternate { cursor: pointer; display: block; }

/*FRAME SCAFFOLDING END*/


@media only screen and (min-width : 400px) {
/* 	[data-menuActive="true"] #pageContentWrapper { */
/* 		display: block; */
/* 	} */
	footer {
		background: black;;
	}
	#pageContent {
		width: 100%;
		margin: 0;
		padding: 20px 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0 0 0 25%;
		background: none;
	}
}
@media only screen and (min-width : 800px) {
	#fullBg{
		background-image: url('../../images/bg/bg18.jpg');
	}
	[data-pageCategory="cat1"] #fullBg{
		background: url('../../images/bg/bg8.jpg') 0px 0px no-repeat fixed;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  
	background-size: cover;
	}
	[data-pageCategory="cat2"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat3"] #fullBg{
		background-image: url('../../images/bg/bg16.jpg');
	}
	[data-pageCategory="cat4"] #fullBg{
		background-image: url('../../images/bg/bg17.jpg');
	}
	[data-pageCategory="cat5"] #fullBg{
		background-imaged: url('../../images/bg/bg6.jpg');
	}
	[data-pageCategory="cat6"] #fullBg{
		background-image: url('../../images/bg/bg7.jpg');
	}
	[data-pageCategory="cat7"] #fullBg{
		background-image: url('../../images/bg/bg18.jpg');
	}
	#pageContentWrapper {
		padding: 0;
	}
	#pageContent {
		width: 100%;
		margin: 0;
		padding: 200px 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 62.5%;
		margin: 0px 0px 0px 25%;
		padding: 0 6.25% 0 0;
		background: transparent url('../../images/transparent70.png') top left repeat fixed;
	}
	[data-pageCategory="home"] #pageContentOuter {
		background: none;
		width: 75%;
	}
	[data-pageCategory="home"] #pageContent {
		margin-top: 200px;
	}
}
#theGridToggleButton {
  position: fixed;
  top: 0;
  left: 10px;
  padding: 4px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 10px;
  z-index: 9999; }

.theGrigWidth {
  filter: alpha(opacity=20);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  z-index: 9999;
  width: 100%;
  font-size: 10px; }

#theGridOverlayRows,
#theGridOverlayCols {
  position: absolute;
  display: block;
  z-index: 0;
  height: 100%;
  zoom: 1;
  width: 100%; }

#theGridOverlayCols {
  position: fixed; 
  float: left; }

#theGridOverlayRows[data-visible="false"],
#theGridOverlayCols[data-visible="false"] {
  display: none; }

.theGridOverlayRow {
  border-bottom: 1px #777 solid;
  height: 10px; }

.theGridOverlayRow:nth-child(10n+0) {
  border-bottom: 1px black solid;
}
.theGridOverlayCol {
  height: 100%;}

.theGridOverlayCol.last {}

.theGridOverlaySubCol {
  border-left: 1px #777 solid;
  width: 0.625%;
  height: 100%;
  float: left; }

.theGridOverlaySubCol:nth-child(10n+1) {
  border-left: 1px black solid;
}

.theGridOverlaySubCol:nth-child(20n+1) {
  background-color: red;
}
.theGridOverlaySubCol:nth-child(20n+0) {
  background-color: red;
}

.theGridRowCount {
  color: black;
  position: absolute; }

.theGridColCount {
  color: black;
  position: absolute; }

.theGridSubColCount {
  color: #cccccc;
  position: absolute; }

