.dailyProfileLimitsPage #dailyLimitsCaptureForm .col4.orangeNote {
visibility:hidden;
height:1px;
}

.dailyProfileLimitsPage #dailyLimitsCaptureForm .orangeNote {
color:#FF9900;
}

.dailyProfileLimitsPage #dailyLimitsCaptureForm .orangeNote.hideNote {
display:none;
}

.dailyProfileLimitsPage #dailyLimitsCaptureForm .orangeNote.displayNote {
visibility:visible;
height:auto;
}

.dailyProfileLimitsPage #dailyLimitsCaptureForm .orangeNote .tableCellItem {
line-height:16px;
}

.dailyProfileLimitsPage .tableCell.col1 {
    background: none;
}

.confirmPage .tableRow{
border-bottom: 1px solid #009999;
}

@media only screen and (max-width: 799px){

.dailyProfileLimitsPage.confirmPage.singlePayment .col1,.dailyProfileLimitsPage.confirmPage.singlePayment .col2,.dailyProfileLimitsPage.confirmPage.singlePayment .col3,.dailyProfileLimitsPage.confirmPage.singlePayment .col4{
width:100%;
}
	
.dailyProfileLimitsPage .tableCell {
width:100%;
}

.dailyProfileLimitsPage .tableCellItem{
text-align:left;
}

.dailyProfileLimitsPage .tableCell.col1 {
    background: #95D1D0;
}

.dailyProfileLimitsPage .alignCenter,.dailyProfileLimitsPage .centerContent, .dailyProfileLimitsPage .alignRight{
text-align:left;
}

}