<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
		<script src="js/holder.js"></script>
		<script src="js/run.js"></script>
	    <link href="css/dashboard.css" rel="stylesheet"></link>
    </h:head>
    <h:body>
		<img id="success.holder" data-src="holder.js/30x30/auto/vine/text: " class="img-responsive" style="display:none" alt="Generic placeholder thumbnail"></img>
		<img id="failed.holder"  data-src="holder.js/30x30/auto/lava/text: " class="img-responsive" style="display:none" alt="Generic placeholder thumbnail"></img>
    	
   		<h:dataTable value="#{products.products}" var="o" border="1">
   			<h:column>
   				#{o.name}
   			</h:column>
   			<h:column>
   				<f:facet name="header">Setup</f:facet>
   				<div id="#{o.productCode}.step.1"></div>
   			</h:column>
   			<h:column>
   				<f:facet name="header">Start</f:facet>
   				<div id="#{o.productCode}.step.2"></div>
   			</h:column>
   			<h:column>
   				<f:facet name="header">Score</f:facet>
   				<div id="#{o.productCode}.step.3"></div>
   			</h:column>
   			<h:column>
   				<f:facet name="header">Customize</f:facet>
   				<div id="#{o.productCode}.step.4"></div>
   			</h:column>
   			<h:column>
   				<f:facet name="header">Open</f:facet>
   				<div id="#{o.productCode}.step.5"></div>
   			</h:column>
   			<h:column>
   				<f:facet name="header">Verify</f:facet>
   				<div id="#{o.productCode}.step.6"></div>
   			</h:column>
   		</h:dataTable>
   		
   		<br/>

		<h:commandButton onclick="checkForUpdates();" type="button" value="Check for Update"/>   		
    </h:body>
</html>
