<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>

		<h:form>
	        <h:inputText value="#{messaging.queue}" />
	        <br/>
	        <h:outputLabel value="#{messaging.status}" />
	        <br/>
	        <h:commandButton value="Send Message" type="submit" action="#{messaging.goSendMessage}" />
		</h:form>
		        
    </h:body>
</html>
