footer {
	clear: both;
	position: relative;
	height: 57px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	z-index: 55;
	border-top: 2px solid #AEAEA2;
	background: black;
}

#footerButtonsContainer {
	width: auto;
	height: 30px;
}
#footerContainerA {
	display: none;
	height: 100%;
	width: 50%;
	color: white;
	float: none;
	font-size: 25px;
	line-height: 50px;
	padding-left: 10px
}
#footerContainerA img {
	height: 20%;
}
#footerContainerB {
	height: 100%;
	width: 100%;
	color: white;
	float: none;
	text-align: left;
	padding: 10px;
	font-size: 11px;
}

[data-role="footerInner"] {
	width: 100%;
	border-top: 4px solid white;
	height: 30px;
	position: relative;
}
[data-role="footerContainer"] {
	height: 30px;
}


[data-role="footerButtonLabel"] {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	text-align: left;
}

[data-role="footerButton"]:first-child {
	border: none;
}

[data-role="footerContactInfo"] {
	background: darkgrey;
	border: none;
	color: whitesmoke;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerButton"] {
	background: #277093;
	border: none;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerContactInfoLabel"] {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	text-align: left;
}

[data-role="footerContactInfo"]:first-child {
	border: none;
}

@media only screen and (min-width : 400px) {
	footer {
		position: fixed;
		bottom: 0;
	}
	#footerContainerA {
		float:left;
	}
	#footerContainerB {
		float: left;
	}
}
@media only screen and (min-width : 800px) {
	footer {
		height: 57px;
		border-top: 2px solid #AEAEA2;
	}
	#footerContainerA {
		display: block;
	}
	#footerContainerB {
		width: 50%;
		font-size: 11px;
		text-align: right;
	}
	[data-role="footerContactInfo"] {
		width: 10%;
	}
}