footer {
	clear: both;
	position: relative;
	height: 57px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	z-index: 55;
	border-top: 2px solid #AEAEA2;
	background: black;
}

#footerButtonsContainer {
	width: auto;
	height: 30px;
}
#footerContainerA {
	display: none;
	height: 100%;
	width: 50%;
	color: white;
	float: none;
	font-size: 25px;
	line-height: 50px;
	padding-left: 10px
}
#footerContainerA img {
	height: 20%;
}
#footerContainerB {
	height: 100%;
	width: 100%;
	color: white;
	float: none;
	text-align: left;
	padding: 10px;
	font-size: 11px;
}

[data-role="footerInner"] {
	width: 100%;
	border-top: 4px solid white;
	height: 30px;
	position: relative;
}
[data-role="footerContainer"] {
	height: 30px;
}


[data-role="footerButtonLabel"] {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	text-align: left;
}

[data-role="footerButton"]:first-child {
	border: none;
}

[data-role="footerContactInfo"] {
	background: darkgrey;
	border: none;
	color: whitesmoke;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerButton"] {
	background: #277093;
	border: none;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerContactInfoLabel"] {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	text-align: left;
}

[data-role="footerContactInfo"]:first-child {
	border: none;
}

@media only screen and (min-width : 400px) {
	footer {
		position: fixed;
		bottom: 0;
	}
	#footerContainerA {
		float:left;
	}
	#footerContainerB {
		float: left;
	}
}
@media only screen and (min-width : 800px) {
	footer {
		height: 57px;
		border-top: 2px solid #AEAEA2;
	}
	#footerContainerA {
		display: block;
	}
	#footerContainerB {
		width: 50%;
		font-size: 11px;
		text-align: right;
	}
	[data-role="footerContactInfo"] {
		width: 10%;
	}
}
.headerContent {
	position: fixed;
	top: 0px;
	height: 60px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	padding: 0px 0px 0px 0px;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.headerContent #logo{
	position: fixed;
	top: 0px;
	height: 51px;
	width: 115px;
	background: transparent url("../../images/logos/phone-logo.png") no-repeat scroll top left;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
}

#homeLogin {
	display:none;	
}
[data-role="headerContainer"] {
	position: relative;
	background: #f2f2f2;
}

.homeButtonWrapper {
	background: transparent url("../../images/logos/header100.png") repeat-x scroll left -42px;
}
[data-role="homeButton"] {
	background: transparent url("../../images/logos/phone-logo.png") no-repeat scroll 10px 6px;
	height: 60px;
}

.headerInner {
	display: table-row;
	width: 100%;
	padding: 0px;
}
.homeButtonWrapper {
	display: table-cell;
	min-width: 115px;
	height: 50px;
}
.homeButtonEdge {
	display: table-cell;
	width: 0px;
}
[data-role="headerButtons"] {
	display: table-cell;
	vertical-align: top;
	color: white;
	padding: 10px 0;
	background: transparent url("../../images/logos/rmb-phone-header.jpg") repeat-x scroll left 0px;
}
[data-role="headerButtonsInner"] {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 30px;
	font-size: 11px;
}
[data-role="headerButtons"] [data-role="input"] {
	float: left;
	border: none;
}
[data-role="headerButtons"] [data-role="input"]:focus {
border: none;
outline: 0;
}
#searchButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/search.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	overflow: hidden;
	text-indent: -100%;
	vertical-align: middle;
	text-decoration: none;
	height: 30px;
	border-right: 1px solid black;
}
#ContactButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/contact.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}
#ResetButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/settings.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

#RegisterButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/register.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

.loginPopupLinks{
	float: left;
	text-decoration: underline;
	width: 100%;
	padding: 8px 8px 8px 8px;
}

#mobileLogin [data-role="formInlineError"]{
	display:block;
}

#login {
	display: table-cell;
/* 	width: 14.2857142857%; */
	text-align: right;
	position: relative;
}

#loginButton {
	background-color: #277093;
	color: white;
	width: 33.3%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#popupLoginButton{
	background-color: #277093;
	color: white;
	width: 100%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#LOGIN_FORM [data-role="loginMessages"] {
	display: none;
	background-color: #277093;
	color: white;
	width: 100%;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 9999;
	padding: 8px;
	text-align: left;
}

#LOGIN_FORM [data-role="loginMessages"]:BEFORE {
	display: none;
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

#LOGIN_FORM.submitError [data-role="loginMessages"],
#LOGIN_FORM.submitError [data-role="loginMessages"]:BEFORE,
#LOGIN_FORM.inputError [data-role="loginMessages"],
#LOGIN_FORM.inputError [data-role="loginMessages"]:BEFORE {
	display: block;
}

#login [data-role="formElementWrapper"] {
float: left;
width: 33.3%;
border-bottom: none;
position: static;
}

#login [data-role="formElementLabel"] {
display:none;
}
#login [data-role="formElementContainer"] {
width: 100%;
padding: 0;
position: static;
}

#login [data-role="formInlineError"]{
position: absolute;
top: 30px;
z-index: 200;
text-align: left;
}

#inlineError_Password {
left: 0;
}
#inlineError_Password[data-role="formInlineError"]:before {
left: 35%;
}
#login {
	display:block;
}
/* Mobile Login form */
#mobileLogin #loginButton{
	background-color: #277093;
	color: white;

	width: 25%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	float: right;
	margin: 8px 8px 8px 8px;
	height: 30px;
}
#mobileLogin{
	position: absolute;
	height: 100%;
	z-index: 200;
	background-color: #fff;
	top: 0;
	/* display: none; */
}

[data-role="blackCloseButton"] {
	background: url("../../images/login/close.jpg") no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 5px;
	border: none;
}

[data-role="greyHeaderWrpaper"]{
	background-color: #f7f7f7;
	padding: 5px 0 5px 0;
	float: left;
	width: 100%;
}

[data-role="greyHeaderWrpaper"] h3{
	line-height: 21px;
	/* width: 50%; */
	padding: 0;
	margin: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0px 8px 0px 8px;
}

#mobileLogin a{
	padding: 8px 8px 8px 8px;
	/* margin: 8px; */
	float: left;
	width: 100%;
}
#headerButtonMenu {
	position: fixed;
	top: 0%;
	left: 0;
	min-height: 240px;
	width: 100%;
	background-color: #1F1F1F;
	border-bottom: 2px solid #AEAEA2;
	color: white;
	transition: all 0.5s ease;
}
#headerButtonMenu.HoffScreen {
	top: -100%;
}
#headerButtonMenuContent {
	padding: 70px 10px 30px 100px; 
	border-bottom: 20px solid black;
	height: 100%;
}
#headerButtonMenu .headerButtonMenuItem {
	display: block;
	line-height: 20px;
	padding-left: 10px;
	background: transparent url('../../images/bullets/headerButtonMenuItem.png') left center no-repeat;
	text-decoration: none;
}
#headerButtonMenu h2 {
	margin-left: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
#headerButtonMenu h2:AFTER {
	border: none;
}

@media only screen and (min-width : 400px) {
	.homeButtonWrapper {
		display: table-cell;
		min-width: 50%;
		height: 60px;
	}
	.mobileBrowser #login {
		width: 14.2857142857%;
	}
	.mobileBrowser #popupLoginButton{
		width: 100%;
	}
}
@media only screen and (min-width : 800px) {
	[data-pageCategory="cat1"] .headerContent,
	[data-pageCategory="cat2"] .headerContent,
	[data-pageCategory="cat3"] .headerContent,
	[data-pageCategory="cat4"] .headerContent,
	[data-pageCategory="cat5"] .headerContent,
	[data-pageCategory="cat6"] .headerContent,
	[data-pageCategory="cat7"] .headerContent {
/* 		background: transparent url("../../images/logos/rmb100.png") no-repeat scroll top left; */
	}
	.homeButtonWrapper {
		width: 25%;
		height: 50px;
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -3px;
	}
	[data-role="homeButton"] {
		background: transparent url("../../images/logos/desktop-logo.png") no-repeat scroll left -3px;
		height: 102px;
		width: 84.6%;
	}
	.homeButtonEdge {
		background: transparent url("../../images/logos/edge-100.png") no-repeat scroll left -3px;
		height: 102px;
		width: 54px;
	}
	[data-role="headerButtons"] {
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -52px;
	}
	.headerContent #logo{
		display: none;
	}
	#login {
		width: 42.8571428571%;
	}
	#searchButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/search.png") no-repeat scroll 10px center;
	}
	#ResetButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		color: #fff;
		font-size: 11px;
		line-height: 11px;
		background: #2F2E2C url("../../images/settings/settings.png") no-repeat scroll 10px center;
	}
	#ContactButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/contact.png") no-repeat scroll 10px center;
	}
	#RegisterButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/register.png") no-repeat scroll 10px center;
	}
	#headerButtonMenuContent {
		padding: 70px 10px 30px 37.5%; 
	}
	
}

@media only screen and (min-width : 1200px) {
	
	#searchButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/search.gif") no-repeat scroll right center;
	}
	#ResetButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		color: #fff;
		font-size: 11px;
		line-height: 11px;
		background: #2F2E2C url("../../images/settings/settings.gif") no-repeat scroll right center;
	}
	#ContactButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/contact.gif") no-repeat scroll right center;
	}
	#RegisterButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/register.gif") no-repeat scroll right center;
	}
	
	
	
}

/* Developer: Richard */

[data-role="notifications"] {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[data-role="notificationsWrapper"] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

[data-role="notificationsInner"] {
	background: rgba(100,2,2,0.9);
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
}

[data-role="notificationsClose"] {
	background: url("../../images/notifications/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

[data-role="notificationsTitle"] {
	text-align: left;
	padding: 0 0 0 8px;
	font-size: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 32px;
}
#sideMenuButton {
	color: white;
	width: 12.5%;
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0px;
	background: transparent url('../../images/transparent70.png') top left repeat;
	transition: all 0.5s ease;
}
#sideMenuButton.HoffScreen{
	left: -12.5%;
}
#sideMenu[data-active="true"] #sideMenuButton {
	left: -12.5%;
}
#sideMenuButtonText {
	width: 100%;
	height: 100%;
	background: transparent url('../../images/sideMenu/menu.png') center 40px no-repeat;
}

#sideMenu {
	color: white;
	height:100%;
	width: 100%;
	position: absolute;
	top: 0;
}

#sideMenuClose {
	width: 41px;
	height: 39px;
	background: transparent url('../../images/sideMenu/close.png') top left no-repeat;
	position: absolute;
	right: 10px;
	top: 10px;
}
#sideMenuGroupClose {
	display: none;
}
#sideMenuContent {
	position: relative;
	top: 50px;
	left: 0%;
	width: 100%;
	height:auto;
	min-height: 100%;
	padding: 50px 0px 50px 0px;
	background: transparent url('../../images/transparent80.png') top left repeat;
	transition: all 0.5s ease;
}
.menuActive #sideMenuContent {
	width: 100%;
}
#sideMenuContent.HoffScreen {
	left: -100%;
}
#sideMenu[data-active="true"] #sideMenuContent {
	left: 0px;
}
.sideMenuLink {
	display: block;
	text-decoration: none;
	margin-top: 2px;
}
#sideMenu .sideMenuHeading {
	font-size: 13px;
	line-height: normal;
	min-height: 49px;
	margin: 0 10px;
	padding: 16px 13px 10px 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/right-markers.png');
	background-position: right 10px;
	border-top: 1px solid #AEAEA2;
	cursor: pointer;
	margin-top: -1px;
}
#sideMenu .cat1 .sideMenuHeading {
	border-top: 1px solid #AEAEA2;
}
#sideMenu .cat2 .sideMenuHeading {
	background-position: right -90px;
}
#sideMenu .cat3 .sideMenuHeading {
	background-position: right -190px;
}
#sideMenu .cat4 .sideMenuHeading {
	background-position: right -290px;
}
#sideMenu .cat5 .sideMenuHeading {
	background-position: right -390px;
}
#sideMenu .cat6 .sideMenuHeading {
	background-position: right -490px;
}
#sideMenu .cat7 .sideMenuHeading {
	background-position: right -590px;
}
[data-pageCategory="cat1"] #sideMenu .cat1 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left 10px;
	padding-left: 20px;
}
[data-pageCategory="cat2"] #sideMenu .cat2 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -90px;
	padding-left: 20px;
}
[data-pageCategory="cat3"] #sideMenu .cat3 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -190px;
	padding-left: 20px;
}
[data-pageCategory="cat4"] #sideMenu .cat4 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -290px;
	padding-left: 20px;
}
[data-pageCategory="cat5"] #sideMenu .cat5 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -390px;
	padding-left: 20px;
}
[data-pageCategory="cat6"] #sideMenu .cat6 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -490px;
	padding-left: 20px;
}
[data-pageCategory="cat7"] #sideMenu .cat7 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -590px;
	padding-left: 20px;
}
#sideMenuGroups {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 18.75% 10px 10px 18.75%;
}
.sideMenuGroup {
	height: 100%;
	padding: 0px 20px 10px 0px;
	transition: all 0.5s ease;
}
.sideMenuGroupCol {
	width: 100%;
	float: none;
}


.sideMenuGroup hr{
	border: none;
	margin-left: 10px;
	margin-bottom: 10px;
}
.sideMenuGroup.cat1 hr{
	border-top: 1px solid #9B9175;
}
.sideMenuGroup.cat2 hr{
	border-top: 1px solid #626262;
}
.sideMenuGroup.cat3 hr{
	border-top: 1px solid #737A78;
}
.sideMenuGroup.cat4 hr{
	border-top: 1px solid #4C859D;
}
.sideMenuGroup.cat5 hr{
	border-top: 1px solid #915758;
}
.sideMenuGroup.cat6 hr{
	border-top: 1px solid #B7DAB6;
}
.sideMenuGroup.cat7 hr{
	border-top: 1px solid #DA9669;
}

.sideMenuGroupHeading {
	display: none;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
	padding: 12px 8px 0px 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/headings.png');
	background-position: 0px 10px;
	text-transform: uppercase;
}
.cat1 .sideMenuGroupHeading {
	background-position: 0px -60px;
}
.cat2 .sideMenuGroupHeading {
	background-position: 0px -110px;
}
.cat3 .sideMenuGroupHeading {
	background-position: 0px -160px;
}
.cat4 .sideMenuGroupHeading {
	background-position: 0px -210px;
}
.cat5 .sideMenuGroupHeading {
	background-position: 0px -260px;
}
.cat6 .sideMenuGroupHeading {
	background-position: 0px -310px;
}
.cat7 .sideMenuGroupHeading {
	background-position: 0px -360px;
}
.sideMenuGroupLink {
	display: block;
	line-height: normal;
	margin: 10px 0 0 10px;
	padding: 0 0 0 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/bullets/arrow/default.gif');
	background-position: 0px center;
	text-decoration: none;
}
.sideMenuGroupSubHeading {
	display: block;
	line-height: normal;
	margin: 10px 0 0 10px;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
}
.cat1 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat1.gif');
}
.cat2 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat2.gif');
}
.cat3 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat3.gif');
}
.cat4 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat4.gif');
}
.cat5 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat5.gif');
}
.cat6 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat6.gif');
}
.cat7 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat7.gif');
}

@media only screen and (min-width : 400px) {	
	#sideMenu {
		position: absolute;
		width: 37.5%;
		height: 100%;
		overflow: visible;
	}
	#sideMenu[data-active="true"] {
		height: 100%;
		z-index: 3;
	}
	.menuActive #sideMenuContent {
		width: 100%;
	}
	#sideMenuContent {
/* 		position: absolute; */
		top: 50px;
		left: 0px;
		min-height: 100%;
		width: 100%;
		padding: 50px 0px 50px 0px;
		position: absolute;
	}
	#sideMenuContent.HoffScreen {
		left: -100%;
	}
	#sideMenu .sideMenuHeading {
		border-top: none;
		border-bottom: 1px solid #AEAEA2;
	}
}

@media only screen and (min-width : 800px) {
	#sideMenuButton {
		display: none;
	}
	#sideMenu {
		position: absolute;
		width: 100%;
		height: 0px;
		min-height: initial;
		background: transparent url('../../images/transparent80.png') top left repeat;
		z-index: 3;
	}
	#sideMenu[data-active="true"] {
		width: 100%;
		height: 100%;
	}
	#sideMenuClose {
		display: none;
	}	
	#sideMenuGroupClose {
		float: right;
		display: block;
		width: 41px;
		height: 39px;
		top: 0px;
		background: transparent url('../../images/sideMenu/close.png') top left no-repeat;
		cursor: pointer;
		position: relative;
	}
	#sideMenuContent {
		left: 0%;
		min-height: 400px;
		width: 18.75%;
		margin: 200px 0 0 0;
		position: static;
	}
	.menuActive #sideMenuContent {
		width: 18.75%;
	}
	#sideMenuContent.HoffScreen {
		left: 0%;
	}
	.sideMenuGroup {
		height: 400px;
		margin: 0px 0px 0px 18.75%;
		position: absolute;
		top: 200px;
		width: 81.25%;
	}
	.sideMenuGroupHeading {
		display: block;
	}
	.sideMenuGroupCol {
		width: 18.75%;
		float: left;
	}
	.sideMenuGroup.cat1 {
		border-left: 1px solid #9B9175;
	}
	.sideMenuGroup.cat2 {
		border-left: 1px solid #626262;
	}
	.sideMenuGroup.cat3 {
		border-left: 1px solid #737A78;
	}
	.sideMenuGroup.cat4 {
		border-left: 1px solid #4C859D;
	}
	.sideMenuGroup.cat5 {
		border-left: 1px solid #915758;
	}
	.sideMenuGroup.cat6 {
		border-left: 1px solid #B7DAB6;
	}
	.sideMenuGroup.cat7 {
		border-left: 1px solid #DA9669;
	}
	.sideMenuGroupLink {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroupSubHeading {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroup hr{
		margin-left: 40px;
	}
}
