.headerContent {
	position: fixed;
	top: 0px;
	height: 60px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	padding: 0px 0px 0px 0px;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.headerContent #logo{
	position: fixed;
	top: 0px;
	height: 51px;
	width: 115px;
	background: transparent url("../../images/logos/phone-logo.png") no-repeat scroll top left;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
}

#homeLogin {
	display:none;	
}
[data-role="headerContainer"] {
	position: relative;
	background: #f2f2f2;
}

.homeButtonWrapper {
	background: transparent url("../../images/logos/header100.png") repeat-x scroll left -42px;
}
[data-role="homeButton"] {
	background: transparent url("../../images/logos/phone-logo.png") no-repeat scroll 10px 6px;
	height: 60px;
}

.headerInner {
	display: table-row;
	width: 100%;
	padding: 0px;
}
.homeButtonWrapper {
	display: table-cell;
	min-width: 115px;
	height: 50px;
}
.homeButtonEdge {
	display: table-cell;
	width: 0px;
}
[data-role="headerButtons"] {
	display: table-cell;
	vertical-align: top;
	color: white;
	padding: 10px 0;
	background: transparent url("../../images/logos/rmb-phone-header.jpg") repeat-x scroll left 0px;
}
[data-role="headerButtonsInner"] {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 30px;
	font-size: 11px;
}
[data-role="headerButtons"] [data-role="input"] {
	float: left;
	border: none;
}
[data-role="headerButtons"] [data-role="input"]:focus {
border: none;
outline: 0;
}
#searchButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/search.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	overflow: hidden;
	text-indent: -100%;
	vertical-align: middle;
	text-decoration: none;
	height: 30px;
	border-right: 1px solid black;
}
#ContactButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/contact.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}
#ResetButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/settings.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

#RegisterButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/register.gif") no-repeat scroll right center;
	padding: 0;
	width: 31px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

.loginPopupLinks{
	float: left;
	text-decoration: underline;
	width: 100%;
	padding: 8px 8px 8px 8px;
}

#mobileLogin [data-role="formInlineError"]{
	display:block;
}

#login {
	display: table-cell;
/* 	width: 14.2857142857%; */
	text-align: right;
	position: relative;
}

#loginButton {
	background-color: #277093;
	color: white;
	width: 33.3%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#popupLoginButton{
	background-color: #277093;
	color: white;
	width: 100%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#LOGIN_FORM [data-role="loginMessages"] {
	display: none;
	background-color: #277093;
	color: white;
	width: 100%;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 9999;
	padding: 8px;
	text-align: left;
}

#LOGIN_FORM [data-role="loginMessages"]:BEFORE {
	display: none;
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

#LOGIN_FORM.submitError [data-role="loginMessages"],
#LOGIN_FORM.submitError [data-role="loginMessages"]:BEFORE,
#LOGIN_FORM.inputError [data-role="loginMessages"],
#LOGIN_FORM.inputError [data-role="loginMessages"]:BEFORE {
	display: block;
}

#login [data-role="formElementWrapper"] {
float: left;
width: 33.3%;
border-bottom: none;
position: static;
}

#login [data-role="formElementLabel"] {
display:none;
}
#login [data-role="formElementContainer"] {
width: 100%;
padding: 0;
position: static;
}

#login [data-role="formInlineError"]{
position: absolute;
top: 30px;
z-index: 200;
text-align: left;
}

#inlineError_Password {
left: 0;
}
#inlineError_Password[data-role="formInlineError"]:before {
left: 35%;
}
#login {
	display:block;
}
/* Mobile Login form */
#mobileLogin #loginButton{
	background-color: #277093;
	color: white;

	width: 25%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	float: right;
	margin: 8px 8px 8px 8px;
	height: 30px;
}
#mobileLogin{
	position: absolute;
	height: 100%;
	z-index: 200;
	background-color: #fff;
	top: 0;
	/* display: none; */
}

[data-role="blackCloseButton"] {
	background: url("../../images/login/close.jpg") no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 5px;
	border: none;
}

[data-role="greyHeaderWrpaper"]{
	background-color: #f7f7f7;
	padding: 5px 0 5px 0;
	float: left;
	width: 100%;
}

[data-role="greyHeaderWrpaper"] h3{
	line-height: 21px;
	/* width: 50%; */
	padding: 0;
	margin: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0px 8px 0px 8px;
}

#mobileLogin a{
	padding: 8px 8px 8px 8px;
	/* margin: 8px; */
	float: left;
	width: 100%;
}
#headerButtonMenu {
	position: fixed;
	top: 0%;
	left: 0;
	min-height: 240px;
	width: 100%;
	background-color: #1F1F1F;
	border-bottom: 2px solid #AEAEA2;
	color: white;
	transition: all 0.5s ease;
}
#headerButtonMenu.HoffScreen {
	top: -100%;
}
#headerButtonMenuContent {
	padding: 70px 10px 30px 100px; 
	border-bottom: 20px solid black;
	height: 100%;
}
#headerButtonMenu .headerButtonMenuItem {
	display: block;
	line-height: 20px;
	padding-left: 10px;
	background: transparent url('../../images/bullets/headerButtonMenuItem.png') left center no-repeat;
	text-decoration: none;
}
#headerButtonMenu h2 {
	margin-left: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
#headerButtonMenu h2:AFTER {
	border: none;
}

@media only screen and (min-width : 400px) {
	.homeButtonWrapper {
		display: table-cell;
		min-width: 50%;
		height: 60px;
	}
	.mobileBrowser #login {
		width: 14.2857142857%;
	}
	.mobileBrowser #popupLoginButton{
		width: 100%;
	}
}
@media only screen and (min-width : 800px) {
	[data-pageCategory="cat1"] .headerContent,
	[data-pageCategory="cat2"] .headerContent,
	[data-pageCategory="cat3"] .headerContent,
	[data-pageCategory="cat4"] .headerContent,
	[data-pageCategory="cat5"] .headerContent,
	[data-pageCategory="cat6"] .headerContent,
	[data-pageCategory="cat7"] .headerContent {
/* 		background: transparent url("../../images/logos/rmb100.png") no-repeat scroll top left; */
	}
	.homeButtonWrapper {
		width: 25%;
		height: 50px;
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -3px;
	}
	[data-role="homeButton"] {
		background: transparent url("../../images/logos/desktop-logo.png") no-repeat scroll left -3px;
		height: 102px;
		width: 84.6%;
	}
	.homeButtonEdge {
		background: transparent url("../../images/logos/edge-100.png") no-repeat scroll left -3px;
		height: 102px;
		width: 54px;
	}
	[data-role="headerButtons"] {
		background: transparent url("../../images/logos/header100.png") repeat-x scroll left -52px;
	}
	.headerContent #logo{
		display: none;
	}
	#login {
		width: 42.8571428571%;
	}
	#searchButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/search.png") no-repeat scroll 10px center;
	}
	#ResetButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		color: #fff;
		font-size: 11px;
		line-height: 11px;
		background: #2F2E2C url("../../images/settings/settings.png") no-repeat scroll 10px center;
	}
	#ContactButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/contact.png") no-repeat scroll 10px center;
	}
	#RegisterButton {
		text-indent: -10000px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/register.png") no-repeat scroll 10px center;
	}
	#headerButtonMenuContent {
		padding: 70px 10px 30px 37.5%; 
	}
	
}

@media only screen and (min-width : 1200px) {
	
	#searchButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/search.gif") no-repeat scroll right center;
	}
	#ResetButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		color: #fff;
		font-size: 11px;
		line-height: 11px;
		background: #2F2E2C url("../../images/settings/settings.gif") no-repeat scroll right center;
	}
	#ContactButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/contact.gif") no-repeat scroll right center;
	}
	#RegisterButton {
		text-indent: 0px;
		padding: 0 28px 0 10px;
		width: 14.2857142857%;
		background: #2F2E2C url("../../images/settings/register.gif") no-repeat scroll right center;
	}
	
	
	
}

