/* Developer: Richard */

[data-role="notifications"] {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[data-role="notificationsWrapper"] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

[data-role="notificationsInner"] {
	background: rgba(100,2,2,0.9);
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
}

[data-role="notificationsClose"] {
	background: url("../../images/notifications/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

[data-role="notificationsTitle"] {
	text-align: left;
	padding: 0 0 0 8px;
	font-size: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 32px;
}