#sideMenuButton {
	color: white;
	width: 12.5%;
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0px;
	background: transparent url('../../images/transparent70.png') top left repeat;
	transition: all 0.5s ease;
}
#sideMenuButton.HoffScreen{
	left: -12.5%;
}
#sideMenu[data-active="true"] #sideMenuButton {
	left: -12.5%;
}
#sideMenuButtonText {
	width: 100%;
	height: 100%;
	background: transparent url('../../images/sideMenu/menu.png') center 40px no-repeat;
}

#sideMenu {
	color: white;
	height:100%;
	width: 100%;
	position: absolute;
	top: 0;
}

#sideMenuClose {
	width: 41px;
	height: 39px;
	background: transparent url('../../images/sideMenu/close.png') top left no-repeat;
	position: absolute;
	right: 10px;
	top: 10px;
}
#sideMenuGroupClose {
	display: none;
}
#sideMenuContent {
	position: relative;
	top: 50px;
	left: 0%;
	width: 100%;
	height:auto;
	min-height: 100%;
	padding: 50px 0px 50px 0px;
	background: transparent url('../../images/transparent80.png') top left repeat;
	transition: all 0.5s ease;
}
.menuActive #sideMenuContent {
	width: 100%;
}
#sideMenuContent.HoffScreen {
	left: -100%;
}
#sideMenu[data-active="true"] #sideMenuContent {
	left: 0px;
}
.sideMenuLink {
	display: block;
	text-decoration: none;
	margin-top: 2px;
}
#sideMenu .sideMenuHeading {
	font-size: 13px;
	line-height: normal;
	min-height: 49px;
	margin: 0 10px;
	padding: 16px 13px 10px 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/right-markers.png');
	background-position: right 10px;
	border-top: 1px solid #AEAEA2;
	cursor: pointer;
	margin-top: -1px;
}
#sideMenu .cat1 .sideMenuHeading {
	border-top: 1px solid #AEAEA2;
}
#sideMenu .cat2 .sideMenuHeading {
	background-position: right -90px;
}
#sideMenu .cat3 .sideMenuHeading {
	background-position: right -190px;
}
#sideMenu .cat4 .sideMenuHeading {
	background-position: right -290px;
}
#sideMenu .cat5 .sideMenuHeading {
	background-position: right -390px;
}
#sideMenu .cat6 .sideMenuHeading {
	background-position: right -490px;
}
#sideMenu .cat7 .sideMenuHeading {
	background-position: right -590px;
}
[data-pageCategory="cat1"] #sideMenu .cat1 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left 10px;
	padding-left: 20px;
}
[data-pageCategory="cat2"] #sideMenu .cat2 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -90px;
	padding-left: 20px;
}
[data-pageCategory="cat3"] #sideMenu .cat3 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -190px;
	padding-left: 20px;
}
[data-pageCategory="cat4"] #sideMenu .cat4 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -290px;
	padding-left: 20px;
}
[data-pageCategory="cat5"] #sideMenu .cat5 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -390px;
	padding-left: 20px;
}
[data-pageCategory="cat6"] #sideMenu .cat6 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -490px;
	padding-left: 20px;
}
[data-pageCategory="cat7"] #sideMenu .cat7 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -590px;
	padding-left: 20px;
}
#sideMenuGroups {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 18.75% 10px 10px 18.75%;
}
.sideMenuGroup {
	height: 100%;
	padding: 0px 20px 10px 0px;
	transition: all 0.5s ease;
}
.sideMenuGroupCol {
	width: 100%;
	float: none;
}


.sideMenuGroup hr{
	border: none;
	margin-left: 10px;
	margin-bottom: 10px;
}
.sideMenuGroup.cat1 hr{
	border-top: 1px solid #9B9175;
}
.sideMenuGroup.cat2 hr{
	border-top: 1px solid #626262;
}
.sideMenuGroup.cat3 hr{
	border-top: 1px solid #737A78;
}
.sideMenuGroup.cat4 hr{
	border-top: 1px solid #4C859D;
}
.sideMenuGroup.cat5 hr{
	border-top: 1px solid #915758;
}
.sideMenuGroup.cat6 hr{
	border-top: 1px solid #B7DAB6;
}
.sideMenuGroup.cat7 hr{
	border-top: 1px solid #DA9669;
}

.sideMenuGroupHeading {
	display: none;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
	padding: 12px 8px 0px 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/headings.png');
	background-position: 0px 10px;
	text-transform: uppercase;
}
.cat1 .sideMenuGroupHeading {
	background-position: 0px -60px;
}
.cat2 .sideMenuGroupHeading {
	background-position: 0px -110px;
}
.cat3 .sideMenuGroupHeading {
	background-position: 0px -160px;
}
.cat4 .sideMenuGroupHeading {
	background-position: 0px -210px;
}
.cat5 .sideMenuGroupHeading {
	background-position: 0px -260px;
}
.cat6 .sideMenuGroupHeading {
	background-position: 0px -310px;
}
.cat7 .sideMenuGroupHeading {
	background-position: 0px -360px;
}
.sideMenuGroupLink {
	display: block;
	line-height: normal;
	margin: 10px 0 0 10px;
	padding: 0 0 0 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/bullets/arrow/default.gif');
	background-position: 0px center;
	text-decoration: none;
}
.sideMenuGroupSubHeading {
	display: block;
	line-height: normal;
	margin: 10px 0 0 10px;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
}
.cat1 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat1.gif');
}
.cat2 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat2.gif');
}
.cat3 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat3.gif');
}
.cat4 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat4.gif');
}
.cat5 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat5.gif');
}
.cat6 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat6.gif');
}
.cat7 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat7.gif');
}

@media only screen and (min-width : 400px) {	
	#sideMenu {
		position: absolute;
		width: 37.5%;
		height: 100%;
		overflow: visible;
	}
	#sideMenu[data-active="true"] {
		height: 100%;
		z-index: 3;
	}
	.menuActive #sideMenuContent {
		width: 100%;
	}
	#sideMenuContent {
/* 		position: absolute; */
		top: 50px;
		left: 0px;
		min-height: 100%;
		width: 100%;
		padding: 50px 0px 50px 0px;
		position: absolute;
	}
	#sideMenuContent.HoffScreen {
		left: -100%;
	}
	#sideMenu .sideMenuHeading {
		border-top: none;
		border-bottom: 1px solid #AEAEA2;
	}
}

@media only screen and (min-width : 800px) {
	#sideMenuButton {
		display: none;
	}
	#sideMenu {
		position: absolute;
		width: 100%;
		height: 0px;
		min-height: initial;
		background: transparent url('../../images/transparent80.png') top left repeat;
		z-index: 3;
	}
	#sideMenu[data-active="true"] {
		width: 100%;
		height: 100%;
	}
	#sideMenuClose {
		display: none;
	}	
	#sideMenuGroupClose {
		float: right;
		display: block;
		width: 41px;
		height: 39px;
		top: 0px;
		background: transparent url('../../images/sideMenu/close.png') top left no-repeat;
		cursor: pointer;
		position: relative;
	}
	#sideMenuContent {
		left: 0%;
		min-height: 400px;
		width: 18.75%;
		margin: 200px 0 0 0;
		position: static;
	}
	.menuActive #sideMenuContent {
		width: 18.75%;
	}
	#sideMenuContent.HoffScreen {
		left: 0%;
	}
	.sideMenuGroup {
		height: 400px;
		margin: 0px 0px 0px 18.75%;
		position: absolute;
		top: 200px;
		width: 81.25%;
	}
	.sideMenuGroupHeading {
		display: block;
	}
	.sideMenuGroupCol {
		width: 18.75%;
		float: left;
	}
	.sideMenuGroup.cat1 {
		border-left: 1px solid #9B9175;
	}
	.sideMenuGroup.cat2 {
		border-left: 1px solid #626262;
	}
	.sideMenuGroup.cat3 {
		border-left: 1px solid #737A78;
	}
	.sideMenuGroup.cat4 {
		border-left: 1px solid #4C859D;
	}
	.sideMenuGroup.cat5 {
		border-left: 1px solid #915758;
	}
	.sideMenuGroup.cat6 {
		border-left: 1px solid #B7DAB6;
	}
	.sideMenuGroup.cat7 {
		border-left: 1px solid #DA9669;
	}
	.sideMenuGroupLink {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroupSubHeading {
		margin: 10px 0 10px 40px;
	}
	.sideMenuGroup hr{
		margin-left: 40px;
	}
}