<%@ attribute required="false" name="group"%>
<div data-role="bannerGroup">
	<div data-role="banner">
		<img src="/00Assets/generic/genericImages/tempImages/sphere.png" style="width: 100%"/>
	</div>
</div>