/*FORM LAYOUT COMPONENT
	
	Developer:Mike Stott
*/
.formWrapper{
	float:left;
	width: 100%;
}
.formElWrapper {
	width: 100%;
	display: block;
	position: relative;
	background: #fff;
	padding-bottom:3px;
	font-size: 13px;
}

.totalsValuePair {
	
}
.instantSales .formElWrapper {
width: 100%;
display: block;
position: relative;
background: #fff;
padding-bottom: 3px;
float: left;
}

.simpleFormElWrapper {
	width: 100%;
	display: table;
	position: relative;
	padding-left: 8px;
}

.formElLabel,.formElContainer,.formElContent {
	display: block;
}

.formElLabel {
	width: 100%;
	padding: 0;
	float: left;
}
/* Developer: Donovan
Checkbox */
.checkBox {
	width: 24px;
	height: 24px;
	border: 1px solid #81b4b4;
	background: url("../../images/checkbox/checkbox_sprite.png") 0 200px
		no-repeat #FFF;
	cursor: pointer;
}

.checkBox.checked {
	background-position: 3px 3px;
	border-color: #009999;
}

.checkBox[data-disabled="true"] {
	background: #e7e7e7;
	color: #bcbcbc;
	border: 1px solid #bcbcbc;
}
/* Checkbox end */

/* Developer: Donovan
Input */
.input {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: 1px solid #81b4b4;
	border-radius: 0;
	height: 24px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	font-size: 13px;
}

input:disabled {
	background: #e7e7e7;
	border: 1px solid #bcbcbc;
	color: #bcbcbc;
}

.dropdownInput {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: 1px solid #81b4b4;
	border-radius: 0;
	height: 24px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	font-size: 13px;
}

.input:focus {
	border: 2px solid #ff9900;
	outline: 0;
}

.dropdownItemSelectWrapper{
	width:100%;
	height:100%;
}

.dropdownInput:focus {
	border: 2px solid #ff9900;
	outline: 0;
}

div[data-event="click"] .dropdownSelectWrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

[data-type="threeTier"] .dropdownSelected {
	height: 64px;
}

[data-role="hyperlink"]{
	font-size:13px;
	text-decoration:underline;
	cursor:pointer;
}

[data-type="button"]{
	font-size:13px;
}


#finishNote{
	color: #fff;
	font-size: 13px;
	padding: 5px 0 5px 0;
}

/* Developer: Donovan
Print and download buttons */

.finishTop [data-type="button"][data-role="whiteAddButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/addIconWhite.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="whiteDownloadButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/downloadIconWhite.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="whitePrintButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/printIconWhite.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="whiteSearchButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/searchIconWhite.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="blackAddButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/addIcon.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="blackDownloadButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/downloadIcon.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="blackPrintButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/printIcon.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px
	line-height: 28px;
	padding-right: 20px;
}

.finishTop [data-type="button"][data-role="blackSearchButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/searchIcon.png') no-repeat 4px 4px transparent;
	width: auto;
	padding-left: 30px;
	line-height: 28px;
	padding-right: 20px;
}


[data-type="button"][data-role="whiteAddButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/addIconWhite.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
}

[data-type="button"][data-role="whiteDownloadButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/downloadIconWhite.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
}

[data-type="button"][data-role="whitePrintButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/printIconWhite.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
}

[data-type="button"][data-role="whiteSearchButton"]{
	font-size:13px;
	color:#fff;
	background: url('../../images/icons/searchIconWhite.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
}

[data-type="button"][data-role="blackAddButton"]{
	font-size:13px;
	color:#000;
	background: url('../../images/icons/addIcon.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
	position:relative;
}

[data-type="button"][data-role="blackDownloadButton"]{
	font-size:13px;
	color:#000;
	background: url('../../images/icons/downloadIcon.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
	position:relative;
}

[data-type="button"][data-role="blackPrintButton"]{
	font-size:13px;
	color:#000;
	background: url('../../images/icons/printIcon.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-weight: normal;
	position:relative;
}

[data-type="button"][data-role="blackSearchButton"]{
	font-size:13px;
	color:#000;
	background: url('../../images/icons/searchIcon.png') no-repeat 4px center transparent;
	width: auto;
	line-height: 24px;
	padding: 0 0 0 25px;
	font-size: 13px;
	font-weight: normal;
	position:relative;
}

/* Developer: Donovan
Masked Input */
[data-placeholderIs="true"] {
	color: #DBDBDB;
}
/* Input end */
/*EziPanels FORM LAYOUT COMPONENT
	
	Developer: Mandla Sibeko
*/
#eziPageContent #eziHeaderDiv {
	border-bottom: 3px solid #000;
    float: left;
	width: 100%;
	display: block;
	clear: both;
}

#eziInnerContainer{
	float: left;
width: 100%;
}


#eziPageContent #eziHeaderDiv.subHeader {
	border-bottom: none;
	border-top: 1px solid #000;
}

#eziPageContent .formElContainer.inputPostalCode {
	width: 100px;
}

#eziPageContent .totalsValuePair .formElLabel,#eziPageContent .totalsValuePair .formElContainer
	{
	border-top: 1px solid #000;
	width: 50%;
	display: table-cell;
}

#eziPageContent .totalsValuePair.formElContainer {
	text-align: right;
}

.mvnoEziConfirmLabel{
	font-weight: bold;
	font-size: 14px;
	padding: 6px;
	margin: 6px 0 2px 0;
}

.formElLabelInner {
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 0px 0px;
	float: left;
}

.labelValuePairLeftLabel .formElLabelInner{
	font-weight:bold;
}
.formElOptionalLabelInner {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 0px 2px;
	color: #fd9827;
}

.formElContainer {
	width: 100%;
	padding: 4px 8px 0px 8px;
	position: relative;
	display: block;
	float: left;
	/* border-bottom: 2px solid #fff; */
}

.input {
	width: 100%;
	position: relative;
}

.dropdownInput {
	width: 100%;
	position: relative;
}

.formElContent {
	width: 100%;
	vertical-align: top;
	position: relative;
	display: block;
	padding-right: 2px;
	float: left;
	padding: 0px 0px 0px 0px;
}

.formElContentInner {
	background: #f2f2f2;
	width: 100%;
	padding: 0px 8px 6px 0px;
	position: relative;
}

.formElContentInner .formElContainer {
	padding: 0px 0px 2px 8px;
	border-bottom: none;
	
}

.formElContentInner .formElLabelInner {
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 4px 0px;
}

.formElContentInner .formElWrapper {background:none;}

.formElContentInner .formNote {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	padding: 4px 8px 0px 8px;
	position: relative;
}

.formNote {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	padding: 3px 8px 10px 0;
	position: relative;
}

.instantSales .formNote{
	font-size: 13px;
line-height: 16px;
font-family: Helvetica, FoundationRoman, Sans-serif;
padding: 3px 8px 10px 10px;
position: relative;
float: left;
}


.formInlineNote {
	font-size: 13px;
	background: #767676;
	color: #fff;
	padding: 6px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.formInlineNote:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/noteArrow.png');
}

.formInlineError {
	font-size: 13px;
	background: #ff9900;
	color: #fff;
	padding: 6px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	display: none;
}

.inputError .formInlineError {
	display: block;
}
.rigthToolTipwrapper{
	padding-top:8px;
}

.formInlineError:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

.toolTipIcon {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	margin-left: 4px;
	position: relative;
	cursor: pointer;
	background: url('../../images/helpText.png') no-repeat 4px 4px #bfe6e5;
}

.toolTipIcon .toolTipMessage{
	position: absolute;
	width: 140px;
	color: #000;
	background: #fff;
	min-height: 30px;
	line-height: 26px;
	text-align: center;
	visibility: hidden;
	/* border-radius: 6px; */
	border: 2px solid #80b3b2;
	padding: 5px;
	min-height: 30px;
}

.toolTipIcon .toolTipMessage:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 12px;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-top: 8px solid #80b3b2;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.toolTipIcon:hover .toolTipMessage{
	visibility: visible;
	/* opacity: 0.8; */
	bottom: 30px;
	left: 50%;
	margin-left: -12px;
	z-index: 999;
	font-size: 13px;
	line-height: 15px;
}
/* TooltipList */
.fnbTitleButtonsWrapper .toolTipMessage {
	position: absolute;
	border: 1px solid #FF9900;
	z-index: 150;
	padding: 5px;
	background: #fff;
	width: 200px;
}

.fnbTitleButtonsWrapper .tableHeaderTooltipListButtonsWrapper{
	float: left;
	background: url('../../images/greyStripe.png') repeat #fff;
	font-weight: normal;
}

.fnbTitle .fnbTitleButtonsP{
	font-weight:bold;
	line-height: 18px;
}

.fnbTitleButtonsWrapper .toolTipMessage [data-type="button"]{
	background: transparent;
	vertical-align: middle;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	text-align: left;
	text-decoration: underline;
	height: auto;
	padding: 0 0 0 5px;
	line-height: 18px;
	font-weight: normal;
}
.fnbTitleButtonsWrapper .toolTipMessage:after, .toolTipMessage:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.fnbTitleButtonsWrapper .toolTipMessage:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fff;
	border-width: 6px;
	margin-top: -5px;
}
.fnbTitleButtonsWrapper .toolTipMessage:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #FF9900;
	border-width: 8px;
	margin-top: -7px;
}

.fnbTitleButtonsWrapper .formElLabel{
	vertical-align: middle;
}

.fnbTitleButtonsWrapper .formElContainer{
	width: 75%;
}

.fnbTitleButtonsWrapper .formElWrapper{
	background: transparent;
}
#SearchtoolTipListMessage [data-role="linkButton"]{
	text-align: right;
	padding: 0 8px 5px 8px;
}
/* DON TESTING DROPDOWN */
.dropdown {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 100%;
}

.dropdown .dropdownSelected [data-disabled="true"] {
	background: #e7e7e7;
	border: 1px solid #bcbcbc;
	color: #bcbcbc;
}

.dropdownSelectWrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.dropdownSelected {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	padding: 5px 0px 5px 8px;
	border: 1px solid #81b4b4;
	background-color: #FFF;
}

.dropdownCarat {
	position: absolute;
	top: 3px;
	z-index: 2;
	background: url("../../images/right-arrow.png") no-repeat center center
		#FF9900;
	width: 14px;
	height: 18px;
	left: -8px;
}
.dropdownCarat.open {
	background: url("../../images/dropdown-down-arrow.png") no-repeat center center	#FF9900;
}
.dropdownContent {
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: -2px;
	overflow: hidden;
	width: 100%;
	height: 0px;
}

.dropdownContent.open {
	border: 1px solid #81b4b4;
	-moz-box-shadow: 3px 3px 4px #c2c2c2;
	-webkit-box-shadow: 3px 3px 4px #c2c2c2;
	box-shadow: 3px 3px 4px #c2c2c2;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c2c2c2')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#c2c2c2' );
	z-index: 10;
}

.dropdownContent.dropdownReverse {
	bottom: 23px;
	top: auto;
}

.dropdownItem {
	font-size: 12px;
	line-height: 1;
	color: #000;
	padding: 5px 10px 5px 0px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}

.dropdownItem.threeTier {
	min-height: 33px;
}

.dropdownItem.twoTier {
	min-height: 33px;
}

.dropdownItem [data-selected="true"] {
	background: #eef1f1;
}

.dropdownItem.threeTier {
	padding: 4px 0px;
}

.dropdownItem.singleTier {
	padding: 4px 0px;
}

.dropdownItemLabel {
	float: left;
	line-height: 1;
	width: 100%;
}

.dropdownItemWrapper {
	width: 100%;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
	padding: 0px 8px 0px 8px;
}

.dropdownItemSelectWrapper {
	width: 100%;
	height: 100%;
	opacity: 0;
	margin-bottom: 30px;
	display: inline-block;
}

ul[data-scrollable="scrollable"] {
	height: 100%;
	width: 100%;
	list-style: none;
	overflow-y: scroll;
}
/* 	Developer Donovan
Radio Buttons */
.radioGroupWrapper {
	width: 100%;
	background: #d9e5e5;
	padding: 1px;
	float: left;
}

.radioGroupWrapper[data-disabled="true"] {
	background: #e7e7e7;
	color: #bcbcbc;
}

.radioButton {
	float: left;
	cursor: pointer;
}

.radioButton:hover {
	background: #fff;
}

.radioGroupWrapper[data-disabled="true"] .radioButton:hover {
	background: none;
}

.radioButtonLabel {
	padding: 4px 0px 5px 8px;
	float: left;
}

.radioButton[data-state="checked"] {
	background: #80b3b2;
	border: 1px solid #fff;
	-moz-box-shadow: 3px 3px 4px #c2c2c2;
	-webkit-box-shadow: 3px 3px 4px #c2c2c2;
	box-shadow: 3px 3px 4px #c2c2c2;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c2c2c2')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#c2c2c2' );
}

.radioButton[data-state="checked"] .radioButtonLabel {
	padding: 3px 0px 3px 8px;
}

.radioButton.width10 {
	width: 10%
}

.radioButton.width20 {
	width: 20%
}

.radioButton.width25 {
	width: 25%
}

.radioButton.width30 {
	width: 30%
}

.radioButton.width40 {
	width: 40%
}

.radioButton.width50 {
	width: 50%
}

.radioButton.width60 {
	width: 60%
}

.radioButton.width70 {
	width: 70%
}

.radioButton.width80 {
	width: 80%
}

.radioButton.width90 {
	width: 90%
}

.radioButton.width100 {
	width: 100%
}

.inputSimple {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: none;
	border-radius: 0;
	height: 24px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	font-size: 13px;
}

.dataButtonLabel {
	background-color: #FF9900;
	color: white;
	line-height: 24px;
	padding: 4px 8px 3px 8px;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	font-size: 13px;
	cursor: pointer;
}

textarea {
	font-family: Helvetica, FoundationRoman, Sans-serif;
	border: 1px solid #81b4b4;
	resize: none;
	width: 100%;
	margin: 0px;
	padding: 2px 8px 3px 8px;
	line-height: 16px;
}

textarea[rows="2"] {
	height: 40px;
}

textarea[rows="3"] {
	height: 56px;
}

textarea[rows="4"] {
	height: 72px;
}

textarea[rows="5"] {
	height: 88px;
}

textarea[rows="6"] {
	height: 102px;
}

textarea[rows="7"] {
	height: 110px;
}

textarea[rows="8"] {
	height: 118px;
}

textarea[rows="9"] {
	height: 126px;
}

textarea[rows="10"] {
	height: 134px;
}

.container_textArea {
	padding: 8px 8px 3px 8px;
}

[data-role="calendarDropdown"] select {
	background: url('../../images/black-down-arrow.png') no-repeat 90% #fff;
	width: 80px;
	font-size: 14px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 24px;
	-webkit-appearance: none;
	text-align: center;
	margin-top: 8px;
	float: right;
	padding-left: 15px;
	cursor: pointer;
}

/*On page button*/
.submitButton {
	background-color: #FF9900;
	color: white;
	vertical-align: middle;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	cursor: pointer;
	border: 0;
	line-height: 20px;
	padding: 5px 10px;
}

@media only screen and (min-width : 904px) {

	.formElLabel {
		width: 100%;
		padding: 0px 8px 0px 8px;
		float: left;
	}
	.formElWrapper {
		display: table;
		padding: 3px solid white;
		font-size: 13px;
	}
	.simpleformElWrapper {
		width: 30%;
		display: table;
		position: relative;
		padding-left: 8px;
	}
	.calendarDropdown select {
		background: url('../../images/black-down-arrow.png') no-repeat 90% #fff;
		width: 80px;
		font-size: 14px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 24px;
		-webkit-appearance: none;
		text-align: center;
		margin-top: 8px;
		float: right;
		padding-left: 15px;
		cursor: pointer;
	}
	.formElLabel,.formElContainer,.formElContent {
		display: table-cell;
		vertical-align: top
	}
	.formElLabel {
		width: 25%;
		padding: 0px 8px 0px 8px;
		float: none;
	}
	/*EziPanels FORM LAYOUT COMPONENT
	
	Developer: Mandla Sibeko
*/
	#eziPageContent .formElLabel {
		width: 100%;
		display: inline-block;
	}
	#eziPageContent .formElContainer {
		width: 100%;
		display: block;
	}
	
	.formElLabelInner"] {
		float: left;
		font-size: 13px;
		line-height: 16px;
		padding: 12px 0px 0px 0px;
	}
	.formElOptionalLabelInner {
		float: left;
		font-size: 13px;
		line-height: 16px;
		color: #fd9827;
	}
	.formElContainer {
		width: 25%;
		padding: 8px 8px 5px 8px;
		position: relative;
		float: none;
	}
	.input {
		width: 100%;
		position: relative;
	}
	.dropdownInput {
		width: 100%;
		position: relative;
	}
	.input.width30 {
		width: 30%;
		float: left;
	}
	.input.width70 {
		width: 68%;
		float: right;
	}
	.formElContent {
		width: 50%;
		vertical-align: top;
		position: relative;
		float: none;
	}
	.formElContentInner {
		background: #f2f2f2;
		width: 100%;
		padding: 8px 6px 0px 8px;
		position: relative;
	}
	.formElContentInner:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -8px;
		top: 16px;
		background: #f2f2f2;
	}
	.formElContentInner .formElWrapper {
		width: 100%;
		display: table;
		position: relative;
		border-bottom: none;
	}
	.formElContentInner .formElContainer {
		padding: 0px 0px 5px 8px;
	}
	.formElContentInner .formElLabel,.formElContentInner .formElContainer
		{
		width: 50%;
	}
	.formElContentInner .formElLabel {
		width: 50%;
		padding: 0px 8px 0px 0px;
	}
	.formElContentInner .formElLabelInner {
		padding: 4px 0px 4px 0px;
	}
	.formElContentInner .toolTipIcon {
		position: relative;
		top: 0px;
	}
	.formElContentInner:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -4px;
		top: 16px;
		background: url('../../images/formContentArrow.png');
	}
	.formElContentInner .formNote {
		font-size: 13px;
		line-height: 16px;
		font-family: Helvetica, FoundationRoman, Sans-serif;
		padding: 3px 8px 10px 0px;
		position: relative;
	}
	.formInlineNote {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
		background: #767676;
		padding: 1px 8px 6px 8px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
	}
	.formElContentInner .formInlineNote {
		padding: 1px 10px 5px 11px;
	}
	.formInlineNote:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/noteArrow.png');
	}
	.formElContentInner .formInlineError {
		padding: 4px 10px 6px 11px;
	}
	.formInlineError {
		font-size: 13px;
		line-height: 16px;
		background: #ff9900;
		color: #fff;
		padding: 4px 10px 6px 11px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
		clear: both;
		display: none;
	}
	.inputError .formInlineError {
		display: block;
	}
	.formInlineError:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/errorArrow.png');
	}
	.characterCount {
		padding: 2px 0px 0px 0px;
		margin: 0px;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
		width: 100%;
		display: block;
	}
}
/*FORM LAYOUT END*/
/* Developer:Donovan
Button */
button {
	background-color: #FF9900;
	color: white;
	vertical-align: middle;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	cursor: pointer;
	border: 0
}

#loginButton[data-state="disabled"] {
	background: #e7e7e7;
	color: #bcbcbc;
}

#mobileLogin #loginButton[data-state="disabled"] {
	background: #e7e7e7;
	color: #bcbcbc;
}

[data-type="button"] {
	background-color: #bfe6e5;
	color: #000;
	vertical-align: middle;
	font-family: Helvetica, FoundationRoman, Sans-serif;
	cursor: pointer;
	border: 0;
	float: left;
	text-align: center;
	text-decoration: none;
	height: 24px;
	width: 100%;
}

.buttonLabel {
	line-height: 23px;
}

h1 {
	font-size: 27px;
	line-height: 32px;
	width: 100%;
	padding: 7px 8px 1px 7px;
}

h2 {
	font-size: 13px;
	line-height: 22px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h3 {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

h4 {
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h5 {
	font-size: 27px;
}

h6 {
	font-size: 27px;
}

p {
	font-size: 13px;
	line-height: 16px;
	padding: 4px 8px 4px 7px;
	margin: 0px 0px 8px 0px;
}
b {
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
a {
	color: inherit;
}
.formElTooltipContainer{
	display:block;
	float:right;
	width: auto;
	padding: 0px 8px 0px 8px;
}
.radioOptionsWrapper{
	display:block;
	float:left;
	width:60%;
	border:thin solid red;
}

.radioOption{
	display:block;
	float:left;
	width: 49%;
	border:thin solid blue;
	background-color: #f2f2f2;
	padding: 2px;
	margin: 2px;
	text-align:center;
}

/*  Accordion Css Starts  */

.accordianContainer{
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 25px;
	padding:8px;
}

.accGroupItemHeader{
	font-weight: bold;
	font-size: 16px;
	/* background-color: #3d3d3d; */
	/* color: #fff; */
 	border-bottom: thin solid black;
	position: relative;
	width : 100%;
	height: 35px;
	line-height:35px;
	display: block;
	float: left;
	padding-left: 4px;
	padding-right: 24px;
	over-flow:hidden;
}

.accArrow{
	display: block;
	position: absolute;
	border: red;
	width: 17px;
	height: 33px;
	right: 0;
	top: 0;
}

.accArrow-down{
	background: url("../../images/arrows/Arrow_down.png") no-repeat left center;
}

.accArrow-up{
	background: url("../../images/arrows/Arrow_up.png") no-repeat left center;
}

.accGroupItemHeader:hover{
	/* background-color:#f2f2f2; */
}

.accGroupItemContentWrapper{
	display: block;
	float: left;
	max-height:0px;
	-webkit-transition: max-height 1s ease;
	-moz-transition:  max-height 1s ease;
	-o-transition:  max-height 1s ease;
	transition: max-height 1s ease;
	overflow: hidden;
	padding:4px 2px 4px 2px;
}

.accShow{
	display: block;
	float: left;
	max-height: 1000px;
}

.accGroupItemWrapper{
	cursor: pointer;
	margin-bottom: 8px;
}

.accGroupItemContent{
	padding:4px;
	backgroud-color: #fff;
}

@media all and (min-width: 1001px) {
  .accGroupItemHeader {
  	 padding-left: 23px;
  }
  .accArrow{
  	left:0;
  }
}

@media all and (max-width:450px) {
  .accGroupItemHeader {
  	 line-height: normal;
  	 height : auto;
  }
}
