/*CONTENT STYLES
	Developer: Mike Stott
*/

h1 {
	font-size: 27px;
	line-height: 32px;
	width: 100%;
	padding: 7px 8px 1px 7px;
}

h2 {
	font-size: 13px;
	line-height: 22px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h3 {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

h4 {
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h5 {
	font-size: 27px;
}

h6 {
	font-size: 27px;
}

p {
	font-size: 13px;
	line-height: 16px;
	padding: 4px 8px 4px 7px;
	margin: 0px 0px 8px 0px;
}
b {
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
a {
	color: inherit;
}
/*CONTENT STYLES END*/
