.Hhide{
	display:none!important;
}
.clipOverflow{
	overflow: hidden;
	height: 100%;
	overflow-y: scroll; 
}
/*Design grid*/
.grid {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}

.gridRow {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

.gridColHeading {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
}

.gridCol {
	display: table-cell;
	/* min-height: 100%;
	height: 100%; */
	vertical-align: top;
}
/*GRID LAYOUT COMPONENT
	Developer: Mike Stott

.gridGroup {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}*/

.gridGroupInner {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

.gridGroupContent {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
}
/*Colors  */
.backgroundWhite {
	background: #fff;
}

.backgroundGrey1 {
	background: #f8f8f8;
}

.backgroundGrey2 {
	background: #999;
}

.backgroundGrey3 {
	background: #f2f2f2;
}
/*Colors End*/
.borderRight {
	border-right: 2px solid white;
}

.borderLeft {
	border-left: 2px solid white;
}
/*Borders End  */
/*GRID LAYOUT COMPONENT END*/

.HoffScreen {
	left: -22px;
}

/*FOOTER
	Developer: Mike Stott
	Code update: Mandla Sibeko
*/
.gridColEzi {
	display: table-cell;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
	overflow-x: hidden;
}

.eziWrapperLeft {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	width: 0;
	display: none;
}

.eziWrapperRight {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	background: #fff;
	width: 100%;
}

.eziInner {
	width: 100%;
	height: 100%;
	position: relative;
}

.eziInnerTwo {
	width: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	bottom: 45px;
}

.eziInnerTwo .printAndDownloadContainer{
	display:none;
}
/*OVERLAY
	Developer: Mike Stott
*/
.overlayContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	display: block;
	padding-left: 24px
}

.overlayInner {
	width: 100%;
	display: table;
	height: 100%;
	background: url('../../images/overlayBg.png') repeat;
}
/*OVERLAY END*/
.popup {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.popupInner {
	background: #009999;
	height: 200px;
	width: 100%;
}

.labelPositionRight .formElContainer{
	width: auto!Important;
	float: left;
}
.labelPositionRight [data-role="formElementLabel"]{
	float: left;
	line-height: 28px;
}
/* Developer Donovan
Loader START*/
.loader {
	display: table-cell;
	vertical-align: top;
	padding-top: 64px;
	width: 100%;
}

.loaderInner {
	height: 12px;
	color: white;
	line-height: 32px;
	font-size: 20px;
	overflow: hidden;
}

.loaderProgress {
	background: #009999;
	height: 13px;
	width: 0;
}

.loaderText {
	position: absolute;
	padding-left: 2px;
	padding-right: 8px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: 15px;
}

/* Developer Donovan
Ezi Loader START*/
.eziLoader {
	vertical-align: top;
	width: 100%;
}

.eziLoaderInner {
	height: 12px;
	color: white;
	line-height: 32px;
	font-size: 20px;
	overflow: hidden;
}

.eziLoaderProgress{
	background: #009999;
	height: 13px;
	width: 0;
}

.eziLoaderText {
	position: absolute;
	padding-left: 2px;
	padding-right: 8px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: 15px;
	color: #000;
}

/* Developer Donovan
Loader END*/


/*HELPER STYES
	Developer: Mike Stott, Donovan Phillips
*/


[data-transparent="true"] {
	opacity: 0;
}

/*left offsets for positioning
[data-leftOffset="1"] {
	margin-left: 10%
}

[data-leftOffset="2"] {
	margin-left: 20%
}

[data-leftOffset="3"] {
	margin-left: 30%
}

[data-leftOffset="4"] {
	margin-left: 40%
}

[data-leftOffset="5"] {
	margin-left: 50%
}

[data-leftOffset="6"] {
	margin-left: 0%
}

[data-leftOffset="7"] {
	margin-left: 25%
}

[data-leftOffset="8"] {
	margin-left: 50%
}

[data-leftOffset="9"] {
	margin-left: 75%
}*/
/* Developer:Donovan
StandardButton 
[data-role="standardButton"] {
	background-color: #73C7C7;
	color: #000;
	height: 30px;
	text-align: center;
	line-height: 18px;
	display: block;
	font-size: 13px;
	border: 0 none;
	cursor: pointer;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

[data-role="standardButton"]:hover {
	background-color: #92C9C9;
}*/
/* Developer:Donovan
Error */
#error {
	background: #ff9900;
	color: #fff;
	min-height: 64px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	position: fixed;
	padding: 8px 25px;
	top: 0;
}

.errorInner {
	font-size: 13px;
	line-height: 16px;
}

#errorClose {
	background: url("../../images/datePicker/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}
[data-role="errors"] {
	padding-left: 8px;
}

[data-role="formElementWrapper"]{
	font-size: 13px;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Developer Donovan
300ms CSS3 Transitions */
[data-role="loaderPercentage"] {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
/* Developer Donovan
150ms CSS3 Transitions 
[data-role="dropdown"],[data-role="dropdownContent"],[data-role="dropdownContent"]:after,[data-role="dropdownItem"],[data-role="mainTabSlider"],[data-role="loaderProgress"],[data-role="loaderPercentage"][data-role="error"][data-role="radioButton"]
	{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}*/
/* Developer Donovan
50ms CSS3 Transitions */
.overlayContainer,#eziOverlay {
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in-out;
	-ms-transition: all 50ms ease-in-out;
	transition: all 50ms ease-in-out;
	overflow-x: hidden;
}


@media only screen and (min-width : 904px) {
/* EziPanels
	Code update: Mandla Sibeko
*/
	.eziWrapperLeft {
	width: 60%;
	display: table-column;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
		
	}
	
	.eziWrapperRight {
	width: 40%;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
		
	}

	.overlayContainer {
		padding-left: 24px
	}
	.footerButton {
		width: 10%;
	}/*
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}*/

	/*left offsets for positioning
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}*/

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1290px) {
}

.HclipOverflow{
	overflow: hidden;
	height: 100%!Important;
	overflow-y: scroll; 
}
.HbodyClipOverflow{
	overflow: hidden;
	height: 100%;
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and
	(orientation : landscape) {
	.mobileBrowser #header {
		position: relative;
	}
	.mobileBrowser footer {
		position: relative;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}

@media only screen and (min-width : 320px) and (max-width : 640px) and
	(orientation : landscape) {
	.mobileBrowser #header {
		position: relative;
	}
	.mobileBrowser footer {
		position: relative;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}

a{
color: #000;
}