@charset "utf-8";
/* reset end */
/*FRAME SCAFFOLDING
	Developer: Mike Stott
*/
html,body {
	height: auto;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

html {
	margin: 0 auto;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	overflow-y:scroll;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
}

body {
	/* background: #f2f2f2; */
	width: 100%;
}

#header {
	position: fixed;
	top: 0px;
	height: 64px;
	background: #f2f2f2;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	padding: 0px 0px 0px 0px;
}
/*HEADER + TOP TABS
	Developer: Mike Stott 
*/
#headerButtonsInner{height: 24px;overflow:hidden;}
#headerInner{position: relative;
	padding: 0px 0px 0px 24px;
	float: left;
	width: 100%;}

#topTabs {
	display: block;
	text-align: left;
	float:left;
	position: relative;
	width: 100%;
	left: 0;
	padding: 0px 0px 4px 0px;
		
}

/*Finish tag
	Developer: Donovan
*/
.finishTop{
	background: url("../../images/finish/finishBubble.png") no-repeat left 1px transparent;
	width:100%;
	display:table;
	border-collapse: collapse;
}

.finishTop.pending{background-color: #70706F;}
.finishTop.partial{background-color: #70706F;}
.finishTop.success{background-color: #009999;}
.finishTop.finishError350{background-color: #70706F;}
.finishTop.finishError{
	background-color: #FF9900;
}

.finishInner{
	display:table-row;
	border-bottom: 1px solid #fff;
	height: 97px;
}

.finishLeft{
	display:table-cell;
	width: 105px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.finishRight{
	vertical-align: middle;
	display:table-cell;
	position: relative;
}

.finishRight p {
	color: #fff;
}

.finishPadderTop{
	display:table-row;
	height:5px
}

.finishPadderBottom{
	display:table-row;
	height:5px
}

.finishButtonsWrapper{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
}

.finishPadderBottomLeft{
	display:table-cell;
}

.finishPadderBottomRight{
	display:table-cell;
}

#footerTag {
	position: fixed;
	bottom: 0px;
	height: 54px;
	padding: 0px 0px 0px 0px;
	z-index: 55;
	background:#f2f2f2	url('../../images/footerLogoMobileSmall.png') left 4px no-repeat;
}
.content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 54px 0px;
	border-spacing: 0;
}

.fixedNotSupported .content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 0 0px;
	border-spacing: 0;
}

.contentInner {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 24px;
	/* background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top; */
	border-right: 2px solid #fff;
}

.IE7 .contentInner {min-height: auto;}
.IE8 .contentInner {min-height: auto;}
.IE9 .contentInner {min-height: auto;}
.IE10 .contentInner {min-height: auto;}
.IE11 .contentInner {min-height: auto;}
.Mozillarv10 .contentInner {min-height: auto;}
.Mozillarv11 .contentInner {min-height: auto;}

.IE7 {height: auto;}
.IE8 {height: auto;}
.IE9 {height: auto;}
.IE10 {height: auto;}
.IE11 {height: auto;}
.Mozillarv10 {height: auto;}
.Mozillarv11 {height: auto;}

/* 	Developer: Donovan - Subtabs*/
.pageHeaderWrapper{
	float: left;
	width: 100%;
	padding: 5px 0 0 0;
	font-size: 13px;
	min-height: 41px;
}

#pageHeaderWrapper .pageHeader{
	width: 20%;
	float: left;
	font-weight: bold;
	padding: 21px 0 0 5px;
}

#pageHeaderWrapper [data-type="button"].subTab{
	width: 10%;
	float: left;
	cursor:pointer;
	height: auto;
	background-color: transparent;
}

#pageHeaderWrapper [data-type="button"].subTab:hover{
	background-color: #fff;
}

#pageHeaderWrapper [data-type="button"].subTab.subTabSelected{
	background-color: #bfe5e5;
}

#pageHeaderWrapper [data-type="button"].subTab.subTabSelected:hover{
	background-color: #bfe5e5;
}

#pageHeaderWrapper [data-type="button"].subTab span{
	display: table-cell;
	height: 36px;
	width: 100%;
	vertical-align: middle;
	color: #000;
	padding: 2px 8px 0px 8px;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

#pageHeaderButtons{
	float: left;
	width: 100%;
	background-color: #bfe5e5;
	padding: 2px 0 2px 0;
}

[data-type="button"][data-role="subTabSwitcherButton"]{
	float: left;
	width: 15%;
	font-weight:bold;
	height:auto;
	margin: 2px 0 2px 0;
	padding: 0 0 0 5px;
}

[data-type="button"][data-role="subTabSwitcherButton"] span{
	font-size: 12px;
	line-height: 18px;
	float: left;
}

[data-type="button"][data-role="subTabSwitcherButton"].selected{
	background-color: #096665;
	color:#fff;
}

@media only screen and (min-width : 1300px) {
	.contentInner {
		max-width: 1280px;
	}
}

.bodyWidth {
	width: 100%;
}
.fixedNotSupported #header {
/* 	position: relative; */
}
#headerCornerImg {
	background: url('../../images/frameTopCorner.png') no-repeat;
	display: block;
	width: 20px;
	height: 6px;
	position: absolute;
	left: 8px;
	bottom: -2px;
}
.fixedNotSupported footer {
	position: relative;
}
#footerCornerImg {
	background:
		url('../../images/frameBottomCorner.png');
	display: block;
	width: 26px;
	height: 6px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.fullHeight {
	height: auto;
	min-height: 100%;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
	
}
.nowrap {
	white-space: nowrap;
}
.currency {
	white-space: nowrap;
}
@media
only screen and (max-width: 480px) {
	footer {
		background:#f2f2f2	url('../../images/footerLogoMobileSmall.png') left 4px no-repeat;
	}
}

@media only screen and (min-width : 920px) {
	/*960pxRemoved*/
	/*.bodyWidth {
		width: 903px;
		}*/
	footer {
		background:#f2f2f2	url('../../images/footerLogoMobile.png') left 4px no-repeat;
	}	
	
	.mainTab span{

		font-size: 13px;

	}
	
}

@media only screen and (min-width : 1300px) {
	.bodyWidth {
		width: 1280px;
	}
	
	footer {
		background: #f2f2f2	url('../../images/footerLogo.png') left 4px	no-repeat;
	}	
	
	#mainTab span{

		font-size: 13px;

	}
}

/*FRAME SCAFFOLDING END*/