#theGridToggleButton {
  position: fixed;
  top: 0;
  left: 10px;
  padding: 4px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 10px;
  z-index: 9999; }

.theGrigWidth {
  position: absolute;
  top: 0px;
  z-index: 9999;
  width: 100%;
  margin-left: 24px;
  font-size: 8px; }

#theGridOverlayRows,
#theGridOverlayCols {
  position: absolute;
  display: block;
  z-index: 0;
  height: 100%;
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
  width: 100%; }

#theGridOverlayCols {
  position: fixed; }

#theGridOverlayRows.Hhide,
#theGridOverlayCols.Hhide {
  display: none; }

.theGridOverlayRow {
  border-bottom: 1px red dotted;
  height: 8px; }

.theGridOverlayCol {
  /* 	border-left: $lineWidth $lineColor2 $lineStyle2; */
  width: 10%;
  height: 100%;
  float: left;
  position: relative; }

.theGridOverlayCol.last {
  border-right: none; }

.theGridOverlaySubCol {
  border-left: 1px #cccccc solid;
  width: 8px;
  height: 100%;
  float: left; }

.theGridOverlaySubCol.first {
  border-left: 1px black solid; }

.theGridOverlaySubCol.last {
  width: 8px; }

.theGridRowCount {
  color: black;
  position: absolute; }

.theGridColCount {
  color: black;
  position: absolute; }

.theGridSubColCount {
  color: #cccccc;
  position: absolute; }

@media only screen and (min-width: 904px) {
  .theGrigWidth,
  #theGridOverlayCols {
    width: 879px; }

  .theGridOverlayRow {
    height: 8px; }

  .theGridPhoneOverlayRow {
    display: none; } }
@media only screen and (min-width: 1300px) {
  .theGrigWidth,
  #theGridOverlayCols {
    width: 1256px; }

  .theGridOverlaySubCol {
    border: none; }

  .theGridOverlaySubCol.two {
    border-left: 1px #cccccc solid; }

  .theGridOverlaySubCol.last {
    border-left: 1px #cccccc solid;
    right: 0;
    position: absolute;
    float: none; } }
