/*CONTENT STYLES
	Developer: Mike Stott
*/

h1 {
	font-size: 27px;
	line-height: 32px;
	width: 100%;
	padding: 7px 8px 1px 7px;
}

h2 {
	font-size: 13px;
	line-height: 22px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h3 {
	font-size: 13px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

h4 {
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 7px;
	margin: 0px 0px 8px 0px;
}

h5 {
	font-size: 27px;
}

h6 {
	font-size: 27px;
}

p {
	font-size: 13px;
	line-height: 16px;
	padding: 4px 8px 4px 7px;
	margin: 0px 0px 8px 0px;
}
b {
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
a {
	color: inherit;
}
/*CONTENT STYLES END*/
.Hhide{
	display:none!important;
}
.clipOverflow{
	overflow: hidden;
	height: 100%;
	overflow-y: scroll; 
}
/*Design grid*/
.grid {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}

.gridRow {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

.gridColHeading {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
}

.gridCol {
	display: table-cell;
	/* min-height: 100%;
	height: 100%; */
	vertical-align: top;
}
/*GRID LAYOUT COMPONENT
	Developer: Mike Stott

.gridGroup {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}*/

.gridGroupInner {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

.gridGroupContent {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
}
/*Colors  */
.backgroundWhite {
	background: #fff;
}

.backgroundGrey1 {
	background: #f8f8f8;
}

.backgroundGrey2 {
	background: #999;
}

.backgroundGrey3 {
	background: #f2f2f2;
}
/*Colors End*/
.borderRight {
	border-right: 2px solid white;
}

.borderLeft {
	border-left: 2px solid white;
}
/*Borders End  */
/*GRID LAYOUT COMPONENT END*/

.HoffScreen {
	left: -22px;
}

/*FOOTER
	Developer: Mike Stott
	Code update: Mandla Sibeko
*/
.gridColEzi {
	display: table-cell;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 54px;
	overflow-x: hidden;
}

.eziWrapperLeft {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	width: 0;
	display: none;
}

.eziWrapperRight {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	background: #fff;
	width: 100%;
}

.eziInner {
	width: 100%;
	height: 100%;
	position: relative;
}

.eziInnerTwo {
	width: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	bottom: 45px;
}

.eziInnerTwo .printAndDownloadContainer{
	display:none;
}
/*OVERLAY
	Developer: Mike Stott
*/
.overlayContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	display: block;
	padding-left: 24px
}

.overlayInner {
	width: 100%;
	display: table;
	height: 100%;
	background: url('../../images/overlayBg.png') repeat;
}
/*OVERLAY END*/
.popup {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.popupInner {
	background: #009999;
	height: 200px;
	width: 100%;
}

.labelPositionRight .formElContainer{
	width: auto!Important;
	float: left;
}
.labelPositionRight [data-role="formElementLabel"]{
	float: left;
	line-height: 28px;
}
/* Developer Donovan
Loader START*/
.loader {
	display: table-cell;
	vertical-align: top;
	padding-top: 64px;
	width: 100%;
}

.loaderInner {
	height: 12px;
	color: white;
	line-height: 32px;
	font-size: 20px;
	overflow: hidden;
}

.loaderProgress {
	background: #009999;
	height: 13px;
	width: 0;
}

.loaderText {
	position: absolute;
	padding-left: 2px;
	padding-right: 8px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: 15px;
}

/* Developer Donovan
Ezi Loader START*/
.eziLoader {
	vertical-align: top;
	width: 100%;
}

.eziLoaderInner {
	height: 12px;
	color: white;
	line-height: 32px;
	font-size: 20px;
	overflow: hidden;
}

.eziLoaderProgress{
	background: #009999;
	height: 13px;
	width: 0;
}

.eziLoaderText {
	position: absolute;
	padding-left: 2px;
	padding-right: 8px;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: 15px;
	color: #000;
}

/* Developer Donovan
Loader END*/


/*HELPER STYES
	Developer: Mike Stott, Donovan Phillips
*/


[data-transparent="true"] {
	opacity: 0;
}

/*left offsets for positioning
[data-leftOffset="1"] {
	margin-left: 10%
}

[data-leftOffset="2"] {
	margin-left: 20%
}

[data-leftOffset="3"] {
	margin-left: 30%
}

[data-leftOffset="4"] {
	margin-left: 40%
}

[data-leftOffset="5"] {
	margin-left: 50%
}

[data-leftOffset="6"] {
	margin-left: 0%
}

[data-leftOffset="7"] {
	margin-left: 25%
}

[data-leftOffset="8"] {
	margin-left: 50%
}

[data-leftOffset="9"] {
	margin-left: 75%
}*/
/* Developer:Donovan
StandardButton 
[data-role="standardButton"] {
	background-color: #73C7C7;
	color: #000;
	height: 30px;
	text-align: center;
	line-height: 18px;
	display: block;
	font-size: 13px;
	border: 0 none;
	cursor: pointer;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

[data-role="standardButton"]:hover {
	background-color: #92C9C9;
}*/
/* Developer:Donovan
Error */
#error {
	background: #ff9900;
	color: #fff;
	min-height: 64px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	position: fixed;
	padding: 8px 25px;
	top: 0;
}

.errorInner {
	font-size: 13px;
	line-height: 16px;
}

#errorClose {
	background: url("../../images/datePicker/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}
[data-role="errors"] {
	padding-left: 8px;
}

[data-role="formElementWrapper"]{
	font-size: 13px;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Developer Donovan
300ms CSS3 Transitions */
[data-role="loaderPercentage"] {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
/* Developer Donovan
150ms CSS3 Transitions 
[data-role="dropdown"],[data-role="dropdownContent"],[data-role="dropdownContent"]:after,[data-role="dropdownItem"],[data-role="mainTabSlider"],[data-role="loaderProgress"],[data-role="loaderPercentage"][data-role="error"][data-role="radioButton"]
	{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}*/
/* Developer Donovan
50ms CSS3 Transitions */
.overlayContainer,#eziOverlay {
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in-out;
	-ms-transition: all 50ms ease-in-out;
	transition: all 50ms ease-in-out;
	overflow-x: hidden;
}


@media only screen and (min-width : 904px) {
/* EziPanels
	Code update: Mandla Sibeko
*/
	.eziWrapperLeft {
	width: 60%;
	display: table-column;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
		
	}
	
	.eziWrapperRight {
	width: 40%;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
		
	}

	.overlayContainer {
		padding-left: 24px
	}
	.footerButton {
		width: 10%;
	}/*
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}*/

	/*left offsets for positioning
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}*/

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1290px) {
}

.HclipOverflow{
	overflow: hidden;
	height: 100%!Important;
	overflow-y: scroll; 
}
.HbodyClipOverflow{
	overflow: hidden;
	height: 100%;
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and
	(orientation : landscape) {
	.mobileBrowser #header {
		position: relative;
	}
	.mobileBrowser footer {
		position: relative;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}

@media only screen and (min-width : 320px) and (max-width : 640px) and
	(orientation : landscape) {
	.mobileBrowser #header {
		position: relative;
	}
	.mobileBrowser footer {
		position: relative;
	}
	.content {
		padding: 0px 0px 0px 0px;
	}
}

a{
color: #000;
}
@charset "utf-8";
/* reset end */
/*FRAME SCAFFOLDING
	Developer: Mike Stott
*/
html,body {
	height: auto;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

html {
	margin: 0 auto;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	overflow-y:scroll;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
}

body {
	/* background: #f2f2f2; */
	width: 100%;
}

#header {
	position: fixed;
	top: 0px;
	height: 64px;
	background: #f2f2f2;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	padding: 0px 0px 0px 0px;
}
/*HEADER + TOP TABS
	Developer: Mike Stott 
*/
#headerButtonsInner{height: 24px;overflow:hidden;}
#headerInner{position: relative;
	padding: 0px 0px 0px 24px;
	float: left;
	width: 100%;}

#topTabs {
	display: block;
	text-align: left;
	float:left;
	position: relative;
	width: 100%;
	left: 0;
	padding: 0px 0px 4px 0px;
		
}

/*Finish tag
	Developer: Donovan
*/
.finishTop{
	background: url("../../images/finish/finishBubble.png") no-repeat left 1px transparent;
	width:100%;
	display:table;
	border-collapse: collapse;
}

.finishTop.pending{background-color: #70706F;}
.finishTop.partial{background-color: #70706F;}
.finishTop.success{background-color: #009999;}
.finishTop.finishError350{background-color: #70706F;}
.finishTop.finishError{
	background-color: #FF9900;
}

.finishInner{
	display:table-row;
	border-bottom: 1px solid #fff;
	height: 97px;
}

.finishLeft{
	display:table-cell;
	width: 105px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.finishRight{
	vertical-align: middle;
	display:table-cell;
	position: relative;
}

.finishRight p {
	color: #fff;
}

.finishPadderTop{
	display:table-row;
	height:5px
}

.finishPadderBottom{
	display:table-row;
	height:5px
}

.finishButtonsWrapper{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 5px;
}

.finishPadderBottomLeft{
	display:table-cell;
}

.finishPadderBottomRight{
	display:table-cell;
}

#footerTag {
	position: fixed;
	bottom: 0px;
	height: 54px;
	padding: 0px 0px 0px 0px;
	z-index: 55;
	background:#f2f2f2	url('../../images/footerLogoMobileSmall.png') left 4px no-repeat;
}
.content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 54px 0px;
	border-spacing: 0;
}

.fixedNotSupported .content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 0 0px;
	border-spacing: 0;
}

.contentInner {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 24px;
	/* background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top; */
	border-right: 2px solid #fff;
}

.IE7 .contentInner {min-height: auto;}
.IE8 .contentInner {min-height: auto;}
.IE9 .contentInner {min-height: auto;}
.IE10 .contentInner {min-height: auto;}
.IE11 .contentInner {min-height: auto;}
.Mozillarv10 .contentInner {min-height: auto;}
.Mozillarv11 .contentInner {min-height: auto;}

.IE7 {height: auto;}
.IE8 {height: auto;}
.IE9 {height: auto;}
.IE10 {height: auto;}
.IE11 {height: auto;}
.Mozillarv10 {height: auto;}
.Mozillarv11 {height: auto;}

/* 	Developer: Donovan - Subtabs*/
.pageHeaderWrapper{
	float: left;
	width: 100%;
	padding: 5px 0 0 0;
	font-size: 13px;
	min-height: 41px;
}

#pageHeaderWrapper .pageHeader{
	width: 20%;
	float: left;
	font-weight: bold;
	padding: 21px 0 0 5px;
}

#pageHeaderWrapper [data-type="button"].subTab{
	width: 10%;
	float: left;
	cursor:pointer;
	height: auto;
	background-color: transparent;
}

#pageHeaderWrapper [data-type="button"].subTab:hover{
	background-color: #fff;
}

#pageHeaderWrapper [data-type="button"].subTab.subTabSelected{
	background-color: #bfe5e5;
}

#pageHeaderWrapper [data-type="button"].subTab.subTabSelected:hover{
	background-color: #bfe5e5;
}

#pageHeaderWrapper [data-type="button"].subTab span{
	display: table-cell;
	height: 36px;
	width: 100%;
	vertical-align: middle;
	color: #000;
	padding: 2px 8px 0px 8px;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

#pageHeaderButtons{
	float: left;
	width: 100%;
	background-color: #bfe5e5;
	padding: 2px 0 2px 0;
}

[data-type="button"][data-role="subTabSwitcherButton"]{
	float: left;
	width: 15%;
	font-weight:bold;
	height:auto;
	margin: 2px 0 2px 0;
	padding: 0 0 0 5px;
}

[data-type="button"][data-role="subTabSwitcherButton"] span{
	font-size: 12px;
	line-height: 18px;
	float: left;
}

[data-type="button"][data-role="subTabSwitcherButton"].selected{
	background-color: #096665;
	color:#fff;
}

@media only screen and (min-width : 1300px) {
	.contentInner {
		max-width: 1280px;
	}
}

.bodyWidth {
	width: 100%;
}
.fixedNotSupported #header {
/* 	position: relative; */
}
#headerCornerImg {
	background: url('../../images/frameTopCorner.png') no-repeat;
	display: block;
	width: 20px;
	height: 6px;
	position: absolute;
	left: 8px;
	bottom: -2px;
}
.fixedNotSupported footer {
	position: relative;
}
#footerCornerImg {
	background:
		url('../../images/frameBottomCorner.png');
	display: block;
	width: 26px;
	height: 6px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.fullHeight {
	height: auto;
	min-height: 100%;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
	
}
.nowrap {
	white-space: nowrap;
}
.currency {
	white-space: nowrap;
}
@media
only screen and (max-width: 480px) {
	footer {
		background:#f2f2f2	url('../../images/footerLogoMobileSmall.png') left 4px no-repeat;
	}
}

@media only screen and (min-width : 920px) {
	/*960pxRemoved*/
	/*.bodyWidth {
		width: 903px;
		}*/
	footer {
		background:#f2f2f2	url('../../images/footerLogoMobile.png') left 4px no-repeat;
	}	
	
	.mainTab span{

		font-size: 13px;

	}
	
}

@media only screen and (min-width : 1300px) {
	.bodyWidth {
		width: 1280px;
	}
	
	footer {
		background: #f2f2f2	url('../../images/footerLogo.png') left 4px	no-repeat;
	}	
	
	#mainTab span{

		font-size: 13px;

	}
}

/*FRAME SCAFFOLDING END*/
#theGridToggleButton {
  position: fixed;
  top: 0;
  left: 10px;
  padding: 4px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 10px;
  z-index: 9999; }

.theGrigWidth {
  position: absolute;
  top: 0px;
  z-index: 9999;
  width: 100%;
  margin-left: 24px;
  font-size: 8px; }

#theGridOverlayRows,
#theGridOverlayCols {
  position: absolute;
  display: block;
  z-index: 0;
  height: 100%;
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
  width: 100%; }

#theGridOverlayCols {
  position: fixed; }

#theGridOverlayRows.Hhide,
#theGridOverlayCols.Hhide {
  display: none; }

.theGridOverlayRow {
  border-bottom: 1px red dotted;
  height: 8px; }

.theGridOverlayCol {
  /* 	border-left: $lineWidth $lineColor2 $lineStyle2; */
  width: 10%;
  height: 100%;
  float: left;
  position: relative; }

.theGridOverlayCol.last {
  border-right: none; }

.theGridOverlaySubCol {
  border-left: 1px #cccccc solid;
  width: 8px;
  height: 100%;
  float: left; }

.theGridOverlaySubCol.first {
  border-left: 1px black solid; }

.theGridOverlaySubCol.last {
  width: 8px; }

.theGridRowCount {
  color: black;
  position: absolute; }

.theGridColCount {
  color: black;
  position: absolute; }

.theGridSubColCount {
  color: #cccccc;
  position: absolute; }

@media only screen and (min-width: 904px) {
  .theGrigWidth,
  #theGridOverlayCols {
    width: 879px; }

  .theGridOverlayRow {
    height: 8px; }

  .theGridPhoneOverlayRow {
    display: none; } }
@media only screen and (min-width: 1300px) {
  .theGrigWidth,
  #theGridOverlayCols {
    width: 1256px; }

  .theGridOverlaySubCol {
    border: none; }

  .theGridOverlaySubCol.two {
    border-left: 1px #cccccc solid; }

  .theGridOverlaySubCol.last {
    border-left: 1px #cccccc solid;
    right: 0;
    position: absolute;
    float: none; } }
[data-role="orderedList"] {
	list-style: upper-roman;
	list-style-position: outside;
	padding: 4px 8px 4px 0px;
}
[data-role="unorderedList"] {
	list-style: disc;
	list-style-position: outside;
	padding: 4px 8px 4px 0px;
}
[data-role="orderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
}
[data-role="unorderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
}
