[data-role="orderedList"] {
	list-style: upper-roman;
	list-style-position: outside;
	padding: 4px 8px 4px 0px;
}
[data-role="unorderedList"] {
	list-style: disc;
	list-style-position: outside;
	padding: 4px 8px 4px 0px;
}
[data-role="orderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
}
[data-role="unorderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
}