[data-role="lifestyleLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="lifestyleLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="lifestyleLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="lifestyleLayoutOneB"] {
	display: table-cell;
	width: 40%;
}

[data-role="lifestyleLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 40%;
}