[data-role="lifestyleLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="lifestyleLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="lifestyleLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="lifestyleLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="lifestyleLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="lifestyleLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="lifestyleLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="lifestyleLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="lifestyleLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="lifestyleLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="lifestyleLayoutOneHeadings"] {
	min-height: 72px;
}
[data-role="lifestyleLayoutOneHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="lifestyleLayoutOneHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="lifestyleLayoutOneContent"] {
	padding: 0 16px 0 0;
}

[data-role="lifestyleLayoutOneContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}
[data-role="lifestyleLayoutOneContent"]>:FIRST-CHILD  {
	border-top: 12px solid black;
	padding: 5px 0 0 0;
	margin-bottom: 7px;
	margin-left: 8px;
}


@media only screen and (min-width : 904px) {
	[data-role="lifestyleLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="lifestyleLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="lifestyleLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="lifestyleLayoutOneB"] {
		display: table-cell;
		width: 40%;
	}
	[data-role="lifestyleLayoutOneC"] {
		display: table-cell;
		padding-top: 72px;
		width: 40%;
	}
}