footer {
	position: fixed;
	bottom: 0px;
	height: 57px;
	width: 100%;
	padding: 0px 0px 0px 0px;
	z-index: 55;
	border-top: 2px solid #AEAEA2;
	background: transparent url('../../images/transparent50.png') top left repeat;
}

[data-role="footerContactInfo"] {
	background: darkgrey;
	border: none;
	color: whitesmoke;
	width: 25%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding-left: 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerButton"] {
	background: #277093;
	border: none;
	color: #fff;
	width: 25%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	float: left;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding-left: 8px;
	font-size: 13px;
	cursor: pointer;
}

[data-role="footerContactInfoLabel"] {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	text-align: left;
}

[data-role="footerContactInfo"]:first-child {
	border: none;
}

@media only screen and (min-width : 800px) {
	footer {
		height: 57px;
		border-top: 2px solid #AEAEA2;
		background: transparent url('../../images/transparent50.png') top left repeat;
	}
	[data-role="footerContactInfo"] {
		width: 10%;
	}
}@charset "utf-8";
/*Fonts*/
@font-face {
    font-family: 'latin_modern_roman10_regular';
    src: url('../../fonts/latin_modern_roman10_regular/lmroman10-regular-webfont.eot');
    src: url('../../fonts/latin_modern_roman10_regular/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/latin_modern_roman10_regular/lmroman10-regular-webfont.woff') format('woff'),
         url('../../fonts/latin_modern_roman10_regular/lmroman10-regular-webfont.ttf') format('truetype'),
         url('../../fonts/latin_modern_roman10_regular/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Fonts End*/
/* reset css - eric meyer v2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
	font-size:13px;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clearfix hack */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* reset end */

/*FRAME SCAFFOLDING
	Developer: Mike Stott
*/
html,body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

html {
	margin: 0 auto;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	overflow-y:scroll;
}

body {
	width: 100%;
	background: #777 url('../../images/bg/bg4.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg4.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg4.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat1"] {
	background: #777 url('../../images/bg/bg6.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg6.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg6.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat2"] {
	background: #777 url('../../images/bg/bg8.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg8.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg8.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat3"] {
	background: #777 url('../../images/bg/bg18.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg18.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg18.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat4"] {
	background: #777 url('../../images/bg/bg5.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg4.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg4.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat5"] {
	background: #777 url('../../images/bg/bg6.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg5.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg5.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat6"] {
	background: #777 url('../../images/bg/bg7.png') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg6.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg6.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body[data-pageCategory="cat7"] {
	background: #777 url('../../images/bg/bg8.jpg') top center no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg7.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/bg/bg7.jpg', sizingMethod='scale')";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


[data-pageCategory="cat1"] footer,
[data-pageCategory="cat2"] footer,
[data-pageCategory="cat3"] footer,
[data-pageCategory="cat4"] footer,
[data-pageCategory="cat5"] footer,
[data-pageCategory="cat6"] footer,
[data-pageCategory="cat7"] footer {
	background: black;;
}
#pageContentWrapper {
	width: inherit;
	display: block;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	color: black;
	min-height: 100%;
}
/*
#pageContentWrapper {
	min-height: 100%;
	height: 100%;
	width: 800px;
	display: table;
	padding: 187px 0px 58px 0px;
	border-spacing: 0;
	margin-left: 400px;
	background-color: white;
} */

#pageContentOuter {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 0 0 50px;
	background: none;
}
[data-pageCategory="home"] #pageContent {
	display: block;
	padding: 0;
	background: transparent url('../../images/transparent50.png') top left repeat;
	color: white;
	margin: 200px 0px 58px 400px;
}
[data-pageCategory="cat1"] #pageContent,
[data-pageCategory="cat2"] #pageContent,
[data-pageCategory="cat3"] #pageContent,
[data-pageCategory="cat4"] #pageContent,
[data-pageCategory="cat5"] #pageContent,
[data-pageCategory="cat6"] #pageContent,
[data-pageCategory="cat7"] #pageContent {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 100px 0 58px 0;
	background-color: white;
}




.bodyWidth {
	width: 100%;
}
[data-fixed="false"] header {
/* 	position: relative; */
}
[data-role="headerCornerImg"] {
	background: url('../../images/frameTopCorner.png');
	display: block;
	width: 20px;
	height: 6px;
	position: absolute;
	left: 8px;
	bottom: -2px;
}
[data-fixed="false"] footer {
	position: relative;
}
div[data-role="footerCornerImg"] {
	background:
		url('../../images/frameBottomCorner.png');
	display: block;
	width: 26px;
	height: 6px;
	position: absolute;
	left: 0px;
	top: -2px;
}
.fullHeight {
	height: auto;
	min-height: 100%;
	background: #f2f2f2
		url('../../images/frameLeftBorder.png') repeat-y
		left top;
	
}
#footerContainerA {
	display: none;
	height: 100%;
	width: 50%;
	color: white;
	float: left;
	font-size: 35px;
	font-family: latin_modern_roman10_regular;
	line-height: 50px;
	padding-left: 10px
}
#footerContainerB {
	height: 100%;
	width: 100%;
	color: white;
	float: left;
	text-align: left;
	padding: 10px;
	font-size: 12px;
}

[data-role="footerInner"] {
	width: 100%;
	border-top: 4px solid white;
	height: 54px;
	position: relative;
}
[data-role="eziFooterButtonGroup"] {
	float: right;
	height: 100%;
	display: table;
	width: 100%;
}
[data-role="footerButtonGroup"] {
	float: right;
	height: 100%;
	display: table;
	width: 100%;
}


[data-role="footerButtonLabel"] {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	text-align: left;
}

[data-role="footerButton"]:first-child {
	border: none;
}


/*FOOTER END*/

.nowrap {
	white-space: nowrap;
}
.currency {
	white-space: nowrap;
}


/*FRAME SCAFFOLDING END*/

@media only screen and (min-width : 400px) {
	[data-pageCategory="cat1"] #pageContent,
	[data-pageCategory="cat2"] #pageContent,
	[data-pageCategory="cat3"] #pageContent,
	[data-pageCategory="cat4"] #pageContent,
	[data-pageCategory="cat5"] #pageContent,
	[data-pageCategory="cat6"] #pageContent,
	[data-pageCategory="cat7"] #pageContent {
		width: 100%;
		margin: 0;
		padding: 25% 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0 0 0 200px;
		background: none;
	}
}
@media only screen and (min-width : 800px) {
	[data-pageCategory="cat1"] #pageContent,
	[data-pageCategory="cat2"] #pageContent,
	[data-pageCategory="cat3"] #pageContent,
	[data-pageCategory="cat4"] #pageContent,
	[data-pageCategory="cat5"] #pageContent,
	[data-pageCategory="cat6"] #pageContent,
	[data-pageCategory="cat7"] #pageContent {
		width: 100%;
		margin: 0;
		padding: 200px 0 58px 0;
	}
	#pageContentOuter {
		height: 100%;
		width: 56.25%;
		margin: 0px 0px 0px 25%;
		padding: 0 6.25% 0 0;
		background: transparent url('../../images/transparent50.png') top left repeat fixed;
	}
	#footerContainerA {
		display: block;
	}
	#footerContainerB {
		width: 50%;
		font-size: inherit;
		text-align: right;
	}
}header {
	position: fixed;
	top: 0px;
	height: 58px;
	background: transparent url("../../images/logos/rmb-phone-header.jpg") repeat-x scroll top left;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
	padding: 0px 0px 0px 0px;
}
header #logo{
	position: fixed;
	top: 0px;
	height: 51px;
	width: 115px;
	background: transparent url("../../images/logos/phone-logo.png") no-repeat scroll top left;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-y: visible !important;
}

#homeLogin {
	display:none;	
}
[data-role="headerButtons"] {
	display: table;
	width: 62.5%;
	table-layout: fixed;
	height: 50px;
	color: white;
	padding: 10px 0;
	float: right;
}
[data-role="headerButtonsInner"] {
	display: table-row;
	width: 100%;
	height: 100%
}
[data-role="headerButtons"] [data-role="input"] {
	float: left;
	border: none;
}
[data-role="headerButtons"] [data-role="input"]:focus {
border: none;
outline: 0;
}
#searchButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/search.gif") no-repeat scroll center right;
	padding: 0 10px;
	width: 14px;
	overflow: hidden;
	text-indent: -100%;
	vertical-align: middle;
	text-decoration: none;
	height: 30px;
	border-right: 1px solid black;
}
#ContactButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/contact.gif") no-repeat scroll center right;
	padding: 0 10px;
	width: 14px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}
#ResetButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/settings.gif") no-repeat scroll center right;
	padding: 0 10px;
	width: 14px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

#RegisterButton {
	display: table-cell;
	background: #2F2E2C url("../../images/settings/register.gif") no-repeat scroll center right;
	padding: 0 10px;
	width: 14px;
	vertical-align: middle;
	text-decoration: none;
	overflow: hidden;
	text-indent: -100%;
	border-right: 1px solid black;
	cursor: pointer;
}

.loginPopupLinks{
	float: left;
	text-decoration: underline;
	width: 100%;
	padding: 8px 8px 8px 8px;
}

#mobileLogin [data-role="formInlineError"][data-visible="true"]{
	display:block;
}

#login {
	display: table-cell;
	width: 47%;
	text-align: right;
	position: relative;
}

#loginButton {
	background-color: #277093;
	color: white;
	width: 33.3%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#popupLoginButton{
	background-color: #277093;
	color: white;
	width: 32%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	height: 30px;
}

#LOGIN_FORM [data-role="loginMessages"] {
	display: none;
	background-color: #277093;
	color: white;
	width: 100%;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 9999;
	padding: 8px;
	text-align: left;
}

#LOGIN_FORM [data-role="loginMessages"]:BEFORE {
	display: none;
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

#LOGIN_FORM.submitError [data-role="loginMessages"],
#LOGIN_FORM.submitError [data-role="loginMessages"]:BEFORE,
#LOGIN_FORM.inputError [data-role="loginMessages"],
#LOGIN_FORM.inputError [data-role="loginMessages"]:BEFORE {
	display: block;
}

#login [data-role="formElementWrapper"] {
float: left;
width: 33.3%;
border-bottom: none;
position: static;
}

#login [data-role="formElementLabel"] {
display:none;
}
#login [data-role="formElementContainer"] {
width: 100%;
padding: 0;
position: static;
}

#login [data-role="formInlineError"]{
position: absolute;
top: 30px;
z-index: 200;
text-align: left;
}

#inlineError_Password {
left: 0;
}
#inlineError_Password[data-role="formInlineError"]:before {
left: 35%;
}
#login [data-visible="true"]{
	display:block;
}
/* Mobile Login form */
#mobileLogin #loginButton{
	background-color: #277093;
	color: white;

	width: 25%;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	float: right;
	margin: 8px 8px 8px 8px;
	height: 30px;
}
#mobileLogin{
	position: absolute;
	height: 100%;
	z-index: 200;
	background-color: #fff;
	top: 0;
	/* display: none; */
}

[data-role="blackCloseButton"] {
	background: url("../../images/login/closeBlack.png") no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 5px;
	border: none;
}

[data-role="greyHeaderWrpaper"]{
	background-color: #f7f7f7;
	padding: 5px 0 5px 0;
	float: left;
	width: 100%;
}

[data-role="greyHeaderWrpaper"] h3{
	line-height: 21px;
	/* width: 50%; */
	padding: 0;
	margin: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0px 8px 0px 8px;
}

#mobileLogin a{
	padding: 8px 8px 8px 8px;
	/* margin: 8px; */
	float: left;
	width: 100%;
}
#headerButtonMenu {
	position: absolute;
	top: -300px;
	left: 0;
	height: 300px;
	width: 100%;
	background-color: #1F1F1F;
	border-bottom: 2px solid #AEAEA2;
	color: white;
}
#headerButtonMenuContent {
	padding: 70px 10px 30px 100px; 
	border-bottom: 20px solid black;
	min-height: 100%;
}
#headerButtonMenu .headerButtonMenuItem {
	display: block;
	line-height: 20px;
	padding-left: 10px;
	background: transparent url('../../images/bullets/headerButtonMenuItem.png') left center no-repeat;
}
#headerButtonMenu h2 {
	margin-left: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
#headerButtonMenu h2:AFTER {
	border: none;
}


@media only screen and (min-width : 800px) {
	header {
		height: 102px;
		background: transparent url("../../images/logos/rmb50.png") no-repeat scroll top left;
	}
	[data-pageCategory="cat1"] header,
	[data-pageCategory="cat2"] header,
	[data-pageCategory="cat3"] header,
	[data-pageCategory="cat4"] header,
	[data-pageCategory="cat5"] header,
	[data-pageCategory="cat6"] header,
	[data-pageCategory="cat7"] header {
		background: transparent url("../../images/logos/rmb100.png") no-repeat scroll top left;
	}
	header #logo{
		display: none;
	}
	#login {
		width: 42.8571428571%;
	}
	#popupLoginButton{
		width: 33%;
	}
	#searchButton {
		text-indent: 0;
		width: 14.2857142857%;
	}
	#ResetButton {
		text-indent: 0;
		width: 14.2857142857%;
	}
	#ContactButton {
		text-indent: 0;
		width: 14.2857142857%;
	}
	#RegisterButton {
		text-indent: 0;
		width: 14.2857142857%;
	}
	#headerButtonMenuContent {
		padding: 70px 10px 30px 600px; 
	}
	
}

/* Developer: Richard */

[data-role="notificationsContainer"] {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

[data-role="notificationsContainerWrapper"] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

[data-role="notificationsContainerInner"] {
	background: #277093;
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
}

[data-role="notificationsContainerClose"] {
	background: url("../../images/notificationsContainer/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

[data-role="notificationsContainerTitle"] {
	text-align: left;
	padding: 0 0 0 8px;
	font-size: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 32px;
}#sideMenuButton {
	color: white;
	width: 50px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0px;
	background: transparent url('../../images/transparent70.png') top left repeat;
}
#sideMenuButtonText {
	width: 100%;
	height: 100%;
	background: transparent url('../../images/sideMenu/menu.png') left 100px no-repeat;
}


#sideMenu {
	color: white;
}
#sideMenu .expandable {
	display: none;
}
#sideMenu .expanded .expandable {
	display: block;
}

#sideMenuClose {
	width: 41px;
	height: 39px;
	background: transparent url('../../images/sideMenu/close.jpg') top left no-repeat;
	position: absolute;
	right: 10px;
	top: 10px;
}
#sideMenuContent {
	position: absolute;
	top: 58px;
	left: -100%;
	background: transparent url('../../images/transparent70.png') top left repeat;
	width:100%;
	height:100%;
	padding: 50px 10px 50px 10px;
}
.sideMenuLink {
	display: block;
	text-decoration: none;
}
#sideMenu .sideMenuHeading {
	font-size: 13px;
	line-height: 30px;
	width: 100%;
	padding: 10px 8px 0px 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/right-markers.png');
	background-position: right -10px;
	border-top: 1px solid #AEAEA2;
	border-bottom: 1px solid #AEAEA2;
	cursor: pointer;
	margin-top: -1px;
}
#sideMenu .cat1 .sideMenuHeading {
	border-top: 1px solid #AEAEA2;
}
#sideMenu .cat2 .sideMenuHeading {
	background-position: right -60px;
}
#sideMenu .cat3 .sideMenuHeading {
	background-position: right -110px;
}
#sideMenu .cat4 .sideMenuHeading {
	background-position: right -160px;
}
#sideMenu .cat5 .sideMenuHeading {
	background-position: right -210px;
}
#sideMenu .cat6 .sideMenuHeading {
	background-position: right -260px;
}
#sideMenu .cat7 .sideMenuHeading {
	background-position: right -310px;
}
[data-pageCategory="cat1"] #sideMenu .cat1 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -10px;
	padding-left: 20px;
}
[data-pageCategory="cat2"] #sideMenu .cat2 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -60px;
	padding-left: 20px;
}
[data-pageCategory="cat3"] #sideMenu .cat3 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -110px;
	padding-left: 20px;
}
[data-pageCategory="cat4"] #sideMenu .cat4 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -160px;
	padding-left: 20px;
}
[data-pageCategory="cat5"] #sideMenu .cat5 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -210px;
	padding-left: 20px;
}
[data-pageCategory="cat6"] #sideMenu .cat6 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -260px;
	padding-left: 20px;
}
[data-pageCategory="cat7"] #sideMenu .cat7 .sideMenuHeading {
	background-image: url('../../images/pageSection/left-markers.png');
	background-position: left -310px;
	padding-left: 20px;
}
#sideMenuGroups {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url('../../images/transparent70.png') top left repeat;
	padding: 200px 10px 10px 200px;
}
.sideMenuGroup {
	height: 100%;
	padding: 0px 10px 10px 0px;
	display: none;
}


.sideMenuGroup hr{
	border: none;
	margin-left: 10px;
	margin-bottom: 10px;
}
.sideMenuGroup.cat1 hr{
	border-top: 1px solid #9B9175;
}
.sideMenuGroup.cat2 hr{
	border-top: 1px solid #626262;
}
.sideMenuGroup.cat3 hr{
	border-top: 1px solid #737A78;
}
.sideMenuGroup.cat4 hr{
	border-top: 1px solid #4C859D;
}
.sideMenuGroup.cat5 hr{
	border-top: 1px solid #915758;
}
.sideMenuGroup.cat6 hr{
	border-top: 1px solid #B7DAB6;
}
.sideMenuGroup.cat7 hr{
	border-top: 1px solid #DA9669;
}

.sideMenuGroupHeading {
	display: none;
	font-size: 20px;
	line-height: 20px;
	width: 100%;
	padding: 12px 8px 0px 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/headings.png');
	background-position: 0px -10px;
	text-transform: uppercase;
}
.cat1 .sideMenuGroupHeading {
	background-position: 0px -60px;
}
.cat2 .sideMenuGroupHeading {
	background-position: 0px -110px;
}
.cat3 .sideMenuGroupHeading {
	background-position: 0px -160px;
}
.cat4 .sideMenuGroupHeading {
	background-position: 0px -210px;
}
.sideMenuGroupLink {
	display: block;
	line-height: 30px;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/bullets/arrow/default.gif');
	background-position: 0px center;
	text-decoration: none;
}
.cat1 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat1.gif');
}
.cat2 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat2.gif');
}
.cat3 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat3.gif');
}
.cat4 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat4.gif');
}
.cat5 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat5.gif');
}
.cat6 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat6.gif');
}
.cat7 .sideMenuGroupLink {
	background-image: url('../../images/bullets/arrow/cat7.gif');
}
@media only screen and (min-width : 400px) {
	#sideMenuContent {
		position: fixed;
		left: -100%;
		width: 200px;
		padding: 50px 10px 50px 10px;
	}
	#sideMenu .sideMenuHeading {
		border-top: none;
	}
	.sideMenuGroup {
		height: 100%;
		margin: 200px 10px 10px 200px;
		position: fixed;
		left: 0;
		top: 0px;
		width: 100%;
		display: none;
		background: transparent url('../../images/transparent50.png') top left repeat fixed;
	}
}

@media only screen and (min-width : 800px) {
	#sideMenuButton {
		display: none;
	}
	#sideMenuClose {
		display: none;
	}	
	#sideMenuContent {
		left: 0%;
		height: auto;
		top: 200px;
	}
	.sideMenuGroup.cat1 {
		border-left: 1px solid #9B9175;
	}
	.sideMenuGroup.cat2 {
		border-left: 1px solid #626262;
	}
	.sideMenuGroup.cat3 {
		border-left: 1px solid #737A78;
	}
	.sideMenuGroup.cat4 {
		border-left: 1px solid #4C859D;
	}
	.sideMenuGroup.cat5 {
		border-left: 1px solid #915758;
	}
	.sideMenuGroup.cat6 {
		border-left: 1px solid #B7DAB6;
	}
	.sideMenuGroup.cat7 {
		border-left: 1px solid #DA9669;
	}
	.sideMenuGroupHeading {
		display: block;
	}
	.sideMenuGroupLink {
		margin: 0 0 0 40px;
	}
	.sideMenuGroup hr{
		margin-left: 40px;
	}
}