	.homeLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.homeLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.homeLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	.homeLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}

.homeLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
	background-color: white;
}
.homeLayoutOneInner {
	width: 100%;
	position: relative;
}
.homeLayoutOneA {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneB {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneC {
	position: relative;
	background-color: white;
}

.homeLayoutOneD {
	height: 88px;
	position: relative;
	background-color: white;
}

.homePageLinks {
	padding: 0 8px;
}
.homePageLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/arrows/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}
hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}
@media only screen and (min-width : 904px) {
	.homeLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.homeLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.homeLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	.homeLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
}[data-role="overviewLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="overviewLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="overviewLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="overviewLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}[data-role="overviewLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
}
[data-role="overviewLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="overviewLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="overviewLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="overviewLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="overviewLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="overviewLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="overviewLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="overviewLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="overviewLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="overviewLayoutOneHeadings"] {
	min-height: 72px;
}

[data-role="overviewLayoutOneContent"] {
	padding: 0 0 60px 0;
}

[data-role="overviewLayoutOneGrid"] {
	border-spacing: 0px 10px;
	border-collapse: separate;
	display: table;
	width: 100%;
	font-size: 0.8em;
	table-layout: fixed;
	margin-top: -16px;
}
[data-role="overviewLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="overviewLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	width: 100%;
	float: left;
	padding: 0px 10px 8px 0px;
}

[data-role="overviewLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
[data-role="overviewLayoutOneGridItem"].moreText {
	background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
	cursor: pointer;
	padding: 0px 0px 38px 0px;
	text-decoration: none;
}
[data-role="overviewLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 0px 4px 0px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	margin: 0 8px;
}
[data-role="overviewLayoutOneGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}


@media only screen and (min-width : 904px) {
	[data-role="overviewLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="overviewLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="overviewLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="overviewLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}
}[data-role="productLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="productLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="productLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="productLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="productLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="productLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}[data-role="productLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
}
[data-role="productLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="productLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="productLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="productLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="productLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="productLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="productLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="productLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="productLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="productLayoutOneHeadings"] {
	min-height: 72px;
}

[data-role="productLayoutOneContent"] {
	padding: 0 0 60px 0;
}

[data-role="productLayoutOneGrid"] {
	border-collapse: separate;
	display: table;
	width: 100%;
	font-size: 0.8em;
	table-layout: fixed;
	margin-top: -16px;
}
[data-role="productLayoutOneGrid"]:BEFORE {
	margin-top: 10px;
	content: " ";
	display: table;
}
[data-role="productLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="productLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	width: 100%;
	float: left;
	padding: 0px 10px 8px 0px;
}

[data-role="productLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
[data-role="productLayoutOneGridItem"].moreText {
	background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
	cursor: pointer;
	padding: 0px 0px 38px 0px;
	text-decoration: none;
}
[data-role="productLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 0px 4px 0px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	margin: 0 8px;
}
[data-role="productLayoutOneGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}

@media only screen and (min-width : 904px) {
	[data-role="productLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="productLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="productLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="productLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="productLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="productLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}
}