h1 {
	font-size: 24px;
	font-family: latin_modern_roman10_regular;
	line-height: 24px;
	width: 100%;
	padding: 16px 8px 0px 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../images/pageSection/headings.png');
	background-position: 0px -10px;
	text-transform: uppercase;
}

h2 {
	font-size: 15px;
	font-family: latin_modern_roman10_regular;
	line-height: 20px;
	width: inherit;
	padding: 0px 8px 0px 0px;
	margin: 0px 20px 8px 20px;
	text-transform: uppercase;
}

[data-pageCategory="cat1"] h1 {
	background-position: 0px -60px
}

[data-pageCategory="cat1"] h2 {
	border-bottom: 2px solid #9B9175;
}
[data-pageCategory="cat1"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #9B9175;
	content: " ";
	display: table;
	width: 170px;
}
[data-pageCategory="cat2"] h1 {
	background-position: 0px -110px
}

[data-pageCategory="cat2"] h2 {
	border-bottom: 2px solid #626262;
}
[data-pageCategory="cat2"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #626262;
	content: " ";
	display: table;
	width: 170px;
}

[data-pageCategory="cat3"] h1 {
	background-position: 0px -160px
}

[data-pageCategory="cat3"] h2 {
	border-bottom: 2px solid #737A78;
}
[data-pageCategory="cat3"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #737A78;
	content: " ";
	display: table;
	width: 170px;
}

[data-pageCategory="cat4"] h1 {
	background-position: 0px -210px
}

[data-pageCategory="cat4"] h2 {
	border-bottom: 2px solid #4C859D;
}
[data-pageCategory="cat4"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #4C859D;
	content: " ";
	display: table;
	width: 170px;
}

[data-pageCategory="cat5"] h1 {
	background-position: 0px -260px
}

[data-pageCategory="cat5"] h2 {
	border-bottom: 2px solid #915758;
}
[data-pageCategory="cat5"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #915758;
	content: " ";
	display: table;
	width: 170px;
}

[data-pageCategory="cat6"] h1 {
	background-position: 0px -310px
}

[data-pageCategory="cat6"] h2 {
	border-bottom: 2px solid #B7DAB6;
}
[data-pageCategory="cat6"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #B7DAB6;
	content: " ";
	display: table;
	width: 170px;
}

[data-pageCategory="cat7"] h1 {
	background-position: 0px -360px
}

[data-pageCategory="cat7"] h2 {
	border-bottom: 2px solid #DA9669;
}
[data-pageCategory="cat7"] h2:AFTER {
	margin-top: 2px;
	border-bottom: 2px solid #DA9669;
	content: " ";
	display: table;
	width: 170px;
}


h3 {
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	padding: 0px 8px 0px 0px;
	margin: 0px 20px 8px 20px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

h4 {
	font-size: 14px;
	line-height: 21px;
	width: 100%;
	padding: 0px 8px 0px 0px;
	margin: 0px 20px 8px 20px;
}

h5 {
	font-size: 27px;
}

h6 {
	font-size: 27px;
}

p {
	font-size: 13px;
	line-height: 20px;
	padding: 2px 8px 4px 0px;
	margin: 0px 0px 10px 20px;
}
b {
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
a {
	color: inherit;
}
a[href=""] {
	text-decoration: line-through;
}
[data-role="orderedList"] {
	list-style: upper-roman;
	list-style-position: outside;
	padding: 4px 8px 4px 10px;
}
[data-role="unorderedList"] {
	list-style: disc;
	list-style-position: outside;
	padding: 4px 8px 4px 10px;
}
[data-role="orderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
}
[data-role="unorderedList"] li {
	font-size: 13px;
	line-height: 16px;
	margin-left: 24px; 
	padding: 0 0 0 10px;
	background-color: transparent;
	list-style-image: url('../../images/bullets/dot/default.gif');
}
[data-pageCategory="cat1"] [data-role="unorderedList"] li {
	list-style-image: url('../../images/bullets/dot/cat1.gif');
}
[data-pageCategory="cat2"] [data-role="unorderedList"] li {
	list-style-image: url('../../images/bullets/dot/cat2.gif');
}
[data-pageCategory="cat3"] [data-role="unorderedList"] li {
	list-style-image: url('../../images/bullets/dot/cat3.gif');
}
[data-pageCategory="cat4"] [data-role="unorderedList"] li {
	list-style-image: url('../../images/bullets/dot/cat4.gif');
}				
[data-role="ratesTable"] { font-size: 12px; background-color: #f2f2f2; border-top: 1px solid black; margin: 8px 0;}
[data-role="ratesTable"], [data-role="ratesTableRow"], [data-role="ratesTableCell"] { width: 100%; height: auto;}
[data-role="ratesTableRow"] { clear:both; border-bottom: 0; padding: 0 8px 8px 8px;}
[data-role="ratesTableHeaderCell"] { display: none; padding: 0 8px; }
[data-role="ratesTableCell"] { border-right: 0; line-height: 30px; padding: 0 8px; }
[data-role="ratesTableCell"] span { display: inline-block; width: 40%; font-weight: bold;}
			
[data-role="ratesTable"] .expander { cursor: pointer; background-color: white; background-position: center right; background-repeat: no-repeat;
	background-image: url("../../images/table/expandable.png"); }
[data-role="ratesTable"] .expanded .expander {
	background-image: url("../../images/table/expanded.png"); }
[data-role="ratesTable"] .expandable { display: none; background-color: #E7E7E7; }
[data-role="ratesTable"] .expanded .expandable { display: block; }
[data-role="ratesTable"] .expanded .expandable [data-role="ratesTableCell"]" { border-bottom-color: white;}
[data-role="ratesTable"] .expanded .expandable:after { 
	content: "";
	position: absolute;
	display: block;
	border-width: 7px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: white;
	border-left-color: white;
	top: -13px;
	left: 70px;
}
[data-role="ratesInnerTable"] { display: table; width:100%; border: none; }
[data-role="ratesInnerTable"] [data-role="ratesTableRow"] { padding: 0;}

[data-role="ratesTableCell"].noPadding, [data-role="ratesTableHeaderCell"].noPadding { padding: 0;}
[data-role="ratesTableCell"].noBorder, [data-role="ratesTableHeaderCell"].noBorder { border: 0;}
				
@media only screen and (min-width: 904px){
	[data-role="ratesTable"]     { display: table; table-layout: fixed;}
	[data-role="ratesTableRow"]        { display: table-row; }
	[data-role="ratesTableHeaderCell"]     { display: table-header-group; }
	[data-role="ratesTableBody"]     { display: table-row-group; }
	[data-role="ratesTableFooter"]     { display: table-footer-group ;}
	[data-role="ratesTableCol"]       { display: table-column; }
	[data-role="ratesTableColGroup"]  { display: table-column-group; }
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"]   { display: table-cell;}
	[data-role="ratesTableCaption"]   { display: table-caption; }

	[data-role="ratesTable"] { background-color: white; border: none;}
	[data-role="ratesTableRow"] { border-bottom: 1px solid #4885A2;}
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"] { border-right: none; }

	[data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; }
	[data-role="ratesTable"] [data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; background-color: transparent; }
	[data-role="ratesTableHeaderCell"] { font-weight: bolder; background-color: #4885A2;  color: white; font-size: 13px; line-height: 16px;} /* BFE6E5 */
	[data-role="ratesTableCell"] { font-size: 13px; line-height: normal; }
	[data-role="ratesTableCell"]:first, 
	[data-role="ratesTableHeaderCell"]:first { border-left: 0;}
	[data-role="ratesTableCell"] span { display: none; }

	[data-role="ratesTable"] .td100 { width: 100%; }
	[data-role="ratesTable"] .td90  { width: 90%; }
	[data-role="ratesTable"] .td80  { width: 80%; }
	[data-role="ratesTable"] .td75  { width: 75%; }
	[data-role="ratesTable"] .td70  { width: 70%; }
	[data-role="ratesTable"] .td67  { width: 66.6666%; }
	[data-role="ratesTable"] .td66  { width: 66.6666%; }
	[data-role="ratesTable"] .td60  { width: 60%; }
	[data-role="ratesTable"] .td50  { width: 50%; }
	[data-role="ratesTable"] .td40  { width: 40%; }
	[data-role="ratesTable"] .td33  { width: 33.3333%; }
	[data-role="ratesTable"] .td30  { width: 30%; }
	[data-role="ratesTable"] .td25  { width: 25%; }
	[data-role="ratesTable"] .td20  { width: 20%; }
	[data-role="ratesTable"] .td15  { width: 15%; }
	[data-role="ratesTable"] .td10  { width: 10%; }
	
	
	.mobileBrowser [data-role="ratesTable"] { font-size: 12px; background-color: #f2f2f2; border-top: 1px solid black; margin: 8px 0;}
	.mobileBrowser [data-role="ratesTable"], .mobileBrowser [data-role="ratesTableRow"], .mobileBrowser [data-role="ratesTableCell"] { width: 100%; height: auto;}
	.mobileBrowser [data-role="ratesTableRow"] { clear:both; border-bottom: 0; padding: 0 8px 8px 8px;display:block;}
	.mobileBrowser [data-role="ratesTableHeaderCell"] { display: none; padding: 0 8px; }
	.mobileBrowser [data-role="ratesTableCell"] { border-right: 0; line-height: 30px; padding: 0 8px;display:block; }
	.mobileBrowser [data-role="ratesTableCell"] span { display: inline-block; width: 40%; font-weight: bold;}
		
	.mobileBrowser [data-role="ratesTable"] .expander { cursor: pointer; background-color: white; background-position: center right; background-repeat: no-repeat;
			background-image: url("../../images/table/expandable.png"); }
	.mobileBrowser [data-role="ratesTable"] .expanded .expander {
			background-image: url("../../images/table/expanded.png"); }
	.mobileBrowser [data-role="ratesTable"] .expandable { display: none; background-color: #E7E7E7; }
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable { display: block; }
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable [data-role="ratesTableCell"]" { border-bottom-color: white;}
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable:after { 
			content: "";
			position: absolute;
			display: block;
			border-width: 7px;
			border-style: solid;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: white;
			border-left-color: white;
			top: -13px;
			left: 70px;
		}
	.mobileBrowser [data-role="ratesInnerTable"] { display: table; width:100%; border: none; }
	.mobileBrowser [data-role="ratesInnerTable"] [data-role="ratesTableRow"] { padding: 0;}	
	.mobileBrowser [data-role="ratesTableCell"].noPadding, .mobileBrowser [data-role="ratesTableHeaderCell"].noPadding { padding: 0;}
	.mobileBrowser [data-role="ratesTableCell"].noBorder, .mobileBrowser [data-role="ratesTableHeaderCell"].noBorder { border: 0;}				
}
