.bannerContainer{height:100%;min-height:100%;width:100%;}
.bannerObject {height:100%;min-height:100%;width:100%;}.BannerContainer {
	height:			100%;
	width:			100%;
}
.BannerWrapper {
	position:		relative;
	height: 		100%;
	width:			100%;
	margin:		0 auto;
	overflow:		hidden;
	background: 	#8CB8B7;
	display: block;
	min-height: 100px;
}
.BannerWrapper .copywrapper {
	position:	relative;
	left:			5%;
	top:			3%;
	float:		left;
	z-index: 	1;
	height: 	90%;
	position: relative;
}
.BannerWrapper .copywrapper .copy,
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2,
.BannerWrapper .copywrapper .copy3, 
.BannerWrapper .copywrapper .copy4 {
	position:		relative;
	font-size:		12px;
	color:			#fff;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	display: 		block;
}
.BannerWrapper .copywrapper .copy1 {
	font-size:		36px;
}
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2 {
	font-size:		18px;
}
.BannerWrapper .copywrapper .copy2 {
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	font-size:		22px;
}
.BannerWrapper .copywrapper .copy3 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	margin-bottom:5px;
}
.BannerWrapper .copywrapper .copy4 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
}				
.BannerWrapper .imagewrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
}						
.BannerWrapper .image {
	height: 80%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}	
.BannerWrapper .ui-spacer {
	height: 8%;
	position: relative;
}	

@media only screen and (min-width : 904px) {
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
}.relatedPages a {
	text-decoration: none;
}
.relatedPage {
	display: block;
	line-height: 30px;
	margin: 0 20px;
	padding: 0 10px 0 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../../images/bullets/arrow/inverse.gif');
	background-position: right center;
	border-top: 1px solid silver;
}
.relatedPage.last {
	border-bottom: 1px solid silver;
}/* slideHeader */
.slideHeader{
	empty-cells:show;
	width:100%;
	background:#F2F2F2;
	display:table;
}

.slideHeaderRow{
	display:table-row;
}

.slideHeaderLeftImage{
	display:table-cell;
	width:3%;
	background: url('../../../genericImages/widgets/slider/leftArrow.png') center center no-repeat;
}
.slideHeaderInner{
	display:table-cell;
	width:94%;
	text-align:center;
	background: url('../../../genericImages/widgets/slider/middleLine.png') center center repeat-x;
	vertical-align:middle;
	
}
.slideHeaderInner p{
	display:inline;
	line-height:25px;
	background:#F2F2F2;
	margin:auto;
}
.slideHeaderRightImage{
	display:table-cell;
	width:3%;
	background: url('../../../genericImages/widgets/slider/rightArrow.png') center center no-repeat;
}