	[data-role="calculatorLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="calculatorLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="calculatorLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="calculatorLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
