.compareGrid {
	border-spacing: 4px 0px;
	border-collapse: separate;
	line-height: 16px;
	table-layout: fixed;

}
.compareGrid a {
	text-decoration: none
}
.compareGridTitle {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 9px 0;
	text-align: left;
}
.compareCategory {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}
.compareCategoryInner {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}
.compareCategoryInnerLine {
	border: 1px solid black;
	border-bottom :none;
	height: 6px;
	margin-bottom: 2px;
}
.compareHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 16px;
	color: black;
	line-height: 16px;
	background-color: white;
	padding: 8px;
	text-align: left;
}
.compareSubHeading {
	font-size: 11px;
	color: black;
	line-height: 16px;
	background-color: white;
	padding: 8px;
	border-bottom: 1px solid #f2f2f2;
	text-align: left;
}
.compareBenefit {
	background-color: white;
	padding: 8px;
	vertical-align: middle;
}
.compareBenefitInner {
	background-color: #ff9900;
	color: white;
}
.compareBenefitNumber {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 32px;
	line-height: 16px;
	padding: 8px;
	position: relative;
	top: 4px;
}
.compareGroupHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	vertical-align: baseline;
	padding: 8px 8px 2px 8px
}
.compareBenefitIncludes {
	background-color: white;
	padding: 8px;
}
.compareBenefitIncludesTitle {
	color: #7a7a7a;
}
[data-role="compareItem"] {
	cursor: pointer;
}
.compareItemValue {
	background-color: white;
	text-align: left;
	vertical-align: middle;
	padding: 0 8px 4px 0;
	border: 8px solid white;
	border-bottom: 1px solid #f2f2f2;
}
.compareItemValue.last {
	border-bottom: 1px solid white;
}
.compareWizard {
	vertical-align: middle;
	text-align: right;
}
.compareSubHeadingsLabel {
	vertical-align: middle;
	text-align: right;
}
.compareItemLabel {
	vertical-align: middle;
	text-align: right;
}
.compareItemValueInner {
	height: 100%;
	min-height: 100%;
}
.available {
	background-image: url("../../../../../../../00Assets/skins/00/images/comparisonGrid/available.png");
	background-position: center center;
	background-repeat: no-repeat;
}
.unavailable {
	background-image: url("../../../../../../../00Assets/skins/00/images/comparisonGrid/unavailable.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.popupMessageAnchor {
	position: relative;
}
.popupMessage {
	position: absolute;
	top: 8px;
	right: 0;
	background-color: #767676;
	color: white;
	padding: 8px;
}
.popupMessage:BEFORE {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	right: 8px;
	top: -4px;
	background: url('../../../../images/noteArrow.png');
}