
html {
	background: none;
}

#headerInner {
	background: url("../images/banking/headerBg.png") repeat-x left top;
}

#topTabs {
	background: #ce0683;
	padding: 0px
}

#menuWrapper {
	background: #ce0683
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../images/banking/arrows/leftArrowSkinSmallWhite.png')
		top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background: url('../images/banking/arrows/rightArrowSkinSmallWhite.png')
		top right no-repeat;
}
.mainTab {
	background: #ce0683;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #ce0683;}

.mainTab.topTabSelected {
	background-color: #ce0683;
	border-bottom: 3px solid #435e93;}

.mainTab.topTabSelected:hover {
	background-color: #ce0683;
}

.mainTab:hover {
	background-color: #ce0683 !important;
	border-bottom: 3px solid #435e93
}

.mainTab span {
	color: #fff;
}

.mainTab.topTabSelected span {
	color: #fff;
}

.mainTab.lastTab {
	background-image: none;
}

#loginButton {
	background: none;
	color: #ce0683
}

#RegisterButton {
	color: #ce0683
}

#ResetButton {
	color: #ce0683
}

#RegisterButton {
	color: #ce0683
}

#VerifyButton {
	color: #ce0683
}

#WebrootButton {
	color: #ce0683
}

#searchButton {
	color: #ce0683
}

.headerButtonlogoutBtn {
	background: #0f66ad !important;
}

#error {
	background: #ce0683;
}

.applyHeaderButton {
	background: #0f66ad !important;
}

.footerButton {
	background: #ce0683;
}
#footerButtonGroup .footerBtn{background: #ce0683;}

#footerButtonGroup .footerBtn a {
	background: #ce0683;
}


#actionMenuBttLabelWrapper {
	background: #ce0683 url("../images/banking/actionMenu/menuBg.png")
		no-repeat center 6px;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper
	{
	background: #ce0683 url("../images/banking/actionMenu/menuBgExpanded.png")
		no-repeat center 6px;
}

.actionColFirst {
	background: #ce0683;
}

.dropdownCarat {
	background-color: #0f66ad
}

.contentInner {
	background: none;
}

#headerCornerImg {
	background: none;
}

#footerCornerImg {
	background: none;
}

#footerButtonGroup {
	border-top: 1px solid #ccc;
}

#footerTag{
	background: #f2f2f2 url('../images/banking/logo-thin.png') -0px 5px
		no-repeat!important;
}

.loaderProgress {
	background: #0f66ad;
}

.eziLoaderProgress {
	background: #435e93;

}
.notificationsInner {
	background: #435e93;
}
.timeOutInner {
	background: #435e93!Important;

}

#bodyContainer #whatsNewContainer li {
	list-style-image: url("../images/listicons/icon_arrow.png");
}
#bodyContainer #significantEventsContainer li {
	background: rgba(0, 0, 0, 0) url('../images/sigEvents/sigEvent.png') 0px 4px no-repeat;
}

/* ie8 Exit tags */

#ie8Stage3 .ie8popupBar{
   	 background:#e7e7e7!important;
	border-top:10px solid #ce0683!important;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;	
	background-position: 0px bottom!important; 			
}


#ie8Stage3  .ie8header1{
	color:#435e93!important;
}

#ie8Stage3  .ie8header2{
	color:#435e93!important;
}

#ie8Stage3 .ie8p1{
	color:#435e93!important;
}

#ie8Stage3 .ie8p2{
	color:#435e93!important;
}

#ie8Stage3 .ie8Btn{
	padding: 9px 15px 9px 15px!important;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #435e93!important;
	color:#ffffff!important;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important; 
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#435e93!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#435e93!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#435e93!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#435e93!important;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline!important;
    color:#435e93!important;
}