[data-role="formsLayoutOneContentOne"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 80%;
}

[data-role="formsLayoutOneContentTwo"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	width: 20%;
}