[data-role="ratesLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="ratesLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="ratesLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="ratesLayoutOneB"] {
	display: table-cell;
	width: 80%;
}