[data-role="ratesLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="ratesLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="ratesLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="ratesLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="ratesLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="ratesLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="ratesLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="ratesLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="ratesLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="ratesLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="ratesLayoutOneHeadings"] {
	min-height: 72px;
}
[data-role="ratesLayoutOneHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="ratesLayoutOneHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="ratesLayoutOneContent"] {
	padding: 0;
}
[data-role="ratesLayoutOneContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}

@media only screen and (min-width : 904px) {
	[data-role="ratesLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="ratesLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="ratesLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="ratesLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
}