#prepareOfferView * {
	color: inherit;
}
#prepareOfferView {
	padding: 20px;
	font-size: 13px;
}
#prepareOfferView h1,
#prepareOfferView h2,
#prepareOfferView h3,
#prepareOfferView h4 {
	padding: 8px 0;
}

#prepareOfferView li {
	list-style-image: url("/banking/03images/fnb/listicons/icon_orange_arrow.png");
	margin-bottom: 0;
	padding: 0 10px 0 0;
	font-size: 12px;
	margin-left: 14px;
}