[data-role="formElementContainer"] {
	width: 50%;
}
[data-role="formElementContentInner"] {
	padding: 8px 0px;
}
#pageContentOuter {
	background: none;
	width: 75%;
}
#pageContent {
	margin-top: 200px;
}
.searchPageLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}
.searchPageLayoutOneInner {
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.searchPageLayoutOneA {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
.searchPageLayoutOneB {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}
.searchPageLayoutOneC {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}

.searchPageLayoutOneD {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}

[data-role="formElementLabel"] {
	padding: 0 0 0 60px;
	width: 0;
}
[data-role="searchPagePageLayoutOneGridItem"] {
	display: table-cell;
	float: none;
}
[data-role="searchPagePageLayoutOneGridItemSearch"] {
	display: table-cell;
	width: 30%;
	float: none;
	padding: 40px 0;
	min-height: 200px;
}
#searchForm {
	padding-left: 0px;
}
#searchSubmitButton {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	background-color: #277093;
	margin: 0;
}
#searchResultsWrapper {
	padding: 40px 20px 20px 40px;
}