#pageContentOuter {
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	float: right;
}

#pageContent {
	display: block;
	padding: 0 40px 20px 20px;
	background: transparent url('../../../images/transparent70.png') top
		left repeat;
	color: white;
	min-height: 450px;
	height: auto;
}

.searchPageLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
	background-color: white;
}

.searchPageLayoutOneInner {
	width: 100%;
	position: relative;
}

.searchPageLayoutOneA {
	height: 160px;
	width: 50%;
	float: left;
	position: relative;
	background-color: white;
	z-index: 1;
}

.searchPageLayoutOneB {
	height: 160px;
	width: 50%;
	float: left;
	position: relative;
	background-color: white;
	z-index: 1;
}

.searchPageLayoutOneC {
	position: relative;
	background-color: white;
}

.searchPageLayoutOneD {
	height: 88px;
	position: relative;
	background-color: white;
}

.searchPagePageLinks {
	padding: 0 8px;
}

.searchPagePageLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/arrows/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}

hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}

[data-role="searchPagePageLayoutOneGrid"] {
	border-collapse: separate;
	display: table;
	width: 100%;
	table-layout: fixed;
}

[data-role="searchPagePageLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}

[data-role="searchPagePageLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	float: left;
	margin-top: 10px;
	/* 	background: url("../../../images/transparent70.png"); */
}

[data-role="searchPagePageLayoutOneGridItemSearch"] {
	display: block;
	width: 100%;
	overflow: hidden;
	float: none;
	margin-top: 10px;
	background: url("../../../images/transparent70.png");
}

[data-role="searchPagePageLayoutOneGridItemSearch"] p {
	padding: 0 0 0 20px;
	margin: 0;
}

[data-role="searchPagePageLayoutOneGridItemSearch"] h1 {
	padding-top: 0px;
	background-position: 0px -17px;
	margin: 0;
}

[data-role="searchPagePageLayoutOneGridItemInner"] {
	height: 100%;
}

[data-role="searchPagePageLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}

[data-role="searchPagePageLayoutOneGridItem"].moreText {
	cursor: pointer;
	text-decoration: none;
}

[data-role="searchPagePageLayoutOneGridItemHeading"] {
	padding: 10px 0px 0px 20px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
}

[data-role="searchPagePageLayoutOneGridItemCount"] {
	margin: 0 0 0 20px;
	font-size: 96px;
	color: grey;
	border-bottom: 6px solid grey;
}

[data-role="footerButtonGroup"] {
	float: left;
	padding: 0 20px 0 0;
}

[data-role="formElementContainer"] {
	padding: 8px 0px 0px 0px;
}

[data-role="formElementLabel"] {
	padding: 0;
	width: 0;
}

[data-role="formElementContent"] {
	padding: 0;
}

[data-role="formElementContainer"] {
	width: 100%;
}

[data-role="input"] {
	height: 30px;
}

#searchResultsWrapper {
	padding: 40px 20px 20px 0px;
}

#searchSubmitButton {
	margin: 0;
}

[data-role="formElementContentInner"]:before {
	background: none;
}

/*IE8*/
.IE8 #pageContentOuter {
	background: none;
	width: 75%;
}

.IE8 #pageContent {
	margin-top: 200px;
}

.IE8 .searchPageLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}

.IE8 .searchPageLayoutOneInner {
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

.IE8 .searchPageLayoutOneA {
	height: 480px;
	width: 20%;
	float: left;
	overflow: hidden;
	position: relative;
}

.IE8 .searchPageLayoutOneB {
	height: 480px;
	width: 30%;
	float: left;
	overflow: hidden;
	position: relative;
}

.IE8 .searchPageLayoutOneC {
	height: 480px;
	width: 30%;
	float: left;
	overflow: hidden;
	position: relative;
}

.IE8 .searchPageLayoutOneD {
	height: 480px;
	width: 20%;
	float: left;
	overflow: hidden;
	position: relative;
}

.IE8 [data-role="formElementLabel"] {
	padding: 0 0 0 60px;
	width: 0;
}

.IE8 [data-role="searchPagePageLayoutOneGridItem"] {
	display: table-cell;
	float: none;
}

.IE8 [data-role="searchPagePageLayoutOneGridItemSearch"] {
	display: table-cell;
	width: 30%;
	float: none;
	padding: 40px 0;
	min-height: 200px;
}

.IE8 #searchForm {
	padding-left: 0px;
}

.IE8 #searchSubmitButton {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	background-color: #277093;
	margin: 0;
}

.IE8 #searchResultsWrapper {
	padding: 40px 20px 20px 40px;
}

.searchResultA {
	clear: float;
	float: none;
	width: 100%;
	padding-right: 8px;
}

.searchResultB {
	clear: float;
	float: none;
	width: 100%;
	padding-right: 8px;
}

.IE8 .searchResultA {
	float: left;
	width: 50%;
	padding-right: 8px;
}

.IE8 .searchResultB {
	float: left;
	width: 50%;
	padding-right: 8px;
}

@media only screen and (min-width : 904px) {
	.searchResultA {
		float: left;
		width: 50%;
		padding-right: 8px;
	}
	.searchResultB {
		float: left;
		width: 50%;
		padding-right: 8px;
	}
}

@media only screen and (min-width : 400px) {
	[data-role="formElementContainer"] {
		width: 50%;
	}
	[data-role="formElementContentInner"] {
		padding: 8px 0px;
	}
	#searchForm {
		padding-left: 20px;
	}
}

@media only screen and (min-width : 800px) {
	#pageContentOuter {
		background: none;
		width: 75%;
	}
	#pageContent {
		margin-top: 200px;
	}
	.searchPageLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.searchPageLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.searchPageLayoutOneA {
		height: 480px;
		width: 20%;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.searchPageLayoutOneB {
		height: 480px;
		width: 30%;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.searchPageLayoutOneC {
		height: 480px;
		width: 30%;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.searchPageLayoutOneD {
		height: 480px;
		width: 20%;
		float: left;
		overflow: hidden;
		position: relative;
	}
	[data-role="formElementLabel"] {
		padding: 0 0 0 60px;
		width: 0;
	}
	[data-role="searchPagePageLayoutOneGridItem"] {
		display: table-cell;
		float: none;
	}
	[data-role="searchPagePageLayoutOneGridItemSearch"] {
		display: table-cell;
		width: 30%;
		float: none;
		padding: 40px 0;
		min-height: 200px;
	}
	#searchForm {
		padding-left: 0px;
	}
	#searchSubmitButton {
		display: table-cell;
		vertical-align: middle;
		height: 30px;
		background-color: #277093;
		margin: 0;
	}
	#searchResultsWrapper {
		padding: 40px 20px 20px 40px;
	}
}