/* ----- STEP INDICATOR ----- */
.stepIndicator {font-size:14px;}

.stepIndicator .stepIndicatorItemWrapper {float:left;}

.stepIndicator .stepIndicatorItem {
	background-color: #ADDBDB;
	color: white;
	margin: 10px 0 0 0;
	padding: 10px;
	color: #666;
}

.stepIndicator .stepIndicatorItem.completed {
	background-color: #009999;
	color: white;
}

.stepIndicator .stepIndicatorItem.currentStep {
	margin: 0px;
	padding: 20px 10px;
	color: black;
}

.stepIndicator .stepNumber {
	width: auto;
	height: 40px;
	float: left;
	font-size: 27px;
	padding: 0 10px 0 0;
}

.stepIndicator .title {
	
	margin: 4px 0 5px 0;
}

.stepIndicator .desc {
	height: 35px;
	overflow: hidden;
}
/* ----- END stepIndicator ----- */