[data-role="calculatorLayoutOneA"] {
	display: table-cell;
	width: 20%;
}
[data-role="calculatorLayoutOneThumbnail"] {
	height: 72px;
}
[data-role="calculatorLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}
[data-role="calculatorLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
[data-role="calculatorLayoutOneGridItem"] {
	display: table-cell;
	min-height: 150px;
	width:50%;
}
[data-role="calculatorLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 8px 4px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
}