[data-pageCategory="cat1"] h2 {
  /* 	color: #9B9175; */
  border-bottom: 2px solid #9B9175;
  position: relative;
}

[data-pageCategory="cat1"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9B9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat2"] h2 {
  /* 	color: #626262; */
  border-bottom: 2px solid #626262;
}

[data-pageCategory="cat2"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #626262;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat3"] h2 {
  /* 	color: #737A78; */
  border-bottom: 2px solid #737A78;
}

[data-pageCategory="cat3"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #737A78;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat4"] h2 {
  /* 	color: #4C859D; */
  border-bottom: 2px solid #4C859D;
}

[data-pageCategory="cat4"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #4C859D;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat5"] h2 {
  /* 	color: #915758; */
  border-bottom: 2px solid #915758;
}

[data-pageCategory="cat5"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #915758;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat6"] h2 {
  /* 	color: #B7DAB6; */
  border-bottom: 2px solid #B7DAB6;
}

[data-pageCategory="cat6"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #B7DAB6;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat7"] h2 {
  /* 	color: #DA9669; */
  border-bottom: 2px solid #DA9669;
  position: relative;
}

[data-pageCategory="cat7"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #DA9669;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="calculatorLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
}
[data-role="calculatorLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="calculatorLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="calculatorLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="calculatorLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="calculatorLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="calculatorLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="calculatorLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="calculatorLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="calculatorLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}

[data-role="calculatorLayoutOneContent"] {
	padding: 0 0 60px 0;
}

[data-role="calculatorLayoutOneGrid"] {
	border-collapse: separate;
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-top: -16px;
}
[data-role="calculatorLayoutOneGrid"]:BEFORE {
	margin-top: 10px;
	content: " ";
	display: table;
}
[data-role="calculatorLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="calculatorLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	width: 100%;
	float: left;
	padding: 0px 10px 8px 0px;
}

[data-role="calculatorLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
[data-role="calculatorLayoutOneGridItem"].moreText {
	background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
	cursor: pointer;
	padding: 0px 0px 38px 0px;
	text-decoration: none;
}
[data-role="calculatorLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 0px 4px 0px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	margin: 0 8px;
}
[data-role="calculatorLayoutOneGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}
.relatedLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/arrows/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}

@media only screen and (min-width : 800px) {
	[data-role="calculatorLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="calculatorLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="calculatorLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="calculatorLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="calculatorLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="calculatorLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}
}

#sellCalculateButton.hidden{
	display:none;
}

#buyCalculateButton.hidden{
	display:none;
}

#sellCalculateButton.hidden[data-visible="true"]{
	display:block;
}

#buyCalculateButton.hidden[data-visible="true"]{
	display:block;
}

/*IE8 Styles*/


.IE8 [data-role="calculatorLayoutOneA"] {
	display: table-cell;
	width: 20%;
}
.IE8 [data-role="calculatorLayoutOneThumbnail"] {
	height: 72px;
}
.IE8 [data-role="calculatorLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}
.IE8 [data-role="calculatorLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
.IE8 [data-role="calculatorLayoutOneGridItem"] {
	display: table-cell;
	min-height: 150px;
	width:50%;
}
.IE8 [data-role="calculatorLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 8px 4px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
}


