 [data-role="contactLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

 [data-role="contactLayoutOneThumbnail"] {
   height: 72px;
 }

 [data-role="contactLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="contactLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="contactLayoutOneGridItemContact"] {
   display: table-cell;
   width: 50%;
 }

 [data-role="contactLayoutOneGridItemAddress"] {
   display: table-cell;
   width: 50%;
 }

 [data-role="contactLayoutOneGridItemHeading"] {
   margin: 10px 20px;
   border-bottom: 2px solid #9B9175;
   position: relative;
 }

 [data-role="contactLayoutOneGridItemAddress"] [data-role="contactLayoutOneGridItemHeading"] {
   display: block;
 }

 [data-role="contactLayoutOneGridItemHeading"]:AFTER {
   position: absolute;
   margin-top: 2px;
   border-bottom: 2px solid #9B9175;
   content: " ";
   display: block;
   width: 25%;
 }
