[data-pageCategory="cat1"] h2 {
  /* 	color: #9B9175; */
  border-bottom: 2px solid #9B9175;
  position: relative;
}

[data-pageCategory="cat1"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9B9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat2"] h2 {
  /* 	color: #626262; */
  border-bottom: 2px solid #626262;
}

[data-pageCategory="cat2"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #626262;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat3"] h2 {
  /* 	color: #737A78; */
  border-bottom: 2px solid #737A78;
}

[data-pageCategory="cat3"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #737A78;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat4"] h2 {
  /* 	color: #4C859D; */
  border-bottom: 2px solid #4C859D;
}

[data-pageCategory="cat4"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #4C859D;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat5"] h2 {
  /* 	color: #915758; */
  border-bottom: 2px solid #915758;
}

[data-pageCategory="cat5"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #915758;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat6"] h2 {
  /* 	color: #B7DAB6; */
  border-bottom: 2px solid #B7DAB6;
}

[data-pageCategory="cat6"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #B7DAB6;
  content: " ";
  display: table;
  width: 25%;
}

[data-pageCategory="cat7"] h2 {
  /* 	color: #DA9669; */
  border-bottom: 2px solid #DA9669;
  position: relative;
}

[data-pageCategory="cat7"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #DA9669;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="contactLayoutOne"] {
  position: relative;
  width: 100%;
  display: table;
  border-spacing: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
}

[data-role="contactLayoutOneInner"] {
  width: 100%;
  display: table-row;
  min-height: 100%;
  height: 100%;
}

[data-role="contactLayoutOneA"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="contactLayoutOneA"][data-visible="true"] {
  display: block;
  width: 100%;
}

[data-role="contactLayoutOneContentWrapper"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="contactLayoutOneContentWrapper"][data-visible="false"] {
  display: none;
}

[data-role="contactLayoutOneB"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
}

[data-role="contactLayoutOneC"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
  padding-top: 0px;
  padding-right: 16px;
}

[data-role="contactLayoutOneThumbnail"] {
  height: 91px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

[data-role="contactLayoutOneThumbnail"] img {
  height: 56px;
  margin-top: 8px;
}

[data-role="contactLayoutOneContent"] {
  padding: 0 0 60px 0;
}

[data-role="contactLayoutOneGrid"] {
  border-spacing: 0px 10px;
  border-collapse: separate;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: -16px;
}

[data-role="contactLayoutOneGridRow"] {
  display: table-row;
  width: 100%;
}

[data-role="contactLayoutOneGridItem"] {
  display: block;
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 0px 10px 8px 0px;
}

[data-role="contactLayoutOneGridItem"].clickable {
  text-decoration: none;
  cursor: pointer;
}

[data-role="contactLayoutOneGridItem"].moreText {
  background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
  cursor: pointer;
  padding: 0px 0px 38px 0px;
  text-decoration: none;
}

[data-role="contactLayoutOneGridItemContact"] {
  padding: 4px 8px 0px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 16px;
}
[data-role="contactLayoutOneGridItemContact"] [data-role="contactLayoutOneGridItemHeading"] {
  margin: 10px 20px;
  border-bottom: 2px solid #9B9175;
  position: relative;
}
[data-role="contactLayoutOneGridItemContact"] [data-role="contactLayoutOneGridItemHeading"]:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9B9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="contactLayoutOneGridItemAddress"] [data-role="contactLayoutOneGridItemHeading"] {
  display: none;
}

.relatedLink {
  display: block;
  color: #666666;
  background: transparent url("../../../../../../00Assets/skins/01/images/bullets/arrow/inverse.gif") center right no-repeat;
  border-top: 1px solid #DDD;
  padding: 10px 0 10px 0px;
  text-decoration: none;
}

.homePageLinks {
  padding: 10px;
}

.homePageLink {
  display: block;
  color: #666666;
  padding-left: 20px;
  background: transparent url("../../../../../../00Assets/01/images/bullets/arrow/cat2.gif") top left no-repeat;
  margin-bottom: 8px;
}

@media only screen and (min-width: 800px) {
  [data-role="contactLayoutOneA"] {
    display: table-cell;
    width: 20%;
  }

  [data-role="contactLayoutOneThumbnail"] {
    height: 72px;
  }

  [data-role="contactLayoutOneContentWrapper"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="contactLayoutOneB"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="contactLayoutOneGridItemContact"] {
    display: table-cell;
    width: 50%;
  }

  [data-role="contactLayoutOneGridItemAddress"] {
    display: table-cell;
    width: 50%;
  }

  [data-role="contactLayoutOneGridItemHeading"] {
    margin: 10px 20px;
    border-bottom: 2px solid #9B9175;
    position: relative;
  }

  [data-role="contactLayoutOneGridItemAddress"] [data-role="contactLayoutOneGridItemHeading"] {
    display: block;
  }

  [data-role="contactLayoutOneGridItemHeading"]:AFTER {
    position: absolute;
    margin-top: 2px;
    border-bottom: 2px solid #9B9175;
    content: " ";
    display: block;
    width: 25%;
  }
}

/*IE8*/

.IE8 [data-role="contactLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

.IE8 [data-role="contactLayoutOneThumbnail"] {
   height: 72px;
 }

.IE8 [data-role="contactLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="contactLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="contactLayoutOneGridItemContact"] {
   display: table-cell;
   width: 50%;
 }

.IE8 [data-role="contactLayoutOneGridItemAddress"] {
   display: table-cell;
   width: 50%;
 }

.IE8 [data-role="contactLayoutOneGridItemHeading"] {
   margin: 10px 20px;
   border-bottom: 2px solid #9B9175;
   position: relative;
 }

.IE8 [data-role="contactLayoutOneGridItemAddress"] [data-role="contactLayoutOneGridItemHeading"] {
   display: block;
 }

.IE8 [data-role="contactLayoutOneGridItemHeading"]:AFTER {
   position: absolute;
   margin-top: 2px;
   border-bottom: 2px solid #9B9175;
   content: " ";
   display: block;
   width: 25%;
 }

