@CHARSET "UTF-8";
#calendarWrapper{}

.bcal-container{
	background-color: #009899;
	padding: 5px;
	top: 30%;
	margin-top: -145px;
	left: 0px;
	right: 0;
	height: 310px;
	z-index: 148;
	opacity: 0;
	margin: 0 auto; 
}

@media only screen and (min-width : 920px) {
	.bcal-container{
		left: 24px;
	}
}

@media only screen and (min-width :1300px) {
	.bcal-container{
		left: 40px;
	}
}

.bcal-popupcontainer{
	background-color: #009899;
	padding: 5px;
	top:50%;
	margin-top:-145px;
	left: 0px;
	right: 0;
	height:330px;
	z-index: 148;
	opacity:0;
	position:absolute;
}
.ezi-bcal-container{
	position:absolute;
	left: 0!important;
	margin-top: auto;
	top:0;
	height:100%;
	padding:0;
}
.ezi-bcal-container .bcal-table{
padding: 5px 0 0 0;
}
.inner-bcal-container{
    display: block;
left: 12%;
position: absolute;
top: 48px;
width: 76%;
}

.ezi-inner-bcal-container{
	width:100%;
	left: 0;
	top:auto;
}
.background-bcal-container{
	background-color: #57B9BA;
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	height: 190px;
	top: 68px;
	border-top: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
}

.bcal-table{
border-collapse: separate;
border-spacing: 0;
font-family: Helvetica,FoundationRoman,Sans-serif;
font-size: 11px;
font-weight: normal;
float: left;
margin: 1px;
padding: 27px 0 0 0;
width: 32%;
margin-right: 5px;
}
.ezi-bcal-table{
	width: 98%;
	margin: 0 5px 5px 5px;
}

.bcal-table,
.bcal-table th,
.bcal-table td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.bcal-table thead tr{
	
}
.bcal-table thead tr:first-child{
	line-height: 23px;
}
.bcal-table thead th{
	
	color: #FFF;
	height: 20px;
	text-align: center;
}
.bcal-table tbody td{
	color: #000;
	cursor: pointer;
	font-weight: normal;
	padding: 7px 0 7px 1px;
	/* width: 25px; */
	text-align: center;
}
.bcal-navi{
	display:none;
}
.bcal-table tbody tr:first-child td{

}
.bcal-table tbody td:first-child{
	
}
.bcal-table .bcal-wday,
.bcal-table .bcal-wnum{
	padding: 1px 1px 2px 2px;
}
.bcal-table .bcal-wnum{
	border-right: 1px solid #A4BED4;
	border-bottom: 1px solid #A4BED4;
	color: #CC6600;
	background-image: linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -o-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -moz-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -ms-linear-gradient(bottom, rgb(255,225,159) 23%, rgb(255,250,234) 62%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(255,225,159)),
		color-stop(0.62, rgb(255,250,234))
	);
}
.bcal-table .bcal-wday:last-child{
	border-right: none;
}
.bcal-table .bcal-empty{
	color: #D5D5D5;
	cursor: default;
}
.bcal-table .bcal-date{
	color: #FFF;
}
.bcal-table .bcal-date-weekend{
	color: #FFF;
	background: rgba(255, 255, 255, .3);
}
.bcal-table .bcal-past{
	background-color: #f1f1f1;
	color: #999;
	cursor: default;
}
.bcal-table .bcal-today{
	background-color: #70D4D4;
	color: white;
	
	border: 1px solid white;
}
.bcal-table .bcal-week{
	background: rgba(255, 255, 255, .3);
	color: #FFF;
	cursor: default;
}
.bcal-table .bcal-selected{
	background-color: #FF9900;
	color: #fff;
}
.bcal-table .bcal-over,
.bcal-table .bcal-date:hover{
	color: #57B9BA;
	background: rgba(255, 255, 255, .8);

}
.bcal-table .bcal-past:hover{
	background-color: #e0e0e0;
	color: #666;
}
.bcal-table .bcal-month,
.bcal-table .bcal-navi,
.bcal-table .bcal-wnum,
.bcal-table .bcal-wday,
.bcal-table .bcal-week{

}
.bcal-nav-right{
	cursor: text;
	position: absolute;
	right: -100px;
top: -15px;
}
.ezi-bcal-nav-right{
	position: static;
}

.bcal-nav-left{
cursor: text;
position: absolute;
left: -100px;
top: -15px;
}
.ezi-bcal-nav-left{
	position: static;
}
.bcal-month{
	position: absolute;
	top: -15px;
}
.ezi-bcal-month{
	position: static;
}
.bcal-monthName{
	font-size: 25px;
font-family: Helvetica,FoundationRoman,Sans-serif;
float: left;
right: 0;
padding-top: 8px;
}
.ezi-bcal-monthName{
	position: relative;
	float:left;
	left:20%;
	padding-top: 5px;
}
.bcal-yearName{
	float: left;
	margin-top: -14px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.bcal-cenName{
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 26px;
}
.ezi-bcal-yearDiv{
	position: relative;
	float:left;
	left:22%;
}
.ezi-backgound-bcal-container{
	top:25px;
	height:190px;
}
.bcal-yearDiv{
	right: -15px;
	width: 10px;
	top: -3px;
	font-size: 12px;
	float:left;
}
.calendar{
	background-color: #719ABC;
	width:111px;
	height:65px;
}
.bcal-yearNameIncrease{
	font-size: 14px;
	text-align: right;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.bcal-yearNameDecrease{
	font-size: 14px;
	text-align: left;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.bcal-monthNameIncrease{
	font-size: 14px;
	text-align: right;
	top: -10px;
	position: relative;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.bcal-monthNameDecrease{
	font-size: 14px;
	text-align: left;
	top: -10px;
	position: relative;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
.calendarButtonIcon {
	width: 47px;
	height: 47px;
	float:left;
	margin: 0 5px 0 0;
}
.calendarDoneButton{
	margin: 0 5px 0 0;
	height:47px;
	cursor:pointer;
	bottom: 1px;
	position: absolute;
	right:20px;
}
.calendarHolidayCancelButton{
	padding-left: 10px;
	padding-bottom: 5px;
	height:47px;
	cursor:pointer;
	bottom: 4px;
	position: absolute;
	right: 105px;
}
.calendarCancelButton{
	height: 47px;
	cursor: pointer;
	bottom: 4px;
	position: absolute;
	right: 10px;
}
.calendarDoneButton:hover .calendarButtonIcon{
	
	margin: 0 5px 0 0;
}
.calendarCancelButton:hover .calendarButtonIcon{
	
	margin: 0 5px 0 0;
}
.calendarHolidayCancelButton:hover .calendarButtonIcon{
	
	margin: 0 5px 0 0;
}
.calendarDoneButton p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: white;
	font-size: 16px;
	float: left;
	margin-top: 15px;
}
.calendarCancelButton p {
font-family: Helvetica,FoundationRoman,Sans-serif;
color: white;
font-size: 14px;
float: left;
margin-top: 17px;
}
.calendarHolidayCancelButton p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: white;
	font-size: 16px;
	float: left;
	margin-top: 15px;
	padding: 0;
}
.confirmHolidayText{
	padding: 10px 0 0 10px;
	color: #fff;
	font-size: 1.4em;
}
.calendarOKButton {
	padding-left: 0px;
	padding-bottom: 5px;
	height: 47px;
	cursor: pointer;
	bottom: 4px;
	position: absolute;
	right: 10px;
	padding: 0;
}
.calendarOKButton:hover .calendarButtonIcon {
	
}
.calendarOKButton p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: white;
	font-size: 16px;
	float: left;
	margin-top: 15px;
	padding: 0;
}
/* YEAR PICKER */
.bcal-container .dropdownElementWrapper{
	width: 105px;
}
.bcal-container .dropdown-content-wrapper{
	top: 55px;
}
.bcal-container .dropdown-item,
.bcal-container .dropdown-item-first,
.bcal-container .dropdown-item.selected-item,
.bcal-container .dropdown-item:hover {background-image:none;}
.bcal-container .dropdown-item-row-wrapper {
	margin: 0 0 0 5px!important;
}
.bcal-container .dropdown-trigger {
	top: 2px;
}
.bcal-container .dropdown-item-row-h1 {
	margin: 8px 0 0 5px;
}
.bcal-container .dropdown-initiator {
	
}
.bcal-container .dropdown-content-wrapper {
	margin: -15px 0 0 22px;
	width: 80px!Important;
}
.bcal-container .dropdown-selection-white{
	width: 80px;
}
#eziWrapper .bcal-container .dropdown-content-wrapper{
	margin: -20px 0 0 22px;
}