/* ----- GRIDS ----- */
.gridGroup {
	display: block;
	clear: both;
	width: 100%;
	position: relative;
}
.gridCol {
 	display: block;
	float: left;
}

/* Percentage based classNames */
.grid10 {width: 10%;}
.grid16 {width: 16.6666%;}
.grid15 {width: 15%;}
.grid20 {width: 20%;}
.grid25 {width: 25%;}
.grid30 {width: 30%;}
.grid33 {width: 33.3333%;}
.grid40 {width: 40%;}
.grid50 {width: 50%;}
.grid60 {width: 60%;}
.grid67 {width: 66.6666%;}
.grid70 {width: 70%;}
.grid75 {width: 75%;}
.grid80 {width: 80%;}
.grid90 {width: 90%;}
.grid100{width:100%;}

/* Pixel based classNames */
.grid20px {width: 20px;}

/* Fraction based classNames */
.gridHalf		{width: 50%;}
.gridThirds		{width: 33.333%;}
.gridQuarters	{width: 25%;}
.gridFifths		{width: 20%;}
.gridSixths		{width: 16.666%;}
.gridSevenths	{width: 14.28%;}
.gridEighths	{width: 12.5%;}
.gridNinths		{width: 11.111%;}
.gridTenths		{width: 10%;}
.gridElevenths	{width: 9.090%;}
.gridTwelfths	{width: 8.333%;}
.gridThirteenths{width: 7.692%;}

/* IE decimal rounding hack */
.lt-ie8 .grid10.last {
	overflow: hidden;
	_overflow: visible;
	_zoom: 1;
}

.lt-ie8 .grid10.last,
.lt-ie8 .grid20.last,
.lt-ie8 .grid25.last,
.lt-ie8 .grid30.last,
.lt-ie8 .grid40.last,
.lt-ie8 .grid50.last,
.lt-ie8 .grid60.last,
.lt-ie8 .grid70.last,
.lt-ie8 .grid80.last,
.lt-ie8 .grid90.last {
	float: none;
	_position: relative;
	_left: -1px;
	_margin-right: -1px;
	width: auto;
}
/* ----- END Grids ----- */

/* ----- FOOTER BUTTONS ----- */
.footerElements {
	height: 75px;
	z-index: 150;
}

.footerButtonGroup {display:none;}

.footerBtn {
	position: relative;
	float: right;
	height: 65px;
	color: #FFF;
	cursor: pointer;
	z-index: 160;
	bottom: 0px;
}

.footerBtn a {
	display: block;
	border-left: 1px solid #e7e7e7;
	height: 100%;
	background-color:#FF9900;
	text-decoration: none;
	color: #FFF;
	padding: 23px 0 0;
}

.footerBtn a:hover,
.footerBtn a:active,
.footerBtn a:focus {}

.footerBtn a span {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	display: block;
	color: #FFF;
	font-size: 18px;
	padding: 23px 0px 0px 0px;
	text-align: center;
}
/* ----- END Footer Buttons ----- */

/* ----- ACTION MENU BUTTONS ----- */
.actionMenuButtonWrapper {
	background: #F90;
	z-index: 147;
	position: fixed;
	cursor: pointer;
	left: -39px;
	top: 140px;
}

.actionMenuButtonWrapper p {
	display: none;
}

.actionMenuTextWrapper {
	height: 100%;
}

.actionMenuIcon {
	background: url("../../03images/base/actionmenu/action-menu-icon.png") no-repeat left;
	width: 26px;
	height: 25px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: white;
	font-size: 20px;
	top: 10px;
	margin: 7px;
	left: 7px;
}
/* ----- END Action Menu Buttons ----- */

/* ----- ACTION MENU ----- */
.actionMenu {
	background-color: #FFF;
	clear: both;
	display: none;
	width: 0;
	position: absolute;
    top: 130px;
	padding: 0 0 70px;
	z-index: 140;
	min-height:100%;
	left: 40px;
}

.moreoptionsBannerOne {
	background: none repeat scroll 0 0 #FF9900;
	padding: 0 0 10px;
	position: absolute;
	width: 100%;
}
.moreoptionsBannerOne .actionMenuHeader .innerPad{
	padding: 0px 
}
.actionMenuContents {
	/* opacity: 0; */
	background: none repeat scroll 0 0 #FFFFFF;
}

.actionMenuButton p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #FFF;
	font-size: 16px;
	float: left;
	height:16px;
}

.actionMenuHeader1 .innerPad {
	padding: 10;
}

.actionMenuHeader .innerPad {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 30px 10px 10px;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.actionMenuHeader.orange .innerPad {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 30px 0 10px 20px;
	color: white;
	font-size: 45px;
}

.actionMenuHeader.grey1 {
	background: #CBCBCA;
	padding-top: 30px;
	margin-left: 5px;
}

.actionMenuHeader.grey2 {
	background: #EEEEEE;
	margin-left: 5px;
}

.actionMenuHeader.grey3 {
	background: #C1C1C0;
	padding-top: 30px;
	margin-left: 5px;
}

.actionMenuHeader.grey4 {
	background: #B1B1B0;
	padding-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.actionMenuHeader.grey5 {
	background: #F3F3F3;
	margin-left: 5px;
}

.actionMenuHeader.grey6 {
	background: #F8F8F8;
	margin-left: 5px;
	margin-right: 5px;
}

.actionMenuHeader.grey2 h1 {
	margin-top: 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #000;
	font-size: 14px;
}

.actionMenuHeader.grey2 p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #B2B1B1;
	margin-top: 5px;
	font-size: 13px;
}

.actionMenuHeader.grey5 h1 {
	margin-top: 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #000;
	font-size: 14px;
}

.actionMenuHeader.grey5 p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #B2B1B1;
	margin-top: 5px;
	font-size: 13px;
}

.actionMenuHeader.grey6 h1 {
	margin-top: 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #000;
	font-size: 14px;
}

.actionMenuHeader.grey6 p {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #B2B1B1;
	margin-top: 5px;
	font-size: 13px;
}

.actionMenuHeader.orange {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 22px;
	color: #FFF;
}

.actionMenuHeader.turq {
	background: #099;
}
/* .actionMenuButtonIcon styles are overwritten for the eziButtons in global.css */
.actionMenuButtonIcon {
	background: url("../../03images/base/actionmenu/dot-button-off.png") no-repeat;
	width: 47px;
	height: 47px;
	float: left;
	padding-right: 15px;
}

.actionMenuButton {
	margin: 8px 0 0 20px;
	height: 47px;
	cursor: pointer;
	max-width: 25%;
	/* opacity:0; */
}

.actionMenuButton:hover .actionMenuButtonIcon {
	background: url("../../03images/base/actionmenu/dot-button-over.png") no-repeat;
}

.actionMenuCol {
	display: block;
	float: left;
	padding: 10px 0 0px;
	overflow: hidden;
}

.actionMenuColUp {
	position: relative;
	z-index: 5;
}
.actionMenuCol:first-child {
	margin-left: 0;
}
.actionMenuCol:last-child {
	width:21%;
}
.col_4_of_4 {width:100%;}
.col_3_of_4 {width: 75%;}
.col_2_of_4 {width: 50%;}
.col_1_of_4 {width: 23%;}

.actionMenuGroup:before,.actionMenuGroup:after {
	content: "";
	display: table;
}

.actionMenuGroup:after {
	clear: both;
}
.moreOptionsDownArrow {
	background: url("../../03images/base/actionmenu/orangeArrow.png") no-repeat;
	width: 24px;
	height: 38px;
	bottom: 0;
	left: 110px;
	position: absolute;
}
.bannerSubHeadings{
	width:25%;
	/* opacity:0; */
}
.bannerSubHeadings .innerPad{
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 0;
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin: 5px 0 0 20px;
}
.columnMainHeading{
	/* opacity:0; */
}
.actionMenuBottomLabel{
	bottom: -60px;
	color:#747474;
    position: absolute;
	
	width: 25%;
	text-align: center;
}
.actionMenuUrlWrapper{
	z-index: 141;
	width: 100%;
	overflow-x: hidden;
	background: none repeat scroll 0 0 #e7e7e7;
	top: 0;
	position:absolute;
	display:none;
	padding-bottom:250px;
}

#actionMenuUrlWrapper .actionMenuLeftBar{width:20%;height:100%;position:absolute;top:0px;bottom:0px;background-color:#b1b1b1;}
#actionMenuUrlWrapper #actionTableClose{height:50px;width:80px;background:url('/banking/03images/base/actionmenu/closeBtt.gif') no-repeat 6px 16px;;display:block;float:right;cursor: pointer;}
#actionMenuUrlWrapper .actionMenuLeftBar p{color:#fff;font-size:30px;margin-top:10px;margin-left:20px;margin-right:20px;}
#actionMenuUrlWrapper .actionMenuLeftBar h2{color:#fff;font-size:16px;margin-top:30px;margin-left:20px;margin-right:20px;}
#actionMenuUrlWrapper .tableContainer {padding-right: 49px;position: relative;left:10px}
#actionMenuUrlWrapper .table{margin-left: 20%;width: 80%;}
.actionMenuUrlWrapper .tableContainer .tableCellItem {
   line-height:42px;height:42px;
}

.actionMenuUrlWrapper .tableContainer .tableRow{border-bottom:4px solid #e7e7e7;}
.actionMenuUrlWrapper h1{width:25%;}
#actionMenuUrlWrapper .input-wrapper.searchField .input-container{width:20%;float:right;position:relative;top:9px;
background: url("../../03images/fnb/ui/searchIcon.gif") no-repeat scroll right center #FFFFFF;
}
#actionMenuUrlWrapper .input-wrapper.searchField .input-input {border:none;}

.actionMenuLast{
	height:100%;
}

.actionMenuNoOptions{
	color: white;
	margin: 0 0 5px 25px;
	font-size: 10px;
}
/* ----- END Action Menu ----- */

/* ----- ERRORS ----- */
.inputError{
	background: #F90;
	color:#fff;
}
.error{
	position: fixed;
	background: #F90;
	width: 100%;
	top: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color:#fff;
	z-index: 160;
	border-bottom: 6px solid white;
}
.errorButtonWrapper{
	background: url("../../03images/base/error/close-icon.png") no-repeat center center;
	width: 26px;
	height: 25px;
	float: right;
	cursor:pointer;
	padding:10px;
}
.errorMessageWrapper{
	font-size: 24px;
	padding: 15px 0px 0px 20px;
}
.errorsWrapper{
	padding: 0px 10px 10px 10px;
	margin: 10px 0 0 0;
	font-size: 16px;
}
.errorWrapper{
	float:left;
	padding: 0px 0px 20px 15px;
	border-left: 0px solid white; 
}
.errorText{
	padding: 0px 0px 0px 5px;
}
/* ----- END Errors ----- */

.content {
    overflow: hidden;
	display:none;
}

/* Shares Donovan */
 .noPaddingMargin{
	padding: 10px 10px 10px 20px!important;
	margin: 0!important;
 }
 
/*OVERLAY*/
.overlay {
	width: 100%;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #8B8B8B;
	top: 0;
	left: 40px;
	z-index: 148;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.overlay-panel {
	margin: 10% auto 0 auto;
	width: 350px;
	background: #FFF;
}
/*HIDDEN STUFF*/
.hidden{
	display:none;
}