/*
CONTENTS:
1.	Base styles (HTML,BODY)
2.	Typography (P,H1-6)
3.	Grids
4.	Global Generic Classes
x.	Frame Left Side-bar
x.	Overlay
x.	Page Group
x.	Page Heading
x.	Sub Tabs
x.	Header Controls
x.	Action Menu Button
x.	Action Menu
x.	Errors
x.	Header Buttons
x.	Tool-tips
*/
/* 

body {
	font-family:Helvetica,FoundationRoman,Sans-serif, Arial, sans-serif;
	font-size:62.5%;
	-webkit-text-size-adjust: 100%; disable text auto-adjust
	
}
 */
html {
	background: #E7E7E7;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* ----- TYPOGRAPHY ----- */
p {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 0.5em;
	padding-left:15px;
	padding-right:15px;
} /* 16px */
h1 {
font-size: 24px;
}

h2 {
font-size:20px;
padding-left:15px;
padding-bottom: 10px;
clear:both;
padding-top: 15px;
}
h3 {
font-size:18px;
padding-left:15px;
padding-bottom: 10px;
clear:both;
padding-top: 15px;
}
h4 {
font-size:18px;
padding-left:15px;
padding-bottom: 10px;
clear:both;
padding-top: 15px;
}
h5 {
font-size:18px;
padding-left:15px;
clear:both;
padding-top: 15px;
padding-bottom: 10px;
}
h6 {
font-size:18px;
padding-left:15px;
padding-bottom: 10px;
clear:both;
padding-top: 15px;
}
/* Anchor Tags */
a{color:#000;font-size:16px;}
a:link {cursor:pointer;}
a:visited {color:inherit;}
a:hover,a:active,a:focus {cursor:pointer;}

p a{font-size:13px;}
/* ----- END Typography ----- */

/* ----- GRIDS ----- */
.gridGroup {
	display: block;
	clear: both;
	width: 100%;
	position: relative;
}

.gridCol {
	display: block;
	float: left;
}

/* Percentage based classNames */
.grid10 {width: 10%;}
.grid16 {width: 16.6666%;}
.grid15 {width: 15%;}
.grid20 {width: 20%;}
.grid25 {width: 25%;}
.grid30 {width: 30%;}
.grid33 {width: 33.3333%;}
.grid40 {width: 40%;}
.grid50 {width: 50%;}
.grid60 {width: 60%;}
.grid65 {width: 65%;}
.grid67 {width: 66.6666%;}
.grid70 {width: 70%;}
.grid75 {width: 75%;}
.grid80 {width: 80%;}
.grid90 {width: 90%;}
.grid100{width:100%;}

/* Fraction based classNames */
.gridHalf		{width: 50%;}
.gridThirds		{width: 33.333%;}
.gridQuarters	{width: 25%;}
.gridFifths		{width: 20%;}
.gridSixths		{width: 16.666%;}
.gridSevenths	{width: 14.28%;}
.gridEighths	{width: 12.5%;}
.gridNinths		{width: 11.111%;}
.gridTenths		{width: 10%;}
.gridElevenths	{width: 9.090%;}
.gridTwelfths	{width: 8.333%;}
.gridThirteenths{width: 7.692%;}

/*********Definition Lists Start**********
NOTES:
- vertical spacing + vertical alignment not yet added
- classNames style1,style2,style3 has been deprecated
- listed below is all the posible class names
*/
.dlGroup {
	font-size: 14px;
}

.dlGroup.dlOnTop {
	
}

.dlTitle {
	clear: left;
	padding: 5px 0 0 15px;
}

.paddedRows .dlTitle {padding-bottom:10px;}
.paddedRows .dlData {padding-bottom:10px;}
.boldLabels .dlTitle {font-family:Helvetica,FoundationRoman,Sans-serif;font-size:16px}
.boldLabels .dlData {font-size:16px} 

.dlData .tooltipFix{float:left;}
.dlData .tooltipParent{float:left;margin-left:10px;}
.settingsLandingPage .dlTitle {
	padding: 12px 10px 0px 15px;
	font-size: 16px;
}
.dlData {
	padding: 5px 10px 0px 15px;
	font-size: 16px;
} /* support for empty dd tags */
.dlTitleEmpty {
	
} /* support for empty dt tags */
.settingsLandingPage .borderRightGrey {
	padding: 5px;
}
.settingsButtonPadding,.settingsRightAlignPadding{
	padding: 5px 0 5px 15px;
}
.settingsLandingPage .settingsLandingAcountFields {
	border-left-width: 16px;
}

.settingsLandingAcountFields .dlTitle {
	padding: 12px 10px 10px 15px;
	font-size: 16px;
}
/* if items should be listed ontop of one another */
.dlGroup.dlOnTop .dlTitle {
	width: 100%;
}

.dlGroup.dlOnTop .dlTitle.dlTitleEmpty {
	display: none;
}

.dlGroup.dlOnTop .dlData {
	width: 100%;
}

/* IE decimal rounding hack */
.lt-ie8 .grid10.last {
	overflow: hidden;
	_overflow: visible;
	_zoom: 1;
}

.lt-ie8 .grid10.last,
.lt-ie8 .grid20.last,
.lt-ie8 .grid25.last,
.lt-ie8 .grid30.last,
.lt-ie8 .grid40.last,
.lt-ie8 .grid50.last,
.lt-ie8 .grid60.last,
.lt-ie8 .grid70.last,
.lt-ie8 .grid80.last,
.lt-ie8 .grid90.last {
	float: none;
	_position: relative;
	_left: -1px;
	_margin-right: -1px;
	width: auto;
}
/* ----- END Grids ----- */

/* ----- GLOBAL GENERIC CLASSES ----- */
.hideElement {
	height: 0;
	padding: 0;
	overflow: hidden;
	display: none !important;
}

.visibleContent {display:block!important; opacity:1;}
.hiddenContent {display:none!important;}

.hideBody{overflow:hidden; position:absolute; height:100%; width:100%;}
.overFlowShow{opacity:0.8;}
.opacity100{opacity:1;}
.offScreen{left:-500px;}

.content {overflow:hidden; display:none;}
/* ----- END Global Generic Classes ----- */

/* ----- FRAME LEFT SIDEBAR ----- */
.left-sidebar-top{
	background: url("../../03images/base/frame/left-top.png") no-repeat;
	height: 23px;
	width: 42px;
	top: 121px;
	left: 5px;
	position: absolute;
}
.left-sidebar-bottom{
	background: url("../../03images/base/frame/left-bottom.png") no-repeat;
	height: 11px;
	width: 40px;
	z-index: 100;
	position: absolute;
	top: -5px;
	left: 5px;
}
/* ----- END Frame Left Sidebar ----- */

/* ----- OVERLAY ----- */
.overlay {
	width: 100%;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #8B8B8B;
	top: 0;
	left: 40px;
	z-index: 148;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.overlay-panel {
	margin: 10% auto 0 auto;
	width: 350px;
	background: #FFF;
	
}
/* ----- END Overlay ----- */

/* ----- PAGE GROUP ----- */
.pageWrapper {
	padding-left: 40px;
	padding-top: 130px;
}

#main {
	display: block;
	padding-bottom: 70px;
	overflow: hidden;
}

.pageGroup {
	width: 100%;
	position: relative;
	clear: both;
	display: none;
}

.htmlBackGround {background: url("../../03images/base/frame/left-side-bar.png") repeat-y 0 40px #E7E7E7;}
/* ----- END Page Group ----- */

/* ----- PAGE HEADING ----- */

#extendedPageHeader h1 {
	padding: 10px 5px 10px 15px;
	background: #fff;
	border-bottom: 5px solid #73C7C7;
}

#extendedPageHeader.subTabHeadingFix  {
	position:absolute;
	top:30px;
	width:30%;
	padding-left:15px;
}

#extendedPageHeader.subTabHeadingFix h1{
	
	padding:0px;
	background: none;
	border-bottom: none;
} 

#subTabsPageHeader {
	width: 30%;
	float: left;
	min-height: 1px;
}


#extendedPageHeader.italics h1,
.confirmHeaderInner .italics {font-style:italic;}
.mobiHeaderCloseButton{display:none;}

/* ----- END Page Heading ----- */

/**** subTabs ****/
.subTabsMenu {
	background: white;
	border-bottom: 6px solid #73C7C7;
	padding-top: 10px;
	float:left;
	width:100%;
	
}

.subTabsMenuInner {
	float:left;
	width:100%;
	
}
.subTabsMenu div.subTab {
	display:table;
	height: 52px;
	cursor: pointer;
	color: black;
	padding: 0 10px 0px 5px;
	width: 10%;
	float: left;
	background: url("../../03images/base/subTabs/subTabsBorder.png") no-repeat 0 center;
	font-size: 14px;
	position:relative;
	top:5px;
}
.subTabsMenu .subTabText{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 4px 0;
}
.subTabsMenu div.active {
	background: #72C6C6;
	color: #FFF;
}

.subTabsMore {
	float: left;
	list-style-type: none;
	height: 45px;
	line-height: 45px;
	background: none;
	font-size: 14px;
	color: white;
	padding: 0 18px 0 20px;
	margin-right: 1px;
	cursor: pointer;
	background: url(/banking/03images/fnb/arrows/turqRight.gif) center right no-repeat;
	width: 24px;
	color: #009999;
	display: none;
}

#currentSubTab{float:left;}
/**** end of subTabs ****/

.headerControlLabel{float:left;}

.headerControlLabel .labelInner {
	padding:8px 5px 5px 15px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size:16px;
	
}

.tableHeaderControls {
	background: #73C7C7;
	position: relative;
	padding: 6px 0 6px 0;
	margin: -6px 0 0 0;
	float:left;
	height:42px;
}
.tableHeaderControls .radioButtonContainer{padding-bottom:0px;clear:none;width:60%;}
.tableHeaderControls .switcherAdjust{border:none;padding-top:0px;}
.tableHeaderControls .radioButtonContainer .radioButton{padding: 4px 12px;}
.tableHeaderControls .searchField{
	width: 30%;
	background: url("../../03images/fnb/ui/searchIcon.gif") right center no-repeat #FFF;
	position:absolute;
	right:0px;
	top:6px;
	padding-right:32px;
	padding-bottom:0px;
	padding-top:0px;
	border:none;
		
}
.tableHeaderControls .searchField .grid60{
width: 100%;
}

.tableHeaderControls .searchField input{border:none;}
.tableHeaderControls .switcherGroup{padding:0px;}


/* ----- FOOTER WRAPPER ----- */
#footerWrapper{
	z-index:150;
	position:fixed;
	bottom:-6px;
	left:0;
	right:0;
	height:76px;
	display:none;
}
#footerWrapper.visibleContent {
	display:block;
	opacity:1;
}

* html #footerWrapper{ /* Windows Phone */
   position:absolute;
   top:expression((0-(footerWrapper.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight :document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop :document.body.scrollTop))+'px');
}
#footerWrapper #fnb-logo{
	background:url("../../03images/base/frame/fnb-logo-wide.png") no-repeat left;
	height:50px;
	width:309px;
	z-index:100;
	position:absolute;
	top:6px;
	left:5px;
}
#footerWrapper #support-reference{
	font-size:10px;
	color:#000;
	z-index:100;
	position:absolute;
	left:5px;
	bottom:7px;
}
#footerWrapper #footerContent{
	height:70px;
	font-family:Helvetica,FoundationRoman,Sans-serif;
	background-color:#E7E7E7;
	z-index:10;
	position:relative;
}
#footerWrapper .footerBorder{
	background-color:#FFF;
	height:6px;
	margin-left:5px;
}
#footerWrapper #footerElements {
	height:75px;
	z-index:150;
}
/* ----- END Footer Wrapper ----- */

/* ----- FORM FOOTER BUTTONS ----- */
#formFooterButtons {
	position:fixed;
	bottom:0;
	right:0;
	z-index:160;
	text-align:center;
	max-height:65px;
}
#formFooterButtons > .clearfix {padding-left:20px;}

#formFooterButtons .mobiFooterButton {display:none;}
#formFooterButtons .footerBtn {
	position:relative;
	float:right;
	height:65px;
	color:#FFF;
	cursor:pointer;
	z-index:160;
	bottom:0px;
	display: table;
}

#formFooterButtons .footerBtn a {
	display:block;
	border-left:1px solid #e7e7e7;
	height:100%;
	background-color:#FF9900;
	text-decoration:none;
	color:#FFF;
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:18px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
.footerBtn a:hover,
.footerBtn a:active,
.footerBtn a:focus {}
#formFooterButtons .footerBtn .actionMenuButtonIcon {display:none;}

/* footerButtons used by B-E button builder - commented out until they need it */
/* 
#footerButtons {
	position:fixed;
	bottom:0;
	left:0;
	z-index:13;
	text-align:center;
	height:60px;
} */

.notecontentFooter{
	top: -75px;
	position: absolute;
}

.notecontentFooter .inputNoteArrow{
	background: url("/banking/03images/base/input/inputNoteArrowDown.png");
	height: 12px;
	left: 110px;
    position: absolute;
    top: 54px;
}

/* ----- END Form Footer Buttons ----- */

/* ----- FOOTER DATE PICKER ----- */
#formFooterButtons .datePicker {
	float:right;
	background:none repeat scroll 0 0 #73C7C7;
	position:relative;
	padding:0 0 0 5px;
	margin:0 1px 0 0;
}

#formFooterButtons .datePicker .calendarLabel {
	width:30px;
	float:left;
	color:#fff;
}
#formFooterButtons .datePickerDate {
	height:65px;
	float:right;
	margin:0 0 10px 10px;
	width:100px;
}
#formFooterButtons .datePickerDay {font-size:33px; padding:0 5px 0;}
#formFooterButtons .datePickerDayYear {padding:4px 0 0 0;}
#formFooterButtons .datePickerWeekday {
	font-size:14px;
	padding:10px 0 0 8px;
	width:80%;
	text-align:left;
}
#formFooterButtons .datepickerWrapper {border:2px solid #73C7C7;}
#formFooterButtons .monthName {font-size:14px; padding:7px 0 0 9px;}
#formFooterButtons .datePickerYear {font-size:10px;}
#formFooterButtons .calendarLabel .calendarLabelText {padding:17px 0 17px;font-size:14px}
/* ----- END Footer Date Picker ----- */

/* ----- FOOTER DROP DOWN ----- */
#formFooterButtons .dropdown-wrapper {
	width:30%;
	float:right;
	position:relative;
	bottom:0px;
	background-color:#73C7C7;
	padding-bottom:1px;
	margin:0 2px 0 0;
}
#formFooterButtons .dropdown-selection {min-height:48px;}
#formFooterButtons .dropdown-initiator {margin:0;}
#formFooterButtons .dropdown-select {text-align:left;padding-right:0px;}

#formFooterButtons .dropdown-single-wrapper .dropdown-selection,
#formFooterButtons .dropdown-two-wrapper .dropdown-selection,
#formFooterButtons .dropdown-three-wrapper .dropdown-selection{margin:0; padding:9px 10px 9px 20px;}
#formFooterButtons .dropdown-selection-white {margin:0;}
#formFooterButtons .dropdown-item-row-h1,
#formFooterButtons .dropdown-item-row-h2{width:100%; float:left;}
#formFooterButtons .dropdown-selection-white {border:2px solid #73C7C7;height:65px;}

#formFooterButtons .dropdown-three-wrapper .dropdown-label-inner {
	margin:0;
	padding:17px 5px;
	text-align:left;
	color:#FFF;
}

#formFooterButtons .dropdown-h1 {font-family:Helvetica,FoundationRoman,Sans-serif;}
#formFooterButtons .dropdown-h2 {font-family:Helvetica,FoundationRoman,Sans-serif;}

#formFooterButtons .dropdown-item-cell-left.dropdown-h3,
#formFooterButtons .dropdown-item-cell-right.dropdown-h3,
#formFooterButtons .dropdown-item-cell-right.dropdown-h4,
#formFooterButtons .dropdown-item-cell-left.dropdown-h4{width:100%; line-height:14px;}

#formFooterButtons .dropdown-item-cell-right.dropdown-h4,
#formFooterButtons .dropdown-item-cell-left.dropdown-h4{}
/* ----- END Footer Dropdown ----- */


/* ----- ACTION MENU BUTTON ----- */
#actionMenuButtonWrapper {
	background-color:#FF9900;
	z-index: 147;
	position:fixed;
	cursor:pointer;
	left:-34px;
	top:140px;
}
/* #actionMenuButtonWrapper #actionMenuTextWrapper {height:100%;} */
#actionMenuButtonWrapper #actionMenuIcon {
	background:url("../../03images/base/actionmenu/action-menu-icon.png") no-repeat left;
	width:26px;
	height:25px;
	margin:7px 4px;
}

#actionMenuButtonWrapper #moreoptionsActionMenuTextSwap {
	background:url("../../03images/base/actionmenu/more-options-text.png") center center no-repeat;
	height:114px;
	width:26px;
	margin:7px 4px 15px 4px;
}
#actionMenuButtonWrapper #actionMenuText {display:none;}
/* ----- END Action Menu Button ----- */

/* ----- ACTION MENU ----- */

 #actionMenu {
	background-color:#FFF;
	position: absolute;
	top:130px;
	left:40px;
	display:none;
	width:100%;
	min-height: 100%;
	padding: 0 85px 0 0;
}
.actionTable {
	display:table!Important;
}
.actionMenuCol {
	display:table-cell;
	width:23%;
}
#actionMenuOrangeBanner,
.moreoptionsBannerOne {
	background-color:#FF9900;
	padding: 0 0 10px;
	position: absolute;
	width: 100%;
	color:#FFF;
}

.actionMenuColUp {
	position: relative;
	z-index: 5;
	font-size:14px;
	overflow: hidden;
}
.actionMenuContents {
	position: absolute;
	width: 100%;
	height: 100%;
}
.actionMenuButtonIcon {
	background: url("../../03images/base/actionmenu/dot-button-off.png") no-repeat;
	width:47px;
	height:47px;
}

.actionMenuButton {
	padding: 0 0 8px 8px;
	cursor:pointer;
	width:100%;
	display: table;
}

.actionMenuButton:hover .actionMenuButtonIcon {
	background: url("../../03images/base/actionmenu/dot-button-over.png") no-repeat;
}

.actionMenuButton .actionMenuButtonIconText{
	font-family:Helvetica,FoundationRoman,Sans-serif;
	color:#FFF;
	font-size:16px;
	height:auto;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 5px;
	width: 100%;
}
.moreOptionsDownArrow {
	background: url("../../03images/base/actionmenu/orangeArrow.png") no-repeat;
	width: 24px;
	height: 38px;
	bottom: 0;
	left: 95px;
	position: absolute;
}
.actionMenuHeader {color:#FFF; padding: 10px 0 0 10px}
.actionMenuHeader.orange {color:#FFF; font-size:45px;}
.bannerSubHeadings {
	font-size:16px;
	padding:5px 0 0 20px;
	width:23%;
}

.actionMenuBottomLabel {
	bottom: -60px;
	color: #747474;
	position: absolute;
	width: 23%;
	text-align: center;
	font-size:15px;
	font-family:Helvetica,FoundationRoman,Sans-serif;
}
.actionMenuContents .actionColHeader{padding:60px 10px 10px; font-size:14px;}

.actionMenuHeader.grey1,
.actionMenuHeader.grey3,
.actionMenuHeader.grey4{}

.actionMenuHeader.grey1 {background-color:#CBCBCA;font-size: 16px;}
.actionMenuHeader.grey2 {background-color:#EEEEEE; padding: 10px 5px 10px 10px;font-size: 14px;}
.actionMenuHeader.grey3 {background-color:#C1C1C0;font-size: 16px;}
.actionMenuHeader.grey4 {background-color:#B1B1B0; margin-left:5px; margin-right:5px;}
.actionMenuHeader.grey5 {background-color:#F3F3F3;padding: 10px 5px 10px 10px;font-size: 14px;}
.actionMenuHeader.grey6 {background-color:#F8F8F8; margin-left:5px; margin-right:5px;}

.actionListLink{font-family:Helvetica,FoundationRoman,Sans-serif;margin-top: 8px;}

.actionMenuHeader.grey2 .actionListText,
.actionMenuHeader.grey5 .actionListText,
.actionMenuHeader.grey6 .actionListText{margin-top:8px; color:#000; cursor:pointer}
.actionMenuHeader.grey2 .actionListComment,
.actionMenuHeader.grey5 .actionListComment,
.actionMenuHeader.grey6 .actionListComment {margin-top:5px; color:#B2B1B1;font-size:14px;}
.actionMenuHeader.actionMenuLast {}
.actionMenuHeader.turq {background-color:#099;}
.actionMenuLeftRightBorder {border-left: solid 5px #fff;border-right: solid 5px #fff;}
.actionMenuLeftBorder {border-left: solid 5px #fff;}
.actionMenuRightBorder {border-right: solid 5px #fff;}
.actionMenuSingleColumn {width:68%;}
.actionMenuDoubleColumn {width:34%;}
.col_1_of_4 {
background-color: #EEEEEE;
}
.col_2_of_4 {
background-color: #F3F3F3;
}
.col_3_of_4 {
background-color: #EEEEEE;
}

.actionMenuUrlWrapper {
	z-index: 141;
	width: 100%;
	overflow-x: hidden;
	background-color:#E7E7E7;
	top: 0;
	position: absolute;
	display: none;
	padding-bottom: 250px;
}
#actionMenuUrlWrapper .tableRow{
	cursor:pointer;
}
#actionMenuUrlWrapper .tableRow:hover{
	background: #e7e7e7;
}

#actionMenuUrlWrapper .actionMenuLeftBar {
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-color: #B1B1B1;
}

#actionMenuUrlWrapper #actionTableClose {
	height: 50px;
	width: 80px;
	background: url("/banking/03images/base/actionmenu/closeBtt.gif") no-repeat 6px 12px;
	display: block;
	cursor:pointer;
	position: absolute;
	right: 0px;
	z-index: 5;
}

#actionMenuUrlWrapper .actionMenuLeftBar p {
	color: #fff;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#actionMenuUrlWrapper .actionMenuLeftBar h2 {
	color: #fff;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

#actionMenuUrlWrapper .tableContainer {
	padding-right: 49px;
	position: relative;
	left: 10px
}

#actionMenuUrlWrapper .table {
	margin-left: 20%;
	width: 80%;
}

.actionMenuUrlWrapper .tableContainer .tableCellItem {
	line-height: 42px;
	height: 42px;
}

.actionMenuUrlWrapper .tableContainer .tableRow {
	border-bottom: 4px solid #e7e7e7;
}

.actionMenuUrlWrapper h1 {
	width: 25%;
}

#actionMenuUrlWrapper .input-wrapper.searchField .input-container {
	width: 20%;
	float: right;
	position: relative;
	top: 9px;
	background: url("../../03images/fnb/ui/searchIcon.gif") no-repeat scroll right center #FFFFFF;
}

#actionMenuUrlWrapper .input-wrapper.searchField .input-input {
	border:0 none;
}


.actionMenuNoOptions {
	color: white;
	margin: 0 0 5px 25px;
	font-size: 10px;
}

#actionMenuUrlWrapper .searchField .grid60{
	left: 20%;
	position: relative;
	top: 6px;
	padding: 0 0 0 2px;
}
/* ----- END Action Menu ----- */

/* ----- ERRORS ----- */
.input

Error {background-color:#FF9900; color:#FFF;}
.error {
	position: fixed;
	background: #FF9900;
	width: 100%;
	top: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	color: #fff;
	z-index: 160;
	border-bottom: 6px solid white;
}

.errorButtonWrapper {
	background: url("../../03images/base/error/close-icon.png") no-repeat center center;
	width: 26px;
	height: 25px;
	float: right;
	cursor: pointer;
	margin: 10px;
}

.errorMessageWrapper {
	font-size: 24px;
	padding: 15px 0px 0px 20px;
}

#errorsWrapper,
.errorsWrapper {
	padding: 0px 10px 10px 10px;
	margin: 10px 0 0 0;
	font-size: 16px;
}

.errorWrapper {
	float: left;
	padding: 0px 0px 20px 15px;
	border-left: 0 none;
}

.errorText {
	padding: 0px 0px 0px 5px;
}

.errorMsg {
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 999;
	display: none;
}

.error .errorMsg {
	display: block;
}

.errorMsg .errorMsgClose {
	position: absolute;
	right: -15px;
	top: -5px;
	width: 25px;
	height: 7px;
}

.errorMsg .errorMsgArrow {
	margin: 0px auto;
	width: 25px;
	height: 7px;
	background: url(/banking/03images/fnb/arrows/dropDownBoxArrow.gif) top center no-repeat;
}

.errorMsg .errorMsgBubble {
	background-color: #fff;
	color: #000;
	padding: 5px;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

/* ----- END Errors ----- */

/* ----- HEADER BUTTONS ----- */
#headerButtonsWrapper {
	overflow:hidden;
	margin-left:40px;
	height:35px;
}

.headerButton:first-child {
	float:right;
	background-color:#FF9900;
	color:#FFF;
	cursor:pointer;
	height:37px;
	position:relative;
	top:-39px;
	border-left:1px solid #E7E7E7;
}

.headerButton:first-child a span{
	color: #FFF;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 9px;
}
.headerButton {
	float:right;
	background-color:#FFF;
	color:#000;
	cursor:pointer;
	height:37px;
	position:relative;
	top:-39px;
	border-left:1px solid #E7E7E7;
}
.headerButton a {
	float: left;
	padding: 10px 0 0 8px;
	text-align: center;
	text-decoration: none;
}

.headerButton.logOutButton a {
	float: left;
	padding: 8px 0 0 8px;
	text-align: center;
	text-decoration: none;
}

.headerButton a span {
	color: #888;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 9px;
}
.headerButton a span.selectedButton{color:#000;}

.settingsButton,.contactButton,.optionsButton {
	background: #FFF;
	color: #DCDCDC;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 14px;
	text-align: left;
}

.settingsButton a span,.contactButton a span,.optionsButton a span {
	color: #888888;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 14px;
}

.settingsButton img,.contactButton img,.optionsButton img {
	float: left;
	padding: 4px;
}
/* ----- END Header buttons ----- */

.searchBox {
	background: #FFF;
}
/*TOOL TIP*/
.radioButtonContainer .tooltipParent{float:left;}
.tooltipParent{position:relative;background:#C1E7E5;width:30px;height:30px;}
.input-wrapper .input-container-inner .tooltipParent{position:absolute;right:11px;}

.tooltip {
	display: none;
	position: absolute;
	margin-top: -50px;
	border: 3px solid white;
	padding: 5px 5px 8px 8px;
	background: #addbdb;
	max-width: 200px;
	cursor: pointer;
}
.input-wrapper .input-container-inner.toolTipSpacer{padding-right:38px;}
.tooltip .tooltip-pointer {
	position: absolute;
	bottom: -17px;
	left: 185px;
	width: 15px;
	height: 17px;
	background: url("/banking/03images/base/tooltip/pointer.png") left top
		no-repeat;
}
.tooltip-pointer-left{
	position: absolute;
	bottom: -17px;
	width: 15px;
	height: 17px;
	left: 10px;
	background: url("/banking/03images/base/tooltip/pointer_left.png") left top
		no-repeat;
}
.tooltipButton {
	background: 
		url("/banking/03images/base/tooltip/questionMark.png") 1px center
		no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.tooltipButtonCross {
	background:
		url("/banking/03images/base/tooltip/crossMark.png") center center
		no-repeat;
}

.tooltip-close {
	background: url("/banking/03images/base/tooltip/close-icon.png") center
		center no-repeat;
	width: 25px;
	height: 26px;
	float: left;
	cursor: pointer;
}

.tooltip-text {
	float: left;
	max-width: 200px;
	padding: 5px;
	text-align:left;
	line-height:18px;
}

.multiTableCellTooltip{
	top: 11px;
	position: absolute;
}
.confirmPage {
	
}
.confirmPage .confirmDate{font-size:14px}
.confirmPage .confirmHeader {
	position: relative;
}

.confirmPage .confirmHeader .confirmHeaderInner {
	position: relative;
}

.confirmHeader .confirmHeaderInner .confirmHeaderTopText{padding-left:15px;padding-top:13px;font-size:18px;}

.confirmHeader .confirmHeaderInner .confirmHeaderBottomText{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 24px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
	
}

.confirmHeader .confirmHeaderInner .confirmHeaderBottomText .confirmTextOne{font-family: Helvetica,FoundationRoman,Sans-serif;}

.confirmHeader .confirmHeaderInner .confirmHeaderBottomText .confirmTextTwo{font-size: 13px;}

.confirmHeader .confirmHeaderInner .confirmDate {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.confirmPage h2 {
	padding: 0 0 10px 20px;
}

.confirmPage h2 span {
	font-size: 14px;
}

.confirmPage .recipientCount {
	margin: 0 5px;
	padding: 2px 5px;
	text-align: center;
	border: 2px solid white;
	background: #AAC6C7;
	font-size:14px;
}

.confirmPage .floatLeftRecipient {
	float: left;
	padding: 3px 0 0 0;
	font-size:16px;
}

.confirmPage .dotOrange {
	color: #FFF;
	padding: 4px 7px;
	/*border-radius:11px;
	background-color:#FD9800;*/
	display: inline-block;
	background: url("/banking/03images/base/dots/dot-orange.png") no-repeat
		0 0 transparent;
}

.confirmPage .confirmRowOne {
	margin: 40px 0 0 0;
}

.confirmPage .confirmRowOne tr {
	height: 40px;
}

.confirmPage .confirmRowOne td:first-child {
	padding: 0 0 0 1.5%;
}

.confirmPage .confirmRowOne td {
	vertical-align: middle;
}

.confirmPage .detailsColumn {
	background: #FFF;
}

.confirmPage .confirmRowTwo tr {
	height: 40px;
}

.confirmPage .confirmRowTwo td {
	vertical-align: middle;
}

.confirmPage .confirmRowTwo td:first-child {
	padding: 0 0 0 1.5%;
}

.confirmPage .tableRow {
	background: none repeat scroll 0 0 #fff;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding: 2px 0;
	border: none;
	margin-bottom: 2px;
	min-height: 34px;

}

.confirmPage  .tableHeaderRow {

	position: relative;
}

.confirmPage  .tableHeaderRow span {
	color: #666;
}

.confirmPage .tableGroupHeader img {
	bottom: -7px;
	left: 5px;
	position: absolute;
	z-index: 1;
}

.confirmPage .tableHeaderRow .tableHeaderInnerRow {
	color: #666;
	padding-left:5px;
}

.confirmPage .tableHeaderRow.tableGroupHeader span {
	color: #666;
}

.confirmPage  .tableCell {
padding: 0px 15px;
}

.confirmPage .totalRow {
	background: none;
	border-bottom: 2px solid #CCCCCC;
	line-height: 42px;
	height: 42px;
	padding: 0 0px 6px 0px;
	margin-bottom: 0px;
}

.confirmNotifications .tableDataRow {background:#D8D7D5;}
.confirmNotifications .tableRowInner,
.confirmNotifications .tableCellItem{padding:0;}
.confirmNotifications #type {padding:0 0 0 15px;}

.confirmFinishTable .badStatus {
	width: 100%;
	text-align: left;
	background: url("/banking/03images/fnb/ui/no.png") no-repeat 95% 2px
}

.confirmFinishTable .goodStatus {
	width: 100%;
	text-align: left;
	background: url("/banking/03images/fnb/ui/yes.png") no-repeat 95% 2px
}

.rightBox {
	right: 0;
	width: 20%;
	position: absolute;
	height: 100%;
	top: 3px;
	z-index: 1;
}

.rightBoxContent {
	border-left: 6px solid #FFFFFF;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.rightBoxInner {
	padding: 0 20px 0 20px;
	color: #FFF;
}

.rightBox h5 {
	color: #000;
	font-size: 28px;
	background: white;
}

.whiteMessageContainer {
	margin: 67px 0px 0px 0;
}

.totalContainer {
	list-style: none;
}

.finishMessageArrow {
	position: relative;
	right: -40px;
}

#processingResultViewBean {
	float: left;
}

.rowMarker {
	float: left;
}

/*********Confirm Finish End**********/
.phonebookAddHeading {
	margin: 5px 0 0 20px;
	padding: 5px;
	width: 90%;
}

.phonebookAddLabels {
	padding: 0 0 0 10px;
}

.phonebookSearch .gridFull {
	width: 91%;
}

.phonebookDelete .gridFull {
	width: 91%;
}

#phoneNumberUpdate .gridFull {
	width: 91%;
}

.phonebookDelete .gridThird {
	height: 42px;
}

.phonebookDelete .gridThird .innerMargin {
	height: 100%;
}

.phoneBook .eziLabel {
	padding: 0;
	margin: 0;
	background: none;
}

.phoneBook .input-container {
	margin: 0 10px 0px 0;
	padding: 0;
}

#phoneNumberUpdate .input-container {
	margin: 0 10px 0px 0;
	padding: 0;
}

.phoneBookAdd .eziListItem {
	margin: 5px 0 0 15px;
	padding: 3px;
	width: auto;
}

.phoneBookAdd {
	padding: 5px;
}

.branchSearchResult {
	padding: 5px 0 5px 0;
}

.eziWrapper .actionMenuContents {
	background: none;
}

/*EZI WRAPPER 30%*/
.eziwrap30 #eziPannelButtonsWrapper {
	width: 29%;
}

/* DO SOMETHING */
.doSomething .eziPannelTitleIcon {
	background: url("/banking/03images/fnb/icons/add_grey.png") no-repeat left center transparent;
	width: 28px;
	height: 28px;
}

.eziPannelTitleNegIcon .eziPannelTitleIcon {
	background: url("../../03images/base/icons/doSomethingMinus.png") transparent;
	width: 28px;
	height: 28px;
}

/**** footer Message ****/
.footerMessage {
	min-width: 100%;
	padding: 10px 60px 10px 0;
	position: fixed;
	bottom: 70px;
	right: -1px;
	background: #72C6C6;
	border-left: 2px solid #72C6C6;
	border-top: 4px solid #fff;
	left: 40px;
	text-align: right;
	z-index: 148;
	font-size: 16px;
}

.footerMessageText {
	float: right;
	margin: 0 0 0 10px;
}

.footerMessageTotal {
	float: right;
	margin: 0 50px 0 5px;
}

/******Pagination******/
.pagingWrapper {
	background: #ADDBDB;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	text-align: center;
}

.pagingWrapper .searchBar {
	display: none;
}

.pagingWrapper .dropdown-item-icon {
	display: none;
}

.pagingWrapper .dropdown-initiator {
	margin: 3px 0;
}

.pagination .dropdown-content-wrapper {
	margin: -5px 0 0 15px;
}

.pagination .dropdown-item {
	background: #c8eceb!important;
}

.pagination .dropdown-item-row-wrapper {
	margin: 0;
}

.pagination {
	width: 20%;
	float: left;
}

.pagination .td {
	vertical-align: middle;
	text-align: center;
	padding-top:0px;
	font-size:14px;
}



.pageLimits {
	border-right: 3px solid white;
	height: 42px;
}

.pageLimits td {
	width: 33.3333%;
	text-align: center;
}

.pageLimits td:first-child {
	padding: 0 10% 0 0;
	text-align: right;
}

.pageLimits td:last-child {
	text-align: left;
}

.pageLimits .dropdown-selection {
	background: #FFF;
	border: 1px solid #BCE4E4;
	padding: 8px 0 8px 20px;
}

.pageLimits .dropdown-content-top-indicator {
	display: none;
}

.pageLimits .dropdown-content {
	margin-top: -4px;
}

.pagination2 {
	width: 40%;
	float: right;
	height: 42px;
}

.pagingPrevious {
	text-align: center;
	vertical-align: middle;
	width: 25%;
	border-left: 3px solid white;
	border-right: 3px solid white;
}

.pagingPrevious a {
	cursor: pointer;
	padding: 10px 0 10px 0;
}

.pagingNext {
	text-align: center;
	vertical-align: middle;
	width: 25%;
	border-left: 3px solid white;
}

.pagingNext a {
	cursor: pointer;
	padding: 10px 0 10px 0;
}

.pagingChoice {
	text-align: center;
	vertical-align: middle;
	width: 50%;
}

.pagingChoice input {
	width: 50px;
	border: 1px solid #BCE6E5;
	padding: 5px 0 5px 10px;
	background: #FFF;
}

.pagingChoice span {
	
}

.limiterDropDown {
	width: 80px;
}

.entriesChoice {
	width: 90px;
}

.entriesChoice .dropdown-item-icon,.entriesChoice .dropdown-item.selected-item
	{
	display: none;
}

.entriesChoice .dropdown-initiator {
	margin: 0;
}

.entriesChoice .dropdown-selection,.dropdown-two-wrapper .dropdown-selection,.dropdown-three-wrapper .dropdown-selection
	{
	
}

.pagination .formElementWrapper{padding-bottom:0px;padding-top:0px;}
