/* ----- FRAME ----- */
#footerWrapperNew #fnb-logo{background-image:url("../images/logo-wide.png") !important;}
html,
.htmlBackGround,
.pageWrapper,
#footerWrapperNew #footerContent{}
#main{background-color:#F7F7F7 !important;border:1px solid #DBDBDB !important;}
#main.teal7{background-color:#5C447E !important;}

.left-sidebar-bottom {background-color:#FCFCFC !important;}
#footerWrapperNew .footerBorder {background-color:#5C447E;height:5px;}

/* DISCOVERY ONLY BACKGROUND TEXTURE */
html,
.htmlBackGround,
#topMenu,
#footerWrapperNew #footerContent,
.left-sidebar-bottom{background:url("../images/bg-texture.png") 0 0 repeat fixed #FCFCFC !important;}
.pageWrapper{background:none transparent !important;}
#footerWrapperNew .footerBorder {margin-right:3px;}
#topNavWrapper{
	background-color:#FCFCFC;
	background-repeat:repeat-x;
	background-position:0 0;
	background-image: url("../images/topnav-btn-tile.png");
	background-image: -moz-linear-gradient(top, #FCFCFC 20%, #F2F2F2 50%, #E3E3E3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#FCFCFC), color-stop(50%,#F2F2F2), color-stop(100%,#E3E3E3));
	background-image: -webkit-linear-gradient(top, #FCFCFC 20%,#F2F2F2 50%,#E3E3E3 100%);
	background-image: -o-linear-gradient(top, #FCFCFC 20%,#F2F2F2 50%,#E3E3E3 100%);
	background-image: -ms-linear-gradient(top, #FCFCFC 20%,#F2F2F2 50%,#E3E3E3 100%);
	background-image: linear-gradient(to bottom, #FCFCFC 20%,#F2F2F2 50%,#E3E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#E3E3E3',GradientType=0 );
}

/*
::-moz-selection	{background-color:#5C447E;color:#FFF;}
::-webkit-selection	{background-color:#5C447E;color:#FFF;}
::selection			{background-color:#5C447E;color:#FFF;}
 */
.teal1		{background-color:#5C447E;}
.amber1		{background-color:#868686;}
.teal7,
.teal8,
.teal10		{background-color:#5C447E; color:#FFF;}
.teal9		{background-color:#C7BAD9;}
/*
.teal5		{background-color:#4DB8B8;}
.teal6		{background-color:#61C0C0;}
.teal11		{background-color:#ADDBDB;}
.lightTeal1	{background-color:#70D4D4;}
.darkGreyBg	{background-color:#CCCCCC;}
.grey		{background-color:#D9D9D9;}
.grey1		{background-color:#E7E7E7;}
.grey2		{background-color:#F1F1F1;}
.grey3		{background-color:#F6F6F6;}
*/

.borderTopTurq		{border-top-color:#5C447E;}
.borderRightTurq	{border-right-color:#5C447E;}
.borderBottomTurq	{border-bottom-color:#5C447E;}
.borderLeftTurq		{border-left-color:#5C447E;}

.borderTopAmber		{border-top-color:#868686;}
.borderRightAmber	{border-right-color:#868686;}
.borderBottomAmber	{border-bottom-color:#868686;}
.borderLeftAmber	{border-left-color:#868686;}

.borderTopGrey		{border-top-color:#F7F7F7;}
.borderRightGrey	{border-right-color:#F7F7F7;}
.borderBottomGrey	{border-bottom-color:#F7F7F7;}
.borderLeftGrey		{border-left-color:#F7F7F7;}

/* ----- TOP NAVIGATION ----- */
#headerButtonsWrapper .headerButton {background-color:#FFF;border-left-color:#F3F3F3;}
#headerButtonsWrapper .headerButton a span,
#headerButtonsWrapper .headerButton:first-child a span{background-color:transparent; padding-left:6px;}
#headerButtonsWrapper .headerButton a span{color:#666;}

#headerButtonsWrapper .headerButton:hover{background-color:#FCFCFC;}

#headerButtonsWrapper .headerButton a:hover span,
#headerButtonsWrapper .headerButton a span.selectedButton{color:#5C447E;}

#headerButtonsWrapper .commercialContactBtn,
#headerButtonsWrapper .corporateContactBtn,
#headerButtonsWrapper .foreignContactBtn,
#headerButtonsWrapper .privateContactBtn,
#headerButtonsWrapper .premier1ContactBtn,
#headerButtonsWrapper .premier2ContactBtn,
#headerButtonsWrapper .premier3ContactBtn,
#headerButtonsWrapper .noBankerContactBtn{background-image:url("../images/ico-sqr-top_pri_contact.png");padding-left:25px;}
#headerButtonsWrapper .inboxBtn{background-image:url("../images/ico-sqr-top_pri_inbox.png");padding-left:25px;}
#headerButtonsWrapper .settingsBtn{background-image:url("../images/ico-sqr-top_pri_settings.png");padding-left:25px;}

/* Apply and Logout buttons */
#headerButtonsWrapper .headerButton.applyHeaderButton,
#headerButtonsWrapper .headerButton:first-child {background-color:#5C447E;border-left-color:#F3F3F3;}
#headerButtonsWrapper .headerButton.applyHeaderButton a span,
#headerButtonsWrapper .headerButton:first-child a span {color:#FFF;}
#headerButtonsWrapper .headerButton.applyHeaderButton:hover,
#headerButtonsWrapper .headerButton:first-child:hover{background-color:#5C447E;}

.applyHeaderButton a {
padding: 0 0 0 2px;
background: none;
}

/* ----- MAIN NAVIGATION ----- */
#topMenu{background-color:#FCFCFC;}
#topNavWrapper{background-color:#EEE;border-top:1px solid #E8E8E8}
#topNav .gridCol {background-image:url("../images/main-nav-separator.png");}

#topNav li a,
#topNav li.selected a{color:#717171;}

#topNavMenuSliderIndicator{background-color:#5C447E;}
#topNavMenuSlider,
#topNavBottomBorder{background-color:#FCFCFC;}

/* ----- SUBTABS ----- */
.subTabsMenu{border-bottom-color:#5C447E;}
.subTabsMenu div.subTab{color:#666; background: url("../images/topnav-btn-tile.png") repeat-x scroll 0 -10px #E7E7E7;}
.subTabsMenu div.subTab.active{background-color:#5C447E;background-image:none;color:#FFF;}

.subTabsMenu div.subTab.active:hover{background-color:#5C447E}

#extendedPageHeader.withExtraContent{border-bottom-color:#5C447E;}

/* ----- TABLES CONTROLS ----- */
.radioButtonsGroup,
.radioButtonsGroup.switcherGroup,
.tableHeaderControls,
.radioButtonContainer.teal7.switcherAdjust{background-color:#5C447E;}

.switcherWrapper,
.tableHeaderControls .tableSwitcherButton{background-color:#786B8C;color:#FFF;}
.switcherWrapperSelected,
.tableHeaderControls .tableSwitcherButton.tableSwitcherSelected{background-color:#C7BAD9!important;color:#220945}

.tableHeaderControls .tableActionButton{background-color:#786B8C;}
.tableHeaderControls .tableActionButton:hover{background-color:#75648F;}

.tableHeaderControls .tableActionButton .tableActionButtonContent{background-color:#5C447E;}
.tableHeaderControls .tableActionButton .tableActionButtonContent .tableActionButtonContentArrow{border-bottom-color:#5C447E;}

.note.note-top{background-color:#5C447E;color:#FFF;}


h2, h3, h4, h5, h6 {
font-weight:bold
}
/* ----- TABLES ----- */
.tableHeaderRow,
#detailedBalance .tableHeaderRow{background-color:#CCC;}
.tableHeaderRow div,
.tableHeaderRow a{color:#333;}
.tableCell.selectAllActive .tableHeaderCellItem {background-color:#AAA;}

.confirmPage .tableHinnerImage{border-top-color:#F7F7F7;}

.turq .goodStatus,
.tableCellItem.goodStatus,
.confirmFinishTable .goodStatus		{background-image:url("../images/ico-circ-tick_priw.png");}
.turq .badStatus,
.tableCellItem.badStatus,
.confirmFinishTable .badStatus		{background-image:url("../images/ico-circ-cross_secw.png");}

.tableCell .rowMoreButton .phoneRowMoreButton,
.tableCell .rowMoreButton .arrow	{background-image:url("/banking/04skins/2/images/ico-circ-arrow-right_wg.png");}

.footerMessage{color:#333;}
.footerMessageInnerTwo {
background: #ccc;

}
#formFooterButtons #date_datePicker .formElementLabel{padding: 7px 10px 0px 2px;}
.confirmPage .confirmNoteColumn .note {background-color:#E7E7E7;}

/* ----- PAGINATION ----- */
.pagingWrapper{background-color:#CCC;color:#333;}
.pagingChoice input,
.pageLimits .dropdown-selection,
.pagination .dropdown-selection-white{border-color:#AAA;}

/* ----- PROGRESS BAR ----- */
#StandardProgressWrapper,
#EziProgressWrapper,
.progressBackGround {
	
}
#StandardProgressBar,
#EziProgressBar,
.progressBar {
	background-color:#776096;
}

/* ----- CALENDAR ----- */
.background-bcal-container{
	border-top-color:#5C447E;
	border-bottom-color:#5C447E;
}
.bcal-table .bcal-today{border-color:#5C447E;}
.bcal-table .bcal-selected,
.bcal-table .bcal-selected:hover{background-color:#5C447E;color:#FFF;}

.bcal-table .bcal-over,
.bcal-table .bcal-date:hover{color:#FFF; background:#868686;}

/* ----- INPUTS ----- */
textarea:focus,
.input-input:focus,
.input-input.input-focus{border-color:#5C447E;}
.inputNoteArrow{border-bottom-color:#5C447E;}
.inputNoteArrowDown{border-top-color:#5C447E;}

.tooltip{background-color:#5C447E;}
.tooltip.leftScreen .tooltip-pointer,
.tooltip.rightScreen .tooltip-pointer{border-top-color:#5C447E;}
.tooltipButton{background-color:#5C447E;}

/* ----- DROPDOWNS ----- */
.dropdown-content-wrapper{border-color:#5C447E;}
.dropdown-content-top-indicator-inner {background-color:#B38D5C;}
.dropArrow,
.dropdown-trigger {background-image:url("../images/btn-arrow-right_sec.png");}
.dropdown-trigger-selected {background-image:url("../images/btn-arrow-down_sec.png");}
.dropdown-wrapper .dropup-trigger-selected {background-image:url("../images/btn-arrow-up_sec.png");}
.dropdown-focus {border-color:#5C447E;}

.datePicker .dropArrow{background-image:url("../images/ico-calendar_pri.png");left: 0px;}

.datepickerWrapper .dropdown-trigger,
#formFooterButtons .dropArrow,
#formFooterButtons .dropdown-wrapper .dropdown-trigger {background-image:url("../images/btn-arrow-right_sec.png");}
#formFooterButtons .dropdown-wrapper .dropup-trigger-selected {background-image:url("../images/btn-arrow-up_sec.png");}

#formFooterButtons .dropdown-wrapper{background-color:#5C447E;margin-right:0;}
#formFooterButtons .dropdown-selection-white{border-color:#5C447E;}

/* ----- DATEPICKER ----- */
#formFooterButtons .datePicker{background-color:#5C447E;}
#formFooterButtons .datepickerWrapper{border-color:#5C447E;}

/* ----- FOOTER BUTTONS ----- */
#formFooterButtons .footerBtn a{background-color:#5C447E;border-color:#FCFCFC;}

/* ----- CHECKBOXES ----- */
.checkbox-graphic{background-image:url("../images/checkbox_sprite.png");}
.checkbox-graphic-wrapper.checked .checkbox-graphic{border-color:#5C447E;}

.checkbox-graphic-wrapper .checkbox-input:focus+.checkbox-graphic,
.checkbox-graphic-wrapper.checked .checkbox-input:focus+.checkbox-graphic{border-color:#5C447E;}

/* ----- ERRORS ----- */
.errorPanelInner{background-color: #5C447E;}
.tableCellItem.warning1,
.tableCellItem.warning2,

.tableCellItem.warning3,
.tableCellItem.warning4,
.tableCellItem.warning5,
.tableCellItem.warning7,
.tableCellItem.warning8,
.tableCellItem.warning9,
.tableCellItem.warning10{color:#5C447E;}
.rightBox.success,.rightBoxContent.success,#eziPannelButtons.success{background-color:#868686;}

/* ----- ACTION MENU ----- */
#actionMenuButtonWrapper {background-color:#5C447E;}

#actionMenu,
#actionMenuOrangeBanner,
.moreoptionsBannerOne,
.actionMenuCol.col_0_of_4{/* background-color:#5C447E; */}

.confirmPage .recipientCount {

background: #5C447E;

}

.moreOptionsDownArrow{background-image:url("../images/arr-actionmenu.png");}
#actionMenuUrlWrapper #actionTableClose {
background-image: url("/banking/04skins/2/images/Close_WHITE.png");
background-position: 0px 2px;
}
/* ----- BUTTONS ----- */
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button,
.calendarDoneButton,
.calendarCancelButton,
.calendarHolidayCancelButton,
.calendarOKButton,
.tableContainer .eziLinks .eziLink,
.tableCell .formButton,
#bigThreeOffer #bigThreeGo,
#branchSearchButton,
#phoneBookSearchButton,
#publicRecipientSearchButton,
#eziPannelButtonsWrapper .actionMenuButton,
#lottoResultsContainer .lottoButton,
#powerballResultsContainer .lottoButton,
.confirmFinishHeaderButtonContainer .print .formButton,
.confirmFinishHeaderButtonContainer .download .formButton,
#insurancePage .getAQuoteButton,
.login-button .formButton,
.resetAccessButton .formButton,
#logOffTimerPopUp #buttonRow .buttoncell {
    color:#333 !important;
    border-color:#CCC;
    background-color:#E5E5E5;
	background-repeat:repeat-x;
	background-position:0 0;
	background-image:url("../images/btn-bg-tile.png");
    background-image: -ms-linear-gradient(top, #FEFEFE, #D6D6D6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #FEFEFE, #DEDEDE);
    background-image: -moz-linear-gradient(top, #FEFEFE, #DEDEDE);
    background-image: linear-gradient(top, #FEFEFE, #DEDEDE);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FEFEFE', endColorstr='#D6D6D6');
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]:hover, button:hover,
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="file"]:focus, button:focus,
.calendarDoneButton:hover,.calendarDoneButton:focus,
.calendarCancelButton:hover,.calendarCancelButton:focus,
.calendarHolidayCancelButton:hover,.calendarHolidayCancelButton:focus,
.calendarOKButton:hover,.calendarOKButton:focus,
.tableContainer .eziLinks .eziLink:hover,.tableContainer .eziLinks .eziLink:focus,
.tableCell .formButton:hover,.tableCell .formButton:focus,
#eziPannelButtonsWrapper .actionMenuButton:hover,#eziPannelButtonsWrapper .actionMenuButton:focus,
#lottoResultsContainer .lottoButton:hover,#lottoResultsContainer .lottoButton:focus,
#powerballResultsContainer .lottoButton:hover,#powerballResultsContainer .lottoButton:focus,
.confirmFinishHeaderButtonContainer .print .formButton:hover,.confirmFinishHeaderButtonContainer .print .formButton:focus,
.confirmFinishHeaderButtonContainer .download .formButton:hover,.confirmFinishHeaderButtonContainer .download .formButton:focus,
#insurancePage .getAQuoteButton:hover,#insurancePage .getAQuoteButton:focus,
.login-button .formButton:hover,.login-button .formButton:focus,
.resetAccessButton .formButton:hover,.resetAccessButton .formButton:focus,
#logOffTimerPopUp #buttonRow .buttoncell:hover,#logOffTimerPopUp #buttonRow .buttoncell:focus{
	color:#5C447E !important;
    border-color:#CCADF7;
    background-color:#F8F8F8;
	background-repeat:repeat-x;
	background-position:0 10%;
	background-image:url("../images/btn-bg-tile.png");
    background-image: -ms-linear-gradient(top, #FAFAFA, #EEEEEE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EEEEEE);
    background-image: -moz-linear-gradient(top, #FAFAFA, #EEEEEE);
    background-image: linear-gradient(top, #FAFAFA, #EEEEEE);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FAFAFA', endColorstr='#EEEEEE');
}

.button .smallTurqPlus {color:#5C447E;}

#otpResendSms.formButton,
#otpResendEmail.formButton,
.settingsLandingPage .formButton,
.login-button .formButton{background-color:#5C447E;color:#FFF;border:0 none;}
#otpResendSms.formButton:hover,
#otpResendEmail.formButton:hover,
.settingsLandingPage .formButton:hover,
.login-button .formButton:hover{background-color:#6E5196;}

/* ----- NOTES ----- */
.note.note-tc,
.note.note-normal,
.note.note-top.teal7{background-color:#5C447E;color:#FFF;}

/* ----- EZI PANEL ----- */
#eziPannelButtons {/* background-color:#5C447E; */}

#eziPannelButtonsWrapper .actionMenuButtonIconText {
width: auto;
color: #000;
}


#eziWrapper #eziHeader_pageType,
#eziWrapper #eziHeader_accName,
#eziWrapper #eziHeader_accNumber{
	color: #000;
}

.eziWrapper h2 {
    color: #000;
}

#eziWrapper .tableHeaderRow.tableGroupHeader span{
	color:#ffffff;
}

.confirmFinishMultiTable .doubleItemTop{
	color:#ffffff;
}

.confirmFinishMultiTable .doubleItemBottom{
	color:#ffffff;
}

.confirmFinishMultiTable .tableRow .doubleItemTop{
	color:#666666;
}

.confirmFinishMultiTable .tableRow .doubleItemBottom{
	color:#666666;
}


.tableHeaderRow.tableGroupHeader div{
	color:#ffffff;
}

.whiteHeading{
	color:#ffffff;
}

#additionalOptionsContainer{
	/* color:#ffffff; */
}

/* ----- BIG3 ----- */
#big3OuterWrapper #big3 #big3ShoutOut{background-color:#5C447E;}
#big3OuterWrapper #big3 #big3ShoutOutArrow{border-top-color:#5C447E;}

/* ----- SETTINGS ----- */
.profilesZBI.dashboard .button{background-color:#5C447E !important;}

/* ----- LOGGED-OFF ----- */
#registrationLanding .teal7{background-color:#5C447E;}
#registrationLanding .block-topspace {color:#000;}
#registrationLanding .registration-blocks.teal9{background-color:#FCFCFC; border-color:#EEE;}

/* ----- SPECIAL ----- */
/* #newsLanding #preNewsContainer {background-color:#F7F7F7 !important;} */
#newsLanding #welcomeBannerText:after {border-top-color:#5C447E !important;}
#newsLanding .moreItemButton .loggedInImage {background-image: url("../images/log-icons_sprite.png") !important;}
#newsLanding #whatsNewContainer .listCircle li{list-style-image: url("../images/arr-right_pri.png") !important;}
#popupWrapper,
#sessionTimedOutOverlay,
#valueAdds .vasPopup,
#logOffTimerPopUp {background-color:#5C447E !important;}
#newsLanding .moreItemButton .arrow,
#valueAdds .valueMajorButton{background-image:url("../images/btn-arrow-right_pri.png") !important;}
#valueAdds .valueAddItem.border0,
#valueAdds .valueAddItem.border1 {
	border-top-color:#F7F7F7 !important;
	border-right-color:#F7F7F7 !important;
	border-left-color:#F7F7F7 !important;
}
#popUpHeading {
border-bottom: none;

}
#popupWrapper #extendedPageHeader h1 {
color:#fff!important
}

.newAccountPopup .actionMenuButton .actionMenuButtonIconText {color:#000!important;}
/* ----- FOR MORE ----- */
#forMore {background-image:url("../images/downArrow.png"); background-color:#5C447E;}
.swiftButton{background-color:#5C447E;}

/* ----- MOBI ----- */
.mobi-header-trigger{background-color:#868686;}
.phoneContentButton{background-image:url("../images/mobi-expand-row.png");}

.eziWrapper, .actionMenuHeader .innerPad, .actionMenuCol.col_0_of_4 {
/* background-color: #5C447E!important; */
/* color: #fff; */
}

@media only screen and (max-width: 1279px) {
	#footerWrapperNew .footerBorder {margin-right:0;}
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
	#footerWrapperNew #fnb-logo{background-image:url("../images/logo-thin.png") !important;}
}

@media only screen and (max-width: 799px) {
	#headerButtonsWrapper .headerButton:last-child {border-left:0 none !important;}
	#footerWrapperNew #fnb-logo{background-image:url("../images/logo-small.png") !important;}
	.subTabsMenu {border-bottom-color:#5C447E;}
	.subTabsMenu div.subTab{border-right-color:#CCC !important;}
	.subTabsMenu div.subTab.active{background-color:#5C447E;}
	.tableCell .rowMoreButton .phoneRowMoreButton,
	.tableCell .rowMoreButton .arrow{background-image:url("../images/btn-arrow-right_pri.png");}
}

/***StandIn Message***/
#standInMessage {
	color: #fff;
	background: url("../../../03images/fnb/custom/standInMessage/standInIconMessage.png") no-repeat scroll 50px center #5C4281;
}
#standInMessagePopup {
	background: #5C4281;
}