@charset "UTF-8";

/* Visibility */
.displayNone,
.hidden		{display:none;}
.displayBlock,
.show		{display:block;}

/* Positioning */
.positionRelative	{position:relative;}
.positionAbsolute	{position:absolute;}
.positionFixed		{position:fixed;}

/* Text Alignment */
.alignLeft		{text-align:left;}
.alignCenter,
.centerContent	{text-align:center;}
.alignRight		{text-align:right;}

.valignTop		{vertical-align:top;}
.valignMiddle,
.vertMiddle		{vertical-align:middle;}
.valignBottom,
.alignBottom	{vertical-align:bottom;}
.valignBaseline	{vertical-align:baseline;}

/* Block Alignment */
.floatLeft,
.left		{float:left;}

.floatRight	{float:right;}

/* Float Clearing */
.clearLeft	{clear:left;}
.clearRight	{clear:right;}
.clear,
.clearBoth	{clear:both;}

/* Foreground Colors */
.whiteText	{color:#FFF;}
.teal1 a	{color:#FFF;}

/* Background Colors */
.amber1		{background-color:#FF9900; color:#FFF;}
.teal1		{background-color:#009999; color:#FFF;}
.teal2		{background-color:#14A1A1;}
.teal3		{background-color:#26A8A8;}
.teal4		{background-color:#3BB1B1;}
.teal5		{background-color:#4DB8B8;}
.teal6		{background-color:#61C0C0;}
.teal7		{background-color:#73C7C7;}
.teal8		{background-color:#87CFCF;}
.teal9		{background-color:#99D6D6;}
.teal10		{background-color:#BFE5E5;}
.lightTeal1	{background-color:#70D4D4;}
.whiteBg,
.white		{background-color:#FFF;}
.darkGreyBg	{background-color:#CCC;}
.grey		{background-color:#D8D7D5;}
.grey1		{background-color:#E7E7E7;}
.grey2		{background-color:#F1F1F1;}
.grey3		{background-color:#F6F6F6;}

.grey2 .innerPad,
.grey5 .innerPad,
.grey6 .innerPad{padding:10px 10px 10px;}

.padTop5	{padding-top:5px;}
.padTop7	{padding-top:7px;}
.padTop10	{padding-top:10px;}
.padTop15	{padding-top:15px;}
.padTop20	{padding-top:20px;}

.padBottom5 {padding-bottom:5px;}
.padBottom10{padding-bottom:10px;}
.padBottom20{padding-bottom:20px;}
.padBottom50{padding-bottom:50px;}

.padLeft10{padding-left:10px;}
.padLeft15{padding-left:15px;}
.padLeft20{padding-left:20px;}
.padLeft40{padding-left:40px;}
.padLeft45{padding-left:45px;}
.padLeft50{padding-left:50px;}
.padLeft70{padding-left:70px;}

.padRight11{padding-right:11px;}
.padRight10{padding-right:10px;}
.padRight20{padding-right:20px;}

/* ----- GENERIC MARGIN CLASSES ----- */
.marginLeft10{margin-left:10px;}
.marginLeft20{margin-left:20px;}

.marginRight20{margin-right:20px;}

.marginBottom0 {margin-bottom:0px;}
.marginBottom5 {margin-bottom:5px;}
.marginBottom10{margin-bottom:10px;}
.marginBottom20{margin-bottom:20px;}

.marginTop0 {margin-top:0px;}
.marginTop5 {margin-top:5px;}
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}

.noMargin	{margin:0;}
/* ----- END Generic Classes ----- */

/* ----- BORDER CLASSES ----- */
/*
Please stick to the camelCase naming convention

Note: if you want a Left+Bottom border use 2 classes! 

NON-IMAGE BORDERS:
	[border][side][color]
	
	Available sides:
		Top,Right,Bottom,Left

	Available Colors:
		White,Grey,Turq,Amber
*/
.borderTopWhite,.borderTopGrey,.borderTopTurq,.borderTopAmber,.borderRightWhite,.borderRightGrey,.borderRightTurq,.borderRightAmber,.borderBottomWhite,.borderBottomGrey,.borderBottomTurq,.borderBottomAmber,.borderLeftWhite,.borderLeftGrey,.borderLeftTurq,.borderLeftAmber
{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

.borderTopWhite,.borderTopGrey,.borderTopTurq,.borderTopAmber				{border-top-width:6px;		border-top-style:solid;}
.borderRightWhite,.borderRightGrey,.borderRightTurq,.borderRightAmber		{border-right-width:6px;	border-right-style:solid;}
.borderBottomWhite,.borderBottomGrey,.borderBottomTurq,.borderBottomAmber	{border-bottom-width:6px;	border-bottom-style:solid;}
.borderLeftWhite,.borderLeftGrey,.borderLeftTurq,.borderLeftAmber			{border-left-width:6px;		border-left-style:solid;}

.borderTopWhite		{border-top-color:#FFF;}
.borderRightWhite	{border-right-color:#FFF;}
.borderBottomWhite	{border-bottom-color:#FFF;}
.borderLeftWhite	{border-left-color:#FFF;}

.borderTopGrey		{border-top-color:#E7E7E7;}
.borderRightGrey	{border-right-color:#E7E7E7;}
.borderBottomGrey	{border-bottom-color:#E7E7E7;}
.borderLeftGrey		{border-left-color:#E7E7E7;}

.borderTopTurq		{border-top-color:#009999;}
.borderRightTurq	{border-right-color:#009999;}
.borderBottomTurq	{border-bottom-color:#009999;}
.borderLeftTurq		{border-left-color:#009999;}

.borderTopAmber		{border-top-color:#FF9900;}
.borderRightAmber	{border-right-color:#FF9900;}
.borderBottomAmber	{border-bottom-color:#FF9900;}
.borderLeftAmber	{border-left-color:#FF9900;}

/*
IMAGE BORDERS:
	[border][Img][side][color]
*/
.borderImgLeftWhite,
.borderImgRightWhite {background-image:url("/banking/03images/base/grids/whiteBorderVertical.png"); background-repeat:repeat-y;}

.borderImgLeftWhite	{background-position:top left;}
.borderImgRightWhite{background-position:top right;}

/*
BORDERS ANOMALIES:
	Add anomalies that don't fit the convention here
*/

/* ----- END Border Classes ----- */

/* ----- BULLET LISTS ----- */
/*
	UL > LI
	OL > LI
	related base tags:listGroup,listItem
*/
ol.bulletedList		{list-style:decimal;
font-size: 1.4em;
padding: 0 0 0 20px;}
ol.bulletedList>li	{list-style:decimal; margin-bottom:0.6em;}

ol.bulletedList>li ol.bulletedList>li{list-style:lower-alpha; margin-left:1em;}

.listNone>li{margin-bottom:0.6em;}

.listDisc>li,
.listCircle>li,
.listSquare>li,
.listDecimal>li,
.listLowerAlpha>li,
.listUpperAlpha>li {margin-bottom:0.6em;margin-left:1em;}

.listNone,.listNone>li				{list-style:none;}
.listDisc,.listDisc>li				{list-style:disc;}
.listCircle,.listCircle>li			{list-style:circle;}
.listSquare,.listSquare>li			{list-style:square;}
.listDecimal,.listDecimal>li		{list-style:decimal;}
.listLowerAlpha,.listLowerAlpha>li	{list-style:lower-alpha;}
.listUpperAlpha,.listUpperAlpha>li	{list-style:upper-alpha;}

.bulletedList .bulletedList{margin-top:0.6em;}
/* ----- END Bullet Lists ----- */

/*FORMS*/
/*****Inputs******/
/*Pretty Date Label*/
.prettyDateLabel {
	float: left;
	width: 40%;
	padding-left:15px;padding-top:5px;
	font-size: 1.4em;
}
/*Pretty Date Label End*/
.searchOrText {
	text-align: center;
	font-size:1.4em;
	width:5%;
	padding-top:7px;
	padding-left:10px;
}
#branchSearchButton,#phoneBookSearchButton,#publicRecipientSearchButton {
	background-color:#73C7C7;
	color:#FFF;
	height:30px;
	line-height:30px;
	text-align:center;
	display: block;
	font-size:1.4em;
}
#formElement_publicRecipientSearchButton{padding:0 10px 0 0;}
#phoneBookSearchContainerText{padding-right:0;}
#phoneBookSearchButton{margin-right:7%;}

.formElementLabel {padding:5px 10px 0px 15px; font-size:1.6em;}
.formElementLabel.labelMultiline {padding-top:8px;}
.formElementWrapper {padding-bottom:7px;padding-top:7px;float:left;width:100%;}
.formElementContainer {padding-right:10px;padding-left:15px;}
.dropdownElementWrapper{padding-right:10px;padding-left:15px;}
.mobiDropdownInnerLabelWrapper{display:none;}

.input-input {
	float: left;
	background-color: #FFF;
	padding: 5px 10px 5px 10px;
	width: 100%;
	line-height: 21px;
	border: 2px solid #ADDBDB;
	height:30px;
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size: 1.4em;
}

.inputNote {
	margin-top: 5px;
	float:left;
	position:relative;
	width:100%;
}
.inputNoteInner{padding: 20px;font-size:1.4em;}

.inputNoteArrow {
	background-image: url("/banking/03images/base/input/inputNoteArrow.png");
	background-repeat: no-repeat;
	background-position: top left;
	width:12px;
	height:13px;
	position:absolute;
	top:-13px;
	left:10px;
}
.input-focus {
	border: 2px solid #FF9900!important;
}
/*****Inputs END******/
/***** Buttons STart******/
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
	background-color: #73C7C7;
	color: #FFF;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: block;
	font-size: 1.4em;
	border: none;
	cursor:pointer;
	width: 100%;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
/*****Buttons END******/
/*****Check Boxes******/
.checkbox-wrapper {
	margin: 5px 0;
	font-size: 1.4em;
	line-height: 0.3;
}

.checkboxGroup {
	position: relative;
}

.checkboxGroup.positionAbsolute{position:absolute;}

.checkboxGroup .hidden {
	display: none;
}

.checkboxValue {
	display: none;
}

.checkboxGraphic {
	background-color: #FFFFFF;
	border: 2px solid #ADDBDB;
	cursor: pointer;
	padding: 11px;
	text-align: center;
	width: 10px;
	height: 10px;
}

.checkbox-label {
	padding: 10px 0 0 10px;
	/* removed by Vaughan width:90%; */
}

.checkboxGraphic.selected {
	background: url("../../03images/base/checkbox/tick.png") no-repeat
		center center #fff;
	border: 2px solid #009999;
}

.checkboxGraphic.disabled {
	border: 2px solid #eee;
}

.checkboxGraphic.disabled.selected {
	background: url("../../03images/base/checkbox/tick-disabled.png")
		no-repeat center center #f6f6f6;
}
/*****End Check Boxes******/

.note,.hint,.tc {
	padding: 10px 15px 10px 15px;
	margin: 20px 0;
	background-repeat: no-repeat;
	background-position: 20px center;
	float:left;
	font-size:1.6em;
	width:100%;
}

.note a,.hint a,.tc a {
	text-decoration: underline;
	color: #000;
	font-size:1em;
}

.note.largeNoteAdjust, .tc.largeNoteAdjust,fin .hint.largeNoteAdjust {padding-top:10px;background-position: 20px 20px;margin-top:0px;}

.note p,.hint p,.tc p {
	font-size:1em;
	margin-bottom:0px;
	padding-left:0x;
}

.note.noteTop{margin: 0px;border-top:1px solid white;padding-left:15px;font-size:1.6em;background-image:none;}

.confirmPage .note h1, .confirmPage .note h2, .confirmPage .note h3{padding-left:0px;}

/********Dropdown**********/

.dropdown-keyboard-tab{width:1px;height:1px;border:none;position:absolute;background:none;}

.formFooterButtons .dropdown-wrapper { /*background: #FFF;*/
	padding-top: 0;
}

.dropdown-wrapper .grid100 {
	width: 100%;
}

.dropdown-label-inner {
	padding-right: 10px;
}

.dropdown-single-wrapper .dropdown-label-inner {
	padding: 17px 0 0 20px;
}

.dropdown-two-wrapper .dropdown-label-inner {
	padding-top: 23px;
}

.dropdown-three-wrapper .dropdown-label-inner {
	padding: 17px 0 0 20px;
}

.dropdown-label-inner,.dropdown-wrapper.gridElementSpacing .dropdown-label-inner
	{
	padding-left: 20px;
}

.dropdown-initiator {
	cursor:pointer;
	position:relative;
	padding-left:15px;
}

.dropdown-trigger {
	background: url("../../03images/base/dropdown/right-arrow.png")	no-repeat center center #FF9900;
	width: 24px;
	height: 24px;
	left: 0px;
	top:5px;
	position: absolute;
	cursor: pointer;
}

.dropdown-trigger-selected {
	background: url("../../03images/base/dropdown/down-arrow.png") no-repeat
		center center #F90;
}

.dropup-trigger-selected {
	background: url("../../03images/base/dropdown/up-arrow.png") no-repeat
		center center #F90;
}
.dropdown-single-wrapper .dropdown-trigger {
	margin: 5px;
}

.dropdown-two-wrapper .dropdown-trigger {
	margin-top: 5px;
}

.dropdown-three-wrapper .dropdown-trigger {
	margin-top: 5px;
}

.dropdown-single-wrapper .dropdown-selection,.dropdown-two-wrapper .dropdown-selection,.dropdown-three-wrapper .dropdown-selection
	{
	background: #73C7C7;
	margin: 0 10px 0 0;
	color: #000;
	height: auto;
	padding: 11px 0px 10px 20px;
}

.dropdown-selection-white {
	color: #000;
	height: auto;
	padding: 6px 0px 6px 20px;
	border: 2px solid #ADDBDB;
	background-color: #FFF;
	overflow: hidden;
	
}

.dropdown-wrapper-expanded .dropdown-selection-white {
	color: #000;
	height: auto;
}

.dropdown-three-wrapper .dropdown-selection-white {
	min-height: 56px;
	padding: 5px 0px 5px 20px;
}

.dropdown-content-wrapper {
	position: absolute;
	padding: 4px;
	border: 2px solid #d7efef;
	background-color: #FFF;
	display: none;
	z-index: 147;
	margin:  0px 0px 0px 15px;
}

.dropdown-content-footer-wrapper {
	bottom: 55px;
}

.dropdown-content {
	list-style: none;
	z-index: 50;
	overflow-x: hidden;
	overflow-y: auto;
}

.dropdown-content-top {
	background: #c8eceb;
	width: 100%;
	*width: 99%;
	margin: 0 0 4px 0;
}

.dropdown-content-top-indicator {
	height: 10px
}

.dropdown-content-top-indicator-inner {
	background: #73C7C7;
	height: 12px;
	margin: -5px 10px 0 15px;
	*display: none;
}

.dropdown-item,.dropdown-item-first {
	background: url("../../03images/base/dropdown/drop-circle-small.png")
		no-repeat 5px center #c8eceb;
	color: #000;
	*width: 98%;
	height: auto;
	padding: 5px 0 5px 5px;
	cursor: pointer;
	margin: 0 0 1px 0;
	min-height: 30px;
	list-style: none;
}

.dropdown-three-wrapper .dropdown-content .dropdown-item {
	margin: 0 0 5px 0;
}

.dropdown-item.selected-item {
	background: url("../../03images/base/dropdown/drop-circle-small.png")
		no-repeat 5px center #d7efef;
}

.dropdown-item:hover {
	background: url("../../03images/base/dropdown/drop-circle-small.png")
		no-repeat 5px center #d7efef;
}

.dropdown-item-row {
	width: 100%;
	*width: 60%;
}

.dropdown-single-wrapper .dropdown-content .dropdown-item-row {
	line-height: 14px;
	margin: 8px 0 8px 0;
}

.dropdown-item-cell-left,.dropdown-item-cell-right {
	float: left;
	width: 30%;
	*width: 50%;
	line-height: 14px;
}

.dropdown-selection .dropdown-item-cell-right,.dropdown-selection .dropdown-item-cell-left
	{
	float: left;
	width: 50%;
	*width: 49%;
	line-height: 16px;
}

.dropdown-single-wrapper .dropdown-item-icon {
	height: 29px;
	width: 30px;
	float: left;
}

.dropdown-two-wrapper .dropdown-item-icon {
	background: url("../../03images/base/dropdown/drop-circle-small.png")
		no-repeat 90% center;
	height: 29px;
	width: 30px;
	float: left;
}

.dropdown-three-wrapper .dropdown-item-icon {
	background: url("../../03images/base/dropdown/drop-circle-large.png")
		no-repeat 90% center;
	height: 62px;
	float: left;
}

.dropdown-selection .dropdown-item-icon,.dropdown-selection-white .dropdown-item-icon
	{
	width: 0;
	height: 0;
	float: left;
}

.dropdown-content-wrapper .dropdown-h4 {
	line-height: 14px;
	margin: 8px 0 8px 0;
}

.dropdown-three-wrapper .dropdown-content .dropdown-item-row {
	line-height: 14px;
	margin: 8px 0 8px 0;
}

.dropdown-h1 {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 14px;
}

.dropdown-h2 {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 14px;
}

.dropdown-h3 {
	font-size: 11px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

.dropdown-h4,.dropdown-h5 {
	font-size: 14px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

.dropdown-item-icon-wrapper {
	
}

.dropdown-item-row-wrapper {
	margin: 0 0 0 40px;
}

.dropdown-selection-white .dropdown-item-row-wrapper {
	margin: 0;
}

.dropdown-selection-white .dropdown-item-row-h1 {
	margin: 0;
}

.dropdown-selection-white .dropdown-item-row-h2 {
	margin: 0;
}

.dropdown-item-row-h1 {
	margin: 0 0 0 40px;
}

.dropdown-item-row-h2 {
	margin: 0 0 0 40px;
}

.ammountsHolder .dropdown-item-row {
	width: 50%;
	float: left;
}

.ammountsHolder .dropdown-h3 {
	width: 100%;
}

.ammountsHolder .dropdown-h4 {
	width: 100%;
}

.dropdown-wrapper.disabled .dropdown-selection-white {
	background: #f6f6f6;
	border-color: #eee;
}

.dropdown-wrapper.disabled .dropdown-trigger {
	background: #ddd;
}

.dropdown-wrapper.disabled .dropdown-h4 {
	color: #999;
}

.dropdown-focus {
	border: 2px solid #FF9900;
}
.singleTier-trigger{
	top: 3px;
}
/********Dropdown End**********/
/********Dropdown Input**********/
.dropdown-input-wrapper {
	position: relative;
}

.dropdown-content-top .marginLeft10 {
	margin-left: 10%;
}

.dropdown-content-top .marginLeft20 {
	margin-left: 20%;
}

.dropdown-content-top .marginLeft30 {
	margin-left: 30%;
}

.dropdown-content-top .marginLeft40 {
	margin-left: 40%;
}

.dropdown-content-top .marginLeft50 {
	margin-left: 50%;
}

.dropdown-content-top .marginLeft60 {
	margin-left: 60%;
}

.dropdown-content-top .marginLeft70 {
	margin-left: 70%;
}

.dropdown-content-top .marginLeft80 {
	margin-left: 80%;
}

.dropdown-content-top .marginLeft90 {
	margin-left: 90%;
}

.dropdown-input-container {
	padding: 2px 2px 2px 2px;
}

.dropdown-input {
	background-color: #FFF;
	border: 0 none;
	height: 34px;
	width: 100%;
	text-indent: 10px;
	line-height: 34px;
	padding: 0;
}

.dropdown-input-icon-search {
	background: url("../../03images/base/dropdown/search-icon.png")
		no-repeat scroll 0 0;
	width: 34px;
	height: 34px;
	position: absolute;
	right: 2px;
	top: 2px;
}

.dropdown-scroller {
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-static {
	position: static;
	width: 100%;
}
/********Dropdown Input End**********/

/********Dropdown Footer Input Start**********/

/********Dropdown Footer Input End**********/
#formFooterButtons /********Dropdown Disabled Start**********/ 
.dropdown-disabled .dropdown-selection,.dropdown-disabled .dropdown-selection-white
	{
	background-color: #C7C7C7;
	border-color: #C7C7C7;
}

.dropdown-disabled .dropdown-trigger {
	background-color: #888;
}

.dropdown-disabled .dropdown-trigger,.dropdown-disabled .dropdown-initiator
	{
	cursor: default;
}
/********Dropdown Disabled End**********/

/********Radio Buttons**********/

.switcherAdjust{border-top:6px solid white;border-right:6px solid white;}
.switcherAdjust .radioButton{padding: 5px 12px;}
.switcherAdjust .formElementLabel{color:#333;padding-top:13px}
.switcherAdjust.formElementWrapper{padding-bottom:0px;padding-top:0px;}

.switcherAdjust.formElementWrapper.searchField{border:none;}

.td .switcherAdjust{border-left:6px solid white;}
.td .switcherAdjust .grid10 {width:20%}
.td .switcherAdjust .grid90 {width:80%}
.td	.switcherAdjust .radioButton{padding: 5px 12px;}





.formTable .radioButtonContainer .radioButton{padding: 0px 12px;}
.radio-focus {
	background: #FFF!important;;
}
.radioGroupValue{width:1px;height:1px;border:none;position:absolute;background: none;}
.radioButtonContainer{float:left;}
.radioButtonsGroup {
	background: #73C7C7;
	position: relative;
	float: left;
	padding: 4px;

}

.radioExtraWideFix .left{padding-left:20px;padding-top:10px;}
.radioExtraWideFix .padLeft10Fix{padding-left:10px};

.tableCell .radioButtonsGroup {
	margin-left: 4px;
}

.radioButton {
	cursor: pointer;
	float: left;
	padding: 0 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:1.4em;
	line-height:1.45em
}

.switcherWrapper {
	background: #8dcdcd;
	float: left;
	margin: 1px;
}

.switcherWrapperSelected {
	background: #ADDBDB;
	float: left;
}
/********Radio Buttons End**********/

/*BUTTONS*/
/*You can add css if you need a different icon for your button. Keep to the naming convention*/
.button {
	cursor: pointer;
}

.button .bigCircLeft,.button .bigPlusLeft,.button .bigMinusLeft,.button .smallMinusRight
	{
	background-repeat: no-repeat;
}

.button .bigCircLeft,.button .bigPlusLeft,.button .bigMinusLeft {
	height: 33px;
	padding: 14px 0 0 57px;
}

.button .bigCircLeft {
	background-image: url("../../03images/base/buttons/icon-circ.png");
}

.button .bigPlusLeft {
	background-image: url("../../03images/base/buttons/icon-circ-plus.png");
}

.button .bigMinusLeft {
	background-image: url("../../03images/base/buttons/icon-circ-minus.png");
}

.button .smallMinusRight {
	background: url("../../03images/base/buttons/icon-circ-small-minus.png")
		right;
	height: 21px;
	padding: 0 31px 0 0;
}

.button .smallTurqPlus {
	background: url("../../03images/base/icons/doSomethingPlus.png")
		transparent no-repeat;
	height: 28px;
	padding: 5px 0 0 35px;
	color: #009999;
	font-size:1.6em;
}

.button .bigPlusLeft {
	
}

.button .bigCircLeft:hover {
	background-image: url("../../03images/base/buttons/icon-circ-hover.png");
}

.button .bigPlusLeft:hover {
	background-image:
		url("../../03images/base/buttons/icon-circ-plus-hover.png");
}

.button .bigMinusLeft:hover {
	background-image:
		url("../../03images/base/buttons/icon-circ-minus-hover.png");
}

.button .smallMinusRight:hover {
	background-image:
		url("../../03images/base/buttons/icon-circ-small-minus-hover.png");
}

.button.blueButton {
	background: none repeat scroll 0 0 #70d4d4;
	color: white;
	cursor: pointer;
	height: 37px;
	margin: 2px 2px 0 0;
	top: -39px;
	white-space: nowrap;
	width: 20%;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
}

.button.blueButton p {
	
}

.button.blueButton:hover {
	background: none repeat scroll 0 0 #099;
}

.orangeArrowBlock {
	background: url("../../03images/fnb/icons/inputIconOrange.png")
		no-repeat scroll 0 0 transparent;
	height: 24px;
	left: -15px;
	position: absolute;
	top: 4px;
	width: 22px;
}

.tableAddButton {
	background: #fff;
	padding: 10px 15px;
	float:left;
	width:100%;
}

/*END BUTTONS*/
/* TABLES START*/
.pagingWrapper .td {
	vertical-align: middle;
}
.pagingWrapper .formTable {
	clear:none;
}
.pagination2{
	font-size: 1.4em;
}
.formTable {
	display: table;
	clear:both;
}
h2+.formTable.grid100{clear:both;}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	vertical-align: top;
}

.td.grid50 {
	width: 50%;
	
}

.td.grid100 {
	width: 100%;
	
}

.ghostBlock {
	width: 33.33%;
	display: table-cell;
	background-color: #fff;
	border-left: 1px solid #E7E7E7;
	-webkit-box-sizing: border-box; /* Safari 3 to 5 */
	-moz-box-sizing: border-box; /* all Firefox */
	box-sizing: border-box;
}


/* TABLES END*/

/* generic table settings */
.col1,
.col2,
.col3,
.col4,
.col5 {width:20%;}
.groupedCol1 {width:100%;}

.confirmPage.singlePayment .col1,
.confirmPage.singlePayment .col2,
.confirmPage.singlePayment .col3,
.confirmPage.singlePayment .col4{width:25%; text-align:left;}
/* generic table settings */

.tableNoDataText{padding-top:60px;font-size:2em;text-align:center;clear:both;}

.tableRow {
	display: block;
	width: 100%;
	clear: both;
	float: left;
	position: relative;
	background: #fff;
	border-bottom: 1px solid #009999;
	min-height: 42px;
	padding:2px 10px;
}

.tableCell{padding:0px 5px;}

.tableRowInner {
	line-height: 41px;
}

.groupedHeaderInner.borderLeft {
	border-left: 1px solid white;
}

.groupedHeaderInner.borderRight {
	border-right: 1px solid white;
}

.groupedHeaderInner .headingGroupInner {
	padding-left: 4px;
	padding-right: 4px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
}

.tableHeaderRow {
	display: block;
	width: 100%;
	clear: both;
	float: left;
	background: none repeat scroll 0 0 #009999;
	color: white;
	line-height: 23px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	padding:0px 10px;
}

.tableGroupHeader {
	height: 50px;
	line-height: 50px;
	position: relative;
	background: #f6f6f6;
}

.tableGroupHeader img {
	position: absolute;
	bottom: -7px;
	left: 5px;
	z-index: 1;
}

.tableGroupHeader img.folderImg {
	position: relative;
	margin-right: 10px;
	position: relative;
	top: 10px;
}

.tableHinnerImage {
	position: absolute;
	bottom: -5px;
	left: 1px;
	z-index: 1;
	width: 13px;
	height: 7px;
	background: url(/banking/03images/base/tables/arrowDown.png);
}


.tableHeaderRow.tableGroupHeader div {
	color: #000;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 1.8em;
}

#eziWrapper .tableHeaderRow.tableGroupHeader span {
	color: #000000;
}

.tableHeaderRow a {
	color: white;
	cursor: pointer;
	font-size:1.4em;
}

.tableCell.selectAllActive .tableHeaderCellItem {
    background-color: #009999;
    text-align: center;
}

.tableHeaderRow a.selectAllLink {
	display: block;
	position: absolute;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	width: 100%;
	background-color: #e3e5e4;
	text-align: center;
	padding-bottom: 8px;
	padding-top: 8px;
	top: -38px;
	color: #000;
	text-decoration: underline;
	left:-2px;
}

.tableHeaderRow a.copyRows {
	display: block;
	position: absolute;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	width: 100%;
	background-color: #e3e5e4;
	text-align: center;
	padding-bottom: 8px;
	padding-top: 8px;
	top: -38px;
	color: #000;
	text-decoration: underline;
	left: 0px;
}

.tableHeaderRow div {
	color: white;
	font-family: Helvetica,FoundationRoman,Sans-serif, Arial;
}

.tableCell,.groupColCell {
	display: block;
	float: left;
}


.tableCellItem.warning1{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning2{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning3{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning4{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning5{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning7{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning8{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}0
.tableCellItem.warning9{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}
.tableCellItem.warning10{color:#ff9900;font-family:Helvetica,FoundationRoman,Sans-serif}


.tableCellItem {
	display: block;
	float: none;
	white-space: wrap;
	font-size:1.4em;
}

.right .tableCellItem {
	text-align: right
}

.tableCellItem.doubleItemTop {
	padding-bottom: 0px;
	padding-top: 0px;
}

.tableCellItem.doubleItemBottom {
	padding-top: 0px;
	padding-bottom: 0px;
}

.tableCellItem.tableRadioButtonCell {
	padding-top:5px;
	line-height:1.45em;
}

.tableCellItem.tableRadioButtonCell .radioButton{font-size:1em;}

.tableCellItem .input-container {
	float: left;
	position: relative;
	width: 100%;
}

.tableCellItem .input-input {font-size:1em;}

.tableCellItem.right {
	text-align: right
}

.tableCellItem.tooltipPad{position:relative;padding-right:38px}
.tableCellItem.tooltipPad .tooltipParent{position:absolute;top:5px;right:0px;color:#000}

.tableCell.selectAllActive {
	background-color: #e3e5e4;
	text-align: center;
}

.tableCell.selectAllActive .checkbox-wrapper {
    margin: 5px 0;
    text-align: center;
}

.tableCell .input-wrapper{margin-top:5px;}

.tableCell.selectAllActive .checkboxGraphic {
    background-color: #FFFFFF;
    border: 2px solid #D7EFEF;
    cursor: pointer;
    height: 10px;
    margin: 0 auto;
    padding: 11px;
    text-align: center;
    width: 10px;
    float:none;
}

.tableCell.selectAllActive .checkbox-wrapper.floatLeft{
    float: none;
}

.tableCell.selectAllActive .checkbox-label {
    padding: 0px;
    float:none;
}


.tableHeaderCellItem {
	display: block;
	float: none;
	position: relative;
}

.tableHeaderCellItem .selectAllActive {
	text-align: center;
}

.tableCellItem img {
	float: left;
}

.tableCell .rowMoreButton {
	width: 47px;
	height: 42px;
	position: absolute;
	right: 0;
	cursor: pointer;
	top: 2px;
}

.tableCell .rowMoreButton .phoneRowMoreButton {
	height: 34px;
	background: url(/banking/03images/fnb/arrows/tableRightWhite.png) right
		center no-repeat #ace2e2;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
}

.tableCell .rowMoreButton .phoneRowMoreButtonWrapper {
	margin-bottom: 8px;
	background: #76c4c4;
	padding: 4px;
	display: none;
}

.tableCell .rowMoreButton .arrow {
	height: 100%;
	background: url(/banking/03images/fnb/arrows/tableRightOrange.png) left
		center no-repeat;
}

.hiddenLabel {
	display: none;
	width: 47px;
	text-align: left
}

.stack {
	float: none;
	line-height: 21px;
}
.hideCol {
	display: none;
}

.large {
	font-size: 18px;
}

.large a {
	font-size: 18px;
}

.turq .tableList {
	background: #009999
}

.turq .tableControls {
	background: #009999
}

.turq .tableRow {
	background: #27a3a3;
	border-bottom: 5px solid #009999
}

.turq p {
	color: white
}

.turq p.mediumText {
	color: white;
	font-size: 20px;
}

.turq a {
	color: white
}

.turq .tableHeaderRow {
	display: none;
}

.turq .badStatus {
	width: 100%;
	text-align: left;
	background: url("/banking/03images/fnb/ui/no.png") no-repeat 95% 2px
}

.turq .goodStatus {
	width: 100%;
	text-align: left;
	background: url("/banking/03images/fnb/ui/yes.png") no-repeat 95% 2px
}

.confirmNotifications .tableHeaderRow {
	height: 20px;
	line-height: 20px;
}

.tableCellItem.goodStatus {
	background: url(/banking/03images/fnb/finish/tickColorIcon.png)
		no-repeat 5px 5px;
	padding-left: 40px;
}
.tableCellItem.badStatus {
	background: url(/banking/03images/fnb/finish/crossColorIcon.png)
		no-repeat 5px 2px;
	padding-left: 40px;
}

.tableCellItem.pendingStatus {
	background: url(/banking/03images/fnb/finish/pendingColorIcon.png)
		no-repeat 5px 5px;
	padding-left: 40px;
}

.tableCellItem.print {
	background: url("/banking/03images/fnb/finish/icon_print.png") no-repeat
		scroll center 2px transparent;
	color: transparent;
	cursor: pointer;
	padding-bottom: 11px;
	text-indent: -10000px;
}
.tableCellItem.print a.formButton{color: transparent;text-indent: -10000px;}

.tableCellItem.download {
	background: url("/banking/03images/fnb/finish/icon_download.png")
		no-repeat scroll center 2px transparent;
	
	cursor: pointer;
	padding-bottom: 12px;
	
}

.tableCellItem.download a.formButton{color: transparent;text-indent: -10000px;}



.tableContainer .eziLinks {
	overflow: hidden;
	display: block;
}

.tableContainer .eziLinks .eziLink {
	float: left;
	width:90px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	margin-left: 0px;
	border-right: 1px solid #fff;
	background: #d2e5e4;
	text-align: center;
	font-size:1.4em;
}

.tableContainer .eziLinks .eziLink.first {
	border-left: 1px solid #ccc
}


.tableContainer .eziLinks .eziLink:hover {
	background: #b7dbd9;
}

.tableContainer .eziLinks .eziLink.disabled {
	background-color: #CCC;
	color: #555555;
}

.turq .tableContainer .eziLinks .eziLink {
	border: 1px solid #fff;
}

.totalCellInner {
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	text-align: right;
}

.totalRow {
	background: #e7e7e7
}

.tablePhoneButtonSet {
	display: none;
	float: left;
	width: 100%;
}

.tablePhoneButtonSet .buttonSetInner {
	background: #76c4c4;
	padding: 4px;
	margin-bottom: 8px;
	display: none;
	overflow: hidden;
	height: 0;
}

.tablePhoneButtonSet .colLeft {
	width: 50%;
	float: left;
}

.tablePhoneButtonSet .colRight {
	width: 49%;
	margin-left: 1%;
	float: left;
}

.tablePhoneButtonSet .phoneTableBtt {
	width: 100%;
	height: 41px;
	background: #ace2e2;
	float: left;
	line-height: 41px;
	text-align: center;
	cursor: pointer
}



/* MOBI TABLES
DEVELOPER: DONOVAN */
.phoneContentButton {
	background: url("/banking/03images/base/tables/payExpandIcon.jpg")
		no-repeat 80% 100%;
	width: 100%;
	position: absolute;
	cursor: pointer;
	display: none;
}

.mobiBtt {
	display: none;
	background: url(/banking/03images/fnb/ui/mobiMoreBtt.png) left top
		no-repeat;
	width: 48px;
	height: 42px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	z-index: 10
}

.mobiPopupWrapper {
	position: absolute;
	background: #d7efef;
	position: top;
	top: 135px;
	z-index: 149;
	left: 40px;
	right: 0;
	bottom: 72px;
}

.mobiPopupInnerWrapper {
	height: 100%;
	overflow-y: scroll;
}

.moreOptionsBtt {
	display: none;
	width: 50%;
	height: 42px;
	position: absolute;
	top: 41px;
	right: 0px;
	cursor: pointer;
	border-top: 1px solid #ccc;
	line-height: 41px;
	text-align: left;
	color: #009999;
	font-size: 16px;
	text-indent: 3%;
	background: url("/banking/03images/fnb/ui/eziGradient.gif") repeat-x
		scroll 1px top transparent;
	border-left: 1px solid #ccc;
	z-index: 10
}

.payBtt {
	display: none;
	width: 50%;
	height: 42px;
	position: absolute;
	top: 41px;
	left: 0px;
	cursor: pointer;
	border-top: 1px solid #ccc;
	line-height: 41px;
	text-align: left;
	color: #009999;
	font-size: 16px;;
	text-indent: 50px;
	background: url("/banking/03images/fnb/ui/eziGradient.gif") repeat-x
		scroll left top transparent;
	z-index: 10
}

.tableRow .large a {
	white-space: wrap;
	color: #000;
	text-decoration: underline;
}

.tableRow a {
	white-space: wrap;
	color: #000;
	cursor: pointer;
	text-decoration: underline;
	font-size:1em;
}

.tableRow a.formButton {text-decoration:none;}

/* =================*/
/* Developer: Donovan
/* POPUP
/* ================ */
#popupWrapper {
	background-color: #009999;
	color: #FFF;
	padding: 20px 5px 20px 10%;
	overflow: hidden;
	position: absolute;
	left: 40px;
	top: 40%;
	right: 0;
	z-index: 148;
}

#popupWrapper #extendedPageHeader h1 {
	padding: 0 0 10px 0;
	background: none;
}

#popupWrapper #extendedPageHeader{
	padding: 0 0 10px 0;
}

#popupWrapper #eziPannelButtonsWrapper {
	bottom: 10px;
	position: relative;
	width: auto;
}

#popupWrapper #eziPannelButtons {
	background: none transparent;
	border: 0 none;
	top: 20px;
}
/* =================*/
/* Developer: Donovan
/* Download Button
/* ================ */
.download a.formButton,.print a.formButton {
	background: none;
	color: transparent;
	padding: 10px 0 0;
}
.download-w {
	background: url("/banking/03images/fnb/finish/icon_download.png") no-repeat scroll left center transparent;
	color: transparent;
	cursor: pointer;
	width: 100px;
	height: auto;
	right: 50px;
	top: 10px;
	position: absolute;
	font-size: 16px;
	width:auto;
}
.download-w .formButton{
	background: none;
	padding:0;
	position: relative;
	left: 35px;
	color:#000;
}

/* DONOVAN Finish Page buttons*/

.confirmFinishHeaderButtonContainer{
	position: absolute;
	right: 0;
	top: 0;
}
.confirmFinishHeaderButtonContainer .print .formButton{
	font-size: 14px;
	background: none;
	padding:0;
	color: #000;
	text-decoration:none;
	position: absolute;
}
.confirmFinishHeaderButtonContainer .download .formButton{
	font-size: 14px;
	background: none;
	padding:0;
	color: #000;
	text-decoration:none;
	position: absolute;
}
.confirmFinishHeaderButtonContainer .print {
	background: url("/banking/03images/fnb/finish/icon_print.png") no-repeat scroll 90% 10px transparent;
	color: transparent;
	cursor: pointer;
	padding-bottom: 10px;
	float: left;
	width: 70px;
	height: 50px;
}
.confirmFinishHeaderButtonContainer .download {
	background: url("/banking/03images/fnb/finish/icon_download.png") no-repeat scroll 90% 10px transparent;
	color: transparent;
	cursor: pointer;
	padding-bottom: 10px;
	float: left;
	width: 100px;
	height: 50px;
}

/* 
DONOVAN CONFIRM FINISH TABLE BUTTONS GROUP */
.orrangeBgArrowLeft {
	background: url("../../03images/testing/orrangeBgArrowLeft.png")
		no-repeat;
	min-height: 34px;
	padding: 0 0 0 48px;
	margin: 0 10px 30px 0;
}
/* DATE PICKER */
.datePicker {float:left;}
.calendarLabel {
	float: none;
}

.calendarLabel .calendarLabelText {
	margin: 0;
	text-align: left;
	padding: 10px 0 0px 0;
}


.datePickerDate.marginNoLabel {
	margin: 10px 0 0 0;
}

.dropArrow {
	background: url("../../03images/base/dropdown/right-arrow.png")
		no-repeat center center #F90;
	width: 20px;
	height: 25px;
	cursor: pointer;
	margin-left: -13px;
	margin-top: 6px;
	float: left;
}

.datePickerDate {
	color: #000;
	float: left;
	padding: 0 0 10px 0;
	margin: 10px 10px 10px 10px;
	width: 100%;
}

.datepickerWrapper {
	padding: 0 1px 0 0;
	height: 65px;
	cursor: pointer;
	min-width: 90px;
	border: 2px solid #ADDBDB;
	background: #FFF;
}

.datePickerWeekday {
	float: left;
	padding: 15px 0 0 15px;
}

.monthName {
	color: #000000 !important;
	font-size: 20px;
	text-align: left;
	padding: 14px 10px 0;
}

.datePickerDayYear {
	
}
/* ADD NOTIFICATIONS END*/

.datePickerDay {
	color: #000000 !important;
	float: left;
	font-size: 48px;
	padding: 10px 5px 0;
	wwidth: auto;
}

.datePickerYear {
	color: #000000 !important;
	float: left;
	font-size: 18px;
	width: auto;
	padding: 3px 0 0 0;
}

/*EzI DATEPICKER*/
#eziWrapper .datepickerWrapper {margin:0 12px 0 0;}
#eziWrapper #eziHeader_pageType {margin:10px 0 10px 20px;}
#eziWrapper #eziHeader_accName {font-size:24px; margin: 10px 0 0 18px;}
#eziWrapper #eziHeader_accNumber {margin:0 0 10px 20px;}
.eziSpacer{height:70px;}

/* DATE PICKER END*/
/* ADD NOTIFICATIONS - Donovan*/
.addRecipientsAddButtonWrapper {
	border: 2px dashed white;
	background: url('../../03images/base/addnotifications/addIconLarge.png')
		no-repeat center center;
	cursor: pointer;
	margin: 0 0 0 6px;
}

.addRecipientsAddButton {
	background: url('../../03images/base/icons/addIcon.png') no-repeat right
		center;
	height: 23px;
	margin-right: 6px;
	margin-top: 6px;
}

.addRecipientsRemoveButton {
	background: url('../../03images/base/icons/removeIcon.png') no-repeat
		right center;
	height: 23px;
	cursor: pointer;
	margin: 0px 10px 5px 5px;
}

.addRecipientsAddButtonLink {
	position: relative;
	top: 4px;
	float: right;
	margin-right: 30px;
}

.addRecipientsRemoveButtonLink {
	position: relative;
	top: 4px;
	float: right;
	margin-right: 30px;
}

.addRecipientRow {
	background: white;
}

.recipientsFormTable tr {
	border-top: 5px solid #E7E7E7;
}

.addRecipientExtender .formTable {
	margin: 5px 0 0 0;
}
/* ADD NOTIFICATIONS END*/

/* ----- DUPLICATION WIDGET ----- */
.dwRemoveButton {
	background: url("../../03images/base/icons/removeIcon.png") no-repeat
		right center transparent;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: right;
	padding-right: 30px;
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
}

#dwAddButton {
	background: url("../../03images/base/addnotifications/addIconLarge.png")
		no-repeat center center transparent;
	border: 2px dashed #FFF;
	margin: 6px 0 6px 6px;
	height: 100px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

#dwAddButtonLabel {
	display: block;
	background: url("../../03images/base/icons/addIcon.png") no-repeat right
		center transparent;
	height: 38px;
	line-height: 38px;
	display: block;
	text-align: right;
	padding-right: 30px;
	margin-right: 8px;
}
/* ----- END Duplication Widget ----- */
/* ----- DUPLICATION WIDGET ----- */
/* ----- MOBILE START----- */
.mobiDropdownInnerLabelWrapper{
	display:none;
}
.mobiFooterButton{
display:none;
}