/* ******************************** large screen */

@media all and (min-width: 1025px) and (max-width: 5000px){

	.td.grid50 {
		width: 33.3333%;
	}
	.td.grid100 {
		width: 66.6666%;
	}
	.td.grid100{
		width: 66.66%;
	}
}

@media all and (min-width: 0px) and (max-width: 1460px){

}
