@charset "utf-8";
/* Smartphones (portrait and landscape) -------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
	.topNav li a {
		font-size: 14px!Important;
		white-space: normal!Important;
	}
}
 
/* Smartphones (portrait) & Old SP (landscape) ------------- */
@media
only screen and (min-width: 320px) and (max-width: 540px) {
	#footerButtonGroup .footerBtn {
		width:20%!Important;
	}

}
 
/* Smartphones & Tablets (portrait) & Tiny Desktops -------- */
@media
only screen and (min-width: 321px) and (max-width: 799px) {
	#footerButtonGroup #fnb-logo{
		background: url("../../03images/base/frame/fnb-logo-only.png") no-repeat left!Important;
	}
}
 
/* Smartphones & Tablets (portrait & landscape) ------------ */
@media
only screen and (min-device-width: 640px) and (max-device-width: 960px) {
   
}
  
@media
only screen and (max-width: 1300px) {
	
	body {

	font-size:58.5%;

	}
	 #footerButtonGroup .datePicker {
	width: 20%;
	padding-top: 0;
	}
	
}  
  
  
/* Global Smartphones & Tablets (portrait) & Tiny Desktops -------- */
@media only screen and (max-width: 799px) {
	
	.datePicker .dropArrow {
		left: -12px;
		top: 1px;
	}

	.datePickerDate {
		padding-left: 10px;
	}

	.overlayContainer, #eziOverlay {
		z-index: 300;
	 	padding-left: 0;
	}

	.bcal-nav-left {
		left: -60px;
	}
	.bcal-nav-right {
		right: -50px;
	}
	
	#pageContentWrapper{
 		display:block;
		height: auto;
	}
	#pageContent{
		display:block;
	}
	
	.footerMessageInner {

padding-left: 25px;
}
	#searchShares .footerMessage {

height: auto;

}
	.headerButton {
width: 35px;
}

	#accountSettingsMaintainNicknameWrapper {
background: #fff;
width: 100%;
border-right: none;
}

#accountSettingsWidgetWrapper {
background: #fff;
width: 100%;
}
	.numberPickerCellText .change:hover{
		text-align:center!Important;
		font-size:18px!Important;
		height:40px!Important;
		color:#099!Important;
		background-color:#FFF!Important;
	}
	#actionMenuTextWrapper {left:-3px}
		
	#newsLanding #switcherWidget {
		height: auto!important;
	}
	#newsLanding #demoVideo {
		height: auto!important;
	}
	
	#footerWrapperNew {
		z-index: 200;
	}
	/****************/
	#newsContainer #leftContent {
		width: 100%!important;
		margin-right: 0!important;
		float: none!important;
		height: auto!important;
	}
	#newsContainer #rightContent {
		width: 100%!important;
		float: none!important;
		height: auto!important;
	}
	#newsLanding #valueAdds,
	#newsLanding #welcomeMessage {padding-bottom:0;}
	#newsLanding #loginStatus {
	    padding: 5px 0 0!important;
	}
	#newsLanding #loginHistory {
	    padding-top: 5px!important;
	    position: relative!important;
	}
	#newsLanding .moreItemButton .arrow {
	    top: 5px!important;
	}
	#valueAdds .moreItemButton {
	    margin: 0 0 10px!important;
	}
	#valueAdds .rewardsDescriptionContainer {
	    padding: 5px 10px!important;
	}
	#valueAdds .rewardsType {
		margin: 0 0 0 0!important;
	}
	/****************/
	
	#newsLanding #newsContainer {margin-top: 00px!important;}
	#newsLanding .linkPadding {padding-bottom:0!important;
	 padding-top:0!important;}

	#newsLanding .prettyDateTime {float:none!important;}
	#rightContent {border-left:none!important;}
	
	#newsLanding .td.grid5 {display:none!important;}
	#welcomeMessage {border-bottom:0 none!important;padding-bottom:0!important;}
	#loginStatus{border-bottom:0 none!important;}
	#leftContent{border-bottom:0 none!important;}
	#newsLogsContainer{padding-left:15px!important;}
	#newsLanding #welcomeBannerText {top: 0px!important;}
	
	#forMore {display:none;}

	.forcedHideInMobile {display:none!important;}
	.showInMobileOnly{display:block!important;}
	
.grid10 {width: 100%;}
.grid16 {width: 100%;}
.grid15 {width: 100%;}
.grid20 {width: 100%;}
.grid25 {width: 100%;}
.grid30 {width: 100%;}
.grid33 {width: 100%;}
.grid40 {width: 100%;}
.grid50 {width: 100%;}
.grid60 {width: 100%;}
.grid65 {width: 100%;}
.grid67 {width: 100%;}
.grid70 {width: 100%;}
.grid75 {width: 100%;}
.grid80 {width: 100%;}
.grid90 {width: 100%;}
.grid100{width:100%;}

	.pagingWrapper .grid30{
		width:33%;
	}
	.mobiPopupWrapper {
	top: 0;
	z-index: 180;
	left: 0;
	right: 0;
	bottom: 0px;
	}
	.pageWrapper {
		/* padding-left: 25px!Important; */
	}
	#popupWrapper {
		top: 99px!Important;
		bottom: 54px!Important;
	}
	#popupWrapper .pageWrapper {
		padding-left: 0!Important;
	}
	#popupWrapper .displayTableCell {
		display:block!Important;
		float: left;
	}
	#mobileDeviceOfferStartFramePointer .grid20 {
		width: 50%;
	}
	#formFooterButtons .footerBtn {
		width:25%!Important;
	}
	.closeButtonWrapper {
		top: 3px;
	}
	
	.topNav li {
		
		white-space: normal!Important;
	}
	.topNav li a{
		font-size: 12px!Important;
		white-space: normal!Important;
	}
	.topNavWrapper a.rightScrollButton {
		/* height: 64px!Important; */
		background: url("../../03images/base/frame/right-scroll-button.png") no-repeat center 32%;
	}
	.topNavWrapper a.leftScrollButton{
		/* height: 64px!Important; */
		background: url("../../03images/base/frame/left-scroll-button.png") no-repeat center 42%;
	}
	#headerButtonsWrapper .headerButton:first-child {
		width: 19%!Important;
	}
	#footerWrapperNew {
		/* height: 60px!Important; */
	}
	#footerWrapperNew #footerContent {
		height: 60px!Important;
	}
	#footerButtonGroup .footerBtn {
		height: 54px!important;
		font-size: 12px!Important;
	}
	#footerButtonGroup .footerBtn a {
		font-size: 12px!Important;
	
	}
	
	#footerButtonGroup .askLater{
		line-height: 13px;
		padding: 12px 0 0 0;
	
	}
	
	#footerButtonGroup .mobiFooterButton a {
		height: 49px!Important;
		font-size: 12px!Important;
	}
	#actionMenuButtonWrapper #actionMenuIcon {
		/* background-size: 100%!Important; */
	}
	#actionMenuButtonWrapper #moreoptionsActionMenuTextSwap {
		background-size: 100% 85%!Important;
		width: auto!Important;
		height: 111px!Important;
		margin: 0px 2px 0px 3px!Important;
	}
	#actionMenuButtonWrapper {
		/* top: 105px!Important; */
	}
	#actionMenuButtonWrapper #actionMenuIcon {
		width: 17px!Important;
		height: 22px!Important;
		margin: 5px 4px 0 4px!Important;
		
		background: url("../../03images/base/actionmenu/action-menu-icon.png") no-repeat -3px;
	}
	.actionMenuHeader.orange {
		line-height: 1;
	}
	#actionMenuOrangeBanner, .moreoptionsBannerOne {
		min-height: 0;
	}
	#headerButtonsWrapper .headerButton:first-child a span {
		font-size: 12px!Important;
	}
	.headerButton a span {
		line-height: 28px!Important;
	
		display: none;
	}
	.headerButton a.logoutBtn span {

		display: block;
	}
	.applyHeaderButton a span {
		line-height: 26px!Important;
	}
	.tableCellItem {
		font-size: 12px!Important;
	}
	
	.headerButton a.settingsBtn {
		background: url("../../03images/base/topbuttonbar/settings.jpg") no-repeat center;
	}
	.headerButton a.inboxBtn {
		background: url("../../03images/base/topbuttonbar/inbox.png") no-repeat center;
	}
	.headerButton a.privateContactBtn {
		background: url("../../03images/base/topbuttonbar/contact.png") no-repeat center;
	}
	.headerButton a.commercialContactBtn, .headerButton a.corporateContactBtn, .headerButton a.foreignContactBtn, .headerButton a.privateContactBtn, .headerButton a.premier1ContactBtn, .headerButton a.premier2ContactBtn, .headerButton a.premier3ContactBtn, .headerButton a.noBankerContactBtn {
		background: url("../../03images/base/topbuttonbar/contact.png") no-repeat center;
	}
	
	.actionMenuCol {
		min-height: 0px;
		height: auto;
		padding-bottom: 0;
	}
	.actionMenuNoOptions {
		margin: 0;
	}

	.actionMenuColUp {
		padding-top: 0;
	}
	
	#krugerTable .eziLinks {
		margin: 0!Important;
	}

	.tableCellItem.warning1.tooltipPad,
	.tableCellItem.warning2.tooltipPad,
	.tableCellItem.warning3.tooltipPad,
	.tableCellItem.warning4.tooltipPad,
	.tableCellItem.warning5.tooltipPad,
	.tableCellItem.warning6.tooltipPad,
	.tableCellItem.warning7.tooltipPad {padding-top:2px;}
	
	.tableCellItem.warning1.tooltipPad .tooltipParent,
	.tableCellItem.warning2.tooltipPad .tooltipParent,
	.tableCellItem.warning3.tooltipPad .tooltipParent,
	.tableCellItem.warning4.tooltipPad .tooltipParent,
	.tableCellItem.warning5.tooltipPad .tooltipParent,
	.tableCellItem.warning6.tooltipPad .tooltipParent,
	.tableCellItem.warning7.tooltipPad .tooltipParent {position:relative;width:100%;}
	
	.tableCellItem.warning1.tooltipPad .tooltipButton,
	.tableCellItem.warning2.tooltipPad .tooltipButton,
	.tableCellItem.warning3.tooltipPad .tooltipButton,
	.tableCellItem.warning4.tooltipPad .tooltipButton,
	.tableCellItem.warning5.tooltipPad .tooltipButton,
	.tableCellItem.warning6.tooltipPad .tooltipButton,
	.tableCellItem.warning7.tooltipPad .tooltipButton {display:none;}
	
	.tableCellItem.warning1.tooltipPad .tooltip,
	.tableCellItem.warning2.tooltipPad .tooltip,
	.tableCellItem.warning3.tooltipPad .tooltip,
	.tableCellItem.warning4.tooltipPad .tooltip,
	.tableCellItem.warning5.tooltipPad .tooltip,
	.tableCellItem.warning6.tooltipPad .tooltip,
	.tableCellItem.warning7.tooltipPad .tooltip {display:block!important;padding:0px;background:none;border:none;width:100%;position:relative;} 
	
	.tableCellItem.warning1.tooltipPad .tooltip-text,
	.tableCellItem.warning2.tooltipPad .tooltip-text,
	.tableCellItem.warning3.tooltipPad .tooltip-text,
	.tableCellItem.warning4.tooltipPad .tooltip-text,
	.tableCellItem.warning5.tooltipPad .tooltip-text,
	.tableCellItem.warning6.tooltipPad .tooltip-text,
	.tableCellItem.warning7.tooltipPad .tooltip-text {float: left;max-width: 100%;padding: 0px 0px 8px 0px;}
	
	.htmlBackGround {
	
	}
	#footerWrapperNew #fnb-logo{
		background: url("../../03images/base/frame/footerLogoMobile.png") no-repeat left!Important;
		/* top:0!Important; */
		/* left: 3px!Important; */
	}
	.footerMessage {
		bottom: 43px;
		left: 25px;
		font-size: 14px;
		height: 40px;
		right: 0;
		width: auto;
		min-width: inherit;
	}
	.footerMessageTotal {
		margin: 0 30px 0 5px;
		font-size: 13px;
	}
	.footerMessageText {
		font-size: 13px;
	}
	.confirmHolidayText {
		font-size: 14px;
	}
	.bcal-popupcontainer {
		top: 10%;
		margin-top: 0;
	}
	
	#StandardProgressWrapper.progressWrapperStandard {
		left: 0px;
	}
	.formElementLabel {
		padding: 5px 10px 5px 10px;
		font-size: 12px;
	}
	.formElementContainer {
		padding-left: 10px;
	}
	.dropdownElementWrapper {
		padding-left: 10px;
	}
	.formElementLabel.grid40{
		width:100%;
	}
	.formElementContainer.grid60{
		width:100%;
	}
	#BranchSearchCode{
		width: 45%;
	}
	.branchcodesearch .grid25{
		width: 45%;
	}
	h1 {
		font-size: 14px!Important;
	}
	h2 {
		font-size: 14px!Important;
	}
	h3 {
		font-size: 14px!Important;
	}
	h4 {
		font-size: 14px!Important;
	}
	h5 {
		font-size: 15px!Important;
	}
	#extendedPageHeader.subTabHeadingFix {
		padding-left: 5px;
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.subTab3 {
		width:30%!Important;
	}
	.subTab4 {
		width:25%!Important;
	}
	.subTab5 {
		width:20%!Important;
	}
	.subTab6 {
		width:16.66%!Important;
	}
	.subTab7 {
		width:14.28%!Important;
	}
	.subTabsMenu{
		/* height: 63px; */}
	.subTabsMenu div.subTab {
		/* font-size: 12px; */
		/* background: #d3edee; */
		/* border-right: 2px solid #f2f2f2; */
		/* height: 42px; */
		/* width: auto; */
	
		height: 42px!important;
}
	.subTabsMenu div.subTab {
	/* top: 0px; */
	}
	.subTabsMenu div.active {
		/* background: #72C6C6; */
		/* color: #FFF; */
	}
	#branchSearchButton, #phoneBookSearchButton, #publicRecipientSearchButton {
		font-size: 12px;
	}
	#branchSearchButton{
		margin-bottom:10px;
	}
	input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
		font-size: 12px;
	}
	input {
		-webkit-border-radius:0; 
		border-radius:0;
		-webkit-appearance: none;
	}
	.inputNoteInner {
		padding: 10px;
		font-size: 12px;
	}
	.branchSearchBank.inputNote .bankNameInput{
		font-size: 12px;
	}
	.dropdown-h4, .dropdown-h5 {
		font-size: 12px;
	}
	.dropdownElementWrapper.grid60 {
	width: 100%;
	}
	.tableGroupHeader img.folderImg {
		width: 25px;
		top: 2px;
		left: 0px;
		margin-right: 0px;
	}
	.tableHeaderRow.tableGroupHeader div {
		/* font-size: 14px; */
		/* height: 30px; */
		/* overflow: hidden; */
		/* padding-left: 5px; */
	}
	.tableRow .large a {
		pointer-events: none;
		text-decoration: none;
	}
	.tableGroupHeader {
		height: 30px;
		line-height: 30px;
	}
	.tableHeaderRow {
		padding: 0;
	}
	.tableGroupHeader.selectAdjust {
		height: 30px;
		overflow: hidden;
		line-height: 26px;
	}
	.radioButton {
		font-size: 12px;
	}
	.mobiHeaderControls{

	}
	
	.tableHeaderControls.mobiHeaderControls .tableActionButton .tableActionButtonContent {

		left: -145px;
	
	}

	#newsLanding #welcomeBannerText {
		font-size: 14px!Important;
	
		margin-bottom: 18px;
}
	#newsLanding #welcomeBannerArrow {
		top: -11px!Important;
	}
	.pageLimits {
		border-right: none;
	}
	#newsLanding #advertImageContainer {
		width: 100%;
		height: 100px;
	}
	#newsLanding .advertImageContainerimage{
		height: 100%;
	}
	#rewardsPage .rewardsBlockOne {
		margin: 20px;
	}
	#rewardsPage .rewardsBlockTwo {
		margin: 20px;
	}
	#rewardsPage .button3 {
		margin: 0;
		width: 100%;
	}
	.branchcodesearch .grid60 .grid40 {
		width: 45%;
	}
	.note a, .note p, .note li {
		font-size: 12px;
	}
	.tableContainer .eziLinks {
		width: 100%;
	}
	#otp_form{
		padding: 5px;
	}
	#big3ShoutOut {
		font-size: 14px!Important;
	}
	.big3LeftTopCorner {
		top: 87px!Important;
	}
	.big3Inner {
		padding: 5px 0 0 0!Important;
		background-position:100% 35%!Important;
	}
	.big3Container.preapproved {
		background-size: 10px 86px;
		background-position: 0% -5px!Important;
	}
	#big3OuterWrapper {
		padding-bottom: 10px!Important;
	}
	#big3OuterWrapper .scrollingBannerItem {
		height: 96px;
		/* border-left: 5px solid #fff; */
	}
	.big3Heading {
		padding-left: 20px;
	}
	.big3Paragraph {
		padding: 0 40px 0.5em 20px!important;
	}
	.topNavMenuSliderIndicator {
		display:none;
	}
	.big3LeftTopCorner{
		display:none;
	}
	/* DEFAULTS */
	h6 {
		font-size: 14px;
		padding-left: 10px;
		padding-bottom: 0px;
		clear: both;
		padding-top: 5px;
	}
	.dlTitle.formElementLabel, .dlData.formElementContainer {
		padding: 7px 10px 7px 10px;
		font-size: 12px;
	}
	
	.eziWrapper .formElementWrapper {
		padding-top: 7px;
		border-top: none!Important;
	}
	.settingsLandingAcountFields .dlTitle {
		padding: 12px 0px 12px 10px;
		font-size: 12px;
	}
	#nodtt {
		margin-top: 16px!Important;
	}
	.settingsLandingPage .settingsLandingAcountFields {
		/* border-left-width: 10px; */
	}
	.settingsButtonPadding, .settingsRightAlignPadding {
		padding: 5px 0 5px 10px;
	}
	.dlData {
		/* display: none; */
	}
	.doubleItemTop{
		width:100%;
	}
	#StandardProgressWrapper {
		/* top: 51%; */
		/* height: 35px; */
	}
	.eziWrapper {
		/* top: 99px!Important; */
		/* bottom: 50px!Important; */
		/* border-left: none!Important; */
		top:0px;
	}
	#eziPannelButtons {
	/* height: 45px!Important; */
	width: 100%!important;
	padding-right: 0;
	}
	#eziPannelButtonsWrapper {
	left: 0!Important;
	bottom: 0;
	z-index: 180;
	}
	.actionMenuButton {
		height: auto!Important;
	}
	#eziWrapper .actionMenuHeader {
		font-size: 14px!Important;
	}
	.rightBox h5 {
		top: 43px;
	}
	#eziPannelButtonsWrapper .actionMenuButton {
		height: auto!Important;
	}
	#StandardProgressBarPercent {
		/* font-size: 20px; */
		/* padding: 4px 0 0 3px; */
	}
	#loading {
		/* font-size: 20px; */
		/* margin: 3px 0 0 15px; */
	}
	#StandardProgressBar {
		/* height: 25px; */
	}
	#EziProgressBar {
		height:25px;
	}
	#EziProgressWrapper {
		top: 51%;
		height: 35px;
	}
	#EziProgressBarPercent {
		font-size: 20px;
		padding: 4px 0 0 3px;
	}
	#phoneBookSearchContainerText.grid30 {
		width: 50%;
	}
	
	#newsLanding #rightColNews div.grid40 {
		width: 100%;
	}
	#newsLanding .moreItemButton {
		padding-left: 5px;
	}
	#newsLanding .loggedInDate{
		float: left;
		padding-right: 5px;
	}
	#buyAirtime_landing .grid25 {
		width: 45%;
	}
	.searchOrText {
		padding-left: 5px;
	}
	/* SWITCHER */
	.tableSwitcherItemsContainer {
	width: 100%;
	margin: 30px 0 0 0;
	overflow: hidden;
	/* padding: 0 10px 0 0; */
	}
	.tableHeaderControls .tableSwitcherButton {
		width: 100%;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		margin: 0 0 2px 0;
		padding: 0px 8px;
	}
	.switcherGroup .switcherWrapper {
		width: 100%;
	}
	/* .tableHeaderControls .tableActionButtonContainer {
		width: 45%;
		position: relative;
		padding-left: 11px;
	} */
	.tableHeaderControls .tableActionButtonContainer .labelInner {
		padding: 0px 0px 0px 0px;
	}
	.tableHeaderControls .mobi-dropdown-trigger {
		background: url("../../03images/base/mobi/switcherDownArrow.png")	no-repeat 100% 45%;
		width: 50%;
		height: 30px;
		position: absolute;
		cursor: pointer;
		display: none;
		top: 33px;
	}
	.addRecipientsAddButtonWrapper {
	height: 100px!important;
	}
	.mobi-dropdown-trigger-expanded {
		background: url("../../03images/base/mobi/switcherDownArrowExpanded.png") no-repeat 100% 45%!important;
		z-index: 5;
	}
	.mobi-header-trigger{
		background: url("../../03images/base/mobi/tableHeaderControlsDrag.png") no-repeat center center #73C7C7;
		position: absolute;
		width: 100%;
		height: 25px;
		display: none;
		cursor: pointer;
		bottom: 0;
		z-index: 140;
	}
	#formFooterButtons {
		max-height: 54px;
		z-index: 201;
		left: 0;
	}
	.mobiFooterButton {
		display: block;
		color: #000;
		font-size: 14px;
		/* padding: 10px 10px 10px 0; */
	}
	.headerControlLabel {
		width: 50%;
		margin: 6px 0 0 0;
		height: 20px;
		line-height: 1;
	}
	.headerControlLabel .labelInner {
		padding: 2px 5px 2px 5px;
		font-size: 12px;
		height:auto;
		line-height: 1;
	}
	.tableHinnerContent{
		position: relative;
		top: -6px;
		/* padding: 0 0 0 5px; */
		height: 30px;
		overflow: hidden;
	}
	.tableHinnerContent.noGroupImg{top:0px;}
	
	#summary_of_account_balances .tableHinnerContent {
	top: 0;
	}

	.tableHeaderControls .tableSearchBarWrapper {
		width: 65px;
	}
	.tableHeaderControls .searchField {
		padding: 0;
	}
	.tableHeaderControls .tableActionButton {
		width: 25px;
		height: 25px;
	}
	.tableHeaderControls .tableActionButton.addButton {
		margin: 0 5px 2px 2px;
		background-position: center;
	}
	.tableHeaderControls .tableActionButton.searchButton {
		margin: 0 5px 2px 2px;
		background-position: center;
	}
	.tableHeaderControls .tableActionButton.downloadButton {
		margin: 0 5px 2px 2px;
		
		background-position: center;
	}
	.tableHeaderControls .tableActionButton.printButton {
		margin: 0 5px 2px 2px;
		background-position: center;
	}
	.tableHeaderControls .tableActionButton.searchClose {
		/* margin: 0 5px 2px 2px; */
		background-position: 50% 0;
	
		margin-left: 80px!important;
}
	.tableHeaderControls .searchField input {
		height:25px;
	}
	.mobiHeaderControls .formElementContainer{
		padding-left: 0;
		padding-right: 0;
	}
	.mobiHeaderControls .radioButtonsGroup {
		width: 100%;
	}
	.mobiHeaderControls .formElementLabel {
	padding: 10px 10px 0 5px!important;
	color:#000;
	}
	.mobiHeaderControls{
	border-top: none!important;
	border-right: none!important;
	}
	#OnceOffPayments #firstH2{
		padding-bottom:10px!important;
	}
	.switcherAdjust.formElementWrapper {
		margin-top: 0px!important;
	}
	.tableHeaderControls {
		height: auto!important;
		min-height: 30px;
		float: left;
		padding: 4px 0 4px 0px;
	}
	.bcal-container {

	}
	.bcal-table {
		width: 90%;
		margin-left: 15px;
	}
	.mobiPopupInnerWrapper p {
		font-size: 14px;
		line-height: 14px;
		padding-left: 5px;
		float: left;
		color: #fff;
	}
	.mobiHiddenFooterButton .actionMenuButtonIcon {
		float: left;
	}
	.mobiHiddenFooterButton a {
		font-size: 14px;
		line-height: 27px;
		text-decoration:none;
		margin: 0 5px 0 5px;
		float: left;
	}
	.mobiHiddenFooterButton{
		width:auto;
		float: right;
		margin: 5px 0 0 0;
		cursor:pointer;
	
		background: #ff9900;
	margin-left: 5px;
	}
	.subTabsContainer {
		overflow: hidden;
		float: left;
	
		/* clear: both; */
		/* width: 100%!important; */
}
	
	/* Confirm Pages */
	.confirmHeader .confirmHeaderInner .confirmHeaderTopText {
		font-size: 14px;
	}
	.confirmHeader .confirmHeaderInner .confirmHeaderBottomText {
		font-size: 14px;
	}
	.confirmPage .prettyDateValue{
		font-size: 14px;
	}
	.confirmPage .grid80{
		width: 100%;
	}
	.confirmHeader .confirmHeaderInner .confirmDate {
		top: 0px;
	
		left: 0px;
		position: relative;
		text-align: left;
		padding: 0px 0px 0px 8px;
}
	.confirmPage .floatLeftRecipient {
		font-size: 14px;
	}
	.confirmPage .totalRow .tableCell {
		width: 50%!important;
		float: left;
	}
	.confirmPage .totalCellInner {
		height: auto;
		line-height: 14px;
		font-size: 12px;
	}
	.confirmPage .tableCellItem.doubleItemTop, .tableCellItem.doubleItemBottom {
		width: 100%;
	}
	.confirmPage .tableCellItem.doubleItemTop, .tableCellItem.doubleItemBottom {
		width: 100%;
	}
	.confirmPage .hiddenLabel{
		
	}
	.confirmPage .rightBox {
		position: static;
		width:100%;
		min-height: 100px;
	}
	.confirmPage .rightBoxContent {
		position: static;
		border-left: none;
	}
	.confirmPage .whiteMessageContainer {
		margin: 5px 0px 0px 0;
	
		clear: both;
}
	.confirmPage .rightBox h5 {
		font-size: 16px;
	
		/* width: 60%; */
		/* left: 12px; */
		top: 42px;
}
	
	.confirmPage .error.rightBox h5{top:43px;left:2px}
	
	
	
	.confirmPage .rightBoxInner {
		/* padding: 0 0 0 40px; */
		margin: 15px 0 20px 0;
		line-height: 1px;

	
		clear: both;
		float: left;
		width: 100%;
}
	.confirmPage .rightBoxInner p {
		font-size: 14px;
		line-height: 1;
	}
	.errorMessageWrapper {
		font-size: 14px;
	}
	.errorText {
		font-size: 14px;
	}
	.error {
		min-height: 0!important;
		z-index: 170;
	}
	
	#eziWrapper .rightBox h5 {padding:10px;/* width: 60%; *//* left: 15px; */top: 30px;}
	
	#errorGridGroup .grid70{
		margin-bottom:7px;
	}
	.confirmPage .confirmNoteColumn .note{
		border-left:0 none;
	}
	
	/* Datepicker */
	.monthName {
		font-size: 14px;
	}
	.confirmFinishHeaderButtonContainer .print {
		display:none;
	}
	.confirmFinishHeaderButtonContainer .download {
		display:none;
	}
	.tableHeaderControls .tableActionButton .tableActionButtonLabel {
		font-size: 12px;
		padding: 20px 0 0;
		display: none;
	}
	#actionMenu {
		padding: 0;
		z-index: 300;
		position: absolute;
		left: 0;
	}
	
	[data-clipoverflow="true"] #actionMenu {
		position: static;
	}
	
	[data-role="overlay"], #eziOverlay {
	padding-left: 0;
	}

	[data-role="overlay"], #eziOverlay {
		z-index: 300;
	}
	[data-role="gridColEzi"] {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	span[data-role="actionMenuBtt"].actionMenuBttLabelWrapperExpanded {
		position: fixed;
		height: 132px;
		width: 22px;
		top: 72px;
		overflow-x: hidden;
		z-index: 301;
		right: 0;
	}
	
	[data-role="overlay"], #eziOverlay {
		z-index: 300;
	}
	[data-role="gridColEzi"] {
		padding-top: 0;
		padding-bottom: 0;
	}
	#actionWrap {
		top: 99px;
	}
	.actionMenuCol {
		display: block;
		width: 100%;
	}
	
	.actionMenuCol.displayNone {
		display: none;
	
	}
	
	.moreOptionsDownArrow {
		display:none;
	}
	.actionMenuBottomLabel {
		display:none;
	}
	.actionMenuButtonIcon {
		/* width: 27px; */
		/* height: 27px; */
		/* background-size: 100%; */
	}
	
	.actionMenuHeader.orange {
		font-size: 16px;
	}
	.bannerSubHeadings {
		font-size: 16px;
	}
	.actionMenuButton .actionMenuButtonIconText {
		font-size: 14px;
	}
	.actionMenuLeftBorder {
		border-left: none;
	}
	.actionMenuRightBorder {
		border-left: none;
	}
	.actionMenuLeftRightBorder {
		border-left: none;
		border-right: none;
	}
	.actionMenuContents .actionColHeader {
		padding: 20px 10px 0;
	}
	/* TABLE DEFAULTS */
	.groupedCol1, .groupedCol2 , .groupedCol3, .groupedCol4, .groupedCol5, .groupedCol6{
	width: 100%!Important;
	}
	.col1,.col2, .col3, .col4, .col5, .col6, .col7, .col8 {
	width: 100%!Important;
	}
	.tableContainer .eziLinks .eziLink {
	width: 100%!Important;
	margin: 2px 0 0 0!Important;
	font-size: 12px!Important;
	}
	.tableCellItem {
		line-height: 14px!Important;
	}
	.tableCell.selectAllActive .checkbox-graphic-wrapper, .tableCell.center .checkbox-graphic-wrapper {
	margin: 0 auto;
	float: left;
	clear: both;
	margin-bottom: 10px;}
	.tableRowInner{
		padding: 2px 0 0 0!Important;
	}
	.tableCell .input-wrapper {
		margin-top: 0;
	}
	/*  Developer: Donovan
	Top Menu */
	.topMenu {
		position:static;
	}
	.topNavWrapper {
		margin: 0px;
	}
	.headerButton:first-child {
		width: 18%;
	}
	#headerButton_2{
		width:35px;
	}
	#headerButton_3{
		width:35px;
	}
	#headerButton_4{
		width:35px;
	}
	#headerButton_5{
		width:35px;
	}
	#headerButton_6{
		width:35px;
	}
	.helpText{
		/* margin-top:-2px; */
	}
	.applyHeaderButton{
		width:auto!important;
	}
	.applyHeaderButton a span {
		padding-left: 8px;
		padding-right: 8px;
	}
	/* PAGE */
	.pageWrapper {
		padding-top: 0;
	}
	#workspace {
	padding: 0px 0 54px 0;
	
	
	
	

	}
	.td {
		display:block;
	}
	.td.grid50 {
		width: 100%;
	}
	.td.grid33 {
		width: 100%;
	}
	.td .formElementWrapper:first-child {
		border-top: 1px solid #e7e7e7;
	}
	.ghostBlock {
		display: none;
	}
	.grid50 {
		width: 100%;
	}
	.borderRightWhite, .borderRightGrey, .borderRightTurq, .borderRightAmber {
		border-right-width: 0;
	}
	.tableRowHeader{
		display:none;
	}

	.tableCell .rowMoreButton {
		width: 6%;
		background: #f5f5f5;
	}
	.hiddenLabel{
		display:block;
		float: left;
		font-size: 10px;
		width: auto;
		line-height: 14px;
		padding: 2px 0 2px 0;
		width: 100%;
	}
	.tableRow {
		min-height: 52px;
	}
	.totalRow {
		padding: 0 0 2px 0;
		min-height: 100%;
	}
	.totalRow .col5 {
	display: none;
	}
	.tableCell .rowMoreButton {
		height: 100%;
		top: 0px;
		right: 0;
	}
	.tableContainer a{
		text-decoration:none;
		pointer-events: none;
	}
	.greyBack{
		background-color: #f5f5f5;
	}
	/* SUBTABS */
	#subTabsPageHeader{
		width:100%;
	}
	/* OVERLAY */
	.overlay {
		top: 64px;
		/* left: 25px; */
	}
	#popupWrapper {
	left: 25px;
	}
	/* PAGE SPECIFIC */
	
	#formElement_updateBtn.bttFix {float:left!important;padding-top:0px!important;padding-left:10px;}
	
	#paymentsTable .groupedCol1 {
		width: 100%!important;
	}
	#paymentsTable .tableCell.right, .tableCellItem.right, .right .tableCellItem {
		text-align: left;
		padding-left: 0;
		padding-right: 5px;
	}
	#paymentsTable .col5, #paymentsTable .col6, #paymentsTable .col11, #paymentsTable .col12, #paymentsTable .col13, #paymentsTable .col14 {
		width: 100%!Important;
		padding-left: 5px!Important;
	}
	#paymentsTable .col3, #paymentsTable .col4 {
		width: 50%!Important;
		padding-left: 5px!Important;
	}
	#paymentsTable .checkbox-wrapper{
		padding-left:0;
	}
	#paymentsTable .col1{
		overflow:hidden;
	}
	#paymentsTable .col1,#paymentsTable .col2{
		padding-right: 0px!Important;
		width: 50%!Important;
		position: static!Important;
	}
	#paymentsTable .tableCell {
		padding: 0 4px;
	}
	#paymentsTable .tableCell.selectAllActive .checkbox-graphic-wrapper, #paymentsTable .tableCell.center .checkbox-graphic-wrapper {
		padding: 10px 0 0 0;
		margin: 10px 0 5px 0;
	}
	#paymentsTable .col6 .tableCellItem  {
		margin: 15px 0 0 0;
	}
	
	.tableHeaderControls .tableActionButtonContainer {
		float: right;
	}
	#summary_of_account_balances .headerControlLabel {
		margin: 8px 0 0 0;
		width: auto;
	}
	#summary_of_account_balances .tableActionButtonContainer {
		border-left: none;
	height: 30px;
	}
	#accountsTable .groupedCol1 .hiddenLabel{
		display:none;
	}
	#accountsTable .col2, #accountsTable .col3 {
		width: 100%;
	}
	#accountsTable .groupedCol1 {
		width: 45%!Important
	}
	#accountsTable .groupedCol2 {
		width: 50%!Important
	}
	#accountsTable .groupedCol2 .hiddenLabel {
		width: 22%!Important;
	}
	#accountsTable .groupedCol1 .large {
		padding: 2px 0 0 0;
	}
	#accountsTable .groupedCol2 .large {
		padding: 2px 0 0 0;
	}
	#accountsTable .groupedCol1 .doubleItemBottom {
		padding: 4px 0 0 0;
	}
	#accountsTable .col3 .hiddenLabel {
		padding: 2px 5px 2px 0px;
	}
	#accountsTable .col3 .large {
		padding: 1px 0 2px 0;
	}
	#accountsTable .col4 .hiddenLabel{
		display:none;
	}
	#accountsTable .col2 {
		width: 100%!Important;
	}
	#accountsTable .large{
		float:left;
	}
	#accountsTable .totalRow {
		float:left;
	}
	#scheduledTransfersLanding .headerControlLabel {
		margin: 7px 5px 0 0;
		width: auto;
	}
	#scheduledPrepaid_landing .headerControlLabel {
		margin: 6px 5px 0 0;
		width: auto;
	}
	#scheduledTransfersLanding .tableActionButtonContainer {
		border-left: none;
	}
	#insurancePage .insuranceLeft {
		padding: 10px;
	}
	#insurancePage .insuranceHeadingTop {
	font-size: 18px!Important;
	margin: 2px 0 0 10px!Important;
	}
	#insurancePage .insuranceHeadingMiddle {
	font-size: 20px!Important;
	margin: 2px 0 0 10px!Important;
	}
	#insurancePage .insuranceRight {
	padding: 5px 0 0 0!Important;
	}
	#insurancePage ul {
	margin: 0!Important;
	}
	#insurancePage .insuranceContent {
	font-size: 12px!Important;
	}
	#insurancePage .insuranceHeadingBottom {
	font-size: 14px!Important;
	margin: 2px 0 0 10px!Important;
	}
	#insurancePage .getAQuoteButton {
	font-size: 14px!Important;
	}
	#insurancePage .insuranceHeading {
	font-size: 16px!Important;
	}
	#insurancePage .insuranceHeadingTop {
	font-size: 16px!Important;
	padding: 0;
	}
	#insurancePage .innerCirc h3 {
	font-size: 18px!Important;
	}
	#insurancePage .insuranceRight {
	padding: 10px 0 0 0;
	}
	#insurancePage ul {
	margin: 0 0 0 20px;
	}
	.totalRow .totalCellInner {
	height: auto;
	line-height: 14px;
	font-size: 14px;
	text-align: left;
	}
	#accountsTable .col2, #accountsTable .col3 {
		width: 100%;
		text-align: right;
	}
	#accountsTable .totalRow .groupedCol3{
		display:none;
	}
	.tableHeaderControls .tableActionButtonContainer {
		position: absolute;
		right: 3px;
	}
	#buyAirtime_landing .grid60 {
		width: 100%;
	}
	#buyAirtime_landing .grid40 {
		width: 100%;
	}
	#voucherType_parent{
		border-top: none;
	}
	.td .formElementWrapper {
	border-top: none;
	}
	.td .formElementLabelSingle{
		font-size: 12px;
		padding: 5px 10px 5px 10px;
	}
	#big3 .big3Heading {
		font-size: 14px!Important;
	}
	#big3 .big3Paragraph {
		font-size: 12px!Important;
	}
	#big3 {
		display: block!Important;
	}

	#big3 .big3Container {
		display: block!Important;
		width: 100%!Important;
		background-size:20px 200%;
	}
	#big3 .big3Inner {
		padding: 10px 0 10px 20px!Important;
	}
	#big3 #big3ShoutOutContainer {
		position: relative!Important;
		z-index: 3!Important;
		width: auto!Important;
		top: auto!Important;
		right: auto!Important;
	}
	#big3 #big3ShoutOut {
		font-size: 14px!Important;
	}
	#big3OuterWrapper {
	padding: 0;
	}
	#big3OuterWrapper .scrollingBannerContainer {
		top: 5px;
	}
	#big3OuterWrapper #scrollingBannerContainer{
		height: 80px!Important;
	}
	#big3ShoutOutContainer {
	display: none;
	}
	#duplicatePaymentTable .groupedCol1 .col2 {
	width: 100%;
	}
	/* FOOTER */
	#footerButtonGroup .dropdown-wrapper{
		display:none;
	}
	#footerButtonGroup .datePicker {
		display:none;
	}
	#footerButtonGroup .footerBtn {
		width:14.28%;
	}
	/* MOBI ELEMENTS */
	#footerButtonGroup .mobiHiddenFooterButton{
		display:none;
	}
	#footerButtonGroup .footerBtn.mobiFooterButton{
		display: table;
	}
	.hideForMobile{
		width: 100%!important;
		height: 0;
		background: #f5f5f5;
		padding-right: 10%;
		overflow: hidden;
	}
	.hideForMobile .tableCell{
		padding-right: 0;
	}
	.phoneContentButton {
		display: block;
	}
	#support-reference {
		display:none;
	}
	.pagination {
		width: 100%!important;
	}
	.pagingWrapper .td {
		float: left;
		font-size: 12px;
		line-height: 40px;
	}
	.valignMiddle, .vertMiddle {
		line-height: 1;
	}
	.note, .tc {
		font-size: 14px;
		padding: 5px 10px;
		margin: 10px 0;
	}
	.note .note-heading {
	font-size: 14px;
	}
	.note-tc .checkbox-wrapper .formElementLabel {
		font-size: 14px;
		float: left;
		width: 80%!important;
		padding: 0!important;
	}
	.note-tc .checkbox-wrapper .formElementContainer {
		width: 20%;
		float: left;
	}
	.button .smallTurqPlus {
		font-size: 14px;
	}
	
	#cardsTable_table .tableCell.col2 .stack{-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;}       
	.stack {
		overflow: hidden;
		
	}
	.tableCell .rowMoreButton .arrow {
		background: url(/banking/03images/fnb/arrows/tableRightOrange-small.png) right center no-repeat;
	}
	.listDisc>li, .listCircle>li, .listSquare>li, .listDecimal>li, .listLowerAlpha>li, .listUpperAlpha>li {
		font-size: 12px;
	}
	.prettyDateValue {
		font-size: 14px;
		float: none;
	}
	.prettyDateTime {
		font-size: 14px;
		float: left;
		padding-left: 0;
	}
	.rightColNews .grid60{
		width:50%;
	}
	.rightColNews .grid40{
		width:50%;
	}
	#newsLanding #newsUserName {
		font-size: 20px!Important;
	}
	a {
		font-size: 14px;
	}
	.prettyDateLabel {
		width: 50%;
		font-size: 12px;
		padding-left: 10px;
	}
	.pagingWrapper .formTable {
	width: 100%;
	}
	.browserHidden {display:block!important;}
	.browserDisplay {display:block!important;}

	#sharesTable .col8.up,
	#sharesTable .col8.down,
	#sharesTable .col8.unchanged,
	#shareAccountsTable .col5.up,
	#shareAccountsTable .col5.down,
	#shareAccountsTable .col5.unchanged{background-position:10px 8px !important;text-align:left;padding: 3px!important;}

	#shareAccountsTable .col5 .hiddenLabel {
		padding: 0 0 2px 20px;
		text-align: right;
	}
	#sharesTable .col8 .hiddenLabel {
		padding: 0 0 2px 20px;
		text-align: right;
	}

	#phonebookUpdate .checkall-toggle-wrapper .checkall-link{margin-left:0; padding-left:10px; width:50%; text-align:left;}
	#actionWrap {
		padding-left: 26px!important;
	}
	.actionMenuUrlWrapper {
		min-height: 100%;
	}
	#actionMenuUrlWrapper .tableContainer {
		padding-right: 0;
		left: 0;
	}
	.actionMenuUrlWrapper #option_items .col1{
		width: 25%!important;
	}
	.actionMenuUrlWrapper #option_items .col2{
		width: 25%!important;
	}
	.actionMenuUrlWrapper #option_items .col3{
		width: 25%!important;
	}
	.actionMenuUrlWrapper #option_items .col4 {
		width: 25%!important;
	}
	#actionMenuUrlWrapper .actionMenuLeftBar p {
		margin-left: 0;
		margin-right: 0;
	}
	.timeOverlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.dropdown-keyboard-tab{
		background-color:transparent;
		border: 0px solid;
		-webkit-appearance: none;
	}
	#portfoliosTable .col1{
		width: 33%!important;
	}
	#portfoliosTable .col2{
		width: 33%!important;
	}
	#portfoliosTable .col3{
		width: 33%!important;
	}
	#PortfolioManagementViewPortfolioDetailForm .headerControlLabel {
		width: 40%;
	}
	#PortfolioManagementViewPortfolioDetailForm .tableHeaderControls .tableActionButtonContainer {
		width: 160px;
	}
	#transfer_capture .prettyDateLabel {
		padding-bottom: 5px;
	}
	/* CARDSTABLE */
	#cardsTable .col1 {
		width: 50%!important;
	}
	#cardsTable .col3 {
		width: 60%!important;
	}
	#cardsTable .col4 {
		width: 40%!important;
	}
	#cardsTable .hideForMobile {
		padding-right: 5px;
	}
	/* SHEDULED TRANSFERS */
	#scheduledTransfers .col1 {
	width: 50%!important;
	}
	#scheduledTransfers .col2 {
	width: 50%!important;
	}
	/* SHEDULED PAYMENTS */
	#scheduledPaymentsTable_tableContent .col1 {
	width: 50%!important;
	}
	#scheduledPaymentsTable_tableContent .col2 {
	width: 50%!important;
	}
	/* SHEDULED PREPAIDS */
	#scheduledPrepaidTable .col1 {
	width: 50%!important;
	}
	#scheduledPrepaidTable .col2 {
	width: 50%!important;
	}
	/* PAYMENT HISTORY */
	#paymentHistoryTable .col1 {
		width: 50%!important;
	}
	#paymentHistoryTable .col2 {
		width: 50%!important;
	}
	#paymentHistoryTable .col3 {
		width: 50%!important;
	}
	#paymentHistoryTable .col4 {
		width: 100%!important;
	}
	#paymentHistoryTable .col4 .hiddenLabel {
		width: 50%!important;
	}
	#paymentHistoryTable .col4 .tableCellItem {
		width: 50%!important;
	}
	.tableCellItem.goodStatus {
		background: url("/banking/03images/fnb/finish/tickColorIcon.png") no-repeat 5px 2px;
	}
	#paymentHistoryTable .tableRow {
		padding: 0 0 16px 0!Important;
	}
	#paymentHistoryTable .hideForMobile {
		padding-right: 0!important;
	}
	#paymentHistoryTable .col5 .hiddenLabel {
		display: none;
	}
	#paymentHistoryTable #processingResultViewBean {
		height: 36px;
		line-height: 36px!Important;
		padding-left: 42px!Important;
	}
	
	#shareAccountsTable .col1 {
		width: 50%!Important;
	}
	#shareAccountsTable .col2 {
		width: 50%!Important;
		height: 46px;
	}
	#shareAccountsTable .col3 {
		width: 50%!Important;
	}
	#shareAccountsTable .col4 {
		width: 50%!Important;
	}
	#shareAccountsTable .col5.up,#shareAccountsTable .col5.unchanged,#shareAccountsTable .col5.down {
	width: 100%!important;
	}
	#sharesLanding .dlGroup .grid40{
		width: 50%!Important;
	}
	#sharesLanding .dlGroup .grid60{
		width: 50%!Important;
	}
	#sharesLanding .col1 {
		width: 50%!Important;
	}
	#sharesLanding .col2 {
		width: 30%!Important;
	}
	#sharesLanding .col3 {
		width: 20%!Important;
	}
	#sharesLanding .col4 {
		width: 30%!Important;
	}
	#sharesLanding .col5 {
		width: 20%!Important;
	}
	#sharesLanding .col6 {
		width: 50%!Important;
	}
	#sharesLanding .col7 {
		width: 50%!Important;
	}
	#sharesLanding .col8 {
		width: 100%!Important;
		padding: 5px 0 0 5px;
		margin-top: 5px;
	}
	#sharesLanding .col8 .hiddenLabel{
		padding: 2px 0 2px 5px;
	}
	#sharesLanding .col9 {
		width: 100%!Important;
	}
	#sharesLanding .col9 .hiddenLabel {
		display: none;
	}
	#sharesLanding .hideForMobile .tableRowGroupInner{
		padding: 0px 5px;
	}
	#sharesLanding .hideForMobile .tableCell {
		padding: 0;
	}
	#sharesLanding .hideForMobile {
		padding-right: 0!important;
	}
	#sharesLanding .tableRow {
		padding: 3px 0px 18px 0px!important;
	}

	#sharesTable .eziLinks {
		margin: 0!Important;
	}
	#sharesTable .col9 .hiddenLabel{
		display:none!Important;
	}
	#sharesLanding #extendedPageHeader.noSubTabs .dropdown-wrapper .grid100 {
		width: 100%!Important;
	}
	#sharesLanding .dlData .tooltipParent {

	}
	#sharesLanding .note.note-top {
		border-top: none;
	}
	#sharesLanding .dlGroup .dlTitle, .dlGroup .dlData {
		min-height: 27px;
	}
	#sharesLanding .dlGroup .dlTitle, .dlGroup .dlData {
		min-height:0;
	}
	#extendedPageHeader.withExtraContent .dropdown-two-wrapper .dropdownElementWrapper .dropdown-selection-white {
		padding: 4px 0px 4px 4px;
	}
	#shareAccountsTable .col5 {
		margin-top: 5px;
	}
	#shareAccountsTable .tableRow{
		padding: 0 0 2px 0;
	}
	
	.sharesFooterMessageinner {
	padding-right: 20px;
	}
	.sharesFooterMessageWrapper {
	padding-right: 0;
	}
	/* KRUGER RANDS */
	#goldPrepareTable .col1 {
		width: 50%!Important;
	}
	#goldPrepareTable .col2 {
		width: 50%!Important;
	}
	#goldPrepareTable .col9 .hiddenLabel{
		display:none!Important;
	}
	/* EWALLET */
	.eWallet .grid25{
		width: 45%!Important;
	}
	#formElement_publicRecipientSearchButton {
		padding: 0 0 0 0!Important;
	}
	/* AITIME */
	#airtimeBundleHistoryTable .col1 {
		width: 50%!Important;
	}
	#airtimeBundleHistoryTable .col3 {
		width: 50%!Important;
	}
	#airtimeBundleHistoryTable .col4 {
		width: 40%!Important;
	}
	/* Electricity */
	#buyTopTv_landing h3, h4, h5, h6 {
		padding-top: 0;
	}
	/* SCHEDULED TRANSFERS */
	#scheduledTransfers .hideForMobile {
		padding-right: 5px!Important;
	}
	#scheduledTransfers .col3 {
		width: 50%!Important;
	}
	#scheduledTransfers .col4 {
		width: 50%!Important;
	}
	/* ADD SCHEDULED */
	#addScheduled .switcherWrapper {
		width: 100%;
	}
	/* DOWNLOAD BUTTON */
	.download-w {
		right: 5px!Important;
		top: 0!Important;
	}
	/* Transaction history */
	#transactionHistoryTables .col1, #transactionHistoryTables .col2, #transactionHistoryTables .col4 , #transactionHistoryTables .col6 {
	width: 50%!Important;
	}
	#transactionHistoryTables .col3, #transactionHistoryTables .col5{
	width: 60%!Important;
	}
	#transactionHistoryTables .col4, #transactionHistoryTables .col6{
	width: 40%!Important;
	}
	.dlTitle.formElementLabel, .dlData.formElementContainer {
	padding: 2px 10px 2px 10px!Important;
	}
	/* Statement */
	#requestStatementItemTable .col1 ,#requestStatementItemTable .col2 ,#requestStatementItemTable .col3 ,#requestStatementItemTable .col4 {
		width: 50%!Important;
	}
	/* OTP */
	#otp_form h4 {
	padding-top: 10px!Important;
	}
	/* MOBILE DEVIVE OFFERS */
	#MOBILE_OFFER_FORM .scrollingBannerContainer {

	}
	
	#accountsTable .totalRow .groupedCol1,#accountsTable  .totalRow .groupedCol2, #accountsTable .totalRow .groupedCol3, #accountsTable .totalRow .groupedCol4{
	width: 50%!Important
	}
	#accountsTable .col2 .totalCellInner, #accountsTable .col3 .totalCellInner {
	text-align: right!Important;
	}
	
	.tableNoDataText {
	font-size: 14px;
	}
	/* SETTINGS */
	.settingsLandingPage .grid50 {
		width: 50%!Important;
	}
	.settingsLandingPage .alignRight {
		float: right;
	}
	.settingsLandingPage .borderTopWhite {
		border:none!Important;
		width: 100%!Important;
	}
	.settingsLandingPage h6 {
		padding-bottom: 5px!Important;
		padding-top: 5px!Important;
	}
	/* TRANSFER HISTORY */
	#simpleTransferHistoryTable_tableContent .hideForMobile {
		padding-right: 0;
	}
	#simpleTransferHistoryTable_tableContent .col3 {
		width: 50%!Important;
	}
	#simpleTransferHistoryTable_tableContent .col4 {
		width: 50%!Important;
	}
	#simpleTransferHistoryTable_tableContent .col5 .hiddenLabel{
		width: 50%!Important;
	}
	#simpleTransferHistoryTable_tableContent #processingResultViewBean {
		height: 40px;
		line-height: 40px!Important;
	}
	/* DELETE RECIPIENTS */
	#deleteRecipientTable .col1 {
	width: 50%!Important;
	}
	#deleteRecipientTable .col2 {
	width: 50%!Important;
	}
	#deleteRecipientTable .col3 {
	margin-left: 0!Important;
	}
	#deleteRecipientTable .col3 .hiddenLabel{
	display:none;
	}
	#deleteRecipientTable .tableCell.selectAllActive .checkbox-graphic-wrapper, .tableCell.center .checkbox-graphic-wrapper {
	margin: 0;
	}
/* 	SHEDULED PAYMENTS */
	#scheduledPaymentsTable .hideForMobile {
	padding-right: 0!Important;
	}
	#scheduledPaymentsTable .col3 {
	width: 50%!Important;
	}
	#scheduledPaymentsTable .col4 {
	width: 50%!Important;
	}
	/* PAYPAL SERVICES */
	#PAYPAL_LANDING_FORM .quickGuide .grid40{
	width: 100%!Important;
	}
	#before_img {
		background: url("/banking/images0/before_mobile.jpg") repeat-y left top #01999a!Important;
		height: 50px!Important;
		width: 100%!Important;
	}
	#link_img {
		background: url("/banking/images0/link_mobile.jpg")  repeat-y 5% top #01999a!Important;
		height: 77px!Important;
		width: 100%!Important;
	}
	#verify_img {
		background: url("/banking/images0/verify.jpg") repeat-y 10% top #01999a!Important;
		height: 77px!Important;
		width: 100%!Important;
	}
	#create_acc_img {
		background: url("/banking/images0/create_acc.jpg") repeat-y 5% top #01999a!Important;
		height: 77px!Important;
		width: 100%!Important;
	}
	.more_img {
	top: 60px!Important;
	left: 30px!Important;
	}
	#annualPricingGuide .groupedCol1 .col2 {
	width: 100%!Important;
	}
	#loginHistoryTable .col2 {
	width: 100%!Important;
	}
	#taxCertificatesTable .col2, #taxCertificatesTable .col3, #taxCertificatesTable .col4 {
	width: 50%!important;
	}
	#REQUEST_HISTORICAL_STATEMENT_FORM .formTable .grid90{
	width: 90%;
	}
	#REQUEST_HISTORICAL_STATEMENT_FORM .formTable .grid10{
	width: 10%;
	}
	#REQUEST_HISTORICAL_STATEMENT_FORM #PersonalDetailsUpdateLandingTooltip {
	margin: 22px 0 0 0;
	}
	#statementsViewTable .col1 {
	width: 50%!Important;
	}
	#statementsViewTable .col2 {
	width: 50%!Important;
	}
	#statementsViewTable .col3 {
	width: 50%!Important;
	}
	#statementsViewTable .col4 {
		width: 50%!Important;
	}
	#statementsViewTable .col5 {
		width: 50%!Important;
	}
	#statementsViewTable .col6 {
		width: 50%!Important;
	}
	#statementsViewTable .hideForMobile {
		padding-right: 0;
	}
	
	.tableCell .checkbox-wrapper.formElementWrapper {
		border-top: none;
	}
	#scheduledUnitTrust .col1 {
		width: 50%!Important;
	}
	#scheduledUnitTrust .col2 {
		width: 50%!Important;
	}
	#scheduledUnitTrust .col3 {
		width: 50%!Important;
	}
	#scheduledUnitTrust .col4 {
		width: 50%!Important;
	}
	#scheduledUnitTrust .hideForMobile {
		padding-right: 0;
	}
	/* DONOVAN_FOOTERMESSAGE */
	.footerMessageInner {
		padding-left: 0;
		/* width: 1280px; */
	}
	
	.ie8-footerMessageInner {
	width: 1280px!important;
	}
	.footerMessageInnerTwo {
		padding-top: 5px;
	}
	#scheduledPrepaid_landing .hideForMobile{
		padding-right: 0;
	}
	#scheduledPrepaidTable .col3 {
		width: 50%!Important;
	}
	#scheduledPrepaidTable .col4 {
		width: 50%!Important;
	}
	.eziWrapperOuter {
	top: 64px;
		/* bottom: 0px!Important; */
	}  
	/* MULTI CHANNEL PREPAIDS */
	#multiChannelPrepaidTable .col1 {width:80%!important}
	#multiChannelPrepaidTable .col2 {width:80%!important}
	#multiChannelPrepaidTable .col3 {width:80%!important}
	#multiChannelPrepaidTable .col4 {width:80%!important}
	#multiChannelPrepaidTable .col5 {width:80%!important}
	#multiChannelPrepaidTable .col6 {width:80%}
	#multiChannelPrepaidTable .td .formElementWrapper:first-child {border:none;}
	#multiChannelPrepaidTable .td .formElementWrapper {border:none;}
	#multiChannelPrepaidTable .hideForMobile {padding-right: 0;}
	#multiChannelPrepaidTable .setProvider .hiddenLabel {display:none;}
	
	#multiChannelPrepaidTable .tableRow .large a {
		pointer-events: auto;
    	text-decoration: underline;
    }
    #multiChannelPrepaidTable_tableContent .setProvider a {
		pointer-events: auto!Important;
    	text-decoration: underline!Important;
    }
	
	#multiChannelPrepaidAdd .tableRow .large a {
		pointer-events: auto!Important;
    	text-decoration: underline!Important;
    }
	/* STOP DEBIT ORDER */
	#stopDebitOrderTable .large a {font-size:18px; white-space:nowrap;}
	#stopDebitOrderTable .tableCell {white-space:nowrap;}
	/* MULTI CHANNEL ELECTRICITY */
	#phonebook .showMobile{display: block;}
	#phonebook .col1 {width: 100%;}
	#phonebook .col2 {width: 100%;}
	#phonebook .col3 {width: 100%;}
	
	#multiChannelPrepaidElectricityTable .col1 {width:80%!important}
	#multiChannelPrepaidElectricityTable .col2 {width:80%!important}
	#multiChannelPrepaidElectricityTable .td .formElementWrapper:first-child {border:none;}
	#multiChannelPrepaidElectricityTable .td .formElementWrapper {border:none;}
	#multiChannelPrepaidElectricityTable .hideForMobile {padding-right: 0;}
	/* MULTI CHANNEL PREPAID ADD */
	#multiChannelPrepaidAdd #phonebook .showMobile{display: block;}
	#multiChannelPrepaidAdd #phonebook .col1 {width: 100%;}
	#multiChannelPrepaidAdd #phonebook .col2 {width: 100%;}
	#multiChannelPrepaidAdd #phonebook .col3 {width: 100%;}
	#multiChannelPrepaidAdd #phonebook .col4 {width: 100%;}
	#multiChannelPrepaidAdd #phonebook .dropdownElementWrapper {padding: 0;}
	/* APPLICATION GLOBAL PAYMENT CAPTURE */
	#applicationGlobalPaymentCapture #postalAddressContainer1 .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #payerProvinceDropdownPostal .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #payerProvinceInputPostal .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #payerProvinceDropdownPhysical .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #payerProvinceInputPhysical .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #individualContainer .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #staticInfo .formElementWrapper:first-child {border-top: none;}
	#applicationGlobalPaymentCapture #recipientProvinceInputPhysical .formElementWrapper:first-child {border-top: none;}
	/* FOREX PAYMENT RECIEVED*/
	#ForexPaymentReceived .large a {font-size:18px; white-space:nowrap;}
	#ForexPaymentReceived .tableCell {white-space:nowrap;}
	/* FOREX PAYMENT RECIEVED CAPTURE*/
	#forexPaymentRecievedCapture #individualContainer .td .formElementWrapper:first-child {border-top: none;}
	#forexPaymentRecievedCapture #companyContainer .td .formElementWrapper:first-child {border-top: none;}
	#forexPaymentRecievedCapture #prebookedContainer .formElementWrapper:first-child {border-top: none;}
	#forexPaymentRecievedCapture #residentialProvinceContainer .formElementWrapper:first-child {border-top: none;}
	#forexPaymentRecievedCapture #postalProvinceContainer .formElementWrapper:first-child {border-top: none;}
	/* Application For Global Payment Capture*/
	#applicationForGlobalPaymentCapture #postalAddressContainer1 .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #payerProvinceDropdownPostal .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #payerProvinceInputPostal .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #payerProvinceDropdownPhysical .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #payerProvinceInputPhysical .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #individualContainer .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #staticInfo .formElementWrapper:first-child {border-top: none;}
	#applicationForGlobalPaymentCapture #recipientProvinceInputPhysical .formElementWrapper:first-child {border-top: none;}
	/* Forex Travel Landing*/
	#forexTravelLanding #postalAddres .formElementWrapper:first-child {border-top: none;}
	/* eFiling Confirm*/
	#eFilingConfirm #efilingPaymentsTable .col1 {width:33.33%;}
	#eFilingConfirm #efilingPaymentsTable .col2 {width:33.33%;}
	#eFilingConfirm #efilingPaymentsTable .col3 {width:33.33%;}
	#eFilingConfirm #efilingPaymentsTable .col4 {width:33.33%;}
	#eFilingConfirm #efilingPaymentsTable .col5 {width:33.33%;}
	#eFilingConfirm .tableRowInner{padding:0 2px 42px 10px;}
	#eFilingConfirm #efilingPaymentsTable .col3 .hinner ,#efilingPaymentsTable .col4 .hinner,#efilingPaymentsTable .col5 .hinner{display:none;}
	/* eFiling Delete Select*/
	#eFilingDeleteSelect #efilingPaymentsTable .col1,
	#eFilingDeleteSelect #efilingPaymentsTable .col2,
	#eFilingDeleteSelect #efilingPaymentsTable .col3,
	#eFilingDeleteSelect #efilingPaymentsTable .col4,
	#eFilingDeleteSelect #efilingPaymentsTable .col5 {width:33.3333%;}
	#eFilingDeleteSelect #efilingPaymentsTable .col6 {width:100%;}
	#eFilingDeleteSelect .tableRowGroupInner .eziLinks {float:left;width:100%;position:absolute;left:0;bottom:0;}
	#eFilingDeleteSelect .tableContainer .eziLinks .eziLink {width:50%;border-right:none;}
	#eFilingDeleteSelect .tableRowInner {padding-bottom:42px;}
	#eFilingDeleteSelect .tableRowInner .eziLink.btt_1 {padding-left:55px;}
	#eFilingDeleteSelect #efilingPaymentsTable .col3 .hinner,#efilingPaymentsTable .col4 .hinner,#efilingPaymentsTable .col5 .hinner{display:none;}
	/* eFiling Landing*/
	#eFilingLanding #efilingPaymentsTable .col1,
	#eFilingLanding #efilingPaymentsTable .col2,
	#eFilingLanding #efilingPaymentsTable .col3,
	#eFilingLanding #efilingPaymentsTable .col4,
	#eFilingLanding #efilingPaymentsTable .col5 {width:33.3333%;}
	#eFilingLanding #efilingPaymentsTable .col6 {width:100%;}
	#eFilingLanding .tableRowGroupInner .eziLinks {float:left;width:100%;position:absolute;left:0;bottom:0;}
	#eFilingLanding .tableContainer .eziLinks .eziLink {width:50%;border-right:none;}
	#eFilingLanding .tableRowInner {padding-bottom:42px;}
	#eFilingLanding .tableRowInner .eziLink.btt_1 {padding-left:55px;}
	/* eFiling Payment Select*/
	#eFilingPaymentSelect #efilingPaymentsTable .col1,
	#eFilingPaymentSelect #efilingPaymentsTable .col2,
	#eFilingPaymentSelect #efilingPaymentsTable .col3,
	#eFilingPaymentSelect #efilingPaymentsTable .col4,
	#eFilingPaymentSelect #efilingPaymentsTable .col5 {width:33.3333%;}
	#eFilingPaymentSelect #efilingPaymentsTable .col6 {width:100%;}
	#eFilingPaymentSelect .tableRowGroupInner .eziLinks {float:left;width:100%;position:absolute;left:0;bottom:0;}
	#eFilingPaymentSelect .tableContainer .eziLinks .eziLink {width:50%;border-right:none;}
	#eFilingPaymentSelect .tableRowInner {padding-bottom:42px;}
	#eFilingPaymentSelect .tableRowInner .eziLink.btt_1 {padding-left:55px;}
	#eFilingPaymentSelect #efilingPaymentsTable .col3 .hinner,#efilingPaymentsTable .col4 .hinner,#efilingPaymentsTable .col5 .hinner{display:none;}
	/*Simple eFiling Payment Select*/
	#simpleEfilingLanding #efilingPaymentsTable .col1,
	#simpleEfilingLanding #efilingPaymentsTable .col2,
	#simpleEfilingLanding #efilingPaymentsTable .col3,
	#simpleEfilingLanding #efilingPaymentsTable .col4,
	#simpleEfilingLanding #efilingPaymentsTable .col5 {width:33.3333%;}
	#simpleEfilingLanding #efilingPaymentsTable .col6 {width:100%;}
	#simpleEfilingLanding .tableRowGroupInner .eziLinks {float:left;width:100%;position:absolute;left:0;bottom:0;}
	#simpleEfilingLanding .tableContainer .eziLinks .eziLink {width:50%;border-right:none;}
	#simpleEfilingLanding .tableRowInner {padding-bottom:42px;}
	#simpleEfilingLanding .tableRowInner .eziLink.btt_1 .eziInner {padding-left:55px;}
	#simpleEfilingLanding #efilingPaymentsTable .col3 .hinner,#efilingPaymentsTable .col4 .hinner,#efilingPaymentsTable .col5 .hinner{display:none;}
	/*Confirm Ezi Payment*/
	#confirmEziPayment .fifty
		{
		float: left;
		width: 135px;
		}
		#confirmEziPayment .contentGroup .twoThirds {
			width: 100%;
		}
		
		#confirmEziPayment .contentGroup .thirds {
			width: 100%;
		}
		
		#confirmEziPayment .dropDown
		{
		width: 80%;
		}
		
		#confirmEziPayment .input
		{
		width: 80%;
		}
		
		#confirmEziPayment .subTab2 
		{
		width: 80px;
		overflow: hidden;
		}
	/*Ezi Contact Portfolio Manager*/
		#eziContactPortfolioManager .fifty
		{
		float: left;
		width: 135px;
		}
		
		#eziContactPortfolioManager .contentGroup .twoThirds {
			width: 100%;
		}
		
		#eziContactPortfolioManager .contentGroup .thirds {
			width: 100%;
		}
		
		#eziContactPortfolioManager .dropDown
		{
		width: 80%;
		}
		
		#eziContactPortfolioManager .input
		{
		width: 80%;
		}
		
		#eziContactPortfolioManager .subTab2 
		{
		width: 80px;
		overflow: hidden;
		}
		/*Ezi Contact Portfolio Manager Results*/
		#eziContactPortfolioManagerResults .fifty
		{
		float: left;
		width: 135px;
		}
		
		#eziContactPortfolioManagerResults .contentGroup .twoThirds {
			width: 100%;
		}
		
		#eziContactPortfolioManagerResults .contentGroup .thirds {
			width: 100%;
		}
		
		#eziContactPortfolioManagerResults .dropDown
		{
		width: 80%;
		}
		
		#eziContactPortfolioManagerResults .input
		{
		width: 80%;
		}
		
		#eziContactPortfolioManagerResults .subTab2 
		{
		width: 80px;
		overflow: hidden;
		}
		/*Ezi Portfolio Share Search*/
		#eziPortfolioShareSearch .fifty
		{
		float: left;
		width: 135px;
		}
		
		#eziPortfolioShareSearch .contentGroup .twoThirds {
			width: 100%;
		}
		
		#eziPortfolioShareSearch .contentGroup .thirds {
			width: 100%;
		}
		
		#eziPortfolioShareSearch .dropDown
		{
		width: 80%;
		}
		
		#eziPortfolioShareSearch .input
		{
		width: 80%;
		}
		
		#eziPortfolioShareSearch .subTab2 
		{
		width: 80px;
		overflow: hidden;
		}
		/*Portfolio monthly viewpoint*/
		#portfolioMonthlyViewpoint .fifty
		{
		float: left;
		width: 135px;
		}
		#portfolioMonthlyViewpoint .contentGroup .twoThirds {
			width: 100%;
		}
		#portfolioMonthlyViewpoint .contentGroup .thirds {
			width: 100%;
		}
		#portfolioMonthlyViewpoint .dropDown
		{
		width: 80%;
		}
		#portfolioMonthlyViewpoint .input
		{
		width: 80%;
		}
		#portfolioMonthlyViewpoint .subTab2 
		{
		width: 80px;
		overflow: hidden;
		}
		/* SLOW CONNECTION POPUP */
		#slowConnectionContainer {
			margin: -12% 0 0 19px;
		}
		#slowConnectionContainer #SlowConnectionPopUp {
			height: 200px;
		}
		#SlowConnectionPopUp #buttonRow .floatContainer {
			margin: 0 20px;
		}
		/*Transfers Maintain Landing*/	
		#transfersMaintainLanding #transfersMaintenanceTable.tableContainer .dropdown-item-row {white-space: normal;}
}

@media
only screen and (max-width: 610px) {
   	.headerButton:first-child {
		width: 26%!Important;
	}
}
   @media
only screen and (max-width: 500px) {
   	.headerButton:first-child {
		width: 32%!Important;
	}
}
/* Custom ------------------------- */
@media
only screen and (max-width: 480px) {
	#actionMenu {
	top: 0;
	}
	.pageGroup {
		position: static;
	}
	.printAndDownloadContainer {right: auto;}
	.isExpanded #actionMenuTextWrapper{
		right: 0!Important;
		left: auto!Important;
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	#eziPannelButtons {
	padding-right: 0;
	}
	.applyHeaderButton{
		display:none;
	}
	.fancyText {
		display:none;
	}
	#newsLanding #demoVideo {
		display:none!important;
		}
	
	.hideForMobile {
		padding-right: 0;
	}
	#paymentsTable .col1, #paymentsTable .col2 {
		width: 43%!Important;
	}
	.tableCell .rowMoreButton {
		width: 15%;
	}
	.big3Inner {
		padding: 5px 0 0 0!Important;
		background-position: 100% 35%!Important;
	}
	#paymentsTable .tableCell.right, .tableCellItem.right, .right .tableCellItem {
		padding-right: 3px;
	}
	.subTabsMenuInner {
		height: auto;
	}
	.subTabsMenu {
		height: auto;
	}
	.subTabsScrollable{
		height: auto;
	}
	#actionWrap {
		left: 0!Important;
		top: 0!Important;
		width: auto!Important;
		padding-bottom: 0!Important;
		bottom: 0!Important;
		z-index: 210!Important;
		min-height: 100%!Important;
	}
	#actionWrap.grid100{
		width: 100%!Important;
	}
	#actionMenuButtonWrapper {
		z-index: 211;
	}
	.eziWrapperOuter {
		z-index: 202;
		min-height: 100%;
		top: 0px;
	}
	.eziWrapper #pageActionBar #eziPannelButtons {
		width: 100%;
	}
	.eziWrapper {
		top: 0px!Important;
		bottom: 0px!Important;
		width: 100%!Important;
		z-index: 160;
	}
	#eziPannelButtonsWrapper {
		left: 0px!Important;
		bottom: 0px!Important;
		z-index: 180;
	}
	.mobiPopupWrapper {
		position: absolute;
		background: #d7efef;
		top: 0;
		z-index: 180;
		left: 0px;
		right: 0;
		bottom: 0px;
		overflow-y: scroll;
	}
	.mobiDropdownClose{
		display:block;
	}
	.mobiDropdownInnerLabelWrapper{
		display: block;
		color: #000;
		font-size: 14px;
		padding: 10px 10px 10px 0;
	}
	.mobiFooterButton {
		display: block;
		color: #000;
		font-size: 14px;
		padding:0;
	}
	.mobiPopupWrapper {
		top: 0;
		z-index: 210;
		left: 0px;
		right: 0;
		bottom: 0px;
	}
	.dropdown-content-wrapper {
		z-index: 300;
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		width: auto!important;
		bottom: 0px!important;
		overflow: hidden;
	}
	.eziWrapper .dropdown-content-wrapper {
		top: 0;
		left: 0;
	}
	
	.dropdown-content {	
		height: 94%!important;
	
	max-height: 100%!important;
		width: 100%;
		position: relative;
}
	#eziWrapper .pagination {
	width: 100%;
	}
	.mobiPopupWrapper .dropdown-content-wrapper {
		z-index: 2000;
		margin: 0;
		top: 0px;
		left: 0px;
		right: 0;
		width: auto!important;
		height: 100%!important;
		bottom: 0;
	}
	.mobiPopupWrapper .dropdown-content {
		max-height: none!important;
	}
	.mobiPopupWrapper-bcal-container {
		/* z-index: 190!Important;
		left: 0!Important;
		top:0!Important;
		bottom:0!Important;
		height:auto!Important; */
	}
	
	.bcal-nav-left {
		cursor: text;
		position: absolute;
		left: -40px;
		top: -15px;
	}
	.bcal-nav-right {
		cursor: text;
		position: absolute;
		right: -35px;
		top: -15px;
	}

	.mobiPopupWrapper-bcal-container .background-bcal-container {

	}
	.mobiPopupWrapper-bcal-container .inner-bcal-container {

	}
	.mobiPopupWrapper-bcal-container .bcal-month {

	}
	.mobiPopupWrapper-bcal-container .calendarCancelButton p {
		font-size: 14px;
	}
	.mobiPopupWrapper-bcal-container p {
		padding-left: 5px;
	}
	.mobiPopupWrapper-bcal-container .calendarButtonIcon {
		width: 27px;
		height: 27px;
		margin: 10px 0 0 0;
		background-size: 100%!Important;
	}
	.mobiPopupWrapper-bcal-container .calendarDoneButton:hover .calendarButtonIcon{
		background-size: 100%!Important;
		margin: 10px 0 0 0!Important;
	}
	.mobiPopupWrapper-bcal-container .calendarCancelButton:hover .calendarButtonIcon{
		background-size: 100%!Important;
		margin: 10px 0 0 0!Important;
	}
	.mobiPopupWrapper-bcal-container .calendarHolidayCancelButton:hover .calendarButtonIcon{
		background-size: 100%!Important;
		margin: 10px 0 0 0!Important;
	}
	.mobiPopupWrapper-bcal-container #yearPicker_calendar{
		position: absolute!Important;
	}
	.mobiPopupWrapper-bcal-container .bcal-container .dropdown-content-wrapper {
		margin: -15px 0 0 22px!Important;
		width: 80px!Important;
		height: 60px!Important;
	}
	/* actionmenu Tables */
	#actionMenuUrlWrapper #actionTableClose {
		height: 30px;
		width: 40px;
		background: url("/banking/03images/base/actionmenu/closeBtt.gif") no-repeat center center;
		top: 5px;
	}
	#actionMenuUrlWrapper .actionMenuLeftBar {
		height: 100%;
		position: static;
		top: 0px;
		bottom: 0px;
		background-color: #B1B1B1;
		background-image:none;
		width:100%;
	}
	#actionMenuUrlWrapper .input-wrapper.searchField .formElementContainer {
		padding-right: 34px;
		position: relative;
		right: 2px;
		top: 2px;
		width: 100%;
	}
	#actionMenuUrlWrapper .tableContainer {
		padding-right: 0;
		position: static;
		left: 10px;
		float: none;
		width: 100%;
	}
	#actionMenuUrlWrapper .table {
		margin-left: 0;
		width: 100%;
	}
	.actionMenuUrlWrapper .tableContainer .tableCellItem {
		height: auto;
	}
	#actionMenuUrlWrapper .actionMenuLeftBar p {
		color: #fff;
		font-size: 16px;
		margin-top: 4px;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}
	#actionMenuUrlWrapper .formElementWrapper {
		padding-top: 3px;
	}
	/* Logoff Timer */
	#sessionTimedOutOverlay {
		top: 0!Important;
		bottom: 0!Important;
	}
	#logOffTimerPopUp {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	#logOffTimerPopUp .clock {
		background: url("../../03images/base/logoff/clockBg.png") no-repeat center center transparent;
		height:184px;
		
	}
	#logOffTimerPopUp #buttonRow {
		display: block;
		width: 100%;
		float: left
	}

	#logOffTimerPopUp #buttonRow .buttoncell {
		padding: 30px 0px 30px 55px;
		display: block;
		margin-right: 10px;
		background: url("../../03images/base/actionmenu/dot-button-off.png") no-repeat center left transparent;
		text-align: right;
		cursor: pointer;
		font-size: 14px;
		float: left;
	}

	#logOffTimerPopUp #buttonRow .buttoncell:hover {
		background: url("../../03images/base/actionmenu/dot-button-over.png") no-repeat center left transparent;
	}

	#logOffTimerPopUp #buttonRow .floatContainer {
		display: block;
		float: right;
		margin: 0 auto;
	} 
	#logOffTimerPopUp #timer {
		font-size: 60px;
		display: block;
		width: 100%;
		text-align: center;
		padding-top:38px;
	}

	#logOffTimerPopUp #timerText {
		font-size: 20px;
		display: block;
		width: 100%;
		text-align: center;
	}

	#logOffTimerPopUp .clockContainer {
		width: 100%;
		padding-top: 20px;
	}

	#logOffTimerPopUp #messageText {
		float: left;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 20px;
		padding: 20px 20px 0 20px;
		text-align: center;
		width: 100%;
	}
	/* BIG THREE */
	.big3Heading {
		padding-left: 15px;
		padding-right: 10px;
	}
	.big3Paragraph {
		font-size:14px;
		padding: 0 30px 0.5em 15px!Important;
	}
	.big3Container {
		min-width: 300px!important;
	}
	/* ActionmenuWrapper */
	.actionMenuUrlWrapper #option_items .col1{
		width: 50%!important;
	}
	.actionMenuUrlWrapper #option_items .col2{
		width: 50%!important;
	}
	.actionMenuUrlWrapper #option_items .col3{
		width: 50%!important;
	}
	.actionMenuUrlWrapper #option_items .col4 {
		width: 50%!important;
	}
	
	/* POP */
	#popupWrapper {
		left: 0;
		top: 0!Important;
		bottom: 0!Important;
		z-index: 300;
	}
	#MOBILE_OFFER_FORM .scrollingBannerContainer {
		top: 20%!Important;
	}
	#popupWrapper #extendedPageHeader {
		padding: 10px 0 10px 0;
	}
	#actionWrap {
		padding-left: 0px!important;
	}
	/* Add Recipients */
	#recipientForm .gridGroup{
		position:static;
	}
	#extendedPageHeader.withExtraContent .dropdownElementWrapper {
		position: static;
	}
	/* ACTION MENUS */
	.actionMenuHeader.grey2 {
		font-size: 14px;
	}
	.actionListLink {
		margin-top: 14px;
		padding: 10px 0px 0px 10px;
	}
	.actionListLink:last-child{
		padding-bottom: 20px;
	}
}

   @media
only screen and (max-width: 320px) {
   	.headerButton:first-child {
		width: 36%!Important;
	}
}
/* Smartphones & Tablets (landscape) & Splitted Desktops --- */
@media
only screen and (min-width: 800px) and (max-width: 1000px) {
   #footerWrapperNew #fnb-logo{
		/* background: url("../../03images/base/frame/fnb-logo-thin.png") no-repeat!Important; */
	}
		/*Confirm Ezi Payment*/
		#confirmEziPayment .contentGroup .twoThirds {
			width: 100%;
		}
		
		#confirmEziPayment .contentGroup .thirds {
			width: 100%;
		}
		
		#confirmEziPayment .note
		{
		height: 60px;
		}
		
		#confirmEziPayment .nb
		{
		height: 60px;
		}
		/*Ezi Contact Portfolio Manager*/
		#eziContactPortfolioManager .contentGroup .twoThirds {
			width: 100%;
		}
		
		#eziContactPortfolioManager .contentGroup .thirds {
			width: 100%;
		}
		
		#eziContactPortfolioManager .note
		{
		height: 60px;
		}
		
		#eziContactPortfolioManager .nb
		{
		height: 60px;
		}
		/*Ezi Contact Portfolio Manager Results*/
		#eziContactPortfolioManagerResults .contentGroup .twoThirds {
			width: 100%;
		}
		
		#eziContactPortfolioManagerResults .contentGroup .thirds {
			width: 100%;
		}
		
		#eziContactPortfolioManagerResults .note
		{
		height: 60px;
		}
		
		#eziContactPortfolioManagerResults .nb
		{
		height: 60px;
		}
		/*Ezi Portfolio Share Search*/
		#eziPortfolioShareSearch .contentGroup .twoThirds {
			width: 100%;
		}
		#eziPortfolioShareSearch .contentGroup .thirds {
			width: 100%;
		}
		#eziPortfolioShareSearch .note
		{
		height: 60px;
		}
		#eziPortfolioShareSearch .nb
		{
		height: 60px;
		}
		/*Portfolio Monthly viewpoint*/
		#portfolioMonthlyViewpoint .contentGroup .twoThirds {
			width: 100%;
		}
		#portfolioMonthlyViewpoint .contentGroup .thirds {
			width: 100%;
		}
		#portfolioMonthlyViewpoint .note
		{
		height: 60px;
		}
		#portfolioMonthlyViewpoint .nb
		{
		height: 60px;
		}
		
		/* Transfers View Details */
		#transFersViewDetails #fromAccountReference:before,
		#toAccountReferennce:before {color:#666; }
		#transFersViewDetails #fromAccountReference:before {content:"From: ";}
		#transFersViewDetails #toAccountReferennce:before {content:"To: ";}
		#transFersViewDetails #transfersViewDetailsTable .col4,
		#transfersViewDetailsTable .col5 {width:30%; line-height:22px;}
		#transFersViewDetails #transfersViewDetailsTable .col4 {height:0;}
		#transFersViewDetails #transfersViewDetailsTable .col5 {height:21px; padding-top:21px;}
		#transFersViewDetails #toAccountReferennce.tableCellItem,
		#fromAccountReference.tableCellItem {height:22px; overflow:hidden;}
		#transFersViewDetails .col5 .tableHeaderCellItem .hinner,
		.col5 #toAccountReferennce.tableCellItem{text-indent:16px;}
}


@media only screen and (min-width: 0px) and (max-width: 1280px) {
	
	.td.ghostBlock{
		display: none;
	}
	
}

/* --------------------------------------------------------- */
/* DEVICES BY RATIO ---------------------------------------- */
/* --------------------------------------------------------- */
 
 
/* iPads (portrait and landscape) -------------------------- */
@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* #footerWrapperNew #fnb-logo{
		background: url("../../03images/base/frame/fnb-logo-thin.png") no-repeat;
	} */
}
 
 
/* iPads (portrait) ---------------------------------------- */
@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* #footerWrapperNew #fnb-logo{
		background: url("../../03images/base/frame/fnb-logo-thin.png") no-repeat;
	} */
}
 
 
/* iPads (landscape) --------------------------------------- */
@media
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* #footerWrapperNew #fnb-logo{
		background: url("../../03images/base/frame/fnb-logo-thin.png") no-repeat;
	} */
}

/* Galaxy Tab 10.1 (p7500) (landscape) --------------------------------------- */
@media (max-device-width: 1280px) and (orientation: landscape) { 
	 
   .print {
	display:none;
   }
}


/* HighRes ------------------------------------------------- */
@media
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
    .print {
	display:none;
   }
}
 @media only screen and (-webkit-min-device-pixel-ratio: 2) {
 
   .print {
	display:none;
   }
}
@media only screen and (max-device-width: 480px) {
  
   .print {
	display:none;
   }
}
@media only screen and (device-width: 768px) {
 
   .print {
	display:none;
   }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  
   .print {
	display:none;
   }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    .print {
	display:none;
   }
}

@media only screen and (-webkit-device-pixel-ratio:1.5){

   .print {
	display:none;
   }
}
@media all and (min-width: 799px) and (max-width: 8000px){
    .mobiPopupWrapper{
	display:none;
   }
}


@media only screen and (min-width : 920px) {

.footerMessageInner{
	padding-left: 25px;
	padding-right: 2px;
	/* max-width: 904px; */
	margin: 0 auto;
	float: none;
	}
}

@media only screen and (min-width :1300px) {

	.footerMessageInner{
	padding-left: 24px;
	/* padding-right: 3px; */
	max-width: 1283px;
	margin: 0 auto;
	float: none;
	}
}

@media all and (min-width: 1280px) and (max-width: 8000px){
	.eziWrapper {
	/* margin-right: 3px; */

	}
	#eziPannelButtons {
		/* margin-right:3px; */
	}

	#actionMenuTextWrapper {
		left: -630px;
	}
	.actionMenuButtonWrapperInner {
		position: relative;
	}
	.htmlBackGround {	/* background: url("../../03images/base/frame/left-side-bar-max.png") repeat-y center center #f2f2f2; */}
	.left-sidebar-bottom {
		/* left: 2px; */
	}
	#footerWrapperNew{
		/* padding-right: 3px; */
	}

	#footerWrapperNew #fnb-logo {
	
	} 
	.footerMessageInner{
		/* padding-left: 37px; */
		/* padding-right:3px; */
		max-width: 1280px;
		margin: 0 auto;
		float: none;
	}
	.pageWrapper {
		/* padding-left: 26px; */
		/* display: table; */
		/* width: 100%; */
		/* border-right: 2px solid white; */
}
	
	#actionWrap{
		/* padding-left: 24px; */
		max-width: 1280px;
	}
	#popupWrapper {
		left: 24px;
	}
	.overlay {
		left: 24px;
	}
	.timeOverlay {
		left: 0;
		max-width: 1280px;
	}
 	.topNavWrapper{
		/* margin: 0px 0px 0px 37px; */
	}
	.topNavWrapperOver10{
		margin: 0px 0px 0px 0px;
	}
	.bcal-container{
		left: 24px;
	}
	
	#slowConnectionContainer {
		margin: -5% 0 0 17px;
	}
}

@media only screen 
  and (min-device-width: 1280px)
  and (max-device-width: 2048px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
	/* html {
		max-width: 100%!Important;
	}
	body {
		max-width: 100%!Important;
	} */
	.topMenu {
		max-width: 100%!Important;
	}
	#StandardProgressWrapper {
		max-width: 100%!Important;
	}
	.overlay {
		max-width: 100%!Important;
	}
	#workspace{
		max-width: 100%!Important;
	}
	#footerWrapperNew{
		max-width: 100%!Important;
	}
	#formFooterButtons {
		max-width: 100%!Important;
	}
	
}

@media all and (min-width:1px) {
    .mediaQueryTest {position:absolute}
}

@media all and (min-width: 800px) and (max-width: 830px){
	#buyAirtime_landing .td .formElementLabelSingle {
    	padding: 12px 4px 0 15px;
	}
}

@media only screen and (max-width: 640px) and (min-width: 320px) and (orientation: landscape){
	
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation:landscape) {
	.content {
		padding: 0 0px 0 0px;
	}
}

