
@page { size:landscape; }
.groupedCol1{width:100%;}

.pageGroup {padding-top:50px;}
*{padding:0px;margin:0px;color:black!important;font-family:Arial,sans-serif}
.downloadValue{display:block;float:right;}
.printLogo{display:block;position:absolute;right:20pt;top:18pt;}
.tableHeaderRow a.selectAllLink {display:none;}
.formElementWrapper {display:block;float:left;width:100%;}
.dropdownElementWrapper{display:none;}
.note{float:left;}
.formElementLabel {
float:left;display:block;
width:30%;
}

[data-type="threeTier"] {
	display: none;
}

[data-type="singleTier"] {
	display: none;
}

.dropdown-hidden-input {display:none;}
.big3OuterWrapper{display:none;}
.big3Inner{display:none;}
#big3ShoutOut{display:none;}
.rowMoreButton{display:none;}
.formElementContainer {
float:left;display:block;
}
.singleTierDropDown{display:none;}
.displayNone.drop
.dropdown-initiator{display:none;}
#subTabsContainer {
	display: none;
}
.copyRows {
	display: none;
}

[data-role="headerButtonsInner"] {
	display: none;
}
#tableHeaderUtils{display:none;}

#topNavWrapper {
	display: none;
}
#extendedPageHeader {
	padding-left:0px!important;
	padding-bottom:5px!important;
	display:block;
}

.pageWrapper {
padding-left: 0px!important;
padding-top: 0px!important;
}

.dlItemWrapper {
border-top: 1px solid #ccc;
width:100%;
display:block;
float:left;
}
.dlTitle.formElementLabel {
padding: 10px 10px 10px 0px;
float:left;
display:block;
width:30%;

}
.dlTitle.formElementLabel:after {
	content: ":";
	
}
.dlData.formElementContainer{
padding: 10px 10px 10px 0px;
float:left;
display:block;	
}
#extendedPageHeader h1 {
	font-size: 18pt;
	line-height: 30pt;
	border-bottom: 2px solid #000;
	padding-top: 10px!important;
	padding-right:5px!important;
	padding-bottom:10px!important;
	padding-left: 0px!important;
		display:block;
}
h2{padding-bottom:10px;}
.tableHinnerContent.noGroupImg {font-size:20px;}
.tableHeaderRow.tableGroupHeader{border-top:1px solid #000;} 
.hinner {}
#extendedPageHeader.subTabHeadingFix {
padding-left:0px!important;
padding-bottom:5px!important;
}
.tableHeaderRow {
display: block;
width: 100%;
clear: both;
float: left;
padding-top:10px;
padding-bottom:10px; 
border-bottom:1px solid #000;
border-top:none;
}
.tableRow {
display: block;
width: 100%;
clear: both;
float: left;
position: relative;
border-bottom:1px solid #ccc;

}
.eziLinks{display:none;}
.pagingWrapper{display:none;}
.tableCell, .groupColCell {
display: block;
float: left;
}
.hiddenLabel {
display: none;

}
.tableGroupHeader img.folderImg {
display:none;
}
#formFooterButtons{display:none;}

.confirmPage .tableCell {
padding: 5px 0px 0px 0px;
width:49%;
float:left;
display:block;
}
.whiteMessageContainer{font-size:25px;}
.printAndDownloadContainer {display:none;}
.confirmPage .tableRow {
clear: both;
display: block;
float: left;
width: 100%;
min-height: 34px;
}
.confirmPage .tableCellItem.doubleItemTop{} 
.tableRowInner {
width:100%;
float:left;
display:block;

}
.confirmPage .tableGroup.groupColCell.grid100{display:block;float:left;width:100%;}

	/* BATCH VIEW PAYMENT */
	#batchPaymentsRecipientsTable .col1{width:20%;}
	#batchPaymentsRecipientsTable .col2{width:20%;}
	#batchPaymentsRecipientsTable .col3{width:20%;}
	#batchPaymentsRecipientsTable .col4{width:15%;}
	#batchPaymentsRecipientsTable .col5{width:20%;}
	#batchPaymentsRecipientsTable .col6 {display: none;}
	
	/*Unnominated BATCH VIEW PAYMENT */
	#UnNominatedPaymentBatch .col6 {display: none;}
	#UnNominatedPaymentBatch .col8 {display: none;}
	 #UnNominatedPaymentBatch .col1{width:20%;}
    #UnNominatedPaymentBatch .col2{width:15%;}
    #UnNominatedPaymentBatch .col3{width:15%;}
    #UnNominatedPaymentBatch .col4{width:15%;}
    #UnNominatedPaymentBatch .col5{width:15%;}
    #UnNominatedPaymentBatch .col7{width:20%;}
    
    
    	/***********3PFM*************/
	    
		/***********3PFM*************/
	    

		
	    /* printLayout1 */
	    .printLayout1  .tableRow,  .printLayout1 .tableHeaderRow , #tableHeaderRow_0{
			border-bottom:none!important;
			border-top:none!important;
		}	    

		.printLayout1 .tableRowHeader{
	    background:#FFFFFF;
	    }
	    
	    .printLayout1 .tableHeaderRow{
	    border-top:3px solid #000000!important;
	    }
	    
	    .printLayout1 .col2,.printLayout1 .col3{
	    border-left:2px solid #000000!important; 
	    padding-left:10px!important;
	    height:25px!important;
	    }

		.tpfmPage .printLayout1 .col1{
			    width:37%!important;
			    }
			    
		.tpfmPage .printLayout1 .col2{
			    width:20%!important;
			    }
			    
		.tpfmPage .printLayout1 .col3{
			    width:25%!important;
			    }	    

		.printLayout1 .tableRow ,.printLayout1  .tableHeaderRow {
		padding-top:0px!important;
		padding-bottom:0px!important;
		line-height:25px!important;
		}
	    
	    /* printLayout1 */
	    
	    /* printLayout2 */
	    
		.printLayout2 .tableRowHeader{
	    background:#000000;
	    }

		
		.printLayout2  .tableHeaderRow div.hinner{
		color: #FFFFFF !important;
		}
		
		.printLayout2 .tableHeaderRow.tableGroupHeader div, .printLayout1 .tableHeaderRow.tableGroupHeader div{
		font-family: Helvetica,FoundationRoman,Sans-serif;
		
		}	    

	    
	   	.printLayout2  .groupedCol1{
		width:100%!important;
		}
		
		
		.printLayout2 .tableDataRow{
		padding-top:5px!important;
		padding-top:2px!important;
		border-top:none!important;
		border-bottom:2px solid #000000;
		page-break-inside:avoid;
		}		

		
		.printLayout2 .expandableTableRow{
		display:none;
		}		
	    /* printLayout2 */
	    
	    /* printLayout3 */
		.printLayout3  .tableRow,  .printLayout3 .tableHeaderRow , #tableHeaderRow_0{
			border-bottom:none!important;
			border-top:none!important;
		}


		.tpfmPage .printLayout3 .col1{
	    width:20%!important;
	    }
			    
		.tpfmPage .printLayout3 .col2{
	    width:20%!important;
	    }
			    
		.tpfmPage .printLayout3 .col3{
	    width:20%!important;
	    }
		
		.tpfmPage .printLayout3 .col4{
	    width:20%!important;
	    }
			    
		.tpfmPage .printLayout3 .col5{
	    width:19%!important;
	    }	    

		.printLayout3 .tableRowHeader{
	    background:#FFFFFF;
	    }
	    
	    .printLayout3 .tableHeaderRow{
	    border-top:3px solid #000000!important;
	    }
	    
	    .printLayout3 .col2,.printLayout3 .col3,.printLayout3 .col4,.printLayout3 .col5{
	    border-left:2px solid #000000!important; 
	    padding-left:10px!important;
	    height:25px!important;
	    }
		
			   
		.printLayout3 .tableRow ,.printLayout3  .tableHeaderRow {
		padding-top:0px!important;
		padding-bottom:0px!important;
		line-height:25px!important;
		}	   

		/* printLayout3 */
		
		/* printLayout4 */
	
		.tpfmPage .confirmHeaderTopText {
		display:none!important;
		}


		.printLayout4 .tableCell {
		border-left:1px solid #000000;
		padding-left:10px!important;
		}
		
		.printLayout4 .tableRow.tableDataRow{
		margin-bottom:5px!important;
		}
		
		.printLayout4 .tableHeaderRow.tableGroupHeader{
		margin-bottom:5px!important;
		}
		
		.printLayout4 .tableHeaderRow.tableGroupHeader div{
		font-size:14px!important;
		font-family:Helvetica,FoundationRoman,Sans-serif!important;
		}	
	    
	    /* printLayout4 */		
	
		.printOnlyHeader{
		display:inline!important;
		font-size: 18px!important;
		}
		
	    .tpfmPage .formTable {
		border-bottom: none!important;
		border-top: none!important;
		}
		
		.tpfmPage .tableContainer {
		margin-bottom:10px!important;
		}
	   
	   
	   	.htmlBackGround{
	   	background:none!important;
	   	}
	    
		 .tableHeaderRow.tableGroupHeader .tableHinnerContent{
		font-size: 15px!important;
		}

		.printHide{
		display:none!important;
		}

		.formElementWrapper {
			padding: 0!important;
		}