


.ProgressWrapperContainer{
	position: absolute;
	top: 64px;
	width: 100%;
	/* padding-left: 24px; */
	z-index: 151;
}


#eziWrapper .ProgressWrapperContainer {top:0px}

#eziWrapper #loading{margin: 18px 0 0 15px;color: #000;}

#StandardProgressWrapper {
	right: 0;
	z-index: 150;
	height: 45px;
	width: 100%;
	/* background: #099; */
	/* border-bottom: 5px solid #fff; */
	/* border-top: 5px solid #fff; */
	max-width: 1280px;
	max-width: 1252px\9;
	padding-left: 0px;
	margin: 0 auto;
	position: relative;
	padding-left: 24px;
}

.lt-ie9  #StandardProgressWrapper.progressWrapperStandard {
	left: 0px;
	max-width: 1280px;
	max-width: 1252px\9;
}

#StandardProgressWrapper.progressWrapperStandard {
	left: 0px;
}
#StandardProgressBarPercent {

	display: none;
}
.progressBarHidden {
	display:none;
}
#loading {
	color: #fff;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 30px;
	margin: 2px 0 0 15px;
	position: absolute;
	left: 0;
}
#StandardProgressBar {
	height: 20px;
	background: #009999;
	/* position: absolute; */
	/* left: 24px; */
}
#StandardProgressBarPercent.progressBarPercent13 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#StandardProgressBarPercent.progressBarPercent14 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
#StandardProgressBarPercent.progressBarPercent15 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#StandardProgressBarPercent.progressBarPercent16 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
#StandardProgressBarPercent.progressBarPercent17 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
#StandardProgressBarPercent.progressBarPercent18{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1
}
/* DONOVAN EZI PROGRESS  */
#EziProgressWrapper {
	right: 0;
	left: 0;
	position: absolute;
	top: 0px;
	z-index: 150;
	/* height: 45px; */
	/* background: #099; */
	/* border-bottom: 5px solid #fff; */
	/* border-top: 5px solid #fff; */
}
#EziProgressWrapper.progressWrapperStandard {
	left: 0;
}
#EziProgressBarPercent {
	float: right;
	color: #fff;
	padding: 3px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 30px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	display: none;
}
.progressBarHidden {
	display:none;
}
#loading {
	color: #fff;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	font-size: 16px;
	margin: 2px 0 0 32px;
	position: absolute;
}
#EziProgressBar {
	height: 16px;
	background: #009999;
}
#EziProgressBarPercent.progressBarPercent13 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#EziProgressBarPercent.progressBarPercent14 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
#EziProgressBarPercent.progressBarPercent15 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#EziProgressBarPercent.progressBarPercent16 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
#EziProgressBarPercent.progressBarPercent17 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
#EziProgressBarPercent.progressBarPercent18{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1
}

#StandardProgressBarPercent.progressBarPercent24 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#StandardProgressBarPercent.progressBarPercent25 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
#StandardProgressBarPercent.progressBarPercent26 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#StandardProgressBarPercent.progressBarPercent27{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
#StandardProgressBarPercent.progressBarPercent28 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
#StandardProgressBarPercent.progressBarPercent29{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1
}