html,body,
h1,h2,h3,h4,h5,h6,
strong,b,em,i,u,cite,code,del,strike,ins,big,small,sub,sup,
p,pre,blockquote,abbr,acronym,span,a,q,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,button,
div,iframe,img,table,caption,tbody,tfoot,thead,tr,th,td{font-family:Arial, Helvetica, sans-serif !important;}
strong,b{}

/* ----- FRAME ----- */
#overlay,.overlay{background-color:#666;}
.htmlBackGround,
/* #footerWrapper #footerContent{background-color:#E7E7E7 !important;} */
#footerWrapperNew #fnb-logo{background-position:0 0 !important;}
#fnb-logo{background-position:0 0 !important;}
#footerWrapperNew .footerBorder {background-color:#CCC;height:1px;}
.htmlBackGround,
.left-sidebar-top,
.left-sidebar-bottom{background-image:none !important;}
.left-sidebar-bottom{background-color:#E7E7E7 !important;width:35px;}
#main{border:1px solid #CCC; border-right:0 none;}
#workspace {background:none;}

.note a{color:inherit;}

/* CSS ARROWS */
.inputNoteArrow,
.branchSearchBank.inputNote .inputNoteArrow,
.tooltip.leftScreen .tooltip-pointer,
.tooltip.rightScreen .tooltip-pointer,
.tableHinnerImage,
.tableHeaderControls .tableActionButton .tableActionButtonContent .tableActionButtonContentArrow,
.inputNoteArrowDown{
	background:none transparent;
	display:block;
	width:0;
	height:0;
}

/* ----- TOP NAVIGATION ----- */
#headerButtonsWrapper .headerButton:first-child a span{/* line-height:35px; */}
#headerButtonsWrapper .headerButton:last-child{border-left:0 none;}
#headerButtonsWrapper .headerButton a span{
	border-color: transparent;
	padding-left: 6px;
	}
.headerButton a.commercialContactBtn,
.headerButton a.corporateContactBtn,
.headerButton a.foreignContactBtn,
.headerButton a.privateContactBtn,
.headerButton a.premier1ContactBtn,
.headerButton a.premier2ContactBtn,
.headerButton a.premier3ContactBtn,
.headerButton a.noBankerContactBtn{padding-left: 33px;}
.headerButton a.inboxBtn{padding-left: 33px;}
.headerButton a.settingsBtn{padding-left: 33px;}
.headerButton a.logoutBtn{/* padding-left:8px; */}

/* ----- MAIN NAVIGATION ----- */
#topNav .gridCol {text-align:center;}
#topNav .gridCol.lastTab{background-image:none !important;}

#topNavMenuSlider,
#topNavBottomBorder{height:0;}
#topNavMenuSliderIndicator{margin-top:-6px;}

.rightScrollBottomBorder{background-image:none;}

/* ----- SUBTABS ----- */
.subTabsMenu{border-bottom-color:#FFF;background-color:#F6F6F6;padding-bottom:5px;}
.subTabsMenu .subTabText{text-align:center;padding:0;}
.subTabsMenu div.subTab{background-image:none;background-color:#E7E7E7;border:1px solid #CCC;border-bottom:0 none;}
.subTabsMenu div.subTab.active{background-color:#FFF;color:#666;}

#extendedPageHeader h1 {background-color:transparent;border-bottom:5px solid transparent;color: #000;}
#extendedPageHeader.withExtraContent,
#extendedPageHeader.withExtraContent h1 {background-color:transparent;}

/* ----- TABLES CONTROLS ----- */
.tableHeaderControls{margin-top:-1px;}
.tableHeaderControls .tableActionButtonContainer{border-left-color:#FFF;}

.tableHeaderControls .formElementLabel.switcherLabel,
.headerControlLabel{color:#FFF;}

.tableHeaderControls .tableActionButton,
.tableHeaderControls .tableActionButton:hover{color:#FFF;}

.tableHeaderControls .tableActionButton.addButton		{/* background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-add_w.png"); */}
.tableHeaderControls .tableActionButton.searchButton	{/* background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-search_w.png"); */}
.tableHeaderControls .tableActionButton.searchClose		{background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-close_w.png");}
.tableHeaderControls .tableActionButton.downloadButton	{/* background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-download_w.png"); */}
.tableHeaderControls .tableActionButton.printButton		{/* background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-print_w.png"); */}

.tableHeaderControls .tableActionButton .tableActionButtonLabel{font-size:13px;color:white}
.tableHeaderControls .tableActionButton .tableActionButtonContent{background-color:transparent;}
.tableHeaderControls .tableActionButton .tableActionButtonContent a{color:#FFF;}
.tableHeaderControls .tableActionButton .tableActionButtonContent .tableActionButtonContentArrow{border-bottom:15px solid #FFF; border-left:10px solid transparent;top:-15px;}

/* ----- TABLES ----- */
.tableGroupHeader,
.tableGroupHeader.tableHeaderRow{background-color:transparent;}
.tableGroupHeader.tableHeaderRow{color:#999;}
.tableContainer .eziLinks .eziLink{margin:1px 5px 0 0;}
.tableRow,
.tableNoDataText{border-bottom-color:#B8B8B8;}
.tableNoDataText{background-color:#F7F7F7;}

.tableHeaderRow div {
	color: white;

}

.tableHeaderRow a.selectAllLink,
.tableHeaderRow a.copyRows {background-color:#FFF;}

.tableHinnerImage{border-top:5px solid #F6F6F6; border-left:5px solid transparent; border-right:5px solid transparent;}

.tableHinnerContent,
.confirmPage .tableHeaderRow .tableHeaderInnerRow,
.confirmHeader .confirmHeaderInner{color:#666;}
.confirmPage .tableHinnerImage{border-top-color:#E7E7E7;}

.tableCellItem.goodStatus,
.tableCellItem.badStatus{background-position:left center;}

.tableCellItem.print,
.confirmFinishHeaderButtonContainer .print		{background-image:url("/banking/03images/fnb/finish/icon_print.png");}
.tableCellItem.download,
.confirmFinishHeaderButtonContainer .download	{background-image:url("/banking/03images/fnb/finish/icon_download.png");}
.tableCellItem.email,
.confirmFinishHeaderButtonContainer .email		{background-image:url("/banking/03images/fnb/finish/icon_email.png");}
.turq .pendingStatus,
.tableCellItem.pendingStatus,
.confirmFinishTable .pendingStatus				{background-image:url("/banking/03images/fnb/finish/pendingColorIcon.png");}

.tableCell .rowMoreButton .arrow{background-position:center center;}

.footerMessage{border-left:0 none;color:#FFF;}

.confirmPage .recipientCount{border-color:#FFF; color:#FFF; }
.confirmPage .confirmNoteColumn .note{color:#000;}

/* ----- PAGINATION ----- */
.pagingChoice input,
.pageLimits .dropdown-selection,
.pagination .dropdown-selection-white{border:2px solid #CCC;}

/* ----- PROGRESS BAR ----- */

/* ----- CALENDAR ----- */
.bcal-container,
.background-bcal-container{background-color:#FFF;}
.bcal-table thead th,
.bcal-table tbody td{color:#666;}
.bcal-table thead th.bcal-wday{color:#000;}
.bcal-table .bcal-wnum{
	border-right-color:transparent;
	border-bottom-color:transparent;
	color:#000;
	background-image:none;
}
.bcal-table .bcal-empty{color:#CCC;}
.bcal-table .bcal-date{color:#666;}
.bcal-table .bcal-date-weekend{background-color:#EEE;color:#666;}
.bcal-table .bcal-date-weekend:hover{background-color:#DDD;color:#333;}
.bcal-table .bcal-past{background-color:#F7F7F7;color:#999;}
.bcal-table .bcal-past:hover{background-color:#E0E0E0;color:#666;}
.bcal-table .bcal-week{background:#FAFAFA;color:#999;}

.bcal-table .bcal-today{background-color:#F7F7F7;color:#000;}
.bcal-table .bcal-selected{color:#000;}

.bcal-container .dropdown-item {background-color:#EEE;}
.bcal-container .dropdown-item.selected-item{background-color:#F7F7F7;}

.calendar{background-color:#FFF;}

.calendarDoneButton,
.calendarCancelButton,
.calendarHolidayCancelButton,
.calendarOKButton{padding:0 25px;}

.calendarButtonIcon,
.calendarDoneButton:hover .calendarButtonIcon,
.calendarCancelButton:hover .calendarButtonIcon,
.calendarHolidayCancelButton:hover .calendarButtonIcon,
.calendarOKButton:hover .calendarButtonIcon{background-image:none;display:none;}

.confirmHolidayText{color:#888;}
.bcal-container .dropdown-item:hover{color:#000;}

/* ----- INPUTS ----- */
textarea,
.input-input{border-color:#CCC;}
textarea:focus,
.input-input:focus{outline-color:#CCC;}

.inputNoteInner,
.teal8.notecontentFooter{color:#FFF;}
.inputNoteArrow,
.branchSearchBank.inputNote .inputNoteArrow{border-bottom:15px solid #FFF; border-right:15px solid transparent;}
.inputNoteArrowDown{border-top:15px solid #FFF; border-left:15px solid transparent;}

.inputNote.grey2{background-color:#999;}
.inputNote.grey2 .inputNoteArrow{border-bottom-color:#999;}
.inputNote.grey2 .bankNameInput{color:#EEE;}

.tooltip{color:#FFF;}
.tooltip.leftScreen .tooltip-pointer,
.tooltip.rightScreen .tooltip-pointer {
	bottom:-15px;
	border-top:15px solid #FFF;
}
.tooltip.leftScreen .tooltip-pointer{border-right:15px solid transparent;}
.tooltip.rightScreen .tooltip-pointer{border-left:15px solid transparent;}
.tooltipButton {background-image:url("/banking/03images/base/tooltip/btn-tooltip_w.png");}

/* ----- DROPDOWNS ----- */
.dropArrow,
.dropdown-trigger,
.dropdown-trigger-selected,
.datepickerWrapper .dropdown-trigger,
.dropdown-wrapper .dropup-trigger-selected,
.dropdown-disabled .dropdown-trigger,
.dropdown-disabled .dropdown-initiator,
#formFooterButtons .dropdown-wrapper .dropArrow,
#formFooterButtons .dropdown-wrapper .dropdown-trigger,
#formFooterButtons .dropdown-wrapper .dropup-trigger-selected{background-color:transparent;}

.dropdown-selection-white{border-color:#CCC;}
.dropdown-single-wrapper .dropdown-selection,
.dropdown-two-wrapper .dropdown-selection,
.dropdown-three-wrapper .dropdown-selection {background-color:#FFF;}
.dropdown-selection-white,
.dropdown-content-wrapper {background-color:#FFF;}
.dropdown-content-top {background-color:#CACACA;}

.dropdown-item,
.dropdown-item-first,
.dropdown-single-wrapper .dropdown-content .dropdown-item,
.dropdown-two-wrapper .dropdown-content .dropdown-item,
.dropdown-three-wrapper .dropdown-content .dropdown-item{
	background-image:none;
	background-color:#EEE;
	margin:0;
	border-color:#CCC;
	border-style:solid solid none;
	border-width:1px 1px 0;
}
.dropdown-item:last-child{border-bottom:1px solid #CCC !important;}
.dropdown-item.selected-item,
.dropdown-item:hover {background-image:none; background-color:#F7F7F7;}

.dropdown-item-row-h1,
.dropdown-item-row-h2,
.dropdown-item-row-wrapper{margin:0 0 0 10px;}
.dropdown-two-wrapper .dropdown-item-icon,
.dropdown-three-wrapper .dropdown-item-icon {background-image:none;}
.dropArrow{width:24px; margin-left:-17px;}

/* .dropdown-trigger-selected+.dropdown-selection-white,
.dropdown-focus {border-color:#CCC;} */

/* ----- DATEPICKER ----- */
.datepickerWrapper{border-color:#CCC;}
#formFooterButtons .datePicker{margin-right:0;}

/* ----- FOOTER BUTTONS ----- */
#formFooterButtons .footerBtn a{color:#FFF;}

/* ----- CHECKBOXES ----- */
.checkbox-graphic,
.checkbox-graphic-wrapper.checked .checkbox-graphic{border-color:#CCC;}

.checkbox-graphic-wrapper.disabled .checkbox-graphic,
.checkbox-graphic-wrapper.checked.disabled .checkbox-graphic{border-color:#CCC !important;}

.checkbox-graphic-wrapper .checkbox-input:focus{outline:1px dotted #CCC;}

/* ----- ERRORS ----- */
.inputError,
.error,
.rightBox.error,.rightBoxContent.error,#eziPannelButtons.error{background-color:#999;}
.rightBox.partial,.rightBoxContent.partial,#eziPannelButtons.partial,
.rightBox.pending,.rightBoxContent.pending,#eziPannelButtons.pending,
.rightBox.error350,.rightBoxContent.error350,#eziPannelButtons.error350{background-color:#707070;}

/* ----- ACTION MENU ----- */
.actionMenuHeader.orange{font-size:38px;line-height:1em;margin-bottom:0.4em;border-bottom: none;}

.actionMenuButtonIcon,
.actionMenuButton:hover .actionMenuButtonIcon {display:none;}
.actionMenuHeader.turq {background-color:transparent;}

#actionMenuUrlWrapper #actionTableClose{background-image: url("/banking/03images/base/tables/tableactionbar/tbl-control-close_b.png"); background-position: 6px 16px;}
#actionMenuUrlWrapper .tableSearchBarWrapper .searchField{border-top:6px solid #FFF;}
#actionMenuUrlWrapper .tableSearchBarWrapper .input-wrapper.searchField .formElementContainer{top:0;}
#actionMenuUrlWrapper .tableHeaderRow.tableGroupHeader{background-color:#F6F6F6;}
/* #actionMenuUrlWrapper .tableHeaderRow.tableGroupHeader .tableHinnerImage{border-top-color:#F6F6F6;} */
#actionMenuUrlWrapper .tableRow:hover{background-color:#EEE;}

#actionMenuUrlWrapper #eziPannelButtons {background-color:#transparent;}

/* ----- BUTTONS ----- */
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button,
.calendarDoneButton,
.calendarCancelButton,
.calendarHolidayCancelButton,
.calendarOKButton,
.tableContainer .eziLinks .eziLink,
.tableCell .formButton,
#bigThreeOffer #bigThreeGo,
#branchSearchButton,
#phoneBookSearchButton,
#publicRecipientSearchButton,
#eziPannelButtonsWrapper .actionMenuButton,
#lottoResultsContainer .lottoButton,
#powerballResultsContainer .lottoButton,
.confirmFinishHeaderButtonContainer .print .formButton,
.confirmFinishHeaderButtonContainer .download .formButton,
#insurancePage .getAQuoteButton,
.login-button .formButton,
.resetAccessButton .formButton {
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	background-color:#E5E5E5;
	border:1px solid #B8B8B8;
	color:#000;
}
#AccountMaintainSimpleView #accountSettingsWidgetWrapper .formButton,
#formElement_updateBtn .formButton {
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	background-color:#E5E5E5;
	border:1px solid #B8B8B8;
	color:#000!important;
}


.calendarDoneButton p,
.calendarCancelButton p,
.calendarHolidayCancelButton p,
.calendarOKButton p,
.actionMenuButton .actionMenuButtonIconText{color:inherit;}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]:hover, button:hover,
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="file"]:focus, button:focus,
.calendarDoneButton:hover,.calendarDoneButton:focus,
.calendarCancelButton:hover,.calendarCancelButton:focus,
.calendarHolidayCancelButton:hover,.calendarHolidayCancelButton:focus,
.calendarOKButton:hover,.calendarOKButton:focus,
.tableContainer .eziLinks .eziLink:hover,.tableContainer .eziLinks .eziLink:focus,
.tableCell .formButton:hover,.tableCell .formButton:focus,
#eziPannelButtonsWrapper .actionMenuButton:hover,#eziPannelButtonsWrapper .actionMenuButton:focus,
#lottoResultsContainer .lottoButton:hover,#lottoResultsContainer .lottoButton:focus,
#powerballResultsContainer .lottoButton:hover,#powerballResultsContainer .lottoButton:focus,
.confirmFinishHeaderButtonContainer .print .formButton:hover,.confirmFinishHeaderButtonContainer .print .formButton:focus,
.confirmFinishHeaderButtonContainer .download .formButton:hover,.confirmFinishHeaderButtonContainer .download .formButton:focus,
#insurancePage .getAQuoteButton:hover,#insurancePage .getAQuoteButton:focus,
.login-button .formButton:hover,.login-button .formButton:focus,
.resetAccessButton .formButton:hover,.resetAccessButton .formButton:focus
{background-color:#D6D6D6;}

input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus{border-color:#666; outline:none;}

.actionMenuButton .actionMenuButtonIconText{padding:0;}

.button .smallTurqPlus {background-image:url("/banking/03images/base/icons/addIcon.png"); background-position:left center; padding-top:0; line-height:30px;}

#valueAdds .cardvasApplyButton {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#E5E5E5 !important; color:#000 !important; border:1px solid #B8B8B8 !important;}
#valueAdds .cardvasApplyButton:hover{background-color:#D6D6D6 !important;}

.confirmPage .tableHeaderInnerRow .print a,
.confirmPage .tableHeaderInnerRow .print:hover a,
.confirmPage .tableHeaderInnerRow .download a,
.confirmPage .tableHeaderInnerRow .download:hover a{background-color:transparent !important; color:#333 !important;}

/* ----- NOTES ----- */

/* ----- EZI PANEL ----- */
.eziWrapper h1,
.eziWrapper h3{border-bottom:1px solid #999;}
.eziWrapperGrey .addRecipientsRemoveButton {background-image:url("/banking/03images/base/icons/removeIcon.png");}
#eziWrapper .addRecipientsAddButton {background-image:url("/banking/03images/base/icons/addIcon.png");}

.eziWrapperGrey .addRecipientsRemoveButton,
#eziWrapper .addRecipientsAddButtonWrapper {color:#999;}

#eziPannelButtons{background-color: #fff;height:60px;}
#eziPannelButtonsWrapper .actionMenuButton{padding:0 15px;height:35px;}
#eziPannelButtonsWrapper .actionMenuButtonIcon{background-image:none; display:none;}

/* ----- BIG3 ----- */
#big3OuterWrapper #big3{background-color:#E7E7E7;}
#big3OuterWrapper #big3 #big3ShoutOutArrow{
    border-right:15px solid transparent;
    border-top:15px solid transparent;
    margin-left: 80%;
}
#big3OuterWrapper .big3Container.teal9.preapproved.borderRightWhite{border-right:2px solid transparent;}
#big3OuterWrapper #big3 .big3Container.preselected {background-image:url("/banking/03images/base/big3/preselected_alt.png");}
#big3OuterWrapper #big3 .big3Container.preapproved {background-image: url("/banking/03images/base/big3/preapproved_alt.png");}
#big3OuterWrapper #big3 .big3MoreButton{background-image:url("/banking/03images/base/big3/btt-arr-right_bw.png");}

#big3OuterWrapper #bigThreeOffer #bigThreeGo{background-color:#F7F7F7;color:#000; line-height:26px;}
#big3OuterWrapper #bigThreeOffer #bigThreeGo:hover{background-color:#EEE;}

/* ----- SETTINGS ----- */

/* ----- LOGGED-OFF ----- */
#registrationLanding .registration-blocks .actionMenuButton{color:#000;}
#registrationLanding .registration-blocks .actionMenuButton:hover{color:#282828; text-decoration:underline;}

/* ----- SPECIAL ----- */
#valueAdds .valueMajorButton{background-position:90% center !important; padding:10px 50px 0 !important;}
#logOffTimerPopUp #buttonRow .buttoncell{
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	background-color:#E5E5E5;
	background-image:none !important;
	border:1px solid #B8B8B8;
	color:#000;
	padding:10px 15px !important;
	margin-bottom:20px;
}
#logOffTimerPopUp #buttonRow .buttoncell:hover{background-image:none !important; background-color:#DDD;}
#rightColNews {background-color:#E7E7E7;}

.button .smallCircLeft,
.button .smallCircLeft:hover{
	background-image:none !important;
	padding-left:15px !important;
	height:1.5em !important;
	line-height:1.5em !important;
}
.button .smallCircLeft:hover{color:#444 !important;}

/* ----- MOBI ----- */
