@media only screen and (max-width: 768px){

/* GENERAL TABLE STUFF - RESET TABLES
DONOVAN */
.col1 {
	width: 100%!important;
}
.col2 {
	width: 100%!important;
}
.col3 {
	width: 100%!important;
}
.col4 {
	width: 100%!important;
}
.col5 {
	width: 100%!important;
}
.col6 {
	width: 100%!important;
}
.col7 {
	width: 100%!important;
}
.col8{
	width: 100%!important;
}
.col9{
	width: 100%!important;
}
.col10{
	width: 100%!important;
}
.right .tableCellItem {
	text-align: left;
}
.pageWrapper {
    padding-top: 0;
}
.pageGroup{
	height:auto!important;
}
.tableRow .large a{
	font-size: 18px;
	white-space: nowrap;
	text-decoration: none;
}
.large {
	font-size: 100%;
}
h6 {
	font-size: 14px;
}
/* GENERAL TABLE STUFF - RESET TABLES - END*/

	.grid50 {
		width: 100%;
	}
	.tr{
		display: block;
	}
	.td.grid50{
		width: 100%;
		display: block;
		border-right-width:0px;
	}
	.td.grid100 {
		width: 100%;
		display: block;
	}

	/* DROPDOWNS */
	.dropdown-wrapper .dropdownLabelWrapper{
		width: 100%;
	}
	.dropdown-wrapper .dropdownElementWrapper{
		width: 100%;
	}
	#footerButtonGroup .dropdown-wrapper .dropdownLabelWrapper{
		width: 20%;
	}
	#footerButtonGroup .dropdown-wrapper .dropdownElementWrapper{
		width: 80%;
	}
	/* INPUTS */
	.input-wrapper .grid20{
		width: 100%;
	}
	.input-wrapper .grid30{
		width: 100%;
	}
	.input-wrapper .grid40{
		width: 100%;
	}
	.input-wrapper .grid60{
		width: 100%;
	}
	.input-wrapper .grid80{
		width: 100%;
	}
	
	#content .gridCol {
		width: 100%;
		display: block;
		clear: both;
		position: relative;
	}

	/* ACTION MENU */
	.actionMenuHeader .innerBodyPad {
		font-size: 45px;
	}
	.col_1_of_4 {
		width: 100%;
	}
	.moreoptionsBannerOne {
		position: static;
	}
	.actionMenuCol {
		padding: 6px 40px 0 0px;
		height:auto;
	}
	.actionMenuHeader.grey1 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuHeader.grey2 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuHeader.grey3 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuHeader.grey4 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuHeader.grey5 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuHeader.grey6 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.actionMenuColLast{
		padding: 10px 40px 70px 0px;
	}
	.actionMenuCol:last-child {
		width: 100%;
	}
	/* ACTION MENU END */
	/* EZI SLIDER END */

	/* FOOTER */
	.mobiFooterButton{
		display:block;
	}
	.mobiHiddenFooterButton{
		display:none;
	}
	.mobiPopupWrapper .mobiHiddenFooterButton{
		display:block;
	}
	.mobiPopupWrapper .footerBtn{
		padding: 6px 0 0 0;
		width:auto;
		height:auto;
	}
	.mobiPopupWrapper .footerBtn a{
		float:left;
		border: none;
		padding: 15px 0px 0px 55px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
	}
	.mobiPopupWrapper .actionMenuButtonIcon {
		background-repeat: no-repeat;
		background-position: center 90%;
	}
	.mobiPopupWrapper .footerBtn .actionMenuButtonIcon {
		background-repeat: no-repeat;
		background-position: center 90%;
		position: absolute;
		padding: 8px 0 0 0;
		top: 0;
		left: 0;
	}
	.mobiPopupWrapper .footerBtn:hover .actionMenuButtonIcon {
		position: absolute;
		padding: 13px 0 0 0;
		top: 0;
		left: 0;
		background: url("../../03images/base/actionmenu/dot-button-over.png") no-repeat center center;
	}
	/* FOOTER END */
	/* SUBTABS */
	.hiddenSubtabContent{
		display:block;
	}
	.subTabRight ul{
		display:none;
	}
	.subTabRightBlueBottom{
		display:none;
	}
	/* SUBTABS END */
	/* DROPDOWNS */
	.dropdown-input-wrapper{width:100%;padding-right:10px;}
	.dropdown-input-icon-search{right:10px;}
	.dropdown-content-top-indicator{width:100%;}
	.dropdown-item-icon{width:10%;background-position:80% center;}
	.dropdown-wrapper .dropdown-content-top .dropdown-input-wrapper{margin:5px;}
	.dropdown-wrapper .dropdown-content-top .dropdown-content-top-indicator{margin-left:0;}
	.dropdown-content{width:100%;}
	/* DROPDOWNS end */
	
	/* TABLES
	DONOVAN */
	.pagination{
		display:none;
	}
	.pagination2{
		width:100%;
	}
	.pagination2 .tr{
		display:table-row;
	}
	.eziPagingHide{
		display:none;
	}
	.eziPagingShow{
		display:block;
	}
	.hiddenLabel{
		display:block;
		padding: 0 0 0 7px;
		color:#a0a0a0;
	}
	/* TABLES
	DONOVAN 
	PAYMENT TABLE*/
	#paymentsTable_pager{
		width:50px;
	}
	.hiddenTableRowMobileContent{
		width: 100%;
		height: 0;
		overflow: hidden;
		float: right;
	}
	#paymentsTable_searchField{
		display:none;
	}
	.gridGroup.tableHeaderControls .searchField {
		float: right;
		margin: -5px 0 0 0;
	}
	.gridGroup.tableHeaderControls .searchField .input-container {
		padding-right: 0px;
		width: 32px;
		height: 32px;
		float: right;
	}
	.tablePhoneButtonSet{display:block;}
	.input-wrapper.searchField > .input-container {
		padding: 0 33px 0 0;
	}
	.tableHeaderInnerRow {
		padding: 0px 0px 0px 8px;
	}
	#eziPannelButtonsWrapper{
		width: 100%;
		right: 0px;
		left: 42px;
	}
	#eziPannelButtons {
		padding-right: 50px;
		width: 100%;
	}
	.tableRowInner {
		line-height: 20px;
	}
	.actionMenuHeader .innerPad {
		padding: 10px 10px 10px;
	}
	.headerControlLabel {
		width: 50%;
		padding-top: 6px;
	}
	.gridGroup.tableHeaderControls .leftPadding.grid60{
		width: 50%;
		overflow: hidden;
	}
	#payments_landing .tableAddButton:nth-of-type(1){
		display:none;
	}
	/* PAYMENTS CONFIRM PAGE */
	
	.tableHinnerImage{
		background: url(/banking/03images/base/tables/arrowDownBlue.png);
	}
	.confirmPage .grid80 {
		width:100%;
	}
	.confirmPage #extendedPageHeader h1{
		color:#000;
	}
	.confirmPage h2 {
		padding: 0 0 5px 10px;
		line-height: 20px;
	}
	.confirmPage .padLeft20 {
		padding-left: 10px;
	}
	.confirmPage .tableHeaderRow.tableGroupHeader span {
		color: #000;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 18px;
	}
	.confirmPage .groupedCol1 {
		width: 100%;
		padding: 8px 0 8px 0;
	}
	.confirmPage .totalRow .tableRowGroupInner .col1{
		width:50%!important;
		height: 42px;
		line-height: 42px;
		font-size: 18px;
	}
	.confirmPage .totalRow .tableRowGroupInner .col2{
		width:50%!important;
	}
	.confirmPage .totalRow .tableRowGroupInner .col2 .tableCellItem{
		padding: 2px 5px 2px 8px;
	}
	.confirmPage .confirmDate {
		position: static;
		margin: 0 0 5px 10px;
	}
	/* PAYMENTS FINISH PAGE */
	#finishBackground #payment_summary {
		width: 100%;
	}
	#finishBackground .confirmPage .confirmHeader .confirmHeaderInner {
		margin: 75px 0 0 0;
	}
	#finishBackground .confirmPage h2 {
		line-height: 20px;
		font-size: 18px;
	}
	#finishBackground .confirmPage .confirmDate {
		font-size: 14px;
	}
	.rightBox {
		width: 100%;
		position: absolute;
		height: 102px;
		z-index: 0;
		top:0;
	}
	.rightBoxContent {
		border-left: none;
	}
	.whiteMessageContainer {
		margin: 0;
	}
	.rightBoxInner {
		padding: 0 20px 0 20px;
		color: #FFF;
		position: relative;
		left: -29px;
		top: -5px;
	}
/* 	DONOVAN
	ACCOUNTS TABLE */
	#accountsTable .groupedCol1 {
		width: 50%;
		float:left;
	}
	#accountsTable .groupedCol2 {
		width: 50%;
		float:left;
	}
	#accountsTable .col2 {
		width: 100%;
		float: left;
	}
	#accountsTable .hiddenLabel{
		width: 100%;
	}
	#accountsTable .col2 .tableCellItem{
		float: left;
	}
	#accountsTable .col3 {
		width: 100%;
		float: left;
	}
	#accountsTable .col3 .hiddenLabel{
		float: left;
	}
	#accountsTable .col3 .tableCellItem{
		float: left;
	}
	#accountsTable .col4 {
		width: 100%;
	}
	#accountsTable .col5 {
		display:none;
	}
	.tableCellItem.doubleItemTop {
		padding: 2px 0 2px 8px;
	}
	.tableCellItem.doubleItemTop {
		padding: 2px 0 2px 8px;
	}
	#accountsTable .groupedCol3 {
		margin-bottom: 8px;
		width: 100%;
		background: #76c4c4;
		padding: 4px;
	}
	#accountsTable .eziLinks {
		margin: 0;
	}
	#accountsTable .eziLink {
		width: 49%;
		border-right: none;
		background: #ace2e2;
		text-align: center;
	}
	#accountsTable #eziBtn2Parent{
		margin-left: 1%;
	}
	#accountsTable #eziBtn3Parent{
		margin-top: 1%;
	}
	#accountsTable .eziLink:hover{background: #b7dbd9;}
	#accountsTable .totalRow .groupedCol3{
		display:none;
	}
	.headerControlLabel .labelInner {
		padding: 5px 14px 14px 5px;
		font-size: 12px;
		background: #ADDBDB;
		margin: 0 0 0 5px;
	}
	/* DONOVAN
	EZI PANEL */
	#eziPannelButtons .actionMenuButton {
		width: auto;
	}
	.bannerSubHeadings {
		width: 100%;
	}
	/* DONOVAN
	SUBTABS & PAGE HEADERS*/
		/* SUBTABS */
		
	#subTabsMenuItems li{
		width:100%;
	}
	.subTabsMenu {
		background: none;
		padding-top: 0px;
		border-bottom: none;
	}
	.subTabsMenu li {
		color: #000;
		border-bottom: 6px solid #FFF;
		font-size: 24px;
		padding: 20px 0 10px 0;
		background: url(/banking/03images/base/mobi/subTabIcon.png) right center no-repeat;
	}
	.subTabsMenu li.active {
		background: url(/banking/03images/base/mobi/subTabIcon.png) right center no-repeat;
		color: #000;
	}
	#subTabsPageHeader{
		width: 100%;
	}
	#extendedPageHeader h1 {
		border-bottom: none;
		padding: 10px 0 10px 10px;
		color: #a0a0a0;
	}
	.subTabsHeader{
		background: #fff;
		padding: 15px 0 0 0;
	}
/* 	#extendedPageHeader.subTabsHeader h1 {
		border: none;
		background: #73C7C7;
		padding: 5px 0 5px 5px;
		margin: 0 0 0 5px;
		font-size: 18px;
		color: #000;
		width: 30%;
	} */
	.subTabsMenu {
		z-index:1;
		overflow: visible;
		position: relative;
	}
	.mobiHeaderArrow{
		display:block;
	}
	.mobiHeaderHidden{
		display:none;
	}
	.mobiHeaderSublabel{
		border: none;
		background: #73C7C7;
		padding: 5px 0 5px 5px;
		margin: 0 0 0 5px;
		font-size: 18px;
		color: #000;
		width: 30%;
	}
 	#currentSubtab{
	
	}
	.noTabs{
		margin-top: 25px;
	}
	.confirmPage .noTabs{
		margin-top: 10px;
	}
	#finishBackground .confirmPage .noTabs {
		margin-top: 0px;
	}
	#currentSubtab.currentSubtabHidden{
		margin-top: 0;
		display: none;
	}
	.formFooterButtonsHidden{
		display:none;
	}
	.tableRowInner {
		min-height: 42px;
		padding: 0;
		float: left;
		width: 100%;
	}
	.tableHeaderRow.tableGroupHeader div {
		background: #8bcfcf;
	}
	.mobiHeaderControls {
		padding: 25px 0 3px 0;
		height: 28px;
		overflow:hidden;
		border-bottom: 4px solid #fff;
	}
	.mobiHeaderControls .margin50{
		margin: 0;
	}
	.mobiHeaderControls .radioButtonsGroup{
		padding:0;
		margin: 0 14px 0 0;
		overflow: hidden;
	}
	.subTabsMenuItemsHidden{
		display:none;
	}
	.hiddenMobileContentPadding {
		padding: 5px 0 0 0!important;
		background: url("../../03images/base/tables/expandRowIcon.png") no-repeat top center #e7e7e7;
	}
	.fontSize18{
		font-size: 18px!important;
	}
	.fontSize28{
		font-size: 28px;
	}
	.mobiHeaderSublabelVisible{
		display:block;
	}
	.mobiHeaderCloseButtonVisible{
		display:block;
	}
	.mobiTableRowDownIcon{
		background-image : url(/banking/03images/base/tables/payCollapseIcon.jpg);
	}
	.mobiTableRowRightIcon{
		background-image : url(/banking/03images/base/tables/payExpandIcon.jpg);
	}
	.autoHeight{
		height:auto;
		display:block;
	}
	.gridGroup.tableHeaderControls .leftPadding{
		padding-left: 0;
	}
	.switcherGroup .rasdioButton {
		width: 100%;
		float: none;
	}
	.tableHeaderControls .switcherGroup .radioButton {
		width: 75%;
		float: none;
		font-size: 18px;
		padding: 5px 0 5px 5px;
	}
	.gridGroup.tableHeaderControls .searchField {
		width: 40%;
	}
	#formFooterButtons .dropdown-wrapper {
		display:none;
	}
	#formFooterButtons .datePicker{
		display:none;
	}
	.moreOptionsDownArrow{
		display:none;
	}
	.actionMenuBottomLabel{
		display:none;
	}
	.actionMenuButton{
		max-width: 100%;
	}
	.tableRowHeader{
		display:none;
	}
	.tableHeaderRow.tableGroupHeader span {
		color: #000;
	}
	
	.mobiHeaderControls .mobi-dropdown-trigger{
		display:block;
	}
	.mobiHeaderControls .switcherWrapper{
		background: #8dcdcd;
		margin: 0 14px 6px 5px;
		width: 100%;
	}
	.mobiHeaderControls .switcherWrapperSelected{
		background: #ADDBDB;
		margin: 0 14px 6px 5px;
		width: 100%;
	}
	#whiteColumn{
		height:0;
	}
	.input-wrapper .input-input.currencyInput {
		text-align: left;
	}
	.input-wrapper .input-label-inner{
		padding: 0 0 0 20px;
	}
	.formTable .input-wrapper {
		padding: 10px 0 0 0;
	}
	.formElementLabel {
		padding: 10px 0 10px 0;
	}
	
	#ForexPaymentHistory .tableCell,
	#ForexPaymentHistory .large a{font-size:18px; white-space:nowrap;}
	#newsLanding #extendedPageHeader {
		height: auto;
	}
	.topNavMenuSliderIndicator{display:none;}
	#big3OuterWrapper{display:none;}
	.mobiHidden{
		display:none;
	}
}

/* DON */
@media only screen and (max-width: 990px){
	.actionMenuHeader .innerBodyPad {
		font-size: 40px;
	}
}
@media only screen and (max-width: 1220px){
	.tableCellItem.tooltipPad{line-height: 18px;}
}

@media only screen and (max-width: 860px){
	.topNav li a {
		font-size: 16px;
	}
	.footerBtn a span {
		font-size: 16px;
	}
	.actionMenuHeader .innerBodyPad {
		font-size: 35px;
	}
}

@media only screen and (max-width: 799px) and (-moz-windows-compositor){
	.content{
		overflow: hidden;
		padding: 0px 0 70px 40px;
	}
	.pageWrapper {
		padding-top: 0px;
	}
	/* EZI SLIDER*/
	.eziWrapper {
		width:100%;
	}
	/* TOP MENU */
 	.topMenu{
		position:static;
	}
	.topNavWrapper {
		margin: 0;
	}
	.topNavMenuSliderIndicator {
		left: 35px;
	}
	/* FOOTER BUTTONS*/
	.footerBtn{
		width:14.28%;
	}
	/* HEADER BUTTONS */
	.settingsButton a{
		display:none;
	}
	.contactButton a{
		display:none;
	}
	.optionsButton a{
		display:none;
	}
	.settingsButton{
		width:auto;
	}
	.contactButton{
		width:auto;
	}
	.optionsButton{
		width:auto;
	}
	.logOutButton{
		width:14.28%;
	}
	.searchBox{
		width:14.28%;
	}
	
}
@media screen and (max-width: 787px) and (-moz-windows-compositor){
	.bcal-table {
		width:100%;
		margin-top: 25px;
		height: 185px;
	}
	.bcal-month{
		left: 40%;
	}
		/* FOOTER BUTTONS*/
	.footerBtn{
		width:14.28%;
	}
	/* HEADER BUTTONS */
	.settingsButton a{
		display:none;
	}
	.contactButton a{
		display:none;
	}
	.optionsButton a{
		display:none;
	}
	.settingsButton{
		width:auto;
	}
	.contactButton{
		width:auto;
	}
	.optionsButton{
		width:auto;
	}
	.logOutButton{
		width:14.28%;
	}
	.searchBox{
		width:14.28%;
	}
}
@media screen and (max-width: 787px) and (-webkit-min-device-pixel-ratio:0) {
	.topMenu{
		position:static;
	}
	.content{
		overflow: hidden;
		padding: 0px 0 70px 40px;
	}
	.pageWrapper {
		padding-top: 0px;
	}
	/* DATE PICKER - DON */
	.bcal-table {
		width:100%;
		margin-top: 25px;
		height: 185px;
	}
	.bcal-month{
		left: 40%;
	}
	.bcal-nav-left {
		left: -60px;
	}
	.bcal-nav-right {
		right: -60px;
	}
	/* FOOTER BUTTONS*/
	.footerBtn{
		width:14.28%;
	}
	/* HEADER BUTTONS */
	.settingsButton a{
		display:none;
	}
	.contactButton a{
		display:none;
	}
	.optionsButton a{
		display:none;
	}
	.settingsButton{
		width:auto;
	}
	.contactButton{
		width:auto;
	}
	.optionsButton{
		width:auto;
	}
	.logOutButton{
		width:14.28%;
	}
	.searchBox{
		width:14.28%;
	}
}

@media screen and (max-width: 590px) {
	/* FOOTER BUTTONS*/
	.footerBtn{
		width:18%;
	}
	.logOutButton{
		width:18%;
	}
	.searchBox{
		width:18%;	
	}
}

@media only screen and (max-width: 599px) and (-moz-windows-compositor){
		/* DONOVAN SMALL MOBI FRAME */
	.topNav li {
		height: 60px;
	}
	.left-sidebar-top {
		top: 95px;
	}
	.topNavWrapper a.leftScrollButton {
		height: 60px;
	}
	.topNavWrapper a.rightScrollButton {
		height: 73px;
	}
	.actionMenu {
		top: 104px;
	}
	.eziWrapper, .eziWrapperGrey{
		top: 108px;
		bottom: 54px;
	}
	.footerWrapper {
		height: 60px;
	}
	.footerBtn {
		height: 48px;
	}
	.footerBtn a {
		padding: 17px 0 0;
	}
	.footerMessage {
		bottom: 54px;
	}
	.fnb-logo {
		height: 50px;
		top: 1px;
	}
	.mobiPopupWrapper {
		top: 108px;
	}
	#eziPannelButtonsWrapper {
		bottom: 54px;
	}
	.topNavMenuSliderIndicator {
		bottom: -66px;
	}
	.headerControlLabel {
		width: 55%;
		padding-top: 6px;
	}
	.gridGroup.tableHeaderControls .leftPadding.grid60{
		width: 55%;
		overflow: hidden;
	}
	.dropdown-content-wrapper {
		height: 100%;
		position: absolute;
		padding: 4px;
		border: 2px solid #d7efef;
		background-color: #FFF;
		display: none;
		top: 0;
		width: 100%!important;
		z-index: 0;
		margin: 0;
	}
	.dropdown-content {
		height: 100%!important;
		max-height: 100%!important;
	}
	.mobiDropdownInnerLabelWrapper{
		display:block;
		font-size: 18px;
		padding: 10px 0 10px 15px;
	}
	.confirmPage .footerBtn {
		width: 10%;
	}
	#finishBackground .confirmPage .footerBtn {
		width: 22%;
	}
}
@media screen and (max-width: 587px) and (-moz-windows-compositor){
	/* DONOVAN SMALL MOBI FRAME */
	.topNav li {
		height: 60px;
	}
	.left-sidebar-top {
		top: 95px;
	}
	.topNavWrapper a.leftScrollButton {
		height: 60px;
	}
	.topNavWrapper a.rightScrollButton {
		height: 73px;
	}
	.actionMenu {
		top: 104px;
	}
	.eziWrapper, .eziWrapperGrey{
		top: 108px;
		bottom: 54px;
	}
	.footerWrapper {
		height: 60px;
	}
	.footerBtn {
		height: 48px;
	}
	.footerBtn a {
		padding: 17px 0 0;
	}
	.footerMessage {
		bottom: 54px;
	}
	.fnb-logo {
		height: 50px;
		top: 1px;
	}
	.mobiPopupWrapper {
		top: 108px;
	}
	#eziPannelButtonsWrapper {
		bottom: 54px;
	}
	.topNavMenuSliderIndicator {
		bottom: -66px;
	}
	.headerControlLabel {
		width: 55%;
		padding-top: 6px;
	}
	.gridGroup.tableHeaderControls .leftPadding.grid60{
		width: 55%;
		overflow: hidden;
	}
	.dropdown-content-wrapper {
		height: 100%;
		position: absolute;
		padding: 4px;
		border: 2px solid #d7efef;
		background-color: #FFF;
		display: none;
		top: 0;
		width: 100%!important;
		z-index: 0;
		margin: 0;
	}
	.dropdown-content {
		height: 100%!important;
		max-height: 100%!important;
	}
	.mobiDropdownInnerLabelWrapper{
		display:block;
		font-size: 18px;
		padding: 10px 0 10px 15px;
	}
	.confirmPage .footerBtn {
		width: 10%;
	}
	#finishBackground .confirmPage .footerBtn {
		width: 22%;
	}
}
@media screen and (max-width: 587px) and (-webkit-min-device-pixel-ratio:0) {
		/* DONOVAN SMALL MOBI FRAME */
	.topNav li {
		height: 60px;
	}
	.left-sidebar-top {
		top: 95px;
	}
	.topNavWrapper a.leftScrollButton {
		height: 60px;
	}
	.topNavWrapper a.rightScrollButton {
		height: 73px;
	}
	.actionMenu {
		top: 104px;
	}
	.eziWrapper, .eziWrapperGrey{
		top: 108px;
		bottom: 54px;
	}
	.footerWrapper {
		height: 60px;
	}
	.footerBtn {
		height: 48px;
	}
	.footerBtn a {
		padding: 17px 0 0;
	}
	.footerMessage {
		bottom: 54px;
	}
	.fnb-logo {
		height: 50px;
		top: 1px;
	}
	.mobiPopupWrapper {
		top: 108px;
	}
	#eziPannelButtonsWrapper {
		bottom: 54px;
	}
	.topNavMenuSliderIndicator {
		bottom: -66px;
	}
	.headerControlLabel {
		width: 55%;
		padding-top: 6px;
	}
	.gridGroup.tableHeaderControls .leftPadding.grid60{
		width: 55%;
		overflow: hidden;
	}
	.dropdown-content-wrapper {
		height: 100%;
		position: absolute;
		padding: 4px;
		border: 2px solid #d7efef;
		background-color: #FFF;
		display: none;
		top: 0;
		width: 99%!important;
		z-index: 0;
		margin: 0;
	}
	.dropdown-content {
		height: 100%!important;
		max-height: 100%!important;
	}
	.mobiDropdownInnerLabelWrapper{
		display:block;
		font-size: 18px;
		padding: 10px 0 10px 15px;
	}
	.confirmPage .footerBtn {
		width: 10%;
	}
	#finishBackground .confirmPage .footerBtn {
		width: 22%;
	}
}

@media screen and (max-width: 570px) {
	.bcal-nav-left {
		left: -40px;
	}
	.bcal-nav-right {
		right: -40px;
	}
	.bcal-month{
		left:35%;
	}
}
@media screen and (max-width: 480px) {
	.bcal-nav-left {
		left: -35px;
	}
	.bcal-nav-right {
		right: -35px;
	}
	.bcal-month{
		left: 30%;
	}
}
@media screen and (max-width: 450px) {
	.footerBtn{
		width: 22%;
	}
	.logOutButton{
		width:25%;
	}
	.searchBox{
		width:25%;
	}
}

@media only screen and (max-width: 430px){
 	.fnb-logo{
		background: url("../../03images/base/frame//fnb-logo-only.png") no-repeat left;
	}
}

@media only screen and (max-width: 357px){
	.topNav li a {
		font-size: 14px;
	}
	.footerBtn a span {
		font-size: 14px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 320px) {
	.topNav {
		min-width: 645px;
	}
	.footerBtn a span {
		font-size: 14px;
	}
	.moreOptionsActionMenuTextSwap {
		background: url("../../03images/base/actionmenu/more-options-text-small.png") no-repeat left;
		height: 90px;
		margin: 7px 7px 15px 10px;
	}

}
/* ----- NEWS LANDING SMALLPORT ----- */
@media only screen and (max-width: 900px){
	#newsLanding #newsR {border-right-width:0;}
	#newsLanding #newsRBottomL,
	#newsLanding #newsRBottomR {height:22em;}
}
@media only screen and (min-width: 600px) and (max-width: 729px){
	#newsLanding #newsRBottomL,
	#newsLanding #newsRBottomR{height:27em;}
	#newsLanding #attentionBanner{margin:0;}
	#newsLanding .attentionBanner_text{height:40px;line-height:1.2em;padding-top:5px;}
	#newsLanding .rewardsBanner_text{height:45px;line-height:45px;}
	#newsLanding #attentionBanner,
	#newsLanding #rewardsBanner,
	#newsLanding .rewardsBlock {margin:0 auto;}
	#newsLanding .attentionItem{margin-left:10%;}
	#newsLanding .loggedInDate {width:70%;}
	#newsLanding #newsLogsContainer.grey1 #loginHistory{float:none;margin-top:0;}
}
@media only screen and (max-width: 599px){
	/*Note: There is a JS script that re-arranges the divs for mobile screens */
	#newsLanding .borderRightWhite{border-right-width:0;}
	#newsLanding .borderLeftWhite{border-left-width:0;}
	#newsLanding {padding-bottom:0;}
	#newsLanding #newsL {border-width:0;}
	#newsLanding #newsR {}
	#newsLanding .td.ghostBlock,
	#newsLanding #pageGutter {display:none;}
	#newsLanding .formTable,
	#newsLanding .td{display:block;margin-top: 10px;}
	#newsLanding .grid30,
	#newsLanding .grid40,
	#newsLanding .grid60 {width:100%;}
	#newsLanding #newsRTop_left.grid60 {width:70%;}
	#newsLanding #newsRTop_right.grid40 {width:30%;}
	#newsLanding #leftAdContainer{float:right;padding-right:10%;}
}
/* ----- END News Landing Smallport ----- */

/* ----- LOG-OFF TIMER ----- */
@media screen and (max-width: 800px) {
	#logoffTimer {
		top: 0%;
		height: 100%;
		text-align: center;
	}
	#logoffTimer #logoffTimerClock {
		height: 125px;
		width: 125px;
		margin: 0px auto;
		float: none;
	}
	#logoffTimer #logoffTimerClock .secondHandCover1 {
		left: 62.5px;
		width: 62.5px;
		height: 125px;
	}
	#logoffTimer #logoffTimerClock .secondHand1 {
		top: -62.5px;
		left: -125px;
		height: 250px;
		background: transparent
			url("/banking/03images/base/logoffCountdown/circle3.png") center left
			no-repeat;
	}
	#logoffTimer #logoffTimerClock .secondHandCover2 {
		width: 62.5px;
		height: 125px;
	}
	#logoffTimer #logoffTimerClock .secondHand2 {
		top: -62.5px;
		left: -62.5px;
		height: 250px;
		background: transparent url("/banking/03images/base/logoffCountdown/circle4.png") center left no-repeat;
	}
	#logoffTimer #logoffTimerClock .logoffTimerTime,
	#logoffTimer #logoffTimerClock .logoffTimerText {
		bottom:41.66667px;
		left:0px;
		width:125px;
	}
	#logoffTimer #logoffTimerClock .logoffTimerTime {
		bottom: 52.08333px;
		font-size: 41.66667px;
		line-height: 41.66667px;
	}
	#logoffTimer #logoffTimerClock .logoffTimerText {
		font-size: 20.83333px;
		bottom: 36.66667px;
	}
	#logoffTimer #logoffTimerMessageWrapper {
		float: none;
		margin: 0px 20px;
		top: 125px;
		left: 0;
	}
}

@media screen and (max-width: 480px) {
	#logoffTimer #logoffTimerButtons {text-align:left;}
	#logoffTimer #logoffTimerMessageWrapper #logoffTimerButtons .actionMenuButton {max-width:250px; float:left;}
}
/* ----- END Log-Off Timer ----- */

/* DON */
@media only screen and (min-width: 0px) and (max-width: 1024px) {
	

	.fnb-logo{
		background: url("../../03images/base/frame/fnb-logo-thin.png") no-repeat;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 5000 px) {

}

@media only screen and (min-width: 0px) and (max-width: 1280px) {
	
	.td.ghostBlock{
		display: none;
	}
	
}

@media only screen and (min-width: 1824px) {
}



/* DONOVAN TINY PORT DEMO STUFF */
@media only screen and (max-width: 799px) and (-moz-windows-compositor){
	#support-reference{display:none;}
}
@media screen and (max-width: 787px) and (-moz-windows-compositor){
	#support-reference{display:none;}
}
@media screen and (max-width: 787px) and (-webkit-min-device-pixel-ratio:0) {
	#support-reference{display:none;}
}
@media only screen and (max-width: 599px) and (-moz-windows-compositor){
	#support-reference{display:none;}
}
@media screen and (max-width: 587px) and (-moz-windows-compositor){
	#support-reference{display:none;}
}
@media screen and (max-width: 587px) and (-webkit-min-device-pixel-ratio:0) {
	#support-reference{display:none;}
}