
html {
	background: none;
}

#headerInner {
	background: url("../images/banking/headerBg.png") repeat-x left top;
}

#topTabs {
	background: #094F97;
	padding: 0px
}

#menuWrapper {
	background: #094F97
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../images/banking/arrows/leftArrowSkinSmallWhite.png')
		top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background: url('../images/banking/arrows/rightArrowSkinSmallWhite.png')
		top right no-repeat;
}
.mainTab {
	background: #094F97;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #094F97}

.mainTab.topTabSelected {
	background-color: #094F97;
	border-bottom: 3px solid #FFD200
}

.mainTab.topTabSelected:hover {
	background-color: #094F97;
}

.mainTab:hover {
	background-color: #094F97 !important;
	border-bottom: 3px solid #FFD200
}

.mainTab span {
	color: #fff;
}

.mainTab.topTabSelected span {
	color: #fff;
}

.mainTab.lastTab {
	background-image: none;
}

#loginButton {
	background: none;
	color: #094F97
}

#RegisterButton {
	color: #094F97
}

#ResetButton {
	color: #094F97
}

#RegisterButton {
	color: #094F97
}

#VerifyButton {
	color: #094F97
}

#WebrootButton {
	color: #094F97
}

#searchButton {
	color: #094F97
}

.headerButtonlogoutBtn {
	background: #0f66ad !important;
}

#error {
	background: #0f66ad;
}

.applyHeaderButton {
	background: #0f66ad !important;
}

[data-role="footerButton"] {
	background: #0f66ad;
}
#footerButtonGroup .footerBtn{
	background: #0f66ad;	
}
#footerButtonGroup .footerBtn a {
	background: #0f66ad;
}

#actionMenuBttLabelWrapper {
	background: #094F97 url("../images/banking/actionMenu/menuBg.png")
		no-repeat center 6px;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper
	{
	background: #094F97 url("../images/banking/actionMenu/menuBgExpanded.png")
		no-repeat center 6px;
}

.actionColFirst {
	background: #094F97;
}

.dropdownCarat {
	background-color: #FFD200;}

.contentInner {
	background: none;
}

#headerCornerImg {
	background: none;
}

#footerCornerImg {
	background: none;
}

#footerButtonGroup {
	border-top: 1px solid #ccc;
}

#footerTag{
	background: #f2f2f2 url('../images/banking/logo-thin.png') -0px 5px
		no-repeat!important;
}

.loaderProgress {
	background: #ffd200;
}

.notificationsInner {
	background: #0f66ad;
}
.timeOutInner {
	background: #0f66ad!Important;

}
/*FORMS*/
.radioButton[data-state="checked"] {
	background: #f8e16f;
		
}
.radioButton:hover {
		background: #fff;
		color:#000
	}
.radioGroupWrapper {
	background: #ffd200;

}
.input,textarea,.checkBox,.checkBox[data-state="checked"],.dropdownSelected,.dropdownContent.open  {

	border: 1px solid #cbcbcb;

}

.checkBox {background:
		url("../images/banking/checkbox_sprite.png") 0 200px
		no-repeat #FFF;}

#bodyContainer #whatsNewContainer li {
	list-style-image: url("../images/listicons/icon_arrow.png");
}
#bodyContainer #significantEventsContainer li {
	background: rgba(0, 0, 0, 0) url('../images/sigEvents/sigEvent.png') 0px 4px no-repeat;
}

/* ie8 Exit tags */

#ie8Stage3 .ie8popupBar{
   	 background:url('../images/ie8Exit/indiaTextures.jpg') repeat!important;
	border-top:10px solid none!important;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;	
	background-position: 0px bottom!important;				
}


#ie8Stage3  .ie8header1{
	color:#ffffff!important;
}

#ie8Stage3  .ie8header2{
	color:#ffffff!important;
}

#ie8Stage3 .ie8p1{
	color:#ffffff!important;
}

#ie8Stage3 .ie8p2{
	color:#ffffff!important;
}

#ie8Stage3 .ie8Btn{
	${button}!important;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #FFD200 url('../images/ie8Exit/blueArrow.png') no-repeat!important;
	color:#094F97!important;
	background-position:8px center!important;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important;	
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#ffffff!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#ffffff!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#ffffff!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#ffffff!important;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline!important;
    color:#ffffff!important;
}
