#MOBILE_OFFER_FORM .scrollingBannerContainer{
	position: absolute;
	top: -35px;
	z-index: 148;
	right: 50px;
	left: 50px;
}
#MOBILE_OFFER_FORM{
	padding-bottom: 5px;
color: #000;
}
#backgroundHolder
{
	position: absolute;
	width: 100%;
	top: 0px;
}
#selectorHolderBody{
	white-space: nowrap;
	overflow: hidden;
}
.cardImageHolder{ 
	white-space: normal;
	padding: 15px 5px 10px 5px;
	background-color: White;
	width: 190px;
	height:320px;
}
#mobileDeviceOfferLaunchButton{
	padding: 17px 40px 17px 40px;
}
#selectorDeviceHolderWrapper #mobileDeviceOfferLaunchButton{
	padding: 17px 30px 17px 30px;
	margin: 0 0 0 37px;
}
#mobileDeviceOfferStartFrameHolder{
          /* display: none; */
}
#mobileDeviceOfferProductFrameHolder{
	display: none;
}
#mobileDeviceOfferStartFramePointer{
	cursor: pointer;
}
#mobileDeviceOfferStartFrameImage{
	cursor: pointer;
}
#mobileDeviceOfferStartFrame{
	margin-top: 12px;
}
.mobileDeviceOfferPriceDisplay{
	font-size: 23px;
	
}
.selectorDeviceHolderBodyProductName{
	padding:  15px 10px 0 10px;
	font-size: 14px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	color: #000;
}
.selectorDeviceHolderBodyProductPrice{
	padding:  10px 10px 10px 10px;
	font-size: 23px;
	
	text-align: center;
	color: #000;
}
.scrollingBannerContainer {
	border-bottom: none;
}
.selectorDeviceHolderMiddle{
	width: 100%;
	z-index: 148;
	position: absolute;
	top: 0;
	bottom: 0;
}
#DeviceSelectorHolder{
	width:100%;
	position: fixed;
	z-index: 1000;
	top: 0; 
	display: none;
}
#DeviceSelectorScrollerLeftImage{
	width: 66px;
	height: 36px;
	background: url(/banking/03images/base/mobiledeviceoffer/scrollerarrowleft.png) no-repeat;
	cursor: pointer;
}

#DeviceSelectorScrollerRightImage{
	width: 66px;
	height: 36px;
	background: url(/banking/03images/base/mobiledeviceoffer/scrollerarrowright.png) no-repeat;
	cursor: pointer;
}
#DeviceSelectorScrollerLeft{
	cursor: pointer;
	position: absolute;
	z-index: 148;
	top: 45%;
	left: -7px;
}

#DeviceSelectorScrollerRight{
	cursor: pointer;
	position: absolute;
	z-index: 148;
	right: -10px;
	top: 45%;
}
.accessoryBuilder{
	display: none;
}
#switcherWrappermobileDeviceOfferLaunchButton{
	width: 100%;
	margin: 5px 0 0 5px;
}
.selectorDeviceImg{max-width:180px;}

.closeButtonWrapper {
	background: url("/banking/03images/base/error/close-icon.png") no-repeat center center;
	width: 26px;
	height: 26px;
	float: right;
	cursor: pointer;
	position: absolute;
	right: 8px;
	z-index: 148;
	top: 8px;
}
#popupWrapper #main {
	padding-bottom: 5px;
}
#popupWrapper #extendedPageHeader h1 {
	padding: 10px 10px 10px 10px;
}
.browseAllDevicesButton {
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	margin-top: 5px;
	text-align: center;
}

.selectButton {
	padding: 17px 40px 17px 62px;
	margin-left: 6px;
	font-size: 16px;
}
.changeDeviceButton {
	padding: 17px 20px 17px 36px;
	width: 170px;
	margin-left: 10px;
	font-size: 16px;
}
.note.note-top {
	border-top: none;
}
#popupWrapper #extendedPageHeader {
	padding: 0 0 0 0;
}
#extendedPageHeader h1 {
	border-bottom: none;
}