.solutions {
	background-color: white;
	table-layout: fixed;
	margin-top: 16px;
	width: 100%;
	padding: 8px;
}
.solutionsLabel {
	font-size: 21px;
	line-height: 24px;
	padding: 8px 8px 8px 76px;
	vertical-align: middle;
	line-height: 50px;
}
.solutionsGroup {
	padding: 8px;
}
.solutionsItem {
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
}
.solutionsImgAnchor {
	position: relative;
	float: left;
}
.solutionsImg {
	position: absolute;
	top: -24px;
	left: -90px;
}
@media only screen and (min-width : 904px) {
	.solutionsLabel {
		line-height: 24px;
	}
}