<style type="text/css"> 
table {
 width: 100%;
}
strong {
	font-weight: 700;
}
br.artificial_break {
	display: inline;
}
center {
	text-align: left;
}
td {
	text-align: left;
}
body {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 18px;
	color: #666;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.body_small {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 16px;
	color: #666;
}
.body_small_white {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 16px;
	color: #666;
}
.lowlite {
	color: #009999;
	font-size: 18px;
}
.hilite {
	font-weight: 500;
	color: #009999;
}
.pop_up_text {
	font-weight: 500;
	color: #ffffff;
	font-size: 20px;
}
.heading_bold {
	font-size: 18px;
	font-weight: 500;
	color: #333333;
}
.tiny_txt {
	font-size: 10px;
}
.description {
	font-size: 15px;
}
.head_txt {
	font-weight: 500;
	font-size: 20px;
	padding-top: 22px;
}
.head_txt_iphone {
	font-weight: 500;
	font-size: 20px;
	color: #009999;
}
.small_txt {
	font-size: 12px;
}
.small_print {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 12px;
	color: #666;
}
/* This is the Last Trade Price on Shares */
.small_print_white {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 12px;
	color: #666;
}
.smaller_print {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 12px;
	color: #666;
}
.smaller_print_white {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 12px;
	color: #666;
}
.comms {
	font-size: 18px;
	color: #fff;
	font-family: "Roboto", Arial, Helvetica;
	font-weight: 700;
}
.comms_small {
	font-size: 16px;
}
.instruction_txt {
	font-size: 14px;
	color: #009999;
	text-align: left;
	text-transform: uppercase;
}
.instruction_txt_bold {
	font-size: 14px;
	font-weight: 700;
	color: #009999;
	text-align: left;
	text-transform: uppercase;
}
.instruction_med_bold {
	font-size: 14px;
	font-weight: 700;
	color: #009999;
	text-align: left;
	text-transform: uppercase;
}
.instruction_small_bold {
	font-size: 14px;
	font-weight: 700;
	color: #009999;
	text-align: left;
	text-transform: uppercase;
}
.instruction_template {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 14px;
	text-transform: uppercase;
}
.instruction_template_iphone {
	font-family: "Roboto", Arial, Helvetica;
	font-size: 14px;
	text-transform: uppercase;
}
.instruction_hilite {
	font-weight: 700;
	color: #009999;
}
</style>