<style type="text/css">
	br.artificial_break {
		display: none;
	}
	body {
	font-family: "FNB Sans Regular", Arial, Helvetica;
	font-size: 20px;
	line-height:33px;
	color: #333;
	margin: 0px;
	}
	.body_small {
	font-family: "FNB Sans Regular", Arial, Helvetica;
	font-size: 15px;
	line-height:33px;
	color: #333;
	}
	
	.lowlite{
		color: #009999;
	}
	.hilite{
		font-weight: bold;
		color: #009999;
	}
	
	.heading_bold{
		font-size: 17px;
		font-family: "FNB Sans Regular", Arial, Helvetica;
		line-height:14px;
		font-weight: bold;
		color: #333;
	}
	.description{
		font-size: 14px;
	}
	.head_txt{
	font-weight: bold;
	font-size: 20px;
	padding-top:18px;
	}
	.head_txt_iphone{
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	}
	.ssa_heading{
	font-weight: bold;
	font-size: 20px;
	}
	.small_txt{
	font-size: 13px;
	}
	.tiny_txt{
	font-size: 10px;
	}
	.small_print{
	font-family: "FNB Sans Regular", Arial, Helvetica;
	font-size: 13px;
	line-height:33px;
	color: #333;
	}
	.comms{
	font-size: 13px;
	color: #333;
	font-family: "FNB Sans Regular", Arial, Helvetica;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
	.comms_small{
		font-size: 20px;
	}
	.instruction_txt{
	font-size: 20px;
	color:#000000;
	text-align: center;
	}
	.instruction_txt_bold{
	font-size: 20px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	}
	.instruction_med_bold{
	font-size: 20px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	}
	.instruction_small_bold{
	font-size: 20px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	}
	.instruction_template{
	font-family: "FNB Sans Regular", Arial, Helvetica;
	font-size: 20px;
	line-height:33px;
	}
	.instruction_template_iphone{
	font-family: "FNB Sans Regular", Arial, Helvetica;
	font-size: 20px;
	}
	.instruction_hilite{
	font-family: "FNB Sans Regular", Arial, Helvetica;
		font-weight: bold;
		color: #333;
	}
	
/* WINDOWS 8 START */
	
		windows_body {
		font-family: "FNB Sans Regular", Arial, Helvetica;
		font-size: 26px;
		line-height:33px;
		color: #333;
	}
	.windows_body_small {
		font-family: "FNB Sans Regular", Arial, Helvetica;
		font-size: 23px;
		line-height:33px;
		color: #333;
	}
	.windows_hilite{
		font-weight: bold;
		color: #009999;
	}
	.windows_head_txt{
		font-weight: bold;
		font-size: 42px;
		padding-top:18px;
	}
	.windows_head_txt_iphone{
	font-weight: bold;
	font-size: 36px;
	color: #000000;
	}
	.windows_small_txt{
		font-size: 23px;
	}
	.windows_small_print{
		font-family: "FNB Sans Regular", Arial, Helvetica;
		font-size: 18px;
		line-height:33px;
		color: #333;
	}
	.windows_comms{
		font-size: 26px;
		color: #fff;
		font-family: "FNB Sans Regular", Arial, Helvetica;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.windows_comms_small{
		font-size: 20px;
	}
	.windows_instruction_txt{
		font-size: 27px;
		color:#000000;
		text-align: center;		
	}
	.windows_instruction_txt_bold{
		font-size: 27px;
		font-weight:bold;
		color:#000000;
		text-align: center;		
	}
	.windows_instruction_med_bold{
		font-size: 26px;
		font-weight:bold;
		color:#000000;
		text-align: center;		
	}
	.windows_instruction_small_bold{
		font-size: 24px;
		font-weight:bold;
		color:#000000;
		text-align: center;		
	}
	.windows_instruction_template{
		font-family: "FNB Sans Regular", Arial, Helvetica;
    	font-size: 30px;
		line-height:33px;
	}
	.windows_instruction_template_iphone{
		font-family: "FNB Sans Regular", Arial, Helvetica;
    	font-size: 30px;
	}
	.windows_instruction_hilite{
		font-weight: bold;
		color: #000000;
	}
	
/* WINDOWS 8 END */
	
</style>