<style type="text/css">
table {
	width: 100%;
}
strong {
	font-weight: 600;
}
br.artificial_break {
	display: inline;
}
center {
	text-align: left;
}
td {
	text-align: left;
}
body {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 14px;
	color: #666;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body, td, th {
	font-size: 14px;
}
.body_small {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 14px;
	color: #666;
}
.body_small_white {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 14px;
	color: #666;
}
.lowlite {
	color: #00529C;
	font-size: 14px;
}
.hilite {
	font-weight: 600;
	color: #00529C;
}
.pop_up_text {
	font-weight: 100;
	color: #666666;
	font-size: 15px;
	text-align:center;
}
.heading_bold {
	font-size: 17px;
	line-height: 14px;
	font-weight: 500;
	color: #333333;
}
.description {
	font-size: 14px;
}
.head_txt {
	font-weight: 500;
	font-size: 18px;
	padding-top: 20px;
}
.head_txt_iphone {
	font-weight: 500;
	font-size: 18px;
	color: #00529C;
}
.small_txt {
	font-size: 11px;
}
.small_print {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 12px;
	color: #666;
}
.small_print_white {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 12px;
	color: #666;
}
.smaller_print {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 12px;
	color: #666;
}
.smaller_print_white {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 12px;
	color: #666;
}
.comms {
	font-size: 15px;
	color: #fff;
	font-family: -apple-system-font, Helvetica, Arial;
	font-weight: 600;
}
.comms_small {
	font-size: 14px;
}
.instruction_txt {
	font-size: 17px;
	color: #00529C;
	text-align: left;
	text-transform:uppercase;
}
.instruction_txt_bold {
	font-size: 17px;
	font-weight: 500;
	color: #00529C;
	text-align: left;
	text-transform:uppercase;
}
.instruction_med_bold {
	font-weight: 500;
	color: #00529C;
	text-transform:uppercase;
}
.instruction_small_bold {
	font-weight: 500;
	color: #00529C;
	text-transform:uppercase;
}
.instruction_template {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 17px;
	text-transform:uppercase;
}
.instruction_template_iphone {
	font-family: -apple-system-font, Helvetica, Arial;
	font-size: 17px;
	text-transform:uppercase;
}
.instruction_hilite {
	font-weight: 500;
	color: #00529C;
}
.tiny_txt{
	font-size: 10px;
}
</style>