<style type="text/css"> 
body {
 font-family :"Segoe WP Semilight";
 font-size : 20;
 color : #666666;
}
.body_small {
	font-family : "Segoe WP";
	font-size : 18.62;
	color : #666666;
}
.lowlite {
	font-family : "Segoe WP Semilight";
}
.hilite {
	font-family : "Segoe WP Semibold";
	color : #009999;
}
.heading_bold {
	font-family : "Segoe WP";
	font-size : 29.33;
	font-weight : Bold;
	color : #009999;
}
.description {
	font-size : 18.62;
}
.head_txt {
	font-family : "Segoe WP Semilight";
	font-size : 20;
	color : #666666;
}
.small_txt {
	font-family : "Segoe WP";
	font-size : 18.62;
	color : #666666;
}
.small_print {
	font-family : "Segoe WP";
	font-size : 18.62;
	color : #666666;
}
.comms {
	font-family : "Segoe WP Semilight";
	font-size : 21.28;
	color : #FFFFFF;
}
.comms_small {
	font-family : "Segoe WP Semilight";
	font-size : 18.62;
	color : #FFFFFF;
}
.instruction {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_txt {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_txt_bold {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_med_bold {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_small_bold {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_template {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.instruction_hilite {
	font-family : "Segoe WP Semilight";
	font-size : 29.33;
	color : #009999;
}
.pop_up_text {
	font-family : "Segoe WP Semilight";
	font-size : 16;
	color : #FFFFFF;
}
.small_print_white {
	font-family : "Segoe WP Semilight";
	font-size : 20;
	color : #666666;
}
.tiny_txt{
	font-size: 10px;
}
</style>
