<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ attribute name="id" required="false" %>
<%@ attribute name="className" required="false" %>
<%@ attribute name="span" required="false" %>
<%@ attribute name="href" required="false" rtexprvalue="true"%>
<c:set var="body"><jsp:doBody/></c:set>
<td width="${colwidth}%"  colspan="${span}" <c:if test="${not empty id}">id="${id}"</c:if> class="compareCategory ${not empty href?'hrefRedirect clickable':''} ${className}" href="${href}" >
	<div class="compareCategoryInner">${body}</div>
	<div class="compareCategoryInnerLine"></div>
</td>   