<%@ taglib prefix="ui" tagdir="/WEB-INF/tags/chameleon"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<tr class="tr" class="compareSummaries">
	<td width="20%">&nbsp;</td>
	<jsp:doBody></jsp:doBody>
</tr>
