
/* DONOVAN PAYMENT TABLE*/
@media only screen and (max-width:768px){
	/*#paymentsTable .phoneContentButton{display:block;}
	#paymentsTable .tableCell{white-space:nowrap;}
	#paymentsTable .input{width:150px;}
	#paymentsTable .col1{width:100%; text-align:left;}
	#paymentsTable .col2{width:100%; text-align:left; display:none;}
	#paymentsTable .col3{width:100%; text-align:left;}
	#paymentsTable .col4,
	#paymentsTable .col12,
	#paymentsTable .col13,
	#paymentsTable .col14,
	#paymentsTable .col15{width:100%;}
	#paymentsTable .groupedCol1{width:100%; padding:8px 0 8px 0;}
	#paymentsTable .tableRowGroupInner{width:85%;}
	#paymentsTable .groupedCol2{width:15%; background-color:#F5F5F5; padding:0; height:62px; position:absolute; right:0;}
	#paymentsTable .tableGroupHeader{border-bottom:1px solid #FFF; height:40px; line-height:40px;}
	#paymentsTable .groupedCol3{width:100%; height:0; padding:0;}
	#paymentsTable .tableCell .rowMoreButton .phoneRowMoreButtonWrapper{display:block;}
	#paymentsTable .groupedCol4{width:100%;}
	#paymentsTable .hiddenRow,
	#paymentsTable .totalRow{display:none;}
	#paymentsTable .tableRow{border-bottom:4px solid #E7E7E7;}
	#paymentsTable .mobiBtt{display:block;}
	#paymentsTable .tablePhoneButtonSet .phoneTableBtt:hover{background:#B7DBD9;}

	#paymentsTable .tableCell .radioGroup .radioItem{padding:0 50px;}
	#paymentsTable .tableCell .rowMoreButton{width:100%; height:100%; right:-5px;}
	#paymentsTable .tableCell .rowMoreButton .arrow{background-position:right 42%;}
	#paymentsTable .tableCell .radioButtonsGroup{margin:0;}
	#paymentsTable #currentSubtab{margin-top:0;}
	#paymentsTable .tableCellItem.doubleItemBottom{min-height:21px;}*/
}
/* DONOVAN MOBI PAYMENTS TABLE */
@media screen and (max-width:480px){
	/*#paymentsTable .tableCell .rowMoreButton .arrow{background-position:left 42%;}*/
}