#ForexTravellingTable .allocatedContainer {
	float: right;
	text-align: right;
}
#ForexTravellingTable .formTable {
	background: #DADADA;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #DDDDDD;
}
#ForexTravellingTable .allocationButton {
	float: left;
	font-size: 14px;
	padding: 15px 0 0 20px;
}
#ForexTravellingTable .allocatedContainer .allocationHeading {
	font-size: 14px;
	padding: 10px 10px 3px 0;
}
#ForexTravellingTable .allocatedContainer .allocationAmmount{
	font-size: 18px;
	padding: 0 10px 3px 0;
}
#ForexTravellingTable .addButton {
	margin: 10px 0;
}
#ForexTravellingTable .allocationHeading {
	float: left;
}
#ForexTravellingTable .allocationAmount {
	float: left;
	padding: 10px 10px 3px 0;
}