.subTabsMenu{
	border-bottom:none;
}

#forexSolutionsPage .forexSolutionsLeft{
	color:#ffffff;
	background-color:#4eb8b8;
}

#forexSolutionsPage .forexSolutionsRight{
	padding:40px 0 0 0;
background-color:#ffffff;
padding:110px 60px 0 60px;
}

#forexSolutionsPage .forexSolutionsRight ul{
	padding:0;
}

#forexSolutionsPage .forexSolutionsSections{
	margin-bottom:40px;
}

#forexSolutionsPage .topSection{
	background-color:#61bfbf;
	padding:0 20px 30px 60px;
	padding-top:80px;
}

#forexSolutionsPage .bottomSection{
	background-color:#4eb8b8;
	border-color: #61bfbf;
	padding:90px 60px 60px 60px;
}

#forexSolutionsPage .bottomSection a{
	font-size:16px;
	color:#ffffff;
}

#forexSolutionsPage .contactInfo{
	margin-top:15px;
}

#forexSolutionsPage #bottomTriangle{
	left: 60px;
	position: relative;
	top: 0px;height:0;
}

#forexSolutionsPage #bottomTriangleInner{
	height:60px;
	width:60px;
	background-image:url("/banking/04skins/0/images/forexSolutions/bottomTriangle.png");
	background-repeat:no-repeat;
}

#forexSolutionsPage .forexSolutionsHeading{
	font-size:20px;
	font-family:Helvetica,FoundationRoman,Sans-serif;
	margin:0 20px 10px 0;
}

#forexSolutionsPage .forexSolutionsContent{
	font-size:16px;
	margin:0 20px 20px 0;
}

#forexSolutionsPage .forexSolutionsHeadingTop{
	font-size:14px;
	margin:0px 0 0 0px;
}

#forexSolutionsPage .forexSolutionsHeadingMiddle{
	font-size:50px;
	margin:10px 0 10px 0px;
}

#forexSolutionsPage .forexSolutionsHeadingBottom{
	font-size:20px;
	margin:0 0 10px 0px;
}

#forexSolutionsPage .forexSolutionsLeft ul{
	margin:0 0 0 10px;
}

#forexSolutionsPage .forexSolutionsLeft ul li{
	list-style-image:url("/banking/03images/fnb/listicons/whiteListIconSmall.png");
	line-height:30px;
}

@media only screen and (max-width: 799px) {
	
#forexSolutionsPage .topSection {
    padding: 60px 20px 20px 20px;
}
	
#forexSolutionsPage .forexSolutionsHeadingMiddle {
    font-size: 22px;
}	
	
#forexSolutionsPage .forexSolutionsHeadingBottom {
    font-size: 14px;
}

#forexSolutionsPage .forexSolutionsLeft ul {
    margin: 0;
}
	
#forexSolutionsPage .forexSolutionsLeft ul li {
    line-height: 15px;
}


#forexSolutionsPage #bottomTriangle {
    left: 20px;
    width: 30px;
}

#forexSolutionsPage #bottomTriangleInner {
    background-size:50%;
}


#forexSolutionsPage .bottomSection {
    padding: 50px 20px 60px;
    font-size:12px;
}

#forexSolutionsPage .forexSolutionsRight {
    padding: 50px 20px 0;
}

}