h1 {
  font-size: 24px;
  /* 	font-family: libre_baskerville; */
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 24px;
  padding: 16px 8px 2px 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../images/pageSection/headings2.png");
  background-position: 0px -4px;
  text-transform: uppercase;
}

[data-pageCategory="cat1"] h1 {
  background-position: 0px -104px;
}

[data-pageCategory="cat2"] h1 {
  background-position: 0px -204px;
}

[data-pageCategory="cat3"] h1 {
  background-position: 0px -304px;
}

[data-pageCategory="cat4"] h1 {
  background-position: 0px -404px;
}

[data-pageCategory="cat5"] h1 {
  background-position: 0px -504px;
}

[data-pageCategory="cat6"] h1 {
  background-position: 0px -604px;
}

[data-pageCategory="cat7"] h1 {
  background-position: 0px -704px;
}

h2 {
  font-size: 10px;
  line-height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 20px 20px;
  text-transform: uppercase;
}

h2 {
  color: inherit;
}

h3 {
  font-size: 13px;
  line-height: 20px;
  padding: 10px 8px 0px 0px;
  margin: 0px 20px 8px 20px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 13px;
  line-height: 20px;
  padding: 10px 8px 0px 0px;
  margin: 0px 20px 8px 20px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 27px;
}

h6 {
  font-size: 27px;
}

p {
  font-size: 13px;
  line-height: 20px;
  padding: 2px 8px 4px 0px;
  margin: 0px 0px 10px 20px;
}

b {
  font-weight: 700;
}

a {
  color: inherit;
}

a[href=""] {
  text-decoration: line-through;
}

[data-role="orderedList"] {
  list-style: decimal;
  list-style-position: outside;
  padding: 4px 8px 4px 10px;
}

[data-role="orderedList"] li > [data-role="orderedList"] {
  padding: 4px 8px 4px 0px;
}

[data-role="unorderedList"] {
  list-style: disc;
  list-style-position: outside;
  padding: 4px 8px 4px 10px;
}

[data-role="unorderedList"] li > [data-role="unorderedList"] {
  padding: 4px 8px 4px 0px;
}

[data-role="orderedList"] li {
  font-size: 13px;
  line-height: 16px;
  margin-left: 30px;
}

[data-role="unorderedList"] li {
  font-size: 13px;
  line-height: 16px;
  margin-left: 20px;
  padding: 0 0 0 2px;
  background-color: transparent;
  list-style-image: url("../../images/bullets/dot/default.gif");
}

[data-role="unorderedList"] li li {
  margin-left: 16px;
  padding: 0 0 0 2px;
}

[data-pageCategory="cat1"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat1.gif");
}

[data-pageCategory="cat2"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat2.gif");
}

[data-pageCategory="cat3"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat3.gif");
}

[data-pageCategory="cat4"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat4.gif");
}

[data-pageCategory="cat5"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat5.gif");
}

[data-pageCategory="cat6"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat6.gif");
}

[data-pageCategory="cat7"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat7.gif");
}

.arrow li {
  list-style-image: url("../../images/bullets/arrow/default.gif");
}
[data-pageCategory="cat1"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat1.gif");
}

[data-pageCategory="cat2"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat2.gif");
}

[data-pageCategory="cat3"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat3.gif");
}

[data-pageCategory="cat4"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat4.gif");
}

[data-pageCategory="cat5"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat5.gif");
}

[data-pageCategory="cat6"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat6.gif");
}

[data-pageCategory="cat7"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat7.gif");
}
.tableWrapper { padding: 10px 10px 10px 20px; }
[data-role="table"] { table-layout: fixed; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD;}
[data-role="tableCellHeader"] { text-align: left; background-color: #EEEEEE; padding: 10px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;}
[data-role="tableCell"] { padding: 10px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;}

				
[data-role="ratesTable"] { font-size: 12px; background-color: #f2f2f2; border-top: 1px solid black; margin: 8px 0;}
[data-role="ratesTable"], [data-role="ratesTableRow"], [data-role="ratesTableCell"] { width: 100%; height: auto;}
[data-role="ratesTableRow"] { clear:both; border-bottom: 0; padding: 0 8px 8px 8px;}
[data-role="ratesTableHeaderCell"] { display: none; padding: 0 8px; }
[data-role="ratesTableCell"] { border-right: 0; line-height: 30px; padding: 0 8px; }
[data-role="ratesTableCell"] span { display: inline-block; width: 40%; font-weight: bold;}
			
[data-role="ratesTable"] .expander { cursor: pointer; background-color: white; background-position: center right; background-repeat: no-repeat;
	background-image: url("../../images/table/expandable.png"); }
[data-role="ratesTable"] .expanded .expander {
	background-image: url("../../images/table/expanded.png"); }
[data-role="ratesTable"] .expandable { display: none; background-color: #E7E7E7; }
[data-role="ratesTable"] .expanded .expandable { display: block; }
[data-role="ratesTable"] .expanded .expandable [data-role="ratesTableCell"]" { border-bottom-color: white;}
[data-role="ratesTable"] .expanded .expandable:after { 
	content: "";
	position: absolute;
	display: block;
	border-width: 7px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: white;
	border-left-color: white;
	top: -13px;
	left: 70px;
}
[data-role="ratesInnerTable"] { display: table; width:100%; border: none; }
[data-role="ratesInnerTable"] [data-role="ratesTableRow"] { padding: 0;}

[data-role="ratesTableCell"].noPadding, [data-role="ratesTableHeaderCell"].noPadding { padding: 0;}
[data-role="ratesTableCell"].noBorder, [data-role="ratesTableHeaderCell"].noBorder { border: 0;}
				
@media only screen and (min-width: 800px){
	[data-role="ratesTable"]     { display: table; table-layout: fixed;}
	[data-role="ratesTableRow"]        { display: table-row; }
	[data-role="ratesTableHeaderCell"]     { display: table-header-group; }
	[data-role="ratesTableBody"]     { display: table-row-group; }
	[data-role="ratesTableFooter"]     { display: table-footer-group ;}
	[data-role="ratesTableCol"]       { display: table-column; }
	[data-role="ratesTableColGroup"]  { display: table-column-group; }
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"]   { display: table-cell;}
	[data-role="ratesTableCaption"]   { display: table-caption; }

	[data-role="ratesTable"] { background-color: white; border: none;}
	[data-role="ratesTableRow"] { border-bottom: 1px solid #4885A2;}
	[data-role="ratesTableCell"], 
	[data-role="ratesTableHeaderCell"] { border-right: none; }

	[data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; }
	[data-role="ratesTable"] [data-role="ratesTable"] { width: 100%; height: 100%; font-size: 14px; background-color: transparent; }
	[data-role="ratesTableHeaderCell"] { font-weight: bolder; background-color: #4885A2;  color: white; font-size: 13px; line-height: 16px;} /* BFE6E5 */
	[data-role="ratesTableCell"] { font-size: 13px; line-height: normal; }
	[data-role="ratesTableCell"]:first, 
	[data-role="ratesTableHeaderCell"]:first { border-left: 0;}
	[data-role="ratesTableCell"] span { display: none; }

	[data-role="ratesTable"] .td100 { width: 100%; }
	[data-role="ratesTable"] .td90  { width: 90%; }
	[data-role="ratesTable"] .td80  { width: 80%; }
	[data-role="ratesTable"] .td75  { width: 75%; }
	[data-role="ratesTable"] .td70  { width: 70%; }
	[data-role="ratesTable"] .td67  { width: 66.6666%; }
	[data-role="ratesTable"] .td66  { width: 66.6666%; }
	[data-role="ratesTable"] .td60  { width: 60%; }
	[data-role="ratesTable"] .td50  { width: 50%; }
	[data-role="ratesTable"] .td40  { width: 40%; }
	[data-role="ratesTable"] .td33  { width: 33.3333%; }
	[data-role="ratesTable"] .td30  { width: 30%; }
	[data-role="ratesTable"] .td25  { width: 25%; }
	[data-role="ratesTable"] .td20  { width: 20%; }
	[data-role="ratesTable"] .td15  { width: 15%; }
	[data-role="ratesTable"] .td10  { width: 10%; }
	
	
	.mobileBrowser [data-role="ratesTable"] { font-size: 12px; background-color: #f2f2f2; border-top: 1px solid black; margin: 8px 0;}
	.mobileBrowser [data-role="ratesTable"], .mobileBrowser [data-role="ratesTableRow"], .mobileBrowser [data-role="ratesTableCell"] { width: 100%; height: auto;}
	.mobileBrowser [data-role="ratesTableRow"] { clear:both; border-bottom: 0; padding: 0 8px 8px 8px;display:block;}
	.mobileBrowser [data-role="ratesTableHeaderCell"] { display: none; padding: 0 8px; }
	.mobileBrowser [data-role="ratesTableCell"] { border-right: 0; line-height: 30px; padding: 0 8px;display:block; }
	.mobileBrowser [data-role="ratesTableCell"] span { display: inline-block; width: 40%; font-weight: bold;}
		
	.mobileBrowser [data-role="ratesTable"] .expander { cursor: pointer; background-color: white; background-position: center right; background-repeat: no-repeat;
			background-image: url("../../images/table/expandable.png"); }
	.mobileBrowser [data-role="ratesTable"] .expanded .expander {
			background-image: url("../../images/table/expanded.png"); }
	.mobileBrowser [data-role="ratesTable"] .expandable { display: none; background-color: #E7E7E7; }
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable { display: block; }
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable [data-role="ratesTableCell"]" { border-bottom-color: white;}
	.mobileBrowser [data-role="ratesTable"] .expanded .expandable:after { 
			content: "";
			position: absolute;
			display: block;
			border-width: 7px;
			border-style: solid;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: white;
			border-left-color: white;
			top: -13px;
			left: 70px;
		}
	.mobileBrowser [data-role="ratesInnerTable"] { display: table; width:100%; border: none; }
	.mobileBrowser [data-role="ratesInnerTable"] [data-role="ratesTableRow"] { padding: 0;}	
	.mobileBrowser [data-role="ratesTableCell"].noPadding, .mobileBrowser [data-role="ratesTableHeaderCell"].noPadding { padding: 0;}
	.mobileBrowser [data-role="ratesTableCell"].noBorder, .mobileBrowser [data-role="ratesTableHeaderCell"].noBorder { border: 0;}				
}
