h1 {
  font-size: 24px;
  /* 	font-family: libre_baskerville; */
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 24px;
  padding: 16px 8px 2px 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../images/pageSection/headings2.png");
  background-position: 0px -4px;
  text-transform: uppercase;
}

[data-pageCategory="cat1"] h1 {
  background-position: 0px -104px;
}

[data-pageCategory="cat2"] h1 {
  background-position: 0px -204px;
}

[data-pageCategory="cat3"] h1 {
  background-position: 0px -304px;
}

[data-pageCategory="cat4"] h1 {
  background-position: 0px -404px;
}

[data-pageCategory="cat5"] h1 {
  background-position: 0px -504px;
}

[data-pageCategory="cat6"] h1 {
  background-position: 0px -604px;
}

[data-pageCategory="cat7"] h1 {
  background-position: 0px -704px;
}

h2 {
  font-size: 10px;
  line-height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 20px 20px;
  text-transform: uppercase;
}

h2 {
  color: inherit;
}

h3 {
  font-size: 13px;
  line-height: 20px;
  padding: 10px 8px 0px 0px;
  margin: 0px 20px 8px 20px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 13px;
  line-height: 20px;
  padding: 10px 8px 0px 0px;
  margin: 0px 20px 8px 20px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 27px;
}

h6 {
  font-size: 27px;
}

p {
  font-size: 13px;
  line-height: 20px;
  padding: 2px 8px 4px 0px;
  margin: 0px 0px 10px 20px;
}

b {
  font-weight: 700;
}

a {
  color: inherit;
}

a[href=""] {
  text-decoration: line-through;
}

[data-role="orderedList"] {
  list-style: decimal;
  list-style-position: outside;
  padding: 4px 8px 4px 10px;
}

[data-role="orderedList"] li > [data-role="orderedList"] {
  padding: 4px 8px 4px 0px;
}

[data-role="unorderedList"] {
  list-style: disc;
  list-style-position: outside;
  padding: 4px 8px 4px 10px;
}

[data-role="unorderedList"] li > [data-role="unorderedList"] {
  padding: 4px 8px 4px 0px;
}

[data-role="orderedList"] li {
  font-size: 13px;
  line-height: 16px;
  margin-left: 30px;
}

[data-role="unorderedList"] li {
  font-size: 13px;
  line-height: 16px;
  margin-left: 20px;
  padding: 0 0 0 2px;
  background-color: transparent;
  list-style-image: url("../../images/bullets/dot/default.gif");
}

[data-role="unorderedList"] li li {
  margin-left: 16px;
  padding: 0 0 0 2px;
}

[data-pageCategory="cat1"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat1.gif");
}

[data-pageCategory="cat2"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat2.gif");
}

[data-pageCategory="cat3"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat3.gif");
}

[data-pageCategory="cat4"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat4.gif");
}

[data-pageCategory="cat5"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat5.gif");
}

[data-pageCategory="cat6"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat6.gif");
}

[data-pageCategory="cat7"] [data-role="unorderedList"] li {
  list-style-image: url("../../images/bullets/dot/cat7.gif");
}

.arrow li {
  list-style-image: url("../../images/bullets/arrow/default.gif");
}
[data-pageCategory="cat1"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat1.gif");
}

[data-pageCategory="cat2"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat2.gif");
}

[data-pageCategory="cat3"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat3.gif");
}

[data-pageCategory="cat4"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat4.gif");
}

[data-pageCategory="cat5"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat5.gif");
}

[data-pageCategory="cat6"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat6.gif");
}

[data-pageCategory="cat7"] .arrow li {
  list-style-image: url("../../images/bullets/arrow/cat7.gif");
}
