
html {
	background: none;
}

#headerInner {
	background: url("../images/banking/headerBg.png") repeat-x left top;
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../images/banking/arrows/leftArrowSkinSmallWhite.png')
		top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background: url('../images/banking/arrows/rightArrowSkinSmallWhite.png')
		top right no-repeat;
}

#topTabs {
	background: #89c13c;
	padding: 0px
}

#menuWrapper {
	background: none
}

.mainTab {
	background: #89c13c url('../images/banking/topTabsDivider.png') top
		right repeat-y;
}

.mainTab.topTabSelected {
	background-color: #DFB96B;
}

.mainTab.topTabSelected:hover {
	background-color: #DFB96B;
}

.mainTab:hover {
	background-color: #DFB96B !important;
}

.mainTab span {
	color: #fff;
}

.mainTab.topTabSelected span {
	color: #fff;
}

.mainTab.lastTab {
	background-image: none;
}

#loginButton {
	background: none;
	color: #6e9b2f
}

#RegisterButton {
	color: #6e9b2f
}

#ResetButton {
	color: #6e9b2f
}

#RegisterButton {
	color: #6e9b2f
}

#VerifyButton {
	color: #6e9b2f
}

#WebrootButton {
	color: #6e9b2f
}

#searchButton {
	color: #6e9b2f
}

.headerButtonlogoutBtn {
	background: #33ccff !important;
}

#error {
	background: #33ccff;
}

.applyHeaderButton {
	background: #33ccff !important;
}

.footerButton {
	background: #33ccff;
}

#footerButtonGroup .footerBtn{background: #33ccff;}

#footerButtonGroup .footerBtn a{background: #33ccff;}

#actionMenuBttLabelWrapper {
	background: #33ccff url("../images/banking/actionMenu/menuBg.png")
		no-repeat center 6px;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper
	{
	background: #33ccff
		url("../images/banking/actionMenu/menuBgExpanded.png") no-repeat
		center 6px;
}

.actionColFirst {
	background: #33ccff;
}

.dropdownCarat {
	background-color: #33ccff
}

.contentInner {
	background: none;
}

#headerCornerImg {
	background: none;
}

#footerCornerImg {
	background: none;
}

#footerButtonGroup {
	border-top: 1px solid #ccc;
}

#footerTag{
	background: #f2f2f2 url('../images/banking/logo-thin.png') -30px 0px
		no-repeat!important;
}

.loaderProgress {
	background: #33ccff;
}
.notificationsInner {
	background: #33ccff;

}
.timeOutInner {
	background: #33ccff!Important;

}

#bodyContainer #whatsNewContainer li {
	list-style-image: url("../images/listicons/icon_arrow.png");
}
#bodyContainer #significantEventsContainer li {
	background: rgba(0, 0, 0, 0) url('../images/sigEvents/sigEvent.png') 0px 4px no-repeat;
}

/* ie8 Exit tags */

#ie8Stage3 .ie8popupBar{
    background:#e7e7e7!important;
	border-top:10px solid #89c13c!important;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important; 
}

#ie8Stage3  .ie8header1{
	color:#333333!important;
}

#ie8Stage3  .ie8header2{
	color:#333333!important;
}

#ie8Stage3 .ie8p1{
	color:#333333!important;
}

#ie8Stage3 .ie8p2{
	color:#333333!important;
}

#ie8Stage3 .ie8Btn{
	padding: 9px 15px 9px 15px!important;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #89c13c!important;
	color:#ffffff!important;
}
#ie8Stage3 .ie8FindOutMoreBtn{
	background: #ffffff url("../images/ie8Exit/orangeArrow.png") no-repeat!important;
}
#ie8Stage3  .ie8ContentWrapper2{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important;
	}
#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#333333!important;
}
#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#333333!important;
}
#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#333333!important;
}
#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#333333!important;
}
#ie8Stage3 .ie8ContentWrapper2 a {
    color:#333333!important;
}