#main {
	float: left;
}

#standInMessage {display:block;}
.bankingLayoutOne .bankingHomepageBannerHeading {
	font-size: 25px!important;
	padding: 12px!important;
}
.bankingLayoutOne .bankingHomepageBannerBodyCopy {
	font-size: 16px!important;
	padding: 0 12px 12px 12px!important;
}
.bankingLayoutOne .bankingHomepageBannerImg {
	padding: 0 12px 12px 12px!important;
}

.bankingLayoutOne a {
	text-decoration: underline;
}
.bankingLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
}
.bankingLayoutOne .noWrap {
	white-space: nowrap;
}
.bankingLayoutOne a {
	color: inherit;
}
.bankingLayoutOneInner {
	width: 100%;
	position: relative;
	border-bottom: 4px solid white;
}
.bankingLayoutOneA {
	display: block;
	background-color: transparent;
	padding: 0;
	min-height: 88px; /* 8px x 11 */
	height: auto; 
}
.bankingLayoutOneAInner {
	height: 100%;
	overflow: auto;
}
#bannerContainer {
	height: 100%;
	overflow: hidden;
}
.bankingLayoutOneB {
	display: block;
	background-color: white;
	padding: 0 8px 32px 8px;
}
.bankingLayoutOneBInner {
	height: 100%;
	overflow: auto;
}
.bankingLayoutOne h2 {
	padding: 8px 0;
	font-weight: 700;
}
.bankingLayoutOneC {
	display: block;
	background-color: transparent;
	padding: 0;
}
.bankingLayoutOneCInner {
	height: 100%;
	overflow: auto;
}
.bankingLayoutOneC1 {
	padding: 0 8px 32px 8px;
}
.bankingLayoutOneD {
	display: block;
	background-color: transparent;
}
.bankingLayoutOneD1 {
	display: block;
	padding: 8px;
}
.bankingLayoutOneD2 {
	display: block;
	padding: 8px;
}

.homePageLinks {
	padding: 0 8px;
}
.homePageLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/sigEvents/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}
hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}

#welcomeContainer {
	padding: 16px 0 8px 0;
}
#welcomeText  {
	font-size: 9px;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	margin: 0;
	padding: 0;
}
#welcomeUserName {
	font-size: 15px;
	font-weight: 600;
}
#significantEvents {
	border-top: 1px solid black;
}
#whatsNewContainer {
	border-top: 1px solid black;
}
.bankingLayoutOneC1 #whatsNewContainer {
	border-top: 0px solid black;
}
.bankingLayoutOneB3 li {
	list-style-image: url("/banking/03images/fnb/listicons/icon_orange_arrow.png");
	margin-bottom: 0;
	padding: 0 10px 0 0;
	font-size: 12px;
	margin-left: 14px;
}
#significantEventsContainer {
	border-top: 0px solid black;
}
#significantEventsContainer li {
	list-style: none;
	background: transparent url('../../../../../../00Assets/skins/00/images/sigEvents/sigEvent.png') 0px 4px no-repeat;
	margin-bottom: 0;
	padding: 0 20px 0 32px;
	font-size: 12px;
	margin: 0 0 8px 0;
	min-height: 28px;
	position: relative;
}
#significantEventsContainer .dismissSigEvent {
	position: absolute;
	background: transparent url('../../../../../../00Assets/skins/00/images/sigEvents/dismiss.gif') top left no-repeat;
	right: 0;
	width: 15px;
	height: 15px;
	color: #CCC;
	cursor: pointer;
	display: none;
}
#significantEventsContainer li:HOVER .dismissSigEvent {
	display: block;
}
.mobileBrowser #significantEventsContainer .dismissSigEvent {
	display: block;
}

@media only screen and (min-width : 904px) {
	.bankingLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.bankingLayoutOneInner {
		width: 100%;
		display:table;
		table-layout: fixed;
		border-top: 4px solid white;
	}
	.bankingLayoutOneA {
		width: 33%;
		display:table-cell;
		vertical-align: top;
	}
	.bankingLayoutOneAInner {
		min-height: 480px;
	}
	.bankingLayoutOneB {
		display:table-cell;
		vertical-align: top;
	}
	.bankingLayoutOneC {
		width: 33%;
		display:table-cell;
		vertical-align: top;
	}
	.bankingLayoutOneDInner {
		width: 100%;
		display:table;
		table-layout: fixed;
	}
	.bankingLayoutOneD1 {
		width: 33%;
		display:table-cell;
		vertical-align: top;
	}
	.bankingLayoutOneD2 {
		display:table-cell;
		vertical-align: top;
	}
	
	#welcomeBannerText  {
		font-size: 13px;
		font-weight: 600;
	}
	#newsUserName {
		font-size: 21px;
		font-weight: 600;
	}
	
	
}