.bankingLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}

.bankingLayoutOneInner {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-top: 4px solid white;
}

.bankingLayoutOneA {
	min-height: 480px;
	width: 33%;
	display: table-cell;
	vertical-align: top;
}

.bankingLayoutOneB {
	display: table-cell;
	vertical-align: top;
}

.bankingLayoutOneC {
	width: 33%;
	display: table-cell;
	vertical-align: top;
}

.bankingLayoutOneDInner {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.bankingLayoutOneD1 {
	width: 33%;
	display: table-cell;
	vertical-align: top;
}

.bankingLayoutOneD2 {
	display: table-cell;
	vertical-align: top;
}

#welcomeBannerText {
	font-size: 13px;
	font-weight: 600;
}

#newsUserName {
	font-size: 21px;
	font-weight: 600;
}

#rewardsContainer {
	height: 356px;
}