[data-role="newsLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="newsLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="newsLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="newsLayoutOneB"] {
	display: table-cell;
	width: 60%;
	min-height: 100%;
	height: 100%;
}

[data-role="newsLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 20%;
}