[data-role="homePageLayoutOneGridItem"] {
		display: table-cell;
		float: none;
	}
[data-role="homePageLayoutOneGridItem"][data-width="50"] {
	display: table-cell;
	width: 50%;
	float: none;
}
[data-role="homePageLayoutOneGridItem"][data-width="33"] {
	display: table-cell;
	width: 33%;
	float: none;
}
#pageContentOuter {
	background: none;
	width: 75%;
}
#pageContent {
	margin-top: 200px;
}
footer {
	background: transparent url('../../../images/transparent70.png') top left repeat;
}
.homeLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}
.homeLayoutOneInner {
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.homeLayoutOneA {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
.homeLayoutOneB {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}
.homeLayoutOneC {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}

.homeLayoutOneD {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
