#pageContentOuter {
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	float: right;
}
#pageContent {
	display: block;
	padding: 0;
	background: transparent url('../../../images/transparent70.png') top left repeat;
	color: white;
	min-height: 450px;
	height: auto;
	margin-bottom: 60px;
}

.homeLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
	background-color: white;
}
.homeLayoutOneInner {
	width: 100%;
	position: relative;
}
.homeLayoutOneA {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneB {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneC {
	position: relative;
	background-color: white;
}

.homeLayoutOneD {
	height: 88px;
	position: relative;
	background-color: white;
}

.homePageLinks {
  padding: 10px 20px;
}

.homePageLink {
  display: block;
  background: transparent url("../../../../../../00Assets/skins/01/images/bullets/arrow/default.gif") center right no-repeat;
  border-top: 1px solid #777;
  padding: 10px 0 10px 0px;
  padding: 20px 0;
  text-decoration: none;
}

hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}
[data-role="homePageLayoutOneGrid"] {
	border-collapse: separate;
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 20px;
}
[data-role="homePageLayoutOneGrid"].noSpacing {
	border-spacing: 0px;
}
[data-role="homePageLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="homePageLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	float: left;
	margin-top: 10px;
	background: url("../../../images/transparent70.png");
	text-decoration: none;
	padding: 0 10px 10px 0;
}
[data-role="homePageLayoutOneGridItem"].noBackground {
	background: none;
}
[data-role="homePageLayoutOneGridItem"].padded {
	padding: 10px 10px 10px 0px;
}
[data-role="homePageLayoutOneGridItemInner"] {
	height: 100%;
}

[data-role="homePageLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
[data-role="homePageLayoutOneGridItem"].moreText {
	cursor: pointer;
	text-decoration: none;
}
[data-role="homePageLayoutOneGridItemHeading"] {
	padding: 10px 0px 0px 20px;    
	font-size: 13px;
	font-weight:700;
	text-transform: uppercase;
	line-height: 20px;
}
[data-role="homePageLayoutOneGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}
@media only screen and (min-width : 400px) {
	[data-role="homePageLayoutOneGridItem"] {
		display: block;
		float: none;
	}
}
@media only screen and (min-width : 800px) {
	#pageContentOuter {
		background: none;
		width: 75%;
	}
	#pageContent {
		margin-top: 200px;
	}
	.homeLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.homeLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.homeLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	.homeLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}	
	[data-role="homePageLayoutOneGridItem"] {
		display: table-cell;
		float: none;
	}
}


/*IE8 STYLES*/

.IE8 [data-role="homePageLayoutOneGridItem"] {
		display: table-cell;
		float: none;
	}
.IE8 [data-role="homePageLayoutOneGridItem"][data-width="50"] {
	display: table-cell;
	width: 50%;
	float: none;
}
.IE8 [data-role="homePageLayoutOneGridItem"][data-width="33"] {
	display: table-cell;
	width: 33%;
	float: none;
}
.IE8 #pageContentOuter {
	background: none;
	width: 75%;
}
.IE8 #pageContent {
	margin-top: 200px;
}
.IE8 footer {
	background: transparent url('../../../images/transparent70.png') top left repeat;
}
.IE8 .homeLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}
.IE8 .homeLayoutOneInner {
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.IE8 .homeLayoutOneA {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
.IE8 .homeLayoutOneB {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}
.IE8 .homeLayoutOneC {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}

.IE8 .homeLayoutOneD {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
