.subHeaderOrderSim{
	margin-top: 8px; 
}

.mvnoEziContainer{
	height : 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

.mvnoEziSubHeading{
	padding:4px;
}

.mvnoNoteValue{
	font-weight: bold;
}

#eziInnerContainer{
	padding-top: 4px;
}

.mvnoInfo{
	background-color: #FAF8F8;
	padding: 2px 0 5px 0;
	margin: 2px 0 5px 8px;
}

.mvnoEziLine{
	border-bottom:  thin solid black;
	padding: 3px;
}