<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%-- wrapper for mvno Brand Slide Container --%>
<div data-role="sliderTableWrapper" class="sliderTableWrapper">
	<jsp:doBody />
</div>