<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ attribute required="false" name="mvnoBrandSliderSrc"%>


<%-- wrapper for mvno Brand Slide Table Cell Two add product Image--%>
<div data-role="silderTableCellTwo">
		<img src="${mvnoBrandSliderSrcs}" width="125" height="95">	
</div>