<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="fnb.generic.mvnoPageLayouts.mvnoAllBrands" tagdir="/WEB-INF/tags/generic/layout/mvnoPageLayouts/mvnoAllBrands"%>

<div data-role="mvnoAllBrandsWrapper">
<jsp:doBody />
</div>