
html {
	background: none;
}

#headerInner {
	background: url("../images/banking/headerBg.png") repeat-x left top;
}

#topTabs {
	background: #282828;
	padding: 0px
}

#menuWrapper {
	background: #282828
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../images/banking/arrows/leftArrowSkinSmallWhite.png')
		top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background: url('../images/banking/arrows/rightArrowSkinSmallWhite.png')
		top right no-repeat;
}
.mainTab {
	background: #282828;
	border-right: 1px solid #ccc;
	border-bottom: 3px solid #282828
}

.mainTab.topTabSelected {
	background-color: #282828;
	border-bottom: 3px solid #0f66ad
}

.mainTab.topTabSelected:hover {
	background-color: #282828;
}

.mainTab:hover {
	background-color: #282828 !important;
	border-bottom: 3px solid #0f66ad
}

.mainTab span {
	color: #fff;
}

.mainTab.topTabSelected span {
	color: #fff;
}

.mainTab.lastTab {
	background-image: none;
}

#loginButton {
	background: none;
	color: #282828
}

#RegisterButton {
	color: #282828
}

#ResetButton {
	color: #282828
}

#RegisterButton {
	color: #282828
}

#VerifyButton {
	color: #282828
}

#WebrootButton {
	color: #282828
}

#searchButton {
	color: #282828
}

.headerButtonlogoutBtn {
	background: #0f66ad !important;
}

#error {
	background: #0f66ad;
}

.applyHeaderButton {
	background: #0f66ad !important;
}

.footerButton {
	background: #0f66ad;
}
#footerButtonGroup .footerBtn{
	background: #0f66ad;	
}
#footerButtonGroup .footerBtn a {
	background: #0f66ad;
}

#actionMenuBttLabelWrapper {
	background: #282828 url("../images/banking/actionMenu/menuBg.png")
		no-repeat center 6px;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper
	{
	background: #282828 url("../images/banking/actionMenu/menuBgExpanded.png") no-repeat center 6px;
}

.actionColFirst {
	background: #0f66ad;
}

.dropdownCarat {
	background-color: #0f66ad
}

.contentInner {
	background: none;
}

#headerCornerImg {
	background: none;
}

#footerCornerImg {
	background: none;
}

#footerButtonGroup {
	border-top: 1px solid #ccc;
}

#footerTag{
	background: #f2f2f2 url('../images/banking/logo-thin.png') -0px 5px no-repeat!important;
}

.loaderProgress {
	background: #0f66ad;
}
.notificationsInner {
	background: #0f66ad;
}
.timeOutInner {
	background: #0f66ad!Important;

}

#bodyContainer #whatsNewContainer li {
	list-style-image: url("../images/listicons/icon_arrow.png");
}
#bodyContainer #significantEventsContainer li {
	background: rgba(0, 0, 0, 0) url('../images/sigEvents/sigEvent.png') 0px 4px no-repeat;
}