#valueAdds .tr {
	position: relative;
}
#valueAdds .formTable {
	position: relative;
}
#valueAdds .valueAddItem {
	background: #FFF;
	position: relative;
}

#valueAdds .valueAddItem.border1 {
	border-top: 6px solid #E7E7E7;
	border-right: 3px solid #E7E7E7;
	border-left: 6px solid #E7E7E7;
}

#valueAdds .valueAddItem.border0 {
	border-top: 6px solid #E7E7E7;
	border-right: 6px solid #E7E7E7;
	border-left: 3px solid #E7E7E7;
}

#valueAdds .valueAddItem h3{
	padding: 20px 20px 0 20px;
	font-size: 18px;
}

#valueAdds .valueAddItem p{
	font-size: 14px;
	padding: 10px 20px;
}

#valueAdds .valueButton {
	float: left;
	width: 25%;
}

#valueAdds .valueButton. {
	float: left;
	width: 25%;
	text-align: center;
}

#valueAdds .valueButtonImage {
	float: left;
	padding: 0 10px 0 20px;
	cursor: pointer;
}

#valueAdds .valueButtonHeading {
	float: left;
	padding: 10px 0 0 0;
	cursor: pointer;
}

#valueAdds .innerDivVAS {
	min-height: 130px;
    padding: 0 0 20px;
    position: relative;
}

#valueAdds .valueMajorButton {
	background: url("/banking/03images/fnb/arrows/tableRightOrange.png") no-repeat scroll right center transparent;
    font-size: 14px;
    bottom: 10px;
    height: 34px;
    padding: 12px 62px 0;
    position: absolute;
    right: 0;
}
#valueAdds .subTabsMenu li {
margin-top: 28px;
}

#valueAdds #rightIcons{
	margin: 0 0 20px 0;
}

#valueAdds .rightIconsBorders{
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	padding: 10px 0;
}

#valueAdds .vasPopup {
	color: #FFF;
	background: #009899;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	margin: 20px 0;
	position: relative;
}

#valueAdds .vasPopup h3{
	font-size: 18px;
	float: left;
}

#valueAdds .vasPopup .vasPopupDescription{
	vertical-align: middle;
	font-size: 14px;
}

#valueAdds .vasPopupImage {
	padding: 30px 0;
}

#valueAdds .vasPopupClose {
	background: url("/banking/03images/base/valueAdds/closeBtt.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
}
#valueAdds .cardvasApplyButton {
	background-color: #F79B15;
    bottom: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px 0 0;
    padding: 10px 20px;
    position: absolute;
    right: 5px;
}