/* ie8 Exit tags */



#ie8Stage3{
    background: url('../../../images/ie8Exit/popupoverlay.png') repeat;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0;
    z-index: 49;
    right:0px;
    margin-left:0px;
    width:100%;
    bottom:0px;
    min-width:500px;
}

#ie8Stage3 .ie8popupOverlay{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#ie8Stage3 .ie8popupBar{
    background:url('../../../images/ie8Exit/fnbTexture.jpg') repeat;
    border-right: none;
    left: 0px;
    width:100%;
    min-height: 250px;
    position: relative;
    right: 0;
    top: 150px;
    z-index: 8010;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	border-top:none;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../../../images/ie8Exit/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
}


#ie8Stage3  .ie8header1{
	color:#ffffff;
	font-family:"FNBSansThin";
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3  .ie8header2{
	color:#023433;
	font-family:"FNBSansThin";
	margin-bottom:3%;
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3 .ie8p1{
	color:#ffffff;
	font-size:18px;
	margin-bottom:3%;
	padding:0;
	line-height: 20px;
}

#ie8Stage3 .ie8p2{
	color:#023433;
	font-size:14px;
	padding:0;
}

#ie8Stage3 .ie8p2 a{
	cursor:pointer;
}

#ie8Stage3 .ie8BtnWrapper{
	width:100%;
	margin:auto;
	text-align:center;
	float:none;
	margin-top:5%;
}

#ie8Stage3 .ie8Btn{
	border:none;
	padding: 9px 15px 9px 15px;
	cursor:pointer;
	width:240px;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #ff9900  url('../../../images/ie8Exit/whiteArrow.png') no-repeat;
	background-position:8px center;
	color:#ffffff;
	float:left;
	cursor:pointer;
}

#ie8Stage3 .ie8FindOutMoreBtn{
	background: #ffffff url("../../../images/ie8Exit/orangeArrow.png") no-repeat;
	background-position: 5px center;
	float:right;
}

.clearBoth{
	clear:both;
}

#ie8Stage3 .ie8bottom{
	height:15px;
	width:60%;
	background: #ffffff url("../../../images/ie8Exit/bottom.png") repeat;
	background-size: 5px 16px;
	background-position:left bottom;
	float:right;
}

.ie8DisplayNone{
	display:none;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../../../images/ie8Exit/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
	color:#ffffff!important;
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 38px;

}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 20px;
    margin-bottom: 1%;
    margin-top:4%;
    padding:0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline;
    color:#ffffff;
}

