#sendMoneyTable .groupedCol1 {width:100%;}
#sendMoneyTable .col1{width:50%}
#sendMoneyTable .col2{width:48%}
#sendMoneyTable .col3{width:0%}
#sendMoneyTable .col4{width:0%}
#sendMoneyTable .col5{width:0%}

#sendMoneyTable .dropdown-content-wrapper {width: 250px!important;}
#sendMoneyTable .dropdownElementWrapper {padding: 0;}
#sendMoneyTable .hiddenField {display: none;}
.tableContainer .col5 .dropdown-item-row {white-space: normal;}

@media only screen and (max-width: 799px) {
	#sendMoneyTable .col1 {width:80%!important}
	#sendMoneyTable .td .formElementWrapper:first-child {border:none;}
	#sendMoneyTable .td .formElementWrapper {border:none;}
	#sendMoneyTable .hideForMobile {padding-right: 0;}
	#sendMoneyTable .setProvider .hiddenLabel {display:none;}
	.eziWrapper #pageActionBar #eziPannelButtons {width:100%!important}
	
	.tableRow .large a {
		pointer-events: auto;
    	text-decoration: underline;
    }
    .tableContainer a {
		pointer-events: auto;
    	text-decoration: underline;
    }
	
}