
html {
	background: none;
}

body {
background: url('../images/banking/bg-texture.png');
}

#headerInner {
	background: url("../images/banking/headerBg.png");
}

#topTabs {
	background: none;
	padding: 0px
}

#menuWrapper {
	background: none
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../images/banking/arrows/leftArrowSkinSmallWhite.png')
		top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background: url('../images/banking/arrows/rightArrowSkinSmallWhite.png')
		top right no-repeat;
}
.mainTab {
	background: none;
	border-right: 1px solid #ccc;
}

.mainTab.topTabSelected {
	background: none;
	border-bottom: 3px solid #5C447E
}

.mainTab.topTabSelected:hover {
	background-color: none;
}

.mainTab:hover {
	background-color:#e3e3e3;
	border-bottom: 3px solid #5C447E;
}

.mainTab span {
	color: ##717171;
}

.mainTab.topTabSelected span {
	color: #717171;
}

.mainTab.lastTab {
	background-image: none;
}

#loginButton {
	background: none;
	color: #5C447E
}

#RegisterButton {
	color: #5C447E
}

#ResetButton {
	color: #5C447E
}

#RegisterButton {
	color: #5C447E
}

#VerifyButton {
	color: #5C447E
}

#WebrootButton {
	color: #5C447E
}

#searchButton {
	color: #5C447E
}

.headerButtonlogoutBtn {
	background: #0f66ad !important;
}

#error {
	background: #5C447E;
}

.applyHeaderButton {
	background: #0f66ad !important;
}

.footerButton {
	background: #5C447E!important;
}

#footerButtonGroup .footerBtn {background: #5C447E!important;}

#footerButtonGroup .footerBtn a{background: #5C447E!important;}

#actionMenuBttLabelWrapper {
	background: #868686 url("../images/banking/actionMenu/menuBg.png")
		no-repeat center 6px!important;
}

.actionMenuBttLabelWrapperExpanded #actionMenuBttLabelWrapper
	{
	background: #868686 url("../images/banking/actionMenu/menuBgExpanded.png")
		no-repeat center 6px;
}

.actionColFirst {
	background: #5C447E;
}

.dropdownCarat {
	background-color: #5C447E
}

.contentInner {
	background: none;
}

#headerCornerImg {
	background: none;
}

#footerCornerImg {
	background: none;
}

#footerButtonGroup {

}

#footerTag {
	background: #f2f2f2 url('../images/banking/logo-thin.png') -25px 4px   no-repeat!important;
}

#footerContainer {

border-top: 4px solid #5C447E;
}

.loaderProgress {
	background: #5C447E;
}
.eziLoaderProgress {
	background: #5C447E;
}

.notificationsInner {
	background: #5C447E;

}
.timeOutInner {
	background: #5C447E!Important;

}
/*FORMS*/
.radioButton[data-state="checked"] {
	background: #9d8fb0;
	color:#000
	
		
}
.radioButton:hover {
		background: #fff;
		color:#000
}
.radioGroupWrapper {
	background: #5C447E;
	color:#fff

}
.input,textarea,.checkBox,.checkBox[data-state="checked"],.dropdownSelected,.dropdownContent.open  {

	border: 1px solid #cbcbcb;

}

.input:focus{border: 2px solid #5C447E;}

.checkBox {background:
		url("../images/banking/checkbox_sprite.png") 0 200px
		no-repeat #FFF;}

#bodyContainer #whatsNewContainer li {
	list-style-image: url("../images/listicons/icon_arrow.png");
}
#bodyContainer #significantEventsContainer li {
	background: rgba(0, 0, 0, 0) url('../images/sigEvents/sigEvent.png') 0px 4px no-repeat;
}

/* ie8 Exit tags */
		
		
#ie8Stage3 .ie8popupBar{
   	 background:url('../images/ie8Exit/dicscoveryTextures.jpg') repeat!important;
	border-top:10px solid #5c447e!important;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important; 					
}


#ie8Stage3  .ie8header1{
	color:#333333!important;
}

#ie8Stage3  .ie8header2{
	color:#333333!important;
}

#ie8Stage3 .ie8p1{
	color:#333333!important;
}

#ie8Stage3 .ie8p2{
	color:#333333!important;
}

#ie8Stage3 .ie8Btn{
	padding: 8px 15px 25px 14px!important;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #e7e7e7!important;
	color:#333333!important;
	background: url('../images/ie8Exit/gradient.png') repeat-x!important;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../images/ie8Exit/plug.png") no-repeat!important;
	background-position: 0px bottom!important; 	
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#333333!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#333333!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#333333!important;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#333333!important;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline!important;
    color:#333333!important;
}		