
#big3ShoutOutContainer {

}
.big3InnerWrapper{
	float:left;
	width: 100%;
}
#big3ShoutOut {
	font-size: 16px;
	/* position: absolute; */
	padding: 8px 8px;
	/* background-color: #009999; */
	color: #000;
	z-index: 5;
	right: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
}
#big3ShoutOutArrow {
	width:13px;
	height:17px;
	background-image:url("/banking/03images/base/big3/headingBubbleDownArrow.png");
	position: absolute;
	bottom: -13px;
	right: 20px;
}
#big3OuterWrapper {
	/* padding-top: 5px; */
	clear:both; 
	/* padding-bottom: 25px; */
	background: #f2f2f2;
	min-width: 100%;
	/* max-height: 142px; */
	overflow:hidden;
	position: relative;
	margin-bottom: 16px;
}
	
.big3MoreButton{}

.big3LeftTopCorner{
	width:13px;
	height:13px;
	background-image:url("/banking/03images/base/big3/bigThreeLeftTopCorner.png");
	position: absolute;
	top: 25px;
	z-index: 50;
	display: none;
}
#big3 {font-size:18px; background-color:#D2E5E4; display:table; width:100%;}

.scrollingBannerContainer {
	/* top: 20px; */
	/* border-bottom: 6px solid #fff; */
}
.scrollingBannerItem{
	border-right: 5px solid #f2f2f2;
	height: 106px;
	cursor:pointer;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom:3px solid #ff9900
}
.big3Container{
	min-width: 290px;
}
.scrollingBannerItem:last-child
{
	border-right: none;
}

.big3Inner {
	padding: 10px 0 0 0;
	height: 100%;
	position: relative;
}

.big3Container.preselected,
.big3Container.preapproved {background-position:left center; background-repeat:no-repeat;}
.big3Container.preselected {background-image:url("/banking/03images/base/big3/preselected.png");}
.big3Container.preapproved {background-image: url("/banking/03images/base/big3/preapproved.png");}

.preselected .big3Inner,
.preapproved .big3Inner{padding-left:30px;}

.big3Heading {
	padding-right: 30px;
	margin: 0;
	float: none;
	color: #ff9900;
}
.big3Paragraph {
	padding: 0 40px 0.5em 8px;
	color:#666;
	margin:0;
	font-size: 12px;
	line-height:1.25em;
}
.callToAction {
	background: #ff9900 url("/banking/03images/base/big3/rightArrowWhite.png") no-repeat 10px center;
	min-width:37px;
	height:37px;
	line-height:37px;
	padding: 0 10px 0 27px;
	position: absolute;
	bottom:0.7em;
	right: 0;
	color: #fff;
	font-size: 13px;
}
.big3MoreButton{
	background:url("/banking/03images/base/big3/rightArrowWhite.png") no-repeat 100% 80%;
	width:37px;
	height:34px;
	position: relative;
	bottom:0.7em;
	float: right;
}
/* BIGTHREEOFFER used for B-E testing purposes */

#bigThreeOffer{width:100%; font-size:12px;}
#bigThreeOffer .input-wrapper{width:50%; float:left;}
#bigThreeOffer #bigThreeGo{
	float:left;
	background-color:#73C7C7;
	color:#FFF;
	display:block;
	width:50px;
	height:28px;
	font-size:14px;
	line-height:28px;
	text-align:center;
	margin-top:8px;
	
}
#bigThreeOffer #bigThreeGo:hover {background:#009999;}
/* END bigThreeOffer */