<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="fnb.generic.mvnoPageLayouts" tagdir="/WEB-INF/tags/generic/layout/mvnoPageLayouts"%>

<%@ attribute required="false"  name="productFeature"%> 
<%@ attribute required="false"  name="productFeatureDsc"%>

	<%-- add all mvno Product Color Options --%>
	<li class="productFeature">${productFeature }</li>
	<li class="pruductFeatureDsc">${productFeatureDsc }</li>