<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ attribute required="true" name="id"%>
<%@ attribute required="false" name="className"%>
<%@ attribute required="false" name="visible"%>


<div data-role="subTabsContainer" class="allPromotionslayoutOneSubTabsContainer">
</div>