<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ attribute name="text" required="true" rtexprvalue="true"%>

<div class="pageOptionsWrap" >
	<div class="pageOptions " onclick="actionBar.showMenu()"><a></a></div>
	<div class="pageOptions close" onclick="actionBar.hideMenu(false)" ><a></a></div>
</div>

