<%@ taglib prefix="c" uri="/WEB-INF/c.tld" %>

<div class="tableControls tall">
	<span class="tableControls2">
		<span class="tableControls3">
			<jsp:doBody></jsp:doBody>
		</span>
	</span>
	<div style="clear:both"></div>
</div>