<%@ taglib prefix="base" tagdir="/WEB-INF/tags/base"%>
<%@ taglib prefix="c" uri="/WEB-INF/c.tld" %>
<%@ tag body-content="scriptless"  %>
<div class="tableh clearfix">		      			
<span class="tableh2 yes">
<jsp:doBody/>
</span></div>

<base:divContainer className="clear" />