
		<style type="text/css">
		
		/*header*/
		#topBar2
		{
		margin: 0 20px;
		padding: 2px 0 0 0;
		}
		
		.topBarItem
		{
		float: left;
		height: 38px;
		}
		
		.input
		{
		width: 120px;
		}
		
		.input input
		{
		width: 100px;
		}
		
		.formButton
		{
		float: right;
		}
		
		#searchItem
		{
		}
		
		#bankingItem
		{
		float: right;
		}
		
		#bankingItem a
		{
		height: 38px;
		background: url(/banking/03images/fnb/arrows/orangeDown.gif) center 25px no-repeat;
		line-height: 22px;
		display: block;
		text-decoration: none;
		}
		
		#loginItem
		{
		/*background: url(/banking/03images/fnb/ui/topBarDivider.png) left top repeat-y;*/
		float: right;
		}
		
		#loginItem .formElement, #loginItem .formButton
		{
		margin: 0 0 0 10px;
		}
		

		
		
		
		</style>
		
<div id="header">
		
		<div id="headLeft"><div id="headLeft2"></div></div>
	     
	    <div id="headCenter">
	    <div id="headCenter2">
	    <div id="headCenter3">
		 
			<jsp:doBody></jsp:doBody>
		
		</div>
	    </div>
	    </div>
	     
	    <div id="headRight"><div id="headRight2"></div></div>
		
</div>

   