<%@ taglib prefix="c" uri="/WEB-INF/c.tld" %>
<%--
SOUTHAFRICA = 15;
KULULA 		= 21;
VODACOM 	= 22;
CLICKS 		= 24;
NAMIBIA 	= 45;
BOTSWANA 	= 55;
SWAZILAND 	= 65;
EBUCKS 		= 75;
LESOTHO 	= 80;
ZAMBIA 		= 81;
TANZANIA 	= 82;
INDIA 		= 83;
--%>
<c:choose>
	<%--<c:when test="${country=='21'}"></c:when>
	<c:when test="${country=='22'}"></c:when>
	<c:when test="${country=='24'}"></c:when>--%>
	<c:when test="${country=='45'}">onlinebanking@fnbnamibia.com.na</c:when>
	<c:when test="${country=='55'}">internetbanking@fnbbotswana.co.bw</c:when>
	<c:when test="${country=='65'}">callcentreswz@fnb.co.za</c:when>
	<%--<c:when test="${country=='75'}"></c:when>--%>
	<c:when test="${country=='80'}">onlinebankingzob@fnb.co.za</c:when>
	<c:when test="${country=='81'}">onlinepersonal@fnbzambia.co.zm</c:when>
	<c:when test="${country=='82'}">helpdesk@fnbtanzania.co.tz</c:when>
	<%--<c:when test="${country=='83'}"></c:when>--%>
	
	<c:otherwise>onlinebankingzob@fnb.co.za</c:otherwise>
</c:choose>