<%@ taglib prefix="base" tagdir="/WEB-INF/tags/base"%>
<%@ attribute name="tableItem" required="true" rtexprvalue="true" type="fnb.online.tags.beans.table.TableTextItem"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<c:if test="${!empty tableItem.processingResultViewBean.printButton || !empty tableItem.processingResultViewBean.downloadButton || !empty tableItem.processingResultViewBean.emailButton}">
	<div>Hi</div>
</c:if>
