<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<%@ attribute name="id" required="false" rtexprvalue="true"%>
<%@ attribute name="className" required="false" rtexprvalue="true"%>

<div<c:if test='${not empty id}'> id="${id}"</c:if><c:if test='${not empty className}'> class="${className}"</c:if>>
	<jsp:doBody></jsp:doBody>
</div>