<%@ attribute name="size" required="true" rtexprvalue="true"%>

<div class="tableControls ${size}">
	<span class="tableControls2">
		<span class="tableControls3">
		
		<jsp:doBody></jsp:doBody>
		
		</span>
	</span>	
</div>