<%@ attribute name="align" required="false" rtexprvalue="true"%>
<%@ attribute name="content" required="true" rtexprvalue="true"%>
<%@ attribute name="image" required="false" rtexprvalue="true"%>
<%@ attribute name="menu" required="false" rtexprvalue="true"%>

<span class="rowButton ${align} ${image}" onclick="fnb.functions.unhider.unhide(id,'${menu}','left','show')">
<span class="rowButton2">

	${content}

</span>
</span>



