<%@ taglib prefix="base" tagdir="/WEB-INF/tags/base" %>
		
<span class="tableControlsFilter">
	<span class="showItems">
	<span class="showItems2">
	Show 
	<select id="select" name="select">
	  <option>300</option>
	  <option>200</option>
	  <option>100</option>
	  <option>50</option>
	  <option>10</option>
	</select> 
	Items
	</span>	
	</span>					
	
	<span class="filterItems">
	<!span class="filterItems2">
		<base:input id="filter" type="inner" value="Filter" label="inner" />
		<!--Filter <input type="text" id="textfield" name="textfield">-->
	</span>
	</span>	
</span>