<%@ taglib prefix="c" uri="/WEB-INF/c.tld"%>
<%@ taglib prefix="base" tagdir="/WEB-INF/tags/base"%>

<base:divContainer className="tableHeaderAddButtonContainer clearfix">
	<jsp:doBody></jsp:doBody>
</base:divContainer>