.lottoPbFinish h6{padding:0;font-size:13px}
.lottoPbFinish .lottoBoardlist{margin:0;}
.lottoConfirm .tableCell {
padding: 5px 15px;
} 
.lottoConfirm .tableHeaderRow {padding:0px 15px}
.boardListContainerFinish{background: none;/* padding-left:20px; */}
.note.teal1 a{color:#FFF;}

#eziWrapper #eziHeader_pageType {
font-size: 16px;
margin: 10px 0 5px 15px;
}
   
   
/*Main Page*/
img.lottoColoredNumber{margin-right:5px;}
.lottoBonusHeader{
	display:inline;
	font-size:24px;
	margin:0 10px 0 30px;
	position:relative;
	text-transform:uppercase;
	top:7px;
	vertical-align:top;
	width:50px;
}
.lottoButton{
	background-color:#FF9900;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
	float:left;
	padding:15px 25px;
	margin-right:5px;
}

.lottoButton a{text-decoration:none;}
a.lottoBlueLink{
	/* background:url("/banking/03images/fnb/arrows/orangeRight.gif") no-repeat left center transparent; */
	color: #000;
	margin-right:20px;
	padding-right:15px;
	display:block;
	padding-left: 0px;
}

.playResponsibly {
	padding: 30px 30px 30px 120px;
	background: url(/banking/03images/fnb/PlayResponsibly.jpg) no-repeat 15px center #73C7C7;
	/* display: none; */
}

.lottoHeader1{font-size:18px;}
.lottoHeader2{font-size:30px;}
.lottoHeader3{clear:both; color:#888; margin-top:15px;}

/* Number Picker */
#numberPicker #lottoBoardViewRow{background:#e7e7e7;margin-top:0px;padding-top:10px;}
#numberPicker .formTable{background:#e7e7e7;padding-left:15px;font-size:14px;}
#numberPicker .numberPickerNumberText{font-size:9px;}

.numberPickerHeaderTitle{background-color:#009999; height:80px;}
.numberPickerGrid{
width: auto;
padding-bottom: 20px;
float: left;
border-top:1px solid #e7e7e7;
}


.numberPickerCell{
	width:25%;
	height:41px;
	float:left;
	cursor:hand;
	border-left: 1px solid #E7E7E7;
border-bottom: 1px solid #E7E7E7;
}

.numberPickerCell.lastNumber{border-right:1px solid #e7e7e7;}

.numberPickerCell .numberSelected{
	background-color:#ADDBDB;
	color:#FFF;
}

.numberPickerCellSelected{
	border:1px solid #DADADA;
	width:48px;
	height:41px;
	float:left;
	background-color:#FF9900;
	cursor:pointer;
}

.numberPickerCellText{
	text-align:center;
	font-size:18px;
	height:40px;
	color:#099;
	background-color:#FFF;
}

.numberPickerCellTextInner{
	text-align:center;
	font-size:18px;
	/*color:#099;*/
	padding-top:12px;
	padding-bottom:11px;
	cursor:pointer;
}

.numberPickerCellText .change:hover{
	background-color:#ADDBDB;
	color:#FFF;
	cursor:pointer;
}

.numberPickerHeader_left{
	width:110px;
	float:left;
	color:#FFF;
	padding-left:10px;
	padding-top:10px;
}

.numberPickerHeaderTitle h3,.numberPickerHeaderTitle p{
	color:#FFF;
	margin:3px;
	float:left;
}

.numberPickerHeader_right{
	padding:5px;
	padding-top:28px;
}

.numberPickerHeaderTitle .numberPickerNumber{
	width:25px;
	height:25px;
	background-color:#ADDBDB;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-khtml-border-radius:12px;
	border-radius:12px;
	float:left;
	margin-right:2px;
}

.lottoBoardlistItem .numberPickerNumber{
	width:25px;
	height:25px;
	background-color:#ADDBDB;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-khtml-border-radius:12px;
	border-radius:12px;
	float:left;
	margin-right:2px;
}

#lottoBoardViewRow .lottoBoardlistItem{
	float:none;
	clear:both;
	margin-top:7px;
	height:30px;
}

.numberPickerNumberText{
	text-align:center;
	font-size: 14px;
	line-height: 25px;
	width: 100%;
}

.numberPickerHeader_button{}

.numberPickerHeaderTitle .formButton{
	border:none;
	background:#099;
	display:inline-block;
	padding:5px;
	color:#FFF;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	float:right;
}

.numberPickerHeaderNumber_wrapper{
	width:100%;
	height:25px;
}

/* Lotto Play Now */
#winnerAcc{clear:both;border-top:5px solid #E7E7E7;}

#eziWrapper #playLottoLanding .dropdown-label-inner{padding:0;}

#lottoBoardsHolder{
	position:relative;
	/* height:135px; */
	overflow:hidden;
	width:100%;
	clear: both;
	display: block;
}

#maxMessage{
	position: absolute;
	top: 58px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding: 15px 0;
	opacity:0;
}

#lottoBoardlistRow{
	position:relative;
}

#lottoScrollTop{
	width:100%;
	height:15px;
	cursor:pointer;
	opacity:0;
	background:url("/banking/03images/fnb/arrows/turqUp.gif") no-repeat scroll center center transparent;
}
#lottoScrollBottom{
	width:100%;
	height:15px;
	cursor:pointer;
	width:100%;
	opacity:0;
	border-top:2px solid #e7e7e7;
	background:url("/banking/03images/fnb/arrows/turqDown.gif") no-repeat scroll center center transparent;

}

.playNowHeaderTitle{
	background:#099;
	height:80px;
}

.playNowHeaderTitle h3,.playNowHeaderTitle p{
	color:#FFF;
	margin:3px;
}

.playNowHeader_left{
	float:left;
	color:#FFF;
	padding-left:10px;
	padding-top:10px;
}

.playNowHeader_right{
	float:right;
	margin-top:8px;
	margin-right:40px;
}

.playNowHeader_right .radioItem.selected{
	background:#FF9900;
}

.lottoBoardlist{
	overflow:auto;
	background:#FFF;
	width:100%;
}

.lottoBoardlistTopBorder{
	background:#006B6B;
	height:10px;
}

.lottoBoardlistBottomBorder{
	background:#006B6B;
	height:10px;
	position:absolute;
	bottom:0px;
	width:100%;
}

.lottoBoardlistItem{
	height:45px;
	border-top:2px solid #E7E7E7;
}

.lottoBoardlistItemName a{
	
	text-decoration:underline;
	text-align:center;
	font-size:16px;
	color:#000;
	width:90px;
	float:left;
	margin-top:14px;
	cursor:pointer;
}

.lottoBoardViewItemName{
	font-size:24px;
	float:left;
}

#lottoBoardViewRow .lottoBoardlistItemNumbers{
	font-size:16px;
	color:#000;
	width:auto;
	float:left;
	margin-left:20px;
}

.lottoBoardlistItemNumbers a{
	margin-top:15px;
	font-size:16px;
	color:#000;
	width:auto;
	float:left;
	cursor:pointer;
}

.lottoBoardlistItemNumbers p{
	color:#000;
	float:left;
	margin-top:12px;
	padding-left:2px;
	padding-right:2px;
}

.lottoBoardlistItemContent{}

.lottoBoardlistButtonHolder{
	text-align:center;
	background-color:#E7E7E7;
	padding:1px;
}

#nodtt{margin-top:23px;}

.lottoBoardlistButtonHolder .doSomething{
	background:url("/banking/03images/fnb/icons/plus.png") no-repeat center center #E7E7E7;
	border:2px dashed white;
	cursor:pointer;
	margin:5px;
	height:60px;
	padding:10px;
}

.lottoBoardlistButtonHolder .doSomething .ui-iconWrapper {float:left;position:relative;top:15px;left:-10px;}

.lottoBoardlistButtonHolder .doSomething .doSomethingText{display:block;font-size:14px;padding-top: 24px;position:relative;left:-5px;float:left;}

.lottoBoardlistClose{
	background:url("/banking/03images/base/icons/LottoDeleteBoard.png") no-repeat center center transparent;
	width:23px;
	height:23px;
	float:right;
	position:relative;
	top:10px;
	right:13px;
}

.lottoBoardlistClose a{margin-top:0px; text-indent:-3999px; background-color:transparent;}
.lottoBoardlistClose .formButton.inverted.small{display:inline-block; color:#FFF; font-size:14px; text-decoration:none; cursor:pointer; padding:6px 14px 0px 6px;}
.lottoBoardlistClose .formButton.inverted{border:0 none;}
.lottoBoardlistItemNumbers .numberPickerNumber{margin-top:8px;}
#lottoBoardViewRow .lottoBoardlistItemNumbers .numberPickerNumber{margin-top:0px;}
.lottoConfirmTypeLabel{margin-top:30px;}
.messageMultiLineText a{text-decoration:underline;}
.lottoPlayNowFinish .eziLinks{margin-top:10px; float:left;}
.confirm-balls{padding-right:0.5em;}

#lottoFinish .note a,
#lottoFinish .tc a{color:#FFF;}

#lottoFinish h5{font-family:Helvetica,FoundationRoman,Sans-serif; padding:0.5em 0 0.5em 20px; background-color:#FFF; color:#000; font-size:28px;}

.bigLottoText{font-size:40px;margin-top: 10px;padding-left: 0px;}
.lottoButtonContainer{padding-left:0px}
.numberedlistItem{
	border-bottom: 1px solid #E7E7E7;
	clear: both;
	float: left;
	width: 100%;
}

.numberedlistItemNumber {
  background-color: #ADDBDB;
  float: left;
  height: 40px;
  padding: 10px 7px 10px 13px;
  width: 40px;
}
.numberedlistItemNumberValue{
	font-size:20px;
}

.numberedlistItemContent{float: left;font-size:16px;}

.numberedlistItemContentValue{margin: 13px 0 9px 20px;}


@media only screen and (max-width: 480px) {
	
	.bigLottoText {
		font-size: 20px;
		margin-top: 10px;
		padding-left: 0px;
	}
	
	.noteOuterWrap {display:block}
	.playResponsibly {
		padding: 10px 0px 140px 10px;
		background: url(/banking/03images/fnb/PlayResponsibly.jpg) no-repeat 8px bottom #73C7C7;
		
	}
	
	
	.playResponsibly a{
		-ms-word-break: break-all;
	     /* Be VERY careful with this, breaks normal words wh_erever */
    	 word-break: break-all;
	     /* Non standard for webkit */
    	 word-break: break-word;
		-webkit-hyphens: auto;
	   -moz-hyphens: auto;
        hyphens: auto;
		
	}
	
	.lottoBonusHeader {
		display: inline;
		width:100%;
		font-size: 24px;
		margin: 0 7px 0 0px;
		position: relative;
		text-transform: uppercase;
		top: 7px;
		vertical-align: top;
		width: 100%;
	}
	
	#lottoNumbersList_landing{padding-left:8px}

	
	
	
}
  