	.homeLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.homeLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.homeLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	.homeLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
