
.homeLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
	background-color: white;
}
.homeLayoutOneInner {
	width: 100%;
	position: relative;
}
.homeLayoutOneA {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneB {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
.homeLayoutOneC {
	position: relative;
	background-color: white;
}

.homeLayoutOneD {
	height: 88px;
	position: relative;
	background-color: white;
}

.homePageLinks {
	padding: 0 8px;
}
.homePageLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/arrows/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}
hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}
@media only screen and (min-width : 904px) {
	.homeLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	.homeLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	.homeLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	.homeLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	.homeLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
}