<div>
    <input type="text" data-ng-model="newName.name"/>
    </br>
    {{ newName.name }}
    </br> 
    <ul>
        <li data-ng-repeat="cust in customers | filter:newName.name">{{ cust.name }}</li>
    </ul>

	<button data-ng-click="addName()" >Add Name</button>
	<br/>
	<a href="#/graph">View Graph</a>
</div>