.infoGraphic {
  display: block;
}

.infoGraphicSmall {
  display: none;
}
[data-role="infoGraphicLayoutOneA"] {
  display: table-cell;
  width: 20%;
}

[data-role="infoGraphicLayoutOneThumbnail"] {
  height: 72px;
}

[data-role="infoGraphicLayoutOneContentWrapper"] {
  display: table-cell;
  width: 80%;
}

[data-role="infoGraphicLayoutOneB"] {
  display: table-cell;
  width: 80%;
}

[data-role="infoGraphicLayoutOneGridItem"] {
  display: table-cell;
}

[data-role="infoGraphicLayoutOneGridItemHeading"] {
  border-top: 1px solid black;
  padding: 2px 8px 4px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 600;
  line-height: 16px;
}

[data-role="footerButton"] {
  clear: right;
  margin: 0 10px 10px 0;
  float: right;
}