[data-pageCategory="cat1"] h2 {
  border-bottom: 2px solid #9b9175;
}

[data-pageCategory="cat1"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9b9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat2"] h2 {
  border-bottom: 2px solid #626262;
}

[data-pageCategory="cat2"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #626262;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat3"] h2 {
  border-bottom: 2px solid #737a78;
}

[data-pageCategory="cat3"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #737a78;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat4"] h2 {
  border-bottom: 2px solid #4c859d;
}

[data-pageCategory="cat4"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #4c859d;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat5"] h2 {
  border-bottom: 2px solid #915758;
}

[data-pageCategory="cat5"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #915758;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat6"] h2 {
  border-bottom: 2px solid #b7dab6;
}

[data-pageCategory="cat6"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #b7dab6;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat7"] h2 {
  border-bottom: 2px solid #da9669;
}

[data-pageCategory="cat7"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #da9669;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="infoGraphicLayoutOne"] {
  position: relative;
  width: 100%;
  display: table;
  border-spacing: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
}

[data-role="infoGraphicLayoutOneInner"] {
  width: 100%;
  display: table-row;
  min-height: 100%;
  height: 100%;
}

[data-role="infoGraphicLayoutOneA"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="infoGraphicLayoutOneA"][data-visible="true"] {
  display: block;
  width: 100%;
}

[data-role="infoGraphicLayoutOneContentWrapper"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="infoGraphicLayoutOneContentWrapper"][data-visible="false"] {
  display: none;
}

[data-role="infoGraphicLayoutOneB"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
}

[data-role="infoGraphicLayoutOneC"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
  padding-top: 0px;
  padding-right: 16px;
}

[data-role="infoGraphicLayoutOneThumbnail"] {
  height: 91px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

[data-role="infoGraphicLayoutOneThumbnail"] img {
  height: 56px;
  margin-top: 8px;
}

[data-role="infoGraphicLayoutOneContent"] {
  padding: 0 0 60px 0;
}

[data-role="infoGraphicLayoutOneGrid"] {
  border-spacing: 0px 10px;
  border-collapse: separate;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: -16px;
}

[data-role="infoGraphicLayoutOneGridRow"] {
  display: table-row;
  width: 100%;
}

[data-role="infoGraphicLayoutOneGridItem"] {
  display: block;
  overflow: hidden;
  float: left;
  padding: 0px 10px 8px 0px;
}

[data-role="infoGraphicLayoutOneGridItem"].clickable {
  text-decoration: none;
  cursor: pointer;
}

[data-role="infoGraphicLayoutOneGridItem"].moreText {
  background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
  cursor: pointer;
  padding: 0px 0px 38px 0px;
  text-decoration: none;
}

[data-role="infoGraphicLayoutOneGridItemHeading"] {
  border-top: 1px solid black;
  padding: 2px 0px 4px 0px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 600;
  line-height: 16px;
  margin: 0 8px;
}

[data-role="infoGraphicLayoutOneGridItemContent"] {
  padding: 4px 8px 0px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 16px;
}

.relatedLinks {
  padding: 10px 20px;
}

.relatedLink {
  display: block;
  color: #666666;
  background: transparent url("../../../../../../00Assets/skins/01/images/bullets/arrow/inverse.gif") center right no-repeat;
  border-top: 1px solid #DDD;
  padding: 10px 0 10px 0px;
  text-decoration: none;
}

[data-role="footerButtonGroup"] {
  padding: 0;
}

[data-role="footerButton"] {
  background: #2d7090 url("../../../../../../00Assets/skins/01/images/bullets/arrow/default.gif") 10px center no-repeat;
  color: white;
  width: 110px;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 20px;
  cursor: pointer;
  margin: 0 0 10px 10px;
  text-decoration: none;
  border: none;
  float: left;
}

[data-role="infoGraphicLayoutOne"] img {
  width: 100%;
}

.infoGraphic {
  display: none;
}

.infoGraphicSmall {
  display: block;
}

@media only screen and (min-width: 400px) {
  .infoGraphic {
    display: block;
  }

  .infoGraphicSmall {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  [data-role="infoGraphicLayoutOneA"] {
    display: table-cell;
    width: 20%;
  }

  [data-role="infoGraphicLayoutOneThumbnail"] {
    height: 72px;
  }

  [data-role="infoGraphicLayoutOneContentWrapper"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="infoGraphicLayoutOneB"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="infoGraphicLayoutOneGridItem"] {
    display: table-cell;
  }

  [data-role="infoGraphicLayoutOneGridItemHeading"] {
    border-top: 1px solid black;
    padding: 2px 8px 4px 8px;
    font-size: 13px;
    font-family: Helvetica,FoundationRoman,Sans-serif;
    font-weight: 600;
    line-height: 16px;
  }

  [data-role="footerButton"] {
    clear: right;
    margin: 0 10px 10px 0;
    float: right;
  }
}
/*IE8 STYLES*/

.IE8 .infoGraphic {
  display: block;
}

.IE8 .infoGraphicSmall {
  display: none;
}
.IE8 [data-role="infoGraphicLayoutOneA"] {
  display: table-cell;
  width: 20%;
}

.IE8 [data-role="infoGraphicLayoutOneThumbnail"] {
  height: 72px;
}

.IE8 [data-role="infoGraphicLayoutOneContentWrapper"] {
  display: table-cell;
  width: 80%;
}

.IE8 [data-role="infoGraphicLayoutOneB"] {
  display: table-cell;
  width: 80%;
}

.IE8 [data-role="infoGraphicLayoutOneGridItem"] {
  display: table-cell;
}

.IE8 [data-role="infoGraphicLayoutOneGridItemHeading"] {
  border-top: 1px solid black;
  padding: 2px 8px 4px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 600;
  line-height: 16px;
}

.IE8 [data-role="footerButton"] {
  clear: right;
  margin: 0 10px 10px 0;
  float: right;
}
