<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
			
				<!-- **************************************************************************** 
					CUSTOMER CONFIG START 
				********************************************************************************* -->
				<div class="panel panel-green">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> Customer Config
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-click="saveCustomerConfig()">
									<span class="glyphicon glyphicon-check"></span> Save
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>Authenticated:</label></td>
									<td>
					                    <select class="form-control" id="authenticated" data-ng-model="authenticated" data-ng-options="opt as opt.label for opt in yesno">
					                    </select>
									</td>						
								</tr>
								<tr>
									<td><label>Country:</label></td>
									<td>
					                    <select class="form-control" id="country" data-ng-model="country" data-ng-options="code as code.display for code in config.countryCode">
					                    </select>	
									</td>
								</tr>								
								<tr>								
									<td><label>UCN:</label></td>
									<td>
										<input class="form-control" id="ucn" type="text" value="{{ config.ucn }}">
									</td>
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>				
				<!-- **************************************************************************** --> 
			</div>
		</div>
	</div>
</div>