<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
			
				<!-- **************************************************************************** 
					Device CONFIG START 
				********************************************************************************* -->
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> Device Config
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-click="saveDeviceConfig()">
									<span class="glyphicon glyphicon-check"></span> Save
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>VOIP Enabled:</label></td>
									<td>
					                    <select class="form-control" id="voip" data-ng-model="voip" data-ng-options="opt as opt.label for opt in yesno">
					                    </select>
									</td>						
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>				
				<!-- **************************************************************************** -->
			</div>
		</div>
	</div>
</div>