<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<!-- **************************************************************************** 
					PLATFORM EXTENSION CONFIG 
				********************************************************************************* -->
				<div class="panel panel-green">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> App Platform Extensions
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-click="saveExtensionConfig()" >
									<span class="glyphicon glyphicon-check"></span> Save
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>Description:</label></td>
									<td>
										<input class="form-control" id="description" type="text" value="{{ config.extensionDescription }}">
									</td>
								</tr>
								<tr>
									<td><label>Start UIID:</label></td>
									<td>
										<input class="form-control" id="startuiid" type="text" value="{{ config.extensionStartUIID }}">
									</td>
								</tr>
								<tr>
									<td><label>UI Routing:</label></td>
									<td>
										<input class="form-control" id="uirouting" type="text" value="{{ config.extensionUIRouting }}">
									</td>
								</tr>
								<tr>
									<td><label>Model Routing:</label></td>
									<td>
										<input class="form-control" id="modelrouting" type="text" value="{{ config.extensionModelRouting }}">
									</td>
								</tr>
								<tr>
									<td><label>Resource Routing:</label></td>
									<td>
										<input class="form-control" id="resourcerouting" type="text" value="{{ config.extensionResourceRouting }}">
									</td>
								</tr>
								<tr>
									<td><label>Extension URL:</label></td>
									<td>
										<input class="form-control" id="extensionurl" type="text" value="{{ config.extensionURL }}">
									</td>
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>			
			
				<!-- **************************************************************************** --> 
			
			</div>
		</div>
	</div>
</div>