<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
			
				<!-- **************************************************************************** 
					CHANNEL CONFIG START 
				********************************************************************************* -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> Form Data
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-click="saveFormData()">
									<span class="glyphicon glyphicon-check"></span> Save
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>Key 1:</label></td>
									<td>
					                   <input class="form-control" id="key1" type="text" value="{{ config.key1 }}">
									</td>						
								</tr>
								<tr>
									<td><label>Value 1:</label></td>
									<td>
					                    <input class="form-control" id="value1" type="text" value="{{ config.value1 }}">
									</td>						
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>				
				<!-- **************************************************************************** --> 
		
		
			</div>
		</div>
	</div>
</div>