<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<!-- **************************************************************************** 
											MOBI SIMULATOR 
				********************************************************************************* -->
				<div class="outer">
					<iframe class="inner" src="/banking">
				</iframe>
				
				<!-- **************************************************************************** --> 
			</div>
		</div>
	</div>
</div>