<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation"
	style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">Platform Extension Simulator Admin Console</a>
	</div>
	<!-- /.navbar-header -->

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/simulator-config">
						<i class="fa fa-dashboard fa-fw"></i> Simulator Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/extension-config">
						<i class="fa fa-dashboard fa-fw"></i> Extension Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/customer-config">
						<i class="fa fa-dashboard fa-fw"></i> Customer Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/device-config">
						<i class="fa fa-dashboard fa-fw"></i> Device Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/channel-config">
						<i class="fa fa-dashboard fa-fw"></i> Channel Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/form-data">
						<i class="fa fa-dashboard fa-fw"></i> Form Data
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a href="#/timeout-config">
						<i class="fa fa-dashboard fa-fw"></i> Timeout Config
					</a>
				</li>
			</ul>
			<ul class="nav" id="side-menu">
				<li>
					<a class="special" href="#/mobi">
						<i class="fa fa-dashboard fa-fw"></i> Phone Simulator
					</a>
				</li>
			</ul>			
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>
