<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<!-- **************************************************************************** 
					SIMULATOR CONFIG 
				********************************************************************************* -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> App Simulators
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-hide="config.started" data-ng-click="startSimulator()">
									<span class="glyphicon glyphicon-check"></span> Start
								</button>
								<button type="button" class="btn btn-default btn-xs" data-ng-show="config.started" data-ng-click="stopSimulator()">
									<span class="glyphicon glyphicon-check"></span> Stop
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>Gomez IP:</label></td>
									<td>
					                    <select class="form-control" id="gomez" data-ng-model="gomez" data-ng-options="ip as ip.display for ip in config.gomezIP">
					                    </select>
									</td>
								</tr>
								<tr>
									<td><label>Fester IP:</label></td>
									<td>
					                    <select class="form-control" id="fester" data-ng-model="fester" data-ng-options="ip as ip.display for ip in config.festerIP">
					                    </select>
									</td>
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>


				<!-- **************************************************************************** --> 
			</div>
		</div>
	</div>
</div>