<div id="wrapper">
	<div data-ng-include="'./app/partials/navigation.html'"></div>
	<div id="page-wrapper">
		<br>
		<!-- /.row -->
		<div class="row">
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
			
				<!-- **************************************************************************** 
					TIMEOUT START 
				********************************************************************************* -->
				<div class="panel panel-red">
					<div class="panel-heading">
						<i class="fa fa-dashboard fa-fw"></i> Timeout Config
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs" data-ng-click="saveTimeoutConfig()">
									<span class="glyphicon glyphicon-check"></span> Save
								</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered table-hover table-striped">
							<tbody>
								<tr>
									<td><label>Timeout (Seconds):</label></td>
									<td>
										<input class="form-control" id="timeout" type="text" value="{{ config.timeout }}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<p><b>Note: </b> This timeout is specific to the simulator only! Please expect a default timeout of 10 seconds in all other environments.</p>
									</td>	
								</tr>
							</tbody>
						</table>	
					</div>
					<div class="panel-footer"></div>
				</div>				
				<!-- **************************************************************************** --> 

			</div>
		</div>
	</div>
</div>