#allPromotionslayoutOne  h1 {
	width: 20%;
}

.allPromotionslayoutOneSubTabsContainer {
	width: 80%;
}

.allPromotionslayoutOneSubTab {
	width: 20%;
}

#allPromotionslayoutOne [data-role="blockHeading"] {
	width: 20%;
}

#allPromotionslayoutOne [data-role="thumbnailBanner"] {
	width: 20%;
}

#allPromotionslayoutOne  h1 {
	width: 20%;
}

[data-role="allPromotionslayoutOneSubTabsContainer"] {
	width: 80%;
}