#allPromotionslayoutOne {
	background: #f2f2f2
}

#allPromotionslayoutOne  h1 {
	width: 100%;
	float: left;
	display: block;
	text-transform: uppercase;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 22px;
	padding: 0px 0px 0px 8px;
	line-height: 24px;
}

.allPromotionslayoutOneSubTabsContainer {
	width: 100%;
	float: left;
	padding-top: 8px;
}

.allPromotionslayoutOneSubTab {
	float: left;
	display: block;
	width: 50%;
	padding: 2px 8px 2px 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	cursor: pointer;
}

.allPromotionslayoutOneSubTab[data-selected="true"] {
	background: #fff;
}

[data-role="allPromotionslayoutOneHeader"] {
	padding: 20px 0px 16px 0px;
	width: 100%;
	float: left;
	display: block;
	background: transparent
		url("../../../images/articles/pattern.png") top center
		repeat;
	width: 100%;
	margin: 0px 0px 8px 0px
}
/*Block heading*/
#allPromotionslayoutOne [data-role="blockHeading"] {
	width: 100%;
	background: #a2d5d5;
	border-right: 8px solid #f2f2f2;
	border-left: 8px solid #f2f2f2;
	height: 160px;
	position: relative;
	display: block;
	float: left;
}

#allPromotionslayoutOne [data-role="blockHeading"] h2 {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 27px;
	line-height: 32px;
	padding: 64px 8px 0px 8px;
	width: 100%;
	display: block;
	position: relative:
}

#allPromotionslayoutOne [data-role="blockHeading"] h2:after {
	content: '';
	display: block;
	position: absolute;
	top: 96px;
	left: 0px;
	width: 100%;
	height: 8px;
	background: #000;
}
/*Thumbnail banner*/
#allPromotionslayoutOne [data-role="thumbnailBanner"] {
	width: 100%;
	height: 160px;
	display: block;
	float: left;
}

#allPromotionslayoutOne [data-role="thumbnailBannerInner"] {
	width: 100%;
	height: 160px;
	overflow: hidden;
	position: relative;
	display: block;
	padding: 0px 8px 0px 8px;
}

#allPromotionslayoutOne [data-role="thumbnailBannerHeading"] {
	display: block;
	float: left;
	width: 100%;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 3px 0px;
	position: absolute;
	z-index: 1;
}

#allPromotionslayoutOne [data-role="thumbnailImgTagWrapper"] {
	display: block;
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 84px;
	background: transparent;
	border-bottom: 8px solid black;
	text-align: center;
	top: 20px;
}

[data-role="thumbnailImgTagWrapper"] img {
	height: 100%;
	border: none;
	outline: none;
	position: absolute;
	z-index: 0;
	right: 0;
}

#allPromotionslayoutOne [data-role="thumbnailBannerCopy"] {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	display: block;
	float: left;
	width: 100%;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 0px 0px;
	position: absolute;
	z-index: 1;
	top: 104px;
}

.borderRightImage {
	background: #f2f2f2
		url('../../../images/borders/borderRightWhite.png')
		repeat-y right top;
}

@media only screen and (min-width:904px) {
	#allPromotionslayoutOne  h1 {
		width: 20%;
	}
	.allPromotionslayoutOneSubTabsContainer {
		width: 80%;
	}
	.allPromotionslayoutOneSubTab {
		width: 20%;
	}
	#allPromotionslayoutOne [data-role="blockHeading"] {
		width: 20%;
	}
	#allPromotionslayoutOne [data-role="thumbnailBanner"] {
		width: 20%;
	}
	#allPromotionslayoutOne  h1 {
		width: 20%;
	}
	[data-role="allPromotionslayoutOneSubTabsContainer"] {
		width: 80%;
	}
}