.searchLayoutOne {
	position: relative;
	width: 100%;
	height: 100%;
	min-height:100%;
	border-spacing: 0;
	overflow: hidden;
	border-right: 2px solid white;
	display: table;
}
.searchLayoutOneA {
	width: 100%;
	min-height:1%;
	height:1%;
	display: table-row;
}
.searchLayoutOneAInner {
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
	display: table-cell;
	padding-right: 8px;
}
.searchLayoutOneB {
	display: table-row;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
}
.searchLayoutOneBinner {
	width: 100%;
	vertical-align: top;
	display: table-cell;
	background-color: white;
	padding-right: 8px;
}
.searchLayoutOneHeadings h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
.searchLayoutOne h3 {
	border-bottom: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}
.searchLayoutOne h4 {
	padding: 9px 0 0 8px;
	margin: 0 8px 0 0;
}
.searchLayoutOne p {
	padding-top: 0px;
}