 [data-role="overviewLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

 [data-role="overviewLayoutOneThumbnail"] {
   height: 72px;
 }

 [data-role="overviewLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="overviewLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="overviewLayoutOneGridItem"] {
   display: table-cell;
    float: none;
 }