.overviewLayoutTwoTopBanner {
	width: 100%;
	min-height: 90px;
	
}
.overviewLayoutTwoTopBanner img {
	width: 100%;
	height: auto;
	min-height: 50px;
	
}

[data-pageCategory="cat1"] h2 {
  border-bottom: 2px solid #9b9175;
}

[data-pageCategory="cat1"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9b9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat2"] h2 {
  border-bottom: 2px solid #626262;
}

[data-pageCategory="cat2"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #626262;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat3"] h2 {
  border-bottom: 2px solid #737a78;
}

[data-pageCategory="cat3"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #737a78;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat4"] h2 {
  border-bottom: 2px solid #4c859d;
}

[data-pageCategory="cat4"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #4c859d;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat5"] h2 {
  border-bottom: 2px solid #915758;
}

[data-pageCategory="cat5"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #915758;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat6"] h2 {
  border-bottom: 2px solid #b7dab6;
}

[data-pageCategory="cat6"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #b7dab6;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat7"] h2 {
  border-bottom: 2px solid #da9669;
}

[data-pageCategory="cat7"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #da9669;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="overviewLayoutTwo"] {
  position: relative;
  width: 100%;
  display: table;
  border-spacing: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
}

[data-role="overviewLayoutTwoInner"] {
  width: 100%;
  display: table-row;
  min-height: 100%;
  height: 100%;
}

[data-role="overviewLayoutTwoA"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="overviewLayoutTwoA"][data-visible="true"] {
  display: block;
  width: 100%;
}

[data-role="overviewLayoutTwoContentWrapper"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="overviewLayoutTwoContentWrapper"][data-visible="false"] {
  display: none;
}

[data-role="overviewLayoutTwoB"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
}

[data-role="overviewLayoutTwoC"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
  padding-top: 0px;
  padding-right: 16px;
}

[data-role="overviewLayoutTwoThumbnail"] {
  height: 91px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

[data-role="overviewLayoutTwoThumbnail"] img {
  height: 56px;
  margin-top: 8px;
}

[data-role="overviewLayoutTwoContent"] {
  padding: 0 0 60px 0;
}

[data-role="overviewLayoutTwoGrid"] {
  border-collapse: separate;
  display: table;
}
[data-role="overviewLayoutTwoGrid"].hasBorder {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0 20px;
}

[data-role="overviewLayoutTwoGridRow"] {
  display: table-row;
  width: 100%;
}

[data-role="overviewLayoutTwoGridItem"] {
  display: block;
  overflow: hidden;
  padding: 0px 10px 8px 0px;
}
.hasBorder [data-role="overviewLayoutTwoGridItem"] {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.hasBorder [data-role="overviewLayoutTwoGridItem"] p {
	margin-left: 10px;
}
.hasBorder [data-role="overviewLayoutTwoGridItem"] li {
	margin-left: 10px;
}

[data-role="overviewLayoutTwoGridItem"].clickable {
  text-decoration: none;
  cursor: pointer;
}

[data-role="overviewLayoutTwoGridItem"].moreText {
  background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
  cursor: pointer;
  padding: 0px 0px 38px 0px;
  text-decoration: none;
}

[data-role="overviewLayoutTwoGridItemHeading"] {
  padding: 2px 0px 4px 10px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 800;
  line-height: 16px;
}

[data-role="overviewLayoutTwoGridItemContent"] {
  padding: 4px 8px 0px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 16px;
}

.relatedLinks {
  padding: 10px 20px;
}

.relatedLink {
  display: block;
  color: #666666;
  background: transparent url("../../../../../../00Assets/skins/01/images/bullets/arrow/inverse.gif") center right no-repeat;
  border-top: 1px solid #DDD;
  padding: 10px 0 10px 0px;
  text-decoration: none;
}

[data-role="footerButtonGroup"] {
  padding: 0;
}

[data-role="dataButton"] {
  background: #2d7090 url("../../../../../../00Assets/skins/01/images/bullets/arrow/default.gif") 10px center no-repeat;

}

@media only screen and (min-width: 800px) {
	#pageContent {
		padding-top: 110px;
	}
  [data-role="overviewLayoutTwoA"] {
    display: table-cell;
    width: 20%;
  }

  [data-role="overviewLayoutTwoThumbnail"] {
    height: 72px;
  }

  [data-role="overviewLayoutTwoContentWrapper"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="overviewLayoutTwoB"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="overviewLayoutTwoGridItem"] {
    display: table-cell;
    float: none;
  }

  [data-role="footerButton"] {
    clear: right;
    margin: 0 10px 10px 0;
    float: right;
  }
}

/*IE8 LAYOUTS*/

.IE8 [data-role="overviewLayoutTwoA"] {
   display: table-cell;
   width: 20%;
 }

.IE8 [data-role="overviewLayoutTwoThumbnail"] {
   height: 72px;
 }

.IE8 [data-role="overviewLayoutTwoContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="overviewLayoutTwoB"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="overviewLayoutTwoGridItem"] {
   display: table-cell;
    float: none;
 }
