[data-role="overviewLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="overviewLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="overviewLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="overviewLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}