[data-role="overviewLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="overviewLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="overviewLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="overviewLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="overviewLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="overviewLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="overviewLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="overviewLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="overviewLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="overviewLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="overviewLayoutOneHeadings"] {
	min-height: 72px;
}
[data-role="overviewLayoutOneHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="overviewLayoutOneHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="overviewLayoutOneContent"] {
	padding: 0;
}
[data-role="overviewLayoutOneContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}

[data-role="overviewLayoutOneGrid"] {
	border-spacing: 4px 16px;
	border-collapse: separate;
	display: table;
	width: 100%;
	font-size: 0.8em;
	table-layout: fixed;
	margin-top: -16px;
}
[data-role="overviewLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="overviewLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	width: 100%;
	float: left;
	padding: 0px 0px 8px 0px;
}

[data-role="overviewLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
[data-role="overviewLayoutOneGridItem"].moreText {
	background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
	cursor: pointer;
	padding: 0px 0px 38px 0px;
	text-decoration: none;
}
[data-role="overviewLayoutOneGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 0px 4px 0px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
	margin: 0 8px;
}
[data-role="overviewLayoutOneGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}


@media only screen and (min-width : 904px) {
	[data-role="overviewLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="overviewLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="overviewLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="overviewLayoutOneGridItem"] {
		display: table-cell;
		min-height: 150px;
		width:50%;
	}
	[data-role="overviewLayoutOneGridItemHeading"] {
		border-top: 1px solid black;
		padding: 2px 8px 4px 8px;    
		font-size: 13px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
	}
}