<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<%@ taglib prefix="fnb.generic.frame.layout.generic" tagdir="/WEB-INF/tags/generic/frame/layout/generic"%>

<%@ attribute required="false" name="doMenuLoad"%>
<%@ attribute required="false" name="selectedTopTab"%>
<%@ attribute required="false" name="systemMetaTags"%>
<%@ attribute required="false" name="systemJs" description="Specific javascript used by system implementing the core framework"%>
<%@ attribute required="false" name="systemCss" description="Specific StyleSheet used by system implementing the core framework"%>
<%@ attribute required="false" name="mainMenu" description="main navigation items"%>
<%@ attribute required="false" name="subMenu" description="submenu linked to main navigation items"%>

<%@ attribute required="false" name="id"%>
<%@ attribute required="false" name="layoutFourA_className"%>
<%@ attribute required="false" name="layoutFourB_className"%>
<%@ attribute required="false" name="layoutFourC_className"%>
<%@ attribute required="false" name="layoutFourD_className"%>
<%@ attribute required="false" name="layoutFourE_className"%>
<%@ attribute required="false" name="section1" description="place holder 1"%>
<%@ attribute required="false" name="section2" description="place holder 2"%>
<%@ attribute required="false" name="section3" description="place holder 3"%>
<%@ attribute required="false" name="section4" description="place holder 4"%>
<%@ attribute required="false" name="section5" description="place holder 5"%>

<c:set var="bodyContent">
	<jsp:doBody />
</c:set>

<fnb.generic.frame.layout.generic:layoutFour id="${id}" layoutFourA_className="${layoutFourA_className}" layoutFourB_className="${layoutFourB_className}" layoutFourC_className="${layoutFourC_className}" layoutFourD_className="${layoutFourD_className}" layoutFourE_className="${layoutFourE_className}" section1="${section1}" section2="${section2}" section3="${section3}" section4="${section4}" section5="${section5}" doMenuLoad="${doMenuLoad}" selectedTopTab="${selectedTopTab}" systemMetaTags="${systemMetaTags}" systemJs="${systemJs}" systemCss="${systemCss}" mainMenu="${mainMenu}" subMenu="${subMenu}">
	${bodyContent}
</fnb.generic.frame.layout.generic:layoutFour>