<%@ taglib prefix="ui" tagdir="/WEB-INF/tags/chameleon" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fnb.generic.frame" tagdir="/WEB-INF/tags/generic/frame"%>
<%@ taglib prefix="fnb.generic.forms" tagdir="/WEB-INF/tags/generic/forms"%>
<%@ taglib prefix="fnb.generic.layout" tagdir="/WEB-INF/tags/generic/layout"%>
<%@ taglib prefix="fnb.generic.markup" tagdir="/WEB-INF/tags/generic/markup"%>
<%@ taglib prefix="fnb.generic.widgets.dashboard" tagdir="/WEB-INF/tags/generic/widgets/dashboard"%>


<c:set var="sideBarContent">
${browserName}
</c:set>

		
		
		<fnb.generic.widgets.dashboard:dashboardHeader title="Balances"/>
		
		<fnb.generic.forms:formElementWrapper className=" " id="one" label="Straight" labelValue=" ">
		</fnb.generic.forms:formElementWrapper>
		
		<fnb.generic.forms:formElementWrapper className=" " id="one" label="Balances (Your cash)" labelValue="R500">
			<fnb.generic.forms:button id="updateBtn1" label="Transaction history"/>
		</fnb.generic.forms:formElementWrapper>
		
		<fnb.generic.forms:formElementWrapper className=" " id="one" label=" ">
			<div data-role="formElementLabel">
				
			</div>
		</fnb.generic.forms:formElementWrapper>
		
		<!-- Input without note -->
		<fnb.generic.forms:input.text inlineError="Error text" id="input1" label="" value="LvZ"/>
		
		<!-- Input without note -->
		<fnb.generic.forms:input.text inlineError="Error text" id="input1" label="Name on proof of payment" value="LvZ"/>
		
				
