<span data-role="actionMenuBtt" id="actionMenuBtt">
	<div id="actionMenuBttLabelWrapper" data-role="actionMenuBttLabelWrapper" class="HoffScreen">
		<span id="actionMenuBttLabel" data-role="actionMenuBttLabel">Menu</span>
	</div>
</span>