<script class="pageScript" type="text/javascript">
var footerData = {
				templateGroupName : 'footer',
				templateTarget : fnb.hyperion.$("#footerButtonGroup"),
				templateElements : []};
<jsp:doBody/>
fnb.hyperion.controller.pageTemplates.push(footerData);
</script>