<div id="loaderOverlay" class="overlayContainer bodyWidth index30 Hhide">
		<div class="overlayInner">
			<div class="loader" class="Hhide">
				<div class="loaderInner">
					<div class="loaderProgress">
					</div>
					<span class="loaderText">Loading</span>
				</div>
			</div>
		</div>
	</div>