[data-role="formsLayoutOneGroup"] {
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
}

[data-role="formsLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

[data-role="formsLayoutOneContent"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
}

[data-role="formsLayoutOneContentOne"] {
	display: block;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	width: 100%;
}

[data-role="formsLayoutOneContentTwo"] {
	display: block;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	width: 100%;
}

@media only screen and (min-width: 904px) {
	[data-role="formsLayoutOneContentOne"] {
		display: table-cell;
		min-height: 100%;
		height: 100%;
		width:80%;
	}
	[data-role="formsLayoutOneContentTwo"] {
		display: table-cell;
		min-height: 100%;
		height: 100%;
		vertical-align: top;
		width: 20%;
	}
}