<body class="comms">
	<center>
		<table width="100%" height="100%" border=0 cellpadding="0" cellspacing="0">
			<tr>
				<td valign="middle">
					${text}
				</td>
			</tr>
		</table>
	</center>
</body>