<center>
  <table border="0" width="96%">
    <tr>
      <td><center>
       <span class="hilite">System currently unavailable</span><br><br>
Please <strong>try again</strong> later<br />
      </center></td>
    </tr>
  </table>
</center>
