<center>
	<table border="0" width="96%">
		<tr>
			<td>
				<center>
					You're almost done with your application, so we thought to take the time now to welcome you to the family.<br/>
					<br/>
					As a citizen, you'll enjoy a world filled with banking features that are designed to make many aspects of your life easier.<br>
					<br/>
					We hope you enjoy the journey.
				</center>
			</td>
		</tr>
	</table>
</center>