/*CORE*/
.overlayContainer {
	 padding-left: 24px
	}
	[data-role="footerButton"] {
		width: 10%;
	}
[data-role="footerContactInfo"] {
	
	width: 10%;
	
}
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}

	/*left offsets for positioning*/
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}
	/* 	
	Developer: Donovan
	Datepicker
	 */
	[data-role="datePickerMonthWrapper"] {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	[data-role="dateLeftScrollArrow"] {
		background:
			url("../../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	[data-role="dateRightScrollArrow"] {
		background:
			url("../../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	[data-role="datePickerMonth"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	[data-role="datePickerYear"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	[data-role="datePickerInner"] {
		background: #009999;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	/* 	
	Developer: Donovan
	Datepicker END
	 */
/*GRID*/
.theGrigWidth,
  #theGridOverlayCols {
    width: 879px; }

  .theGridOverlayRow {
    height: 8px; }

  .theGridPhoneOverlayRow {
    display: none; } 

/*FORMS*/
[data-role="formElementWrapper"] {
	width: 100%;
	display: table;
	position: relative;
	border-bottom: 3px solid white;
}

[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]
	{
	display: table-cell;
	vertical-align: top
}

[data-role="formElementLabel"] {
	width: 25%;
	padding: 0px 8px 0px 8px;
	float: none;
}

[data-role="formElementLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 0px;
}

[data-role="formElementOptionalLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 2px;
	color: #fd9827;
}

[data-role="formElementContainer"] {
	width: 25%;
	padding: 8px 8px 5px 8px;
	position: relative;
	float: none;
}

[data-role="input"] {
	width: 100%;
	position: relative;
}

[data-role="dropdownInput"] {
	width: 100%;
	position: relative;
}

[data-role="input"][data-width="30"] {
	width: 30%;
	float: left;
}

[data-role="input"][data-width="70"] {
	width: 68%;
	float: right;
}

[data-role="formElementContent"] {
	width: 50%;
	vertical-align: top;
	position: relative;
	float: none;
}

[data-role="formElementContentInner"] {
	background: #f2f2f2;
	width: 100%;
	padding: 8px 6px 0px 8px;
	position: relative;
}

[data-role="formElementContentInner"]:before {
	content: "";
	width: 4px;
	height: 8px;
	position: absolute;
	left: -8px;
	top: 16px;
	background: #f2f2f2;
}

[data-role="formElementContentInner"] [data-role="formElementWrapper"] {
	width: 100%;
	display: table;
	position: relative;
	border-bottom: none;
}

[data-role="formElementContentInner"] [data-role="formElementContainer"]
	{
	padding: 0px 0px 5px 8px;
}

[data-role="formElementContentInner"] [data-role="formElementLabel"],[data-role="formElementContentInner"] [data-role="formElementContainer"]
	{
	width: 50%;
}

[data-role="formElementContentInner"] [data-role="formElementLabel"] {
	width: 50%;
	padding: 0px 8px 0px 0px;
}

[data-role="formElementContentInner"] [data-role="formElementLabelInner"]
	{
	padding: 4px 0px 4px 0px;
}

[data-role="formElementContentInner"] [data-role="toolTip"] {
	position: relative;
	top: 0px;
}

[data-role="formElementContentInner"]:before {
	content: "";
	width: 4px;
	height: 8px;
	position: absolute;
	left: -4px;
	top: 16px;
	background: url('../../images/formContentArrow.png');
}

[data-role="formElementContentInner"] [data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 3px 8px 10px 0px;
	position: relative;
}
[data-role="dropdownSelectWrapper"]{display:none;}
[data-role="formInlineNote"] {
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	background: #767676;
	padding: 1px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	float: left;
	width: 100%;
}

[data-role="formElementContentInner"] [data-role="formInlineNote"] {
	padding: 1px 10px 5px 11px;
}

[data-role="formInlineNote"]:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/noteArrow.png');
}

[data-role="formElementContentInner"] [data-role="formInlineError"] {
	padding: 4px 10px 6px 11px;
}

[data-role="formInlineError"] {
	font-size: 13px;
	line-height: 16px;
	background: #ff9900;
	color: #fff;
	padding: 4px 10px 6px 11px;
	margin-top: 2px;
	position: relative;
	float: left;
	width: 100%;
	display: none;
}

.inputError [data-role="formInlineError"] {
	display: block;
}

[data-role="formInlineError"]:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

p[data-role="characterCount"] {
	padding: 2px 0px 0px 0px;
	margin: 0px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: bottom;
	clear: both;
	float: right;
}
/*FRAME*/
.bodyWidth {
	width: 903px;
	margin: 0 auto
}

.content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 54px 0px;
	border-spacing: 0;
}

footer {
		background: #f2f2f2	url('../../images/footerLogo.png') left 4px
			no-repeat;
	}	
/*HEADER*/
#login {
	width: 30%;
}

#popupLoginButton {
	width: 33%;
}

#searchButton {
	padding-left: 26px;
	width: 10%;
	overflow: hidden;
	text-indent: 0;
}

#SecurityButtons {
	padding-left: 26px;
	width: auto;
	overflow: hidden;
	text-indent: 0;
}

#WebrootButton {
	display: block;
	cursor:pointer;
}

#ResetButton {
	display: block;
	cursor:pointer;
}

#VerifyButton {
	display: block;
	cursor:pointer;
}

#RegisterButton {
	padding-left: 26px;
	width: 10%;
	overflow: hidden;
	text-indent: 0;
	cursor:pointer;
}
/*LAYOUTS*/
/*CALCULATOR*/
[data-role="calculatorLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="calculatorLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="calculatorLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="calculatorLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*SOLUTIONS*/
[data-role="comparisonLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="comparisonLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="comparisonLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="comparisonLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*FORMSlAYOUT*/
[data-role="formsLayoutOneContentOne"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 80%;
}

[data-role="formsLayoutOneContentTwo"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	width: 20%;
}
/*HOMEPAGE*/
[data-role="homeLayoutOne"] {
	position: relative;
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	/* 	table-layout: fixed; */
	border-right: 4px solid white;
}

[data-role="homeLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

[data-role="homeLayoutOneA"] {
	display: table-cell;
	width: 20%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneAInner"] {
	border-top: 4px solid white;
	border-right: none;
	border-bottom: 4px solid white;
	height: 505.59375px;
}

[data-role="homeLayoutOneB"] {
	display: table-cell;
	width: 30%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: transparent;
	padding: 0;
}

[data-role="homeLayoutOneBInner"] {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	border-left: 4px solid white;
	border-right: 4px solid white;
	height: 569.796875px;
}

[data-role="homeLayoutOneC"] {
	display: table-cell;
	width: 45%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: transparent;
	padding: 0;
}

[data-role="homeLayoutOneCInner"] {
	height: 505.59375px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 4px;
}

[data-role="homeLayoutOneCInnerInner"] {
	position: relative;
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	table-layout: fixed;
}

[data-role="homeLayoutOneD"] {
	display: table-cell;
	width: 49.65%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneE"] {
	display: table-cell;
	width: 40.35%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneBspacer"] {
	display: table-cell;
	vertical-align: middle;
	width: 5%;
}

[data-role="homeLayoutOneBspacerInner"] {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	height: 505.59375px;
	background-color: #8CB8B7;
}

[data-role="section4LinkA"] {
	background-position: center right;
	padding-left: 8px;
}

#bannerBlock2 {
	height: 400px;
}

.banner {
	height: 100%;
	width: 100%;
	position: relative;
}

.BannerWrapper .image {
	height: 30%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}

[data-role="section4Link"] {
	background: transparent
		url('../../images/borders/bottom-white.gif')
		bottom left repeat-x
}
/*NEWSPAGE*/
[data-role="newsLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="newsLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="newsLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="newsLayoutOneB"] {
	display: table-cell;
	width: 60%;
	min-height: 100%;
	height: 100%;
}

[data-role="newsLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 20%;
}
/*OVERVIEW*/
[data-role="overviewLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="overviewLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="overviewLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="overviewLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*PRODUCTPAGE*/
[data-role="productLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="productLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="productLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="productLayoutOneB"] {
	display: table-cell;
	width: 40%;
}

[data-role="productLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 40%;
}
/*PROMOTIONPAGE*/
#allPromotionslayoutOne  h1 {
	width: 20%;
}

.allPromotionslayoutOneSubTabsContainer {
	width: 80%;
}

.allPromotionslayoutOneSubTab {
	width: 20%;
}

#allPromotionslayoutOne [data-role="blockHeading"] {
	width: 20%;
}

#allPromotionslayoutOne [data-role="thumbnailBanner"] {
	width: 20%;
}

#allPromotionslayoutOne  h1 {
	width: 20%;
}

[data-role="allPromotionslayoutOneSubTabsContainer"] {
	width: 80%;
}
/*RATESPAGE*/
[data-role="ratesLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="ratesLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="ratesLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="ratesLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*SEARCHPAGE*/
.searchResultA {
	float: left;
	width: 50%;
	padding-right: 8px;
}

.searchResultB {
	float: left;
	width: 50%;
	padding-right: 8px;
}
/*MARKUP*/
[data-role="ratesTable"] {
	display: table;
	table-layout: fixed
}

[data-role="ratesTableRow"] {
	display: table-row
}

[data-role="ratesTableHeaderCell"] {
	display: table-header-group
}

[data-role="ratesTableBody"] {
	display: table-row-group
}

[data-role="ratesTableFooter"] {
	display: table-footer-group
}

[data-role="ratesTableCol"] {
	display: table-column
}

[data-role="ratesTableColGroup"] {
	display: table-column-group
}

[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"] {
	display: table-cell;
}

[data-role="ratesTableCaption"] {
	display: table-caption
}

[data-role="ratesTable"] {
	background-color: white;
	border: none;
}

[data-role="ratesTableRow"] {
	border-bottom: 1px solid #93d1d1;
}

[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"] {
	border-right: none;
}

[data-role="ratesTable"] {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

[data-role="ratesTable"] [data-role="ratesTable"] {
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color: transparent;
}

[data-role="ratesTableHeaderCell"] {
	font-weight: bolder;
	background-color: #93d1d1;
	font-size: 13px;
	line-height: 16px;
} /* BFE6E5 */
[data-role="ratesTableCell"] {
	font-size: 13px;
	line-height: normal;
}

[data-role="ratesTableCell"]:first,[data-role="ratesTableHeaderCell"]:first
	{
	border-left: 0;
}

[data-role="ratesTableCell"] span {
	display: none
}

[data-role="ratesTable"] .td100 {
	width: 100%;
}

[data-role="ratesTable"] .td90 {
	width: 90%;
}

[data-role="ratesTable"] .td80 {
	width: 80%;
}

[data-role="ratesTable"] .td75 {
	width: 75%;
}

[data-role="ratesTable"] .td70 {
	width: 70%;
}

[data-role="ratesTable"] .td67 {
	width: 66.6666%;
}

[data-role="ratesTable"] .td66 {
	width: 66.6666%;
}

[data-role="ratesTable"] .td60 {
	width: 60%;
}

[data-role="ratesTable"] .td50 {
	width: 50%;
}

[data-role="ratesTable"] .td40 {
	width: 40%;
}

[data-role="ratesTable"] .td33 {
	width: 33.3333%;
}

[data-role="ratesTable"] .td30 {
	width: 30%;
}

[data-role="ratesTable"] .td25 {
	width: 25%;
}

[data-role="ratesTable"] .td20 {
	width: 20%;
}

[data-role="ratesTable"] .td15 {
	width: 15%;
}

[data-role="ratesTable"] .td10 {
	width: 10%;
}
/*SUBMENU*/
[data-role="subMenuSetsWrapper"] {
		display: table;
		width: 100%;;
		min-height: 280px;
	}
	[data-role="subMenuSet"]{
		display: table-row;
	}
	.subMenuItem{
		display: table-cell;
		width: 20%;
		vertical-align: top;
		border-top: 8px solid black;
		background-color: white;
		border-bottom: 8px solid white;
	} 
	[data-role="subMenuHeading"][data-level="1"] {
		display: block;
		color: black;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		font-size: 15px;
		line-height: 16px;
		padding: 3px 0px 0px 0px;
		margin: 8px;
		text-decoration: none;
	}
	[data-role="subMenuGroupArticles"] {
		vertical-align: top;
		display: table-cell;
		padding: 4px 0 0 0;
	}
	[data-role="subMenuAtricleWrapper"] {
		display: table;
		width: 90%;
	}
	[data-role="subMenuAtricleWrapper"].last {
		height: 100%;
	}
	[data-role="subMenu"] .subMenuAtricleNumber {
		display: table-cell;
		padding: 12px 8px 0px 6px;
		color: inherit;
		font-size: 64px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
		min-width: 54px;
		text-align: center;
	}
/*WIDGETS*/
[data-role="layoutOneApplyThumbnail"] {
		display: table-cell;
	}
[data-role="layoutOneContactInfoThumbnail"] {
		display: table-cell;
	}
[data-role="layoutOneWhatYouNeedThumbnail"] {
		display: table-cell;
	}

/* ie8 Exit tags */

#ie8Stage3{
    background: url('../../images/ie8Exit/popupoverlay.png') repeat;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0;
    z-index: 49;
    right:0px;
    margin-left:0px;
    width:100%;
    bottom:0px;
    min-width:500px;
}

#ie8Stage3 .ie8popupOverlay{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#ie8Stage3 .ie8popupBar{
    background:url('../../images/ie8Exit/0/fnbTexture.jpg') repeat;
    border-right: none;
    left: 0px;
    width:100%;
    min-height: 250px;
    position: relative;
    right: 0;
    top: 150px;
    z-index: 8010;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	border-top:none;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../../images/ie8Exit/${skin}/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
}


#ie8Stage3  .ie8header1{
	color:#ffffff;
	font-family:"FNBSansThin";
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3  .ie8header2{
	color:#023433;
	font-family:"FNBSansThin";
	margin-bottom:3%;
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3 .ie8p1{
	color:#ffffff;
	font-size:18px;
	margin-bottom:3%;
	padding:0;
	line-height: 20px;
}

#ie8Stage3 .ie8p2{
	color:#023433;
	font-size:14px;
	padding:0;
}

#ie8Stage3 .ie8p2 a{
	cursor:pointer;
}

#ie8Stage3 .ie8BtnWrapper{
	width:100%;
	margin:auto;
	text-align:center;
	float:none;
	margin-top:5%;
}

#ie8Stage3 .ie8Btn{
	border:none;
	padding: 9px 15px 9px 15px;
	cursor:pointer;
	width:240px;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #ff9900  url('../../images/ie8Exit/whiteArrow.png') no-repeat;
	background-position:8px center;
	color:#ffffff;
	float:left;
	cursor:pointer;
}

#ie8Stage3 .ie8FindOutMoreBtn{
	background: #ffffff url("../../images/ie8Exit/orangeArrow.png") no-repeat;
	background-position: 5px center;
	float:right;
}

.clearBoth{
	clear:both;
}

#ie8Stage3 .ie8bottom{
	height:15px;
	width:60%;
	background: #ffffff url("../../images/ie8Exit/bottom.png") repeat;
	background-size: 5px 16px;
	background-position:left bottom;
	float:right;
}

.ie8DisplayNone{
	display:none;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../../images/ie8Exit/${skin}/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
	color:#ffffff!important;
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 38px;

}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 20px;
    margin-bottom: 1%;
    margin-top:4%;
    padding:0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline;
    color:#ffffff;
}


/*CORE*/
[data-role="overlay"] {
	 padding-left: 24px
	}
	[data-role="footerButton"] {
		width: 10%;
	}
[data-role="footerContactInfo"] {
	
	width: 10%;
	
}
	[data-width="10"] {
		width: 10%
	}
	[data-width="20"] {
		width: 20%
	}
	[data-width="25"] {
		width: 25%
	}
	[data-width="30"] {
		width: 30%
	}
	[data-width="40"] {
		width: 40%
	}
	[data-width="50"] {
		width: 50%
	}
	[data-width="60"] {
		width: 60%
	}
	[data-width="70"] {
		width: 70%
	}
	[data-width="80"] {
		width: 80%
	}
	[data-width="90"] {
		width: 90%
	}
	[data-width="100"] {
		width: 100%
	}

	/*left offsets for positioning*/
	[data-leftOffset="1"] {
		margin-left: 10%
	}
	[data-leftOffset="2"] {
		margin-left: 20%
	}
	[data-leftOffset="3"] {
		margin-left: 30%
	}
	[data-leftOffset="4"] {
		margin-left: 40%
	}
	[data-leftOffset="5"] {
		margin-left: 50%
	}
	[data-leftOffset="6"] {
		margin-left: 60%
	}
	[data-leftOffset="7"] {
		margin-left: 70%
	}
	[data-leftOffset="8"] {
		margin-left: 80%
	}
	[data-leftOffset="9"] {
		margin-left: 90%
	}
	/* 	
	Developer: Donovan
	Datepicker
	 */
	[data-role="datePickerMonthWrapper"] {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	[data-role="dateLeftScrollArrow"] {
		background:
			url("../../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	[data-role="dateRightScrollArrow"] {
		background:
			url("../../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	[data-role="datePickerMonth"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	[data-role="datePickerYear"] {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	[data-role="datePickerInner"] {
		background: #009999;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	/* 	
	Developer: Donovan
	Datepicker END
	 */
/*GRID*/
.theGrigWidth,
  #theGridOverlayCols {
    width: 879px; }

  .theGridOverlayRow {
    height: 8px; }

  .theGridPhoneOverlayRow {
    display: none; } 

/*FORMS*/
[data-role="formElementWrapper"] {
	width: 100%;
	display: table;
	position: relative;
	border-bottom: 3px solid white;
}

[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]
	{
	display: table-cell;
	vertical-align: top
}

[data-role="formElementLabel"] {
	width: 25%;
	padding: 0px 8px 0px 8px;
	float: none;
}

[data-role="formElementLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 0px;
}

[data-role="formElementOptionalLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 2px;
	color: #fd9827;
}

[data-role="formElementContainer"] {
	width: 25%;
	padding: 8px 8px 5px 8px;
	position: relative;
	float: none;
}

[data-role="input"] {
	width: 100%;
	position: relative;
}

[data-role="dropdownInput"] {
	width: 100%;
	position: relative;
}

[data-role="input"][data-width="30"] {
	width: 30%;
	float: left;
}

[data-role="input"][data-width="70"] {
	width: 68%;
	float: right;
}

[data-role="formElementContent"] {
	width: 50%;
	vertical-align: top;
	position: relative;
	float: none;
}

[data-role="formElementContentInner"] {
	background: #f2f2f2;
	width: 100%;
	padding: 8px 6px 0px 8px;
	position: relative;
}

[data-role="formElementContentInner"]:before {
	content: "";
	width: 4px;
	height: 8px;
	position: absolute;
	left: -8px;
	top: 16px;
	background: #f2f2f2;
}

[data-role="formElementContentInner"] [data-role="formElementWrapper"] {
	width: 100%;
	display: table;
	position: relative;
	border-bottom: none;
}

[data-role="formElementContentInner"] [data-role="formElementContainer"]
	{
	padding: 0px 0px 5px 8px;
}

[data-role="formElementContentInner"] [data-role="formElementLabel"],[data-role="formElementContentInner"] [data-role="formElementContainer"]
	{
	width: 50%;
}

[data-role="formElementContentInner"] [data-role="formElementLabel"] {
	width: 50%;
	padding: 0px 8px 0px 0px;
}

[data-role="formElementContentInner"] [data-role="formElementLabelInner"]
	{
	padding: 4px 0px 4px 0px;
}

[data-role="formElementContentInner"] [data-role="toolTip"] {
	position: relative;
	top: 0px;
}

[data-role="formElementContentInner"]:before {
	content: "";
	width: 4px;
	height: 8px;
	position: absolute;
	left: -4px;
	top: 16px;
	background: url('../../images/formContentArrow.png');
}

[data-role="formElementContentInner"] [data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 3px 8px 10px 0px;
	position: relative;
}
[data-role="dropdownSelectWrapper"]{display:none;}
[data-role="formInlineNote"] {
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	background: #767676;
	padding: 1px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	float: left;
	width: 100%;
}

[data-role="formElementContentInner"] [data-role="formInlineNote"] {
	padding: 1px 10px 5px 11px;
}

[data-role="formInlineNote"]:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/noteArrow.png');
}

[data-role="formElementContentInner"] [data-role="formInlineError"] {
	padding: 4px 10px 6px 11px;
}

[data-role="formInlineError"] {
	font-size: 13px;
	line-height: 16px;
	background: #ff9900;
	color: #fff;
	padding: 4px 10px 6px 11px;
	margin-top: 2px;
	position: relative;
	float: left;
	width: 100%;
	display: none;
}

.inputError [data-role="formInlineError"] {
	display: block;
}

[data-role="formInlineError"]:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

p[data-role="characterCount"] {
	padding: 2px 0px 0px 0px;
	margin: 0px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: bottom;
	clear: both;
	float: right;
}
/*FRAME*/
.bodyWidth {
	width: 903px;
	margin: 0 auto
}

.content {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: table;
	padding: 64px 0px 54px 0px;
	border-spacing: 0;
}

footer {
		background: #f2f2f2	url('../../images/footerLogo.png') left 4px
			no-repeat;
	}	
/*HEADER*/
#login {
	width: 30%;
}

#popupLoginButton {
	width: 33%;
}

#searchButton {
	padding-left: 26px;
	width: 10%;
	overflow: hidden;
	text-indent: 0;
}

#SecurityButtons {
	padding-left: 26px;
	width: auto;
	overflow: hidden;
	text-indent: 0;
}

#WebrootButton {
	display: block;
	cursor:pointer;
}

#ResetButton {
	display: block;
	cursor:pointer;
}

#VerifyButton {
	display: block;
	cursor:pointer;
}

#RegisterButton {
	padding-left: 26px;
	width: 10%;
	overflow: hidden;
	text-indent: 0;
	cursor:pointer;
}
/*LAYOUTS*/
/*CALCULATOR*/
[data-role="calculatorLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="calculatorLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="calculatorLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="calculatorLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*SOLUTIONS*/
[data-role="comparisonLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="comparisonLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="comparisonLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="comparisonLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*FORMSlAYOUT*/
[data-role="formsLayoutOneContentOne"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	width: 80%;
}

[data-role="formsLayoutOneContentTwo"] {
	display: table-cell;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	width: 20%;
}
/*HOMEPAGE*/
[data-role="homeLayoutOne"] {
	position: relative;
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	/* 	table-layout: fixed; */
	border-right: 4px solid white;
}

[data-role="homeLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height: 100%;
	height: 100%;
}

[data-role="homeLayoutOneA"] {
	display: table-cell;
	width: 20%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneAInner"] {
	border-top: 4px solid white;
	border-right: none;
	border-bottom: 4px solid white;
	height: 505.59375px;
}

[data-role="homeLayoutOneB"] {
	display: table-cell;
	width: 30%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: transparent;
	padding: 0;
}

[data-role="homeLayoutOneBInner"] {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	border-left: 4px solid white;
	border-right: 4px solid white;
	height: 569.796875px;
}

[data-role="homeLayoutOneC"] {
	display: table-cell;
	width: 45%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: transparent;
	padding: 0;
}

[data-role="homeLayoutOneCInner"] {
	height: 505.59375px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 4px;
}

[data-role="homeLayoutOneCInnerInner"] {
	position: relative;
	width: 100%;
	display: table;
	border-spacing: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	table-layout: fixed;
}

[data-role="homeLayoutOneD"] {
	display: table-cell;
	width: 49.65%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneE"] {
	display: table-cell;
	width: 40.35%;
	min-height: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #f2f2f2;
	padding: 0;
}

[data-role="homeLayoutOneBspacer"] {
	display: table-cell;
	vertical-align: middle;
	width: 5%;
}

[data-role="homeLayoutOneBspacerInner"] {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	height: 505.59375px;
	background-color: #8CB8B7;
}

[data-role="section4LinkA"] {
	background-position: center right;
	padding-left: 8px;
}

#bannerBlock2 {
	height: 400px;
}

.banner {
	height: 100%;
	width: 100%;
	position: relative;
}

.BannerWrapper .image {
	height: 30%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}

[data-role="section4Link"] {
	background: transparent
		url('../../images/borders/bottom-white.gif')
		bottom left repeat-x
}
/*NEWSPAGE*/
[data-role="newsLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="newsLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="newsLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="newsLayoutOneB"] {
	display: table-cell;
	width: 60%;
	min-height: 100%;
	height: 100%;
}

[data-role="newsLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 20%;
}
/*OVERVIEW*/
[data-role="overviewLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="overviewLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="overviewLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="overviewLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*PRODUCTPAGE*/
[data-role="productLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="productLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="productLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="productLayoutOneB"] {
	display: table-cell;
	width: 40%;
}

[data-role="productLayoutOneC"] {
	display: table-cell;
	padding-top: 72px;
	width: 40%;
}
/*PROMOTIONPAGE*/
#allPromotionslayoutOne  h1 {
	width: 20%;
}

.allPromotionslayoutOneSubTabsContainer {
	width: 80%;
}

.allPromotionslayoutOneSubTab {
	width: 20%;
}

#allPromotionslayoutOne [data-role="blockHeading"] {
	width: 20%;
}

#allPromotionslayoutOne [data-role="thumbnailBanner"] {
	width: 20%;
}

#allPromotionslayoutOne  h1 {
	width: 20%;
}

[data-role="allPromotionslayoutOneSubTabsContainer"] {
	width: 80%;
}
/*RATESPAGE*/
[data-role="ratesLayoutOneA"] {
	display: table-cell;
	width: 20%;
}

[data-role="ratesLayoutOneThumbnail"] {
	height: 72px;
}

[data-role="ratesLayoutOneContentWrapper"] {
	display: table-cell;
	width: 80%;
}

[data-role="ratesLayoutOneB"] {
	display: table-cell;
	width: 80%;
}
/*SEARCHPAGE*/
.searchResultA {
	float: left;
	width: 50%;
	padding-right: 8px;
}

.searchResultB {
	float: left;
	width: 50%;
	padding-right: 8px;
}
/*MARKUP*/
[data-role="ratesTable"] {
	display: table;
	table-layout: fixed
}

[data-role="ratesTableRow"] {
	display: table-row
}

[data-role="ratesTableHeaderCell"] {
	display: table-header-group
}

[data-role="ratesTableBody"] {
	display: table-row-group
}

[data-role="ratesTableFooter"] {
	display: table-footer-group
}

[data-role="ratesTableCol"] {
	display: table-column
}

[data-role="ratesTableColGroup"] {
	display: table-column-group
}

[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"] {
	display: table-cell;
}

[data-role="ratesTableCaption"] {
	display: table-caption
}

[data-role="ratesTable"] {
	background-color: white;
	border: none;
}

[data-role="ratesTableRow"] {
	border-bottom: 1px solid #93d1d1;
}

[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"] {
	border-right: none;
}

[data-role="ratesTable"] {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

[data-role="ratesTable"] [data-role="ratesTable"] {
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color: transparent;
}

[data-role="ratesTableHeaderCell"] {
	font-weight: bolder;
	background-color: #93d1d1;
	font-size: 13px;
	line-height: 16px;
} /* BFE6E5 */
[data-role="ratesTableCell"] {
	font-size: 13px;
	line-height: normal;
}

[data-role="ratesTableCell"]:first,[data-role="ratesTableHeaderCell"]:first
	{
	border-left: 0;
}

[data-role="ratesTableCell"] span {
	display: none
}

[data-role="ratesTable"] .td100 {
	width: 100%;
}

[data-role="ratesTable"] .td90 {
	width: 90%;
}

[data-role="ratesTable"] .td80 {
	width: 80%;
}

[data-role="ratesTable"] .td75 {
	width: 75%;
}

[data-role="ratesTable"] .td70 {
	width: 70%;
}

[data-role="ratesTable"] .td67 {
	width: 66.6666%;
}

[data-role="ratesTable"] .td66 {
	width: 66.6666%;
}

[data-role="ratesTable"] .td60 {
	width: 60%;
}

[data-role="ratesTable"] .td50 {
	width: 50%;
}

[data-role="ratesTable"] .td40 {
	width: 40%;
}

[data-role="ratesTable"] .td33 {
	width: 33.3333%;
}

[data-role="ratesTable"] .td30 {
	width: 30%;
}

[data-role="ratesTable"] .td25 {
	width: 25%;
}

[data-role="ratesTable"] .td20 {
	width: 20%;
}

[data-role="ratesTable"] .td15 {
	width: 15%;
}

[data-role="ratesTable"] .td10 {
	width: 10%;
}
/*SUBMENU*/
[data-role="subMenuSetsWrapper"] {
		display: table;
		width: 100%;;
		min-height: 280px;
	}
	[data-role="subMenuSet"].Hhide {
		display: table-row;
	}
	.subMenuItem{
		display: table-cell;
		width: 20%;
		vertical-align: top;
		border-top: 8px solid black;
		background-color: white;
		border-bottom: 8px solid white;
	} 
	[data-role="subMenuHeading"][data-level="1"] {
		display: block;
		color: black;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		font-size: 15px;
		line-height: 16px;
		padding: 3px 0px 0px 0px;
		margin: 8px;
		text-decoration: none;
	}
	[data-role="subMenuGroupArticles"] {
		vertical-align: top;
		display: table-cell;
		padding: 4px 0 0 0;
	}
	[data-role="subMenuAtricleWrapper"] {
		display: table;
		width: 90%;
	}
	[data-role="subMenuAtricleWrapper"].last {
		height: 100%;
	}
	[data-role="subMenu"] .subMenuAtricleNumber {
		display: table-cell;
		padding: 12px 8px 0px 6px;
		color: inherit;
		font-size: 64px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
		min-width: 54px;
		text-align: center;
	}
/*WIDGETS*/
[data-role="layoutOneApplyThumbnail"] {
		display: table-cell;
	}
[data-role="layoutOneContactInfoThumbnail"] {
		display: table-cell;
	}
[data-role="layoutOneWhatYouNeedThumbnail"] {
		display: table-cell;
	}

[data-role="overlay"]{padding-left:24px}[data-role="footerButton"]{width:10%}[data-role="footerContactInfo"]{width:10%}[data-width="10"]{width:10%}[data-width="20"]{width:20%}[data-width="25"]{width:25%}[data-width="30"]{width:30%}[data-width="40"]{width:40%}[data-width="50"]{width:50%}[data-width="60"]{width:60%}[data-width="70"]{width:70%}[data-width="80"]{width:80%}[data-width="90"]{width:90%}[data-width="100"]{width:100%}[data-leftOffset="1"]{margin-left:10%}[data-leftOffset="2"]{margin-left:20%}[data-leftOffset="3"]{margin-left:30%}[data-leftOffset="4"]{margin-left:40%}[data-leftOffset="5"]{margin-left:50%}[data-leftOffset="6"]{margin-left:60%}[data-leftOffset="7"]{margin-left:70%}[data-leftOffset="8"]{margin-left:80%}[data-leftOffset="9"]{margin-left:90%}[data-role="datePickerMonthWrapper"]{float:left;width:5.55%;font-size:29px;line-height:22px}[data-role="dateLeftScrollArrow"]{background:url("../../images/arrows/datePickerLeftArrow.png") no-repeat center center;width:40px;height:40px;cursor:pointer;position:absolute;top:43%;left:3%;border:0}[data-role="dateRightScrollArrow"]{background:url("../../images/arrows/datePickerRightArrow.png") no-repeat center center;width:40px;height:40px;cursor:pointer;position:absolute;top:43%;right:3%;border:0}[data-role="datePickerMonth"]{font-family:Helvetica,FoundationRoman,Sans-serif;font-size:27px;line-height:40px}[data-role="datePickerYear"]{font-family:Helvetica,FoundationRoman,Sans-serif;font-size:27px}[data-role="datePickerInner"]{background:#099;width:100%;float:left;position:relative;padding:0 10% 0 10%;height:268px}.theGrigWidth,#theGridOverlayCols{width:879px}.theGridOverlayRow{height:8px}.theGridPhoneOverlayRow{display:none}[data-role="formElementWrapper"]{width:100%;display:table;position:relative;border-bottom:3px solid white}[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]{display:table-cell;vertical-align:top}[data-role="formElementLabel"]{width:25%;padding:0 8px 0 8px;float:none}[data-role="formElementLabelInner"]{float:left;font-size:13px;line-height:16px;padding:12px 0 0 0}[data-role="formElementOptionalLabelInner"]{float:left;font-size:13px;line-height:16px;padding:12px 0 0 2px;color:#fd9827}[data-role="formElementContainer"]{width:25%;padding:8px 8px 5px 8px;position:relative;float:none}[data-role="input"]{width:100%;position:relative}[data-role="dropdownInput"]{width:100%;position:relative}[data-role="input"][data-width="30"]{width:30%;float:left}[data-role="input"][data-width="70"]{width:68%;float:right}[data-role="formElementContent"]{width:50%;vertical-align:top;position:relative;float:none}[data-role="formElementContentInner"]{background:#f2f2f2;width:100%;padding:8px 6px 0 8px;position:relative}[data-role="formElementContentInner"]:before{content:"";width:4px;height:8px;position:absolute;left:-8px;top:16px;background:#f2f2f2}[data-role="formElementContentInner"] [data-role="formElementWrapper"]{width:100%;display:table;position:relative;border-bottom:0}[data-role="formElementContentInner"] [data-role="formElementContainer"]{padding:0 0 5px 8px}[data-role="formElementContentInner"] [data-role="formElementLabel"],[data-role="formElementContentInner"] [data-role="formElementContainer"]{width:50%}[data-role="formElementContentInner"] [data-role="formElementLabel"]{width:50%;padding:0 8px 0 0}[data-role="formElementContentInner"] [data-role="formElementLabelInner"]{padding:4px 0 4px 0}[data-role="formElementContentInner"] [data-role="toolTip"]{position:relative;top:0}[data-role="formElementContentInner"]:before{content:"";width:4px;height:8px;position:absolute;left:-4px;top:16px;background:url('../../images/formContentArrow.png')}[data-role="formElementContentInner"] [data-role="formNote"]{font-size:13px;line-height:16px;font-family:Helvetica,FoundationRoman,Sans-serif;padding:3px 8px 10px 0;position:relative}[data-role="dropdownSelectWrapper"]{display:none}[data-role="formInlineNote"]{font-size:13px;line-height:16px;color:#fff;background:#767676;padding:1px 8px 6px 8px;margin-top:2px;position:relative;float:left;width:100%}[data-role="formElementContentInner"] [data-role="formInlineNote"]{padding:1px 10px 5px 11px}[data-role="formInlineNote"]:before{content:"";width:8px;height:4px;position:absolute;left:8px;top:-4px;background:url('../../images/noteArrow.png')}[data-role="formElementContentInner"] [data-role="formInlineError"]{padding:4px 10px 6px 11px}[data-role="formInlineError"]{font-size:13px;line-height:16px;background:#f90;color:#fff;padding:4px 10px 6px 11px;margin-top:2px;position:relative;float:left;width:100%;display:none}.inputError [data-role="formInlineError"]{display:block}[data-role="formInlineError"]:before{content:"";width:8px;height:4px;position:absolute;left:8px;top:-4px;background:url('../../images/errorArrow.png')}p[data-role="characterCount"]{padding:2px 0 0 0;margin:0;font-size:12px;line-height:14px;vertical-align:bottom;clear:both;float:right}.bodyWidth{width:903px;margin:0 auto}.content{min-height:100%;height:100%;width:100%;display:table;padding:64px 0 54px 0;border-spacing:0}footer{background:#f2f2f2 url('../../images/footerLogo.png') left 4px no-repeat}#login{width:30%}#popupLoginButton{width:33%}#searchButton{padding-left:26px;width:10%;overflow:hidden;text-indent:0}#SecurityButtons{padding-left:26px;width:auto;overflow:hidden;text-indent:0}#WebrootButton{display:block;cursor:pointer}#ResetButton{display:block;cursor:pointer}#VerifyButton{display:block;cursor:pointer}#RegisterButton{padding-left:26px;width:10%;overflow:hidden;text-indent:0;cursor:pointer}[data-role="calculatorLayoutOneA"]{display:table-cell;width:20%}[data-role="calculatorLayoutOneThumbnail"]{height:72px}[data-role="calculatorLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="calculatorLayoutOneB"]{display:table-cell;width:80%}[data-role="comparisonLayoutOneA"]{display:table-cell;width:20%}[data-role="comparisonLayoutOneThumbnail"]{height:72px}[data-role="comparisonLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="comparisonLayoutOneB"]{display:table-cell;width:80%}[data-role="formsLayoutOneContentOne"]{display:table-cell;min-height:100%;height:100%;width:80%}[data-role="formsLayoutOneContentTwo"]{display:table-cell;min-height:100%;height:100%;vertical-align:top;width:20%}[data-role="homeLayoutOne"]{position:relative;width:100%;display:table;border-spacing:0;min-height:100%;height:100%;overflow:hidden;border-right:4px solid white}[data-role="homeLayoutOneInner"]{width:100%;display:table-row;min-height:100%;height:100%}[data-role="homeLayoutOneA"]{display:table-cell;width:20%;min-height:100%;height:100%;vertical-align:middle;background-color:#f2f2f2;padding:0}[data-role="homeLayoutOneAInner"]{border-top:4px solid white;border-right:0;border-bottom:4px solid white;height:505.59375px}[data-role="homeLayoutOneB"]{display:table-cell;width:30%;min-height:100%;height:100%;vertical-align:middle;background-color:transparent;padding:0}[data-role="homeLayoutOneBInner"]{border-top:4px solid white;border-bottom:4px solid white;border-left:4px solid white;border-right:4px solid white;height:569.796875px}[data-role="homeLayoutOneC"]{display:table-cell;width:45%;min-height:100%;height:100%;vertical-align:middle;background-color:transparent;padding:0}[data-role="homeLayoutOneCInner"]{height:505.59375px;padding-top:4px;padding-right:0;padding-bottom:4px;padding-left:4px}[data-role="homeLayoutOneCInnerInner"]{position:relative;width:100%;display:table;border-spacing:0;min-height:100%;height:100%;overflow:hidden;table-layout:fixed}[data-role="homeLayoutOneD"]{display:table-cell;width:49.65%;min-height:100%;height:100%;vertical-align:middle;background-color:#f2f2f2;padding:0}[data-role="homeLayoutOneE"]{display:table-cell;width:40.35%;min-height:100%;height:100%;vertical-align:middle;background-color:#f2f2f2;padding:0}[data-role="homeLayoutOneBspacer"]{display:table-cell;vertical-align:middle;width:5%}[data-role="homeLayoutOneBspacerInner"]{border-top:4px solid white;border-bottom:4px solid white;height:505.59375px;background-color:#8cb8b7}[data-role="section4LinkA"]{background-position:center right;padding-left:8px}#bannerBlock2{height:400px}.banner{height:100%;width:100%;position:relative}.BannerWrapper .image{height:30%;position:absolute;bottom:3%;right:3%}[data-role="section4Link"]{background:transparent url('../../images/borders/bottom-white.gif') bottom left repeat-x}[data-role="newsLayoutOneA"]{display:table-cell;width:20%}[data-role="newsLayoutOneThumbnail"]{height:72px}[data-role="newsLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="newsLayoutOneB"]{display:table-cell;width:60%;min-height:100%;height:100%}[data-role="newsLayoutOneC"]{display:table-cell;padding-top:72px;width:20%}[data-role="overviewLayoutOneA"]{display:table-cell;width:20%}[data-role="overviewLayoutOneThumbnail"]{height:72px}[data-role="overviewLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="overviewLayoutOneB"]{display:table-cell;width:80%}[data-role="productLayoutOneA"]{display:table-cell;width:20%}[data-role="productLayoutOneThumbnail"]{height:72px}[data-role="productLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="productLayoutOneB"]{display:table-cell;width:40%}[data-role="productLayoutOneC"]{display:table-cell;padding-top:72px;width:40%}#allPromotionslayoutOne h1{width:20%}.allPromotionslayoutOneSubTabsContainer{width:80%}.allPromotionslayoutOneSubTab{width:20%}#allPromotionslayoutOne [data-role="blockHeading"]{width:20%}#allPromotionslayoutOne [data-role="thumbnailBanner"]{width:20%}#allPromotionslayoutOne h1{width:20%}[data-role="allPromotionslayoutOneSubTabsContainer"]{width:80%}[data-role="ratesLayoutOneA"]{display:table-cell;width:20%}[data-role="ratesLayoutOneThumbnail"]{height:72px}[data-role="ratesLayoutOneContentWrapper"]{display:table-cell;width:80%}[data-role="ratesLayoutOneB"]{display:table-cell;width:80%}.searchResultA{float:left;width:50%;padding-right:8px}.searchResultB{float:left;width:50%;padding-right:8px}[data-role="ratesTable"]{display:table;table-layout:fixed}[data-role="ratesTableRow"]{display:table-row}[data-role="ratesTableHeaderCell"]{display:table-header-group}[data-role="ratesTableBody"]{display:table-row-group}[data-role="ratesTableFooter"]{display:table-footer-group}[data-role="ratesTableCol"]{display:table-column}[data-role="ratesTableColGroup"]{display:table-column-group}[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"]{display:table-cell}[data-role="ratesTableCaption"]{display:table-caption}[data-role="ratesTable"]{background-color:white;border:0}[data-role="ratesTableRow"]{border-bottom:1px solid #93d1d1}[data-role="ratesTableCell"],[data-role="ratesTableHeaderCell"]{border-right:0}[data-role="ratesTable"]{width:100%;height:100%;font-size:14px}[data-role="ratesTable"] [data-role="ratesTable"]{width:100%;height:100%;font-size:14px;background-color:transparent}[data-role="ratesTableHeaderCell"]{font-weight:bolder;background-color:#93d1d1;font-size:13px;line-height:16px}[data-role="ratesTableCell"]{font-size:13px;line-height:normal}[data-role="ratesTableCell"]:first,[data-role="ratesTableHeaderCell"]:first{border-left:0}[data-role="ratesTableCell"] span{display:none}[data-role="ratesTable"] .td100{width:100%}[data-role="ratesTable"] .td90{width:90%}[data-role="ratesTable"] .td80{width:80%}[data-role="ratesTable"] .td75{width:75%}[data-role="ratesTable"] .td70{width:70%}[data-role="ratesTable"] .td67{width:66.6666%}[data-role="ratesTable"] .td66{width:66.6666%}[data-role="ratesTable"] .td60{width:60%}[data-role="ratesTable"] .td50{width:50%}[data-role="ratesTable"] .td40{width:40%}[data-role="ratesTable"] .td33{width:33.3333%}[data-role="ratesTable"] .td30{width:30%}[data-role="ratesTable"] .td25{width:25%}[data-role="ratesTable"] .td20{width:20%}[data-role="ratesTable"] .td15{width:15%}[data-role="ratesTable"] .td10{width:10%}[data-role="subMenuSetsWrapper"]{display:table;width:100%;min-height:280px}[data-role="subMenuSet"]{display:table-row}.subMenuItem{display:table-cell;width:20%;vertical-align:top;border-top:8px solid black;background-color:white;border-bottom:8px solid white}[data-role="subMenuHeading"][data-level="1"]{display:block;color:black;font-family:Helvetica,FoundationRoman,Sans-serif;font-weight:600;font-size:15px;line-height:16px;padding:3px 0 0 0;margin:8px;text-decoration:none}[data-role="subMenuGroupArticles"]{vertical-align:top;display:table-cell;padding:4px 0 0 0}[data-role="subMenuAtricleWrapper"]{display:table;width:90%}[data-role="subMenuAtricleWrapper"].last{height:100%}[data-role="subMenu"] .subMenuAtricleNumber{display:table-cell;padding:12px 8px 0 6px;color:inherit;font-size:64px;font-family:Helvetica,FoundationRoman,Sans-serif;font-weight:600;line-height:16px;min-width:54px;text-align:center}[data-role="layoutOneApplyThumbnail"]{display:table-cell}[data-role="layoutOneContactInfoThumbnail"]{display:table-cell}[data-role="layoutOneWhatYouNeedThumbnail"]{display:table-cell}
/* ie8 Exit tags */



#ie8Stage3{
    background: url('../../../images/ie8Exit/popupoverlay.png') repeat;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0;
    z-index: 49;
    right:0px;
    margin-left:0px;
    width:100%;
    bottom:0px;
    min-width:500px;
}

#ie8Stage3 .ie8popupOverlay{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#ie8Stage3 .ie8popupBar{
    background:url('../../../images/ie8Exit/fnbTexture.jpg') repeat;
    border-right: none;
    left: 0px;
    width:100%;
    min-height: 250px;
    position: relative;
    right: 0;
    top: 150px;
    z-index: 8010;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	border-top:none;
}

#ie8Stage3  .ie8ContentWrapper{
	background:url("../../../images/ie8Exit/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
}


#ie8Stage3  .ie8header1{
	color:#ffffff;
	font-family:"FNBSansThin";
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3  .ie8header2{
	color:#023433;
	font-family:"FNBSansThin";
	margin-bottom:3%;
	font-size:36px;
	padding-left:0px;
}

#ie8Stage3 .ie8p1{
	color:#ffffff;
	font-size:18px;
	margin-bottom:3%;
	padding:0;
	line-height: 20px;
}

#ie8Stage3 .ie8p2{
	color:#023433;
	font-size:14px;
	padding:0;
}

#ie8Stage3 .ie8p2 a{
	cursor:pointer;
}

#ie8Stage3 .ie8BtnWrapper{
	width:100%;
	margin:auto;
	text-align:center;
	float:none;
	margin-top:5%;
}

#ie8Stage3 .ie8Btn{
	border:none;
	padding: 9px 15px 9px 15px;
	cursor:pointer;
	width:240px;
}

#ie8Stage3 .ie8DownloadBtn{
	background: #ff9900  url('../../../images/ie8Exit/whiteArrow.png') no-repeat;
	background-position:8px center;
	color:#ffffff;
	float:left;
	cursor:pointer;
}

#ie8Stage3 .ie8FindOutMoreBtn{
	background: #ffffff url("../../../images/ie8Exit/orangeArrow.png") no-repeat;
	background-position: 5px center;
	float:right;
}

.clearBoth{
	clear:both;
}

#ie8Stage3 .ie8bottom{
	height:15px;
	width:60%;
	background: #ffffff url("../../../images/ie8Exit/bottom.png") repeat;
	background-size: 5px 16px;
	background-position:left bottom;
	float:right;
}

.ie8DisplayNone{
	display:none;
}

#ie8Stage3  .ie8ContentWrapper2{
	background:url("../../../images/ie8Exit/plug.png") no-repeat;
	background-position: 0px bottom; 
	padding: 2% 2% 40px 210px;
    width: 80%;
	float:none;
	margin:auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	overflow:hidden;
	color:#ffffff!important;
	}

#ie8Stage3 .ie8ContentWrapper2 .ie8header1 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 38px;

}

#ie8Stage3 .ie8ContentWrapper2 .ie8header2 {
    color:#ffffff;
    font-family: "FNBSansThin";
    font-size: 20px;
    margin-bottom: 1%;
    margin-top:4%;
    padding:0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p1 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 .ie8p2 {
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0%;
    padding: 0;
}

#ie8Stage3 .ie8ContentWrapper2 a {
    text-decoration:underline;
    color:#ffffff;
}

