.searchResultA {
	clear:float;
	float:none;
	width:100%;
	padding-right: 8px;
}
.searchResultB {
	clear:float;
	float:none;
	width:100%;
	padding-right: 8px;
}

@media only screen and (min-width : 904px) {
	.searchResultA {
		float:left;
		width:50%;
		padding-right: 8px;
	}
	.searchResultB {
		float:left;
		width:50%;
		padding-right: 8px;
	}
}