/* ----- REWARDS SHOPPING + FUEL ----- */

#shoppingContainer .shoppingHeading {
	font-family: Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
	font-size:18px;
	margin:0;
}
#shoppingContainer .shoppingSubHeading {
	font-size:2.8em;
	padding:0 0 10px 20px;
	margin:0;
}
#shoppingContainer .smallReg {
	font-size:14px;
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
}
#shoppingContainer .largeReg {
	font-size:18px;
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
}

#shoppingContainer .shoppingContent.white {margin:10px 0;}

#shoppingContainer .shoppingContent p {margin:0; padding:0;}

#shoppingContainer .shoppingContent .button {
	font-size:18px;
	background-color:#FF9900;
	color:#FFF;
	padding:20px;
}

/* ----- REWARDS SHOPPING ----- */
#shoppingContainer .width820 {width:820px;}
#shoppingContainer .shoppingHeading {padding:10px 0 0 20px;}

#shoppingContent .column1 {width: 25%; vertical-align:middle; text-align:center;}
#shoppingContent .column2 {width: 5%; vertical-align:middle; font-size: 20px; font-family: Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContent .column3 {width: 20%; vertical-align:middle; font-size: 14px; color: #000;text-align: center;font-family: Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContent .column4 {width: 5%; font-size: 20px; vertical-align: middle; font-family: Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContent .column5 {width: 15%; vertical-align:middle; text-align:center; font-size: 14px; font-family: Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContent .column6 {width: 30%; vertical-align:middle; font-size: 14px; padding-right:20px; text-align: center; font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContent .discountsTableHeader {
	font-size: 18px;
	margin: 10px 0 0 0;	
	padding: 0 0 0 20px;
}
#shoppingContent .accountName {
	padding: 5px 0 0 !important;
}
#shoppingContainer .shoppingContent .column6 {}

#shoppingContainer .shoppingContent .cardTurq,
#shoppingContainer .shoppingContent .cardSilver,
#shoppingContainer .shoppingContent .cardBlack{
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
	font-size:18px;
	text-align:center;
	color:#FFF;
	height:65px;
	padding-top:30px;
	background-repeat:no-repeat;
	background-position:top center;
}

#shoppingContainer .shoppingContent .cardDotted {
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
	font-size:18px;
	text-align:center;
	color:#000;
	height:65px;
	padding-top:30px;
	background-repeat:no-repeat;
	background-position:top center;	
}

#shoppingContainer .shoppingContent .cardTurq{background-image:url("/banking/03images/base/rewards/cardTurq.png");}
#shoppingContainer .shoppingContent .cardSilver{background-image:url("/banking/03images/base/rewards/cardSilver.png");}
#shoppingContainer .shoppingContent .cardDotted{background-image:url("/banking/03images/base/rewards/cardDotted.png");}
#shoppingContainer .shoppingContent .cardBlack{background-image:url("/banking/03images/base/rewards/cardBlack.png");}

#shoppingContainer .shoppingContent .button {width:100%; margin:10px;}

/* ----- REWARDS BANNER ----- */
#rewardsBannerContainer .totalEbucks,
#rewardsBannerContainer .totalEbucksContinue{
	background-color:#BEE5E4; /* same as foreground color of rewardsBannerArrow.png image */
	width:121px;
	padding:10px;
}
#rewardsBannerContainer .totalEbucks {margin:20px 0 0 30px;}
#rewardsBannerContainer .totalEbucksContinue {
	background-image:url("/banking/03images/base/rewards/rewardsBannerArrow.png");
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-bottom:30px;
}
#rewardsBannerContainer .totalEbucks p,
#rewardsBannerContainer .totalEbucks h3,
#rewardsBannerContainer .totalEbucksContinue p,
#rewardsBannerContainer .totalEbucksContinue h3{margin:0;padding:0;}

#rewardsBannerContainer .totalEbucks h3{font-family:Helvetica,FoundationRoman,Sans-serif;}
#rewardsBannerContainer .totalEbucksContinue h3{font-family:Helvetica,FoundationRoman,Sans-serif; font-size:40px;}

#rewardsBannerContainer .product {
	background-color:#99D6D6; /* same as background color of rewardsBannerArrow.png image */
	border:6px solid #FFF;
	width:100%;
	padding:0 0 0 24px;
}
#rewardsBannerContainer .product .productDescription{
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:18px;
    padding:10px;
}
#rewardsBannerContainer .formTable {
	margin:20px 0 0 0;
	padding:10px;
}
#rewardsBannerContainer .product .productImage{text-align:center;}
#rewardsBannerContainer .scrollableBanner,
#rewardsBannerContainer .scrollingBannerItem {width:100%;}

#rewardsBannerContainer .ebucksValue {background-color:#CCEAEA;}
#rewardsBannerContainer .ebucksButton {
	background:url("/banking/03images/fnb/arrows/flushRightWhite.png") no-repeat right center transparent;
    font-family:Helvetica,FoundationRoman,Sans-serif;
    font-size:16px;
    float:right;
    height:34px;
    margin:30px 0 10px;
    padding:10px 45px 0 0;
}
#rewardsBannerContainer .dlData {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	font-size:16px;
}
#rewardsBannerContainer .dlTitle {
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:16px;
}

/*********Mobile**********/
.displayMobi {
	display: none;
}
@media
only screen and (max-width: 799px) {
	#rewardsPage .rewardsEarnings {
		font-size:14px;
	}
	#rewardsPage .rewardsBalance {
		text-align:left;
		padding: 0;
	}
	#rewardsPage p{
		font-size:14px;
	}
	#rewardsContainer .block-button1,
	#rewardsContainer .block-button2{
	    font-size:14px;
	}
	#rewardsContainer .td p {
		font-size: 14px;
	}
	#rewardsPage .rewardsBlockOne,
	#rewardsPage .rewardsBlockTwo,
	#rewardsPage .rewardsBlockThree {
		height: 250px;
	}
	#rewardsGraphs .itemBreakdowns .maxPoints {
		text-align: left;
	}
	#rewardsGraphs .pointsDescription {
		padding: 10px 10px 0 0;
	}
	#rewardsGraphs .mobileHeading {
		padding: 0 0 0 40px;
	}
	#shoppingContainer .shoppingContent p,
	#shoppingContainerFuel .shoppingContent p,
	#shoppingContainerFuel .shoppingHeadings p{
		text-align: left;
	}
	
	#shoppingContainerFuel .column2 {
		padding: 0 0 0 10px!important;
	}
	#shoppingContainerFuel .shoppingHeading {
		padding: 10px 0 0 10px!important;
	}
	#shoppingContainer .shoppingSubHeading, #shoppingContainerFuel .shoppingSubHeading {
		padding: 0 0 10px 10px!important;
		font-size: 14px;
	}
	#shoppingContent .column2 p,
	#shoppingContent .column3,
	#shoppingContent .column4,
	#shoppingContent .column5,
	#shoppingContent .column6,
	#shoppingContent .column7,
	#shoppingContent .column8{
		font-size: 14px!important;
	}
	#shoppingContent .shoppingContent .button {
		background: url("/banking/03images/fnb/arrows/flushRightOrange.png") no-repeat scroll right center;
	}
	#shoppingContent .shoppingContent .button div{
		display:none;
	}
	#shoppingContent .displayMobi {
		display: block;
		padding: 0 0 0 10px;
	}
	#shoppingContent .displayNoneMobi {
		display: none;
	}
	
	#shoppingContainerFuel .column1 {
		display: none!important;
	}
	
	#shoppingContainerFuel .column1 {
		display: none;
	}
	
	#shoppingContent .cardTurqTop,
	#shoppingContent .cardBlackTop,
	#shoppingContent .cardSilverTop {
		width: 49px;
		position: inherit;
		float: left;
	}
	#shoppingContent .accNickname {
		float: left;
		padding: 0 0 0 20px;
	}
	#shoppingContent .td {
		display: table-cell;
	    vertical-align: top;
	}

	#shoppingContainerFuel .column2 {width: 25%; vertical-align:middle;}
	#shoppingContainerFuel .column3 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
	#shoppingContainerFuel .column4 {width: 5%; vertical-align:middle; text-align:right;  font-size:18px;}
	#shoppingContainerFuel .column5 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
	#shoppingContainerFuel .column6 {width: 20%; vertical-align:middle; text-align:right;  font-size:18px;}
	#shoppingContainerFuel .column7 {width: 25%; vertical-align:middle; text-align:right; padding:0 5px 0 0;}
	#shoppingContainerFuel .column8 {width: 15%;}
	
	#shoppingContainer .column1 {width: 25%; vertical-align:middle; text-align:center;}
	#shoppingContainer .column2 {width: 10%; vertical-align:middle;}
	#shoppingContainer .column3 {width: 10%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column4 {width: 10%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column5 {width: 15%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column6 {width: 20%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column7 {width: 10%; vertical-align:middle;}
	
	#shoppingContent .cardTurqTop,
	#shoppingContent .cardBlackTop,
	#shoppingContent .cardSilverTop {
	 height: 32px;
	}
	
	#shoppingContent .productDivider {
		border-bottom: 6px solid #FFF;
		padding: 10px 0;
	}
	#shoppingContent .shoppingHeadings {
		border-bottom: 6px solid #FFF;
	}
	#shoppingContent .formTable.shoppingContent {
		padding: 5px 0;
	}
	#shoppingContent .cardTurqTop{background-image:url("/banking/03images/base/rewards/cardTurqMobi.png");}
	#shoppingContent .cardBlackTop{background-image:url("/banking/03images/base/rewards/cardBlackMobi.png");}
	#shoppingContent .cardSilverTop{background-image:url("/banking/03images/base/rewards/cardSilverMobi.png");}
	
	#shoppingContent .borderRightGrey {
		border-right-width: 6px;
	}
	
	#rewardsPage .rewardsBlockOne {margin:10px 20px 0 20px;}
	#rewardsPage .rewardsBlockTwo {margin:10px 20px;}
	#rewardsPage .rewardsBlockThree {margin:10px 20px 0 20px;}
	
	#rewardsPage .page-button {
		/*font-size: 14px;
		width: 100%;*/
		display:none;
	}
	#rewardsContainer .td .one:before {
		background: none;
	}
	#rewardsContainer .td .two:before {
		background: none;
	}
	#rewardsContainer .td .three:before {
		background: none;
	}
	#rewardsContainer .td .four:before {
		background: none;
	}
	
	/***Graphs***/
	.verticalBarXaxisLabel {
		display: none;
	}
	.verticalWrapper {
		left: 110px;
	}
	#rewardsPage .rewardsBalance strong,
	#rewardsPage .rewardsEarnings strong,
	#rewardsGraphs .rightGraph p {
		font-size: 14px;
	}
	
	#rewardsGraphs #stackedBarGraph {
		width: 100%;
	}
	#rewardsGraphs .stackedGroupGraphWrapper {
		width:68px;
	}
	#rewardsGraphs #stackedBarGraphHiddenContainer,
	#rewardsGraphs #stackedBarGraphHidden,
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraphWrapper {
		width: 100%
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraph {
		float: none;
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupCellLegend {
	    padding: 5px 0 0 15px;
	    width: 80px;
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupCellLabel {
		position: absolute;
	    right: 10px;
	    top: 10px;
	}
	#rewardsGraphs #stackedBarGraphHidden .breakdownTextMaxValue {
		position: absolute;
    	right: 10px;
    	bottom: 10px;
	}
	
	#rewardsGraphs .itemBreakdowns .text {
		padding: 5px 0 5px 25px;
	}
	.borderBlocks .td {
		display: table-cell;
	}
	#Target2 {width:100%;}
	
	#Target2 .pyramidGroup{
	display:none;
	}
	#yearTrend {display:none;}
    .noMobileContent{font-size:20px;padding-left:20px;padding-right:20px;}
	
}

@media
only screen and (max-width: 450px) {
	
	#rewardsGraphs .pointsDescription {
		padding: 10px 10px 0 0;
		width: 60%;
	}
	
	#rewardsGraphs .td.earnedPointsTrue,
	#rewardsGraphs .td.earnedPointsFalse{
		width: 25%;
	}
	
}