/* ----- REWARDS LANDING ----- */
#rewardsPage .rewards-nowrap {
	white-space: nowrap;
}
#rewardsPage .rewardsEarnings {
	color:#FFF;
	font-size:18px;
	padding:10px 0 0 0;
}
#rewardsPage #howDoIGetThis {
	font-size: 13px;
	padding:5px 10px 5px 16px;
}
#rewardsPage #howDoIGetThis a {
	color: white;
	text-decoration: underline;
}
#rewardsPage #howDoIGetThis a:HOVER {
	text-decoration: none;
}
#rewardsPage .rewardsEarnings strong {
	color:#000;
	font-size:24px;
}
#rewardsPage .rewardsBalance {
	color:#FFF;
	text-align:right;
	padding:10px 0 0 0;
}
#rewardsPage .rewardsBalance p{
	font-size:18px;
}
#rewardsPage .rewardsBalance strong {
	color:#000;
	font-size:26px;
}
#rewardsPage h3{
	color:#787878;
	padding:0 20px;
	margin:0;
	font-size:18px;
	margin-bottom: 10px;
}
#rewardsPage h3.secondHeading{padding:0 20px 0 40px;}

#rewardsContainer.formTable,
#rewardsContainer .tr,
#rewardsContainer .td{position:relative;}

#rewardsContainer .td a,
#rewardsContainer .td p{
	font-size:15px;
	padding:5px 10px 5px 20px;
	margin:0;
}
#rewardsContainer .td a {
	font-size:18px;
	text-decoration: underline;
	color: inherit;
	line-height: 25px;
}
#rewardsContainer .td a:HOVER {
	text-decoration: none;
}
#rewardsContainer .block-button1,
#rewardsContainer .block-button2{
	background:url("/banking/03images/fnb/arrows/tableRightOrangeSmall.png") no-repeat right center transparent;
    color:#787878;
    font-size:16px;
    height:34px;
    line-height:34px;
    padding-left:20px;
    position:absolute;
    text-decoration:underline;
    width:100%;
}
#rewardsContainer .block-button1{bottom:10px;}
#rewardsContainer .block-button2{bottom:50px;}

#rewardsPage .page-button{
	background:url("/banking/03images/fnb/arrows/flushLeftOrange.png") no-repeat left center #9AD4D5;
    font-size:18px;
    width:33.3333%;
    height:50px;
    line-height:50px;
    margin:20px 0;
    padding-left:55px;
}

#rewardsPage .rewardsBlockOne,
#rewardsPage .rewardsBlockTwo,
#rewardsPage .rewardsBlockThree{position:relative; height:300px;}

#rewardsPage .rewardsBlockOne {margin:10px 20px 0 40px;}
#rewardsPage .rewardsBlockTwo {margin:10px 25px;}
#rewardsPage .rewardsBlockThree {margin:10px 50px 0 25px;}
#rewardsPage .rewardsBlockFour {margin:10px 25px;}

#rewardsPage .wealthPage .rewardsBlockOne,
#rewardsPage .wealthPage .rewardsBlockTwo,
#rewardsPage .wealthPage .rewardsBlockThree{position:relative; height:188px;}
#rewardsPage .wealthPage .rewardsBlockFour{position:relative; height:188px; cursor: default;}
#rewardsPage .wealthPage .white.rewardsBlockOne,
#rewardsPage .wealthPage .white.rewardsBlockTwo,
#rewardsPage .wealthPage .white.rewardsBlockThree{cursor: default;}
#rewardsPage .wealthPage .wealthValue {
/* 	position: absolute; */
/* 	bottom: 10px; */
}

#rewardsPage .rewardsBlockThree h3{padding:0 20px 0 20px;}
#rewardsPage .rewardsBlockThree p{padding:5px 10px 5px 20px;}
#rewardsPage .elementPadding h3{padding:0 20px 0 40px;}
#rewardsPage .elementPadding p{padding:5px 10px 5px 40px;}


#rewardsPage .rewardsLevel0,
#rewardsPage .rewardsLevel1,
#rewardsPage .rewardsLevel2,
#rewardsPage .rewardsLevel3,
#rewardsPage .rewardsLevel4,
#rewardsPage .rewardsLevel5{
	width:51px;
	height:188px;
	position:absolute;
	left:-26px;
	background-repeat:no-repeat;
	background-position:0 0;
}

#rewardsPage .rewardsLevel0 {background-image:url("/banking/03images/base/rewards/level0.png");}
#rewardsPage .rewardsLevel1 {background-image:url("/banking/03images/base/rewards/level1.png");}
#rewardsPage .rewardsLevel2 {background-image:url("/banking/03images/base/rewards/level2.png");}
#rewardsPage .rewardsLevel3 {background-image:url("/banking/03images/base/rewards/level3.png");}
#rewardsPage .rewardsLevel4 {background-image:url("/banking/03images/base/rewards/level4.png");}
#rewardsPage .rewardsLevel5 {background-image:url("/banking/03images/base/rewards/level5.png");}

#rewardsPage .two .rewardsLevel1 {background-image:url("/banking/03images/base/rewards/level1percent.png");}
#rewardsPage .two .rewardsLevel2 {background-image:url("/banking/03images/base/rewards/level2percent.png");}
#rewardsPage .two .rewardsLevel3 {background-image:url("/banking/03images/base/rewards/level3percent.png");}
#rewardsPage .two .rewardsLevel4 {background-image:url("/banking/03images/base/rewards/level4percent.png");}
#rewardsPage .two .rewardsLevel5 {background-image:url("/banking/03images/base/rewards/level5percent.png");}

#rewardsPage .shoppingIcon,
#rewardsPage .fuelIcon,
#rewardsPage .iconPlane,
#rewardsPage .iconScreen,
#rewardsPage .iconStar,
#rewardsPage .iconSuitcase,
#rewardsPage .discountIcon{
	float:right;
	width:42px;
	height:42px;
	background-repeat:no-repeat;
	background-position:left bottom;
}
#rewardsPage .shoppingIcon	{background-image:url("/banking/03images/base/rewards/shopping.jpg");}
#rewardsPage .fuelIcon		{background-image:url("/banking/03images/base/rewards/fuelAirtime.jpg");}
#rewardsPage .discountIcon	{background-image:url("/banking/03images/base/rewards/iconDiscounts.png");}
#rewardsPage .iconPlane	{background-image:url("/banking/03images/base/rewards/iconPlane.png");}
#rewardsPage .iconScreen	{background-image:url("/banking/03images/base/rewards/iconScreen.png");}
#rewardsPage .iconStar	{background-image:url("/banking/03images/base/rewards/iconStar.png");}
#rewardsPage .iconSuitcase	{background-image:url("/banking/03images/base/rewards/iconSuitcase.png");}

/* ----- REWARDS SHOPPING + FUEL ----- */
#shoppingContainer .shoppingHeading,
#shoppingContainerFuel .shoppingHeading {
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
	font-size:1.8em;
	margin:0;
}
#shoppingContainer .shoppingSubHeading,
#shoppingContainerFuel .shoppingSubHeading {
	font-size:28px;
	padding:0 0 10px 20px;
	margin:0;
}
#shoppingContainer .smallReg,
#shoppingContainerFuel .smallReg {
	font-size:14px;
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
}
#shoppingContainer .largeReg,
#shoppingContainerFuel .largeReg {
	font-size:18px;
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
}

#shoppingContainer .shoppingContent,
#shoppingContainerFuel .shoppingContent {margin:10px 0;}

#shoppingContainer .shoppingContent p,
#shoppingContainerFuel .shoppingContent p,
#shoppingContainerFuel .shoppingHeadings p{margin:0; padding:0;}

#shoppingContainer .shoppingContent .button,
#shoppingContainerFuel .shoppingContent .button{
	font-size:18px;
	background-color:#FF9900;
	color:#FFF;
	padding:20px;
}

/* ----- REWARDS SHOPPING ----- */
#shoppingContainer .width820 {width:820px;}
#shoppingContainer .shoppingHeading {padding:10px 0 0 20px;}

#shoppingContainer .column1 {width:25%; vertical-align:middle; text-align:center;}
#shoppingContainer .column2 {width: 5%; vertical-align:middle;}
#shoppingContainer .column3 {width:10%; vertical-align:middle; text-align:right;}
#shoppingContainer .column4 {width: 5%; vertical-align:middle; text-align:right;}
#shoppingContainer .column5 {width:15%; vertical-align:middle; text-align:right;}
#shoppingContainer .column6 {width:20%; vertical-align:middle; text-align:right;}
#shoppingContainer .column7 {width:20%; vertical-align:middle;}

#shoppingContainer .shoppingHeadings .column1,
#shoppingContainer .shoppingHeadings .column2,
#shoppingContainer .shoppingHeadings .column3,
#shoppingContainer .shoppingHeadings .column4,
#shoppingContainer .shoppingHeadings .column5,
#shoppingContainer .shoppingHeadings .column6{background-color:#F3F3F3; padding:5px 0 5px 10px;}

#shoppingContainer .shoppingHeadings .column1 {padding-left:0;}
#shoppingContainer .shoppingHeadings .column4 {font-size:14px;}
#shoppingContainer .shoppingHeadings .column5 {padding-right:5px;}
#shoppingContainer .shoppingHeadings .column6 {padding-right:5px;}

#shoppingContainer .shoppingContent .column1 {}
#shoppingContainer .shoppingContent .column2 {padding-left:10px;}
#shoppingContainer .shoppingContent .column3 {	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold; padding-left:10px; font-size:18px; color:#009999;}
#shoppingContainer .shoppingContent .column4 {padding-left:10px; font-size:18px;}
#shoppingContainer .shoppingContent .column5 {padding-right:10px;font-size:14px;}
#shoppingContainer .shoppingContent .column6 {font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif; padding-right:10px; font-size:24px;}

#shoppingContainer .shoppingContent .cardTurq,
#shoppingContainer .shoppingContent .cardSilver,
#shoppingContainer .shoppingContent .cardDotted,
#shoppingContainer .shoppingContent .cardBlack{
	font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
	font-size:18px;
	text-align:center;
	color:#FFF;
	height:65px;
	padding-top:30px;
	background-repeat:no-repeat;
	background-position:top center;
}

#shoppingContainer .shoppingContent .cardTurq{background-image:url("/banking/03images/base/rewards/cardTurq.png");}
#shoppingContainer .shoppingContent .cardSilver{background-image:url("/banking/03images/base/rewards/cardSilver.png");}
#shoppingContainer .shoppingContent .cardDotted{background-image:url("/banking/03images/base/rewards/cardDotted.png");}
#shoppingContainer .shoppingContent .cardBlack{background-image:url("/banking/03images/base/rewards/cardBlack.png");}

#shoppingContainer .shoppingContent .button {width:80%; margin:10px;}

/* ----- REWARDS FUEL ----- */
#shoppingContainerFuel.grid70{max-width:935px;}
#shoppingContainerFuel .shoppingHeading {padding:15px 0 0 20px;}

/* columns */
#shoppingContainerFuel .column1 {width:20%;}
#shoppingContainerFuel .column2 {width:15%; vertical-align:middle;}
#shoppingContainerFuel .column3 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
#shoppingContainerFuel .column4 {width: 5%; vertical-align:middle; text-align:right;  font-size:18px;}
#shoppingContainerFuel .column5 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
#shoppingContainerFuel .column6 {width:15%; vertical-align:middle; text-align:right;  font-size:18px;}
#shoppingContainerFuel .column7 {width:20%; vertical-align:middle; text-align:right; padding:0 5px 0 0;}
#shoppingContainerFuel .column8 {width:20%;}

/* heading */
#shoppingContainerFuel .shoppingHeadings .column1,
#shoppingContainerFuel .shoppingHeadings .column2,
#shoppingContainerFuel .shoppingHeadings .column3,
#shoppingContainerFuel .shoppingHeadings .column4,
#shoppingContainerFuel .shoppingHeadings .column5,
#shoppingContainerFuel .shoppingHeadings .column6,
#shoppingContainerFuel .shoppingHeadings .column7{background-color:#F3F3F3; padding:5px 0; vertical-align:middle;}

#shoppingContainerFuel .shoppingHeadings .column6 {padding:5px;}
#shoppingContainerFuel .shoppingHeadings .column7 {padding-right:5px;}

/* content */
#shoppingContainerFuel .shoppingContent .column1 {padding:5px 0 5px 40px;}
#shoppingContainerFuel .shoppingContent .column2 {padding:0;}
#shoppingContainerFuel .shoppingContent .column3 {font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContainerFuel .shoppingContent .column4 {	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold; text-align:center; color:#009999;}
#shoppingContainerFuel .shoppingContent .column5 {font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;}
#shoppingContainerFuel .shoppingContent .column6 {text-align:center;}
#shoppingContainerFuel .shoppingContent .column7 {font-size:28px;}

#shoppingContainerFuel .shoppingHeadings p,
#shoppingContainerFuel .shoppingContent p{font-size:14px;}

#shoppingContainerFuel .shoppingContent .column1 p {text-align:center; color:#000; padding:20px 0 0;}
#shoppingContainerFuel .shoppingContent .column2 p,
#shoppingContainerFuel .shoppingContent .column2 p.spendAmmount{font-size:18px;}

#shoppingContainerFuel .shoppingContent .button {text-align:center; margin:0 0 0 10px;}

#shoppingContainerFuel .cardTurqTop,
#shoppingContainerFuel .cardBlackTop,
#shoppingContainerFuel .cardSilverTop,
#shoppingContainerFuel .td.cardTurqBottom,
#shoppingContainerFuel .td.cardBlackBottom,
#shoppingContainerFuel .td.cardSilverBottom{
    font-family:Helvetica,FoundationRoman,Sans-serif,Arial,sans-serif;
    font-size:18px;
    color:#FFF;
    text-align:center;
}

#shoppingContainerFuel .cardTurqTop,
#shoppingContainerFuel .cardBlackTop,
#shoppingContainerFuel .cardSilverTop{
    position:relative;
    bottom:-46px;
    height:65px;
    background-repeat:no-repeat;
    background-position:center top;
}
#shoppingContainerFuel .cardTurqTop{background-image:url("/banking/03images/base/rewards/cardTurq.png");}
#shoppingContainerFuel .cardBlackTop{background-image:url("/banking/03images/base/rewards/cardBlack.png");}
#shoppingContainerFuel .cardSilverTop{background-image:url("/banking/03images/base/rewards/cardSilver.png");}

#shoppingContainerFuel .offWhite{background-color:#FAFAFA;}

#shoppingContainerFuel .airtimeOffWhite .td.cardTurqTop,
#shoppingContainerFuel .td.cardTurqTop.offWhite,
#shoppingContainerFuel .td.cardBlackTop.offWhite,
#shoppingContainerFuel .td.cardSilverTop	{background-position:bottom center;background-repeat:no-repeat;}
#shoppingContainerFuel .td.cardTurqBottom,
#shoppingContainerFuel .td.cardBlackBottom,
#shoppingContainerFuel .td.cardSilverBottom{background-position:top center;background-repeat:no-repeat;}

#shoppingContainerFuel .airtimeOffWhite .td.cardTurqTop,
#shoppingContainerFuel .td.cardTurqTop.offWhite	{background-image:url("/banking/03images/base/rewards/cardTurq.png");}
#shoppingContainerFuel .td.cardTurqBottom		{}
#shoppingContainerFuel .airtimeOffWhite .td.cardBlackTop,
#shoppingContainerFuel .td.cardBlackTop.offWhite{background-image:url("/banking/03images/base/rewards/cardBlack.png");}
#shoppingContainerFuel .td.cardBlackBottom		{}
#shoppingContainerFuel .airtimeOffWhite .td.cardSilverTop,
#shoppingContainerFuel .td.cardSilverTop		{background-image:url("/banking/03images/base/rewards/cardSilver.png");}
#shoppingContainerFuel .td.cardSilverBottom		{}

#shoppingContainerFuel.fuelAirtime .shoppingContent .column1{padding:0;}
#shoppingContainerFuel.fuelAirtime .formTable.shoppingContent{margin:0;}
#shoppingContainerFuel .productDivider {margin:10px 0;}

/* ----- REWARDS CREDITCARD ----- */
#shoppingContent .creditCard .rewardsAdd {margin:60px 0 0 0; background-color:#BEDCDC;}
#shoppingContent .creditCard ul li {list-style-image:url("/banking/03images/fnb/listicons/whiteListIcon.png");}
#shoppingContent .creditCard .rewardsAdd {padding: 40px 0;}
#shoppingContent .creditCard .rewardsHeading {font-size:20px; font-family:Helvetica,FoundationRoman,Sans-serif; margin:0 20px 10px 0;}
#shoppingContent .creditCard .rewardsContent {font-size:16px; margin:0 20px 20px 0;}

#shoppingContent .creditCard .rewardsAddLeft {color:#009999;}
#shoppingContent .creditCard .rewardsHeadingTop {font-size:34px; margin:0 0 0 40px;}
#shoppingContent .creditCard .rewardsHeadingMiddle{font-size:80px; margin:10px 0 10px 40px;}
#shoppingContent .creditCard .rewardsHeadingBottom{font-size:34px; margin:0 0 0 40px;}

/* ----- NO QUALIFYING / LINKED ACCOUNT ----- */
#noQualifyingAccount .noQualifyingAccountPosition {padding:0 10%; width:100%;}
#noQualifyingAccount .noQualifyingAccountContainer {color:#FFF;}

#noQualifyingAccount h2{
	font-size:50px;
	padding:40px 20px 0 20px;
}
#noQualifyingAccount h3{
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:28px;
	padding:10px 20px 15% 20px;
}
#noQualifyingAccount .noQualifyingButton{
	background:url("/banking/03images/fnb/arrows/tableRightOrangeSmall.png") no-repeat right center transparent;
    font-size:18px;
    width:275px;
    height:34px;
    padding:0 45px 0 0;
    margin:0 0 80px 0;
    float:right;
}

/* ----- REWARDS HOW ----- */
#rewardsGraphs #verticalBarGraph{width:100%; height:400px;position: relative;}
#rewardsGraphs p{padding:0;}

#rewardsGraphs .leftGraph {padding:20px 40px 0 20px;font-family: Helvetica,FoundationRoman,Sans-serif;}
#rewardsGraphs .leftGraph h1 {
margin-left: 39px;
padding: 0 0 10px 0;
}

#rewardsGraphs .rightGraph{padding:20px 20px 0 40px;}
#rewardsGraphs .rightGraph p{font-family:Helvetica,FoundationRoman,Sans-serif; font-size:18px;}
#rewardsGraphs .rightGraph p span{color:#52908F;}

#rewardsGraphs .graphTurqHeader {color:#009999; padding-left:40px;}
#rewardsGraphs .graphHeader {color:#A7A7A7; margin:15px 0 10px 40px; font-size:16px;}
#rewardsGraphs .graphHeader span{color:#000;}

#rewardsGraphs .stackedGroupGraphWrapper {margin:0 0 10px 0; width:70px;}

#rewardsGraphs #itemBreakdownsContainer12 {display:block;}

#rewardsGraphs .itemBreakdowns {background-color:#F3F3F3; display:none;}
#rewardsGraphs .itemBreakdowns .borderBlocks{border-bottom:1px solid #E7E7E7; padding:5px 0;}
#rewardsGraphs .itemBreakdowns .borderBlocks:first-child {background:url("/banking/03images/base/rewards/GraphArrowDown.png") no-repeat right top #F3F3F3;}
#rewardsGraphs .itemBreakdowns .text{
	font-size:14px;
	padding:5px 0 5px 40px;
	min-height:35px;
	margin:0;
}
#rewardsGraphs .itemBreakdowns .text a{font-size:13px;}
#rewardsGraphs .itemBreakdowns h2,
#rewardsGraphs .itemBreakdowns p{padding:0; margin:0;}

#rewardsGraphs .itemBreakdowns h2{font-family:Helvetica,FoundationRoman,Sans-serif;}

#rewardsGraphs .itemBreakdowns .maxPoints{
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:14px;
	text-align:right;
	width:15%;
	vertical-align:middle;
	padding:0 10px 0 0;
}

#rewardsGraphs .qualified_tick,
#rewardsGraphs .qualified_cross{
	background-repeat:no-repeat;
	width:35px;
	height:35px;
	position:absolute;
	left:-17px;
	top:10px;
}
#rewardsGraphs .qualified_tick{background-image:url('/banking/03images/fnb/icons/tickGreyBorder.png');}
#rewardsGraphs .qualified_cross{background-image:url('/banking/03images/fnb/icons/crossGreyBorder.png');}

#rewardsGraphs .pointsDescription {
	width:70%;
	vertical-align:middle;
	padding:10px 0 0 0;
}
#rewardsGraphs .earnedPoints{width:15%; vertical-align:middle;}
#rewardsGraphs .earnedPointsEmpty{width:15%;}

#rewardsGraphs .td.earnedPointsTrue,
#rewardsGraphs .td.earnedPointsFalse{
	background-repeat:no-repeat;
	background-position:center center;
	color:#FFF;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	width:44px;
	margin:0 23px 0 0;
}

#rewardsGraphs .td.earnedPointsTrue{background-image:url('/banking/03images/fnb/icons/circleTurq.png');}
#rewardsGraphs .td.earnedPointsFalse{background-image:url('/banking/03images/fnb/icons/circleOrange.png');}

#rewardsGraphs #stackedBarGraph {float:left; width:75%;}

#rewardsGraphs #stackedBarGraph .breakdownTextYouEarned,
#rewardsGraphs #stackedBarGraph .breakdownTextMaxValue{display:none;}

#rewardsGraphs #stackedBarGraphHidden {float:right; width:94px; padding:20px 0 0 0;}
#rewardsGraphs #stackedBarGraphHiddenContainer {float:right; width:25%; position:relative;}

#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraph{margin:0 0 0 25px;}
#rewardsGraphs #stackedBarGraphHidden .breakdownTextYouEarned{color:#000;}
#rewardsGraphs #stackedBarGraphHidden .breakdownTextMaxValue{color:#BCBCBC; font-size:1.4em; padding:10px 0 0;}
#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraphWrapper {text-align:center; display:none; width:94px;}
#rewardsGraphs #stackedBarGraphHidden .graphNo12 {display:block;}
#rewardsGraphs #stackedBarGraphHidden .stackedGroupCellLegend {	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold; padding:55px 0 5px 0; font-size:1.4em;}

/* ----- SMART REWARDS HOW ----- */
#rewardsGraphs .rewardRateContainer{
	background-color:#FFF;
	margin:0 20px 0 40px;
	padding:30px 50px 70px;
	position:relative;
}
#rewardsGraphs .rewardRateContainer h2{
	color:#009999;
	padding:10px 0 0 0;
	font-size:40px;
}
#rewardsGraphs .rewardRateContainer h3{
	color:#009999;
	padding:0;
	font-size:18px;
}
#rewardsGraphs .rewardRateBackground{
	background:url("/banking/03images/fnb/graphs/verticalBarXaxisPosInicator.png") no-repeat 0 0 transparent;
    color:#FFF;
    font-size:18px;
    text-align:center;
    width:62px;
    height:63px;
    padding:23px 0 0;
    position:absolute;
    top:30px;
    left:-31px;
}
#rewardsGraphs .rewardRateArrow{
	background:url("/banking/03images/fnb/arrows/arrowRight.png") no-repeat 0 0 transparent;
    width:20px;
    height:39px;
    position:absolute;
    top:30px;
    right:-20px;
}
#rewardsGraphs .leftGraph.smart,
#rewardsGraphs .rightGraph.smart{padding:5px 40px 0 20px;}
#rewardsGraphs .graphHeader.smart{margin:40px 0 5px 60px;}

#rewardsGraphs h1.smart{margin:20px 0 0 20px; font-size:32px;}

/* ----- REWARDS BANNER ----- */
#rewardsBannerContainer .totalEbucks,
#rewardsBannerContainer .totalEbucksContinue{
	background-color:#BEE5E4; /* same as foreground color of rewardsBannerArrow.png image */
	width:121px;
	padding:10px;
}
#rewardsBannerContainer .totalEbucks {margin:20px 0 0 30px;}
#rewardsBannerContainer .totalEbucksContinue {
	background-image:url("/banking/03images/base/rewards/rewardsBannerArrow.png");
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-bottom:30px;
}
#rewardsBannerContainer .totalEbucks p,
#rewardsBannerContainer .totalEbucks h3,
#rewardsBannerContainer .totalEbucksContinue p,
#rewardsBannerContainer .totalEbucksContinue h3{margin:0;padding:0;}

#rewardsBannerContainer .totalEbucks h3{font-family:Helvetica,FoundationRoman,Sans-serif;}
#rewardsBannerContainer .totalEbucksContinue h3{font-family:Helvetica,FoundationRoman,Sans-serif; font-size:40px;}

#rewardsBannerContainer .product {
	background-color:#99D6D6; /* same as background color of rewardsBannerArrow.png image */
	border:6px solid #FFF;
	width:100%;
	padding:0 0 0 24px;
}
#rewardsBannerContainer .product .productDescription{
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:18px;
    padding:10px;
}
#rewardsBannerContainer .formTable {
	margin:20px 0 0 0;
	padding:10px;
}
#rewardsBannerContainer .product .productImage{text-align:center;}
#rewardsBannerContainer .scrollableBanner,
#rewardsBannerContainer .scrollingBannerItem {width:100%;}

#rewardsBannerContainer .ebucksValue {background-color:#CCEAEA;}
#rewardsBannerContainer .ebucksButton {
	background:url("/banking/03images/fnb/arrows/flushRightWhite.png") no-repeat right center transparent;
    font-family:Helvetica,FoundationRoman,Sans-serif;
    font-size:16px;
    float:right;
    height:34px;
    margin:30px 0 10px;
    padding:10px 45px 0 0;
}
#rewardsBannerContainer .dlData {
		font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	font-size:16px;
}
#rewardsBannerContainer .dlTitle {
	font-family:Helvetica,FoundationRoman,Sans-serif;
	font-size:16px;
}

/* ----- REWARDS TREND GRAPH (PYRAMIDS) ----- */
#Target2{
height: 200px;
margin: 30px 0 30px 0;
position: absolute;
bottom: 0;
left: 0;
display: block;
width: 100%;
}
#Target2 .pyramidColumn{bottom:0;cursor:default;}

.trendGraphClose{
	background:url('/banking/03images/fnb/icons/closeWhite.png') no-repeat;
	width:23px;
	height:23px;
	float:right;
	margin:15px 15px 0 0;
}
#popupWrapper.trendOverlay {
	background-color:#99D6D6 !important;
	height:350px;
	padding:0;
	top:25%;
}
#yearTrend {
	background-color:#62C0C0;
	float:left;
	padding:15px 40px 15px 10px;
	margin:0 0 0 20px;
}
#yearTrend h2 {
	color:#000;
	font-size:24px;
	padding:10px 0 0 0;
}
#yearTrend h3 {
	color:#FFF;
	font-size:16px;
	padding:0;
}

#rewardsContainer .td .one:before {
	background: #009997;
    content: "";
    height: 100%;
    position: absolute;
    top: 20px;
    width: 74%;
    right: 0;
}
#rewardsContainer .td .two:before {
	background: #009997;
    content: "";
    height: 100%;
    position: absolute;
    top: 20px;
    width: 80%;
    right: 0;
}
#rewardsContainer .td .three:before {
	background: #009997;
    content: "";
    height: 100%;
    position: absolute;
    top: 20px;
    width: 80%;
    right: 0;
}
#rewardsContainer .td .four:before {
	background: #009997;
    content: "";
    height: 100%;
    position: absolute;
    top: 20px;
    margin: 0 5% 0 0;
    width: 72%;
    right: 0;
}

.verticalBarXaxisIndicatorLabel {
	font-size: 13px;
	top:39%;
}

.verticalBarLabel {
	font-size: 13px;
}

.verticalBarXaxisLabel {
	font-size: 13px;
}
.verticalBarColumnPosFullAxisIndicator .verticalBarXaxisIndicatorLabel {
	font-size: 14px;
    top: 36%;
}
/*********Mobile**********/
.displayMobi {
	display: none;
}
/* Developer:Don
Wealth Levels 0 & 1 styling */
#level0WealthContainer{
	position: absolute;
	left: 50px;
	padding: 15%;
}
#level1WealthContainer{
	position: absolute;
	left: 50px;
	padding: 15%;
}
.wealthTexth1{
	font-size: 18px;
	color: #009999;
}
.wealthTexth2{
	font-size: 26px;
	color: #009999;
}
.wealthTexth3{
	font-size: 18px;
	color: #009999;
}

@media
only screen and (max-width: 799px) {
	#rewardsPage .rewardsEarnings {
		font-size:14px;
	}
	#rewardsPage .rewardsBalance {
		text-align:left;
		padding: 0;
	}
	#rewardsPage p{
		font-size:14px;
	}
	#rewardsContainer .block-button1,
	#rewardsContainer .block-button2{
	    font-size:14px;
	}
	#rewardsContainer .td p {
		font-size: 14px;
	}
	#rewardsPage .rewardsBlockOne,
	#rewardsPage .rewardsBlockTwo,
	#rewardsPage .rewardsBlockThree {
		height: 250px;
	}
	#rewardsGraphs .itemBreakdowns .maxPoints {
		text-align: left;
	}
	#rewardsGraphs .pointsDescription {
		padding: 10px 10px 0 0;
	}
	#rewardsGraphs .mobileHeading {
		padding: 0 0 0 40px;
	}
	#shoppingContainer .shoppingContent p,
	#shoppingContainerFuel .shoppingContent p,
	#shoppingContainerFuel .shoppingHeadings p{
		text-align: left;
	}
	
	#shoppingContainerFuel .column2 {
		padding: 0 0 0 10px!important;
	}
	#shoppingContainerFuel .shoppingHeading {
		padding: 10px 0 0 10px!important;
	}
	#shoppingContainer .shoppingSubHeading, #shoppingContainerFuel .shoppingSubHeading {
		padding: 0 0 10px 10px!important;
		font-size: 14px;
	}
	#shoppingContent .column2 p,
	#shoppingContent .column3,
	#shoppingContent .column4,
	#shoppingContent .column5,
	#shoppingContent .column6,
	#shoppingContent .column7,
	#shoppingContent .column8{
		font-size: 1.4em!important;
	}
	#shoppingContent .shoppingContent .button {
		background: url("/banking/03images/fnb/arrows/flushRightOrange.png") no-repeat scroll right center;
	}
	#shoppingContent .shoppingContent .button div{
		display:none;
	}
	#shoppingContent .displayMobi {
		display: block;
		padding: 0 0 0 10px;
	}
	#shoppingContent .displayNoneMobi {
		display: none;
	}
	
	#shoppingContainerFuel .column1 {
		display: none!important;
	}
	
	#shoppingContainerFuel .column1 {
		display: none;
	}
	
	#shoppingContent .cardTurqTop,
	#shoppingContent .cardBlackTop,
	#shoppingContent .cardSilverTop {
		width: 49px;
		position: inherit;
		float: left;
	}
	#shoppingContent .accNickname {
		float: left;
		padding: 0 0 0 20px;
	}
	#shoppingContent .td {
		display: table-cell;
	    vertical-align: top;
	}

	#shoppingContainerFuel .column2 {width: 25%; vertical-align:middle;}
	#shoppingContainerFuel .column3 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
	#shoppingContainerFuel .column4 {width: 5%; vertical-align:middle; text-align:right;  font-size:18px;}
	#shoppingContainerFuel .column5 {width: 5%; vertical-align:middle; text-align:center; font-size:24px;}
	#shoppingContainerFuel .column6 {width: 20%; vertical-align:middle; text-align:right;  font-size:18px;}
	#shoppingContainerFuel .column7 {width: 25%; vertical-align:middle; text-align:right; padding:0 5px 0 0;}
	#shoppingContainerFuel .column8 {width: 15%;}
	
	#shoppingContainer .column1 {width: 25%; vertical-align:middle; text-align:center;}
	#shoppingContainer .column2 {width: 10%; vertical-align:middle;}
	#shoppingContainer .column3 {width: 10%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column4 {width: 10%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column5 {width: 15%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column6 {width: 20%; vertical-align:middle; text-align:right;}
	#shoppingContainer .column7 {width: 10%; vertical-align:middle;}
	
	#shoppingContent .cardTurqTop,
	#shoppingContent .cardBlackTop,
	#shoppingContent .cardSilverTop {
	 height: 32px;
	}
	
	#shoppingContent .productDivider {
		border-bottom: 6px solid #FFF;
		padding: 10px 0;
	}
	#shoppingContent .shoppingHeadings {
		border-bottom: 6px solid #FFF;
	}
	#shoppingContent .formTable.shoppingContent {
		padding: 5px 0;
	}
	#shoppingContent .cardTurqTop{background-image:url("/banking/03images/base/rewards/cardTurqMobi.png");}
	#shoppingContent .cardBlackTop{background-image:url("/banking/03images/base/rewards/cardBlackMobi.png");}
	#shoppingContent .cardSilverTop{background-image:url("/banking/03images/base/rewards/cardSilverMobi.png");}
	
	#shoppingContent .borderRightGrey {
		border-right-width: 6px;
	}
	
	#rewardsPage .rewardsBlockOne {margin:10px 20px 0 20px;}
	#rewardsPage .rewardsBlockTwo {margin:10px 20px;}
	#rewardsPage .rewardsBlockThree {margin:10px 20px 0 20px;}
	
	#rewardsPage .page-button {
		/*font-size: 1.4em;
		width: 100%;*/
		display:none;
	}
	#rewardsContainer .td .one:before {
		background: none;
	}
	#rewardsContainer .td .two:before {
		background: none;
	}
	#rewardsContainer .td .three:before {
		background: none;
	}
	#rewardsContainer .td .four:before {
		background: none;
	}
	
	/***Graphs***/
	.verticalBarXaxisLabel {
		display: none;
	}
	.verticalWrapper {
		left: 110px;
	}
	#rewardsPage .rewardsBalance strong,
	#rewardsPage .rewardsEarnings strong,
	#rewardsGraphs .rightGraph p {
		font-size: 14px;
	}
	
	#rewardsGraphs #stackedBarGraph {
		width: 100%;
	}
	#rewardsGraphs .stackedGroupGraphWrapper {
		width:68px;
	}
	#rewardsGraphs #stackedBarGraphHiddenContainer,
	#rewardsGraphs #stackedBarGraphHidden,
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraphWrapper {
		width: 100%
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupGraph {
		float: none;
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupCellLegend {
	    padding: 5px 0 0 15px;
	    width: 80px;
	}
	#rewardsGraphs #stackedBarGraphHidden .stackedGroupCellLabel {
		position: absolute;
	    right: 10px;
	    top: 10px;
	}
	#rewardsGraphs #stackedBarGraphHidden .breakdownTextMaxValue {
		position: absolute;
    	right: 10px;
    	bottom: 10px;
	}
	
	#rewardsGraphs .itemBreakdowns .text {
		padding: 5px 0 5px 25px;
	}
	.borderBlocks .td {
		display: table-cell;
	}
	#Target2 {width:100%;}
	
	#Target2 .pyramidGroup{
	display:none;
	}
	#yearTrend {display:none;}
    .noMobileContent{font-size:20px;padding-left:20px;padding-right:20px;}
	
}

@media
only screen and (max-width: 450px) {
	
	#rewardsGraphs .pointsDescription {
		padding: 10px 10px 0 0;
		width: 60%;
	}
	
	#rewardsGraphs .td.earnedPointsTrue,
	#rewardsGraphs .td.earnedPointsFalse{
		width: 25%;
	}
	
}
@media
only screen and (max-width: 1200px) {
	#rewardsPage h3 {
		font-size: 16px;
	}
	#rewardsContainer .td p {
		font-size: 20px;
	}
}
@media
only screen and (max-width: 1050px) {
	#rewardsPage h3 {
		font-size: 14px;
	}
	#rewardsContainer .td p {
		font-size: 18px;
	}
}
@media
only screen and (max-width: 900px) {
	#rewardsPage h3 {
		font-size: 12px;
	}
	#rewardsContainer .td p {
		font-size: 16px;
	}
}