h1.registration-heading{padding:1.3em 0 0 15px;}
h3.registration-heading{padding:0.2em 0 2em 15px;}

.registration-blocks{padding:1.5em 0 5%;}
.block-topspace{margin-bottom:10%; padding-top:0; padding-bottom:0;}

.registration-blocks .actionMenuButton{font-family:Helvetica,FoundationRoman,Sans-serif; font-size:14px; color:#000;}
.registration-blocks .actionMenuButton.small-circ{margin:0 0 5%; padding:0 0 0 15px;}
.registration-blocks .actionMenuButton.small-circ .actionMenuButtonIconText{padding-left:1em; color:inherit; font-family:inherit; font-size:inherit;}

.actionMenuButton.small-circ .actionMenuButtonIcon{background-image:url("/banking/03images/base/buttons/icon-small-34-circ.png"); width:34px; height:34px;}
.actionMenuButton.small-circ:hover .actionMenuButtonIcon{background-image:url("/banking/03images/base/buttons/icon-small-34-circ-hover.png");}

@media only screen and (max-width: 799px) {
	.pageWrapper.minimalTopMenu{padding-top:0;}
	h1.registration-heading{padding-top:1em;}
	h3.registration-heading{padding-bottom:1em;}
	.registration-blocks{border-bottom-width:0;padding-bottom:1%;}
	.registration-blocks:last-child{border-bottom-width:6px;}
	.block-topspace{margin-bottom:5%;}
	.registration-blocks .actionMenuButton.small-circ{margin-bottom:2%;}
}