
	[data-role="comparisonLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="comparisonLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="comparisonLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="comparisonLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
