[data-role="comparisonLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
s	border-right: 2px solid white;
}
[data-role="comparisonLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="comparisonLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
	
}
[data-role="comparisonLayoutOneA"] {
	display: block;
	width: 100%;
}
[data-role="comparisonLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="comparisonLayoutOneContentWrapper"].Hhide{
	display: none;
}
[data-role="comparisonLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
}
[data-role="comparisonLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="comparisonLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}

[data-role="comparisonLayoutOneContent"] {
	padding: 0;
	height:100%;
	min-height:100%;
}

[data-role="comparisonLayoutOneContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}
[data-role="comparisonLayoutOneContent"]>:FIRST-CHILD  {
	margin-bottom: 7px;
	margin-left: 8px;
}


@media only screen and (min-width : 904px) {
	[data-role="comparisonLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="comparisonLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="comparisonLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="comparisonLayoutOneB"] {
		display: table-cell;
		width: 80%;
	}
}