#tpfmAddMore{
	background:#ffffff;
	border:none;
	border-bottom: 1px solid #009999;
	min-height: 40px;
	margin:0;
}

#tpfmAddMore .addMoreAddButton {
    background-image: url("/banking/03images/base/icons/doSomethingPlus.png");
    background-position: 10px center;
    background-size:20px 20px;
    height: 40px;
    margin:0;
    line-height: 30px;
}

#tpfmAddMore .addMoreAddButtonLink {
    float: left;
    margin-left: 40px;
    position: relative;
    top: 4px;
    color:#009999;
}