.waysToApply {
	position: relative;
	padding-top:56px;
}
.waysToApply .info {
	position: absolute;
	top: -12px;
	right: 0;
}
[data-role="layoutOneApply"] {
	margin: 0 8px 8px 8px;
	padding: 0 4px;
	background-color: #73c7c7;
	min-height: 72px;
	display: table;
	width: 100%;
}
[data-role="layoutOneApplyThumbnail"] {
	width: 74px;
	display: none;
	vertical-align: top;
}
[data-role="layoutOneApplyThumbnailWrapper"] {
	height: 64px;
	width: 64px;
	border: 2px solid white;
	margin-top: 4px;
}
[data-role="layoutOneApplyThumbnail"] img {
	height: 100%;
}
[data-role="layoutOneApplyTitle"] {
	width: 88px;
	display: table-cell;
	vertical-align: top;
	color: white;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding-top: 6px;
	padding-left: 8px;
}
[data-role="layoutOneApplyContent"] {
	display: table-cell;
	vertical-align: top;
	padding-top: 7px;
}

@media only screen and (min-width : 904px) {
	.waysToApply {
		padding-top:0;
	}
	.waysToApply .info {
		position: absolute;
		top: -82px;
		right: -28px;
	}
	[data-role="layoutOneApplyThumbnail"] {
		display: table-cell;
	}
}