.BannerContainer {
	height:			100%;
	width:			100%;
}
.BannerWrapper {
	position:		relative;
	height: 		100%;
	width:			100%;
	margin:		0 auto;
	overflow:		hidden;
	background: 	#8CB8B7;
	display: block;
	min-height: 100px;
}
.BannerWrapper .copywrapper {
	position:	relative;
	left:			5%;
	top:			3%;
	float:		left;
	z-index: 	1;
	height: 	90%;
	position: relative;
}
.BannerWrapper .copywrapper .copy,
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2,
.BannerWrapper .copywrapper .copy3, 
.BannerWrapper .copywrapper .copy4 {
	position:		relative;
	font-size:		12px;
	color:			#fff;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	display: 		block;
}
.BannerWrapper .copywrapper .copy1 {
	font-size:		36px;
}
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2 {
	font-size:		18px;
}
.BannerWrapper .copywrapper .copy2 {
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	font-size:		22px;
}
.BannerWrapper .copywrapper .copy3 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	margin-bottom:5px;
}
.BannerWrapper .copywrapper .copy4 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
}				
.BannerWrapper .imagewrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
}						
.BannerWrapper .image {
	height: 80%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}	
.BannerWrapper .ui-spacer {
	height: 8%;
	position: relative;
}	

@media only screen and (min-width : 904px) {
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
}