/* slideHeader */
.slideHeader{
	empty-cells:show;
	width:100%;
	background:#F2F2F2;
	display:table;
}

.slideHeaderRow{
	display:table-row;
}

.slideHeaderLeftImage{
	display:table-cell;
	width:3%;
	background: url('../../genericImages/widgets/slider/leftArrow.png') center center no-repeat;
}
.slideHeaderInner{
	display:table-cell;
	width:94%;
	text-align:center;
	background: url('../../genericImages/widgets/slider/middleLine.png') center center repeat-x;
	vertical-align:middle;
	
}
.slideHeaderInner p{
	display:inline;
	line-height:25px;
	background:#F2F2F2;
	margin:auto;
}
.slideHeaderRightImage{
	display:table-cell;
	width:3%;
	background: url('../../genericImages/widgets/slider/rightArrow.png') center center no-repeat;
}