[data-role="layoutOneWhatYouNeed"] {
	margin: 0 8px 8px 8px;
	padding: 0 4px;
	background-color: #73c7c7;
	min-height: 72px;
	display: table;
	width: 100%;
}
[data-role="layoutOneWhatYouNeedThumbnail"] {
	width: 74px;
	display: none;
	vertical-align: top;
}
[data-role="layoutOneWhatYouNeedThumbnailWrapper"] {
	height: 64px;
	width: 64px;
	border: 2px solid white;
	margin-top: 4px;
}
[data-role="layoutOneWhatYouNeedThumbnail"] img {
	height: 100%;
}
[data-role="layoutOneWhatYouNeedTitle"] {
	width: 88px;
	display: table-cell;
	vertical-align: top;
	color: white;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding-top: 6px;
	padding-left: 8px;
}
[data-role="layoutOneWhatYouNeedContent"] {
	display: table-cell;
	vertical-align: top;
	padding-top: 7px;
}

@media only screen and (min-width : 904px) {
	[data-role="layoutOneWhatYouNeedThumbnail"] {
		display: table-cell;
	}
}