.waysToApply {
	position: relative;
	padding-top:56px;
}
.waysToApply .info {
	position: absolute;
	top: -12px;
	right: 0;
}
[data-role="layoutOneApply"] {
	margin: 0 8px 8px 8px;
	padding: 0 4px;
	background-color: #73c7c7;
	min-height: 72px;
	display: table;
	width: 100%;
}
[data-role="layoutOneApplyThumbnail"] {
	width: 74px;
	display: none;
	vertical-align: top;
}
[data-role="layoutOneApplyThumbnailWrapper"] {
	height: 64px;
	width: 64px;
	border: 2px solid white;
	margin-top: 4px;
}
[data-role="layoutOneApplyThumbnail"] img {
	height: 100%;
}
[data-role="layoutOneApplyTitle"] {
	width: 88px;
	display: table-cell;
	vertical-align: top;
	color: white;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding-top: 6px;
	padding-left: 8px;
}
[data-role="layoutOneApplyContent"] {
	display: table-cell;
	vertical-align: top;
	padding-top: 7px;
}

@media only screen and (min-width : 904px) {
	.waysToApply {
		padding-top:0;
	}
	.waysToApply .info {
		position: absolute;
		top: -82px;
		right: -28px;
	}
	[data-role="layoutOneApplyThumbnail"] {
		display: table-cell;
	}
}
.bannerContainer{height:100%;min-height:100%;width:100%;}
.bannerObject {height:100%;min-height:100%;width:100%;}
.BannerContainer {
	height:			100%;
	width:			100%;
}
.BannerWrapper {
	position:		relative;
	height: 		100%;
	width:			100%;
	margin:		0 auto;
	overflow:		hidden;
	background: 	#8CB8B7;
	display: block;
	min-height: 100px;
}
.BannerWrapper .copywrapper {
	position:	relative;
	left:			5%;
	top:			3%;
	float:		left;
	z-index: 	1;
	height: 	90%;
	position: relative;
}
.BannerWrapper .copywrapper .copy,
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2,
.BannerWrapper .copywrapper .copy3, 
.BannerWrapper .copywrapper .copy4 {
	position:		relative;
	font-size:		12px;
	color:			#fff;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	display: 		block;
}
.BannerWrapper .copywrapper .copy1 {
	font-size:		36px;
}
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2 {
	font-size:		18px;
}
.BannerWrapper .copywrapper .copy2 {
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	font-size:		22px;
}
.BannerWrapper .copywrapper .copy3 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	margin-bottom:5px;
}
.BannerWrapper .copywrapper .copy4 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
}				
.BannerWrapper .imagewrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
}						
.BannerWrapper .image {
	height: 80%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}	
.BannerWrapper .ui-spacer {
	height: 8%;
	position: relative;
}	

@media only screen and (min-width : 904px) {
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
}
[data-role="layoutOneContactInfo"] {
	margin: 0 8px 8px 8px;
	padding: 0 4px;
	background-color: #73c7c7;
	min-height: 72px;
	display: table;
	width: 100%;
}
[data-role="layoutOneContactInfoThumbnail"] {
	width: 74px;
	display: none;
	vertical-align: top;
}
[data-role="layoutOneContactInfoThumbnailWrapper"] {
	height: 64px;
	width: 64px;
	border: 2px solid white;
	margin-top: 4px;
}
[data-role="layoutOneContactInfoThumbnail"] img {
	height: 100%;
}
[data-role="layoutOneContactInfoTitle"] {
	width: 88px;
	display: table-cell;
	vertical-align: top;
	color: white;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding-top: 6px;
	padding-left: 8px;
}
[data-role="layoutOneContactInfoContent"] {
	display: table-cell;
	vertical-align: top;
	padding-top: 7px;
}

@media only screen and (min-width : 904px) {
	[data-role="layoutOneContactInfoThumbnail"] {
		display: table-cell;
	}
}
/* slideHeader */
.slideHeader{
	empty-cells:show;
	width:100%;
	background:#F2F2F2;
	display:table;
}

.slideHeaderRow{
	display:table-row;
}

.slideHeaderLeftImage{
	display:table-cell;
	width:3%;
	background: url('../../genericImages/widgets/slider/leftArrow.png') center center no-repeat;
}
.slideHeaderInner{
	display:table-cell;
	width:94%;
	text-align:center;
	background: url('../../genericImages/widgets/slider/middleLine.png') center center repeat-x;
	vertical-align:middle;
	
}
.slideHeaderInner p{
	display:inline;
	line-height:25px;
	background:#F2F2F2;
	margin:auto;
}
.slideHeaderRightImage{
	display:table-cell;
	width:3%;
	background: url('../../genericImages/widgets/slider/rightArrow.png') center center no-repeat;
}
[data-role="layoutOneWhatYouNeed"] {
	margin: 0 8px 8px 8px;
	padding: 0 4px;
	background-color: #73c7c7;
	min-height: 72px;
	display: table;
	width: 100%;
}
[data-role="layoutOneWhatYouNeedThumbnail"] {
	width: 74px;
	display: none;
	vertical-align: top;
}
[data-role="layoutOneWhatYouNeedThumbnailWrapper"] {
	height: 64px;
	width: 64px;
	border: 2px solid white;
	margin-top: 4px;
}
[data-role="layoutOneWhatYouNeedThumbnail"] img {
	height: 100%;
}
[data-role="layoutOneWhatYouNeedTitle"] {
	width: 88px;
	display: table-cell;
	vertical-align: top;
	color: white;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding-top: 6px;
	padding-left: 8px;
}
[data-role="layoutOneWhatYouNeedContent"] {
	display: table-cell;
	vertical-align: top;
	padding-top: 7px;
}

@media only screen and (min-width : 904px) {
	[data-role="layoutOneWhatYouNeedThumbnail"] {
		display: table-cell;
	}
}
