[data-role="layoutTwo"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="layoutTwoInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="layoutTwoA"] {
	display: none;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="layoutTwoA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="layoutTwoContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="layoutTwoContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="layoutTwoB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="layoutTwoThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="layoutTwoThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="layoutTwoHeadings"] {
	min-height: 72px;
}
[data-role="layoutTwoHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="layoutTwoHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="layoutTwoContent"] {
	padding: 0 16px 0 0;
}

[data-role="layoutTwoContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}


@media only screen and (min-width : 904px) {
	[data-role="layoutTwoA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="layoutTwoThumbnail"] {
		height: 72px;
	}
	[data-role="layoutTwoContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="layoutTwoB"] {
		display: table-cell;
		width: 80%;
	}
}