#layoutSix {
	background: #f2f2f2
}
/*Block heading*/
#layoutSix [data-role="blockHeading"] {
	width: 100%;
	background: #a2d5d5;
	border-right: 8px solid #f2f2f2;
	border-left: 8px solid #f2f2f2;
	height: 160px;
	position: relative;
	display: block;
	float: left;
}

#layoutSix [data-role="blockHeading"] h2 {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 27px;
	line-height: 32px;
	padding: 64px 8px 0px 8px;
	width: 100%;
	display: block;
	position: relative:
}

#layoutSix [data-role="blockHeading"] h2:after {
	content: '';
	display: block;
	position: absolute;
	top: 96px;
	left: 0px;
	width: 100%;
	height: 8px;
	background: #000;
}
/*Thumbnail banner*/
#layoutSix [data-role="thumbnailBanner"] {
	width: 100%;
	height: 160px;
	display: block;
	float: left;
}
#layoutSix [data-role="thumbnailBannerInner"] {
	width: 100%;
	height: 160px;
	overflow: hidden;
	position: relative;
	display: block;
	padding:0px 8px 0px 8px;

}

#layoutSix [data-role="thumbnailBannerHeading"] {
	display: block;
	float: left;
	width: 100%;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 13px;
	line-height: 16px;
	padding:12px 0px 3px 0px;
}

#layoutSix [data-role="thumbnailImgTagWrapper"] {
	display: block;
	float: left;
	width: 100%;
	overflow: hidden;
	height: 73px;
	background: #009999;
	border-bottom:8px solid black;
}

[data-role="thumbnailImgTagWrapper"] img {
	width: 100%;
	border:none;
	outline:none;
}

#layoutSix [data-role="thumbnailBannerCopy"] {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	display: block;
	float: left;
	width: 100%;
	font-size:13px;
	line-height:16px;
	padding:4px 0px 0px 0px;
	
}
.borderRightImage{
	background: #f2f2f2 url('../../images/borders/borderRightWhite.png') repeat-y right top;
	
}

@media only screen and (min-width : 904px) {
	#layoutSix [data-role="blockHeading"] {
		width: 20%;
	}
	#layoutSix [data-role="thumbnailBanner"] {
		width: 20%;
	}
}