[data-role="layoutThree"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="layoutThreeInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="layoutThreeA"] {
	display: none;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="layoutThreeA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="layoutThreeContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="layoutThreeContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="layoutThreeB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="layoutThreeC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="layoutThreeThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="layoutThreeThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="layoutThreeHeadings"] {
	min-height: 72px;
}
[data-role="layoutThreeHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="layoutThreeHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="layoutThreeContent"] {
	padding: 0;
}
[data-role="layoutThreeContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}

[data-role="layoutThreeGrid"] {
	display: table;
	width: 100%;
	font-size: 0.8em;
	table-layout: fixed;
}
[data-role="layoutThreeGridRow"] {
	display: table-row;
	width: 100%;
}
[data-role="layoutThreeGridItem"] {
	display: table-cell;
	overflow: hidden;
	min-height: 150px;
}
[data-role="layoutThreeGridItemInner"] {
	height: 100%;
	width: 100%;
	padding: 0px 8px 53px 8px;
	position: relative;
}
[data-role="layoutThreeGridItemHeading"] {
	border-top: 1px solid black;
	padding: 2px 8px 4px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	line-height: 16px;
}
[data-role="layoutThreeGridItemContent"] {
	padding: 4px 8px 0px 8px;    
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	line-height: 16px;
}
.layoutThreeGridItemLink {
	overflow: hidden;
	color: inherit;
	position: absolute;
	right: 8px;
	bottom: 26px;
	line-height: 16px;
	font-size: 13px;
	padding: 0 16px 0 0;
	min-width: 48px;
	background: white url("../../images/layouts/layout3/moreInfo.png") center right no-repeat;
}


@media only screen and (min-width : 904px) {
	[data-role="layoutThreeA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="layoutThreeThumbnail"] {
		height: 72px;
	}
	[data-role="layoutThreeContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="layoutThreeB"] {
		display: table-cell;
		width: 80%;
	}
}