[data-role="layoutFour"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	overflow: hidden;
/* 	table-layout: fixed; */
	border-right: 4px solid white;
}
[data-role="layoutFourInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="layoutFourA"] {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding-right: 8px;
}
[data-role="layoutFourB"] {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding-left: 8px;
}
[data-role="layoutFourC"] {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding: 16px 0px;
}
[data-role="layoutFourD"] {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	background-color: transparent;
	padding-right: 8px;
}
[data-role="layoutFourE"] {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding-left: 8px;
}
[data-role="layoutFourAInner"] {
	border-top: 4px solid white; 
	border-right: 4px solid white; 
	border-bottom: 4px solid white; 
	background-color: #009999;
	height: 124px;
}
[data-role="layoutFourBInner"] {
	border-top: 4px solid white; 
	border-left: 4px solid white; 
	border-bottom: 4px solid white; 
	background-color: #4DB8B8;
	height: 124px;
}
[data-role="layoutFourCInner"] {
	background-color: #fff;
	min-height: 124px;
	padding: 8px;
}
[data-role="layoutFourDInner"] {
	background-color: transparent;
	height: 124px;
}
[data-role="layoutFourEInner"] {
	border-top: 4px solid white; 
	border-bottom: 4px solid white; 
	background-color: #8CB8B7;
	height: 124px;
}
[data-role="section4LinkA"] {
	vertical-align: middle;
	font-size: 18px;
	color: #666666;
	padding-left: 32px;
	background: transparent
		url('../../../../../00Assets/skins/00/images/arrows/right_arrow_alt1.png')
		center left no-repeat;
}

@media only screen and (min-width : 904px) {
	[data-role="layoutFour"] {
		position: relative;
		width: 100%;
		display:table;
		border-spacing: 0;
		min-height:100%;
		height:100%;
		overflow: hidden;
	/* 	table-layout: fixed; */
		border-right: 4px solid white;
	}
	[data-role="layoutFourInner"] {
		width: 100%;
		display: table-row;
		min-height:100%;
		height:100%;
	}
	[data-role="layoutFourA"] {
		display: table-cell;
		width: 20%;
		min-height:100%;
		height:100%;
		vertical-align: middle;
		background-color: #f2f2f2;
		padding: 0;
	}
	[data-role="layoutFourAInner"] {
		border-top: 4px solid white; 
		border-right: none; 
		border-bottom: 4px solid white; 
		height: 505.59375px;
	}
	[data-role="layoutFourB"] {
		display: table-cell;
		width: 30%;
		min-height:100%;
		height:100%;
		vertical-align: middle;
		background-color: transparent;
		padding: 0;
	}
	[data-role="layoutFourBInner"] {
		border-top: 4px solid white; 
		border-bottom: 4px solid white; 
		border-left: 4px solid white;
		border-right: 4px solid white;
		height: 569.796875px;
	}
	[data-role="layoutFourC"] {
		display: table-cell;
		width: 45%;
		min-height:100%;
		height:100%;
		vertical-align: middle;
		background-color: transparent;
		padding: 0;
	}
	[data-role="layoutFourCInner"] {
		height: 505.59375px;
		padding-top: 4px;
		padding-right: 0px;
		padding-bottom: 4px;
		padding-left: 4px;
	}
	[data-role="layoutFourCInnerInner"] {
		position: relative;
		width: 100%;
		display:table;
		border-spacing: 0;
		min-height:100%;
		height:100%;
		overflow: hidden;
		table-layout: fixed;
	}
	[data-role="layoutFourD"] {
		display: table-cell;
		width: 49.65%;
		min-height:100%;
		height:100%;
		vertical-align: middle;
		background-color: #f2f2f2;
		padding: 0;
	}
	[data-role="layoutFourE"] {
		display: table-cell;
		width: 40.35%;
		min-height:100%;
		height:100%;
		vertical-align: middle;
		background-color: #f2f2f2;
		padding: 0;
	}
	[data-role="layoutFourBspacer"] {
		display: table-cell;
		vertical-align: middle;
		width: 5%;
	}
	[data-role="layoutFourBspacerInner"] {
		border-top: 4px solid white; 
		border-bottom: 4px solid white; 
		height: 505.59375px;
		background-color: #8CB8B7;
	}
	[data-role="section4LinkA"] {
		background-position: center right;
		padding-left: 8px;
	}
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
	[data-role="section4Link"] {
		background: transparent url('../../../../../00Assets/skins/00/images/borders/bottom-white.gif') bottom left repeat-x
	}
}