[data-role="layoutFive"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
	background-color: white;
}
[data-role="layoutFiveA"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
	background-color: #f2f2f2;
}
[data-role="layoutFiveAinner"] {
	display: table-cell;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
}
[data-role="layoutFiveA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="layoutFiveContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
}
[data-role="layoutFiveContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="layoutFiveB"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="layoutFiveBinner"] {
	display: table-cell;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="layoutFiveHeadings"] {
	min-height: 72px;
}
[data-role="layoutFiveHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="layoutFiveHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="layoutFiveContent"] {
	padding: 0 16px 0 0;
}

[data-role="layoutFiveContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}
[data-role="layoutFiveContent"]>:FIRST-CHILD  {
	border-top: 12px solid black;
	padding: 5px 0 0 0;
	margin-bottom: 7px;
	margin-left: 8px;
}
