/* <!-- CJK START cardSelector --> */
#selectorFirstImage{
	cursor: pointer;
}
#selectorFirstImageHolder{
	width: 170px;
	padding: 0 0 10px 0;
}
#selectorHolder {
	width:100%;
	position: absolute;
	z-index: 1000;
	top: 0; 
	display: none;
}
#selectorScrollerLeftImage{
	width: 66px;
	height: 36px;
	background: url(/banking/03images/base/mobiledeviceoffer/scrollerarrowleft.png) no-repeat;
	cursor: pointer;
}

#selectorScrollerRightImage{
	width: 66px;
	height: 36px;
	background: url(/banking/03images/base/mobiledeviceoffer/scrollerarrowright.png) no-repeat;
	cursor: pointer;
}
#selectorScrollerLeft{
	cursor: pointer;
	float: left;
	padding: 110px 0 0 0;
}

#selectorScrollerRight{
	cursor: pointer;
	float: right;
	padding: 110px 35px 0 0;
}
.cardImageLayout{
	padding: 40px 0 40px 20px;
}
.selectorHolderMiddle{
	margin: 30px 0 30px 0;
	height: 195px; 
	width: 100%;
}

/* shared */
#backgroundHolder{
	position: absolute;
	width: 100%;
	top: 0px;
}
#selectorHolderBody{
	white-space: nowrap;
	overflow: hidden;
}
#cardImageHolder{ 
	display: inline-block;
	white-space: normal;
	padding: 15px 5px 10px 5px;
	margin: 0 20px 0 20px;
	background-color: White;
	width: 190px;
}
#mobileDeviceOfferLaunchButton{
	padding: 17px 30px 17px 30px;
}
#mobileDeviceOfferLaunchButtonHolder{
	float: right;
}

/* <!-- END cardSelector --> */