.shareholderContainer {
	padding: 10px 0 10px 0;
	clear: both;
	font-size: 13px;
}
.shareholderNumber {
	width: 25%;
	padding: 6px 8px 0px 8px;
	float: left;
}
.shareholderDetails {
	float: left;
	padding: 6px 20px 0 0;
}
.shareholderButtons {
	float: right;
}
	.shareholderButton {
		float: right;
		margin: 0 5px 0 0;
		background: #C0E5E4;
		padding: 5px;
	}