/*FORM LAYOUT COMPONENT
	
	Developer:Mike Stott
*/
[data-role="formElementWrapper"] {
	width: 100%;
	display: table;
	position: relative;
}

[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]
	{
	display: block;
	vertical-align: top;
}

[data-role="formElementLabel"] {
	width: 100%;
	padding: 0px 8px 0px 20px;
	float: left;
}

[data-role="formElementLabelInner"] { 
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 0px 0px;
	float: left;
}

[data-role="formElementOptionalLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 0px 2px;
	color: #438699;
}

[data-role="formElementContainer"] {
	width: 100%;
	padding: 4px 8px 0px 20px;
	position: relative;
	display: block;
	float: left;
	margin-bottom: 2px;
}

[data-role="input"] {
	width: 100%;
	position: relative;
}

[data-role="dropdownInput"] {
	width: 100%;
	position: relative;
}

[data-role="formElementContent"] {
	width: 100%;
	vertical-align: top;
	position: relative;
	display: block;
	padding-right: 2px;
	float: left;
	padding: 0px 0px 0px 10px;
	margin-top: 10px;
}

[data-role="formElementContentInner"] {
	background: transparent;
	width: 100%;
	padding: 0px 8px 6px 0px;
	position: relative;
}

[data-role="formElementContentInner"] [data-role="formElementContainer"]
	{
	padding: 0px 0px 2px 8px;
	border-bottom:none;
}

[data-role="formElementContentInner"] [data-role="formElementLabelInner"] { 
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0px 4px 0px;
}

[data-role="formElementContentInner"]:before {
	
}

[data-role="formElementContentInner"] [data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 4px 8px 0px 8px;
	position: relative;
}


[data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 3px 8px 10px 0;
	position: relative;
}

[data-role="formInlineNote"] {
	font-size: 13px;
	background: #767676;
	color: #fff;
	padding: 6px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

[data-role="formInlineNote"]:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/noteArrow.png');
}

.formInlineError {
	font-size: 13px;
	background: #277093;
	color: #fff;
	padding: 6px 8px 6px 8px;
	margin-top: 2px;
	position: relative;
	float:left;
	width:100%;
	clear:both;
	display: none;
}

.inputError .formInlineError {
	display: block;
}

.formInlineError:before {
	content: "";
	width: 8px;
	height: 4px;
	position: absolute;
	left: 8px;
	top: -4px;
	background: url('../../images/errorArrow.png');
}

[data-role="toolTip"] {
	width: 24px;
	height: 24px;
	display: block;
	background: #ccc;
	float: left;
	margin-left: 4px;
	position: relative;
	top: 8px;
}

/* DON TESTING DROPDOWN */
[data-role="dropdown"] {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 100%;
}

[data-role="dropdown"] [data-role="dropdownSelected"][data-disabled="true"]
	{
	background: #e7e7e7;
	border: 1px solid #bcbcbc;
	color: #bcbcbc;
}

[data-role="dropdownSelectWrapper"] {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

[data-role="dropdownSelected"] {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	padding: 5px 0px 5px 8px;
	border: 1px solid #277093;
	background-color: #FFF;
}

[data-role="dropdownCarat"] {
	position: absolute;
	top: 3px;
	z-index: 2;
	background: url("../../images/right-arrow.png")
		no-repeat center center #277093;
	width: 14px;
	height: 18px;
	left: -8px;
}

[data-role="dropdownContent"] {
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: -2px;
	overflow: hidden;
	width: 100%;
	height: 0px;
}

[data-role="dropdownContent"].open {
	border: 1px solid #277093;
	-moz-box-shadow: 3px 3px 4px #c2c2c2;
	-webkit-box-shadow: 3px 3px 4px #c2c2c2;
	box-shadow: 3px 3px 4px #c2c2c2;
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c2c2c2')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#c2c2c2' );
}

[data-role="dropdownContent"].dropdownReverse{
	bottom:23px;
	top: auto;
}

[data-role="dropdownItem"] {
	font-size: 12px;
	line-height: 1;
	color: #000;
	padding: 5px 10px 5px 0px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #ccc;
}

[data-type="threeTier"] [data-role="dropdownItem"] {
	padding: 4px 0px;
}

[data-type="singleTier"] [data-role="dropdownItem"] {
	padding: 4px 0px;
}

[data-role="dropdownItemLabel"] {
	float: left;
	line-height: 1;
	width: 100%;
}

[data-role="dropdownItemWrapper"] {
	width: 100%;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
	padding: 0px 8px 0px 8px;
}

[data-role="dropdownItemSelectWrapper"] {
	width: 100%;
	height: 100%;
	opacity: 0;
	margin-bottom: 30px;
	display: inline-block;
}

ul[data-scrollable="scrollable"] {
	height: 100%;
	width: 100%;
	list-style: none;
	overflow-y: scroll;
}
/* 	Developer Donovan
Radio Buttons */
	[data-role="radioGroupWrapper"] {
		width: 100%;
		background: #222222;
		padding: 1px;
		float: left;
	}
	[data-role="radioGroupWrapper"][data-disabled="true"] {
		background: #e7e7e7;
		color: #bcbcbc;
	}
	[data-role="radioButton"] {
		float: left;
		cursor: pointer;
		color: #fff;
	}
	[data-role="radioButton"]:hover {
		background: #fff;
		color: #000;
	}
	[data-role="radioGroupWrapper"][data-disabled="true"] [data-role="radioButton"]:hover
		{
		background: none;
	}
	[data-role="radioButtonLabel"] {
		padding: 4px 0px 5px 8px;
		float: left;
		color: inherit;
	}
	[data-role="radioButton"][data-state="checked"] {
		background: #5F5F5F;
		border: 1px solid #fff;
	}
	[data-role="radioButton"][data-state="checked"] [data-role="radioButtonLabel"]
		{
		padding: 3px 0px 3px 8px;
	}
	[data-role="radioButton"][data-width="10"] {
		width: 10%
	}
	[data-role="radioButton"][data-width="20"] {
		width: 20%
	}
	[data-role="radioButton"][data-width="25"] {
		width: 25%
	}
	[data-role="radioButton"][data-width="30"] {
		width: 30%
	}
	[data-role="radioButton"][data-width="40"] {
		width: 40%
	}
	[data-role="radioButton"][data-width="50"] {
		width: 50%
	}
	[data-role="radioButton"][data-width="60"] {
		width: 60%
	}
	[data-role="radioButton"][data-width="70"] {
		width: 70%
	}
	[data-role="radioButton"][data-width="80"] {
		width: 80%
	}
	[data-role="radioButton"][data-width="90"] {
		width: 90%
	}
	[data-role="radioButton"][data-width="100"] {
		width: 100%
	}
	
	
[data-role="inputSimple"] {
	background-color: #FFF;
	padding: 4px 10px;
	line-height: 20px;
	border: none;
	border-radius: 0;
	height: 24px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
}
[data-role="dataButton"] {
background: #2d7090 url("../../images/bullets/arrow/default.gif") 10px center no-repeat;
  color: white;
  min-width: 120px;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 20px;
  cursor: pointer;
  margin: 0 0 10px 20px;
  text-decoration: none;
  border: none;
  float: left;
}
.dataButtonLabel {
	background-color: #277093;
	color: white;
	line-height: 24px;
	padding: 4px 8px 3px 8px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
	cursor: pointer;
}

textarea {
		/* font-family: Helvetica,FoundationRoman,Sans-serif; */
		border: 1px solid #277093;
		resize: none;
		width: 100%;
		margin: 0px;
		padding: 2px 8px 3px 8px;
		line-height: 16px;
	
		height: 40px;
}
	textarea[rows="2"] {
		height: 40px;
	}
	textarea[rows="3"] {
		height: 56px;
	}
	textarea[rows="4"] {
		height: 72px;
	}
	textarea[rows="5"] {
		height: 88px;
	}
	textarea[rows="6"] {
		height: 102px;
	}
	textarea[rows="7"] {
		height: 110px;
	}
	textarea[rows="8"] {
		height: 118px;
	}
	textarea[rows="9"] {
		height: 126px;
	}
	textarea[rows="10"] {
		height: 134px;
	}
	.container_textArea {
		padding: 8px 8px 3px 8px;
	}

[data-role="calendarDropdown"] select{
		background: url('../../images/black-down-arrow.png') no-repeat 90% #fff;
		width: 80px;
		font-size: 14px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 24px;
		-webkit-appearance: none;
		text-align: center;
		margin-top: 8px;
		float: right;
		padding-left: 15px;
		cursor: pointer;
	}




	.onPageLead {
		background-color: #F3F3F3;
		padding-bottom: 20px;
	}
	
	.onPageLead h3 {
		margin: 0;
		padding: 16px 8px 0px 20px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url('../../images/pageSection/headings.png');
		background-position: 0px -10px;
	}
	
	.onPageLead  [data-role="formElementWrapper"] {
		width: 100%;
		clear: both;
		display: block;
		border-bottom: none;
	}
	
	.onPageLead  [data-role="formElementLabel"] {
		width: 100%;
		float: left;
		clear: both;
		display: block;
	}
	.onPageLead  [data-role="formElementLabelInner"] {
		padding: 0;
	}
	
	.onPageLead  [data-role="formElementContainer"] {
		width: 100%;
		float: left;
		clear: both;
		display: block;
		padding: 0 10px 0 20px;
	}
	.onPageLead [data-role="radioGroupWrapper"] {
		clear: left;
		width: auto;
	}
	.onPageLead [data-role="radioButtonLabel"] {
		padding: 5px 10px;
	}
	.onPageLead [data-role="radioButton"][data-state="checked"] [data-role="radioButtonLabel"] {
		padding: 4px 10px;
	}
	.onPageLead  [data-role="submitButton"] {
		margin-left: 20px;
	}
	.onPageLead .clearfix:after {
		content: "";
		display: block;
		clear: both;
		max-height: 1px;
	}







@media only screen and (min-width : 800px) {
	[data-role="formElementWrapper"] {
		width: 100%;
		display: table;
		position: relative;
		border-bottom: 3px solid transparent;
	}
	
	[data-role="calendarDropdown"] select{
		background: url('../../images/black-down-arrow.png') no-repeat 90% #fff;
		width: 80px;
		font-size: 14px;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 24px;
		-webkit-appearance: none;
		text-align: center;
		margin-top: 8px;
		float: right;
		padding-left: 15px;
		cursor: pointer;
	}

	[data-role="formElementLabel"],[data-role="formElementContainer"],[data-role="formElementContent"]
		{
		display: table-cell;
		vertical-align: top
	}
	[data-role="formElementLabel"] {
		width: 25%;
		padding: 12px 8px 0px 20px;
		float: none;
	}
	[data-role="formElementLabelInner"] {
		float: left;
		font-size: 13px;
		line-height: 16px;
		padding: 0px 0px 0px 0px;
	}
	[data-role="formElementOptionalLabelInner"] {
	float: left;
	font-size: 13px;
	line-height: 16px;
	padding: 12px 0px 0px 2px;
	color: #438699;
}
	[data-role="formElementContainer"] {
		width: 25%;
		padding: 10px 8px 5px 11px;
		position: relative;
		float: none;
	}
	[data-role="formElementContent"] {
		padding: 0px 0px 0px 0px;
		margin-top: 0px;
	}
	[data-role="input"] {
		width: 100%;
		position: relative;
	}
	[data-role="dropdownInput"] {
		width: 100%;
		position: relative;
	}
	[data-role="input"][data-width="30"] {
		width: 30%;
		float: left;
	}
	[data-role="input"][data-width="70"] {
		width: 68%;
		float: right;
	}
	[data-role="formElementContent"] {
		width: 50%;
		vertical-align: top;
		position: relative;
		float: none;
	}
	[data-role="formElementContentInner"] {
		width: 100%;
		padding: 8px 6px 0px 11px;
		position: relative;
	}
	[data-role="formElementContentInner"]:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -8px;
		top: 16px;
		background: #f2f2f2;
	}
	[data-role="formElementContentInner"] [data-role="formElementWrapper"] {
		width: 100%;
		display: table;
		position: relative;
		border-bottom: none;
	}
	[data-role="formElementContentInner"] [data-role="formElementContainer"]
		{
		padding: 0px 0px 5px 8px;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabel"],[data-role="formElementContentInner"] [data-role="formElementContainer"]
		{
		width: 50%;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabel"] {
		width: 50%;
		padding: 0px 8px 0px 0px;
	}
	[data-role="formElementContentInner"] [data-role="formElementLabelInner"]
		{
		padding: 4px 0px 4px 0px;
	}
	[data-role="formElementContentInner"] [data-role="toolTip"] {
		position: relative;
		top: 0px;
	}
	[data-role="formElementContentInner"]:before {
		content: "";
		width: 4px;
		height: 8px;
		position: absolute;
		left: -4px;
		top: 16px;
		background: url('../../images/formContentArrow.png');
	}
	
	[data-role="formElementContentInner"] [data-role="formNote"] {
	font-size: 13px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 3px 8px 10px 0px;
	position: relative;
}
	
	
	[data-role="formInlineNote"] {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
		background: #767676;
		padding: 1px 8px 6px 8px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
	}
	[data-role="formElementContentInner"] [data-role="formInlineNote"] {
		padding: 1px 10px 5px 11px;
	}
	[data-role="formInlineNote"]:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/noteArrow.png');
	}
	[data-role="formElementContentInner"] .formInlineError {
		padding: 4px 10px 6px 11px;
	}
	.formInlineError {
		font-size: 13px;
		line-height: 16px;
		background: #ccc;
		color: #000;
		padding: 4px 10px 6px 11px;
		margin-top: 2px;
		position: relative;
		float: left;
		width: 100%;
		display: none;
	}
	.inputError .formInlineError {
		display: block;
	}
	.formInlineError:before {
		content: "";
		width: 8px;
		height: 4px;
		position: absolute;
		left: 8px;
		top: -4px;
		background: url('../../images/errorArrow.png');
	}
	
	div.characterCount{
		padding: 2px 0px 0px 0px;
		margin: 0px;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
		width: 100%;
		display: block;
	}

}
/*FORM LAYOUT END*/
/* Developer:Donovan
Button */
button{
	background-color: #277093;
	color: white;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	border: 0
}

.submitButton {
	background-color: #277093;
	color: white;
	vertical-align: middle;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	cursor: pointer;
	border: 0;
	line-height: 20px;
	padding: 5px 10px; 
}

#loginButton[data-state="disabled"]{
	background: #e7e7e7;
	color: #bcbcbc;
}

#mobileLogin #loginButton[data-state="disabled"]{
	background: #e7e7e7;
	color: #bcbcbc;
}

.hidden {display:none;}
