[data-role="productLayoutOne"] {
	position: relative;
	width: 100%;
	display:table;
	border-spacing: 0;
	min-height:100%;
	height:100%;
	overflow: hidden;
	table-layout: fixed;
	border-right: 2px solid white;
}
[data-role="productLayoutOneInner"] {
	width: 100%;
	display: table-row;
	min-height:100%;
	height:100%;
}
[data-role="productLayoutOneA"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="productLayoutOneA"][data-visible="true"] {
	display: block;
	width: 100%;
}
[data-role="productLayoutOneContentWrapper"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: #f2f2f2;
}
[data-role="productLayoutOneContentWrapper"][data-visible="false"] {
	display: none;
}
[data-role="productLayoutOneB"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
}
[data-role="productLayoutOneC"] {
	display: block;
	min-height:100%;
	height:100%;
	width: 100%;
	vertical-align: top;
	background-color: white;
	padding-top: 0px;
	padding-right: 16px;
}
[data-role="productLayoutOneThumbnail"] {
	height: 91px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
[data-role="productLayoutOneThumbnail"] img {
	height: 56px;
	margin-top: 8px;
}
[data-role="productLayoutOneHeadings"] {
	min-height: 72px;
}
[data-role="productLayoutOneHeadings"] h1 {
	font-size: 27px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 32px;
	padding: 6px 8px 2px 8px;
}
[data-role="productLayoutOneHeadings"] h2 {
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	height: auto;
	line-height: 16px;
	width: 100%;
	padding: 2px 8px 6px 8px;
	margin: -8px 0px 0px 0px;
}

[data-role="productLayoutOneContent"] {
	padding: 0 16px 0 0;
}

[data-role="productLayoutOneContent"] h3 {
	border-top: 1px solid black;
	padding: 9px 0 0 0;
	margin: 0 8px;
}
[data-role="productLayoutOneContent"]>:FIRST-CHILD  {
	border-top: 12px solid black;
	padding: 5px 0 0 0;
	margin-bottom: 7px;
	margin-left: 8px;
}


@media only screen and (min-width : 904px) {
	[data-role="productLayoutOneA"] {
		display: table-cell;
		width: 20%;
	}
	[data-role="productLayoutOneThumbnail"] {
		height: 72px;
	}
	[data-role="productLayoutOneContentWrapper"] {
		display: table-cell;
		width: 80%;
	}
	[data-role="productLayoutOneB"] {
		display: table-cell;
		width: 40%;
	}
	[data-role="productLayoutOneC"] {
		display: table-cell;
		padding-top: 72px;
		width: 40%;
	}
}