 [data-role="productLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

 [data-role="productLayoutOneThumbnail"] {
   height: 72px;
 }

 [data-role="productLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="productLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

 [data-role="productLayoutOneGridItem"] {
   display: table-cell;
    float: none;
 }