[data-pageCategory="cat1"] h2 {
  border-bottom: 2px solid #9b9175;
}

[data-pageCategory="cat1"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #9b9175;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat2"] h2 {
  border-bottom: 2px solid #626262;
}

[data-pageCategory="cat2"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #626262;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat3"] h2 {
  border-bottom: 2px solid #737a78;
}

[data-pageCategory="cat3"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #737a78;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat4"] h2 {
  border-bottom: 2px solid #4c859d;
}

[data-pageCategory="cat4"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #4c859d;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat5"] h2 {
  border-bottom: 2px solid #915758;
}

[data-pageCategory="cat5"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #915758;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat6"] h2 {
  border-bottom: 2px solid #b7dab6;
}

[data-pageCategory="cat6"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #b7dab6;
  content: " ";
  display: block;
  width: 25%;
}

[data-pageCategory="cat7"] h2 {
  border-bottom: 2px solid #da9669;
}

[data-pageCategory="cat7"] h2:AFTER {
  position: absolute;
  margin-top: 2px;
  border-bottom: 2px solid #da9669;
  content: " ";
  display: block;
  width: 25%;
}

[data-role="productLayoutOne"] {
  position: relative;
  width: 100%;
  display: table;
  border-spacing: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
}

[data-role="productLayoutOneInner"] {
  width: 100%;
  display: table-row;
  min-height: 100%;
  height: 100%;
}

[data-role="productLayoutOneA"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="productLayoutOneA"][data-visible="true"] {
  display: block;
  width: 100%;
}

[data-role="productLayoutOneContentWrapper"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: #f2f2f2;
}

[data-role="productLayoutOneContentWrapper"][data-visible="false"] {
  display: none;
}

[data-role="productLayoutOneB"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
}

[data-role="productLayoutOneC"] {
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  vertical-align: top;
  background-color: white;
  padding-top: 0px;
  padding-right: 16px;
}

[data-role="productLayoutOneThumbnail"] {
  height: 91px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

[data-role="productLayoutOneThumbnail"] img {
  height: 56px;
  margin-top: 8px;
}

[data-role="productLayoutOneContent"] {
  padding: 0 0 60px 0;
}

[data-role="productLayoutOneGrid"] {
  border-collapse: separate;
  display: table;
}
[data-role="productLayoutOneGrid"].hasBorder {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0 20px;
}

[data-role="productLayoutOneGridRow"] {
  display: table-row;
  width: 100%;
}

[data-role="productLayoutOneGridItem"] {
  display: block;
  overflow: hidden;
  padding: 0px 10px 8px 0px;
}
.hasBorder [data-role="productLayoutOneGridItem"] {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

[data-role="productLayoutOneGridItem"].clickable {
  text-decoration: none;
  cursor: pointer;
}

[data-role="productLayoutOneGridItem"].moreText {
  background: white url("../../../images/layouts/overPageLayouts/moreInfo.png") 96% 90% no-repeat;
  cursor: pointer;
  padding: 0px 0px 38px 0px;
  text-decoration: none;
}

[data-role="productLayoutOneGridItemHeading"] {
  padding: 2px 0px 4px 10px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  font-weight: 800;
  line-height: 16px;
}
.hasBorder [data-role="productLayoutOneGridItem"] p {
	margin-left: 10px;
}
.hasBorder [data-role="productLayoutOneGridItem"] li {
	margin-left: 10px;
}

[data-role="productLayoutOneGridItemContent"] {
  padding: 4px 8px 0px 8px;
  font-size: 13px;
  font-family: Helvetica,FoundationRoman,Sans-serif;
  line-height: 16px;
}

.relatedLinks {
  padding: 10px 20px;
}

.relatedLink {
  display: block;
  color: #666666;
  background: transparent url("../../../../../../00Assets/skins/01/images/bullets/arrow/inverse.gif") center right no-repeat;
  border-top: 1px solid #DDD;
  padding: 10px 0 10px 0px;
  text-decoration: none;
}

[data-role="footerButtonGroup"] {
  padding: 0;
}

[data-role="dataButton"] {
  background: #2d7090 url("../../../../../../00Assets/skins/01/images/bullets/arrow/default.gif") 10px center no-repeat;
  color: white;
  width: 110px;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 20px;
  cursor: pointer;
  margin: 0 0 10px 10px;
  text-decoration: none;
  border: none;
  float: left;
}

.dataButtonLabel {
	background-color: #277093;
	color: white;
	line-height: 30px;
	padding: 0;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 13px;
	cursor: pointer;
}

@media only screen and (min-width: 800px) {
  [data-role="productLayoutOneA"] {
    display: table-cell;
    width: 20%;
  }

  [data-role="productLayoutOneThumbnail"] {
    height: 72px;
  }

  [data-role="productLayoutOneContentWrapper"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="productLayoutOneB"] {
    display: table-cell;
    width: 80%;
  }

  [data-role="productLayoutOneGridItem"] {
    display: table-cell;
    float: none;
  }

  [data-role="dataButton"] {
    clear: right;
    margin: 0 10px 10px 0;
    float: right;
  }
}
/*IE8 LAYOUTS*/
.IE8 [data-role="productLayoutOneA"] {
   display: table-cell;
   width: 20%;
 }

.IE8 [data-role="productLayoutOneThumbnail"] {
   height: 72px;
 }

.IE8 [data-role="productLayoutOneContentWrapper"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="productLayoutOneB"] {
   display: table-cell;
   width: 80%;
 }

.IE8 [data-role="productLayoutOneGridItem"] {
   display: table-cell;
    float: none;
 }
