<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ attribute required="true" name="id"%>

<li id="subMenu_${id}" data-role="subMenuGroupsWrapper" class="Hhide">
		<jsp:doBody />
</li>
		
