.relatedPages a {
	text-decoration: none;
}
.relatedPage {
	display: block;
	line-height: 30px;
	margin: 0 20px;
	padding: 0 10px 0 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../../images/bullets/arrow/inverse.gif');
	background-position: right center;
	border-top: 1px solid silver;
}
.relatedPage.last {
	border-bottom: 1px solid silver;
}