.bannerContainer{height:100%;min-height:100%;width:100%;}
.bannerObject {height:100%;min-height:100%;width:100%;}
.BannerContainer {
	height:			100%;
	width:			100%;
}
.BannerWrapper {
	position:		relative;
	height: 		100%;
	width:			100%;
	margin:		0 auto;
	overflow:		hidden;
	background: 	#8CB8B7;
	display: block;
	min-height: 100px;
}
.BannerWrapper .copywrapper {
	position:	relative;
	left:			5%;
	top:			3%;
	float:		left;
	z-index: 	1;
	height: 	90%;
	position: relative;
}
.BannerWrapper .copywrapper .copy,
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2,
.BannerWrapper .copywrapper .copy3, 
.BannerWrapper .copywrapper .copy4 {
	position:		relative;
	font-size:		12px;
	color:			#fff;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	display: 		block;
}
.BannerWrapper .copywrapper .copy1 {
	font-size:		36px;
}
.BannerWrapper .copywrapper .copy1,
.BannerWrapper .copywrapper .copy2 {
	font-size:		18px;
}
.BannerWrapper .copywrapper .copy2 {
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	font-size:		22px;
}
.BannerWrapper .copywrapper .copy3 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
	margin-bottom:5px;
}
.BannerWrapper .copywrapper .copy4 {
	font-size:		12px;
	font-family:	Helvetica,FoundationRoman,Sans-serif;
}				
.BannerWrapper .imagewrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
}						
.BannerWrapper .image {
	height: 80%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}	
.BannerWrapper .ui-spacer {
	height: 8%;
	position: relative;
}	

@media only screen and (min-width : 800px) {
	.BannerWrapper .image {
		height: 30%;
		position: absolute;
		bottom: 3%;
		right: 3%;
	}	
}
.relatedPages a {
	text-decoration: none;
}
.relatedPage {
	display: block;
	line-height: 30px;
	margin: 0 20px;
	padding: 0 10px 0 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../../../images/bullets/arrow/inverse.gif');
	background-position: right center;
	border-top: 1px solid silver;
}
.relatedPage.last {
	border-bottom: 1px solid silver;
}

#pageContentOuter {
	height: 100%;
	width: 75%;
	margin: 0;
	padding: 0;
	float: right;
}
#pageContent {
	display: block;
	padding: 0 40px 20px 20px;
	background: transparent url('../../../images/transparent70.png') top left repeat;
	color: white;
	min-height: 450px;
	height: auto;
}

#rmbSearch .searchPageLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 16px;
	background-color: white;
}
#rmbSearch .searchPageLayoutOneInner {
	width: 100%;
	position: relative;
}
#rmbSearch .searchPageLayoutOneA {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
#rmbSearch .searchPageLayoutOneB {
	height: 160px;
	width: 50%;
	float:left;
	position: relative;
	background-color: white;
	z-index: 1;
}
#rmbSearch .searchPageLayoutOneC {
	position: relative;
	background-color: white;
}

#rmbSearch .searchPageLayoutOneD {
	height: 88px;
	position: relative;
	background-color: white;
}

#rmbSearch .searchPagePageLinks {
	padding: 0 8px;
}
#rmbSearch .searchPagePageLink {
	display: block;
	color: #666666;
	padding-left: 16px;
	background: transparent
		url('../../../../../../00Assets/skins/00/images/arrows/right_arrow.png')
		top left no-repeat;
	margin-bottom: 8px;
}
#rmbSearch hr {
	height: 1px;
	border: none;
	border-top: 4px solid black;
	margin: 12px 8px 8px 8px;
}
#rmbSearch [data-role="searchPagePageLayoutOneGrid"] {
	border-collapse: separate;
	display: table;
	width: 100%;
	table-layout: fixed;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridRow"] {
	display: table-row;
	width: 100%;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItem"] {
	display: block;
	overflow: hidden;
	min-height: 120px;
	float: left;
	margin-top: 10px;
/* 	background: url("../../../images/transparent70.png"); */
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemSearch"] {
	display: block;
	width: 100%;
	overflow: hidden;
	float: none;
	margin-top: 10px;
	background: url("../../../images/transparent70.png");
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemSearch"] p {
	padding: 0 0 0 20px;
	margin: 0;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemSearch"] h1 {
	padding-top: 0px;
	background-position: 0px -17px;
	margin: 0;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemInner"] {
	height: 100%;
}

#rmbSearch [data-role="searchPagePageLayoutOneGridItem"].clickable {
	text-decoration: none;
	cursor: pointer;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItem"].moreText {
	cursor: pointer;
	text-decoration: none;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemHeading"] {
	padding: 10px 0px 0px 20px;    
	font-size: 13px;
	font-weight:700;
	text-transform: uppercase;
	line-height: 20px;
}
#rmbSearch [data-role="searchPagePageLayoutOneGridItemCount"] {
	margin: 0 0 0 20px;    
	font-size: 96px;
	color: grey;
	border-bottom: 6px solid grey;
}
#rmbSearch [data-role="footerButtonGroup"] {
	float: left;
	padding: 0 20px 0 0;
}
#rmbSearch [data-role="formElementContainer"] {
	padding: 8px 0px 0px 0px;
}
#rmbSearch [data-role="formElementLabel"] {
	padding: 0;
	width: 0;
}
#rmbSearch [data-role="formElementContent"] {
	padding: 0;
}
#rmbSearch [data-role="formElementContainer"] {
	width: 100%;
}
#rmbSearch [data-role="input"] {
	height: 30px;
}
#rmbSearch #searchResultsWrapper {
	padding: 40px 20px 20px 0px;
}
#rmbSearch #searchSubmitButton {
	margin: 0;
}
#rmbSearch [data-role="formElementContentInner"]:before {
	background: none;
}
@media only screen and (min-width : 400px) {
	#rmbSearch [data-role="formElementContainer"] {
		width: 50%;
	}
	#rmbSearch [data-role="formElementContentInner"] {
		padding: 8px 0px;
	}
	#rmbSearch #searchForm {
		padding-left: 20px;
	}
}
@media only screen and (min-width : 800px) {
	#pageContentOuter {
		background: none;
		width: 75%;
	}
	#pageContent {
		margin-top: 200px;
	}
	#rmbSearch .searchPageLayoutOne {
		position: relative;
		width: 100%;
		margin-top: 64px;
	}
	#rmbSearch .searchPageLayoutOneInner {
		width: 100%;
		border-top: 4px solid black;
		border-bottom: 4px solid black;
	}
	#rmbSearch .searchPageLayoutOneA {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	#rmbSearch .searchPageLayoutOneB {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	#rmbSearch .searchPageLayoutOneC {
		height: 480px;
		width: 30%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	#rmbSearch .searchPageLayoutOneD {
		height: 480px;
		width: 20%;
		float:left;
		overflow: hidden;
		position: relative;
	}
	
	#rmbSearch [data-role="formElementLabel"] {
		padding: 0 0 0 60px;
		width: 0;
	}
	#rmbSearch [data-role="searchPagePageLayoutOneGridItem"] {
		display: table-cell;
		float: none;
	}
	#rmbSearch [data-role="searchPagePageLayoutOneGridItemSearch"] {
		display: table-cell;
		width: 30%;
		float: none;
		padding: 40px 0;
		min-height: 200px;
	}
	#rmbSearch #searchForm {
		padding-left: 0px;
	}
	#rmbSearch #searchSubmitButton {
		display: table-cell;
		vertical-align: middle;
		height: 30px;
		background-color: #277093;
		margin: 0;
	}
	#rmbSearch #searchResultsWrapper {
		padding: 40px 20px 20px 40px;
	}
}

#rmbSearch .searchResultA {
	clear:float;
	float:none;
	width:100%;
	padding-right: 8px;
}
#rmbSearch .searchResultB {
	clear:float;
	float:none;
	width:100%;
	padding-right: 8px;
}

@media only screen and (min-width : 904px) {
	#rmbSearch .searchResultA {
		float:left;
		width:50%;
		padding-right: 8px;
	}
	#rmbSearch .searchResultB {
		float:left;
		width:50%;
		padding-right: 8px;
	}
}

/*IE8 LAYOUTS*/

.IE8 #rmbSearch [data-role="formElementContainer"] {
	width: 50%;
}
.IE8 #rmbSearch [data-role="formElementContentInner"] {
	padding: 8px 0px;
}

.IE8 #rmbSearch .searchPageLayoutOne {
	position: relative;
	width: 100%;
	margin-top: 64px;
}
.IE8 #rmbSearch .searchPageLayoutOneInner {
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
.IE8 #rmbSearch .searchPageLayoutOneA {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}
.IE8 #rmbSearch .searchPageLayoutOneB {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}
.IE8 #rmbSearch .searchPageLayoutOneC {
	height: 480px;
	width: 30%;
	float:left;
	overflow: hidden;
	position: relative;
}

.IE8 #rmbSearch .searchPageLayoutOneD {
	height: 480px;
	width: 20%;
	float:left;
	overflow: hidden;
	position: relative;
}

.IE8 #rmbSearch [data-role="formElementLabel"] {
	padding: 0 0 0 60px;
	width: 0;
}
.IE8 #rmbSearch [data-role="searchPagePageLayoutOneGridItem"] {
	display: table-cell;
	float: none;
}
.IE8 #rmbSearch [data-role="searchPagePageLayoutOneGridItemSearch"] {
	display: table-cell;
	width: 30%;
	float: none;
	padding: 40px 0;
	min-height: 200px;
}
.IE8 #rmbSearch #searchForm {
	padding-left: 0px;
}
.IE8 #rmbSearch  #searchSubmitButton {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	background-color: #277093;
	margin: 0;
}
.IE8 #rmbSearch #searchResultsWrapper {
	padding: 40px 20px 20px 40px;
}

/*IE8 Layouts*/

.IE8 #rmbSearch .searchResultA {
	float:left;
	width:50%;
	padding-right: 8px;
}
.IE8 #rmbSearch .searchResultB {
	float:left;
	width:50%;
	padding-right: 8px;
}
/* slideHeader */
.slideHeader{
	empty-cells:show;
	width:100%;
	background:#F2F2F2;
	display:table;
}

.slideHeaderRow{
	display:table-row;
}

.slideHeaderLeftImage{
	display:table-cell;
	width:3%;
	background: url('../../../genericImages/widgets/slider/leftArrow.png') center center no-repeat;
}
.slideHeaderInner{
	display:table-cell;
	width:94%;
	text-align:center;
	background: url('../../../genericImages/widgets/slider/middleLine.png') center center repeat-x;
	vertical-align:middle;
	
}
.slideHeaderInner p{
	display:inline;
	line-height:25px;
	background:#F2F2F2;
	margin:auto;
}
.slideHeaderRightImage{
	display:table-cell;
	width:3%;
	background: url('../../../genericImages/widgets/slider/rightArrow.png') center center no-repeat;
}
