/*ebucks*/
#rewardsContainerInner {
	width: 100%;
	position: relative;
	height: 100%;
}

.rewardsBanner {
	height: 100%;
	font-size: 18px;
	background-color: #d8e9e9;
	padding-bottom: 40px;
}
.rewardsBanner a,
.rewardsBanner b {
	font-size: inherit;
}
.rewardsBanner a {
	color: #009999;
}
.rewardsBannerTop {
	padding: 0 8px;
}
.rewardsBannerCenter {
	padding: 8px;
}
.rewardsBannerTop,
.rewardsBannerBottom {
	background-color: #f2f2f2;
	height: 40px;
	line-height: 40px;
}
.rewardsBannerTop {
	font-size: 13px;
	font-weight: bold;
}
.rewardsBannerBottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	
}
.rewardsBannerDiscounts {
	padding: 16px 0 8px 0;
	font-size: 24px;
	color: #009999;
}
.rewardsBannerContact {
	padding: 16px 0 8px 0;
	font-size: 13px;
	width: 50%;
	float: left;
}
.rewardsBannerImage {
	width: 40%;
	float: right;
	max-width: 106px;
	overflow: hidden;
}
.rewardsBannerImage img {
	width: 100%;
	padding: 8px;
}
.rewardsBannerNumber {
	color: #009999;
	white-space: nowrap;
}
.rewardsButton {
	background: #FF9900 url("/banking/03images/base/rewards/newspagebanner/button.png") left center no-repeat;
	height: 30px;
	line-height: 30px;
	color: white;
	padding: 0 8px 0 24px;
	margin-top: 5px;
	width: 40%;
	max-width: 150px;
	float: right;
	font-size: 13px;
	cursor: pointer;
}

.hasEbucks {
	background: #d7e9e9;
}

#newsLanding .hasEbucks h2:after {
	border: none;
}

#earnLevelIndicator {
	position: absolute;
	left: 50%;
	top: 97px;
}

.levelIcon {
	background:
		url("/banking/03images/base/rewards/newspagebanner/circle.png") 0 0
		no-repeat transparent;
	display: block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	position: relative;
	left: -22px;
	padding-right:2px;
	margin-bottom: 10px;
	
}

#ebBalance {
	display: table;
	width: 100%;
	vertcial-align: baseline
}

#ebBalance .leftLabel {
	display: table-cell;
	width: 85px;
	padding: 8px 0px 0px 16px;
	vertical-align: bottom;
	line-height: 38px;
	font-size: 16px;
}

#ebBalance p {
	display: table-cell;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
	vertical-align: bottom;
	line-height: 40px;
}

#rewardsContainerInner .headingWrap {
	clear: both;
	display: block;
	padding-bottom: 25px
}

#rewardsContainerInner h3 {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
	padding-top: 0px;
}

#rewardsContainerInner #earnLevel h3 {
	text-align: right;
	padding-right: 30px;
	padding-left: 0px;
}

#rewardsContainerInner #discountLevel h3 {
	text-align: left;
	padding-left: 30px;
}

#rewardsContainerInner .rewardRow {
	display: block;
	font-size: 16px;
	height: 43px;
	line-height: 43px;
	margin: 0px 0px 10px 0px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight: bold;
}

#rewardsContainerInner .rewardRow.above {
	color: #000;
}

#rewardsContainerInner .rewardRow {
	color: #4eb8b8;
}

.rewardRow .rowInner {
	height: 34px;
	display: block;
	line-height: 34px;
	margin-top: 5px
}

.activeLevel .rowInner {
	background: white;
	color: #009999;
}

#earnLevel .rewardRow {
	text-align: right;
}

#discountLevel .rewardRow {
	text-align: left;
}

#earnLevel .rowInner {
	padding: 0px 30px 0px 0px
}

#discountLevel .rowInner {
	padding: 0px 0px 0px 30px
}

#rewardsContainerInner .lastRow {
	margin-bottom: 0px;
}

#rewardsContainerInner .extras {
	position: absolute;
	top: 70px;
}

#rewardsContainerInner .extras div {
	text-indent: -10000px;
	cursor: pointer;
	display: block;
	float: left;
	height: 20px;
}

div[data-content="fuel"] {
	width: 18px;
}

div[data-content="shopping"] {
	width: 20px;
}

div[data-content="electricity"] {
	width: 20px;
}

div[data-content="airtime"] {
	width: 14px;
}

div[data-content="more"] {
	width: 30px;
}

#rewardsContainerInner .icons {
	display: block;
	width: 72px;
	height: 20px;
	background:
		url("/banking/03images/base/rewards/newspagebanner/ebucksIcons.png")
		no-repeat transparent;
	left: 50%;
	margin-left: -102px;
}

#rewardsContainerInner .wealthIcons {
	display: block;
	width: 103px;
	height: 20px;
	background:
		url("/banking/03images/base/rewards/newspagebanner/ebucksIconsWealth.png")
		no-repeat transparent;
	left: 50%;
	margin-left: -133px;
}

#extraContent {
	background: #4eb8b8;
	width: 100%;
	height: 288px;
	position: absolute;
	top: 90px;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	color: #fff;
	font-size: 18px;
}

.hoverArrow {
	background:
		url("/banking/03images/base/rewards/newspagebanner/hoverArrow.png")
		center bottom no-repeat;
}

#rewardsContainerInner .textOne {
	font-size: 14px;
	margin-top: 20px
}

#rewardsContainerInner .textTwo {
	font-size: 14px;
}

#rewardsContainerInner .findOutMore {
	display: block;
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	right: 0px;
	padding-right: 45px;
	height: 34px;
	line-height: 34px;
	background:
		url("/banking/03images/base/rewards/newspagebanner/moreArrow.png")
		right top no-repeat;
}

#rewardsContainerInner .ebucksBanner {
	width: 80%;
	margin-top: 20px;
	margin-left: 10px;
}

#rewardsContainerInner .width50 {
	display: block;
	float: left;
	width: 50%;
}

#rewardsContainerInner  .youGetText {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	float: left;
	padding-left: 10px;
	display: none;
}

#discountLevel .activeLevel .youGetText {
	clear: both;
	line-height: 10px;
	padding: 5px 0px 5px 0px;
	display: block;
}

#discountLevel .activeLevel .levelInner {
	clear: both;
	line-height: 10px;
	font-size: 14px;
	display: block;
}


#earnLevel .activeLevel .youGetText {
	clear: both;
	line-height: 10px;
	padding: 5px 0px 5px 0px;
	display: block;
	width:100%;
	text-align:right;
}

#earnLevel .activeLevel .levelInner {
	clear: both;
	line-height: 10px;
	font-size: 14px;
	display: block;
}


#earnLevel .activeLevel .youGetText {
	display: block;
}

@media only screen and (max-width: 850px) {
	#rewardsContainerInner #earnLevel h3 {
		font-size: 14px;
	}
	#rewardsContainerInner #discountLevel h3 {
		font-size: 14px;
	}
	#ebBalance .leftLabel {
		display: table-cell;
		padding: 8px 0px 0px 5px;
		vertical-align: bottom;
		line-height: 38px;
		font-size: 12px;
		width: 55px;
		
	}
	#rewardsContainerInner .icons {
		left: 50%;
		margin-left: -40px;
	}
	#rewardsContainerInner .youGetText {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 10px;
		float: left;
		padding-left: 5px;
		display: none;
	}
	#ebBalance p {

font-size: 16px;

}
	
}