/* Developer Donovan
Datepicker START*/
.datePickerMonthWrapper {
	float: left;
	width: 5.55%;
	font-size: 24px;
	line-height: 20px;
}

.datePickerCalendar {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

.datePickerCalendar tr:last-child td {
	padding: 0 0 25px 0;
}

.datePickerCalendar th {
	border-left: solid #fff 1px;
}

.datePickerCalendar td {
	border-left: solid #fff 1px;
}

.datePickerCalendar th:last-child {
	border-right: solid #fff 1px;
}

.datePickerCalendar td:last-child {
	border-right: solid #fff 1px;
}

.datePickerContainer {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.datePickerInner {
	background: #009999;
	width: 100%;
	float: left;
	position: relative;
	padding: 0 10% 0 10%;
	height: 250px;
}

.datePickerClose {
	background: url("../../images/datePicker/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

.dateLeftScrollArrow {
	background:
		url("../../images/arrows/datePickerLeftArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	left: 0;
	border: none;
}

.dateRightScrollArrow {
	background:
		url("../../images/arrows/datePickerRightArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	right: 0;
	border: none;
}

.datePickerScrollerWrapper {
	position: absolute;
	left: 10%;
	right: 10%;
	overflow: hidden;
}

.datePickerScroller {
	float: left;
	position: relative;
	width: 100%;
}

.datePickerTitle {
	text-align: left;
	color: #fff;
	padding: 0 5px 0 0;
}

.datePickerMonth {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
	line-height: 38px;
}

.datePickerYear {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
}

.datePickerDate[data-active="true"] {
	text-align: left;
	color: #fff;
	cursor: pointer;
}

.datePickerDate[data-active="true"]:hover {
	color: #ffcc33;
}

.datePickerDate[data-selected="true"] {
	color: #ffcc33;
}

.datePickerDayLabel {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 15px 0 0 0;
	border-spacing: 0;
}

.datePickerWeekEndLabel {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 20px 0 0 0;
	border-spacing: 0;
}

.datePickerDate {
	padding: 0;
	border-spacing: 0;
}

[data-dayName="Sat"][data-active="true"] {
	color: #c7c7c7;
}

[data-dayName="Sun"][data-active="true"] {
	color: #c7c7c7;
}

#datePicker {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dateHeaderLabelWrapper{
	text-align: center;
}


.datePickerLabelTop {
	float: left;
	width: 100%;
	padding: 1px 0 4px 0;
}

.datePickerLabelBottom {
	float: left;
	width: 100%;
	padding: 3px 0 4px 0;
}

.datePickerCarat {
	content: '';
	position: absolute;
	right: 10px;
	top: 3px;
	z-index: 2;
	background: url("../../images/datePicker/calendarIcon.png")
		no-repeat center center #FF9900;
	width: 22px;
	height: 22px;
	left: -11px;
}

.datePickerSelected {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	padding: 6px 0px 6px 14px;
	border: 1px solid #81b4b4;
	background-color: #FFF;
	height: 65px;
	min-width: 90px;
}
@media only screen and (min-width : 904px) {

	/* 	
	Developer: Donovan
	Datepicker
	 */
	.datePickerMonthWrapper {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	.dateLeftScrollArrow {
		background:
			url("../../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	.dateRightScrollArrow {
		background:
			url("../../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	.datePickerMonth {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	.datePickerYear {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	.datePickerInner {
		background: #009999;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	/* 	
	Developer: Donovan
	Datepicker END
	 */
}