/*HEADER + TOP TABS
	Developer: Mike Stott 
*/
/*
[data-role="headerContainer"] {
	position: relative;
	background: #f2f2f2;
}

#headerButtonsInner{height: 24px;overflow:hidden;}

#headerInner{position: relative;
	padding: 0px 0px 0px 24px;
	float: left;
	width: 100%;}

#topTabs {
	display: block;
	text-align: left;
	float:left;
	position: relative;
	width: 100%;
	left: 0;
	padding: 0px 0px 4px 0px;
		
}

/* Disabled styles */
.mainTabDisabled span{
	color: #DBDBDB;
}
.mainTabDisabled:hover{
	background: url('../../images/topTabDivider.png') right 8px no-repeat;
}
.mainTabDisabled.topTabSelected span{
	color: #DBDBDB;
}
.mainTabDisabled {
	pointer-events: none;
    cursor: default;
}

#menuWrapper {
	width: 100%;
	overflow: hidden;
	display:block;
	float:left;
	height:40px;
	/* Added by Don */
	position: relative;
	background: url('../../images/topTabsBottomBorder.png') repeat-x bottom center;
}

.mainTab {
	display: block;
	float:left;
	width: 10%;
	cursor: pointer;
	background: url('../../images/topTabDivider.png') right 8px no-repeat;
	text-decoration:none;
}

.mainTab:hover{
	background:#fbfbfb;
}

.mainTab.lastTab{
background: none;
}

.mainTab.lastTab:hover{
	background:#fbfbfb;
}

.mainTab span{
	border-collapse: collapse;
	border-spacing: 0;
	display:table-cell;
	height: 36px;
	width:100%;
	vertical-align: middle;
	color: #888;
	padding: 2px 0px 0px 8px;
	font-size: 12px;
	line-height:16px;
	
}

.mainTab.lastMainTab span{background:none;}

.topTabSelected span{
	color: #000;
}

.mainTab.lastMainTab {
	background: none;
}

#mainTabSlider {
	background: none repeat scroll 0 0 #92CAC9;
	position: absolute;
	height: 4px;
	bottom: 0px;
	left: 0;
}

.topTabScrollButton {
	height: 36px;
	width: 30px;
	border: none;
	position: absolute;
	top: 26px;
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../../images/arrows/leftArrowGreySmall.png') top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background:
		url('../../images/arrows/rightArrowGreySmall.png') top
		right no-repeat;
}