		[data-role="mvnoCssSlidertableWrapper"]{
			margin-top: 12px;
			display: table;
			width: 100%;
		}	
		[data-role="sliderHeading"]{
			font-weight: bold;
			font-size: large;
		}	 

	

		[data-role="mvnoCssSliderContainer"]{
			margin-top: 5px;
			height: 11px;
			width: 100%;
			background-color: #D2E5E4;
			position: relative; 
			display: block;
		}

		[data-role="mvnoCssSliderProgress"]{
			position: absolute;
			height: 11px;
			background-color: #73C7C7;
			width: 75%;
		}

		[data-role="mvnoCssSliderTriangleWrapperUp"]{
			width: 0px;
			height: 0px;
			bottom: 11px;
			position: absolute;
			right: 0;
			border-style: solid;
			border-width: 0 0 11px 11px;
			border-color: transparent transparent #73C7C7 transparent;
		}

		[data-role="mvnoCssSliderTriangleWrapperDown"]{
			width: 0px;
			height: 0px;
			top: 11px;
			position: absolute;
			right: 0;
			border-style: solid;
			border-width: 0 11px 11px 0;
			border-color: transparent #73C7C7 transparent;
		}

		[data-role="mvnoCssContainer"]{
			width:100%;
			height: 100%;
			display:table-cell;
			vertical-align: middle;
			position: relative;
			/* border: thin blue solid;*/
			height: 25px;
		}

		[data-role="mvnoCssSliderCellLeft"]{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			display: block;
			width: 195px;
			height: 25px;
		}
		[data-role="mvnoCssSliderCellRight"]{
			position: absolute;
			right: 0;
			top:0;
			z-index: 4;
			display: block;
			width: 70px;
			padding: 0 0 0 2px;
		}
		[data-role="mvnoCssSliderCellMiddle"]{
			width: 100%;
			padding-left: 195px;
			padding-right: 70px;
			position: relative;
			height: 25px;
		}
		[data-role="mvnoCssSliderLabel"]{
			font-weight: bold;
			width: 40%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}
		[data-role="mvnoCssSliderDesc"]{
			font-weight: 400;
			width: 40%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}
		[data-role="mvnoCssSliderMin"]{
			font-weight: 400;
			width: 20%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}
