
[data-role="mvnoCssSlidertableWrapper"]{
	display: table;
	width: 100%;
	margin: 2px 0px 1px 0;
	padding: 0px 8px 0px 0px;
} 
 

[data-role="mvnoCssSliderTableCell"]{
	display: table-cell;
	width: 100%;
	line-height: 20px;

	/* min-width: 210px; */
}
[data-role="mvnoCssSliderheading"]{
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
	padding:  2px 0 2px 8px;
}


[data-role="mvnoCssSliderLabel"] {
	font-weight: 700;
	font-size: small;
	display: block;
	position: relative;
	float: left;
	text-align: right;
	z-index: 10;
	line-height: 24px;
	margin-left: 8px;
	color: #166c6e;
}
[data-role="mvnoCssSliderUsed"]{
	float: right;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
	font-size: small;
	line-height: 24px;
	margin-right: 2%;
} 
[data-role="mvnoCssSliderLeft"]{
	float: left;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
	font-size: small;
	line-height: 24px;
	margin-left: 5%;
}
.mvnoCssSliderProgressBar{
	position: absolute;
	display: block;
	height: 24px;
	background-color: #99d6d7;
	z-index: 5;
}
.mvnoCssSliderProgressContainer{
	display: absolute;
	position: relative;
	background-color: #ebebeb;
	left: 0;
	height: 24px;
	width: 100%;
	z-index: 5;
}
[data-role="mvnoCssSliderLabelContainer"]{
	width: 100%;
	overflow: hidden;
	height: 20px;
	display: block;
	float: left;
	z-index: 6;
}
[data-role="mvnoCssSliderContainer"]{
	margin: 4px 0 10px 0;
}