[data-role="subMenu"] {
	background-color: #eed;
	overflow: hidden;
}
[data-role="subMenuInner"] {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 24px;
	background: #f2f2f2 url('../../images/frameLeftBorder.png') repeat-y left top;
}

[data-role="subMenuGroupsWrapper"] {
	width: 100%;
	height: 100%;
	display: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	background: transparent url("../../images/articles/pattern.png") top center repeat;
}


[data-role="subMenuGroupsWrapper"]{
	display: table;
}
[data-role="subMenuGroup"] {
	display: table-cell;
}
[data-role="subMenuSetsWrapper"] {
	display: block;
	width: 100%;;
	min-height: 280px;
}
[data-role="subMenuSets"] {
	display: table-row;
	width: 100%;
	height: 72px;
}
[data-role="subMenuSet"] {
	display: none;
	width: 100%;
/* 	background-color: white; */
} 
[data-role="subMenuSet"] {
	display: block;
}
[data-role="subMenuSetLinks"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	padding: 0 8px 8px 8px;
}
[data-role="subMenuSetLink"] {
	font-size: 11px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	cursor: pointer;
}
[data-role="subMenuSetLink"][data-active="true"] {
	background-color: white;
	color: black;
	cursor: default;
}
[data-role="subMenuMenu"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	text-align: left;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px 8px 8px;
}
[data-role="subMenuArticles"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	font-size: 1.2em;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 0 0 6px 8px;
}
[data-role="subMenuItems"] {
	display: block;
	width: 100%;
	vertical-align: top;
/* 	border-top: 8px solid black; */
	background-color: white;
	border-bottom: 8px solid white;
} 
[data-role="subMenuItems"]:nth-child(n+4) {
}
[data-role="subMenuGroupsWrapperSetHeading"] {
	padding: 8px 8px 4px 7px;    
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
[data-role="subMenu"] .subMenuItem {
	display: block;
	width: 100%;
	padding: 0 8px 4px 7px;    
	color: inherit;
	font-size: 0.8em;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

[data-role="subMenuGroupArticles"] {
	vertical-align: top;
	display: block;
	padding: 4px 0 0 0;
}
[data-role="subMenuAtricleWrapper"] {
	display: table;
	width: 100%;
}
[data-role="subMenu"] .subMenuAtricleNumber {
	display: none;
}

[data-role="subMenu"] [data-role="subMenuAtricleItem"] {
	display: table-cell;
	width: 100%;
	padding: 9px 16px 0px 8px;    
	color: inherit;
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	vertical-align: top;
	line-height: 16px;
	text-decoration: none;
	background: transparent url("../../images/articles/article.png") top right no-repeat;
	background-color: white;
}
[data-role="subMenuAtricleWrapper"].first [data-role="subMenuAtricleItem"] {
	border-top: 8px solid black;
}
.subMenuItem[data-level="1"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 8px;
	text-decoration: none;
}
[data-role="subMenuHeading"][data-level="1"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 15px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 0 8px 8px 8px;
	text-decoration: none;
}
.subMenuItem[data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 8px 15px 0 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
}
[data-role="subMenuHeading2"][data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 8px 15px 4px 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="inactive"] {
	background-image: url("../../images/subMenu/subMenuLevel2_inactive.png");
}
[data-role="subMenuHeading2"][data-level="2"][data-state="active"] {
	background-image: url("../../images/subMenu/subMenuLevel2_active.png");
}
.subMenuItem[data-level="3"] {
	display: none;
	border-left: 4px solid #cccccc;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 0 0 8px;
	margin: 0 15px 0 0;
	text-decoration: none;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="inactive"] .subMenuItem[data-level="3"] {
	display: none;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="active"] [data-level="3"] {
	display: block;
}

@media only screen and (min-width : 904px) {
	[data-role="subMenuSetsWrapper"] {
		display: table;
		width: 100%;;
		min-height: 280px;
	}
	[data-role="subMenuSet"]{
		display: table-row;
	}
	[data-role="subMenuItems"] {
		display: table-cell;
		width: 20%;
		vertical-align: top;
		border-top: 8px solid black;
		background-color: white;
		border-bottom: 8px solid white;
	} 
	[data-role="subMenuHeading"][data-level="1"] {
		display: block;
		color: black;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		font-size: 15px;
		line-height: 16px;
		padding: 3px 0px 0px 0px;
		margin: 8px;
		text-decoration: none;
	}
	[data-role="subMenuGroupArticles"] {
		vertical-align: top;
		display: table-cell;
		padding: 4px 0 0 0;
	}
	[data-role="subMenuAtricleWrapper"] {
		display: table;
		width: 90%;
	}
	[data-role="subMenuAtricleWrapper"].last {
		height: 100%;
	}
	[data-role="subMenu"] .subMenuAtricleNumber {
		display: table-cell;
		padding: 12px 8px 0px 6px;
		color: inherit;
		font-size: 64px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
		min-width: 54px;
		text-align: center;
	}
	
}