/* Developer: Donovan */

#timeOut {
	color:#fff;
	font-size:13px;
}

#timeOut a{
	color:#fff;
	font-size:13px;
}

.timeOutWrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.timeOutInner {
	background: #009999;
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
	text-align: center;
}

.clock {
	background: url("../../images/timeOut/clockBg.png") no-repeat center center transparent;
	height: 184px;
	width: 188px;
	position: relative;
	margin: 0 auto;
	font-size: 45px;
	line-height: 180px;
}
background: url("../../images/timeOut/clockBg.png") no-repeat center center transparent;

.timeOutText{
	font-size: 13px;
	line-height: 35px;
}

.timer {
	font-size: 50px;
	padding-top: 32%;
	
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.timeOutButtonsWrapper {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.timeOutClose, .timeOutContinue{
	margin: 10px;
	cursor:pointer;
}