/* Developer Donovan
Datepicker START*/
.datePickerMonthWrapper {
	float: left;
	width: 5.55%;
	font-size: 24px;
	line-height: 20px;
}

.datePickerCalendar {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
}

.datePickerCalendar tr:last-child td {
	padding: 0 0 25px 0;
}

.datePickerCalendar th {
	border-left: solid #fff 1px;
}

.datePickerCalendar td {
	border-left: solid #fff 1px;
}

.datePickerCalendar th:last-child {
	border-right: solid #fff 1px;
}

.datePickerCalendar td:last-child {
	border-right: solid #fff 1px;
}

.datePickerContainer {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.datePickerInner {
	background: #009999;
	width: 100%;
	float: left;
	position: relative;
	padding: 0 10% 0 10%;
	height: 250px;
}

.datePickerClose {
	background: url("../../images/datePicker/closeWhite.png")
		no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 4px;
	border: none;
}

.dateLeftScrollArrow {
	background:
		url("../../images/arrows/datePickerLeftArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	left: 0;
	border: none;
}

.dateRightScrollArrow {
	background:
		url("../../images/arrows/datePickerRightArrow.png")
		no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 43%;
	right: 0;
	border: none;
}

.datePickerScrollerWrapper {
	position: absolute;
	left: 10%;
	right: 10%;
	overflow: hidden;
}

.datePickerScroller {
	float: left;
	position: relative;
	width: 100%;
}

.datePickerTitle {
	text-align: left;
	color: #fff;
	padding: 0 5px 0 0;
}

.datePickerMonth {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
	line-height: 38px;
}

.datePickerYear {
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 25px;
}

.datePickerDate[data-active="true"] {
	text-align: left;
	color: #fff;
	cursor: pointer;
}

.datePickerDate[data-active="true"]:hover {
	color: #ffcc33;
}

.datePickerDate[data-selected="true"] {
	color: #ffcc33;
}

.datePickerDayLabel {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 15px 0 0 0;
	border-spacing: 0;
}

.datePickerWeekEndLabel {
	text-align: left;
	color: #000;
	font-weight: bold;
	padding: 20px 0 0 0;
	border-spacing: 0;
}

.datePickerDate {
	padding: 0;
	border-spacing: 0;
}

[data-dayName="Sat"][data-active="true"] {
	color: #c7c7c7;
}

[data-dayName="Sun"][data-active="true"] {
	color: #c7c7c7;
}

#datePicker {
	float: left;
	position: relative;
	cursor: pointer;
	font-weight: 200;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dateHeaderLabelWrapper{
	text-align: center;
}


.datePickerLabelTop {
	float: left;
	width: 100%;
	padding: 1px 0 4px 0;
}

.datePickerLabelBottom {
	float: left;
	width: 100%;
	padding: 3px 0 4px 0;
}

.datePickerCarat {
	content: '';
	position: absolute;
	right: 10px;
	top: 3px;
	z-index: 2;
	background: url("../../images/datePicker/calendarIcon.png")
		no-repeat center center #FF9900;
	width: 22px;
	height: 22px;
	left: -11px;
}

.datePickerSelected {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	padding: 6px 0px 6px 14px;
	border: 1px solid #81b4b4;
	background-color: #FFF;
	height: 65px;
	min-width: 90px;
}
@media only screen and (min-width : 904px) {

	/* 	
	Developer: Donovan
	Datepicker
	 */
	.datePickerMonthWrapper {
		float: left;
		width: 5.55%;
		font-size: 29px;
		line-height: 22px;
	}
	.dateLeftScrollArrow {
		background:
			url("../../images/arrows/datePickerLeftArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		left: 3%;
		border: none;
	}
	.dateRightScrollArrow {
		background:
			url("../../images/arrows/datePickerRightArrow.png")
			no-repeat center center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 43%;
		right: 3%;
		border: none;
	}
	.datePickerMonth {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
		line-height: 40px;
	}
	.datePickerYear {
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-size: 27px;
	}
	.datePickerInner {
		background: #009999;
		width: 100%;
		float: left;
		position: relative;
		padding: 0 10% 0 10%;
		height: 268px;
	}
	/* 	
	Developer: Donovan
	Datepicker END
	 */
}
/*HEADER + TOP TABS
	Developer: Mike Stott 
*/
/*
[data-role="headerContainer"] {
	position: relative;
	background: #f2f2f2;
}

#headerButtonsInner{height: 24px;overflow:hidden;}

#headerInner{position: relative;
	padding: 0px 0px 0px 24px;
	float: left;
	width: 100%;}

#topTabs {
	display: block;
	text-align: left;
	float:left;
	position: relative;
	width: 100%;
	left: 0;
	padding: 0px 0px 4px 0px;
		
}

/* Disabled styles */
.mainTabDisabled span{
	color: #DBDBDB;
}
.mainTabDisabled:hover{
	background: url('../../images/topTabDivider.png') right 8px no-repeat;
}
.mainTabDisabled.topTabSelected span{
	color: #DBDBDB;
}
.mainTabDisabled {
	pointer-events: none;
    cursor: default;
}

#menuWrapper {
	width: 100%;
	overflow: hidden;
	display:block;
	float:left;
	height:40px;
	/* Added by Don */
	position: relative;
	background: url('../../images/topTabsBottomBorder.png') repeat-x bottom center;
}

.mainTab {
	display: block;
	float:left;
	width: 10%;
	cursor: pointer;
	background: url('../../images/topTabDivider.png') right 8px no-repeat;
	text-decoration:none;
}

.mainTab:hover{
	background:#fbfbfb;
}

.mainTab.lastTab{
background: none;
}

.mainTab.lastTab:hover{
	background:#fbfbfb;
}

.mainTab span{
	border-collapse: collapse;
	border-spacing: 0;
	display:table-cell;
	height: 36px;
	width:100%;
	vertical-align: middle;
	color: #888;
	padding: 2px 0px 0px 8px;
	font-size: 12px;
	line-height:16px;
	
}

.mainTab.lastMainTab span{background:none;}

.topTabSelected span{
	color: #000;
}

.mainTab.lastMainTab {
	background: none;
}

#mainTabSlider {
	background: none repeat scroll 0 0 #92CAC9;
	position: absolute;
	height: 4px;
	bottom: 0px;
	left: 0;
}

.topTabScrollButton {
	height: 36px;
	width: 30px;
	border: none;
	position: absolute;
	top: 26px;
}

.topTabScrollButtonLeft {
	left: 0px;
	background: url('../../images/arrows/leftArrowGreySmall.png') top center no-repeat;
}

.topTabScrollButtonRight {
	right: 0px;
	background:
		url('../../images/arrows/rightArrowGreySmall.png') top
		right no-repeat;
}
		[data-role="mvnoCssSlidertableWrapper"]{
			margin-top: 12px;
			display: table;
			width: 100%;
		}	
		[data-role="sliderHeading"]{
			font-weight: bold;
			font-size: large;
		}	 

	

		[data-role="mvnoCssSliderContainer"]{
			margin-top: 5px;
			height: 11px;
			width: 100%;
			background-color: #D2E5E4;
			position: relative; 
			display: block;
		}

		[data-role="mvnoCssSliderProgress"]{
			position: absolute;
			height: 11px;
			background-color: #73C7C7;
			width: 75%;
		}

		[data-role="mvnoCssSliderTriangleWrapperUp"]{
			width: 0px;
			height: 0px;
			bottom: 11px;
			position: absolute;
			right: 0;
			border-style: solid;
			border-width: 0 0 11px 11px;
			border-color: transparent transparent #73C7C7 transparent;
		}

		[data-role="mvnoCssSliderTriangleWrapperDown"]{
			width: 0px;
			height: 0px;
			top: 11px;
			position: absolute;
			right: 0;
			border-style: solid;
			border-width: 0 11px 11px 0;
			border-color: transparent #73C7C7 transparent;
		}

		[data-role="mvnoCssContainer"]{
			width:100%;
			height: 100%;
			display:table-cell;
			vertical-align: middle;
			position: relative;
			/* border: thin blue solid;*/
			height: 25px;
		}

		[data-role="mvnoCssSliderCellLeft"]{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			display: block;
			width: 195px;
			height: 25px;
		}
		[data-role="mvnoCssSliderCellRight"]{
			position: absolute;
			right: 0;
			top:0;
			z-index: 4;
			display: block;
			width: 70px;
			padding: 0 0 0 2px;
		}
		[data-role="mvnoCssSliderCellMiddle"]{
			width: 100%;
			padding-left: 195px;
			padding-right: 70px;
			position: relative;
			height: 25px;
		}
		[data-role="mvnoCssSliderLabel"]{
			font-weight: bold;
			width: 40%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}
		[data-role="mvnoCssSliderDesc"]{
			font-weight: 400;
			width: 40%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}
		[data-role="mvnoCssSliderMin"]{
			font-weight: 400;
			width: 20%;
			float: left;
			display: block;
			text-align: center;
			position: relative;
		}

[data-role="mvnoCssSlidertableWrapper"]{
	display: table;
	width: 100%;
	margin: 2px 0px 1px 0;
	padding: 0px 8px 0px 0px;
} 
 

[data-role="mvnoCssSliderTableCell"]{
	display: table-cell;
	width: 100%;
	line-height: 20px;

	/* min-width: 210px; */
}
[data-role="mvnoCssSliderheading"]{
	margin-top: 15px;
	font-weight: bold;
	font-size: 14px;
	padding:  2px 0 2px 8px;
}


[data-role="mvnoCssSliderLabel"] {
	font-weight: 700;
	font-size: small;
	display: block;
	position: relative;
	float: left;
	text-align: right;
	z-index: 10;
	line-height: 24px;
	margin-left: 8px;
	color: #166c6e;
}
[data-role="mvnoCssSliderUsed"]{
	float: right;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
	font-size: small;
	line-height: 24px;
	margin-right: 2%;
} 
[data-role="mvnoCssSliderLeft"]{
	float: left;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
	font-size: small;
	line-height: 24px;
	margin-left: 5%;
}
.mvnoCssSliderProgressBar{
	position: absolute;
	display: block;
	height: 24px;
	background-color: #99d6d7;
	z-index: 5;
}
.mvnoCssSliderProgressContainer{
	display: absolute;
	position: relative;
	background-color: #ebebeb;
	left: 0;
	height: 24px;
	width: 100%;
	z-index: 5;
}
[data-role="mvnoCssSliderLabelContainer"]{
	width: 100%;
	overflow: hidden;
	height: 20px;
	display: block;
	float: left;
	z-index: 6;
}
[data-role="mvnoCssSliderContainer"]{
	margin: 4px 0 10px 0;
}
[data-role="pageMenuItem"][data-level="1"] {
	display: block;
	border-top: 1px solid black;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 0px 28px 4px 8px;
	text-decoration: none;
}
[data-role="pageMenuHeading"][data-level="1"] {
	display: block;
	border-top: 1px solid black;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 0px 28px 0px 8px;
	text-decoration: none;
}
[data-role="pageMenuItem"][data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 0 15px 0 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
}
[data-role="pageMenuHeading2"][data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 0 15px 4px 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
[data-role="pageMenuHeading2"][data-level="2"][data-state="inactive"] {
	background-image: url("../../images/pageMenu/pageMenuLevel2_inactive.png");
}
[data-role="pageMenuHeading2"][data-level="2"][data-state="active"] {
	background-image: url("../../images/pageMenu/pageMenuLevel2_active.png");
}
[data-role="pageMenuItem"][data-level="3"] {
	display: none;
	border-left: 4px solid white;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size:12px;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	text-decoration: none;
}
[data-role="pageMenuHeading2"][data-level="2"][data-state="inactive"] [data-role="pageMenuItem"][data-level="3"] {
	display: none;
}
[data-role="pageMenuHeading2"][data-level="2"][data-state="active"] [data-level="3"] {
	display: block;
}
[data-role="subMenu"] {
	background-color: #eed;
	overflow: hidden;
}
[data-role="subMenuInner"] {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 24px;
	background: #f2f2f2 url('../../images/frameLeftBorder.png') repeat-y left top;
}

[data-role="subMenuGroupsWrapper"] {
	width: 100%;
	height: 100%;
	display: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	background: transparent url("../../images/articles/pattern.png") top center repeat;
}


[data-role="subMenuGroupsWrapper"]{
	display: table;
}
[data-role="subMenuGroup"] {
	display: table-cell;
}
[data-role="subMenuSetsWrapper"] {
	display: block;
	width: 100%;;
	min-height: 280px;
}
[data-role="subMenuSets"] {
	display: table-row;
	width: 100%;
	height: 72px;
}
[data-role="subMenuSet"] {
	display: none;
	width: 100%;
/* 	background-color: white; */
} 
[data-role="subMenuSet"] {
	display: block;
}
[data-role="subMenuSetLinks"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	padding: 0 8px 8px 8px;
}
[data-role="subMenuSetLink"] {
	font-size: 11px;
	line-height: 16px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px;
	cursor: pointer;
}
[data-role="subMenuSetLink"][data-active="true"] {
	background-color: white;
	color: black;
	cursor: default;
}
[data-role="subMenuMenu"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	text-align: left;
	font-size: 22px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	padding: 0 8px 8px 8px;
}
[data-role="subMenuArticles"] {
	display: table-cell;
	width: 20%;
	vertical-align: bottom;
	font-size: 1.2em;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	padding: 0 0 6px 8px;
}
[data-role="subMenuItems"] {
	display: block;
	width: 100%;
	vertical-align: top;
/* 	border-top: 8px solid black; */
	background-color: white;
	border-bottom: 8px solid white;
} 
[data-role="subMenuItems"]:nth-child(n+4) {
}
[data-role="subMenuGroupsWrapperSetHeading"] {
	padding: 8px 8px 4px 7px;    
	font-family: Helvetica,FoundationRoman,Sans-serif;
}
[data-role="subMenu"] .subMenuItem {
	display: block;
	width: 100%;
	padding: 0 8px 4px 7px;    
	color: inherit;
	font-size: 0.8em;
	font-family: Helvetica,FoundationRoman,Sans-serif;
}

[data-role="subMenuGroupArticles"] {
	vertical-align: top;
	display: block;
	padding: 4px 0 0 0;
}
[data-role="subMenuAtricleWrapper"] {
	display: table;
	width: 100%;
}
[data-role="subMenu"] .subMenuAtricleNumber {
	display: none;
}

[data-role="subMenu"] [data-role="subMenuAtricleItem"] {
	display: table-cell;
	width: 100%;
	padding: 9px 16px 0px 8px;    
	color: inherit;
	font-size: 13px;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	vertical-align: top;
	line-height: 16px;
	text-decoration: none;
	background: transparent url("../../images/articles/article.png") top right no-repeat;
	background-color: white;
}
[data-role="subMenuAtricleWrapper"].first [data-role="subMenuAtricleItem"] {
	border-top: 8px solid black;
}
.subMenuItem[data-level="1"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 8px;
	text-decoration: none;
}
[data-role="subMenuHeading"][data-level="1"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-weight:600;
	font-size: 15px;
	line-height: 16px;
	padding: 3px 0px 0px 0px;
	margin: 0 8px 8px 8px;
	text-decoration: none;
}
.subMenuItem[data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 8px 15px 0 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
}
[data-role="subMenuHeading2"][data-level="2"] {
	display: block;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	margin: 8px 15px 4px 8px;
	background-position: right 4px;
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="inactive"] {
	background-image: url("../../images/subMenu/subMenuLevel2_inactive.png");
}
[data-role="subMenuHeading2"][data-level="2"][data-state="active"] {
	background-image: url("../../images/subMenu/subMenuLevel2_active.png");
}
.subMenuItem[data-level="3"] {
	display: none;
	border-left: 4px solid #cccccc;
	color: black;
	font-family: Helvetica,FoundationRoman,Sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 0 0 8px;
	margin: 0 15px 0 0;
	text-decoration: none;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="inactive"] .subMenuItem[data-level="3"] {
	display: none;
}
[data-role="subMenuHeading2"][data-level="2"][data-state="active"] [data-level="3"] {
	display: block;
}

@media only screen and (min-width : 904px) {
	[data-role="subMenuSetsWrapper"] {
		display: table;
		width: 100%;;
		min-height: 280px;
	}
	[data-role="subMenuSet"]{
		display: table-row;
	}
	[data-role="subMenuItems"] {
		display: table-cell;
		width: 20%;
		vertical-align: top;
		border-top: 8px solid black;
		background-color: white;
		border-bottom: 8px solid white;
	} 
	[data-role="subMenuHeading"][data-level="1"] {
		display: block;
		color: black;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		font-size: 15px;
		line-height: 16px;
		padding: 3px 0px 0px 0px;
		margin: 8px;
		text-decoration: none;
	}
	[data-role="subMenuGroupArticles"] {
		vertical-align: top;
		display: table-cell;
		padding: 4px 0 0 0;
	}
	[data-role="subMenuAtricleWrapper"] {
		display: table;
		width: 90%;
	}
	[data-role="subMenuAtricleWrapper"].last {
		height: 100%;
	}
	[data-role="subMenu"] .subMenuAtricleNumber {
		display: table-cell;
		padding: 12px 8px 0px 6px;
		color: inherit;
		font-size: 64px;
		font-family: Helvetica,FoundationRoman,Sans-serif;
		font-weight:600;
		line-height: 16px;
		min-width: 54px;
		text-align: center;
	}
	
}
/* Developer: Donovan */

#timeOut {
	color:#fff;
	font-size:13px;
}

#timeOut a{
	color:#fff;
	font-size:13px;
}

.timeOutWrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.timeOutInner {
	background: #009999;
	width: 100%;
	float: left;
	position: relative;
	height: 250px;
	color: white;
	padding: 16px 10%;
	text-align: center;
}

.clock {
	background: url("../../images/timeOut/clockBg.png") no-repeat center center transparent;
	height: 184px;
	width: 188px;
	position: relative;
	margin: 0 auto;
	font-size: 45px;
	line-height: 180px;
}
background: url("../../images/timeOut/clockBg.png") no-repeat center center transparent;

.timeOutText{
	font-size: 13px;
	line-height: 35px;
}

.timer {
	font-size: 50px;
	padding-top: 32%;
	
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.timeOutButtonsWrapper {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.timeOutClose, .timeOutContinue{
	margin: 10px;
	cursor:pointer;
}
